[2021-11-16 19:24] #8986 closed

[2021-11-16 19:32] kenorb commented on #10283
Ok, thanks. the issue has been found. Container which I was using was pointing to the wrong network.

[2021-11-16 20:47] amaurym opened #10560 "Bump cosmos.base.tendermint to v1 or v1beta2"
## Summary of Bug

Bumping to TM v0.35 introduced some proto-breaking changes. We should bump packages.

ref: https://github.com/cosmos/cosmos-sdk/pull/10210#discussion_r750170112

## Version

After https://github.com/cosmos/cosmos-sdk/pull/10210

## Steps to Reproduce

See related "Protobuf Breakage" failed CI: https://github.com/cosmos/cosmos-sdk/runs/4228974654?check_suite_focus=true

## Propos

[2021-11-16 20:48] #10443 closed

[2021-11-16 20:48] #10528 closed

[2021-11-17 00:03] conr2d commented on #10025
@marbar3778 Yes, if possible. Do you mean changing decoding address from state to unsafe decode?

[2021-11-17 03:19] ebuchman opened #10562 "docs: add a note on sources of non-determinism for module developers"
## Summary of Bug

The docs don't seem to clearly state the need to avoid sources of non-determinism and what those sources are.

See Thorchain's [recent issue](https://twitter.com/THORChain/status/1460457486687748103).

This is being somewhat addressed by a [new linting tool](https://github.com/informalsystems/gosec), but should be more clear in the docs

Note there is some [docs about this in Te

[2021-11-17 05:12] 0Tech opened #10563 "AllowedMsgAllowance does not subtract fees from `spend_limit`"
## Summary of Bug

AllowedMsgAllowance does not subtract the fees from `spend_limit`. The granter pays the fee correctly, and the module checks `spend_limit` so if the requested amount of fee is greater than the limit, it rejects the transaction. However, after the transaction, `spend_limit`, which should have been subtracted by the amount of fee, is intact.

## Version

v0.44.3

## Steps to Repro

[2021-11-17 09:02] ethanfrey commented on #10318
I'm a bit confused.

I wrote this code and tested it in the original upgrade handler in 2019. I thought this was still there.

The old binary would die if it started too late. New binary would die if it started too soon.
Or is this a different issue?

[2021-11-17 09:02] ethanfrey commented on #10318
InitChainer is only called once at genesis, not when restarting

[2021-11-17 10:48] blushi opened #10565 "Update "Group Account" naming to "Group Policy" in x/group"
## Summary

As discussed during our gov / groups WG call, let's rename group account to group policy cc/ @aaronc @hxrts

## Problem Definition

In `x/group`, we have groups which hold membership info (addresses and associated weights) and group accounts which associate a given group with a decision policy. It was originally called group account because only a group account has an account address (

[2021-11-17 12:46] blushi opened #10566 "Implement query groups by member address"
## Summary

Add a new endpoint to `x/group` query service to query groups by member address.

## Problem Definition

We currently don't have such a query (only query group by admin address) and this could be useful for users to see all the groups they are part of as members.

## Proposal

We already have an index `groupMemberByMemberIndex` that could be used for implementing this query.

____

###

[2021-11-17 14:29] alexanderbez commented on #10535
(1) It returns an error code in addition to a messsage.
(2) The REST API endpoint is deprecated and will not work, unless you mean the gRPC HTTP Gateway route?
(3) I doubt that as we have tests and clients using the gRPC Gateway API endpoint to submits txs (e.g. the Keplr wallet)

[2021-11-17 17:00] rami-dabain commented on #10535
Hi Alexander,
Thanks for taking some time looking into this, the lack of up-to-date documentation is frustrating and it seems that you are not reading the whole issue as for #2 I have provided a URL multiple times which would have answered your question.

I will close this issue and "again" try examples from your official documentation @ https://docs.cosmos.network/master/run-node/txs.html#program

[2021-11-17 17:49] ValarDragon opened #10567 "Reduce CLI query boilerplate"
## Summary

CLI queries have many boilerplate lines of code. This makes it a pain to read, review and write CLI queries. This issue proposes a simple API wrapper to reduce number of lines in all of these queries by half, and makes CLI code much easier to write & review.

## Problem Definition

Every CLI query that lists many results effectively starts with:
[code]

Each of these three parameters i

[2021-11-17 23:41] alexanderbez commented on #10567
ACK

[2021-11-18 05:51] danil-lashin opened #10568 "Concurrent map read and map write in GRPC server"
## Summary of Bug

`Concurrent map read and map write` sometimes kills application when accessing GRPC server. Related to #8591, #8549

[code]

## Version

github.com/cosmos/cosmos-sdk v0.44.3
____

## For Admin Use

- [ ] Not duplicate issue
- [ ] Appropriate labels applied
- [ ] Appropriate contributors tagged
- [ ] Contributor assigned/self-assigned

[2021-11-18 06:05] marbar3778 commented on #10568
Version exists is a read mutex but it seems to mutate state. We will need to change it to a mutex.

[2021-11-18 12:00] puneetsingh166 opened #10569 "Jailed/Unbond validator"
Hi please help regarding this issue which we are currently facing. While setup chain with one, two, three and four validators.
There are four different Senorio which are mentioned below.
I have established four chains-
``` Chain 1 ``` - voting Power ``` 1000000``` with single validator.
```Chain 2``` -``` 999``` voting power for the first val and ```100``` for the second val.
```Chain 3``` - ```10

[2021-11-18 12:04] puneetsingh166 commented on #10569
Please help @alexanderbez @marbar3778

[2021-11-18 15:14] alexanderbez commented on #10569
You will only be jailed if you double sign or miss enough blocks. The former you can tell if the validator is tombstoned. Regardless, there are slashing events that will tell you why it was jailed. I suggest you query for those events. You can look at the slashing spec for all possible events.

[2021-11-18 17:09] robert-zaremba opened #10571 "move scripts to the new cosmos repository"
Related to: #10520
Repository: https://github.com/cosmos/qa-integration

[2021-11-18 17:12] odeke-em opened #10572 "qa: add informalsystems/gosec static analysis passes to be a part of the build process."
A while ago we got bit by non-deterministic map iterations which caused issues in upgrades. Later on an issue with `time.Now()` usage in state machine was reported. @ebuchman took a stand that we need a proper static analyzers to disallow non-deterministic code. Another chain got finessed by non-deterministic map iteration and we made the announcement of our collaboration per https://twitter.com/i

[2021-11-18 17:23] robert-zaremba opened #10574 "Create Group Module Acceptance Tests"
## Summary

In the group module we need acceptance tests to help with review and run the QA.

Related to: https://github.com/cosmos/cosmos-sdk/pull/10534

____

#### For Admin Use

- [x] Not duplicate issue
- [x] Appropriate labels applied
- [x] Appropriate contributors tagged
- [x] Contributor assigned/self-assigned

[2021-11-18 17:24] robert-zaremba commented on #10574
cc: @blushi , @clevinson, @likhita809

[2021-11-18 19:39] robert-zaremba opened #10575 "Test upgrade with migrations on a network level"
## Summary

This is a functional test, using the network provisioning scripts #10571.

Pre-requirements
* a dump of a network at height `V`.

Steps:
* update the dump to change the validator set
* Provision a network and deploy an app at height `V`.
* Load the dump (genesis)?
* Prepare an app at version `V+n`. (n can be a parameter, by default let's say it's 100?)
* Prepare an upgrade & vote for t

[2021-11-18 19:54] robert-zaremba commented on #10427
Thanks for the update. We will move this tests into https://github.com/cosmos/qa-integration

[2021-11-18 19:57] #10531 closed

[2021-11-18 19:58] robert-zaremba commented on #10428
Indeed we were missing Info in the dumped file. This is in master but was not there in `0.44.x`. We have backported it in #10532  and will be a part of the next release.

[2021-11-18 19:58] #10428 closed

[2021-11-18 20:06] dwedul-figure commented on #10533
There is an `UNSAFE_SKIP_BACKUP` env var for making Cosmovisor skip the backup step. So a panic is the right thing to do. Simply ignoring a backup error can easily lead to an unrecoverable situation.

The backup can't really happen early for a couple reasons. First, currently there isn't a mechanism in Cosmovisor to identify when an upgrade is coming up; it just waits for an indication that the ch

[2021-11-18 20:16] nickray opened #10577 "Why does sdk.Context contain txBytes and not a decoded Tx?"
I am working on an extension of BaseAccount, where one account can have multiple associated authenticators, of varying security levels (e.g. SSH signature without trusted display vs Ledger device).

For this, in the message handlers it would be nice to access information on which authenticator signed, which would be in the decoded `Tx`. However, only the `txBytes` are available in the `sdk.Context

[2021-11-18 21:29] robert-zaremba commented on #10567
yeah, we already merged the most common pattern in https://github.com/cosmos/cosmos-sdk/pull/8155
We should simplify it further as you suggested!

[2021-11-18 22:33] robert-zaremba commented on #10329
Thank you @tomtau
Closed by  #10488

[2021-11-18 22:33] #10329 closed

[2021-11-19 00:05] robert-zaremba commented on #10318
Currently, the first case holds, the latter doesn't. I don't know what changed. @ethanfrey  what was your original solution?

[2021-11-19 06:03] anilCSE commented on #10318
@robert-zaremba I think it's vice-versa. It always fails if we start new binary early. If we start old-binary at the time of upgrade also it fails. But after the upgrade if we start old binary, as there's no active plan, it tries to produce blocks and thus creating consensus failures iiuc

[2021-11-19 08:29] ethanfrey commented on #10318
You can read https://medium.com/regen-network/amazonas-upgrade-guide-b31e9e18e0be

When running this in testnets 2 years ago, I had to handle both cases, to avoid operator error.

If you find the binary used for that upgrade and the regen/cosmos-sdk code used at that time, you can find my solution (which was 0.37/0.38 compatible)

[2021-11-19 13:28] puneetsingh166 commented on #10569
HI @alexanderbez Thanks for your valuable response . Yes, there can be serval events/causes to get jailed of the validator such as double sign , Downtime  as you mentioned . But strange thing is when our chain run with single validator our chain gets stuck at exact block height ```10002 ``` every time and when our chain run with more than one validators then stuck at block height```20003```  every

[2021-11-19 14:46] alexanderbez commented on #10569
No I can't think of anything. When you say "stuck", what do you mean exactly? The node crashes? There's a panic? What happens exactly?

[2021-11-19 15:40] clevinson commented on #10014
From @iramiller during our architecture review call today - most of this can be taken care of with decision policy (in the upcoming gov/group module alignment work).

The only remaining issue is that all stakers can not vote on groups right now, but the work that is in #9438 gets him what he was looking for.

[2021-11-19 15:40] #10014 closed

[2021-11-19 16:03] ValarDragon opened #10580 "Backport Tendermint v0.35.x to SDK v0.44 release branch"
## Summary

On the SDK call today, we talked about backporting Tendermint v0.35.x into the SDK v0.44.x release line. (And maybe we need to tag this as SDK v0.45)

As shown in #10210 there is a lot of changes here. Doing this is mainly blocked on someone spending the time to produce the rebase. Should also backport PR that fixes #9962

## Problem Definition

Prioritized mempool helps alot with TX f

[2021-11-19 17:35] #10450 closed

[2021-11-19 17:44] robert-zaremba opened #10583 "ADR for x/upgrade Upgrade Plan"
Ref:  #10047

[2021-11-19 17:51] robert-zaremba commented on #9670
Update: this task will require the proper upgrade Plan verification before asserting checksum. So it's on hold until https://github.com/cosmos/cosmos-sdk/issues/10047 is done.

[2021-11-19 20:20] alexanderbez commented on #10580
Wouldn't introducing TM v0.35 into SDK v0.44 technically be a breaking change? Specifically, there are numerous APIs in TM that changed or were removed outright and as a result things changed in the SDK to accommodate that.

[2021-11-19 20:33] aaronc commented on #10580
It would need to be 0.45. But we can still do that in a backport way if needed.

[2021-11-19 22:10] ValarDragon opened #10585 "Upgrades for new modules: Why do you need to read from disk"
In the adding new modules docs for an upgrade https://github.com/cosmos/cosmos-sdk/blob/994219a4d2f467a0bd628d60d8670c1102edbe88/docs/core/upgrade.md#adding-new-modules-during-upgrades, the code snippet is:
[code]

Why is the state machine reading from a file on disk though? This should be considered a bug imo, since that file is in a spot users are pretty liable to edit. State machine upgrades sh

[2021-11-20 04:00] aaronc commented on #10585
The multi store is basically outside the state machine. It needs to be migrated before the state machine can even start

[2021-11-20 05:45] ValarDragon commented on #10585
Just to make sure I understand, the alternative to the current approach would be to:
* load a part of the state machine
* detect if we're at an upgrade height
* close state machine
* update multi-store
* reload state machine

And this is just a lot more overhead, so we go with the current method?

[2021-11-20 09:32] #1714 closed

[2021-11-20 12:38] puneetsingh166 commented on #10569
Hi @alexanderbez stuck means that the block height of the chain is not increasing after a certain amount of time. In my case the height of the block is not increasing after `10002`.

[2021-11-20 19:37] robert-zaremba commented on #10446
What kind of tags do you have in mind?

[2021-11-21 08:01] ValarDragon opened #10588 "Give each module a top-level README"
## Summary

Despite having worked on the cosmos stack for years now, I still find it jarring that when I go to a module folder such as [x/authz](https://github.com/cosmos/cosmos-sdk/tree/master/x/authz) there is no README.

IMO, there should be a README with a minimal TL;DR, and an index to other links to go read different types of documentation for that module. (E.g. ADRs, spec folder, other docs

[2021-11-22 08:27] cmwaters opened #10590 "authz: if grantee doesn't exist, should create account"
## Summary

If the grantee of an authorization doesn't exist, create a new account.

## Problem Definition

I was playing with the new `authz` module. Specifically, I wanted to create a new account and give it access to vote on behalf of my main account. The authorization worked fine but when I tried to send a vote message with my new account, I couldn't because the account didn't exist. Instead I

[2021-11-22 08:33] cmwaters commented on #10590
Ah it seems like we do a similar thing with `feegrant`

[code]

[2021-11-22 08:44] roysc commented on #9816
Rough estimates for remaining work:
- state sync - 20h
- app wiring - 5h
- low level access - depends on design, maybe 10h
- migration command - 20h
- store/v1 backwards compatibility - 20h
- key prefix compression - 5h

[2021-11-22 13:30] robert-zaremba commented on #9816
Thanks @roysc . Could you translate it to the effective weeks of work?

[2021-11-22 13:52] aaronc commented on #10585
Yeah I think that would be pretty hard. If it weren't we would have done it that way. But maybe you know a solution? The SMT multi store won't have this limitation btw.

[2021-11-22 14:32] alexanderbez commented on #10590
Creating an account is fine IMO. Also, an account doesn't need a non-zero balance to exist 👍

[2021-11-22 14:56] ValarDragon commented on #10585
This makes sense! Would be nice for their to be a comment in the code / list of where the upgrade-info is. (This is presumably not the same upgrade-info as is used for cosmovisor, right? The cosmovisor one only gets emitted when you use the version off of cosmovisor v1.0 is my understanding, and won't get emitted in the one used for SDK v0.42.x chains)

[2021-11-22 15:04] aaronc commented on #10585
Umm I forget. @robert-zaremba ?

[2021-11-22 18:35] Terra854 commented on #10540
Are there any plans for what to do with validators whose max commission is below a given MinCommission?

[2021-11-22 19:05] aaronc commented on #10540
This depends on #9438. We should probably have an option that governance sets as to whether to grandfather commissions below the minimum commission or to set them to the minimum.

[2021-11-22 19:48] RiccardoM opened #10591 "Upgrading to v0.44 breaks vested accounts"
## Summary of Bug
Upgrading a chain to `v0.44` breaks all the vested accounts that delegated some tokens.

## Version
`v0.44.3`

## Steps to Reproduce
1. Run a chain using `v0.42.9` that has some vested accounts
2. Delegate some tokens using the vested accounts.
3 Perform an on-chain upgrade to `v0.44.3`
4. Try performing an operation using the vested accounts

All the vested accounts will now be

[2021-11-22 19:57] aaronc commented on #10591
@amaurym can you take a look at this?

[2021-11-22 20:10] alexanderbez commented on #10591
The summary sounds correct. Good work @RiccardoM. It's not clear to me why we didn't address the concern raised in https://github.com/cosmos/cosmos-sdk/pull/10189#issuecomment-927635343? Do you know why?

[2021-11-22 20:20] RiccardoM commented on #10591
If you are asking me, honestly I have no clue. Maybe it was too complicated or overlooked by error?
Anyway this could be also solved by forcing the `x/staking` module to be set before the `x/auth` module inside the `OrderInitGenesis` of the application so that before performing the upgrade:
1. search the `x/staking` index inside the `OrderInitGenesis` slice
2. search the `x/auth` index inside the

[2021-11-23 10:17] marbar3778 commented on #10580
Tendermint has a few changes that need to be implemented and taken into consideration. For ed25519 changes it is recommended to do a coordinated upgrade, otherwise there are edge cases that can cause problems. There was also a db key migration, users would need to migrate all keys in order to use 0.35 with 0.44. All in all, it is possible, but not recommended for live chains.

[2021-11-23 12:23] marbar3778 commented on #10023
seems the issue is still present.

[2021-11-23 12:25] marbar3778 commented on #9985
closed via https://github.com/cosmos/cosmos-sdk/pull/8221

[2021-11-23 12:26] marbar3778 commented on #9985
whoops this was the last time we had the issue.

[2021-11-23 12:39] marbar3778 commented on #9764
IBC is now in a separate repo. closing this

[2021-11-23 12:39] #9764 closed

[2021-11-23 12:41] marbar3778 commented on #9234
closing in favour of https://github.com/cosmos/cosmos-sdk/issues/10352

[2021-11-23 12:41] #9234 closed

[2021-11-23 12:42] marbar3778 commented on #8952
@fdymylja should we see about including this in 0.45?

[2021-11-23 14:43] aaronc commented on #8952
I think any usages of jsontag should go ASAP

[2021-11-23 15:54] khdegraaf opened #10596 "I tried to report a security issue"
But it looks like your security policy is out of date, your HackerOne account isn't active anymore, and no one is responding at security@tendermint.com.  Can anyone comment on how to proceed here, would like to get your feedback on the issue ASAP.

[2021-11-23 16:50] ValarDragon commented on #10580
Ah didn't realize there was a db migration needed

[2021-11-23 23:30] alexanderbez commented on #10591
We've already addressed the fix for chains that are about to upgrade. E.g.: https://github.com/cosmos/gaia/blob/0dd70958a10b24703c09c43745611779f0e7970f/app/app.go#L572-L593

However, this is still alarming due to the nature of how fragile these upgrades are in terms of order of operations. A trivial approach would be to allow developers to state what order they want the migrations to happen in (p

[2021-11-24 09:57] amaurym commented on #10591
I remember having no strong intuition/understanding on which one between `auth` and `staking` should go first. The correct approach IMO is to refactor x/vesting to remove the cyclic dependency between staking and auth (and bank).

Anyways, for a quick fix, I can think of 2 solutions:
1. always run auth last. It can be done [here](https://github.com/cosmos/cosmos-sdk/blob/36651b03be923c37340cdbaf56

[2021-11-24 10:43] robert-zaremba commented on #10591
On Monday I was discussing to add change the migration map and add a priority parameter. Map is good because it allows easily to self register the modules.

[2021-11-24 10:51] robert-zaremba commented on #10580
yeah, this is what we were talking during the last Friday: breaking changes can't go into 0.44.
The discussed alternative (0.45 only with new tendermint) might not be better. Mempool prioritization currently requires requires middleware work we did in `master` and that was also a substantial rework. IMHO it would be better to focus on releasing 0.45 earlier than latter and freezing features soon.

[2021-11-24 11:17] robert-zaremba opened #10604 "Support migration ordering for in place migration"
## Summary

When designing in-place migration we assumed that module migrations will be independent, which turns to be a false assumption.

## Problem Definition

In Cosmos SDK, auth has to be migrated before staking, even though auth depends on staking. It was reported that other chains run into problems when testing migrations. So we need a general solution for

## Proposal

On of:
1. In `RunMig

[2021-11-24 11:18] robert-zaremba commented on #10560
What's the goal and advantage of keeping "beta"?

[2021-11-24 11:37] robert-zaremba opened #10605 "Move vesting accunt out of x/auth"
## Summary

As we know, x/auth is overloaded. It's primary functionality should be account authentication. But it contains much more.

## Problem Definition

Recently we had a problem with x/auth migration where vesting account were vanished: https://github.com/cosmos/cosmos-sdk/issues/10591

## Proposal

Move vesting account feature from x/auth to x/vesting and enable more feature development in

[2021-11-24 11:37] robert-zaremba commented on #10605
cc: @amaurym , @aaronc

[2021-11-24 11:38] robert-zaremba opened #10606 "In place migration: auth must be migrated after staking"
## Summary of Bug

If auth is migrated before staking, then the vested accounts won't be migrated correctly and be vanished. Solutions:

* hacky: https://github.com/cosmos/gaia/pull/1077/files
* enforce right order in the `RunMigrations`.

This issue will target 0.44 only. For 0.45 / master we https://github.com/cosmos/cosmos-sdk/issues/10604

Ref:
* https://github.com/cosmos/cosmos-sdk/pull/10189

[2021-11-24 11:42] robert-zaremba commented on #10606
After a chat with @amaurym  we are rather thinking about enforcing an order in https://github.com/cosmos/cosmos-sdk/blob/v0.44.3/types/module/module.go#L403 rather than doing a hack.

[2021-11-24 11:44] robert-zaremba commented on #10591
Here is a list of tasks we are planning to do now:

1. (this issue) see if we need to recover the vested accounts. Do we need to provide any support to this? @RiccardoM  this bug happened in your testnet only?
2. fix: https://github.com/cosmos/cosmos-sdk/issues/10606
3. https://github.com/cosmos/cosmos-sdk/issues/10604

[2021-11-24 11:48] amaurym commented on #10560
One thing I can think of is that `TxResponse.tx` is an Any, but we can change it ideally to a Tx proto def (see #10347)

https://github.com/cosmos/cosmos-sdk/blob/60483cd2bfd566622eef50db815d522a15f14d69/proto/cosmos/base/abci/v1beta1/abci.proto#L36-L37

But changing this requires a bigger refactor. Maybe v1beta2 can be a stepping stone.

[2021-11-24 11:56] amaurym commented on #10605
duplicate #9958 ? We can close that one though, because this one has a description.

[2021-11-24 13:02] RiccardoM commented on #10591
No, it happened inside our **mainnet** which caused 289 investors having their accounts locked. I have already found out how to solve it though.

[2021-11-24 13:05] marbar3778 commented on #10560
Second to this what are your thought in generating Tendermint proto files in the sdk. The reason being Tendermint doesn't version the proto files so we could in the sdk?

[2021-11-24 15:48] robert-zaremba commented on #10591
@RiccardoM ouch, sorry for that :(
Could you share the solution?

I was thinking about a migration function which will query an old state and recreate the accounts.

[2021-11-24 16:01] aaronc commented on #10560
So this on one hand this could cause problems https://developers.google.com/protocol-buffers/docs/reference/go/faq#namespace-conflict. But, I do believe that the golang and gogo proto type registries are totally separate (thought I haven't confirmed this). So in theory we _can_ the same proto types with different golang and gogo proto generated code in the same binary. So maybe if we generated the

[2021-11-24 18:04] aaronc commented on #10560
So I looked into this a bit. There are just a few dependencies on tendermint right. I think I agree with your proposal now @marbar3778. I think we just need to attach a version to the tendermint packages and we manage those ourselves which I think is what you're suggesting. How about `tendermint.v0_35`, etc? Then we can do codegen ourselves and get everything working nicely with the schema registr

[2021-11-24 18:31] #10580 closed

[2021-11-24 18:43] marbar3778 commented on #10560
yea!! this is what i meant!! I can help with this.

[2021-11-24 18:50] aaronc commented on #10560
awesome thanks! so some proto files from third_party can just be deleted like the confio/ics23 stuff which the sdk no longer uses. and of course the tm stuff would then leave third_party and go in `proto/` directly.

[2021-11-24 18:51] marbar3778 commented on #6541
closing in favour of https://github.com/cosmos/cosmos-sdk/issues/10560#issuecomment-978139242

[2021-11-24 18:51] #6541 closed

[2021-11-24 21:59] #10577 closed

[2021-11-24 23:05] robert-zaremba commented on #10588
The information about each module is in `x/modulename/spec`. Maybe we can have a README with only a title and link to the spec + one short sentence about the module?

[2021-11-25 09:31] RichMercer opened #10609 ".NET 6 DateOnly Property Not Deserialized Correctly"
## Summary of Bug

When using `container.ReadItemAsync<T>()` to fetch an object with a DateOnly property, the property has a value of 01/01/0001. Looking a the document directly in Data Explorer the property is serialized as follow:

[code]

It seems it's unable to deserialize this property correctly when fetching.

## Version

v3.23.0

## Steps to Reproduce

[code]
Expected: 30/05/2020
Actual: 01

[2021-11-25 09:52] #10609 closed

[2021-11-25 10:03] amaurym commented on #10264
With the new AuxTxBuilder, any ideas on how to create a nice CLI UX for aux signers?

Currently I'm leaning towards:

### Proposal : Add an `--aux` flag to all tx commands

Example:
[code]

This will print the AuxSignerData as JSON.

Pros:
- Small code changes

Cons:
- We put flags that can't overlap under the same command. If we have `--aux`, then `--fees`, `--broadcast-mode`, `--generate-only` e

[2021-11-25 10:21] amaurym opened #10610 "TxDecoder as Middleware"
## Summary

Refactor tx decoding logic as a TxDecoderMiddleware. ref: https://github.com/cosmos/cosmos-sdk/issues/10484#issuecomment-970441682

## Problem Definition

With the BaseApp middleware refactor (#9996), BaseApp should be as slim as possible.

Currently, BaseApp still does tx decoding (see its private `txDecoder` field). We can move this logic into a middleware

## Proposal

Create a TxDe

[2021-11-25 11:18] robert-zaremba commented on #10606
closed by: https://github.com/cosmos/cosmos-sdk/pull/10608

[2021-11-25 11:18] #10606 closed

[2021-11-25 11:19] robert-zaremba commented on #10591
Closed by: https://github.com/cosmos/cosmos-sdk/pull/10608

@RiccardoM please reopen if you need support to this issue.

[2021-11-25 11:19] #10591 closed

[2021-11-25 14:11] cmwaters opened #10611 "authz: unable to execute authorization because it doesn't exist"
## Problem Definition

I am trying to grant authorization to execute a message. When I set up the authorization, I can query it and see that it is there:
[code]
However when I send a `MsgExec` message I get the following error:
[code]
(note, I've extended the error message to add some more context)

More so, If I run the same query with a specific message type url, I also get an error:
[code]

I'm

[2021-11-25 15:34] cmwaters commented on #10611
Okay I worked out what was happening. When I was creating these authorizations, I wasn't setting an expiration date (I'm not sure if they are mandatory or not but I didn't want mine to have an expiration). So when `GetCleanAuthorization` was called it was fetching the grant and then realizing that it's expiration time was zero which is less than the current time so it removed the authorization. Fo

[2021-11-25 20:00] jhernandezb commented on #10611
Expired authorizations are not pruned see https://github.com/cosmos/cosmos-sdk/issues/8311

[2021-11-25 22:47] robert-zaremba commented on #10533
+1, user wants a backup, so if the backup is not done the safest option is to stop.

[2021-11-25 23:07] robert-zaremba commented on #10605
Thanks, I will close this one and move documentation to the #9958

[2021-11-25 23:07] #10605 closed

[2021-11-26 06:43] RiccardoM commented on #10591
@robert-zaremba Recovery it's as simple as re-running the `v043.MigrateAccount` method (see [here](https://github.com/desmos-labs/desmos/blob/master/x/profiles/keeper/migrations.go#L64). I think you should change the release notes from:

to

[2021-11-26 06:45] Vritra4 opened #10618 "Events for failed transactions"
## Summary of Bug

- Events for failed transactions are empty although there's some fees paid.

## Problem Definition

### for failed transactions

Successful transactions have events about fee.
But failed transactions like below are have no events although there's some fees paid.
I think failed transactions also should have events about fee.

[code]

## Version

v0.44.2

## Steps to Reproduce

1.

[2021-11-26 09:50] marbar3778 commented on #10618
DOnt see why a reason not to do this, would you be open to submitting a PR?

[2021-11-26 10:16] gsk967 opened #10619 "Unable to start the Chain"
## Summary of Bug
Chain is not starting in latest master branch
https://pastebin.com/yHvSdDWY

## Version
master

7441bdc86eb9dffc00f10778a1b804353d8d4639
## Steps to Reproduce
[code]

____

## For Admin Use

- [ ] Not duplicate issue
- [ ] Appropriate labels applied
- [ ] Appropriate contributors tagged
- [ ] Contributor assigned/self-assigned

[2021-11-26 13:46] fedekunze opened #10624 "`can't proto marshal <nil>` error on `submit-proposal` cmd"
## Summary of Bug

When using the CLI to submit a proposal, it prints this error:

`Error: invalid message: can't proto marshal <nil>`

## Version

v0.44.x

## Steps to Reproduce

- Install `simd` via `make install`
- Try

[code]

____

## For Admin Use

- [ ] Not duplicate issue
- [ ] Appropriate labels applied
- [ ] Appropriate contributors tagged
- [ ] Contributor assigned/self-assigned

[2021-11-26 15:48] askolesov opened #10626 "Can't set `fee-payer` both in `context` and `cli`."
## Summary of Bug

It's impossible to set `fee-payer` both in `context` and `cli`. This field is required when a transaction doesn't have explicit signers deducted from messages so it's impossible to submit such a transaction using `cli`.

## Version

v0.44.3

## Steps to Reproduce

Not appliable

____

## For Admin Use

- [ ] Not duplicate issue
- [ ] Appropriate labels applied
- [ ] Appropriate

[2021-11-26 16:44] barriebyron opened #10627 "authz events doc link to Protobuf reference gets a 404"
## Summary of Bug

the doc at https://docs.cosmos.network/master/modules/authz/04_events.html#events

links out to Protobuf reference but gets a 404

the target page at https://docs.cosmos.network/master/docs/core/proto-docs.html#cosmos/authz/v1beta1/event.proto

Page Not Found
The page you visited either does not exist or has been moved. We're sorry for the inconvenience.
Back to home
## Version

[2021-11-27 01:10] alexanderbez commented on #10618
This is because we do not return an `*sdk.Result` if `runMsgs` fails. Returning events for a failed tx would break the non-nil semantics of `*sdk.Result` here. Not say this _can't_ be done, but rather it _wasn't_ done on purpose.

[2021-11-27 17:46] pdini commented on #10267
Just installed Monterey and updated Xcode. I am getting a similar error with the blog tutorial:

Cosmos SDK's version is: stargate - v0.44.0
🛠️  Building proto...
📦 Installing dependencies...
🛠️  Building the blockchain...
cannot build app:
	error while running command go: # github.com/keybase/go-keychain
cgo-gcc-prolog:203:11: warning: 'SecTrustedApplicationCreateFromPath' is deprecated: first de

[2021-11-29 01:40] Muggle-Du commented on #9816
Hi @roysc , is it possible or convenient for me to help with some of the above remaining works like testing?

[2021-11-29 04:59] Muggle-Du commented on #10624
I will work on this

[2021-11-29 06:02] roysc commented on #9816
I think we are at a point where benchmarks would be helpful (https://github.com/cosmos/cosmos-sdk/issues/10297). It would also be good to have integration tests covering the IBC `UpgradeClient` procedure with a change in the proof spec if you are familiar with that.

[2021-11-29 08:00] YunSuk-Yeo commented on #10618
The purpose of this is for rosetta `reconciliation` test.

It requires to track whole tx balance changes including failed txs, which still spending fee but there is no tx events left. Due to absent of event logs, this `reconciliation` test continually failed when the account has failed tx.

[2021-11-29 08:50] Muggle-Du commented on #10624
Is this owing to some other flags being not specified?
like --type and so on

[2021-11-29 12:05] #10627 closed

[2021-11-29 14:10] alexanderbez commented on #10618
Yes, I totally understand the motivation -- I'm just stating why it wasn't done. Returning events as a separate value works, albeit I don't think it's the cleanest solution, but it works.

[2021-11-29 14:52] Muggle-Du commented on #9816
I think I could try to start with benchmarks by doing some investigation.

[2021-11-30 09:06] #10500 closed

[2021-11-30 09:54] fedekunze commented on #8365
we def need this feature for Evmos, I just realized that the power reduction is hardcoded on the staking module and wanted to know timelines for this feature

[2021-11-30 10:21] fedekunze commented on #8365
it would be relevant to test overflows with `MaxTotalVotingPower` on Tendermint https://github.com/tendermint/tendermint/blob/master/types/validator_set.go#L25

[2021-11-30 11:48] amaurym commented on #10496
Currently the way we're working towards in #10527 is to have the ABCI data field be the proto-bytes of:

[code]

However, if we want to decode this, then this `Any` needs to have its own interface, so that the registry call call RegisterInterface. Module developers also need to call `RegisterImplementations` on all their Msg*Response types.

Any thoughts on this? Is that too much burden for module

[2021-11-30 14:14] alexanderbez commented on #8365
Feel free to submit a PR @fedekunze. The work is non-trivial. You can't simply make the value a param. In fact, we've already tried. You'll need to execute logic post-param-change that updates all validator powers in state.

[2021-11-30 15:29] #10277 closed

[2021-11-30 18:50] crussell-figure commented on #10618
Doesnt this get addressed via https://github.com/cosmos/cosmos-sdk/pull/10630?

[2021-11-30 19:02] alexanderbez commented on #10618
No, #10630 add Events to the response type -- this has the effect of including both message-related events and non-message related events (i.e. ante-handler).

This PR supports including events for _failed_ txs.

[2021-11-30 19:16] crussell-figure commented on #10618
Ahh, that makes sense.

[2021-12-01 05:48] gsk967 commented on #10619
To Start the chain we need to pass `--mode validator` to start cmd
[code]

[2021-12-01 05:48] #10619 closed

[2021-12-01 10:30] marbar3778 commented on #10596
Hey sorry for the delay. Yes please report your issue to https://hackerone.com/cosmos. We will triage is asap.

[2021-12-01 10:59] marbar3778 commented on #8720
@faddat I believe you have done this already on a few chains, do you think we still need to do something in the sdk?

[2021-12-01 11:47] #10626 closed

[2021-12-01 13:49] amaurym commented on #10347
Let's wait for this. It's too big a refactor, and not worth it for 0.45. ref: https://github.com/cosmos/cosmos-sdk/pull/10480#issuecomment-963205811

[2021-12-01 14:02] amaurym opened #10650 "Move `sdk.Msg` and other TX stuff to `types/tx`"
## Summary

Move tx-related interfaces, structs and functions from `sdk` to `types/tx`.

ref: https://github.com/cosmos/cosmos-sdk/pull/10527#discussion_r760189992

## Problem Definition

We use `sdk.Msg` everywhere, but it's probably a better idea to put it in the `types/tx` package, to unclutter `sdk`.

## Proposal

- Remove `sdk.Tx`, `sdk.FeeTx`, `sdk.MemoTx` etc, see #10347
- Move functions/in

[2021-12-01 14:18] marbar3778 commented on #10263
Ill try to fork into cosmos, I think it makes the most sense

[2021-12-01 14:32] marbar3778 commented on #10263
it has been forked. @roysc want to move over your changes?

[2021-12-01 14:46] aaronc commented on #10650
Well I have a separate proposal to get rid of `sdk.Msg`: https://github.com/cosmos/cosmos-sdk/discussions/10368.

For the other stuff, my preference would be a new `tx/` go module rather than `types/tx` where all the tx stuff including what's in `x/auth/tx`. But maybe this is a larger disussion.

What I propose for `sdk.Msg` is to make `ValidateBasic` a generic thing and then have a proto field op

[2021-12-01 15:08] robert-zaremba opened #10651 "Add a flag to enable rocksdb tests"
## Problem Definition

Currently `make test` will try to test everything in `/db`, but `rocksdb` will require additional dependency: the `rocksdb-dev` (headers) and it could be confusing to people who are running tests and see it failing. We need better reporting.

## Proposal

- [ ] Add an environment flag which will:
  + be false by default
  + when false, the rocks db tests will be skipped and

[2021-12-01 15:17] amaurym commented on #10650
Ah right. This issue was created initially as a follow-up in a PR review. Maybe let's close this for now, and create new issues once the larger proposal has been defined and accepted? Are you okay with that @fdymylja ?

[2021-12-01 15:58] technicallyty opened #10652 "Add compatibility for protov2 api"
in codec package we want to ensure both proto v2 and gogo are supported.

wip: https://github.com/cosmos/cosmos-sdk/pull/10573

[2021-12-01 17:38] nooomski opened #10655 "Add `MsgCreateGroupWithPolicy` to x/group to create group and group policy & set admins in one go"
**EDIT: Please refer to https://github.com/cosmos/cosmos-sdk/issues/10655#issuecomment-1006683028 for instructions**

## Summary

Add extra parameters to `MsgCreateGroupRequest` to allow the creation of a group policy and setting the admin for both in one message.

## Problem Definition

We're currently allowing groups to be created without a group policy, although the use cases for this are not c

[2021-12-01 17:53] nooomski commented on #10417
Apologies for my absence in this discussion.

I definitely did not want to suggest SDK engineers maintain the IBC docs :) Exactly, the primary argument is that we should not have duplicate docs.

I think @crodriguezvega makes a strong point with regards to the version dropdown menu. Let's keep things as they are on the IBC repo. I will discuss internally with B9 how we should handle the IBC docs o

[2021-12-01 18:23] khdegraaf commented on #10596
OK.  The original hacker reported this apparently already at https://hackerone.com/reports/1400128, and no one has looked into it yet.

[2021-12-01 20:43] robert-zaremba opened #10656 "Limited 0.45 Cosmos SDK release"
## Summary

There is a need in the community to release v0.45 sooner. The idea is to not add any significant effort nor any changes which could create any risk.

Also, we would need to think if with v0.45 release will stop support for 0.42 (which will sunshine anyway at the end of January 2022) and how long to support 0.44.

Here is an "in progress" list of what we an merge into potential 0.45.

I

[2021-12-01 21:03] ethanfrey commented on #10656
Those first two gas related ones are critical for a wasmd 1.o release we can safely stand behind reliability wise.

We are targeting a early January release date and starting the 0.42 to 0.44 migration shortly (the last step left)

Many chains have been asking for this and going ahead on untested versions, and we would be very happy to have those first two gas related prs in an official Cosmos sdk

[2021-12-01 23:16] marbar3778 commented on #10596
okay, ill see about getting it triaged asap. Ill close the issue for now.

[2021-12-01 23:16] #10596 closed

[2021-12-02 05:30] puneetsingh166 opened #10658 "Genesis Block / config/genesis.json"
HI ,
I am defining my concern in few steps-

1- I have a genesis file in this location ```$BINARY/config/genesis.json```.
2- Started the chain with ```$BINARY/config/genesis.json``` file.
3- When I hit rpc url ```http://ip:26657/genesis?```. I was getting the same genesis file data which was in ```$BINARY/config/genesis.json```.
4 - Then I stop the chain, make some changes to ```$BINARY/config/gen

[2021-12-02 06:47] mindcarver opened #10660 "edit validator bug from the command line"
## Summary of Bug

When editing the Validator using the command line of the staking module, if moniker is not specified, moniker will be updated to test

## Version

v0.44.3

## Steps to Reproduce

1. First query the current validator information, check moniker
2. Edit the validator information, modify the moniker, and query the validator information again to see if the modification is successful

[2021-12-02 06:54] #10484 closed

[2021-12-02 07:02] amaurym commented on #10656
Let's remove #10348 :
- it needs a joint effort with the Ledger team to update the Ledger cosmos app, we talked with Juan, and we're planning to do that along with the next major release (so 0.46) with the tip feature (which also needs Ledger update)
- that PR 10348 adds support for tips + feepayer in Amino. There's some non-trivial cherry-picking if we only want to backport that, plus some non-tr

[2021-12-02 07:03] Terra854 commented on #10540
I would prefer to not allow grandfathering of commissions as this will allow already created nodes to bypass the minimum commission values

[2021-12-02 08:49] blushi commented on #10655
@aaron @nooomski I think I'd rather create another msg for this particular purpose, rather than updating the existing one, for future compatibility purposes with more flexible use cases and avoid any API breaking changes, what do you think?

Indeed, there's no use case for creating just a group in itself (without a policy) but there are use cases for creating a group with *multiple* policies and t

[2021-12-02 08:59] marbar3778 commented on #10658
hey, just answered your question in the Tendermint repo https://github.com/tendermint/tendermint/issues/7364

[2021-12-02 08:59] #10658 closed

[2021-12-02 10:18] crodriguezvega commented on #10417
Yes, that all sounds good to me. I have this [PR](https://github.com/cosmos/vuepress-theme-cosmos/pull/292) open to change the link at the bottom left to point to ibc-go documentation instead of to protocol site. I have written a comment today to see if we can get it merged and released, and then we can update the documentation sites so that they all have the link to the ibc-go docs site.

[2021-12-02 11:02] blushi opened #10661 "Add grpc-gateway to group module"
## Summary

Add grpc-gateway annotations to group proto files and register gRPC Gateway routes.

____

#### For Admin Use

- [x] Not duplicate issue
- [x] Appropriate labels applied
- [ ] Appropriate contributors tagged
- [ ] Contributor assigned/self-assigned

[2021-12-02 11:20] roysc commented on #10651
Fix included in https://github.com/cosmos/cosmos-sdk/pull/10430 (https://github.com/cosmos/cosmos-sdk/pull/10430/commits/f5616ca1b96772b5b332a092bcf9ad765624a0f4)

[2021-12-02 11:28] hxrts opened #10662 "Change vesting terminology to locking"
## Summary

Legal vesting has a specific meaning that does not map to how "vesting accounts" are currently implemented.

## Problem Definition

This terminological confusion has tripped up many entities with whom the ICF has interacted.

## Proposal

Change all instances of "vesting accounts" to "locked accounts" or similar.

____

#### For Admin Use

- [ ] Not duplicate issue
- [ ] Appropriate la

[2021-12-02 11:47] nooomski commented on #10417
Great, I'll close this issue and the PR. Thanks!

[2021-12-02 11:47] #10417 closed

[2021-12-02 15:09] alexanderbez commented on #10660
What do you mean the moniker is updated to "test"? Can you post the output of the validator info?

[2021-12-02 15:33] nooomski opened #10668 "Add timestamp to member, group and policy."
## Summary

For a better UX it would be great to have some visibility on when groups & policies are created and when members are added.

## Problem Definition

There is currently no timestamp in `GroupInfo`, `GroupAccountInfo`, or `Member`. We could add this as a field in the metadata, but this should probably not be alterable and would therefore need its own field.

## Proposal

Add `created_at`

[2021-12-02 16:03] aaronc commented on #10652
A couple alternative approaches I discussed with @fdymylja:

1. use the legacy `proto.Message` rather than `interface{}` as the parameter type and then check for a v2 message - all the generated code generates the legacy `proto.Message` interface
2. have separate codec APIs for gogo and v2 that share the same `InterfaceRegistry` and can deal with either gogo or v2 types at `Any` boundaries

Possib

[2021-12-02 16:07] fdymylja commented on #10652
I lean to the second approach too.

I also think that if we couple protov2 with ORM people will not have to deal much (if not at all) with codecv2 at module level.

[2021-12-02 16:15] technicallyty commented on #10652
2 sounds good to me! sounds like it will make the code a bit cleaner

[2021-12-02 16:43] aaronc commented on #10652
Okay, so then the main thing to do for codec v1 is make sure we can have v2 messages inside `Any`, right?

[2021-12-02 16:44] robert-zaremba commented on #10310
@yihuang will you be able to handle this issue?

[2021-12-02 20:40] robert-zaremba commented on #8311
So, the issue of "reverting" expired grant deletion caused a bug: https://github.com/cosmos/cosmos-sdk/issues/10611. Ah, we didn't put enough attention to triage this task.
I'm discussing a potential solution here: https://github.com/cosmos/cosmos-sdk/pull/10633  (right now, the PR removes grant deletion).

[2021-12-03 16:47] ValarDragon commented on #10310
I feel like this is something we should emit a warning for, but otherwise get downstream things to just not do this access pattern

[2021-12-03 19:15] UnityChaos opened #10673 "`chaind start --home=~/.chaind` fails because ~ is not resolved in flags handler"
## Summary of Bug
Seems like it should be reasonably easy to add a check if a path starts with '~', and if so replace with the HOME environment variable.

## Version

## Steps to Reproduce

____

## For Admin Use

- [ ] Not duplicate issue
- [ ] Appropriate labels applied
- [ ] Appropriate contributors tagged
- [ ] Contributor assigned/self-assigned

[2021-12-03 21:40] clevinson commented on #9058
Just updated - thx @hxrts !

[2021-12-04 02:58] yihuang commented on #10310
In ethermint we already changed our approach to avoid a deep cache context stack.
I haven't looked into the root cause, I'm not sure if it's worthwhile to put too much effort into this, maybe we just need to let people aware of the issue and avoid deep cache context stack.

[2021-12-04 21:14] championshuttler commented on #10554
Can I work on it?

[2021-12-04 22:24] marbar3778 commented on #10554
yes please do ❤️

[2021-12-05 12:00] robert-zaremba commented on #10662
If we do it in the code as well, then this is a breaking change, and we should do it together with: #9958

[2021-12-05 12:02] marbar3778 commented on #10662
I'm quite opposed to unneeded breaking changes. Users already complain about this, let's first understand the problem/

[2021-12-05 22:03] robert-zaremba commented on #10662
Well, we want to move vesting out of auth anyway - there are other problems related to that.

[2021-12-05 22:18] robert-zaremba commented on #10263
This task was supposed to port roysc changes here. So the easy way was to ask @roysc simply push his version here.

Reopening until this is done, and subtasks resolved.

[2021-12-05 22:34] marbar3778 commented on #10263
He already pushed the changes and are merged.

[2021-12-05 23:19] marbar3778 commented on #10662
def fine with this change since it enables more things, but renaming the module should be done after we understand the problem.

[2021-12-05 23:34] robert-zaremba commented on #10263
Also, we need to set the branch protection : merges in `master` should only go through PR. @okwme  can you do that please?

[2021-12-06 00:46] evancholmberg commented on #9790
I would like to work on this issue. I see that there is a comment above the test that states it needs to be fixed. So the behavior of the function needs to change to panic when multiplier d is zero and the test needs to change to expect a panic?

[2021-12-06 07:50] roysc commented on #10263
@robert-zaremba can you clarify? what needs to be done besides updating https://github.com/cosmos/gorocksdb and the go.mod ref?

[2021-12-06 09:10] marbar3778 commented on #10263
added it, now one approval before merging

[2021-12-06 09:10] marbar3778 commented on #10263
I believe its to make the go.mod change only.

[2021-12-06 09:11] marbar3778 commented on #10662
@hxrts could you define what the problem you are running into?

[2021-12-06 09:26] #10610 closed

[2021-12-06 09:32] robert-zaremba commented on #10263
yes, go.mod

[2021-12-06 09:34] worryFree56 opened #10678 "rosetta server"
## Summary of Bug

I want to know which function is affected, and why I can’t detect this error message.
![image](https://user-images.githubusercontent.com/22309148/144821589-baf32c2a-9b20-4d35-8010-26513b1d918f.png)

## Steps to Reproduce
Running locally, about 10 blocks out will report an error and terminate. No other extra operations

## Version
cosmos-sdk v0.44.2
tendermint v0.34.13
golang v1.

[2021-12-06 10:01] typhoonbb opened #10679 "Question: How to extract standard key file from priv_validator_key.json file ?"
I need  to  get a validator node's  key , so I can use Openssl to generate a certificate file,   I found priv_validator_key.json, but I don't know how to turn it into standard key file like this above,  can anybody help me,  thanks a lot .

[code]

[2021-12-06 11:15] robert-zaremba opened #10680 "Add guidelines for ValidateBasic"
## Summary

We don't have a clear guidelines about the `ValidateBasic`. We should have a good recommendation how to use it.

## Problem Definition

`ValidateBasic` is happening during the `CheckTx` phase and it doesn't have access to the state. So it can verify only the _current_ object. For complex objects, it can be an intensive operation.

## Proposal

In my opinion the `ValidateBasic` should b

[2021-12-06 11:27] robert-zaremba opened #10681 "Charge extra gas when doing serialization and deserialization"
## Summary

We should charge extra gas when doing serialization.

Epic: #8917

## Problem Definition

Today we only charge gas for doing storage operations and loops. For simple operations we only charge gas for a known expensive operations, like signature validation. Serialization is also known to be expensive (especially the "text mode" like JSON). And if there is lot of back and forth then we u

[2021-12-06 11:29] robert-zaremba commented on #6710
With new tasks and text mode working group, is this issue still relevant? What is the action point ?

[2021-12-06 14:41] alexanderbez commented on #10673
$HOME is not necessarily always defined. Just please use absolute paths.

[2021-12-06 14:44] marbar3778 commented on #10679
the key is base64 encoded so you should be able to decode it.

[code]

[2021-12-06 14:44] #10679 closed

[2021-12-06 15:59] alexanderbez commented on #10678
This is a rosetta error. Why is rosetta halting a node?

In any case, can you post your app config please?

[2021-12-06 16:17] alexanderbez commented on #10681
Interesting idea. I think it makes sense 👍

[2021-12-06 16:19] robert-zaremba opened #10685 "Add support for feegrant pruning"
## Summary

Similarly to x/authz we should enable feegrant objects auto-prunning using an index (similarly as we move / delete proposals in x/gov).

Ref:
+ https://github.com/cosmos/cosmos-sdk/pull/10633
+ https://github.com/cosmos/cosmos-sdk/issues/8311#issuecomment-840997857

cc: @aleem1314
____

#### For Admin Use

- [x] Not duplicate issue
- [x] Appropriate labels applied
- [ ] Appropriate con

[2021-12-06 20:18] UnityChaos commented on #10673
Okay, just thought I should raise it if this wasn't the intended behavior.

[2021-12-06 20:18] #10673 closed

[2021-12-07 00:27] hxrts commented on #10662
Vesting is the delivery of payment contingent on some behaviour (i.e. staying at a company for X years). When we write ICF contracts that use "vesting" in the SDK we always need to clarify that this is unlike legal vesting in that delivery is guaranteed. The SDK's notion of vesting is actually a timelock escrow.

[2021-12-07 01:19] worryFree56 commented on #10678
[app-config.txt](https://github.com/cosmos/cosmos-sdk/files/7664700/app-config.txt)

[2021-12-07 01:20] worryFree56 commented on #10678
I didn’t have any changes to the configuration, it was initialized by the init command.

[2021-12-07 01:50] Muggle-Du commented on #10297
Hi @robert-zaremba, I'm working on this right now.
but I don't quite understand why you ask to test load scenarios with different ratio of Has, Get, Set, Delete operations, given Has and Get operations are read-only and will not affect the load performance after commit.
can you explain this more specifically?

[2021-12-07 01:52] worryFree56 commented on #10678
I found the problem.

I did not register server.RosettaCommand(encodingConfig.InterfaceRegistry, encodingConfig.Marshaler) for the cli root command.

The configuration generated by the initialization node is to start the service by default. Cause the node to go down.

It should default to false for now, not everyone needs to use it.

[2021-12-07 02:48] typhoonbb commented on #10679
It's not that simple, here is what I found

[code]

now I can get standard key file

[2021-12-07 02:53] robert-zaremba commented on #10297
We want to test store as it's used by msg server. Moreover having different scenarios will let us know more about bottlenecks and performance characteristic.
It's important to do this test on the store level, not SMT. I'm going to update the title of this task.

[2021-12-07 03:53] egaxhaj-figure opened #10688 "Proto binding support for additional languages"
## Summary

Add support for generating and publishing code for `proto` files in multiple languages.

## Problem Definition

Currently the SDK provides support for generating `go` code from the `proto` files. It would be beneficial to also provide support for more languages. Languages such as Java, Kotlin, Rust, Python, etc.

The changes proposed here are a first step towards achieving it. *Check o

[2021-12-07 07:19] roysc commented on #10263
ok (that will be merged with #10430 - https://github.com/cosmos/cosmos-sdk/pull/10430/commits/ad227e0552c1cde887261ee6c36f3e45d9f61865)

[2021-12-07 07:20] tomtau opened #10689 "Progress Tracking for In-Place Store Migrations"
## Summary

Right now, there is no feedback on the progress of in-place store migrations during network upgrades, hence node operators may be puzzled whether something went wrong.

## Problem Definition

If a store migration is executed on a large state, it could take a long time. On existing large production networks on low spec or archival nodes, this can lead to a node being stuck at a single l

[2021-12-07 09:07] amaurym commented on #8045
See https://github.com/cosmos/cosmos-sdk/pull/9391/files#diff-b86b3b8711e44944928778df054268ef544a7a43e3e3a75a759c333a617e2659R229-R239 for how to unpack manually.

[2021-12-07 09:55] amaurym opened #10691 "Change SignerData.SignerIndex to SignerData.PubKey"
## Summary

We added the `SignerIndex` field in #9944 in SignerData below. Let's replace that field with signer's `PubKey`.

https://github.com/cosmos/cosmos-sdk/blob/1d436638af7cacb5aeeb7248b57b085c64f3ae35/x/auth/signing/sign_mode_handler.go#L23-L43

## Problem Definition

To sign with SIGN_MODE_DIRECT_AUX, we need the pubkey of the signer in the SignerData. 2 ideas were proposed:
1. To put the

[2021-12-07 10:10] marbar3778 commented on #10691
how does this affect clients or does it?

[2021-12-07 10:16] amaurym commented on #10691
No it doesn't affect clients. It's a SDK-internal type used exclusively in the SDK's own abstractions (namely SignModeHandler).

[2021-12-07 10:17] marbar3778 commented on #10662
Vesting is intended to be used in both cases, we don't have functionality to claw back the tokens but there is an issue for this. I know teams using it as vesting accounts for contributors that stay x amount of years at the project and also different reasons.

I'm still not a fan of causing an ecosystem rename/breaking change like this in light of our users complaining about breaking changes non-s

[2021-12-07 11:37] amaurym commented on #10127
@mergify backport release/v0.45.x

[2021-12-07 11:38] amaurym commented on #10127
@Mergifyio backport release/v0.45.x

[2021-12-07 13:10] hxrts commented on #10662
At the very least we should provide further clarification in the docs.

[2021-12-07 13:36] marbar3778 commented on #10662
yea, happy to change docs. Want to edit the issue with a focus on docs and we can add labels to get help on it

[2021-12-07 14:41] aleem1314 commented on #10660
It is updating to `moniker` flag from the `config.toml` file if the moniker is not specified.

[2021-12-07 18:02] #10264 closed

[2021-12-07 22:25] hxrts commented on #10662
Cool done

[2021-12-07 22:57] Wondertan opened #10702 "Importing SDK forces users to replace gogo/protobuf"
## Context
We in Celestia are starting to actively use Cosmos-sdk in https://github.com/celestiaorg/celestia-node and the first thing you get when you import the lib is:
![image](https://user-images.githubusercontent.com/22449364/145117995-1d955031-1f56-406d-9ffa-e6cfcf19570d.png)

It is totally unclear what happens here, but after investigation of `gogo/proto` and `cosmos-sdk` I found out that th

[2021-12-08 01:13] marbar3778 commented on #10702
There is a fork because of 2 features we added. Since gogoproto is not maintained anymore we opted for a different path that will be released in 2022.
Ill close the issue for now

[2021-12-08 01:14] #10702 closed

[2021-12-08 02:09] boz commented on #10091
I've run into this issue on the latest gravity testnet (https://github.com/Gravity-Bridge/Gravity-Bridge/issues/2).  I've reset since being slashed so I can't find events, but this is what I found in the logs:

[code]

[2021-12-08 10:38] amaurym commented on #10590
Sounds fine to me too.

Not really a problem, just that in TXs that the grantee sends, they need to put a non-empty pub_key in [this field](https://github.com/cosmos/cosmos-sdk/blob/bd780541399653b511d37f6e2e9b6df8ee89be4c/proto/cosmos/tx/v1beta1/tx.proto#L148-L151). It's an optional field for accounts that already exist in state with an associated pubkey. But if we're creating an acct like in htt

[2021-12-08 11:08] #10660 closed

[2021-12-08 11:30] RiccardoM opened #10704 "feegrant: expired fee grants are never removed"
## Summary of Bug
Currently, when a `feegrant` expires it is never deleted from the store.

## Version
`v0.44.5`

## Steps to Reproduce
**1.** Create an expired fee grant
[code]

**2.** Query the feegrants to make sure it's stored
[code]

**3.** Try using the feegrant
[code]

**4.** Query the feegrants again
[code]

## Detailed explanation
Theoretically the `feegrant` module is designed to act as

[2021-12-08 11:43] #10691 closed

[2021-12-08 13:54] kaustubhkapatral commented on #10571
Scripts are transferred to this repo: https://github.com/cosmos/qa-integration

[2021-12-08 13:56] kaustubhkapatral commented on #10575
Script for setting up upgrades is located here: https://github.com/cosmos/qa-integration/blob/master/scripts/setup_upgrade.sh

[2021-12-08 18:03] aaronc commented on #10590
I think the workflow here would be to create a feegrant first which creates the account, then to create authorizations

[2021-12-08 23:09] fkneeland-figure opened #10706 "Bump: Rosetta-sdk and Rosetta-cli deps"
## Summary

We should update Rosetta to v0.7.2 and Rosetta-cli to v0.7.3 to include this fix: https://github.com/coinbase/rosetta-sdk-go/pull/358

This will enable cosmos chains with tokens minted after genesis to pass Rosetta's checks.

## Problem Definition

## Proposal

____

#### For Admin Use

- [ ] Not duplicate issue
- [ ] Appropriate labels applied
- [ ] Appropriate contributors tagged
- [

[2021-12-09 02:38] michaelfig opened #10708 "v0.44.4 `x/capability` map lost between restarts"
## Summary of Bug

When I start a node from genesis, the `x/capability` map correctly matches IBC portIDs to the right modules.  If I restart a node, it appears to lose the mapping somehow and diverges from the nodes that aren't restarted.

## Version

v0.44.4

## Steps to Reproduce

1. Start a single-validator network, whose `genesis.json` has `app_state.transfer.port_id` set to `"cosmos-transfer

[2021-12-09 02:44] michaelfig commented on #10708
I've tracked down the AppHash crashes on the Agoric `devnet` (Agoric/agoric-sdk#4159) to this issue.

FYI: @adizere, @dtribble, @JimLarson, @dckc

[2021-12-09 03:48] michaelfig commented on #10708
I knew it was going to be something silly.  I was missing `capabilitytypes.ModuleName` from `SetOrderBeginBlockers`.  Yikes!

[code]

[2021-12-09 03:48] #10708 closed

[2021-12-09 08:31] amaurym commented on #10590
My preference would still be that the SDK allows the steps (1) create authz and (2) create feegrant/send tokens to grantee to be done in whichever order.

[2021-12-09 08:37] amaurym commented on #10708
Maybe a good thing to do is to panic a startup if the `SetOrder*` functions forgot any module names.

[2021-12-09 10:03] robert-zaremba commented on #10708
Good idea @amaurym

[2021-12-09 11:09] amaurym commented on #10708
PR in #10711

[2021-12-09 13:07] RiccardoM opened #10712 "auth: v0.43 migration breaks all slashed vesting accounts"
## Summary of Bug
When a `VestedAccount` is slashed for a large amount of the delegated tokens, they won't be able to perform any operation later if they undergo the `v0.43` `x/auth` migration

## Version
`v0.44.5`

## Steps to Reproduce
1. Create a `VestedAccount` with
   - Original vesting: `10000000000uatom` (10.000 ATOM)
   - First vesting period with
      - `length: 0`
      - `amount: 10000

[2021-12-09 16:16] #10706 closed

[2021-12-09 22:26] dwedul-figure opened #10718 "Refactor new x/upgrade validation to allow checksum to be optional"
## Summary

When validating upgrade plans, make it possible for urls to not include a checksum query parameter.

## Problem Definition

Currently, in `cosmovisor`, the checksums are optional. If provided, they're used for verification, but they're not required. The new `x/upgrade` module plan validation requires the urls to have a checksum query parameter though.

This makes it impossible to reuse

[2021-12-09 22:54] dwedul-figure commented on #10464
I split off #10718 as a blocker on this.

Additionally, Cosmovisor currently uses the Cosmos-SDK v0.44.3 build, and this new plan validation is not yet part of that (or any released) build. So this `cosmovisor` refactor can't happen until a new Cosmos-SDK version is released with that new validation and download code in the module.

[2021-12-10 01:23] robert-zaremba commented on #10571
So we can close this task. Thanks!

[2021-12-10 01:23] #10571 closed

[2021-12-10 02:31] zramsay commented on #6779
relate to #10588

[2021-12-10 04:49] #10590 closed

[2021-12-10 09:30] yihuang opened #10724 "`ctx.ConsensusParams()` is always nil in begin block"
## Summary of Bug

`ctx.ConsensusParams()` is always nil in begin block, but some modules will query this:
- [evidence](https://github.com/cosmos/cosmos-sdk/blob/master/x/evidence/keeper/infraction.go#L51)
- [ethermint feemarket](https://github.com/tharsis/ethermint/blob/main/x/feemarket/keeper/eip1559.go#L24)

## Version

I checked both `v0.44.x` and master have this issue.

## Steps to Reproduce

[2021-12-10 11:02] #9897 closed

[2021-12-10 11:02] #9905 closed

[2021-12-10 11:06] marbar3778 commented on #10724
oof, I would categorise this as a bug.

[2021-12-10 11:12] marbar3778 commented on #6779
This has overlap with how the spec folder is written, do you suggest we move the spec readmes to the top level?

[2021-12-10 11:58] marbar3778 commented on #9617
Closing as sdk doesn't use ed25519 for any sort of verification and people are opposed to a change.

[2021-12-10 11:58] #9617 closed

[2021-12-10 15:16] #9962 closed

[2021-12-10 15:42] aaronc opened #10728 "google.golang.org/protobuf support in Codec"
Allow existing modules that use the `codec` interfaces to use new `proto.Message`s with the codec. Note that modules which migrate to the ORM will use that instead of the codec.

[2021-12-10 15:47] aaronc opened #10731 "Generate all proto code in new API module"
Use the new code generator (https://github.com/cosmos/cosmos-proto) to generate all code in the new `api` module alongside the existing gogo proto generated code.

WIP in #10669

[2021-12-10 15:53] aaronc commented on #10688
Thanks @egaxhaj-figure. This is a duplicate of #7717, so if it's okay I'm going to close this and let's continue discussing there. My sense is that using `buf generate` is a simpler solution as I proposed in https://github.com/cosmos/cosmos-sdk/issues/7717#issuecomment-989382024. Does that seem like it will solve your needs? If we can align on an approach, I'm happy to support official bindings in

[2021-12-10 15:53] #10688 closed

[2021-12-10 16:00] amaurym commented on #10656
Current timeline is to release on Tues 14th.

[2021-12-10 16:01] ethanfrey commented on #10656
Thank you very much!

[2021-12-10 16:03] aaronc opened #10729 "ORM table and index implementations"
Implement ORM table and indexes based on the spec in `cosmos.orm.v1alpha1`.

WIP in #10670

- [ ] Indexes
  - [ ] Primary Key
  - [ ] Index Key
  - [ ] Unique Key
- [ ] Tables
  - [ ] Table
  - [ ] Auto-increment table
  - [ ] Singleton
- [ ] JSON Import/Export

[2021-12-10 16:09] aaronc opened #10732 "ORM schema implementation"
Implement the full ORM schema for a module and app as defined in `cosmos.orm.v1alpha`

[2021-12-10 16:10] #10588 closed

[2021-12-10 16:21] aaronc opened #10733 "ORM Stateful Schema and Migrations"
In order to properly support migrations, the ORM will need the following:
* the schema of each module will need to be stored in state
* pinned file descriptors based on the version of the proto files the module was built against will need to be stored in state (see Pinning State Machine API Compatibility in #10582)
* when a migration happens the ORM and/or Codec will need to:
  * store the new sch

[2021-12-10 16:26] aaronc opened #10734 "ORM documentation"
Comprehensive documentation should be done with a `README.md` and/or doc.go file in the root module and ideally each package.

The root documentation should include:
* guidelines on how to write proto annotations for tables
* best practices for designing schemas:
  * database normalization at least 1st and 2nd normal form
  * the benefit of even more normalization like 6NF where there data is freq

[2021-12-10 16:28] aaronc opened #10735 "ORM module/store key integration"
The table design in #10729 is intentionally low-level and isn't intended to be directly used by clients. We need to write a high-level wrapper and figure out how to smoothly integrate it with modules and existing store keys.

[2021-12-10 16:30] aaronc opened #10736 "ORM gRPC service"
A basic gRPC service should include:
* a way to retrieve the full schema + FileDescriptorSet to be used by ADR 038 state listeners
* simple `Get`/`List` methods using `protobuf.Any` to query any table in the app with support for pagination, prefix and range queries (ideally)
* as a nice to have, ics23 proofs as an option on the `Get` method

[2021-12-10 16:32] aaronc commented on #10588
We could consider restructuring so things look better with godocs... just an idea

[2021-12-10 18:09] aaronc opened #10737 "ORM codegen"
We may want to codegen a friendly client API than what we can do just with #10735. Details to be determined based on whatever shortcomings arise with #10735.

[2021-12-10 18:09] aaronc commented on #10737
/cc @fdymylja

[2021-12-10 18:50] alexanderbez commented on #10712
TBH I really don't know how to go about fixing this in either the migration logic or for existing chains that already have migrated. Will need to marinate on this for a bit...

[2021-12-11 06:48] odeke-em opened #10738 "x/gov/client: unnecessary []byte(fmt.Sprintf("%d"...)) conversions yet still using fmt.Sprintf("'%d'") that consumes CPU and RAM cycles"
## Summary of Bug

Noticed while auditing Tharsis' evm module and when examining their keeper code, while hunting for places to reduce string->byteslice conversions that the Cosmos SDK's x/gov/client package has these unnecessary patterns
[code]

Notice for example that we have
[code]

where the problem is that firstly we make a byteslice using "%d" per `[]byte(fmt.Sprintf("%d", proposalID))` mean

[2021-12-11 23:04] #10738 closed

[2021-12-12 07:57] faddat opened #10742 "Unneeded imports"
## Summary of Bug

The cosmos-sdk imports tendermint as far back as v0.34.0-rc4
...and itself (current master branch) but at v0.44.0
...and a lot of other odd stuff.

## Version

Everything I have checked **except** v0.44.5

## Steps to Reproduce

https://github.com/cosmos/gaia/pull/1099

https://twitter.com/gadikian/status/1469512833809678342
____

## For Admin Use

- [ ] Not duplicate issue
- [

[2021-12-12 20:45] ebuchman commented on #5661
So I built a prototype tool for this here: https://github.com/informalsystems/multisig

It uses an s3 bucket and supports multiple binaries and keys.

[2021-12-13 03:52] ningxin18 opened #10747 "cgo signature verification not supported & cannot use privkey verify signature"
## Summary of Bug

### secp256k1_cgo issue

Although I used +build !libsecp256k1, but secp256k1_cgo signature veryfication not supported.

line 24 in secp256k1_cgo.go, there's cannot use private key verify signature
[code]

change as below

[code]

### secp256k1_cgo sig verifiction issue

when I use ethereum verify signature:
[code]

ethereum cgo average verification time is 60 ms

but cosmos go s

[2021-12-13 07:23] atheeshp commented on #10704
Thanks for raising this @RiccardoM, There is already an issue for this #10685.

[2021-12-13 07:23] #10704 closed

[2021-12-13 10:10] aleem1314 opened #10750 "simulations are failing on some PR's"
## Summary of Bug

Simulations are failing on #10714 and #9810 PRs with the following error

[code]
After debugging looks like #10216 breaking `delegator shares` invariant.

## Version

Currently on two PRs

## Steps to Reproduce

____

## For Admin Use

- [ ] Not duplicate issue
- [ ] Appropriate labels applied
- [ ] Appropriate contributors tagged
- [ ] Contributor assigned/self-assigned

[2021-12-13 10:28] amaurym commented on #10750
@alexanderbez it might be related to this logic: https://github.com/cosmos/cosmos-sdk/pull/10254#discussion_r767592965

[2021-12-13 10:37] marbar3778 commented on #10742
closing this as we talked about it in another pr. Thank you for diving into this. we have a pr to fix dependency management

[2021-12-13 10:37] #10742 closed

[2021-12-13 10:56] #10554 closed

[2021-12-13 12:51] Zygimantass opened #10761 "LevelDB compation leads to unresponsive ABCI queries"
## Summary of Bug

LevelDB compactions lead to unresponsive ABCI queries (staking, balances, etc.). When profiling, looks like a encoding/decoding and write/read syscalls take up most of the compaction time, and the compaction might be a blocking process.

Here you'll find the call graph with times attached (if a raw profile is needed, we can provide it.)

[pprof001.pdf](https://github.com/cosmos/

[2021-12-13 13:40] amaurym commented on #10689
Good idea! @tomtau would you like to create a PR?

[2021-12-13 16:06] alexanderbez commented on #10750
Yes, totally! So the `validator.TokensFromShares(delegation.Shares).TruncateInt().IsZero()` case is getting triggered (good) which deletes the delegation object (good) but the shares remain.

The `RemoveValidatorTokensAndShares` call should be removing the shares. @aleem1314 can you by any chance run this again but also log the `shares` that we pass into `RemoveValidatorTokensAndShares`?

[2021-12-13 16:20] alexanderbez commented on #10750
Either we:

1. Update the invariant
2. Evaluate if we need to remove the dust shares (and why we're currently not)

[2021-12-14 05:41] gsk967 opened #10764 "`make localnet-start` not working"
## Summary of Bug
localnet is not working with docker
[code]
After adding the group module to docker file I am getting another error

[code]

## Version
master

c7e2305286adf13ae5e0ac1e50efe3aef4c11d26
## Steps to Reproduce
1. ```make localnet-start ```
____

## For Admin Use

- [ ] Not duplicate issue
- [ ] Appropriate labels applied
- [ ] Appropriate contributors tagged
- [ ] Contributor assigne

[2021-12-14 06:00] tomtau commented on #10689
I can add some extra logging; for the additional tracking, I'm not sure of what the best way is (store migrations can add their logging individually, but not sure whether it's worth having something generic that works across them)

[2021-12-14 09:25] marbar3778 opened #10767 "groups should define its own simp"
## Summary

Similar to what we asked the not working group to do, not import nft module into simapp we should do the same for group.

____

## For Admin Use

- [ ] Not duplicate issue
- [ ] Appropriate labels applied
- [ ] Appropriate contributors tagged
- [ ] Contributor assigned/self-assigned

[2021-12-14 09:25] marbar3778 commented on #10767
@blushi is it fine to assign you to this?

[2021-12-14 09:26] #10764 closed

[2021-12-14 09:27] blushi commented on #10767
This can be addressed by anyone part of the working group (@likhita-809, @atheeshp, @amaurym or myself)
We'll assign this internally, thanks for flagging.

[2021-12-14 09:57] marbar3778 commented on #10767
sweet, wasn't sure who to assign and see you leading the charge.

[2021-12-14 10:01] yihuang opened #10769 "tx committed successfully but return failure result"
When the last tx in a block exceeds the block gas limit, it returns an error result, but the tx is actually committed successfully.

## Summary of Bug

## Version

## Steps to Reproduce

____

## For Admin Use

- [ ] Not duplicate issue
- [ ] Appropriate labels applied
- [ ] Appropriate contributors tagged
- [ ] Contributor assigned/self-assigned

[2021-12-14 10:13] aleem1314 commented on #10750
Here's is simulation logs for #9810 [2021-12-14_15:10:17.log](https://raw.githubusercontent.com/aleem1314/simulations-logs/master/gov-proposals-simulations.log).

[code]
`shares` that we pass into `RemoveValidatorTokensAndShares`
[code]
The `delegator shares` invariant is breaking with the following error
[code]

And here are simulation logs for #10714 [2021-12-14_15:21:14.log](https://raw.githubu

[2021-12-14 11:06] #10689 closed

[2021-12-14 11:40] robert-zaremba commented on #10427
we continue improving the basic load tests in the qa-integrations repo. The next task is: https://github.com/cosmos/qa-integration/issues/3

[2021-12-14 11:40] #10427 closed

[2021-12-14 11:41] tkdlqm2 opened #10772 "Tx decoder error occurred: unable to resolve type URL /cosmos.authz.v1beta1.MsgGrant: tx parse error"
Error full log
[code]
when i use decoder using v2 sdk well, but After crypto CRO version up (2->3), above error appear.
i know how to fix the error, but i don't know the why the error. I research the error so version2 cosmos sdk(i used) doesn't support type url about decode.

My question is that what type. what tx type was added ?

[2021-12-14 11:42] robert-zaremba commented on #10520
Basic functionality is done. We will continue the work in https://github.com/cosmos/qa-integration

[2021-12-14 11:42] #10520 closed

[2021-12-14 14:25] #9985 closed

[2021-12-14 14:31] alexanderbez commented on #10750
I can see why the first seed/sim fails, but the later is a bit confusing. May I suggest we just revert the original PR I made until we can spend time on a proper solution.

WDYT @amaurym? We don't have the delegation PR in an official release yet, do we?

[2021-12-14 14:39] amaurym commented on #10750
SGTM 👍. Yeah it's fine, #10216 is only on master and not in any release.

[2021-12-14 16:06] amaurym commented on #10769
@yihuang did you check if this is present on 0.42 and 0.44 too? Or it this related only to the middleware refactor (#9996)?

[2021-12-14 16:16] blushi commented on #9866
closing in favor of #10489

[2021-12-14 16:16] #9866 closed

[2021-12-14 16:34] amaurym commented on #10767
During our WG, we decided to leave this issue for later.

The pro of having an own simapp is that x/group can have its own release cycle separated from the SDK's. The con is a bunch of duplicate code.

However, for 0.46, we'll release x/group at the same time as SDK 0.46. So let's keep group in the SDK's simapp for now, and release 0.46.

After that, if it makes sense to decouple the two release c

[2021-12-14 16:35] aaronc commented on #10767
In our WG meeting today we discussed bringing x/group into the SDK proper (for now) so that we don't have to replicate simapp. It seems that we want to time this with the v0.46 release anyway. I do still want us to move towards stand-alone modules, but the app wiring work which would have simplified this didn't move fast enough... If anyone does have bandwidth to spend on wrapping up the app wirin

[2021-12-14 17:13] fdymylja opened #10776 "[rosetta]: remove the option to run rosetta in process"
In the SDK we allow to run rosetta in process but we frequently get reports from people who have problems starting their node because rosetta is failing.

The reason for which this happens is because rosetta is attempting to connect to the node which is not ready yet, then after an X number of retries rosetta will fail, causing the node Start process to fail too (NOTE: rosetta will stop a node onl

[2021-12-14 18:35] michaelfig commented on #10708
@colin-axner here is the bug that was discussed in the IBC meeting.

[2021-12-14 18:43] alexanderbez commented on #10216
Re-opened and reverted #10254

[2021-12-15 01:15] tomtau commented on #10769
@amaurym AFAIK it is in both 0.42 and 0.44:
https://github.com/cosmos/cosmos-sdk/blob/v0.42.11/baseapp/baseapp.go#L599
https://github.com/cosmos/cosmos-sdk/blob/v0.44.5/baseapp/baseapp.go#L609

(the issue was discovered on 0.44)

[2021-12-15 01:22] tomtau commented on #10769
a write up from @colin-axner:

## Summary of Bug

A tx being executed which causes the block gas limit to be reached will be persisted, but its response information will be wiped and replaced with a code 11 error: `out of gas in location: block gas meter; gasWanted: 0, gasUsed: 224156: out of gas`

No events are emitted.

## How the bug was found

An issue was reported of a IBC packet being relaye

[2021-12-15 10:21] #10750 closed

[2021-12-15 10:27] amaurym commented on #10656
Due to some critical bugs discovered recently, we decided to release 0.45 early January.

[2021-12-15 11:10] #10724 closed

[2021-12-15 15:17] #9899 closed

[2021-12-16 00:00] fkneeland-figure opened #10790 "Update rosetta-cli docker image"
## Summary

Now that rosetta has been updated to v0.7.2 [here](https://github.com/cosmos/cosmos-sdk/blob/master/contrib/rosetta/rosetta-cli/Dockerfile#L5) we need to create a new docker image for the rosetta-cli image used in rosetta tests.  Once this has been created we will be able to do rosetta tests on a chain with coins minted post genesis.

## Problem Definition

## Proposal

____

#### For

[2021-12-16 00:01] fkneeland-figure commented on #10790
@jgimeno would you be able to build a new docker image and push it up to docker hub for this?  Thanks!

[2021-12-16 07:31] cmwaters opened #10791 "statesync: app version is not correctly set"
## Summary of Bug

Tendermint, at the end of statesync, will call the `Info` ABCI call as a means of verifying that the app hash it has matches to the one the application has (thus verifying that the correct state was synced).

https://github.com/tendermint/tendermint/blob/20c547a901eb003912bd1b34ff45d34ac118b5f8/internal/statesync/syncer.go#L352-L356

In doing so the application also returns its

[2021-12-16 10:14] amaurym opened #10792 "Gov v1beta2 remove deprecated `Vote.option`"
## Summary

We deprecated this field in v1beta1. Let's remove it in v1beta2.

https://github.com/cosmos/cosmos-sdk/blob/914af6044a75abe8f5ac93bcadef45fd70d2938e/proto/cosmos/gov/v1beta2/gov.proto#L88-L91

## Problem Definition

Remove deprecated field.

## Proposal

I think it's worth keeping field 3 as reserved still.

____

#### For Admin Use

- [ ] Not duplicate issue
- [ ] Appropriate labels a

[2021-12-16 10:39] marbar3778 commented on #10791
Looking at state sync we should be calling abci.info afterwards to update any versions but doesn't seem we do.

[2021-12-16 10:45] amaurym opened #10793 "Gov: generate proto types into `types/v1beta2` instead of `types`"
## Summary

Consider generating proto files into `types/v1beta2` instead of `types`

## Problem Definition

Historically, we generated types in the `types` folder of each module.

For gov, we will now maintain 2 versions: `v1beta1` and `v1beta2`. The current way we're going in #10763 is to generate:
- v1beta1 types in `types/v1beta1`
- v1beta2 types in `types`

The main pro is explicitness.

## Pr

[2021-12-16 13:09] #10263 closed

[2021-12-16 13:09] #10651 closed

[2021-12-16 14:41] Cherrett opened #10795 "Gov: No votes returned when querying proposals votes"
## Summary of Bug

No votes are being returned when querying votes for a proposal using Cosmos RPC endpoint (`/cosmos/gov/v1beta1/proposals/{proposal_id}/votes`).

## Version

v0.42.10

## Steps to Reproduce

Query votes for any proposal ID using the following endpoint: `/cosmos/gov/v1beta1/proposals/{proposal_id}/votes`. For example:
[https://api.cosmos.network/cosmos/gov/v1beta1/proposals/59/vot

[2021-12-16 15:58] amaurym opened #10796 "Run standalone gRPC server for serving historical queries"
## Summary

Add a flag `simd start --grpc-only` which would not run a node, but only the grpc server.

## Problem Definition

Serving historical state is complicated after an upgrade. The current preferred solution, discussed in #9740, is a proxy server which sits in front of 2 nodes:
- one stuck at the upgrade height, for serving queries prior to the upgrade
- one keeping up with the tip, serving

[2021-12-16 16:04] fkneeland-figure commented on #10790
Here is the docker hub image that needs to be updated: https://hub.docker.com/r/tendermintdev/rosetta-cli

[2021-12-16 16:15] aaronc commented on #10681
I think this generally makes sense but we should wait to do it until 1) the codec supports the new code generator which is mostly done and 2) we have the app wiring work done so that it's easier to integrate new things like this with baseapp without making app.go even more complicated.

[2021-12-16 18:23] #9865 closed

[2021-12-16 18:49] iramiller commented on #10796
This is something we are keenly interested in for Provenance.

One extra consideration that should be taken into account is that this implementation should be easy to back port onto older 0.4x.x SDK based releases.  I expect that Provenance will not be the only one looking to patch previous releases so they can be used against prior block height ranges.

[2021-12-16 19:18] aaronc commented on #10796
Yes we need this internally for Regen as well.

[2021-12-16 21:16] alexanderbez commented on #10795
This is because votes are pruned (unless that was changed)

cc @robert-zaremba

[2021-12-16 21:17] alexanderbez commented on #10796
ACK. Great idea and probably would be very trivial to implement.

[2021-12-16 23:12] domcalvin opened #10798 "Good new issue"
## Summary

## Problem Definition

## Proposal

____

#### For Admin Use

- [x] Not duplicate issue
- [x] Appropriate labels applied
- [x] Appropriate contributors tagged
- [x] Contributor assigned/self-assigned
/bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/HEAD/install.sh)"

[2021-12-17 00:21] robert-zaremba commented on #10310
So, normally this is not an issue in the core SDK. I'm not sure how we could log a warning without tracking the nested level: we would need to add one more parameter to cache pass it's increment when we create a new cache.

[2021-12-17 03:13] yihuang commented on #10310
maybe just put sth in the comments for now?

[2021-12-17 07:54] dillu24 commented on #10795
@alexanderbez So you can get the votes only for proposals which are in voting stage?

[2021-12-17 09:26] robert-zaremba opened #10801 "ADR-040 Implementation: Move store proving tools to store/tools"
## Summary

We have a new tool, helpful for creating merkle proof tests: ics23-smt, which is a modification of confio/ics23-iavl.
This  tools are used in tests in Cosmos SDK. According to the discussion in Discord, let's move them to cosmos-sdk/store/tools?

- [ ]  https://github.com/roysc/ics23-smt
- [ ] https://github.com/confio/ics23-iavl

____

#### For Admin Use

- [x] Not duplicate issue
- [

[2021-12-17 09:26] robert-zaremba commented on #10801
@ethanfrey  let me know if you would like to copy and make contribution to CosmosSDK.

[2021-12-17 09:26] robert-zaremba commented on #10801
@roysc will you like to handle ics23-smt?

[2021-12-17 10:19] #10798 closed

[2021-12-17 11:02] ethanfrey commented on #10801
I'm happy to move this repo to somewhere Cosmos maintains, which will be much nicer for the ADR-040 stuff for sure.

There was some question about where they belong. If this is agreed among all core team, I will make a PR to copy the contents of the repo there.

[2021-12-17 11:19] amaurym commented on #10680
In my opinion, ValidateBasic should be as strict as possible.

Maybe we can charge a small constant fee in ValidateBasicMiddleware, so that it's not free computation.

[2021-12-17 12:09] #9898 closed

[2021-12-17 14:40] alexanderbez commented on #10795
Votes are deleted once the votes are tallied on an active proposal (i.e. min deposit met): https://github.com/cosmos/cosmos-sdk/blob/master/x/gov/keeper/tally.go#L50-L75

Otherwise, the votes would bloat state.

[2021-12-17 14:48] dillu24 commented on #10795
We require to get the votes in order to check whether some address has voted for that particular proposal. Is there a way of getting this historical information ?

[2021-12-17 14:52] alexanderbez commented on #10795
Yes, you can do what the SDK CLI does and query for historical votes via tx events. See https://github.com/cosmos/cosmos-sdk/blob/b4fe191b85a1f839e2f57d9d374f36e0351825b8/x/gov/client/utils/query.go#L94

[2021-12-17 14:53] #10795 closed

[2021-12-17 14:58] amaurym commented on #10796
BTW we also need to copy the `~/.appd/data` folder, right? Because the new binary will read (and modify) the same folder. We want the old binary to read from a snapshot of that folder at upgrade height.

[2021-12-17 15:24] roysc opened #10803 "ADR-040 Implementation: Migrate storage command/script for store v2"
## Summary
We need to provide a command for users to migrate data from the existing IAVL-based state to the new SMT-based store/v2.

## Problem Definition

ADR-040 introduces a new state storage format using SMT as the commitment scheme, with a new internal storage format. In order to use it with an existing app, data will have to be migrated from the v1 `store/MultiStore`. This will need to happe

[2021-12-17 15:26] roysc commented on #10803
@robert-zaremba could you add any existing notes/thoughts to the description?

[2021-12-17 15:37] roysc opened #10804 "ADR-040 Implementation: Incorporate v2.MultiStore into BaseApp"
## Summary

The new [MultiStore](https://github.com/cosmos/cosmos-sdk/pull/10430) interface has been merged, but it is not yet used in the app code. The next step of ADR-040 is to integrate it into the `BaseApp` as the main state storage component.

If we want to maintain seamless backwards compatibility with the v1 `MultiStore`, this should not form part of a release until a compatibility interfa

[2021-12-17 18:10] migueldingli1997 commented on #10795
@alexanderbez Could you please confirm if this approach is equivalent to using the `/txs` or `/cosmos/tx/v1beta1/txs` REST queries to search transactions by events?

[2021-12-18 12:38] menthor1 opened #10809 "git clone downloads a beta version"
## Summary of Bug
git clone https://github.com/cosmos/cosmos-sdk  returns a beta version.

## Version
Expected Cosmos SDK v0.42.11
Tested with "git version 2.34.1" and "git version 2.25.1"

To workaround:
Go to https://github.com/cosmos/cosmos-sdk - click "code"
Download "cosmos-sdk-master.zip"
./simd version
""

## Steps to Reproduce

git clone https://github.com/cosmos/cosmos-sdk
cd cosmos-sdk
m

[2021-12-19 01:04] robert-zaremba opened #10810 "Limit signature event size pubKey TxHandler"
## Summary of Bug

We are emitting signature events to query transactions by signature. This is the recommended way to query transactions.

The event is created in [`setPubKey`](https://github.com/cosmos/cosmos-sdk/blob/b6f1972/x/auth/middleware/sigverify.go#L55) function and the content is created by concatenating all signatures related to the transaction. However, for multisig it can be arbitrar

[2021-12-19 08:10] ValarDragon opened #10811 "Move community pool into its own module"
## Summary

Currently the community pool is wrtitten in the Distribution module. However, a module wanting to send coins to the community pool is a pretty common feature. This causes lots of awkward dependencies for modules on the distribution module, which really should just be handling token distribution between modules.

## Proposal

I suggest that we split out the community pool into its own,

[2021-12-19 11:48] ItsFunny opened #10812 "target pattern contains no `%'"
MacOS, catalina 10.15.2

## Summary of Bug
target pattern contains no `%'

## Version
master

c7e2305286adf13ae5e0ac1e50efe3aef4c11d26
## Steps to Reproduce
make proto-gen

____

## For Admin Use

- [ ] Not duplicate issue
- [ ] Appropriate labels applied
- [ ] Appropriate contributors tagged
- [ ] Contributor assigned/self-assigned

[2021-12-19 13:08] qlfgggggg opened #10813 "question: wrong wire type"
## Summary
"raw_log": "expected 2 wire type, got 3: tx parse error"

## Problem Definition
"raw_log": "expected 2 wire type, got 3: tx parse error" i do not what happended

## Proposal

____

#### For Admin Use

- [ ] Not duplicate issue
- [ ] Appropriate labels applied
- [ ] Appropriate contributors tagged
- [ ] Contributor assigned/self-assigned

[2021-12-19 13:09] qlfgggggg commented on #10813
rpc:  /cosmos/tx/v1beta1/txs

[2021-12-19 13:39] ItsFunny commented on #10812
wrong gopath
close the issue

[2021-12-19 13:39] #10812 closed

[2021-12-19 23:45] marbar3778 commented on #10813
Hey, thanks for opening this issue, could you leave the commands that led you to this point. At first glance I'm not sure what is wrong based off your comment

[2021-12-19 23:49] marbar3778 commented on #10811
Huge fan of this!! I always found it weird it was combined.

[2021-12-20 00:48] ValarDragon commented on #10809
Why is cloning main returning a beta version unexpected?

(Granted it not being v0.45.0-beta is the weird part)

[2021-12-20 02:24] alexanderbez commented on #10795
Yes, you query txs by events via `/cosmos/tx/v1beta1/txs`

[2021-12-20 02:30] alexanderbez commented on #10810
Will make client side changes a bit harder, but it saves on event space I suppose 👍

[2021-12-20 02:31] alexanderbez commented on #10811
What would actually be in this module? I guess just the community spend proposal handler? There isn't any state machine logic unique to it. The main dep is the module name of distribution. Not opposed to the idea, but i'm just curious

[2021-12-20 02:43] qlfgggggg commented on #10813
I want to broadcast one Tx using (rpc: /cosmos/tx/v1beta1/txs),but something wrong :"raw_log": "expected 2 wire type, got 3: tx parse error".

[2021-12-20 02:44] qlfgggggg commented on #10813
![image](https://user-images.githubusercontent.com/43543840/146704413-aa59b651-830a-4b8a-84ca-8af82c413e84.png)

[2021-12-20 04:24] ValarDragon commented on #10811
community spend proposal handler, fund community pool message & keeper methods

[2021-12-20 09:05] gsk967 opened #10815 "`make localnet-start` is failed due to standalone errors pkg"
## Summary of Bug
When I want local testnet with `make localnet-start` is failling to start the chain due to standalone errors package (https://github.com/cosmos/cosmos-sdk/pull/10779)

## Version
latest master branch
70885b33df299f9ece38a995a2693c45fcfe3459

## Steps to Reproduce
[code]

____

## For Admin Use

- [ ] Not duplicate issue
- [ ] Appropriate labels applied
- [ ] Appropriate contribut

[2021-12-20 09:23] #10815 closed

[2021-12-20 09:27] marbar3778 opened #10818 "keyring custom path is not supported"
## Summary of Bug

custom paths are not supported anymore in the keyring due to new Mac restrictions. https://github.com/keybase/go-keychain/pull/76.

Keyring needs to be updated, but we are unable to do so.

## Version

master and everything else.

[code]

@alessio are you able to provide some guidance?
____

## For Admin Use

- [ ] Not duplicate issue
- [ ] Appropriate labels applied
- [ ] Appro

[2021-12-20 09:53] marbar3778 commented on #10818
this is the proposed solution replace github.com/keybase/go-keychain => github.com/99designs/go-keychain v0.0.0-20191008050251-8e49817e8af4 (https://github.com/99designs/keyring/issues/94)

Im not sure what to do in this case cause our users are stuck with a old version of keyring.

[2021-12-20 13:12] alpe commented on #10680
I think it would make sense to view this with regards to the different processes to come up with a good plan.
A) mempool checkTX
B) mempool re-checkTX
C) DeliverTX
D) Simulation queries

A)+B)+D) are free of charge for the caller. C) fees depends on the min gas fee set on the node and can be 0.

[2021-12-20 14:40] alexanderbez commented on #10811
Which keeper methods?

[2021-12-20 16:14] qlfgggggg commented on #10813
i use java to request rest rpc,always wrong

[2021-12-20 19:58] ValarDragon commented on #10811
[Fund Community Pool](https://github.com/cosmos/cosmos-sdk/blob/master/x/distribution/keeper/keeper.go#L174-L184)

[2021-12-20 20:24] alexanderbez commented on #10811
Ok, why not. ACK 👍

[2021-12-21 07:59] alessio commented on #10818
Let's try with this workaround - we need to find a different long term solution though. I'm investigating.

[2021-12-21 10:33] aleem1314 commented on #10772
`authz` module is not part of `42.x` release. Try with `44.x` version.

[2021-12-21 10:33] #10772 closed

[2021-12-21 12:24] marbar3778 commented on #10818
thank you, for now we can leave as is but long term I agree

[2021-12-22 04:19] YunSuk-Yeo opened #10826 "`?height=100` query context should be created with requested height"
## Summary

Currently when we do height query, the query context has latest block height not requested block height. Only `CacheMultiStore` has been updated to use the given block height.

It is causing some logical error when the querier using its context block height(i.e. `ctx.BlockHeight()`) to compute some value.

## Proposal

We can make query context with requested block height in the functi

[2021-12-22 07:04] ylsGit opened #10828 "Why is db backend set at compile time and not via flag '--db_backend'. How do I application db set to rocksdb?"
## Summary of Bug

https://github.com/cosmos/cosmos-sdk/blob/master/types/utils.go#L15
https://github.com/cosmos/cosmos-sdk/blob/master/types/utils.go#L88

## Version

## Steps to Reproduce

____

## For Admin Use

- [ ] Not duplicate issue
- [ ] Appropriate labels applied
- [ ] Appropriate contributors tagged
- [ ] Contributor assigned/self-assigned

[2021-12-22 18:22] williambanfield opened #10831 "Documentation for Timing parameter updates."
## Problem Definition and Summary

v0.36 of Tendermint plans to add [proposer-based timestamps](), a new algorithm for calculating the timestamp that will be placed into the block header. Part of this change involves adding a new set of `Timing` consensus parameters that will determine the validity of the block timestamp. The parameters indicate how close a validator's clock must be to the propose

[2021-12-23 07:22] #10566 closed

[2021-12-23 10:05] yihuang opened #10832 "tx result report block gas used as tx gas used"
## Summary of Bug

https://github.com/cosmos/cosmos-sdk/blob/release/v0.44.x/baseapp/baseapp.go#L586

when block gas limit exceeded, the tx result report block gas used as tx gas used.

## Version

v0.45.x/v0.44.x/v0.43.x/v0.42.x

## Steps to Reproduce

____

## For Admin Use

- [ ] Not duplicate issue
- [ ] Appropriate labels applied
- [ ] Appropriate contributors tagged
- [ ] Contributor assigne

[2021-12-23 15:05] alexanderbez commented on #10831
@williambanfield thanks for creating this issue. Can you outline what additional parameters will be coming in? They will need to be added to `BaseApp`.

[2021-12-24 02:55] xwartz commented on #10813
I have the same issue when post the txs.

[2021-12-24 05:37] xwartz commented on #10813
I know the cause of the problem, the post tx data must be base64.

[2021-12-24 10:00] lijixy commented on #10813
what the sendTxRaw

[2021-12-24 14:20] vincadian opened #10836 "Atom request to make ibc with arkh-blockchain"

[2021-12-25 04:33] ChristianBorst opened #10837 "Allow foreign account withdrawal of delegator rewards"
## Summary

Allow tx signing and fee payment of distribution's MsgWithdrawDelegatorReward by other accounts.

## Problem Definition

Many validators prefer to withdraw and redelegate their staking rewards automatically on a timely basis by submitting delegator reward withdrawal Msgs and delegation Msgs via script. For users of a hardware wallet automatic withdrawal is not an option, as the script

[2021-12-25 04:43] ChristianBorst commented on #10837
I believe this is covered by x/authz

[2021-12-25 04:43] #10837 closed

[2021-12-25 05:51] sunnya97 opened #10838 "Convert sdk.AccAddress to be a string, not a []byte"
## Summary

This way it will keep the bech32 prefix information, rather than stripping it out.  This will be massively helpful for building out features like bech32-ibc (https://github.com/osmosis-labs/bech32-ibc)

____

#### For Admin Use

- [ ] Not duplicate issue
- [ ] Appropriate labels applied
- [ ] Appropriate contributors tagged
- [ ] Contributor assigned/self-assigned

[2021-12-25 09:02] qlfgggggg commented on #10813
thank you

------------------&nbsp;原始邮件&nbsp;------------------
发件人: "Ji ***@***.***&gt;;
发送时间: 2021年12月24日(星期五) 晚上6:00
收件人: ***@***.***&gt;;
抄送: ***@***.***&gt;; ***@***.***&gt;;
主题: Re: [cosmos/cosmos-sdk] question: wrong wire type  (Issue #10813)

I solved the problem, the post tx data must be base64.

what the sendTxRaw

—
Reply to this email directly, view it on GitHub, or unsubscribe.
Triage

[2021-12-25 09:03] qlfgggggg commented on #10813
thank you

------------------&nbsp;原始邮件&nbsp;------------------
发件人: ***@***.***&gt;;
发送时间: 2021年12月24日(星期五) 中午1:37
收件人: ***@***.***&gt;;
抄送: ***@***.***&gt;; ***@***.***&gt;;
主题: Re: [cosmos/cosmos-sdk] question: wrong wire type  (Issue #10813)

I know the cause of the problem, the post tx data must be base64.

—
Reply to this email directly, view it on GitHub, or unsubscribe.
Triage notification

[2021-12-25 09:04] qlfgggggg commented on #10813
It's stuck here and won't move

------------------&nbsp;原始邮件&nbsp;------------------
发件人: ***@***.***&gt;;
发送时间: 2021年12月24日(星期五) 中午1:37
收件人: ***@***.***&gt;;
抄送: ***@***.***&gt;; ***@***.***&gt;;
主题: Re: [cosmos/cosmos-sdk] question: wrong wire type  (Issue #10813)

I know the cause of the problem, the post tx data must be base64.

—
Reply to this email directly, view it on GitHub, or unsubscribe

[2021-12-25 18:26] StephIOV commented on #4734
I'm facing this issue. How do I check the sequence number ? Because I'm sure the chain is is correct.

[2021-12-26 15:02] alexanderbez commented on #10837
Yes, x/feegrant can cover fee payments on behalf of other accounts (granters) and x/authz can perform other actions you've mentioned.

[2021-12-26 15:04] alexanderbez commented on #4734
Yes, chain _is_ correct. You can find the current sequence by querying the account (which is what the CLI does).

[2021-12-26 19:22] #10836 closed

[2021-12-27 02:17] lijixy opened #10840 "how could I use /cosmos/tx/v1beta1/txs[expected 2 wire type, got 3: tx parse error]"
let tx={
	"tx": {
		"msg": [{
			type: 'cosmos-sdk/MsgSend',
			value: {
				amount: [ { amount: '1000', denom: 'uatom' } ],
				from_address: 'cosmos1dxk5359x7dpsc82ddjalp6lemxvrq4nsj370jj',
				to_address: 'cosmos1s4ghj3fr76c242qfslxandrwvshxh48w2z8ax2'
			}
		}],
		"fee": {
			amount: [{
				amount: '4000',
				denom: 'uatom'
			}],
			gas: '80000'
		},
		"signatures": [{
			"signature": "FxQ7V

[2021-12-27 02:21] lijixy commented on #8233
/cosmos/tx/v1beta1/txs  how could I use it to broadcast the tx

[2021-12-27 04:54] lijixy commented on #10840
{
  "tx_response": {
    "height": "0",
    "txhash": "674D888232F6681A95BC8632F439860D127D9183BDC386433CEACA851040168C"
,
    "codespace": "sdk",
    "code": 2,
    "data": "",
    "raw_log": "expected 2 wire type, got 3: tx parse error",
    "logs": [
    ],
    "info": "",
    "gas_wanted": "0",
    "gas_used": "0",
    "tx": null,
    "timestamp": ""
  }
}

[2021-12-27 08:27] WinterNis commented on #8406
Hello. It’s really great that this has been implemented !
Do you know when we can expect a new release to be created (so we can start using release download instead of building from source ?)

[2021-12-27 09:38] atheeshp opened #10841 "setting `--max-msgs` along with `--generate-only` gives error"
ref: #9407

setting `--max-msgs` along with `--generate-only` gives a weird error: `Error: cannot use broadcast mode sync with max-msgs != 0`. Why would setting the max message have any impact on which broadcast mode you can use?!

[2021-12-27 13:45] alexanderbez commented on #10840
The signed tx is incorrect -- look at the `type`. You need to generate a proto-compatible tx. How did you generate this tx?

[2021-12-27 14:10] fulldiver-ilya opened #10843 "Unable to make 2 messages transaction with 2 signers"
## Summary of Bug

I want to implement 2 signers 2 messages transaction from a client via gRPC, but I always receive the same error:
[code]
`x` — is an account number of transaction composer and he is the first signer
`y` — is a correct chain-id of my node

## Version

cosmos-sdk v0.44.2

## Steps to Reproduce

### The flow is pretty simple:
**Alice** is a first signer and transaction composer
**B

[2021-12-28 01:00] lijixy commented on #10840
let tx={
	"tx": {
		"msg": [{
			type: 'cosmos-sdk/MsgSend',
			value: {
				amount: [ { amount: '1000', denom: 'uatom' } ],
				from_address: 'cosmos1dxk5359x7dpsc82ddjalp6lemxvrq4nsj370jj',
				to_address: 'cosmos1s4ghj3fr76c242qfslxandrwvshxh48w2z8ax2'
			}
		}],
		"fee": {
			amount: [{
				amount: '4000',
				denom: 'uatom'
			}],
			gas: '80000'
		},
		"signatures": [{
			"signature": "FxQ7V

[2021-12-28 01:04] lijixy commented on #10840
I generated the tx as

let tx={
 "tx": {
 "msg": [{
 type: 'cosmos-sdk/MsgSend',
 value: {
 amount: [ { amount: '1000', denom: 'uatom' } ],
 from_address: 'cosmos1dxk5359x7dpsc82ddjalp6lemxvrq4nsj370jj',
 to_address: 'cosmos1s4ghj3fr76c242qfslxandrwvshxh48w2z8ax2'
 }
 }],
 "fee": {
 amount: [{
 amount: '4000',
 denom: 'uatom'
 }],
 gas: '80000'
 },
 "signatures": [{
 "signature": "FxQ7V33BH+3anBou

[2021-12-28 06:25] fulldiver-ilya commented on #10843
And there is a related question to my flow described above.

**Alice** made a semi-signed transaction with **Bob**, and then **Alice** made another one with **Charlie**.
After some time, **Charlie** completes their transaction with **Alice**. Does it mean that **Bob's** transaction will always fail after that? Because **Alice's** sequence number increased with **Charlie's** transaction?

[2021-12-28 09:04] fedekunze commented on #10656
We'd like to include the following in the next release for Evmos mainnet launch:

- #10536
- #9627
- #10725
- #10393

We are currently using a fork of the SDK that includes these fixes, but we'd like to use a stable release if possible. Also not sure if @odeke-em's perf improvements have been considered for this release

[2021-12-28 10:57] marbar3778 commented on #10656
* [ ] [fix: enable setting sequence (nonce) for module account #10536](https://github.com/cosmos/cosmos-sdk/pull/10536) -> https://github.com/cosmos/cosmos-sdk/pull/10846
* [ ] [fix: nil pointer panic on `NewIntFromBigInt` #9627](https://github.com/cosmos/cosmos-sdk/pull/9627) -> https://github.com/cosmos/cosmos-sdk/pull/10845
* [x] [fix: populate ctx.ConsensusParams for begin blockers #10725](htt

[2021-12-28 13:17] fulldiver-ilya commented on #10843
## Update
### About main comment https://github.com/cosmos/cosmos-sdk/issues/10843#issue-1089268034

That was surprising for me (**my fault**) but `/master` branch contains a lot of stuff that not is included in 0.44.2
`DIRECT_AUX` for example, or `fee.payer`, etc. Never mind 🙈

When I rollback my client `*.proto` files to 0.44.2 I was forced to use `.legacyAminoJson`. After logging the result of

[2021-12-30 03:27] schnetzlerjoe opened #10853 "Sponsorships for new languages?"
## Summary

I was wondering if you guys have considered sponsoring adding additional languages for the Cosmos SDK? I am highly interested in building the SDK for use in Julia. I think that can open the ground to many developers (even pythonistas).

## Problem Definition

Building Cosmos SDK blockchains are limited to Go developers. Starport opened the gate to how many people are interested in buil

[2021-12-30 10:45] marbar3778 commented on #10828
This is done to avoid needing to compile every db into the binary.

you can install is like so `COSMOS_BUILD_OPTIONS=rocksdb ENABLE_ROCKSDB=true make install` something changed recently that makes it require the second flag

[2021-12-30 10:45] #10828 closed

[2022-01-01 14:28] iammelea opened #10855 "Validator crash CONSENSUS FAILURE!!! "proto: illegal wireType 7""
[code]
Logs when stop validating blocks without panic kill
[code]
then after  manual restart, cant recover

logs

[code]
____

## For Admin Use

- [ ] Not duplicate issue
- [ ] Appropriate labels applied
- [ ] Appropriate contributors tagged
- [ ] Contributor assigned/self-assigned

[2022-01-01 19:22] ValarDragon commented on #10838
Honestly I think sdk.AccAddress should be a struct, with a method for `GetBech32Address`, `GetRawAddress`, and some private fields for `raw_address` and `bech32_address` for caching purposes.

[2022-01-01 19:35] ValarDragon commented on #10811
Another reason to do this: Currently there is no module account just for the community pool. There is a module account for `distribution`, which contains both unclaimed validator commissions, and the community pool assets.

It'll give a better user-flow if folks can monitor the community pool on block explorers just like every other address. (e.g. in Osmosis, the distribution address has 46M osmo

[2022-01-01 22:02] alexanderbez commented on #10811
Agreed.

[2022-01-02 08:38] Terra854 commented on #10540
Any updates on this? It would be great if we can get this implemented by 0.45

[2022-01-02 13:25] marbar3778 commented on #10540
This will be included in 0.46 but not 0.45 which is slated for early January.

[2022-01-02 17:20] aaronc commented on #10811
We should probably sync discussion this with the ongoing gov refactor. /cc @cmwaters

[2022-01-02 17:58] tac0turtle opened #10856 "add back tx/encode endpoint"
## Summary

tx/encode endpoint was removed without a migration path given to many users. This has caused lots of trouble. It would be good to add an endpoint to grpc for tx/encode. This will help a lot with client interactions.

## Proposal

- [x] Add tx/encode to grpc services for proto encoding
- [ ] add new endpoint for amino encoding of txs  #13882

cc @ValarDragon

____

#### For Admin Use

-

[2022-01-03 01:33] Boobie84 opened #10857 "@alexanderbez"
@alexanderbez

_Originally posted by @YunL0ngLee in https://github.com/cosmos/cosmos-sdk/issues/3868#issuecomment-491499114_

[2022-01-03 03:09] ValarDragon commented on #10856
Please, this would be a great time saver for so many integrations

[2022-01-03 04:46] ValarDragon commented on #10538
It will use BaseAccount's SetSequence implementation due to the inheritance

[2022-01-03 05:27] Boobie84 opened #10858 "money"
## Summary of Bug

## Version

## Steps to Reproduce

____

## For Admin Use

- [ ] Not duplicate issue
- [ ] Appropriate labels applied
- [ ] Appropriate contributors tagged
- [ ] Contributor assigned/self-assigned
[hub-master.zip](https://github.com/cosmos/cosmos-sdk/files/7800525/hub-master.zip)

[2022-01-03 05:28] #10858 closed

[2022-01-03 10:25] cmwaters commented on #10811
Another idea that was brought up in the governance working group was to have the community pool just be the gov module account that way a community pool spend is just the gov account sending tokens to another account or module

[2022-01-03 13:18] #10857 closed

[2022-01-03 13:19] marbar3778 commented on #10471
its unclear if this will actually speed things up. I think we need to reevaluate how we do integration tests.

[2022-01-03 13:22] marbar3778 commented on #10446
we should reevaluate how integration tests are done, its unclear if we need to spin multiple tendermint instances in ci to test this. We could do a single node in integration tests making us able to get rid of the test-race jobs

[2022-01-03 13:43] amaurym commented on #10810
I thought event storage was cheap. I'm not sure saving a couple of bytes here is that useful, vs the mental overhead of clients needing to know they need to hash the sig.

[2022-01-03 13:51] reuvenpo opened #10859 "GRPC queries aren't running in parallel despite the note in the 0.44.3 release"
## Summary of Bug

[The release notes for v0.44.3](https://github.com/cosmos/cosmos-sdk/releases/tag/v0.44.3) mention that:

But my testing shows that this is not the case, and queries actually continue to run sequentially, rather than utilize all the available resources and run in parallel, even though I'm using a test chain with the latest version of the cosmos SDK (`v0.44.5`).

An example of ho

[2022-01-03 13:53] marbar3778 commented on #10810
This is a super small concern since now events are recommended to be streamed out of the node instead of saving it on the node.

[2022-01-03 14:08] #10548 closed

[2022-01-03 14:23] alexanderbez commented on #10859
@marbar3778 do you have any insight here? I thought we added a RW mutex to Tendermint in the ABCI layer recently, no?

[2022-01-03 14:42] robert-zaremba commented on #10855
Are you sure you are using the right `gaiad` version? Can you type `gaiad version`?

PS: I think this issue should be posted to https://github.com/cosmos/gaia/

[2022-01-03 14:45] robert-zaremba commented on #10853
Julia is an interesting language, I don't think it anywhere close to Go and Rust.
There is Rust SDK implementation (work in progress), and I think it's better to enforce that team rather than crating a new SDK in rather less popular language.
That being said, anyone is free to experiment!

[2022-01-03 14:45] alexanderbez commented on #10856
@amaurym do you have any insight here?

[2022-01-03 14:45] alexanderbez commented on #10810
It is :P

[2022-01-03 14:48] marbar3778 commented on #10859
Talked in slack but to reiterate, we reverted RWMutex in abc due to p2p issues. On top of this grpc shouldn't be routed through tendermint anymore but it seems it is or there is a mutex in abi holding things back. Based off the issue, by changing the tendermint ABCI mutex to RW it makes me assume its still being routed through tendermint still

[2022-01-03 14:49] robert-zaremba commented on #10838
@ValarDragon  there is a big refactor planned together with global bech32 removal.

The `Bech32*` functions require a config, so those will be rather some factory method

[2022-01-03 14:49] iammelea commented on #10855
**Are you sure you are using the right gaiad version? Can you type gaiad version?**

you can see it at the beginning of the issue version: v6.0.0

Is it correct?

**PS: I think this issue should be posted to https://github.com/cosmos/gaia/**

https://github.com/cosmos/gaia/issues/1137

[2022-01-03 14:53] robert-zaremba commented on #10838
@sunnya97 could you explain `bech32ibc` ?

[2022-01-03 14:54] amaurym commented on #10856
The old /tx/encode endpoint took as input a StdTx as JSON, and outputs new proto Tx's proto-binary bytes (as base64). Unfortunately we cannot do that anymore. The StdTx does not have a readable sequence, so we can't populate [this field](https://github.com/cosmos/cosmos-sdk/blob/59793e68fd7227c0ea31cf9456822dd566db4da7/proto/cosmos/tx/v1beta1/tx.proto#L160) in the proto tx.

We _could_ add a proto

[2022-01-03 14:57] marbar3778 commented on #10856
4 lines of code in go or js, python, etc as well?

for my use case I don't want to have any codecs on my client, I want to get the format of the message from grpc and be able to broadcast it. To do this currently my understanding is I need codecs of the proto messages.

[2022-01-03 14:59] amaurym commented on #10856
OK, sgtm, then adding an endpoint for proto tx JSON<->binary encodings sounds fine 👍 It should go in the [tx service](https://github.com/cosmos/cosmos-sdk/blob/59793e68fd7227c0ea31cf9456822dd566db4da7/proto/cosmos/tx/v1beta1/service.proto#L14).

[2022-01-03 15:09] robert-zaremba commented on #10856
Are we sure there are no hidden traps? Can we safely encode every message with standard JSON (not a proto-json) without missing anything? Before we were using Amino....

[2022-01-03 15:12] marbar3778 commented on #10856
I believe the json received in grpc reflection is Proto-json? @fdymylja could you confirm?

I would love this for 0.45 but also its not breaking so we could backport it(?)

[2022-01-03 15:18] sunnya97 commented on #10838
bech32ibc is primarily a modified bank keeper that allows sends to an address with a bech32 prefix different than the chain's native one, to automatically be converted to an IBC transfer to the right chain.  It's the implementation of the proposal started here:  https://github.com/cosmos/cosmos-sdk/discussions/9948

I'd like this to be better generalized, however, to be usable for things other tha

[2022-01-03 15:46] aaronc commented on #10838
I think there's maybe some mixing of separate concerns here. An AccAddress is primarily for x/auth to perform public key-like authentication so it is naturally prefix free - i.e. related to the pubkey not bech32. Having x/bank store balances for local (x/auth) and x/ibc addresses is a separate concern, and strings addresses already could be used for that if this is the desired solution (although I

[2022-01-03 15:53] amaurym commented on #10856
Yeah, as Marko said, that endpoint would handle proto json only. No std json, no amino json.

[2022-01-03 16:49] ebuchman opened #10861 "`tx sign` command output can no longer be piped to a file"
## Summary of Bug

I used to be able to write a signature to a file like:

[code]

But since upgrading to gaiad v6.0 (sdk v0.44), the output of the command is written to the terminal, and not to the file. I have to use `&> eb.json`  to write it to the file

## Version

v0.44.3

## Steps to Reproduce

Create a multisig tx, try to sign with the above command
____

## For Admin Use

- [ ] Not duplica

[2022-01-03 21:12] aaronc commented on #10811
I do question whether the community pool actually needs much more than a gov controlled address as @cmwaters is suggesting. Is there any need to protect it with invariants for instance? I'm not sure there's a good reason people shouldn't be able to send arbitrary coins to it.

[2022-01-03 21:15] aaronc commented on #10843
That's correct. The sequence number will increase.

Glad you have this figured out 👍 . Okay to close this issue now?

[2022-01-03 21:20] aaronc commented on #10853
I'm personally a big fan of Julia and think the language design is spot on in so many places. It is quite a significant effort to create a full SDK, however, and I think the right place to start would be just creating full-featured clients in Julia and other languages. Codegen is the first step I think (see #7717), but there are lots of other pieces like signing and cryptography that are needed.

[2022-01-03 21:43] schnetzlerjoe commented on #10853
@robert-zaremba That makes sense! Rust sounds great.

@aaronc Agreed. A good step would definitely be proto generation. I have done a little work on that myself and maybe can be something I can do fully. There is still work to be done on the Go SDK, especially on IBC, which I have dived into myself. Just wanted to broadcast the idea for the future once the SDK becomes more concrete.

[2022-01-03 22:14] karzak opened #10862 "Backport #10515 to v0.44"
## Summary of Bug

Using v0.44.5, I cannot currently migrate multisig threshold accounts from v0.39 to v0.44 - this is because #10515 has not been backported.

## Version
v0.44.5

## Steps to Reproduce

On v0.44.5, add a line after https://github.com/cosmos/cosmos-sdk/blob/33dbf6a795e68c744a2c312b76d41614b3563c01/crypto/keys/multisig/multisig_test.go#L430

[code]

The test will fail, because the `

[2022-01-03 22:17] webmaster128 opened #10863 "Proto representation of types.Dec unintuitive and inconsistent"
Right now, a `decimal` of type `types.Dec` is encoded in the protobuf API as `string(int(decimal * 10**18))` or `ascii(string(int(decimal * 10**18)))`. While this is straight forward and efficient once you know how decimals work, it's very unintuitive if you look at the output the API gives you, such as

![147768741-08da8a14-f49c-4d80-a192-3406ca231fde](https://user-images.githubusercontent.com/26

[2022-01-04 08:05] fulldiver-ilya commented on #10843
Yea, thanks, could be closed

[2022-01-04 08:05] #10843 closed

[2022-01-04 08:19] hxrts commented on #10853
There has been prior work on [javascript](https://github.com/nomic-io/lotion), [java](https://github.com/jTendermint/jabci), and [python](https://github.com/davebryson/py-abci) that's stagnated. The first app is about to be shipped with [rust](https://github.com/nomic-io/orga), [swift](https://github.com/CosmosSwift/swift-cosmos), not sure about [haskell](https://github.com/f-o-a-m/kepler). I'd li

[2022-01-04 08:21] #10853 closed

[2022-01-04 09:02] marbar3778 commented on #10855
closing in favour of [cosmos/gaia#1137](https://github.com/cosmos/gaia/issues/1137). countless other chains are running 0.44 with no issues.

[2022-01-04 09:02] #10855 closed

[2022-01-04 09:33] #9902 closed

[2022-01-04 10:36] robert-zaremba commented on #10838
I thought we can implement  #9948 as:
1.  a gov managed (or, in a simple version, managed through software upgrade) mapping of bech32 prefix -> IBC channels
2. update to the RPC Msg/Send (it would need to call IBC module if the receiver prefix is different then the chain prefix - with parameters queried using data from 1.) without changing the low level keeper interface.

[2022-01-04 11:17] robert-zaremba commented on #10471
It should speedup because it will cache the system.

[2022-01-04 11:21] flytzen opened #10864 "Support ObjectCreationHandling Serialisation Option"
## Summary

NewtonSoft.Json won't deserialise properties that have a default value, ie `public FieldClass SomeField { get; set; } = new FieldClass(0);`
See https://github.com/JamesNK/Newtonsoft.Json/issues/1675
The fix is to set the ObjectCreationHandling serialisation option to Replace - but this is not exposed in the SDK.

## Problem Definition
If a user stores an object in a property that alway

[2022-01-04 11:33] marbar3778 commented on #10047
This needs to land with 0.46 if we plan on including tendermint 0.35+ with it.

[2022-01-04 13:41] #10826 closed

[2022-01-04 14:25] #10533 closed

[2022-01-04 14:56] sunnya97 commented on #10838
@robert-zaremba this is what the bech32-ibc implementation does

However, my point is more just the notion that using prefix-free addresses through the SDK, especially in the bank module is messy because we're moving towards a world where the prefix is a meaningful information-carrying part of an address.

[2022-01-04 14:58] sunnya97 commented on #10838
@aaronc well AccAddress is used everywhere throughout the SDK, not just in auth.  For example, all the Bank Keeper's function interfaces use AccAddress as inputs.  I think we should still use a special type, not just a plain string, so that it can assert the validity of bech32 encoding for example.

[2022-01-04 15:37] aaronc commented on #10838
Either way there are still two separate types - address string (with prefix) and address bytes (without prefix). I have thought about adding a type alias for an address string and methods could use that instead of bytes.

[2022-01-04 16:02] aaronc commented on #10863
Oh no 😱. So I think this should basically classified as a bug. It appears that the proto JSON is to actually use a decimal place (i.e. `0.10000000000`), but the proto binary doesn't have a decimal place and does this weird encoding you're describing. This is both against the proto3 spec and unintuitive. I had never caught this previously because I was always looking at proto JSON which encodes thi

[2022-01-04 16:10] #10793 closed

[2022-01-04 16:34] cmwaters opened #10869 "gov: add migration functionality from v1beta1 to v1beta2"
## Summary

Update the `x/gov/migrations` package to migrate all old proposals and votes into the new formats.

____

#### For Admin Use

- [ ] Not duplicate issue
- [ ] Appropriate labels applied
- [ ] Appropriate contributors tagged
- [ ] Contributor assigned/self-assigned

[2022-01-04 16:37] amaury1093 opened #10870 "RegisterLegacyAminoCodec should error if Msg name is >39 chars"
## Summary

Make sure the Msg names (e.g. `cosmos-sdk/MsgSend`) are all < 40chars.

## Problem Definition

At regen, we found an occasion where we couldn't sign on Ledger because a custom Msg name was >=40 chars: https://github.com/regen-network/regen-ledger/issues/468. (Maybe it's [this const](https://github.com/cosmos/ledger-cosmos/blob/6c194daa28936e273f9548eabca9e72ba04bb632/deps/ledger-zxlib/

[2022-01-04 17:04] amaurym commented on #10864
I don't understand this issue. What changes in the codebase are you proposing?

[2022-01-04 17:11] aaronc commented on #10864
I think this was opened in the wrong repo

[2022-01-04 17:13] webmaster128 commented on #10863
Thank you for your understanding and support on that issue, Aaron!

Same here

Sounds plausible

The string is more beginner friendly for sure. Also in many cases dev's don't bother about the difference between decimals and floats. And it is probably okay for a lot of use cases such as displaying a rounded inflation rate.

I was kindof leaning towards the struct to create a hard type break that hu

[2022-01-04 17:25] webmaster128 commented on #10863
In https://github.com/cosmos/cosmjs/pull/969/files you see `function decodeCosmosSdkDecFromProto(`, which takes any of the two possible proto representations and decodes it. This can easily be changed to accept a 3rd encoding. So decoding many different representations is not that hard once you realized it is a Decimal.

[2022-01-04 18:59] ebuchman opened #10875 "`keys list` with `keyring-backend=os` requires you to enter your password once per key :o"
## Summary of Bug

It appears that trying to run `keys list` with `keyring-backend=os` requires you to type in your computers master password once for every key you have.

I always felt the OS backend was a bit under developed. I get that it's a nice idea to use the built in keyring system but having to enter your master password to use the tooling by default seems like an anti-pattern, and having

[2022-01-04 19:04] aaronc opened #10876 "x/gov & x/group proposal IDs could be spoofed by UIs"
## Problem

Currently proposal IDs are just auto-assigned integers. A UI could should the wrong proposal content and a user could vote on it without knowing they are voting for the wrong thing. This could be mitigated by lite client proofs in the UI, but currently these aren't well-supported. This could especially be an issue when x/group is used as a multisig.

## Possible Solutions

The most obv

[2022-01-04 19:11] aaronc commented on #10863
For the new SDK decimal type, my thinking was to allow users to choose what precision they do calculations with and store as an arbitrary precision string.

In what use cases do people actually need a decimal value that can't fit into a uint128? That would be a _very_ big number and I'm not sure where 18 decimal digits would still be useful?

One hacky solution could be to parse any decimal string

[2022-01-04 19:11] flytzen commented on #10864
I am so sorry!! Wrong repo indeed.

[2022-01-04 19:12] #10864 closed

[2022-01-04 19:12] ebuchman opened #10877 "Can't find keys with os backend after upgrade to gaia v6"
## Summary of Bug

After upgrading to gaia v6 (SDK v0.44) I can't find my keys.

Using `gaiad keys list` with `keyring-backend=os` I have a long list of keys. But then after installing the gaiad v6 if I run `gaiad keys list` the list is empty, and I don't even get prompted for my password.

Did something happen with `keyring-backend=os` ?

## Version

v0.44.3

## Steps to Reproduce

Have a bunch o

[2022-01-04 20:20] fedekunze commented on #10875
I've experienced this issue as well. It's super annoying

[2022-01-04 21:55] robert-zaremba commented on #10047
The support for tendermint v0.35 is already there (including migration support). This feature extends what we already have in `master`, and it's not necessary for Tendermint v0.35 migration.

[2022-01-04 22:04] robert-zaremba commented on #10838
So, for proof of concept, of having a bigger type containing both an IBC ID (eg: bech32 prefix, channel ID...) and the address bytes, do you have an idea where we can use it to experiment? Currently in SDK, it seams that all keepers are happy with bytes only (AccAddress).

[2022-01-04 23:03] ValarDragon commented on #10811
People should imo be able to send arbitrary coins to it. I believe the current FundCommunityPool message only exists because the community pool is managed as a subset of the distribution module account atm

[2022-01-04 23:11] webmaster128 commented on #10863
Okay, so I guess the important question is if you ever want to support math with mixed exponents. E.g. if you do `Decimal { amount 123, exponent: 3 } + Decimal { amount 4567, exponent: 6 }`, what exponent will the result have. Do you truncate information at the back? Do you risk overflows in the front? I'd only support math between Decimals of the same exponent value.

Defi stuff I understand very

[2022-01-04 23:24] robert-zaremba commented on #10446
We want `test-race` jobs - they are needed to test race conditions.

[2022-01-05 00:07] aaronc commented on #10863
Hmm... I think we would just do the normal thing that GDA specifies and work with different exponents and specify a rounding precision and flags. We should require that inputs adhere to a precision limit (we do this in the regen-ledger credits module using a GDA implementation), but intermediate calculations may mix exponents depending on how the decimal library represents things.

[2022-01-05 05:59] gsk967 opened #10881 "Failed to Reset the application data wtih cli cmd `unsafe-reset-all`"
## Summary of Bug
Unable to reset the application data with cli cmd `unsafe-reset-all`
[code]

## Version
latest master
074c95bdbf5491dfb439618ca117b10d5c4fbb9a

## Steps to Reproduce
[code]

[code]
____

## For Admin Use

- [ ] Not duplicate issue
- [ ] Appropriate labels applied
- [ ] Appropriate contributors tagged
- [ ] Contributor assigned/self-assigned

[2022-01-05 07:26] fedekunze commented on #10832
would be great to include it in v0.45

[2022-01-05 08:54] #10565 closed

[2022-01-05 09:56] marbar3778 commented on #10446
yea but they are needed cause half of the tests would throw false positives for the race detector. If we got rid of the false positives then we can run everything in race mode

[2022-01-05 10:00] marbar3778 commented on #10047
oh okay, it was my understanding it was not supported. If this was supported we should of tried to get this out in 0.45. Is it tested?

[2022-01-05 10:31] amaurym commented on #10876
Is the threat model here a malicious UI, but signing still done on a trusted device like Ledger/Keplr?

1. if we do hash, the malicious UI can show the correct proposal hash, but malicious contents that don't match the hash. The user will never check the hash themselves match (or to paraphrase Juan: it's useless to put hashes on signing screens).
2. if we do light client, the same attack can happe

[2022-01-05 11:40] #10563 closed

[2022-01-05 14:17] i-norden commented on #10517
Closing as this is a duplicate of https://github.com/cosmos/cosmos-sdk/issues/10803, I moved any details here that are missing there over.

[2022-01-05 14:17] #10517 closed

[2022-01-05 14:24] i-norden commented on #10192
Closing as all remaining tasks are tracked in this child issue: https://github.com/cosmos/cosmos-sdk/issues/10804

[2022-01-05 15:06] robert-zaremba opened #10886 "State sync: use native DB export - stream - import"
## Summary

Optimize the state snapshot sync by streaming native DB exports.

## Problem Definition

Cosmos apps have massive growth, and the state is getting too big to efficiently sync using a naive iterator, where we:
+ iterate over key-value pairs and stream the over in batches
+ receive and decode key-value pairs and iteratively save them to the store

## Proposal

1. Use native DB export
2.

[2022-01-05 17:29] alexanderbez commented on #10489
I'm not sure we should even bother. What's the rationale behind that?

Also, why do we need to touch x/params at all?

[2022-01-05 21:21] aaronc commented on #10876
Thanks for that analysis @amaurym 👍 .

So I think having slugs is not a bad idea in general. I wonder if @hxrts has any thoughts?

It seems, however, that the only thing that would really solve this for the Ledger is something like "links" where the signing UI actually shows the proposal content.

I would say that a hash probably isn't totally useless if there is some trust model with the UI, whic

[2022-01-05 22:32] #10604 closed

[2022-01-05 22:43] aaronc commented on #10853
The area where it seems to me like Julia could really shine is if one were to use it as the host for some novel smart contract language where runtime evaled Julia itself is the intermediate language. There's a fair amount of complexity in directly targeting a low-level VM like WASM or LLVM and all kinds of FFI calls and sandboxing needed. Seems like one thing that Julia does well is have an amazin

[2022-01-06 00:55] schnetzlerjoe commented on #10853
@aaronc Agreed! CosmWasm + Julia is definitely something to be done and it's something I want to integrate into a chain me and a team have been building. But it's definitely down the road.

[2022-01-06 09:24] cmwaters opened #10896 "cosmovisor: unable to set a different home than the default"
## Summary

I am trying to run cosmovisor (version 1.0.0) with a home path that isn't the standard one (i.e. /home/{user}/.{chain}) however when trying to check the version with the command: `cosmovisor version --home /mnt/HC_Volume_15959817/.osmosisd/`, I get the following output:

[code]

It seems that the configuration is all valid but it's looking in the default location for the binary not rea

[2022-01-06 13:15] #10881 closed

[2022-01-06 15:31] blushi commented on #10655
After discussing this with @nooomski, we came to the following conclusion:
- we should add a new msg `MsgCreateGroupWithPolicy` to address this
- this new msg should have a boolean field `GroupPolicyAsAdmin`, if set to true, that would update also the admin of the newly created group and group policy to the group policy address itself

[2022-01-06 15:38] nooomski commented on #10655
Thanks @blushi ! 🙏

[2022-01-06 16:29] #10668 closed

[2022-01-06 23:00] aaronc commented on #10731
Done in #10669

[2022-01-06 23:00] #10731 closed

[2022-01-07 00:11] hxrts commented on #10876
I kind of like being able to know the proposal sequence due to explicit enumeration and as you say slugs don't really solve the problem. I think the hashing method is simple and straightforward. A long textual output is going to be hard to confirm on the ledger anyway, with a hash you could do so pretty quickly. Definitely something we should fix but pulling off a governance attack with this would

[2022-01-07 09:58] blushi opened #10905 "Add units tests for msgs in group module"
## Summary

We currently don't have any `msgs_test.go` for testing the `ValidateBasic()` methods of group module msgs. We should add some.

____

#### For Admin Use

- [x] Not duplicate issue
- [x] Appropriate labels applied
- [ ] Appropriate contributors tagged
- [ ] Contributor assigned/self-assigned

[2022-01-07 11:41] amaurym opened #10907 "Fix Amino backwards compatibility due to proto JSON tags changes"
## Summary of Bug

We removed jsontags from proto files in #10598. Make sure it doesn't break Amino signing, and state is migrated.

ref: #10860

## Version

after #10598

## Places to look for

- Proto message that can be used in SIGN_MODE_LEGACY_AMINO_JSON should have their GetSignBytes output the same
  - https://github.com/cosmos/cosmos-sdk/pull/10860#discussion_r778188914
  - https://github.c

[2022-01-07 12:01] robert-zaremba opened #10908 "Fail early to consume gas if a user doesn't have enough balance"
## Summary of Bug

This is the highlevel overview of how the fee processing works today in `DeliverTx`:

1. When processing a transaction, we consume gas in middlewares and msg handlers
2. Gas is translated into fees, and fees are paid in https://github.com/cosmos/cosmos-sdk/blob/5d86db3/x/auth/middleware/fee.go#L191 . However:
    * if a user doesn't have enough balance, he won't pay anything

[2022-01-07 14:19] amaurym commented on #10908
i'm a bit confused tbh, because my understanding of your proposal is what we currently do.

- "set at the very beginning the max amount of gas we can use": [ref](https://github.com/cosmos/cosmos-sdk/blob/0cb7fd081e05317ed7a2f13b0e142349a163fe4d/x/auth/middleware/gas.go#L96), which is a top middleware.
- "early fail the TX if we use more gas": GasMeter panics, which means we fail as early as possib

[2022-01-07 14:23] amaurym commented on #10908
However, I do agree that if the user does not have enough balance to pay for fees, we should still charge the user something.

[2022-01-07 15:03] alexanderbez commented on #10908
the problem is that we will waist resources and user won't pay anything for that

I fail to see how this is a problem really? This check happens during `CheckTx` and doesn't cost much in the grand scheme of things.

I don't see the issue here.

[2022-01-07 16:13] ethanfrey commented on #10656
So the only real blocker here is merging #10770 right?

I see https://github.com/cosmos/cosmos-sdk/issues/10281 which is important but don't see a pr for it on master

[2022-01-07 16:32] robert-zaremba commented on #10908
The issue is not related to `CheckTx` but to `DeliverTx` phase. Sorry if that was confusing, in the issue I was trying to say that in `CheckTx` we do the necessary checks, but later, in edge cases, we don't charge the user correctly. I'm going to rephrase that in the issue.

[2022-01-07 16:36] robert-zaremba commented on #10908
@amaurym  gas meter panics when we go above the gas limit. But there is another limit we don't check: user balance to pay for the gas.

[2022-01-07 17:52] robert-zaremba opened #10910 "Cosmovisor fetch-upgrade command"
## Summary

User case: node operator will use cosmovisor to prepare everything in advance for the next upgrade which is accepted:
* download binaries
* verify checksum

The command should print:
* upgrade name
* upgrade time

____

#### For Admin Use

- [x] Not duplicate issue
- [x] Appropriate labels applied
- [x] Appropriate contributors tagged
- [x] Contributor assigned/self-assigned

[2022-01-07 17:57] robert-zaremba opened #10911 "Cosmovisor v1.1 QA"
## Cosmovisor v1.1 Readiness Checklist

- [ ] pre-release end-to-end test:
    - start a chain based on v0.44
    - create a proposal with a binary based on `master` - which uses Tendermint 0.35
    - use backup option in cosmovisor
    - see if the `app pre-upgrade` command will take off and the backup was created
- [ ] https://github.com/cosmos/cosmos-sdk/pull/10460

[2022-01-07 18:15] robert-zaremba commented on #10908
Maybe, during this task, we should consider implementing "not used feed" (fee we paid for not used gas) return?

[2022-01-07 18:16] robert-zaremba commented on #10656
#10770 can come in a patch release.

[2022-01-07 18:17] robert-zaremba commented on #10656
#10281 can come in a patch release.

[2022-01-07 18:31] robert-zaremba opened #10913 "Remove duplicated test runs in "no race" mode"
## Summary

Today, with `test-unit` we run tests which are run in `test-race`. So we duplicate test runs.

## Proposal

When running tests in CI:
* run all race tests
* run other tests which were not run with race tests (to not duplicate test runs).

____

#### For Admin Use

- [x] Not duplicate issue
- [x] Appropriate labels applied
- [ ] Appropriate contributors tagged
- [ ] Contributor assigned

[2022-01-08 12:54] Floh1234 commented on #8469
I still have this problem.
The replace line is already in every go.mod File but GO still wants to import the gogo protobuf.
please help

[2022-01-08 16:17] faddat opened #10915 "Building a chain off of SDK master - can't find db module"
Hi,

For Craft, we'd like to use /x/nft and /x/groups and investigate some of the new db / orm functionality that's included at the tip of this repository-- regardless of its exact version.

In the process of testing things out, we've run into this:

[code]

Now, I've used a replace like:

https://github.com/notional-labs/craft/blob/a23b3dc34779ee6e5b241452fecf7e859b8f3809/go.mod#L122-L127

But it

[2022-01-08 17:51] marbar3778 commented on #8469
can you link to your go mod?

[2022-01-08 19:35] kardolus opened #10916 "Invalid validator-addresses returned by rest endpoint: validatorsets/latest"
## Summary of Bug

Hi there, perhaps I'm misunderstanding the intended behavior in which case I apologize in advance! :)

I'm trying to get an insight into the assets under management from certain validators. The endpoint I'm hitting is:
[code]
The returned payload contains addresses in this format:
[code]
This format is not a valid validator address. Is this a bug or is this something I can fix w

[2022-01-08 20:37] alexanderbez commented on #10908
@robert-zaremba this might interest you: https://github.com/cosmos/cosmos-sdk/issues/2150

[2022-01-08 20:43] alexanderbez commented on #10916
**It is** a valid validator address. Specifically, it's the Tendermint consensus address of the validator. Tendermint doesn't know about operator addresses, nor does it need to. And I presume this is what you're actually looking for, e.g. `cosmosvaloper1...`?

If so, you're using the wrong endpoint. You want to use the application's staking gRPC endpoint: `/cosmos/staking/v1beta1/validators`

[2022-01-08 20:43] #10916 closed

[2022-01-08 20:47] aaronc commented on #8469
I think we should just update the go module path for the regen fork so we don't need a replace directive

[2022-01-08 21:27] kardolus commented on #10916
@alexanderbez thanks for helping out! Yes, those are the addresses I am looking for. I was hoping that I could get the assets under management of a validator at a specific block height. With the knowledge I have now I assume that's not possible. I will create my own time series database instead.

Thanks again!

[2022-01-09 02:19] alexanderbez commented on #10916
You can. You can get any state any height on the current version of the application. You just need to pass `x-cosmos-block-height` as a header. You also have to query against an archive node.

This is all outlined in various documentation btw 👍

[2022-01-10 00:45] ValarDragon opened #10917 "Make a slash governance proposal"
## Summary

There should be a governance proposal type to slash a validator. It would specify `slash_percentage` and `validator address`.

## Problem Definition

This has a number of use cases. It allows blockchain communities to codify social standards that validators have to adhere to, and in the event they are 'caught' by the community, it allows them to slash them on-chain. (Without needing a

[2022-01-10 07:52] atheeshp opened #10919 "`make proto-all` failing"
## Summary of Bug

[code]

## Version
master

## Operating System
ubuntu

## Steps to Reproduce

____

## For Admin Use

- [ ] Not duplicate issue
- [ ] Appropriate labels applied
- [ ] Appropriate contributors tagged
- [ ] Contributor assigned/self-assigned

[2022-01-10 07:55] atheeshp commented on #10919
There is already an open PR, closing this.

[2022-01-10 08:46] RiccardoM commented on #10712
Are there any updates on this?

[2022-01-10 11:25] faddat commented on #10915
Thanks for the rename @ValarDragon.  We spent pretty significant time on this.

[2022-01-10 14:43] aaronc commented on #10915
Tags need to be of the format `db/v0.1.2`. I'm not sure db has been tagged on master yet but should be. @robert-zaremba ?

[2022-01-10 16:15] aaronc commented on #10712
What is the reason it breaks?

[2022-01-10 17:09] alexanderbez commented on #10917
I would agree we'd need higher quorums on this type of a proposal, but in general, I think it's a neat idea 👍

[2022-01-10 18:54] marbar3778 commented on #10913
do you think its worth rethinking how we do integration tests instead of this? I don't think we need multiple instances of tendermint in tests?

[2022-01-10 19:16] alexanderbez commented on #10913
There are many circumstances where we need multiple validators to effectively test certain cases. So I don't enforcing a single validator is a viable option.

Also, the race condition comes from the fact that we can run multiple _integration_ tests at once, not multiple _validators_ at once.

[2022-01-10 21:25] aaronc opened #10924 "Document multi-module best practices and usage"
As we switch to a more multi-module repo. We will need to have clear documentation on best practices for working with sub-modules. Things are not obvious, for example see #10915.

Things that need be clear as best practices for developers:
* tagging based on https://github.com/golang/go/wiki/Modules#faqs--multi-module-repositories
* updating dependencies (#10901 can help)
* when to use replace (us

[2022-01-10 21:26] aaronc commented on #10915
This FAQ may be useful: https://github.com/golang/go/wiki/Modules#faqs--multi-module-repositories. I also opened #10924

[2022-01-10 21:28] aaronc opened #10925 "Rename github.com/gogo/protobuf fork to github.com/cosmos/gogoproto"
Needing the replace directive in go.mod is confusing and a barrier to entry. We should just go to the fork and rename everything. It will be painful, but we'll only need to do it once and it will be done for posterity's sake. It may be a while before we can fully deprecate gogo because we want to allow the pulsar migration to be incremental, especially for 3rd party modules.

[2022-01-11 04:41] zmanian commented on #7340
IMO this is a blocker for Cosmwasm on the Hub so needs to be a near term priority

[2022-01-11 07:55] robert-zaremba commented on #10913
Integration tests should be refactored anyway (there is too much boilerplate).
I think we should use race tests whenever possible. There is no need to duplicate test runs if a test was already executed in the 'race' mode.

[2022-01-11 08:52] robert-zaremba commented on #10924
We need to:
1. update instructions for starting building a new chain / app
2. check with starport team
3. verify if depend bot works in a multi-module setup and add recommendation to use it.

simapp should work, right?

[2022-01-11 08:56] #9900 closed

[2022-01-11 09:29] robert-zaremba commented on #10915
We can tag db/v0.1.0 and see if this will work.

[2022-01-11 09:52] marbar3778 commented on #10913
interestingly enough the issue is with goleveldb. We are using it in a concurrent way but goleveldb is purposefully meant to not do this.

I think there is a way to avoid this, but need to dig into the repo.

[2022-01-11 10:02] yihuang commented on #7340
we can pick this up if no one else already working on it.

[2022-01-11 10:12] ethanfrey commented on #7340
If someone understands hooks in the SDK and will own adding more support, I will happily have a call with them and own the wasmd side of this.

[2022-01-11 10:18] yihuang commented on #7340
AFAIK, wasmd has a separate kv-store of `code-hash -> code`, `code-hash` is referenced somewhere in iavl state, right? So I think after the snapshot is restored, we should also re-validate all the code hashes.

[2022-01-11 10:21] #10769 closed

[2022-01-11 10:23] webmaster128 commented on #7340
Exactly. The codes (Wasm blobs) are plain files on disk with their checksum as the file name.

This is possible but not necessary. Every time a code is loaded from disk, its content is hased and checked against the expected checksum. This gives you data integrety at usage time and protects against any sort of corruption during the lifetime of the node.

[2022-01-11 10:32] yihuang commented on #7340
Great.

[2022-01-11 10:34] webmaster128 commented on #7340
That being said, there might be value in failing fast when data is corrupted instead of surprises at some point down the road when a contract is used the first time after a long time. But IMO that is nice-to-have compared to the base functionality.

[2022-01-11 10:47] faddat commented on #10915
thanks to all.  We'll see how it goes and report back.

[2022-01-11 11:03] yihuang commented on #7340
I think we can still have snapshot checksum to prevent transmission corruption, it's just can't detect malicious corruption.

[2022-01-11 11:13] marbar3778 commented on #7340
sdk team does not have capacity at the moment. It would ideal to have this come in from the community

[2022-01-11 11:23] ethanfrey commented on #7340
CosmWasm details:

This gives you the wasm byte code given a codeID
https://github.com/CosmWasm/wasmd/blob/52477ead36e0f381e0c92bdd097a3ef8d2922356/x/wasm/keeper/keeper.go#L728-L737

You can iterate over all codeIDs with this call: https://github.com/CosmWasm/wasmd/blob/52477ead36e0f381e0c92bdd097a3ef8d2922356/x/wasm/keeper/keeper.go#L715-L726

Note that the code is stored on disk and indexed by h

[2022-01-11 11:26] ethanfrey commented on #7340
It may be a nice performance improvement to zip the code before sending, as we do in the transactions (this is about 66% reduction of size).

Once received on the other side, we can unzip and store it in the wasmVM:  https://github.com/CosmWasm/wasmd/blob/52477ead36e0f381e0c92bdd097a3ef8d2922356/x/wasm/keeper/keeper.go#L166-L175

No need to update ContractInfo (which was already hashed). Calling w

[2022-01-11 11:28] ethanfrey commented on #7340
The principal interface we expose is to pass the code into the disk and hash it there. The hash (filename) will always match the hash of the code data.

Whether all CodeHashes referenced by all CodeInfo objects have been properly synced is something we could check at the end, but we don't necessarily need to do the reverse - check each synced byte code to see if some CodeInfo references it

[2022-01-11 12:29] robert-zaremba commented on #10915
`v0.0.0` should work as well. I've made a PoC: https://github.com/robert-zaremba/test-go-v0

Before tagging v0.1.0 I want firstly to see if we can merge: https://github.com/cosmos/cosmos-sdk/pull/10927

[2022-01-11 13:49] robert-zaremba commented on #7340
Please, go for it :+1:

[2022-01-11 13:51] robert-zaremba commented on #7340
@ethanfrey , @yihuang  - one of the goals of this task is to design firstly the interface for store hooks.

[2022-01-11 14:16] robert-zaremba commented on #10047
We don't need it in 0.45. We need it for 0.46 which will be tagged from `master.
related issue: https://github.com/cosmos/cosmos-sdk/issues/9973

[2022-01-11 14:17] barriebyron opened #10928 "docs bug: {hide} tag shows on master for Cosmos SDK > Core Concepts > Next {hide}"
## Summary of Bug

on the master version of the Cosmos SDK docs, the {hide} tag is incorrectly revealed in the page title, navigation, and sidebar

https://docs.cosmos.network/master/core/store.html

![image](https://user-images.githubusercontent.com/10067215/148958732-ba952d58-8c85-470c-8cb6-4ca28779c8b8.png)

## Steps to Reproduce

go to https://docs.cosmos.network/master/core/store.html

the {h

[2022-01-11 14:19] robert-zaremba commented on #10853
IIRC, JIT warmup is significant. Smart contract calls are usually very short. One of the things which is usually more important than fast JIT is fast code loading and caching.

[2022-01-11 15:09] ismyhc commented on #5228
Hi @alexanderbez following along on this proposal, I was implementing your solution to setting custom bond denom.

My goal is to have a single token denomination that handles all staking/gov etc. Ive achieved this by following your solution, but there's one thing Im not quite sure about and its how the gov module is instantiated in the ModuleBasics.

Here's what my ModulesBasics looks like

[code]

[2022-01-11 15:22] #10905 closed

[2022-01-11 16:52] alexanderbez commented on #5228
Yes, good question. You can see how it's done here:

- https://github.com/umee-network/umee/blob/main/app/app.go#L134
- https://github.com/umee-network/umee/blob/main/app/app.go#L746
- https://github.com/umee-network/umee/blob/main/app/modules.go#L102-L115

[2022-01-11 16:59] amaurym commented on #10919
on macos, I actually have a different error:

[code]

[2022-01-11 18:44] ismyhc commented on #5228
Perfect. Thank you!

[2022-01-11 18:48] yihuang commented on #7340
what is store hooks?

[2022-01-11 18:55] robert-zaremba opened #10931 "remove tendermint/tm-db and use cosmos/db"
## Summary

github.com/tendermint/tm-db is deprecated, and we moved to cosmos/db

____

#### For Admin Use

- [x] Not duplicate issue
- [x] Appropriate labels applied
- [x] Appropriate contributors tagged
- [x] Contributor assigned/self-assigned

[2022-01-11 18:57] williambanfield commented on #10831
Thanks @alexanderbez
Currently we are going to be adding 2 new parameters: `Synchrony.MessageDelay` and `Synchrony.Precision`
They're present the `wb/proposer-based-timestamps` branch of the spec repo: https://github.com/tendermint/spec/blob/wb/proposer-based-timestamps/proto/tendermint/types/params.proto#L70-L75

[2022-01-11 19:02] yihuang commented on #7340
is it possible to create a consistent snapshot at a certain block height with this structure? because snapshot is created asynchronously. Or we have to snapshot the modules in a blocking way?

[2022-01-11 20:12] ethanfrey commented on #7340
The problem here is that many people want this feature, yet no one seems to own the sdk part.
There is no capacity in the core sdk teams for it.
@zmanian seems to be the only person with knowledge of how the sdk state sync hooks are defined.

Maybe he can set up a training session for us (and ideally have someone dedicated to the generic sdk part).
Like I said, when that is set up, I am happy to i

[2022-01-11 20:14] ethanfrey commented on #7340
There is no need for a snapshot. CodeInfo is immutable (we only add them) and the Wasm byte code is never deleted as well. There is no need for historical data.

[2022-01-11 21:18] sunnya97 commented on #10875
Yes, this is a big issue for testing purposes especially

[2022-01-11 21:21] ismyhc commented on #5228
@alexanderbez sorry to bug you again, but Im having a hard time wrapping my head around a couple of things and also if this is the wrong place, please let me know where I can discuss this.

I've been looking at this: [https://docs.cosmos.network/master/architecture/adr-024-coin-metadata.html](https://docs.cosmos.network/master/architecture/adr-024-coin-metadata.html)

Which seems too still only be

[2022-01-11 21:38] marbar3778 commented on #10931
Woah why? It's deprecated as far as the sense it's deprecated in the cosmos-sdk. We shouldn't create more forks as it will confuse people. Where was this discussed?

[2022-01-11 22:13] aaronc commented on #10931
But cosmos-sdk/db doesn't support all the existing store types like leveldb right? This is a huge breaking change. Don't think we can do this

[2022-01-11 22:15] aaronc commented on #10931
Closing this as this isn't something we can do. Leveldb is the default right now as far as I know. This would break everything

[2022-01-11 22:15] #10931 closed

[2022-01-11 22:17] robert-zaremba commented on #10931
The  goal was to use cosmos-sdk/db instead, not to make another fork.

Yes, valid point.

[2022-01-11 22:17] aaronc commented on #10919
You have an outdated version of buf @amaurym. I will make a PR to separate out the new codegen from the old codegen

[2022-01-11 22:18] marbar3778 commented on #10931
Oh I thought you forked tm-db into something called db. Didn't realize you meant cosmos-sdk/db

[2022-01-11 22:18] aaronc commented on #10931
But it's a different storage layer entirely. We can't just break everything

[2022-01-11 22:21] aaronc commented on #10919
Actually this is blocked on #10894

[2022-01-11 22:22] aaronc commented on #10919
We basically need a docker image with the latest buf to use docker. Otherwise, just install the latest buf locally and it should work

[2022-01-11 22:29] #10915 closed

[2022-01-11 22:50] alessio commented on #5228
Any comment on this? Developers _must be fully aware of they what they do_. If they ain't. then it does not even resemble a problem to us.

Kindest Regards.

    AT

[2022-01-11 23:22] robert-zaremba commented on #7340
The snapshot checksum is in fact the app hash. In the state sync we are using a checksum for chunks.

[2022-01-11 23:37] sunnya97 opened #10932 "Add proposer address to governance proposal"
## Summary

When we first created the x/gov module, we chose to purposefully not store the proposer in a governance proposal under this high-minded idealism that "when evaluating a governance proposal, the proposer should not matter, only the content".

However, in practice, we've seen that basically every single block explorer has chosen to prominently display the proposer, fetching it from the t

[2022-01-11 23:57] robert-zaremba commented on #7340
I was reviewing the snapshot sync functionality in the past and was drafting few ideas in the past meetings. So I can offer a help with the design (or do it)  next week.
We must have a universal interface for a module, to offer snapshot sync data. It should be compatible with https://github.com/cosmos/cosmos-sdk/blob/master/snapshots/types/snapshotter.go. So something like:
[code]
Then snapshots a

[2022-01-12 00:00] robert-zaremba commented on #7340
The Snapshotter interface above would be an example of a snapshot plugin / hook.

[2022-01-12 00:15] robert-zaremba commented on #10915
@faddat  `db/v1.0.0-beta.1` is tagged

[2022-01-12 01:35] ismyhc commented on #5228
So, I think I understand this now after digging in some more. This metadata is more just a hint for extra info on how its base token can be displayed, divided, etc. For example, in wallets and other front ends.

Id love to see a better explanation of this honestly. Seems like setting up the base gov/staking token is one of the most important things one would do when starting a new chain.

Let me k

[2022-01-12 09:54] marbar3778 commented on #10875
This has come up a few times since this feature landed in the sdk. It has been a problem with the amount of times you enter the password.

[2022-01-12 09:57] marbar3778 commented on #10025
yes! would you make the required changes?

[2022-01-12 10:29] fdymylja opened #10933 "proposal: add a new MessageOption extension in signing to mark messages expected signers."
## Summary

This proposes to add a new google.protobuf.MessageOption extension in signing which can be used to mark an sdk.Msgs expected signer in a language agnostic way.

## Problem Definition

The `GetSigners` method of a message depends on the golang implementation. This means that multichain dynamic clients cannot make use of this information and need to manually populate a TXs authentication

[2022-01-12 10:38] amaurym commented on #10933
Thanks! This is a great addition, I love this. This should make client development easier (ccing @webmaster128 for fyi).

Could you also write down how required_signers would look like in that case?

Also: why is this extension in cosmos, and not in cosmos_proto?

[2022-01-12 10:43] webmaster128 commented on #10933
Great stuff, thanks a lot for pushing this! Right now we somehow expect the user to know who needs to sign a message or build UIs where only the correct person can sign due to limited message support. Great to see this information in the proto file.

[2022-01-12 11:00] fdymylja commented on #10933
thank you for the feedback @amaurym.

Although I have no strong opinion in where the extension definition should be, I think signing is a better fit for two reasons:
1. I intended cosmos_proto as encoding/decoding information.
2. Tying this to signing feels more right because it is strictly related to how we sign things **right now** (emphasis on right now), and this extension will eventually evol

[2022-01-12 11:35] faddat commented on #10917
**Dislike: provisions for cotenancy and hosting cos that do the ops for many validators**

I honestly do not think that the white-label shops are deserving of protection, particularly if they boast of running * validators on * networks from the same kube cluster.

It isn't safe and is worthy of the slash imo.

Validators run nodes.....  Unless we want validation to devolve into a purely political

[2022-01-12 11:43] faddat commented on #10932
This makes sense.

Additionally, the proposer does matter:

I take a proposal from someone I know much more seriously than one from a throwaway wallet loaded with only enough to make a deposit.

[2022-01-12 11:44] marbar3778 opened #10936 "custom config.toml"
## Summary

There is no way to add custom defaults to the config.toml without forking initCmd. Similar to custom app.toml we should introduce a way to add custom config.toml settings.

## Problem Definition

custom config.toml requires forking initcmd

## Proposal

similar to custom app.toml work we introduce a way to change defaults but not add things to the config of tendermint.

____

#### For

[2022-01-12 11:44] faddat commented on #10915
Thanks @robert-zaremba!

Well-closed indeed :).

[2022-01-12 12:06] amaurym commented on #10919
Yes, updating to buf v1.0.0-rc10 fixed it for me.

[2022-01-12 12:10] RiccardoM commented on #10712
What do you mean? I've detailed out everything inside the issue description. Do you need something else?

[2022-01-12 13:53] yihuang commented on #7340
One issue is current `Snapshotter` interface are dealing with chunks directly, snapshotter will handle the chunking and compression internally, when we have multiple `Snapshotter`s, I think they should share the chunking and compression, and only deal with a uncompressed binary stream?

[2022-01-12 14:12] mojtaba-esk opened #10937 "It seems like protobuf v1.3.3 does not exist anymore"
Hi,

It seems like `protobuf v1.3.3` does not exist anymore, and so I cannot use the client module of the SDK due to that.
https://github.com/cosmos/cosmos-sdk/blob/b0190834c3d975eb49ad15faa2f28ed8b9eb55b4/go.mod#L21

[code]

and the latest version is v1.3.2
https://github.com/gogo/protobuf/releases

![image](https://user-images.githubusercontent.com/13765532/149156320-04843791-9a36-4281-bd27-3e1f

[2022-01-12 14:34] marbar3778 commented on #10937
adding this to the bottom of your go.mod should solve this https://github.com/cosmos/cosmos-sdk/blob/master/go.mod#L151

[2022-01-12 14:34] #10937 closed

[2022-01-12 14:53] yihuang commented on #7340
And if we handle protobuf encoding in a common place, individle module should only handle protobuf msg streams?
[code]

snapshot manager will handle the serialization, compression and chunking.

[2022-01-12 16:42] aaronc opened #10939 "Add semantic major version readiness checklist"
Following up on some comments I made on discourse, I think we should have a small readiness audit for tagging go modules as v1.0 (or any major version. The basic steps I have in mind are:
- [ ] review (or re-review) https://go.dev/blog/module-compatibility so it's fresh in your mind
- [ ] read through the go docs of each package in the module on https://pkg.go.dev and address any issues, in partic

[2022-01-12 16:47] ZakariaTDF commented on #10813
Does anyone know how to solve this problem ??

[2022-01-12 17:23] robert-zaremba commented on #7340
Yes, snapshot manager should handle compression and chunking. I'm not sure about serialization though. Will need to think about it.

[2022-01-12 17:25] robert-zaremba commented on #7340
Also, relevant to this work, I was proposing for ADR-40 to build a low level snapshotter which will re-utilize the underlying DB native functionality. Will put that things in a hackmd. This will improve the whole thing by an order of magnitude.

[2022-01-12 17:32] aaronc commented on #10933
I was thinking of putting the option as a bool on the field itself:
[code]

Any reason to prefer one or the other?

This is related to deprecating the `sdk.Msg` interface as discussed in #10368 btw.

[2022-01-12 17:45] fdymylja commented on #10933
Runtime checks will be a must due to kind assertions.

I have no swtrong opinion on field option vs message option.

Field option pros:
1. it's not error prone on field naming.

Field option cons:
1. get signers impl will need to check every field recursively (maybe we could pre-compute it at runtime though?)

Message option pros:
1. Signals directly on the message which are the  signer fields.

M

[2022-01-12 17:50] aaronc commented on #10933
Thanks @fdymylja 🙏. I honestly don't have a strong opinion on field vs message. @amaurym @webmaster128 ?

Let's please do this in a v1 proto package. Maybe `cosmos.msg.v1`?

[2022-01-12 17:51] amaurym commented on #10933
Small preference for `option (cosmos.tx.signing.v1beta1.required_signers) = "from_address";`. It reads better for humans.

[2022-01-12 17:54] aaronc commented on #10933
How about `option (cosmos.msg.v1.signers) = "from_address"`? I like shorter names when possible 😉

[2022-01-12 18:26] #9790 closed

[2022-01-12 20:52] amintalebi opened #10940 "create public key from bytes"
hey
I am implementing an offline signer for comos hub. sigv2 requires a public key object that I couldn't find any api for creating it from address or bytes.

[2022-01-13 03:34] yihuang commented on #7340
I guess with ADR 040 in place, it'll be efficient enough for wasmd to just store the contract code in the default storage?

[2022-01-13 03:55] ValarDragon opened #10942 "store/rootmulti: On initialization, prune all old versions according to existing settings"
## Summary

If you update pruning settings, it will never prune old state. Prune heights are tracked by a pruneHeights variable in RAM thats updated after each block, and a separate region of disk being written to track recent blocks that need to be pruned at next pruning interval.

However, at rootmulti store load, it should get all versions from the underlying database (or at least the oldest ve

[2022-01-13 03:59] yihuang commented on #7340
If we don't stick with protobuf encoding, I think we have to invent some delimited protocol to parse the stream.

[2022-01-13 06:25] yihuang commented on #7340
Currently the snapshot consists of a stream of `SnapshotStoreItem` and `SnapshotIAVLItem`, let's add two new message types: `SnapshotModuleMetadata` and `SnapshotModuleItem`, they are appended to existing snapshot stream, `SnapshotModuleMetadata` act as a delimiter between modules. It's backward compatible with exiting stream format.

[code]

## Snapshot Manager Restore

[code]

## Module Snapshot

[2022-01-13 09:37] marbar3778 commented on #10942
Is this urgent or could we get it in with the work you are doing on IAVL?

[2022-01-13 09:42] marbar3778 commented on #2218
reopen if applicable.

[2022-01-13 09:42] #2218 closed

[2022-01-13 09:44] marbar3778 commented on #2132
closing as this is more applicable to gaia which is in its own repo now

[2022-01-13 09:44] #2132 closed

[2022-01-13 09:46] marbar3778 commented on #2846
there are multiple ways to get this.

[2022-01-13 09:46] #2846 closed

[2022-01-13 09:51] marbar3778 commented on #2877
there has been work on logging over the past couple months.

[2022-01-13 09:51] #2877 closed

[2022-01-13 09:54] marbar3778 commented on #3442
reopen if applicable

[2022-01-13 09:54] #3442 closed

[2022-01-13 09:54] marbar3778 commented on #3326
param space is being deprecated, and there is now a spec for params.

[2022-01-13 09:54] #3326 closed

[2022-01-13 09:57] marbar3778 commented on #3204
grpc json proxy has replaced this endpoint

[2022-01-13 09:57] #3204 closed

[2022-01-13 09:58] marbar3778 commented on #3178
reopen if applicable

[2022-01-13 09:58] #3178 closed

[2022-01-13 09:58] marbar3778 commented on #3186
@amaurym thoughts on this?

[2022-01-13 09:59] #3116 closed, assigned to jackzampolin

[2022-01-13 10:00] #3112 closed

[2022-01-13 10:00] marbar3778 commented on #3112
errors is now its own go.mod and has a doc.go

[2022-01-13 10:01] marbar3778 commented on #3114
reopen if still applicable

[2022-01-13 10:01] #3114 closed

[2022-01-13 10:01] marbar3778 commented on #3111
cosmos academy and starport have solved this

[2022-01-13 10:01] #3111 closed

[2022-01-13 10:03] marbar3778 commented on #3100
we have tests now and min fee ante handler has been absorbed into other middleware

[2022-01-13 10:03] #3100 closed

[2022-01-13 10:04] marbar3778 commented on #3450
Completed

[2022-01-13 10:04] #3450 closed

[2022-01-13 10:10] marbar3778 commented on #3708
closing this as its more of a discussion.

[2022-01-13 10:10] #3708 closed

[2022-01-13 10:13] marbar3778 commented on #4423
closing this as its not applicable anymore

[2022-01-13 10:13] #4423 closed

[2022-01-13 10:13] marbar3778 commented on #4478
closing as panics area caught now and there is work to remove them

[2022-01-13 10:13] #4478 closed

[2022-01-13 10:25] amaurym commented on #3186
What does "bulk query of accounts" mean?

1. a new query in x/auth to query a list of accounts given their addresses? (returns their pubkey, their sequence, acct num...)
2. a new query in x/bank to query a list of balances given their addresses? (returns their balances for all denoms)

Both of them are fine to me, as long as we add pagination.

[2022-01-13 11:31] cmwaters opened #10943 "authz: allow grant queries based on grantee"
## Summary

Currently it is possible to query all the grants that have been issued by a single granter, however it is not possible to query all the grants that have been received to a single grantee (unless you use an indexer over all txs). It's important for the UX flow that users are able to see what authorizations they have been given and thus know what they are able to execute on.

## Proposal

[2022-01-13 11:41] fedekunze commented on #10656
are there any blockers now? I think we are ready with all the issues based on this list and the milestone?

@robert-zaremba @amaurym @aaronc @marbar3778

[2022-01-13 11:48] robert-zaremba commented on #10656
@fedekunze we are testing the upgrade. Yesterday, @amaurym  made a test and it failed. If you have available cycles, could you also make an upgrade test on your side?

[2022-01-13 11:58] robert-zaremba commented on #10656
our qa-team did another test this morning and it worked, so we are trying to replicate.

[2022-01-13 12:05] blushi opened #10945 "Handle group member weight updates that break threshold decision policy"
## Summary

Let's discuss the different proposals below for dealing with group member updates that might break the `ThresholdDecisionPolicy`.

## Problem Definition

As discussed in these threads https://github.com/cosmos/cosmos-sdk/issues/9657 and https://github.com/cosmos/cosmos-sdk/pull/10887, as soon as a group member weight is udpated (whether the member is removed from or leaves the group, o

[2022-01-13 12:14] blushi opened #10946 "Add a percentage decision policy to group module"
## Summary

Add a percentage decision policy to group module.

## Problem Definition

As discussed here https://github.com/cosmos/cosmos-sdk/issues/10945, the current and only implementation of a `DecisionPolicy`, the `ThresholdDecisionPolicy`, has some limitations. Having a `PercentageDecisionPolicy` could bring more flexibility.

## Proposal

Implement a new `PercentageDecisionPolicy` thats impl

[2022-01-13 13:00] ethanfrey commented on #7340
We need to pass ownership of that data to our Rust code and avoid passing that large blob back and forth over FFI. I would not necessarily change the architecture (splitting of the file) even with ADR40.  I think supporting these hooks will be important for more than the short term

[2022-01-13 14:17] amaurym commented on #10656
Since the qa team managed a successful v044->v045 upgrade, I just tagged a `v0.45.0-rc1`.

echoing this, cc @ethanfrey and @ValarDragon too

[2022-01-13 14:29] ethanfrey commented on #10656
awesome work. thanks!

[2022-01-13 16:48] karzak commented on #10862
@amaurym any chance you can cut a v0.44.6 release this week? We are going to be upgrading the Kava blockchain shortly from v0.39 to v0.44 and ideally would like to pin to v0.44.6 rather than a commit hash.

[2022-01-13 17:25] marbar3778 commented on #9557
@amaurym is this good to close?

[2022-01-13 17:48] amaurym commented on #9557
This Epic is in the Review / QA stage, but not fully shipped. I would prefer to keep it open, see Zenhub board for details

[2022-01-13 17:57] amaurym commented on #10862
Sure, we can do that tomororw

[2022-01-13 19:04] dwedul-figure opened #10948 "Use Tendermint db-backend config value instead of compile-time DBBackend value"
## Summary

Use the Tendermint `db-backend` config value instead of the `types.DBBackend` value that must be set during compilation (e.g. with `ldflags='-w -s -X github.com/cosmos/cosmos-sdk/types.DBBackend=rocksdb'`).

## Problem Definition

As a blockchain engineer, I want to decide the db backend after compiling so that it's easier for nodes to switch from one backend to another.

For example,

[2022-01-13 19:33] alexanderbez commented on #5228
No, it's already implemented. It is utilized heavily by many components ;-)

I'm not really sure how to answer this. Also, this expands way beyond the scope of this issue which we're now polluting. You can have a token that is the staking and governance token. How many decimal places used is completely up to you. It's all defined in genesis.

[2022-01-13 20:09] fdymylja opened #10949 "codec: interface registry does not resolve typeURL -> proto type in a compliant way"
## Summary of Bug

Packing a protobuf message by prepending to their name a URL makes them unresolvable at codec level.

Example:
 `/cosmos.bank.v1beta1.MsgSend` resolves correctly.
`some.url/cosmos.bank.v1beta1.MsgSend` does not resolve correctly.

This breaks compatibility with the `google.Protobuf.Any` spec, which says that only the last part of the URL (message fullname) should be used to corr

[2022-01-13 20:17] aaronc commented on #10949
One reason it was done this way is to actually make what you're saying invalid regarding the state machine. As in, we actually want to reject transactions that send `some.url/cosmos.bank.v1beta1.MsgSend` because it just wastes storage space. I know this isn't compliant, but our use case wasn't really to have a fully compliant `Any` resolver. People were already concerned about the overhead of type

[2022-01-14 04:00] ValarDragon commented on #10942
Its not really urgent, just means that you can't change pruning settings to get space savings on a current node.

On chains that don't have state sync (all cosmwasm chains), theres not really a good way to lower disk size in the case of bad pruning configuration.

[2022-01-14 11:27] zmanian commented on #7340
@yihuang lets assume that we aren't going to break the ABCI interface here so that the stream must be mappable to the chunk interface here
https://github.com/tendermint/tendermint/blob/master/internal/statesync/chunks.go#L19-L25

[2022-01-14 11:27] zmanian commented on #7340
I think we should treat the ABCI interface as immutable for the purposes of this design unless absolutely necessary.

[2022-01-14 11:29] zmanian commented on #7340
Same thing with your comment @ethanfrey . Format was defined as integer in the abci interface.

[2022-01-14 11:35] yihuang commented on #7340
yes, this design doesn't conflict with that, it's layered on top of the exiting chunking layer. we just appended some protobuf messages at the end of the snapshot stream.
The `format` in `SnapshotModuleMetadata` is for modules to manage their own format versioning.

[2022-01-14 11:42] zmanian commented on #7340
it might clarify things to look at an implementation.

I am totally a fan of co-evolving ADR with implementation.

I don't understand if your proposal breaks the ABCI implementation but if you think it preserves the ABCI api then we can take a look at the implementation

[2022-01-14 11:47] yihuang commented on #7340
I think it don't break the ABCI protocol, only changes the binary format inside the stream.

[2022-01-14 11:50] zmanian commented on #7340
BTW the proposed snapshot interface LGTM

[2022-01-14 12:53] marbar3778 commented on #7340
Wanted to notify everyone in this thread this will talked about at the cosmos-sdk call later today.

[2022-01-14 13:11] marbar3778 commented on #9557
sounds good. Was going through the milestone day so wanted to check

[2022-01-14 13:15] robert-zaremba commented on #10025
@conr2d fyi: https://github.com/cosmos/cosmos-sdk/blob/master/internal/conv/string.go#L10

[2022-01-14 13:26] marbar3778 commented on #10942
another possibly simpler approach could be to create an inverted function to `DeleteVersionsFrom` that deletes up to said version instead of getting all versions then calling delete on them.

[2022-01-14 13:31] amaurym opened #10951 "Add v1beta1 Query server to gov"
## Summary

We switched to v1beta2 query server in  #10868. We should add the v1beta1 one too for backwards-compatibility.

## Proposal

Same as for msgServer, we should create a v1beta1 query server that wraps around a v1beta2 one, and just proxies requests to the v1beta2 one.

Add some tests to make sure both query servers work.

____

#### For Admin Use

- [ ] Not duplicate issue
- [ ] Appropri

[2022-01-14 13:33] amaurym opened #10952 "Add CLI command to submit new Gov proposals, using Msgs"
## Summary

Add `tx gov submit-proposal` CLI command that uses sdk.Msgs.

## Problem Definition

The current `submit-proposal` takes a content JSON, or flags that represent a content. We should migrate the CLI to the new submit proposal design.

## Proposal

- Rename the old command  to `tx gov submit-legacy-proposal`
- think about the UX of how to submit proposal using nested msgs.
  - The easies

[2022-01-14 14:04] zmanian commented on #7340
So another area of concern is how is this going to be released.

If these changes are merged into master, cosmwasm isn't expected to support other changes on master for several months.

[2022-01-14 14:33] conr2d commented on #10025
@marbar3778 @robert-zaremba OK, I will check it. Thank you.

[2022-01-14 14:38] marbar3778 commented on #8369
Gonna remove this from the 0.46 milestone but add it to the maintain board.

[2022-01-14 14:57] yihuang commented on #7340
if we can do it in a backward-compatible way, maybe we can backport it to 0.45.x?

[2022-01-14 14:59] marbar3778 commented on #7340
yes, if its backwards compatible, we should get it in even if it breaks the api a little since this is a pretty big pain for users.

[2022-01-14 15:14] JimLarson commented on #9959
FYI, in the Agoric fork we had the following issue for allowing multiple locked-up grants to the same `PeriodicVestingAccount`: https://github.com/Agoric/agoric-sdk/issues/3956

It was implemented in the following PR: https://github.com/agoric-labs/cosmos-sdk/pull/136

[2022-01-14 15:24] JimLarson commented on #10662
FYI, Agoric is implementing a variant of `PeriodicVestingAccount` that has separate schedules for vesting (subject to clawback) and unlocking (not subject to clawback), with a clawback operation where the funder to order the transfer of all unvested funds to another account.

The name of the account type is TBD, but probably `ClawbackVestingAccount`.

Issue: https://github.com/Agoric/agoric-sdk/is

[2022-01-14 16:17] amaurym commented on #10862
@karzak Probably today will be hard. Is Monday okay for a release? I started the release here: https://github.com/cosmos/cosmos-sdk/pull/10953

[2022-01-14 16:24] yihuang commented on #7340
I think the state sync assume all the node will create identical snapshot chunks at a particular block height, so a node can request chunks from multiple peers. I wonder if wasmd able to make such a deterministic snapshot if not using a proper database?

[2022-01-14 18:40] dwedul-figure commented on #10948
Yeah. I can PR it. I'm not sure when I'll be able to get to it though. I'll assign it to myself when I start on it.

[2022-01-14 19:57] robert-zaremba commented on #10680
For module design I have the following pattern:
* `msg.ValidateBasic()` -- minimalistic, because it's called in CheckTx and user doesn't pay any gas if it fails.
* `msg.Validate(...)` -- possible stateful, all strict validation, called at the beginning of Msg RPC method. Moreover we can charge extra fee here.

[2022-01-14 20:00] aaronc commented on #10680
How can we have a stateful interface method without any state? I do think we should allow modules to have `CheckTx` handlers for messages, however.

Also, `msg.Validate()` could be another stateless method checked in `CheckTx` and generated by https://github.com/envoyproxy/protoc-gen-validate

[2022-01-14 21:36] robert-zaremba commented on #10680
Here, `msg.Validate(...)` is not part of any interface. It is called manually and it's argument may vary (depending on the msg type), eg: `msgA.Validate(ctx.BlockTime()`, `msgB.Validate(otherObject),  where `otherObject` is a relate object from the state.

[2022-01-14 21:37] sunnya97 commented on #10680
The nice thing about msg.ValidateBasic is that it can be run by a client with no access to the state itself, such as a standalone CLI.

[2022-01-14 21:56] aaronc commented on #10680
Okay makes sense. It still would be better to do that with a handler than an instance method IMHO because of the interface/api module issues

[2022-01-15 01:34] liamsi commented on #10493
Would it make sense to upstream this implementation? https://github.com/agoric-labs/cosmos-sdk/pull/155

[2022-01-15 10:26] marbar3778 commented on #7036
I think there is a simpler way of handling this. We can do it by exposing a abciQuery query on grpc but there isn't a need to route it through tendermint. The downside is the user needs to know the keys but this is worthwhile trade off. In talking with @jackzampolin in regards to the go relayer he agreed. It would be good to hear from @adizere and @andynog for Hermes. Would this fit their needs?

[2022-01-15 13:08] #10940 closed

[2022-01-15 14:46] aaronc commented on #7036
We should expose get key value pair with proof over grpc. When modules migrate to the orm they can have a full featured client verifying proofs transparently because the key value format will be specified for clients. Meaning bank/GetBalance can work just like it does now but can optionally prove it

[2022-01-15 14:55] marbar3778 commented on #7036
In this scenario would the query be wrapped in a message with prove as an option?

[2022-01-15 15:05] aaronc commented on #7036
There are many ways this could happen. So a boolean in the message or a prove header (like we do with height) could work with grpc. The proof could also be returned with headers or in the response message. In this scenario though, grpc is still just returning proof data, not doing the proving so there's more complexity.

The ideal scenario might be that the client has an orm implementation (with g

[2022-01-15 17:58] nicola-milani commented on #10896
eh it's a big security and infrastructure problem. I tried to get around the problem with a set of mount --bind options.
/mnt/externalstorage/DATA/.osmosisd /root/.osmosisd

[2022-01-16 19:35] BitHighlander commented on #10856
@amaurym do you have a js/ts example of doing this locally? I maintain https://github.com/shapeshift/hdwallet a library for broad Hardware wallet support (trezor/ledger/keepkey) and i'm unable to broadcast our signed payloads. ([example](https://github.com/shapeshift/hdwallet/blob/master/integration/src/cosmos/tx03.cosmoshub4.signed.json) with the latest node versions.

any advice for how to addre

[2022-01-17 01:44] tomtau commented on #7340
wasmd should have deterministic snapshots as long as it appends its byte code blobs according to the order of their corresponding CodeInfo entries in a db... I assume it should be all right @ethanfrey ?

[2022-01-17 07:37] JimLarson commented on #10493
In the agoric-labs#155 PR, I addressed the issue of knowing the funder by creating a new vesting account type (a variant of `PeriodicVestingAccount`) with the funder address as an explicit field. The clawback command is unprivileged, but must be signed by the funder.

[2022-01-17 08:43] ethanfrey commented on #7340
Yes. If you order them by the code id (after de-duplicating for performance), this will be deterministic.

[2022-01-17 09:17] marbar3778 commented on #10712
@RiccardoM is this issue still present?

[2022-01-17 09:19] marbar3778 commented on #9959
@JimLarson it seems agaric has put a lot of work into vesting, Id love to come up with a plan of upstreaming this work since most the vesting issues  in the sdk seem to be solved with your work.

[2022-01-17 09:25] marbar3778 commented on #10840
Can you generate a tx via cli and compare the outputs? this will allow you to see the differences.

Ill close this issue for now, but feel free to comment or tag me (@marbar) in discord.

[2022-01-17 09:25] #10840 closed

[2022-01-17 09:27] marbar3778 commented on #10813
as mentioned above the tx should be base64 encoded. Here is an example of doing it with grpc reflection. You may have more success with this.

Closing this issue but please feel free to comment again or ping us in the discord.

[2022-01-17 09:27] #10813 closed

[2022-01-17 09:31] marbar3778 commented on #10809
I think the actionable here is to remove 0.43.0 in favour of just having the commit. There are some weird nuances with versions and go in for master.

[2022-01-17 09:33] marbar3778 commented on #10747
can you explain if you need ego verification? As a team we talked about deprecating and removing the ego version in favour of the native go one, but this is because we did not know of a user for it

[2022-01-17 09:42] marbar3778 commented on #10568
This has been fixed in a new release of iavl.

[2022-01-17 09:42] #10568 closed

[2022-01-17 09:44] marbar3778 commented on #10569
@puneetsingh166 do you still have this issue? I was not able to replicate, may you can send a link to some code?

[2022-01-17 09:53] RiccardoM commented on #10712
Yes, it is.

[2022-01-17 10:02] marbar3778 commented on #10556
I couldn't find this line of code in orm. Will this code land in a later pr?

[2022-01-17 10:04] marbar3778 commented on #10712
Thank you. @alexanderbez I see you assigned yourself, do you still want to lead this?

[2022-01-17 10:57] #10919 closed

[2022-01-17 13:25] amaurym commented on #10856
I don't unfortunately. it may be worth asking https://github.com/cosmos/cosmjs

[2022-01-17 13:38] fdymylja commented on #10933
I will work on it this week or next.

Could we include this into 0.45 (proto changes + msg checks)?
Could we backport this into 0.44 (proto changes only)?

[2022-01-17 18:49] alexanderbez commented on #10662
@JimLarson clawback functionality would be amazing. Is this work complete? Can I see the code?

[2022-01-17 20:04] JimLarson commented on #10662
@alexanderbez Sure! The PR is in development, but we're trying to get it merged into our fork this week-ish. See https://github.com/agoric-labs/cosmos-sdk/pull/155

Don't be dissuaded by the "draft" status - we're doing some branch and PR shennanigans. Go ahead and comment.

The documentation is a little sparse at the moment - refer back to the design notes in https://github.com/Agoric/agoric-sdk/

[2022-01-17 20:58] alexanderbez commented on #9959
Yes, please! Getting a clawback mechanism would be super beneficial to have in the SDK's vesting account types.

[2022-01-17 20:59] alexanderbez commented on #10712
Yeah I'm happy to take lead on this but I just can't think of a solution TBH

[2022-01-17 21:14] JimLarson commented on #9959
Great! I'd love to chat about upstreaming plans.

BTW, I found an issue with agoric-labs#136 (that also affects Clawback vesting accounts). The current vesting account bookkeeping for delegated tokens assumes that the unvested amount is monotonically decreasing. If we allow new vesting grants into existing accounts, then slashing can lead to future grants being unlocked prematurely. One solution i

[2022-01-18 00:58] manelio opened #10960 "Redacted errors calling eth_getBlock via web3 JSON RPC"
## Summary of Bug

Redacted error calling `eth_getBlock` via JSON RPC, but only in some blocks (I can't find a pattern, but failing and working blocks are always the same. It's not a random error).

## Version

evmosd 0.3.0

Important: the same happens in three different nodes: two Rasperry Pi 4 (arm64, local network) and a VPS in Digital Ocean (amd64, remote network). In all cases the base SO is

[2022-01-18 08:11] adizere commented on #7036
The current way Hermes fetches proofs is through ABCI and indeed we need to know the key (called a path in IBC). The design you proposed does fit our needs.

[2022-01-18 09:55] yihuang commented on #10832
fixed by: https://github.com/cosmos/cosmos-sdk/pull/10833

[2022-01-18 09:55] #10832 closed

[2022-01-18 10:41] marbar3778 commented on #10960
I believe this issue should live on ethermint instead of the cosmos-sdk. cc @fedekunze

[2022-01-18 10:44] marbar3778 commented on #10465
Thanks for opening the issue. The error is saying that you do not have a local node running. If this is true you need to add the `--node` flag with a roc endpoint that you are able to use

[2022-01-18 10:44] #10465 closed

[2022-01-18 10:47] #10436 closed

[2022-01-18 10:50] marbar3778 commented on #10435
closing this since codefest has passed.

[2022-01-18 10:50] #10435 closed

[2022-01-18 10:52] marbar3778 commented on #10301
closing this as it should be created as a discussion and unclear if its still relevant to cosmos-sdk.

[2022-01-18 10:52] #10301 closed

[2022-01-18 10:55] marbar3778 commented on #10283
closing, seems the a solution was found

[2022-01-18 10:55] #10283 closed

[2022-01-18 10:56] marbar3778 commented on #10179
this has been achieved with cosmos academy

[2022-01-18 10:56] #10179 closed

[2022-01-18 11:00] marbar3778 commented on #9936
Hey I will close this for now. Sorry for not getting around to your PR.

[2022-01-18 11:00] #9936 closed

[2022-01-18 11:06] marbar3778 commented on #8847
bencher has been added

[2022-01-18 11:06] #8847 closed

[2022-01-18 11:07] marbar3778 commented on #8720
closing this as its possible for this to work, only problem is the size of the genesis files are insane these days.

[2022-01-18 11:07] #8720 closed

[2022-01-18 11:08] marbar3778 commented on #8602
closing this for now since grpc is no longer routed through tendermint

[2022-01-18 11:08] #8602 closed

[2022-01-18 11:10] marbar3778 commented on #8591
closing this in favour of https://github.com/cosmos/cosmos-sdk/issues/10859. There is still something blocking parallel queries tho, outlined in the mentioned issue.

[2022-01-18 11:10] #8591 closed

[2022-01-18 11:11] marbar3778 commented on #8588
@robert-zaremba is this still present even though we don't route through tendermint anymore?

[2022-01-18 11:12] marbar3778 commented on #8544
unfortunately we have to use the replace flag for now. We want to change this. closing this issue in favour of https://github.com/cosmos/cosmos-sdk/issues/10818

[2022-01-18 11:12] #8544 closed

[2022-01-18 11:26] marbar3778 commented on #8503
This is still present on master. Not sure if this test is correct since we have done a export and restart chain since this module landed.

@amaurym maybe you have an idea?

[2022-01-18 13:59] yihuang commented on #7340
I've submitted a PR, need more tests, but exist tests passed, good for review.

[2022-01-18 14:17] #10841 closed

[2022-01-18 15:31] amaurym opened #10965 "`proposal.String()` panics with nested Anys"
## Summary of Bug

When calling `.String()` on a proto struct that has nested Anys, it panics. A quick debugging leads to the field `any.cachedValue` panicking.

[code]

[see stack](https://github.com/cosmos/cosmos-sdk/runs/4844150572?check_suite_focus=true#step:6:127)

It seems to me that gogoproto panics when printing our Any's cachedValue.

ref: https://github.com/cosmos/cosmos-sdk/pull/10868#d

[2022-01-18 18:03] andynog commented on #10796
Does this mean archive nodes will need 2x the amount of storage at least ? (at upgrade time).

Or would be possible to have a pruning that has a height parameter that you specify the height of the upgrade and everything before that is pruned but not after. This way you probably won't need double storage but not sure if this would have other implications.

[2022-01-18 18:26] blushi opened #10968 "Group Module - Module Readiness Checklist"
## x/group Module Readiness Checklist

This checklist is to be used for tracking the final internal audit of new Cosmos SDK modules prior to inclusion in a published release.

### Release Candidate Checklist

The following checklist should be gone through once the module has been fully implemented. This audit should be performed directly on `master`, or preferably on a `alpha` or `beta` release ta

[2022-01-18 18:40] blushi opened #10970 "Temporarily remove go.mod from x/group"
## Summary

Remove go.mod from x/group

## Problem Definition

x/group was originally set up as a separate go module to have its own release cycle but most of its tests rely on simapp at the moment. So this is conceptually weird to have x/group tests depend on simapp, which is supposed to be a standalone go module, while simapp depends on x/group. Until there's progress on the app wiring work whic

[2022-01-18 22:26] alexanderbez commented on #10796
The older node would only need to have heights up to and including the upgrade height. In fact, it can have any heights pruned up until the upgrade height, but then it wouldn't be an archive node.

So, no, it's not 2x the data 👍

[2022-01-19 10:13] blushi opened #10972 "Add `MaxMetadataLength` as a group keeper parameter"
## Summary

Add `MaxMetadataLength` as a group keeper parameter.

## Problem Definition

Currently in x/group, `MaxMetadataLength` that defines the maximum metadata length for bytes metadata in `GroupInfo`, `GroupPolicyInfo`, `Member` and `Proposal` and `Vote`, is just set as a constant (255 bytes). This should be more configurable.

## Proposal

Add `MaxMetadataLength` as a group keeper parameter

[2022-01-19 10:24] robert-zaremba commented on #10970
in `x/nft` we decided to release beta without simtests

[2022-01-19 10:26] robert-zaremba commented on #10767
We should have definitely a different way to make simapp tests. Was there already any PoC for doing that? I was experimenting a bit with existing code base and failed (too much deps).

[2022-01-19 10:58] marbar3778 commented on #8203
seems this is related to amino, not sure if its still relevant with all the work around Protobuf?

[2022-01-19 11:01] #8132 closed

[2022-01-19 11:06] marbar3778 commented on #7846
this was done by Aaron in the new errors module.

[2022-01-19 11:06] #7846 closed

[2022-01-19 11:07] marbar3778 commented on #7815
closing due to deprecation of LCD in favour of grpc.

[2022-01-19 11:07] #7815 closed

[2022-01-19 11:09] marbar3778 commented on #7489
I would say this is also blocked on ledger/multisig support. These are the two areas where it still exists.

[2022-01-19 11:22] marbar3778 commented on #7201
there are ways applications can do this today, outside of a cleaner way of doing custom config.toml changes the rest is more or less up to the app. They can use ipfs for genesis or just a hash of genesis and allow to sync to the first block.

[2022-01-19 11:22] #7201 closed

[2022-01-19 11:33] marbar3778 commented on #10514
Talked with @cmwaters and the ability to list a module as the only one to execute this message is merged into master, unblocking this work. @technicallyty do you still want to kick off this work?

[2022-01-19 11:52] nooomski commented on #8498
This issue still isn't resolved as far as I'm aware? We've been [getting word](https://github.com/cosmos/gaia/issues/1073) on the Hub that people are stilling getting command output to stderr.

[2022-01-19 12:48] #10970 closed

[2022-01-19 13:16] amaurym commented on #8503
I think the test is failing because we are calling InitGenesis twice: once in simapp.Setup, and the 2nd manually.

@alpe Did you try running a JSON genesis migration manually? I also recall doing a v042->v044 fine.

[2022-01-19 13:45] cmwaters commented on #10490
As discussed in the last gov working group, we want to add a limit to the amount of bytes in this `metadata` field to mirror the functionality of the groups module. This should be set by application developers in the constructor of the gov module.

Ref: https://github.com/cosmos/cosmos-sdk/issues/10972

[2022-01-19 13:48] robert-zaremba commented on #10680
OK, this will follow the new app wiring directions. The main thing to agree though is the `ValidateBasic` guideline.

[2022-01-19 13:56] robert-zaremba commented on #10803
I think this is not needed: let's chat about it today. Migration will be "on fly" or through genesis export-import

[2022-01-19 14:06] robert-zaremba commented on #10446
@marbar3778 are you saying that some tests fail normally but pass with `-race`?

[2022-01-19 14:09] fdymylja commented on #10965
This needs to be fixed within regen proto I assume.

[2022-01-19 15:09] #10803 closed

[2022-01-19 15:18] alexanderbez commented on #10514
@technicallyty lets work on this together 👍

[2022-01-19 15:27] alexanderbez commented on #10680
What is the exact proposal on `ValidateBasic` guidelines? Applications are able to implement these checks however they wish.

[2022-01-19 16:26] aaronc opened #10978 "v2 protobuf Registry"
As we migrate to pulsar and the api module, we want to have a better way of registering protobuf information with the codec than what currently happens with the `InterfaceRegistry`.

The **main design principle** is to have everything the registry needs to know about declaratively specified in the .proto files themselves so that the registry only requires that a module register file descriptors.

[2022-01-19 16:32] fdymylja commented on #10978
We need to modify the grpc reflection service to return pinned protofiles instead of the files from the global registry.

[2022-01-19 16:35] robert-zaremba commented on #10680
@alexanderbez this is an interface method, so we should document the best practice. Like I wrote above, doing too much in `ValidateBasic` is bad from economic perspective.

[2022-01-19 16:54] technicallyty commented on #10514
sounds good!

[2022-01-19 17:32] arhamchordia commented on #10712
I am upgrading chain from v42 to v44 and came across this issue.
My tokens were slashed but was not reflecting in auth account.

Steps to replicate :
1. Staked tokens from vesting account to a validator.
2. Made validator miss blocks and got it jailed.
3. Upgrade the chain to v0.44.5
4. Unbonded tokens of the vesting account
5. Proper balance not reflected in auth.

All vesting account created for

[2022-01-19 20:35] zramsay opened #10980 "why does `keys add` explicitly prevent the use of both `--hd-path` and `--ledger` simultaneously ?"
opening here because it's where I tracked down [the offending piece of code](https://github.com/cosmos/cosmos-sdk/blob/master/client/keys/add.go#L200-L204) which appears to explicitly prevent the use of these two flags together.
original issue: https://github.com/cosmos/gaia/issues/1203

I could very well be doing something wrong but that snippet of code is seems pretty clear. If that is legacy co

[2022-01-19 23:22] channa-figure opened #10982 "iavl cache size is not returned from GetConfig"
## Summary of Bug

The Base Config `IAVLCacheSize` value is not set when retrieving the config object with `GetConfig` https://github.com/cosmos/cosmos-sdk/blob/b6c77e6c819f8a51166649eaef125d1bfb276f04/server/config/config.go#L252  method and defaulting to 0. The new configuration was added with issue https://github.com/cosmos/cosmos-sdk/issues/1714 and PR https://github.com/cosmos/cosmos-sdk/pull

[2022-01-20 01:51] Muggle-Du commented on #7340
I have drafted the ADR for state sync hooks: #10976.
please help to review.

[2022-01-20 01:58] robert-zaremba opened #10984 "Charge a small fee for "opening" a transaction."
## Summary

`ValidateBasic` is executed both at `CheckTx` and `DeliverTx` but we don't charge any fee, and if it fails we do a free computation for "opening" a transaction, but the resources are not free.

## Proposal

Charge a small fee in `DeliverTx` by updating on of the existing middlewares or adding a new one.

Ref: https://github.com/cosmos/cosmos-sdk/issues/10680#issuecomment-996644829
____