[2020-05-07 18:50] fedekunze commented on #6168
I like the idea but I think it would need to be spec'ed in an ADR

[2020-05-07 18:54] marbar3778 commented on #6100
'errors' sorry was quick to answer

[2020-05-07 19:00] fedekunze commented on #3061
I think we should do this sooner than later cc @alexanderbez @aaronc.

[2020-05-07 19:03] aaronc commented on #3061
Sure 👍 . Why not just `client.Context`?

[2020-05-07 19:19] alexanderbez commented on #3061
Absolutely!

[2020-05-07 19:47] alessio commented on #3061
YES! please

[2020-05-07 20:00] sahith-narahari commented on #3061
I can take this up, it will also help us organize keys cli tests as @alessio suggested

[2020-05-07 20:19] Sladuca commented on #6100
`errors` does not have `errors.Cause()` or `errors.StackTrace` or `errors.Frame`. I don't want to change any code architecture without approval, so I listed where each are used here:

`errors.Cause`
https://github.com/cosmos/cosmos-sdk/blob/fe9fe8769390d382bffa3ef1e372c30eaa7c192c/store/iavl/store.go#L140

`errors.StackTrace`
https://github.com/cosmos/cosmos-sdk/blob/fe9fe8769390d382bffa3ef1e372c3

[2020-05-07 20:36] aaronc commented on #6168
Yeah, I like the idea. We thought of doing something similar for Regen Network, and to make things a bit easier made our bech32 prefix `xrn:` so that addresses by default look like `xrn:5sy29r37gfxvxz21rh4r0ktpuc46pzjrmz29g45`.

Would love to see a more fleshed out ADR. How would people feel about `cosmos:` as the bech32 prefix? I would note that just inserting the `:` without changing the actual

[2020-05-07 21:37] alessio commented on #6130
I can confirm this is a bug: `MakeBlockID(make([]byte, tmhash.Size), int(math.MaxInt64), make([]byte, tmhash.Size)),` is a mistake nonetheless, as `MakeBlockID()` expects `int` yet the code explicitly passes an `int64`.

[2020-05-07 21:49] alexanderbez commented on #3061
Thank you so much @sahith-narahari 🙏

[2020-05-07 21:50] alexanderbez commented on #6100
I don't see any harm in sticking with `pkg/errors`. Best not to potentially introduce bugs 👍

[2020-05-07 21:52] marbar3778 commented on #6130
This is not a bug. Tendermint does not support 32-bit systems.

[2020-05-07 21:53] alexanderbez commented on #6130
feature, not bug :-p

[2020-05-07 22:51] alessio commented on #6130
LOL

I know that, though when you pick the `int` type you essentially delegate to the compiler the responsibility of choosing the best `signed integer` type, and that makes your variable length machine-dependent. I'm not saying that this is necessarily a bug in the sdk (it definitely sounds more like something that should be amended/clarified in the tendermint data type), quite the opposite. So we

[2020-05-07 22:53] marbar3778 commented on #6130
Tendermint is migrating away from unsized ints. There is a open issue for this. It is a breaking change so it will have to wait to 0.34.

[2020-05-07 23:08] alessio commented on #6130
@marbar3778 Is this it? https://github.com/tendermint/tendermint/issues/2684

[2020-05-08 02:11] #6130 closed

[2020-05-08 07:13] marbar3778 commented on #6160
the movement of files seems like a good idea but common pkg does not. How come you don't just create an errors and testing pkg at the root, these are way more self-explanatory and should solve the same issue?

[2020-05-08 07:23] louisliu2048 commented on #4254
I don't think so. I also run into this problem:
------------

 panic: Failed to process committed block (190752:57B2434ACB1BEDA4FD41537A1992E7C64C10DB320415AA289A50A5059FA317A3): Wrong Block.Header.AppHash.  Expected 3A8EC21DC8205C41CBDBEA42C4F2C91ED482DAE131110C97FD0EA5426A75791B, got 8E7D8AD3F70B16A1F7E5D50EC0FA01DC7E3AA365C08DBA527A7466D5530187AC

goroutine 133 [running]:
github.com/tendermint/

[2020-05-08 08:29] louisliu2048 opened #6173 "Potential bug in BlockRefactor V0 syncBlock function"
## Summary of Bug

In tendermint/blockchain/v0/refactor.go: poolRoutine() function,  if we get some dirty blocks from other peers when sync blocks, `blockExec.ValidateBlock(state, block)` will return error and the `panic(fmt.Sprintf("Failed to process committed block (%d:%X): %v", first.Height, first.Hash(), err))`  will make our node to be a zombine。

[code]
If we get a dirty block from other pee

[2020-05-08 08:30] #5091 closed

[2020-05-08 10:35] marbar3778 commented on #6173
hey thank you for reporting this. This issue will be better suited in tendermint. Could you open this issue there?

[2020-05-08 12:07] alessio commented on #6168
Could we avoid Java-ish `Get` prefixes altogether please?

[2020-05-08 17:30] egidiocasati commented on #6168
Nice Idea, we totally back it up.
Maybe you could find useful to see what we "did" with [commerc.io network](https://docs.commercio.network/), like pair-wise did, a [w3c registered did method](https://w3c-ccg.github.io/did-method-registry/), did authentication, etc.

[2020-05-08 18:37] colin-axner opened #6175 "07-tendermint rest/ minor bugs"
## Summary

`CreateClientReq` has its `Header` field with the json tag as [`consensus_state`](https://github.com/cosmos/cosmos-sdk/blob/bef3689245bab591d7d169abd6bea52db97a70c7/x/ibc/07-tendermint/client/rest/rest.go#L30)

`UpdateClientReq` has its `Header` field with the json tag as [`header`](https://github.com/cosmos/cosmos-sdk/blob/bef3689245bab591d7d169abd6bea52db97a70c7/x/ibc/07-tendermint/c

[2020-05-08 18:47] colin-axner commented on #6168
Sweet, thanks for everyone's feedback. I'll start working on trying to get an ADR up for this, but it may take me some time as I have just come across DIDs and will need some spare time to wrap my head around the scope of everything.

If anyone has a concrete idea of what they would like to see for this, feel free to jump ahead of me on the ADR.

It seems to me there are few possible sides to this

[2020-05-08 18:48] jgimeno opened #6176 "Unconsistent validator param in Staking module keeper Delegate function."
## Summary

I have been working creating tests for the staking module and I saw something that is curious and can throw unexpected results.

The signature function of the Delegate is:

[code]

Here we pass a a constructed Validator which has 2 problems in my opinion. It makes responsable the caller to GetValidator before calling this, which maybe is not a big issue and the second problem is if we

[2020-05-08 19:58] alexanderbez commented on #6168
You can't if the fields are public.

[2020-05-08 20:02] alexanderbez commented on #6176
I'm not sure I understand the issues at hand.

The first issue mentioned: By providing a validator, you only need to do a lookup once, this is especially useful if you're doing multiple delegations to a single validator (i.e. multiple delegates).

The second issue mentioned: What do you mean by `every Delegate overwrites the past Delegate`? This is the nature of the staking module -- types are bas

[2020-05-08 21:05] colin-axner commented on #6175
On a similar note, this line in [tx.go](https://github.com/cosmos/cosmos-sdk/blob/bef3689245bab591d7d169abd6bea52db97a70c7/x/ibc/07-tendermint/client/rest/tx.go#L20) should be

[code]

it is missing the fmt formatting

[2020-05-08 23:37] jgimeno commented on #6176
Exactly what you mention Is the problem I faced. By providing a validator I only need to do a lookup first, but if I delegate multiple times without lookup everytime because Delegate does not do a lookup and saves the same validator it does not increase the tokens.

Imagine I have a vaidator, I do lookup and I get it:

Validator.Tokens == 0

I do Delegate(Validator, 20) that inside the function in

[2020-05-08 23:44] jgimeno commented on #6176
Let me do it easier with pseudocode:

I create a validator,

val := NewValidator()
keeper.SetValidator(val), etc

now I want to do multiple delegations using Delegate function, let's say 3.

now val.Tokens == 0

I do a Delegate(addr1, val, 20)

Inside this function val.Tokens is increased by 20, and is persisted in the keeper.

Now going back I Delegate again, but val.Tokens since I pass by value

[2020-05-09 01:28] louisliu2048 commented on #6173
ou, sorry, I will move it to Tendermint

[2020-05-09 01:28] #6173 closed

[2020-05-09 07:43] egidiocasati commented on #6168
we already migrated cosmos address to be DIDs.

I hope I don't miss anything above my head, but, since our implementation is open sourced, I would warmly suggest you to not reinventing the wheel.

On the other end, since this (Self Sovereign Identity) is not a merely technical topic (identity verification, trust model reward for issuer and verifier of VCs, etc)  you could also give back feedback t

[2020-05-09 10:02] kwunyeung commented on #6070
This is actually not related to export but the calculation of the stake. I'm testing around this with a validator on Akash as it's using the same SDK version as Desmos. I made it jailed and slashed, then unjail it and do some staking and distribution operations. It gives me these errors in the log. Looks like it's a amino/protobuf issue.

[code]

[2020-05-09 15:20] alexanderbez commented on #6176
If the method is not idempotent, then yes, you'll have to look up the object again. Remember, the module doesn't operate on references, but values.

This isn't a bug, just an API choice. We could make these methods do the lookup themselves, but I imagine that should be done on a case-by-case basis 👍

[2020-05-09 15:47] fedekunze commented on #6070
Did you add the evidence module? That’s how Validator slashing is handled now

[2020-05-09 16:43] anilCSE commented on #6070
Oh okay. That's the reason it seem, didn't integrate evidence module

[2020-05-09 17:42] colin-axner commented on #6168
Of course @egidiocasati! I just wish there was a module registry (or maybe there is?) for cosmos so others aren't inclined to develop their own DID module. I'm very glad to see a fully fleshed out DID module since I think this is something better maintained by the community than SDK core devs (A good contribution to `cosmos/modules` if that is still a thing).

I do think there is benefit to having

[2020-05-09 18:04] kwunyeung commented on #6070
Oh we didn’t integrate evidence module too. How about slashing from uptime but not double sign?

[2020-05-09 18:27] alexanderbez commented on #6070
`x/evidence` handles equivocation/double-sign. `x/slashing` handles actual slashing logic + tracks liveness.

[2020-05-09 19:26] #6070 closed

[2020-05-10 02:24] kwunyeung commented on #6070
@alexanderbez Then it should not be related to evidence module as the error happened after liveness slashing and slashing module is integrated.

[2020-05-10 05:12] alexanderbez commented on #6070
That would be correct, since `x/evidence` only deals with double-signing.

[2020-05-10 10:13] anilCSE commented on #6070
It's failing on simulations too, right after integrating `x/evidence`
https://github.com/ovrclk/akash/pull/557/checks?check_run_id=660211535

[2020-05-10 14:20] readygo586 opened #6179 "The distribution's Account is coin amount is bigger than that community pool's"
## Summary of Bug
the coins in distribution account is not consistent with that that in fee pool.

## Version

v0.37.2

## Steps to Reproduce
run the following case, you will find that

- the distribution account's coin is 100 stake
- the community pool's coin is 2 stake

`
func TestAllocateTokensToManyValidators(t *testing.T) {
	ctx, ak, k, sk, supplyKeeper := CreateTestInputDefault(t, false, 100

[2020-05-10 14:50] alexanderbez commented on #6070
is x/distribution hooked up as well?

[2020-05-10 15:43] anilCSE commented on #6070
Yes, it is

[2020-05-10 18:13] anilCSE commented on #6070
Looks like this is more of an integration issue than something from sdk. I check sdk simapp, wasmd (https://github.com/cosmwasm/wasmd) and no issues there.

[2020-05-10 19:26] anilCSE commented on #6070
https://github.com/ovrclk/akash/pull/558

@kwunyeung can you check if you have similar integration issues?

[2020-05-10 20:25] #2494 closed

[2020-05-10 20:25] #2476 closed

[2020-05-10 20:27] #3388 closed

[2020-05-10 20:28] #3228 closed

[2020-05-10 20:30] #4522 closed

[2020-05-10 20:32] #4627 closed

[2020-05-11 05:34] zmanian opened #6181 "Not seeing Msg.Sender events from the antehandler"
I'm not seeing the Msg.Sender events that expected to be generated in

https://github.com/cosmos/cosmos-sdk/blob/master/x/ibc/ante/ante.go#L42-L53

and introduced in
https://github.com/cosmos/cosmos-sdk/pull/6161

These aren't showing up in the websocket output.

## For Admin Use

- [ ] Not duplicate issue
- [ ] Appropriate labels applied
- [ ] Appropriate contributors tagged
- [ ] Contributor ass

[2020-05-11 05:43] jsimnz opened #6182 "ClientUpdate Packet with invalid TrustPeriod returns non descriptive error message"
## Summary of Bug

Sending a ClientUpdate with a TrustingPeriod *greater than or equal to* the unbonding period is specifically not allowed, and this is enforced [here](https://github.com/cosmos/cosmos-sdk/blob/8bd8d107a32f00fc2bf9ef134f98e43eefb0990c/x/ibc/07-tendermint/types/client_state.go#L63). The problem is if you actually trip this error handling code, it returns a casual non descriptve go

[2020-05-11 06:25] kwunyeung commented on #6070
@alexanderbez we also have `x/distribution`.

@anilCSE we haven't integrated `x/evidence`. @RiccardoM can you help to see if we would have similar issue described above? Would this again because of the sequence of the modules?

[2020-05-11 06:34] RiccardoM commented on #6070
@anilCSE @kwunyeung I didn't quite follow. Was the missing of the `evidence` module causing this problem or was it something else?

[2020-05-11 06:37] kwunyeung commented on #6070
@RiccardoM `evidence` should not be related. Instead, I'm thinking how the `distribution` would be affecting this. The `distribution` and `staking` operations not working because the `stake` is calculated wrongly. This is the problem how the export failed as well.

[2020-05-11 06:46] whylee259 commented on #5859
`codespace` was added to `ResultBroadcastTx` in the latest tendermint version(v0.33.4)

Could you change the issue status?

[2020-05-11 06:53] RiccardoM commented on #6070
@kwunyeung The only difference I can see on how modules are initialized between @anilCSE PR and our code is that the `distribution` module is initialized before the `auth` one in his code, while in our it is initialized after.

A part from that, the initialization of the `distritbution`, `staking` and `slashing` modules are all in the same order.

[2020-05-11 08:10] marbar3778 commented on #4782
@fedekunze why did you close this? this is not completed?

[2020-05-11 08:30] jgimeno commented on #6176
Yeah, not a bug, but in my opinion not consistent with other methods as Undelegate.

So I vote for doing the Lookup in the method in Delegate. :D

[2020-05-11 08:41] kwunyeung commented on #6070
@alexanderbez this only affect to delegators have been slashed. Delegations from new delegators can be done.

[2020-05-11 12:53] alexanderbez commented on #6070
Perhaps it has to do with the fact that `x/distribution` is registered before `x/auth`?

[2020-05-11 15:46] #6159 closed

[2020-05-11 17:56] alexanderbez opened #6186 "Track Events Emitted from the AnteHandler"
## Summary of Bug

Events were initially designed and intended to be emitted during message handlers and ABCI begin/end block executors. However, due to the design and various use cases IBC introduces, it is desirable to also emit events during the AnteHandler.

Any events currently emitted during the AnteHandler will not be captured and returned to Tendermint. I think we can easily support and fi

[2020-05-11 18:09] fedekunze commented on #6181
Moving to #6186

[2020-05-11 18:09] #6181 closed

[2020-05-11 18:37] colin-axner opened #6188 "Allow Client State modifications via VerifyXYZ functions"
## Summary

Verification functions need to be able modify ClientState in order to things like replay protection in the case of [06 solo machine](https://github.com/cosmos/cosmos-sdk/issues/5382)
## Problem Definition

Currently the ClientState interfaces only return an error so any modification to ClientState won't be persisted outside of the Verify function.
## Proposal

VerifyXYZ functions shoul

[2020-05-11 18:38] colin-axner commented on #5382
I opened an issue to resolve modification of client state for verification functions #6188

[2020-05-11 19:38] aaronc opened #6190 "Full amino encoding support"
# Summary

We have attempted to maintain a compatibility for amino on a few levels during the protobuf migration:

* the ability to use the `AminoCodec` for state encoding
* the ability to still use amino for transaction encoding by configuring the appropriate `tx.Generator`
* the ability to sign protobuf transactions using Amino JSON

We actually have very few tests that test that the above work

[2020-05-11 19:48] aaronc opened #6191 "Efficient Querier Pagination"
# Summary

It has been brought to my attention that the current approach to pagination is inefficient because it still requires the full result set to be retrieved by the querier so it will slow down under really huge result sets.

# Proposal

@alpe proposed two approaches here: https://github.com/regen-network/cosmos-modules/pull/63#pullrequestreview-380905827 which I am quoting below

Approach B

[2020-05-11 20:17] aaronc opened #6192 "Protobuf unknown field rejection"
# Summary

As discussed in #6078, we need to generally reject unknown protobuf fields and this is not done automatically in signature verification with our current approach. Also, we want to add a reserved range of "non-critical" fields for forwards compatibility with newer clients.

Basically, a transaction processor should generally reject transactions that it does not understand because not doi

[2020-05-11 20:36] aaronc opened #6193 "Protobuf Any compression"
# Summary

As a consequence of #6030 and #6081, we migrated to protobuf `Any` which results in slightly more disk usage because of type URLs embedded in transactions and state. We could potentially mitigate this through compression at the persistence layer without affecting tx or state hashes.

# Proposed Approaches

##  tm-db Compression

A custom compression layer could be introduced that implem

[2020-05-11 20:46] aaronc opened #6194 "General Amino audit / cleanup / IAVL changes"
# Summary

In the process of migrating to protobuf, several pieces of the code outside of the core tx/query/state logic are also relying on amino in addition to

This issue is to track a task of auditing and migrating all the remaining bits:
- [x] [iavl](https://github.com/tendermint/iavl) completed in [#265](https://github.com/cosmos/iavl/pull/265)
- [x] `store/` (https://github.com/cosmos/cosmos

[2020-05-11 21:37] sahith-narahari commented on #3061
This is summary of discussion from discord
@alexanderbez proposed just renaming the CliContext to Context(will be imported as context.Context) but this is confusing as it collides with stdlib's Context which will be used once clients use gRPC

@aaronc suggested that the top level client package is for things that are likely to be imported a lot and CLIContext is currently imported a lot. so either

[2020-05-11 21:46] alexanderbez commented on #3061
I would like to reiterate, grouping and packages should be done by context/domain and not by expected usage. However, clobbering with the stdlib `context` is a valid concern and may warrant moving `Context` types and logic to the root `client` package. As long as this is a painless effort, I'm onboard 👍

[2020-05-11 21:51] alessio commented on #3061
+1 for moving `CLIContext` into `client`

[2020-05-11 22:23] #6186 closed

[2020-05-11 23:30] AdityaSripal commented on #6188
I undrestand why this is necessary. Because we need to update the clientstate of solo machine after each successful signature verification to modify the sequence.

But it feels wrong from an interface level, to have the verify functions be stateful.

I wonder if there's a way to prevent a replay of the verify function for solo machines without making the verify interfaces stateful. @cwgoes

[2020-05-12 06:20] marbar3778 commented on #6194
for iavl: https://github.com/tendermint/iavl/issues/242

[2020-05-12 08:45] RiccardoM commented on #6070
@alexanderbez I've tried inverting the registrations of the modules, but with no luck

[2020-05-12 10:48] marbar3778 commented on #5917
will part of this also depend on tendermint genesis work or is it orthogonal? I am starting to delve into the tendermint side of JSON encoding

[2020-05-12 13:17] whylee259 opened #6197 "Add an ability to update ConsensusParams"
## Summary

Adding an ability to update ConsensusParams by collecting ConsensusParamUpdates from `Module.EndBlock`.

## Problem Definition

Updating `ConsensusParams` can be done by passing changes to Tendermint through ResponseEndBlock.

We can decide whether to change using the governance module.

However, ModuleManager does not collect `ConsensusParamUpdates` nor passes them to Tendermint becau

[2020-05-12 13:33] alexanderbez commented on #6197
The SDK now manages consensus parameters via the x/params module and are changed via governance proposals. That being said, we should probably figure out if we need to send these to Tendermint at all.

Do we need to @marbar3778 @melekes ?

[2020-05-12 13:41] marbar3778 commented on #6197
yes they should be sent to tendermint. If not then while the appplication changes things tendermint logic will adhere to the genesis consensus params and this may cause problems

[2020-05-12 13:42] cwgoes commented on #6188
Hmm, not that I can think of that doesn't require a lot of additional functions (it would be possible to separate the verify functions into state changes & verifications which are stateless, but this would double the number of functions).

We can change the names to reflect the statefulness though, maybe "verifyXYZAndUpdateState" or "statefulVerifyXYZ"?

[2020-05-12 13:50] fedekunze opened #6198 "Remove store from Localhost client"
## Summary

Remove prefix `store` field from the localhost client and replace it with a cleaner approach.

## Problem

The [ICS09](https://github.com/cosmos/ics/blob/master/spec/ics-009-loopback-client/README.md) localhost client requires to introspect the client store in order to verify state.

Nevertheless, the client needs to be stored in the state as well, so we end up storing the prefix store

[2020-05-12 13:58] fedekunze commented on #6188
I don't think we need to rename functions as long as we document that client states can be stateful.

[2020-05-12 14:00] cwgoes commented on #6198
Yes, I think this approach is preferable (also see https://github.com/cosmos/cosmos-sdk/pull/6189#issuecomment-627355873).

[2020-05-12 15:15] Sladuca commented on #6100
`types/errors/errors_test.go` seems to be testing the differences between `errors` and `pkg/errors`. Is there something else that should happen here?

[2020-05-12 15:26] #5859 closed

[2020-05-12 16:35] jgimeno commented on #6191
@aaronc even type A will change the result type, since we need a way to return the after []byte type. Am I wrong?

The only issue I see maybe is the way pagination will work in CLI command line, maybe is a little bit annoying to provide the last element ID as a param.

[2020-05-12 17:37] Thunnini opened #6203 "Separate the escrow account per channel for ibc 20-transfer"
## Summary
In the @cwgoes 's ICS spec demonstrates the escrow account is handled per channel. But, in the current implementation, 20-transfer module shares the escrow account with all channels because it uses the module account for escrowing assets.

## Problem Definition
I think that the reason why ICS demonstrates the escrow account is handled per channel is to avoid the propagation of vulnerabi

[2020-05-12 17:39] #6203 closed

[2020-05-12 17:40] Thunnini commented on #6203
I misunderstood the code 😢

[2020-05-12 18:14] aaronc commented on #6191
Well ideally that is included as the key of the last item in the result set. But the cleaner way would probably be to include it directly in the result set as `Cursor` or something.

[2020-05-12 19:13] #6198 closed

[2020-05-12 19:51] colin-axner commented on #6188
closed via #6202

[2020-05-12 19:51] #6188 closed

[2020-05-13 01:02] fedekunze commented on #6144
what are the actionable items here?

[2020-05-13 01:08] fedekunze commented on #5908
@cwgoes can you check tomorrow if 3-5 still apply? Sounds like a small fix

[2020-05-13 01:10] #5686 closed

[2020-05-13 01:10] #6175 closed

[2020-05-13 01:21] fedekunze commented on #5440
Does #6178 fix this issue?

[2020-05-13 10:58] mariopino commented on #6105
I don't think the problem is related to the server, I can reproduce the same behaviour in other private nodes. That query gives the same timeout in every node I tested.

[2020-05-13 11:53] cwgoes commented on #5440
When the ICS 23 proof specification is correctly implemented, it should, but we do need to check the multstore implementation of that specifically.

[2020-05-13 11:54] cwgoes commented on #6144
Document the fact that we have done this (since it was intentionally unintentional).

[2020-05-13 12:39] cwgoes commented on #5908
(4) is still the case in the SDK; [this line](https://github.com/cosmos/cosmos-sdk/blob/master/x/ibc/03-connection/keeper/handshake.go#L145) should be changed.

[2020-05-13 12:41] cwgoes commented on #5908
@ancazamfir Is the goal for the default relayer to relay everything which can be possibly be relayed? I'm not sure if you would necessarily want to relay if it seemed like another relayer had started the handshake too.

[2020-05-13 12:55] cwgoes commented on #5908
Fixed spec-side in https://github.com/cosmos/ics/commit/00531eecb9fc39c9f40fd20c22e8e6a840ed560b.

[2020-05-13 13:01] cwgoes commented on #5908
The spec-side ICS 18 work can be tracked in https://github.com/cosmos/ics/issues/402.

(ICS 18 was not really ever intended to be comprehensive)

[2020-05-13 13:21] kochetkov-av commented on #2627
It looks like current implementation fully relies on coins being sorted lexicographically by coin.Denom and couldn't be optimized significantly.

[2020-05-13 13:52] jgimeno commented on #6191
Ok! What we do then about this, I can provide an example on how to do case B in one PR for a specific case, and if we like implement it for all, or we wait to gRPC?

[2020-05-13 14:28] aaronc commented on #6078
There is a pretty big discussion that has been unfolding related to #6111 and #6174 in those PRs and now on discord. I think it has gotten to the point where it deserves its own list of alternatives with pros and cons. I will make my own attempt below.

The general context of this discussion is the UX of a multi-signer transaction. I will frame the various alternatives under three broad umbrellas

[2020-05-13 14:29] fedekunze opened #6210 "panic: Cannot encode unregistered concrete type types.MsgFundCommunityPool."
## Summary of Bug

`MsgFundCommunityPool` is not registered on the distribution amino codec

## Steps to Reproduce

ref: https://github.com/ChainSafe/ethermint/issues/294

Credits to @landoyjx for reporting the issue.
____

## For Admin Use

- [ ] Not duplicate issue
- [ ] Appropriate labels applied
- [ ] Appropriate contributors tagged
- [ ] Contributor assigned/self-assigned

[2020-05-13 14:43] zmanian commented on #6078
I feel like 3 is the correct direction as well.

[2020-05-13 14:51] jgimeno commented on #6176
Ok I reviewed this, I went to all calls to Delegate. And I realized that the issue is not with with Delegate but the other calls. Here my explanation:

In msgCreateValidator handler we:
- Create a validator struct from scratch and we set what we need.
- We SetValidator to the keeper.
- And then we pass this struct which is already saved to Delegate. (If we did the lookup in Delegate we would call

[2020-05-13 15:46] ancazamfir commented on #5908
But then both relayers may back off.
I believe the relayer should send msg to `dest` if:
`OpenInit` -> if `dest.state` in `{"UNINITIALIZED"}`
`OpentTry` -> if `src.state = "INIT"` and `dest.state` in `{"UNINITIALIZED", "INIT"}`
`OpenAck`  -> if `src.state = "TRYOPEN"` and `dest.state` in `{"INIT", "TRYOPEN")`
`OpenConfirm` -> if `src.state = "OPEN"` and `dest.state in {"TRYOPEN"}`

And SDK handler

[2020-05-13 15:46] webmaster128 commented on #6078
Thank you @aaronc for the great summary. Here are a few additions/remarks and then separated my person vote.

**(1)**
Additional Pros:
- The signature aggregation is fully parallel (i.e. signatures can be collected in any order since they don't depend on each other)

Regarding Con:

The point does not apply to a [multisig-pubkey](https://hub.cosmos.network/master/resources/gaiacli.html#multisig-tr

[2020-05-13 16:14] #6210 closed

[2020-05-13 16:15] fedekunze commented on #6210
closed via https://github.com/cosmos/cosmos-sdk/pull/6211

[2020-05-13 16:17] aaronc commented on #6078
But that's not true because they still need to agree upon the list of addresses to include in the messages. If you wanted to coordinate 3 signers out of 5, you would still need to ask all 5, then get an ACK from 3 of them and then compose the messages and then have them sign it. I acknowledge that the weave model made this simpler and I think (3) gets pretty close.

[2020-05-13 16:23] aaronc commented on #6078
Based on discussions on discord, I have updated my original PR #6111 with the following:

* made a small modification to my initial approach where `AuthInfo` is split out from `TxBody` to gracefully enable (3) and/or (1)(a) in the future if so desired
* approaches (3) as well as (1)(a) mentioned as possible future improvements
* handling of signing modes for the SDK's nested multisig pubkeys added

[2020-05-13 16:31] aaronc commented on #6191
@jgimeno I think the most bang for the buck will be doing together gRPC. I have an init PR for bank #5882. I need to update it anyway and can add it there as a starting point. I would also like to update ADR 021 to mention this. Have you read that?

[2020-05-13 16:34] alexanderbez commented on #6078
What is left to get the work started? What needs to be merged?

[2020-05-13 16:39] aaronc commented on #6078
#6111, then maybe an init PR with the proto file and then implementing the signing logic.

[2020-05-13 16:55] aaronc opened #6213 "Proto Any Tx migration"
Tracking issue for implementing ADR 020 updates from #6111 and discussed at length in #6078:

# Critical Path

- [x] #6214: create new master proto `Tx`, `SignDoc`, etc. types
- [x] #6217: decide on and implement new `PublicKey` encoding
- [x] implement `SIGN_MODE_DIRECT`
  - [x] #6385 add `SignDocRaw` and `TxRaw` to a separate package
  - [x] ~~start sequence and account numbers from one -- archi

[2020-05-13 17:26] #5908 closed

[2020-05-13 19:54] webmaster128 commented on #6078
There are two types of multiple signatures currently discussed:

1. The list of requires messages signers that is calculated from the [GetSigners result of each message](https://github.com/cosmos/cosmos-sdk/blob/cc90f2e0022c3f15b447e4cc872333ce77af7696/std/tx.go#L69-L70).
2. A [multisig account type](https://hub.cosmos.network/master/resources/gaiacli.html#multisig-transactions) that has a separat

[2020-05-13 21:23] #2747 closed

[2020-05-13 23:13] aaronc commented on #6030
Addressed in #6081 and #6111

[2020-05-13 23:13] #6030 closed

[2020-05-13 23:23] #6160 closed

[2020-05-14 00:42] clevinson commented on #6078
Closing this now, as this issue was targeting an update of ADR020.

#6213 will be used for tracking the actual implementation of the updated ADR as described in #6111

[2020-05-14 00:42] #6078 closed

[2020-05-14 06:57] RiccardoM opened #6218 "Add the ability to use any Tendermint DB backend"
## Summary
Allow the users to use any Tendermint DB backend while creating Cosmos-specific databases.

## Problem Definition
Currently when creating a new LevelDB, the only two supported database backends are `LevelDB` and `ClevelDB`. While this works great for most of the chains, someone might want to use different backends such as the ones supported by Tenderming (e.g. `BoltDB` or `RocksDB`).

#

[2020-05-14 13:41] #6218 closed

[2020-05-14 13:51] jgimeno commented on #6191
Gonna read it. This is the branch your are using right? https://github.com/cosmos/cosmos-sdk/pull/5953

[2020-05-14 13:56] aaronc commented on #6191
Yes, that's the init PR

[2020-05-14 16:08] alexanderbez opened #6221 "Client Redesign"
The state of the client-side functionality of the SDK is fragmented at best. We primarily expose a CLI interface for generating unsigned txs, signing txs and signing related functionality, and finally querying the state of modules and the application.

The REST service (if enabled as a separate service) performs nearly the identical aspects apart from signing related functionality (for security pu

[2020-05-14 16:23] aaronc commented on #6221
Is this still relevant with gRPC?

In ADR 021 we said we were going to have:

* gRPC routed through the ABCI query endpoint
* native gRPC
* grpc-gateway for REST

All of these would live in the primary `gaiad`, etc. command on different ports.

My intention in #5882 is to have the query CLI methods simply use the generated gRPC client types. We haven't gotten around to reviewing that yet, but so f

[2020-05-14 16:36] alexanderbez commented on #6221
Yes, this is still absolutely relevant. The gist of this proposal is to have nearly all CLI handlers delegate to the HTTP API.

[2020-05-14 16:47] aaronc commented on #6221
But why is that better than CLI handlers delegating to gRPC? Are you talking about tx or queries?

[2020-05-14 16:59] alexanderbez commented on #6221
I never said that. The proposal is that they delegate instead of duplicating work. Be that an HTTP API or gRPC -- it's the same idea or principle.

[2020-05-14 17:06] aaronc commented on #6221
Okay, totally makes sense then.

Does this accomplish what you have in mind: https://github.com/cosmos/cosmos-sdk/pull/5953/files#diff-17e5aa248cbcd2ce8e10c9525a1b88b4R39 ?

Basically the CLI method calls this gRPC interface rather than sprintf'ing the route and doing a bunch of marshaling:

[code]

[2020-05-14 17:08] aaronc commented on #6221
An even crazier alternative would be to actually generate CLI methods from gRPC reflection (like https://github.com/fullstorydev/grpcurl), but maybe it's nice to be able to hand tweak the args and flags.

[2020-05-14 17:15] alexanderbez commented on #6221
Yes precisely! I'd even wager that we should even potentially remove validation and parsing -- just take args and pass them to the delegated service to further reduce boilerplate code. But yes, this is essentially the idea. In that case, we can maybe even close this issue.

[2020-05-14 17:40] aaronc commented on #6191
Here's what I'm thinking, just take `Page []byte` in the request and return `NextPage []byte` in the response if there are more pages (`nil` otherwise).

Ex:

[code]

[2020-05-15 00:01] fedekunze commented on #6019
This is already checked on master

[2020-05-15 00:01] #6019 closed

[2020-05-15 08:46] marbar3778 commented on #6092
What about having `transfer` be a submodule of bank. The reason being if we have `x/bank` & `x/transfer`  then it is unclear to a new user what they should use at first glance. If the transfer module has the bank module as a dependency (which it seems to) I think it should live within the bank module as a submodule.  `x/bank/transfer` or something more worded toward ibc `x/bank/ibc-transfer`

[2020-05-15 10:53] cwgoes commented on #6092
Hmm - I think there should be one module (`x/bank`) that handles the actual logic, and another (`x/transfer` or `x/bank/transfer`) that handles sending/receiving of IBC packets and calling the `x/bank` handler appropriately. It can be a submodule of `x/bank`, but it shouldn't be enabled by default - only if the user specifically elects to enable it. This pattern (core module with state transition

[2020-05-15 11:44] marbar3778 commented on #6092
yes I agree with you that it should not be enabled by default. If you want it enabled then you will have to bring in bank and explicitly call transfer the same way it is now, so this builds the mental model of things working together.

At least how I am seeing something like `x/transfer` is that there is the possibility of it working on its own (without bank).

[2020-05-15 13:32] fedekunze commented on #6092
No more submodules plz. The only reason why we have them is to encapsulate each ICS and ease audit against the spec.

[2020-05-15 13:38] aaronc opened #6226 "Cleanup UnpackInterfacesMessage functionality"
# Summary

The recent custom `Any` support with `InterfaceRegistry` and `UnpackInterfacesMessage` could use a little tidying up:

- [x] #6147: describe usage of the `RegisterInterface` `protoName` param and`accepts_interface` & `implements_interface` proto extensions in ADR 019
- [ ] `UnpackInterfacesMessage` is an ugly name, let's rename it to something better. Maybe `PostUnmarshaler` or some var

[2020-05-15 14:20] alexanderbez commented on #6190
Shouldn't Full Proto use ProtoMarshaler? Otherwise, it will still use Amino for anything JSON related. Also, maybe drop the `simapp` verbiage from the build tag values? `amino_signing` and `amino_encoding`?

[2020-05-15 14:26] aaronc commented on #6190
Well, it's tricky because the JSON marshaling stuff on the server side AFAIK is _only_ used for querier and REST endpoints which will get replaced by gRPC in the near future. So I'd opt for using `HybridMarshaler` to allow for a more graceful client transition. As I recall that was the point of having a `HybridMarshaler` at all 😉

[2020-05-15 14:29] jsimnz opened #6228 "Inconsistent results in Makefile from 'sed' command"
## Summary of Bug

The `sed` command is used in the Makefile to handle the proto-update-deps recipe to do some basic text replacement when downloading proto files from the Tendermint repo to the local cosmos folder under the `third_party` directory.

Unfortuently `sed` behaves different on some systems compared to others with regards to the `--in-place or -i` flag. Some systems define the usage as

[2020-05-15 14:29] aaronc commented on #6190
I do want to note that these build tags wouldn't affect any other code besides `simapp`. With other code you would need to manually configure the marshalers. Thus the reason for the prefix. How about `test_amino_...`?

[2020-05-15 14:33] alexanderbez commented on #6228
We should be using GNU sed instead.

[code]

[2020-05-15 14:34] alexanderbez commented on #6190
`test_amino` 👍

[2020-05-15 14:47] sahith-narahari commented on #5951
I'll cross check if everything has been ported from gaia/cli-test and close this.

@aaronc @alexanderbez do we have a decision on what we want to rename the simapp to?

[2020-05-15 14:54] alexanderbez commented on #5951
I have no strong preference here. @aaronc thoughts?

[2020-05-15 14:55] alessio commented on #5951
How about `simula`?

[2020-05-15 15:16] cwgoes commented on #6092
How would that work (what would it do other than call the `x/bank` keeper)?

[2020-05-15 15:25] jgimeno commented on #6191
I see, and I think is a good approach, I wonder how user friendly would be this from the point of view of the command line.

Is not the same --page 1 that --page 0x1234567890ABCD but I can't come with other idea that does not need to do a traversal of the full set.

[2020-05-15 15:47] alexanderbez commented on #6191
One way would be to support both -- efficient and lazy pagination:

[code]

The idea is that a client can either provide `page` or `page_key`, where the former would do lazy pagination and the latter would do efficient pagination. In the presence of both, we can either error or pick the efficient path.

[2020-05-15 15:48] marbar3778 commented on #6092
ah i meant if i were a new comer and didnt understand that x/transfer has a dep on bank i would think i can use it standalone. But in the PR bez suggested `x/ibc-transfer` which is good imo

[2020-05-15 16:00] aaronc commented on #6191
Hmm... I'd rather not complicate things by supporting both options on the querier level. Most usage I imagine will actually be programmatic.

I can't see any other use case beside the CLI, and if we really want to support the simple `--page 2` syntax, the client can just inefficiently iterate through result sets itself until it gets to the right page.

[2020-05-15 16:02] jgimeno commented on #6191
Yeah, maybe we can just accept this tradeoff.

[2020-05-15 16:09] jgimeno commented on #6191
Sorry, I am just thinking, but I see with the approach suggested other problem with the REST.

This approach only allows in a webapplication to get in the style of:

<- prev   next ->

Since we always need at least the first call to get the next data.

So exact paginations on the style of:

1 2 3 4 5 6 ... etc wont be possible without many tricks.

This is just some thoughts, I am not advocating a

[2020-05-15 16:10] alexanderbez commented on #6191
Why is this a tradeoff or complication? It's pretty trivial (if/else check). Clients that don't want to pass around a byte/hex key should not have to.

[2020-05-15 16:12] jgimeno commented on #6191
I think what @aaronc says is that from the point of view of the API having two types of pagination is not optimal, not because of the coding complexity but from API design.

[2020-05-15 16:16] alexanderbez commented on #6191
Mhhh, I respectfully disagree. Can you please explain how it's non-optimal? The client can choose to use which ever method it wants. One value is omitted over the other.

[2020-05-15 16:24] jgimeno commented on #6191
I understand you perfectly, with non optimal I wanted to say that is less simple than having only one way of pagination, which from a client perspective it just makes it a little bit harder but just looking at

  uint32 page = 2;
  bytes page_key = 3;

to understand the difference of both.

Don't get me wrong @alexanderbez! I think is not a bad idea to have both, I did not think about it and I thi

[2020-05-15 16:30] aaronc commented on #6191
Maybe it's the right thing to do, I just think it would be simpler if we could avoid it. It's added complexity for every request type and every querier method. I'll see if I can find a simpler way... but maybe there isn't.

[2020-05-15 16:31] alexanderbez commented on #6191
ACK whatever you guys wish to go with...

[2020-05-15 16:48] aaronc commented on #5917
@marbar3778 Can you share some details/link about this?

[2020-05-15 16:51] aaronc commented on #5917
With #6147, we now have an easy pathway to support both Amino and Proto JSON, so I've updated this issue to include a task in this issue for adding flags to `start` and `export` to choose which JSON format to use.

[2020-05-15 17:04] aaronc commented on #5917
Also I've thought about how to approach streaming JSON based on some things @alpe has shared and just want to document the approach I have in mind. (I don't think we need to get to this quite yet.)

Here are the constraints I see:
* streaming JSON should be opt-in on a module by module basis and isn't blocking for v0.39 (unless there are resource issues doing the hub export)
* looking at our curre

[2020-05-15 17:12] aaronc commented on #5951
Seemed like people liked atomicd. But maybe we can come up with something better?

[2020-05-15 17:24] #6080 closed

[2020-05-15 17:41] jgimeno opened #6232 "Proposal: Simplification of AppModule interface."
## Summary

Right now in AppModule we find for the routes next methods:

[code]

I think this can be simplified to only:

[code]

## Problem Definition

With the spirit of simplify I saw that is very common to have empty handlers, so we find a lot of modules which provides something like (from x/auth):

[code]

## Proposal

When I looked when is Route() used I saw that is only used once, meaning t

[2020-05-15 17:47] aaronc commented on #6232
What is `sdk.Route` defined as?

Querier routing will already change based on ADR 021/gRPC #5894.

[2020-05-15 17:49] jgimeno commented on #6232
I changed this other interfaces:

[code]

[2020-05-15 18:02] aaronc commented on #6232
Okay makes sense now. `Route` could probably just be a struct with this design.

I've always wondered why the SDK does routing the way it does in general.

Maybe that's a larger question, but why don't we just dispatch with `map[reflect.Type]sdk.Handler`? Then all of these string route keys would be unnecessary and we would have something like:

[code]

[2020-05-15 18:59] alessio commented on #6232
Having fewer methods in `AppModule` would mean making a step torwards a kind of simpler design.
I'd just keep the same name for the `Route` and `QuerierRoute` - instead of prefixing both with `New` (either it's an API breaking change, but at least naming would be IMO more logical).

Seconded - I like the proposal.

[2020-05-15 19:01] alessio commented on #6232
Plus, this does not seem to introduce any auto-magical, convoluted mechanisms that usually make debugging painful like hell.

[2020-05-15 19:04] marbar3778 commented on #5917
we are discussing and started a small doc here: https://docs.google.com/document/d/1RzF9qvr-a6oYbmKdhHJ_lYLIUbxozTFfsJCwJzAqXkY/edit#heading=h.n4jqb5mvv9mq

and have a issue here: https://github.com/tendermint/tendermint/issues/4828

[2020-05-15 19:41] kwunyeung opened #6234 "Sending tokens to the same address should not be allowed"
## Summary of Bug

I can send token from and to the same address.

## Version

v0.38.3
## Steps to Reproduce

[code]
The result can be found [here](https://morpheus.desmos.network/transactions/3AD21035380A8D458057841ACCE7C72D34D46DD9B64988E94C063A79B6351995).

I expect this should be rejected before broadcasting the tx. The `ValidateBasic` is not checking if the `from` and `to` addresses are the s

[2020-05-15 20:07] aaronc commented on #6191
Did a quick spike on this with for #5975

I think this approach will address both concerns:

https://github.com/cosmos/cosmos-sdk/pull/5953/files#diff-bc1bef9ecc3076635102b2d152b5449c

https://github.com/cosmos/cosmos-sdk/pull/5953/files#diff-8ca04691fa5aa1d8ede405ec840d9f21

Using page numbers can be made more efficient if the iteration only unmarshals the values that are actually going to be ret

[2020-05-15 20:12] anilCSE commented on #6234
I wonder if this is a design choice to have no limitations from SDK, but it would be good to have atleast a flag enable/disable self transfers.

[2020-05-15 20:31] fedekunze commented on #6234
ahh, this is an old issue. I recall we didn't do the validation because it is up to them if they want to spend fees testing a transaction. The issue now is, what if the proposer accepts 0 fees? That could lead to DoS.

I'd propose adding an ante handler decorator to see if the transaction has positive fees.

[2020-05-15 20:36] #6092 closed

[2020-05-15 20:37] alexanderbez commented on #6234
Self vs No-Self sends don't matter WRT to DoS -- I can simply create two addresses that I own and send the same funds back-n-forth for free (or even some multiple set of addresses).

I would recommend that we do not impose this limitation in the protocol, but rather have a warning at some level in the client UX.

[2020-05-16 00:03] colin-axner opened #6235 "leftover file in x/transfer"
## Summary of Bug
I think in the process of moving `x/ibc/20-transfer` to `x/ibc-transfer`, one copy of a file got left in `x/transfer`. `x/transfer` should be deleted entirely

## Version

## Steps to Reproduce

____

## For Admin Use

- [ ] Not duplicate issue
- [ ] Appropriate labels applied
- [ ] Appropriate contributors tagged
- [ ] Contributor assigned/self-assigned

[2020-05-16 15:00] fedekunze commented on #6235
sorry about that

[2020-05-17 23:27] guettomusick opened #6238 "This should use len of Signers, the error message is wrong"
https://github.com/cosmos/cosmos-sdk/blob/3dcdc582afee14af0e7691aee61f70adbe3a2016/std/tx.go#L101

should be,

[code]

[2020-05-18 01:55] #6235 closed

[2020-05-18 09:01] marbar3778 commented on #5951
whats wrong with simd & simcli? It is the simplest & self-explanatory. They are only used for sims and testing so they aren't user-facing so naming shouldn't matter.

[2020-05-18 09:03] noandrea commented on #5661
hello, looks like this one got stuck :)

summing up, there are 2 approaches proposed for this issue:
1. wormhole protocol:
   - pro: secure, completely transparent to the user, very high level
   - cons: complex, requires a lighthouse service (hosted by cosmos)
2. generic file transfer (ipfs, http(s), sftp, ...)
   - pro: well-known and supported protocols, do not require a hosted service (by cosm

[2020-05-18 10:01] alessio commented on #5661
I agree, and have voted 2.

Plus wrt 1., I'd add to the contros that if we were to go for a specific protocol, we'd restrict users freedom. Conversely, if we got 2. well implemented and simple, it would not necessarily be error prone or requiring any special or particularly complicated setup from the users.

[2020-05-18 10:02] alessio commented on #5951
I agree with Marko on this. Naming should always try suggest what the program/library is for.

[2020-05-18 13:36] cwgoes commented on #6056
The proposal was accepted!

[2020-05-18 13:38] cwgoes commented on #6042
Ah, this change has already been made, #6074 can be dealt with separately.

[2020-05-18 13:38] #6042 closed

[2020-05-18 13:47] cwgoes commented on #5846
@ethanfrey If https://www.mintscan.io/proposals/25 passes, do you plan to work on this?

[2020-05-18 14:03] ethanfrey commented on #5846
The cosmos hub proposal is focused on governance gating and migrations. This ibc work is awaiting final approval and a contract from the icf. When that is finalized (and we release 0.8 in a week or so), IBC becomes high priority for me and happy to work on this or other related tasks

[2020-05-18 15:57] aaronc commented on #5951
I agree, let's stick with simd/simcli for now. We have enough stuff in flux to get out for 0.39. And there are user facing naming decisions _we do_ need to deal with

[2020-05-18 16:44] fedekunze commented on #6074
@cwgoes can you update ICS20 accordingly?

[2020-05-18 16:50] #6056 closed

[2020-05-18 18:54] colin-axner opened #6246 "More info on internal errors"
## Summary
Getting an internal error typically returns no useful information.

## Problem Definition
Calling `CheckTx` or `DeliverTx` will wipe the actual returned error and replace the log with `internal error` because of the [`defaultErrEncoder`](https://github.com/cosmos/cosmos-sdk/blob/e0fa14c0e1ed7be80d570814eb4fb7a4dbfb9588/types/errors/abci.go#L37) which needs to be set in `debug` mode to g

[2020-05-18 19:33] fedekunze commented on #6246
This is something I've seen as well and it's very annoying. For eg on Ethermint the app errors can't reach web3 and they are printed as `internal error`. We ended up using `replace` statements to our local SDK to avoid this.

I'd even vote to remove the replace logic entirely and to return the actual error instead of the `internal error` log.

 cc: @noot

[2020-05-18 20:22] cwgoes commented on #6074
Done in https://github.com/cosmos/ics/commit/47ef16880d2ce8176ed2395fc8d64a22148faf80.

We should allow the sender to specify both `timeoutHeight` and `timeoutTimestamp`, no reason not to.

[2020-05-18 20:32] alexanderbez commented on #6246
You should only be getting `internal error` via the `defaultErrEncoder` when the error is either a panic or it's code is 1. What's wrong with this?

[2020-05-18 20:50] fedekunze commented on #6246
The error we see comes from the `Redact` function:

https://github.com/cosmos/cosmos-sdk/blob/e0fa14c0e1ed7be80d570814eb4fb7a4dbfb9588/types/errors/abci.go#L157-L168

[2020-05-18 21:20] alexanderbez commented on #6246
Right, exactly. As you can see that describes what I initially wrote. You only get `internal error` when it panics:

[code]

or when the code is 1

[code]

[2020-05-18 21:25] fedekunze commented on #6246
shouldn't it log the panic stack trace?

[2020-05-18 21:44] alexanderbez commented on #6246
It should be logged in the baseapp. Be sure you're not using code 1.

[2020-05-18 21:58] fedekunze commented on #6246
we are not using code 👍

where?

[2020-05-18 21:59] colin-axner commented on #6246
`ibc` packages should be updated to return a specified error in cases like [this](https://github.com/cosmos/cosmos-sdk/blob/e0fa14c0e1ed7be80d570814eb4fb7a4dbfb9588/x/ibc/07-tendermint/types/client_state.go#L206)

I can update this issue to do the above assuming that is the desired approach

[2020-05-18 23:47] alexanderbez commented on #6246
In the panic recovery handler of `runTx`...

[2020-05-19 13:07] marbar3778 commented on #6006
bring in github actions. there is not a single commit to bring in becuase they were done over various pull requests. I would recommend copy pasting them in, or I can create a PR into the rc branch

[2020-05-19 13:11] alpe commented on #6191
IMHO we should focus on one way to query and keep the api simple and self explaining. Either cursor or pages. The cursor is more efficient on the server side as we would not have to read and skip data. It is also more correct with data being inserted while iterating. An insert before the  cursor would not have any effect on the result set and after the cursor would just be appended.
On the other h

[2020-05-19 13:18] alexanderbez commented on #6006
Ok, that makes sense. Can you make a PR against this branch that has all the changes please?

[2020-05-19 14:14] sahith-narahari commented on #6226
@aaronc what do you think on adding a check to ensure a single interface isn't registered multiple times

[2020-05-19 19:42] fedekunze opened #6255 "Capability module specification"
## Summary

Write the capability module [spec](https://github.com/cosmos/cosmos-sdk/blob/master/docs/spec/SPEC-SPEC.md).

@AdityaSripal @cwgoes

____

#### For Admin Use

- [ ] Not duplicate issue
- [ ] Appropriate labels applied
- [ ] Appropriate contributors tagged
- [ ] Contributor assigned/self-assigned

[2020-05-19 19:48] alexanderbez commented on #6255
There is the following [doc](https://github.com/cosmos/cosmos-sdk/tree/master/x/capability/docs) which I intended to be a spec. We certainly need to expand upon that tho. I really do recommend we keep the spec/doc to a single file.

[2020-05-20 04:50] kakelyo opened #6257 "How to decode the txs?"
I call the Rest API ：http://xxx.xxx.xxx.xxx:26657/block?height=1940777，   it return the block meta data and with follow txs.  But if I want to retrive the transaction detail infomation,  I need call the Rest API http://xxx.xxx.xxx.xxx:26657/tx?hash={txhash} .  How to decode the txs data, and get the tx hash?
[code]

[2020-05-20 13:10] alexanderbez commented on #6257
1. Base64 decode
2. Amino decode into a `StdTx`

[2020-05-20 13:10] #6257 closed

[2020-05-20 16:04] ahmedaly113 commented on #5595
which cosmos version was used here?

[2020-05-20 16:05] ahmedaly113 commented on #5595
Sending multiple transactions in v0.35.0 was working by using offline signer but it's not working on v0.38.3. Please share what's happening if someone experience similar issue.

[2020-05-20 21:54] colin-axner opened #6261 "Change Counterparty use Prefix interface (proto)"
## Summary

The [counterparty](https://github.com/cosmos/cosmos-sdk/blob/98280712cea40990f6cd4b8a42aa30b0eb745063/x/ibc/03-connection/types/connection.go#L75) should have its prefix be of the Prefix interface type rather than a concrete MerklePrefix
## Problem Definition

Relying on the concrete merkle prefix is too specific and not modular. New client types that implement other prefixes will not

[2020-05-21 00:01] colin-axner opened #6262 "ClientType registration"
## Summary

Currently the `ClientType` implementation lives within `x/ibc/02-client/exported` which feels strange enough since usually exported files are just interfaces. New client types must be added to this file.
## Problem Definition
This is restrictive and requires developers to either fork the sdk or push to get their custom clients added to this file.

## Proposal

Add a `RegisterClientType

[2020-05-21 08:38] zhouhaw opened #6264 "bug when using cmd 'query txs --tags ' to JSON response"
## Summary of Bug

when I using command `gaiacli query txs --tags ` for json response, but it didn't work!

## Version
master branch

## Code
https://github.com/cosmos/cosmos-sdk/blob/a201967fd1333dd93b6c29c302521d3480f76a0f/x/auth/client/cli/query.go#L153-L171

should be changed as below, cause `txs` is pointer type

	output, err = cdc.MarshalJSONIndent(&txs, "", "  ")
} else {
	output, err = cdc

[2020-05-21 14:02] #6006 closed

[2020-05-21 17:56] zmanian commented on #5746
I have a thought for an alternative design for fixing the issue with upgrades.

Right now the ABCI interface knows how to get Tendermint to replay blocks until it's caught up with a current height. This is why restarts are safe when pruning.

The export functionality is only able to export state committed to disk.

Is the solution to actually start the ABCI application before exporting so that we

[2020-05-21 18:01] aaronc commented on #5746
@zmanian there's no exporting with the upgrade module. It's a different design.

The problem is with the new binary trying to replay blocks that should have had their state persisted by the old binary. Some way or another we need to get the old binary to commit to disk before shutting down.

[2020-05-21 18:05] alexanderbez commented on #5746
I've already spent a great deal of time into supporting manually flushing a version in IAVL -- I propose we continue with this approach or completely revise how pruning actually works.

[2020-05-21 18:07] zmanian commented on #5746
I haven't checked in on the progress of flushing. Just had an alternative approch pop into my head and wanted to document it.

[2020-05-21 21:05] colin-axner commented on #4862
this got fixed in this [commit](https://github.com/cosmos/cosmos-sdk/commit/5f0c53da174c507baf668c695c5bc9a8a8c440c9#diff-9703bc44accff430e62cadf4d7888afc)

[2020-05-21 21:05] #4862 closed

[2020-05-21 23:41] colin-axner commented on #6064
I don't know how discouraged it is to pass around the ctx, but I think it would allow enough info to be passed around for a large number of clients to be made.

Interface func additions:

[code]

[2020-05-22 02:40] fedekunze commented on #6064
Why do you need to pass a context to the MsgCreateClient?

[2020-05-22 17:31] colin-axner commented on #6064
[Localhost](https://github.com/cosmos/cosmos-sdk/blob/37882fbf4ad864ee261d8236268e84b2cd6942b4/x/ibc/02-client/handler.go#L34) needs the chain-id and block height. But I do agree it is probably unnecessary for all other cases. Chain-ID seems like it could moved to a message field provided by the client, but I'm not sure about block height

[2020-05-22 19:02] fedekunze commented on #6064
what about passing them as parameters? they seem to be the only two common fields required from the context

`InitializeClientState(chainID string, height uint64) clientexported.ClientState`

[2020-05-22 21:05] colin-axner opened #6273 "Track unACK'd seqs for Unordered Channels"
## Summary

Unordered Channels do not maintain any tracking of packets that have been ack'd.
## Problem Definition
Ordered channels have this implicitly since you can check the next expected receive ack. Trying to determine which sequences still need ack's requires the client to query all acks on the destination chain and the SeqSend on the source chain as shown by a draft implementation of this o

[2020-05-22 21:17] #6246 closed

[2020-05-23 04:44] agarwalchaitanya opened #6275 "panic: the mint module account has not been set"
[code]
trying to build a custom cli daemon on top of cosmos-sdk; any leads on this issue?

[2020-05-23 07:53] agarwalchaitanya commented on #6275
slashing the module solves it

[2020-05-23 07:53] #6275 closed

[2020-05-23 08:13] dauTT commented on #6238
Hi, happy to fix this one.

[2020-05-23 10:56] dauTT commented on #6238
Against which branch should I submit the PR?
`master` branch is not the correct:

https://github.com/cosmos/cosmos-sdk/tree/master/std

but the contribution guideline is misleading:

https://github.com/cosmos/cosmos-sdk/blob/master/CONTRIBUTING.md#updating-documentation

[2020-05-23 13:08] marbar3778 commented on #6238
hey it seems this was moved here https://github.com/cosmos/cosmos-sdk/blob/master/x/auth/types/stdtx.go#L189. and yes you can open against master.

[2020-05-23 19:29] #6238 closed

[2020-05-23 22:00] dauTT commented on #5254
Hi, this issue is already completed or can I work on it?

[2020-05-24 05:19] jsimnz commented on #6273
We should discuss the implementation of the unacked list size limitation. Will this per enforced across just the channel, connection, client, or even chain-id. Additionally, is the size hardcoded, consensus param that can be adjusted through gov, or if its specific to client/channel, is it set by the relayer when creating the channel. All possible avenues.

[2020-05-24 08:43] dauTT commented on #4974
Hi, can I work on this?

[2020-05-24 12:21] fedekunze commented on #4974
Sure @dauTT. Let me know if you need more info

[2020-05-24 19:05] marbar3778 opened #6277 "txs: indexing at runtime"
## Summary

KV.Pair has been replaced by EventAttribute in the upcoming 0.34 release of Tendermint to enable tx indexing at runtime.

ref https://github.com/tendermint/tendermint/pull/4466

## Proposal

Enable indexing at runtime.

I'm not sure the best design to do this, a simple approach would be to do it on the msg but I dont think everyone running a node would want this.

____

#### For Admin

[2020-05-25 14:28] alexanderbez commented on #6277
Thanks for raising this issue @marbar3778. I'm not clear on the best approach to take either. Before, node operators were in charge of what to index and to even index at all. Now, we expand that model to allow the application to do this as well. So it's a mix of concerns. As an operator, I can disable indexing all events, yet I will still index events if the `EventAttribute` specifies it.

Then, t

[2020-05-26 06:49] marbar3778 commented on #6277
I opened an issue in Tendermint https://github.com/tendermint/tendermint/issues/4877 because this will cause confusion and it seems the application will take precedent over node operator settings.

Comment with your thoughts @alexanderbez @aaronc.

[2020-05-26 06:49] RiccardoM opened #6280 "Crisis export genesis not working properly when module is added after chain start"
## Summary of Bug
If the `crisis` module is added after the chain `init`, its genesis export will never succeed.

## Version
21a9cb9

## Steps to Reproduce
1. Initialize a chain **without** setting up the `crisis module` (do not include it inside the `OrderInitGenesis`).
2. Once the chain is started and some blocks have been created, stop it.
3. Run the `export` command.

The resulting error will

[2020-05-26 06:51] RiccardoM commented on #6280
If you guys agree with the solution I can work on implementing this for all the cited modules

[2020-05-26 14:20] alexanderbez commented on #6280
Im sorry, I'm having a bit of trouble understanding the problem/context. Are you using the `x/crisis` module but just not having it set in `OrderInitGenesis`? If so, the behavior you're experiencing is expected.

[2020-05-26 15:28] cwgoes commented on #6273
At minimum, let's write a querier to answer the question "which packets do I need to relay".

[2020-05-26 16:52] #4974 closed

[2020-05-26 19:14] Creamers158 commented on #4254
Had the same on new akash testnet. Tried everything as far as I know. Reverted to a new server and same steps without a problem.
Any news regarding this issue?

[2020-05-26 19:19] alexanderbez commented on #4254
It's usually always one of the following reasons:

1. Your node is using the wrong app version (and/or)
2. Your node is using the wrong genesis file (and/or)
3. Your node is connected to peer(s) where (1) and/or (2) holds true for them

[2020-05-26 21:48] colin-axner opened #6281 "Remove consensus state from verifyXYZ funcs"
## Summary
Consensus State should be retrieved by the client not the connection keeper. `VerifyConsensusState` should remain unchanged.

## Problem Definition
The consensus state is being added to **all** verify functions which is varies from the [ics spec](https://github.com/cosmos/ics/tree/master/spec/ics-003-connection-semantics#helper-functions). This is because the tendermint client needs acc

[2020-05-26 22:08] Creamers158 commented on #4254
1. app version is confirmed by hash
2. also confirmed by hash
3. default peers are given
Actually, I can replicate by swapping the /data/ folder. One works one doesn't. Same setup.
Does that ring a bell?

[2020-05-26 23:52] colin-axner opened #6282 "Remove PacketCommitments after an ack"
## Summary
Packet commitments should be removed after an acknowledgement is verified.

## Problem Definition
[AcknowledgePacket](https://github.com/cosmos/cosmos-sdk/blob/7cd0caba7a5800845669bea193d72069eb57b55d/x/ibc/04-channel/keeper/packet.go#L298) is called by the ante handler to acknowledge a packet on the counterparty chain. While the comments say it cleans up the packet commitment, this is

[2020-05-27 00:45] alexanderbez commented on #4254
If genesis state is verified to be valid and the application versions are consistent and correct, then it's an issue in your application's state-machine -- most likely some non-determinism.

[2020-05-27 05:00] RiccardoM commented on #6280
No, I'm using the mode and it is correctly set inside `OrderInitGenesis`. As far as I've understood this problem raised following this procedure:

2. Start the chain **withtout** the `x/crisis` module, it will work without any problem.
3. Add the `x/crisis` module inside the `OrderInitGenesis`.
4. Re-start the chain, it will work properly.
  The `x/crisis` module will simply not be used as the `ge

[2020-05-27 05:05] RiccardoM commented on #6280
Another solution to this problem might be to replace the following lines of code inside `module.go` `InitiGenesis` method:

[code]

With instead

[code]

This would allow to properly use the `DefaultGenesis` for modules that are not present inside the JSON genesis file properly.

[2020-05-27 08:45] RiccardoM opened #6284 "Upgrade module tx commands not set"
## Summary of Bug
The `x/upgrade` module does not have its tx commands initialized properly.

## Version
7cd0cab

## Steps to Reproduce
Try running any of the `x/upgrade` module CLI commands related to the transactions:
- `tx upgrade software-upgrade`
- `tx upgrade cancel-software-upgrade`

## Fix
The fix should be pretty easy to implement and consists in registering them inside the `x/upgrade` mo

[2020-05-27 13:48] alexanderbez commented on #6280
I don't understand why you're even doing step (2). Why start a chain w/o a module only to reintroduce it later? Unless this is a live upgrade or something...

[2020-05-27 13:52] RiccardoM commented on #6280
We started a live testnet without the module, then on a testnet upgrade we introduced it and since it didn't cause any problem on the new version we rolled with it. But not it's backstabbing us when we try to export the state.

The only way we can allow validators to do it is by having them

1. upgrade their node software on the fly;
2. exporting the current state by using the new version which sp

[2020-05-27 13:57] alexanderbez commented on #6280
I would put this action in the realm of unsupported and dangerous behavior. In general, this is not something you should do. If you are to introduce a new module into the application, you must restart the network (i.e. wipe data + change chain-id).

I would recommend following the steps you've laid out.

[2020-05-27 14:01] RiccardoM commented on #6280
Yeah I see the point, thanks.

Great thank. I'm closing this then as it's an expected behavior.

[2020-05-27 14:01] #6280 closed

[2020-05-27 15:36] anilCSE commented on #5963
Yes, simulation looks tough. Instead we can have some integration tests to cover this.

[2020-05-27 15:39] anilCSE commented on #5962
@fedekunze I think all these tests are covered in `abci_test.go` directly. May be we can just try refactoring.

[2020-05-27 16:42] ahmedaly113 opened #6287 "Sending multiple transactions from an account provides "unauthorized: signature verification failed""
We are using cosmos sdk v0.38.4.
Here's the script that is producing the issue
[code]
Not all 15 transactions success in one block.
Also behavior is different for every run.
Sometimes first 5 transactions success and rest shows `"unauthorized: signature verification failed"` but sometime 1 transaction success and the rest shows `"unauthorized: signature verification failed"`.
If I run the script a

[2020-05-27 17:07] ahmedaly113 commented on #6287
Also cosmos sdk is providing tons of issues that are not signature failed as signature failed issue.
I think this should be fixed.

[2020-05-27 17:57] alexanderbez commented on #6287
Confirmed this is an issue on the latest Gaia `master`. I checked out v2.0.x of Gaia and was not able to replicate it there.

After adding some debugging lines, I noticed that the nonce gets "stuck" somehow and I'm not sure why...maybe something to do around new blocks being produced.

@alessio or @jgimeno do you have time to look into this?

You can use the following script: https://pastebin.com/

[2020-05-27 18:05] alexanderbez commented on #6287
Looks like the following fixes it:

[code]

[2020-05-27 18:05] alexanderbez commented on #6287
Please make these changes locally @ahmedaly113 and confirm.

[2020-05-27 18:10] anilCSE opened #6289 "REST: Get proposal votes is returning partial votes for completed proposals"
## Summary of Bug
REST API: Get Proposal votes is returning partial data for completed proposals (only).
For ex: https://cosmos-lcd.chorus.one:1317/gov/proposals/25/votes
I even tried adding paging and limit, no change.

Also, single voter query is not working as expected. For example:
https://cosmos-lcd.chorus.one:1317/gov/proposals/25/votes/cosmos14dmelcmvwq8sefu5tr4atv98u6ur9c20auhmzf

`cosmos1

[2020-05-27 18:10] ahmedaly113 commented on #6287
Let me check, actually it's my sleeping time :)

[2020-05-27 18:12] ahmedaly113 commented on #6287
It works if I remove `IsRecheckTx() && !simulate` if statement

[2020-05-27 18:13] ahmedaly113 commented on #6287
[code]

[2020-05-27 19:03] colin-axner commented on #6282
I'm not sure of the best way to handle this. The question is whether packet commitments should be deleted in the ante handler or in the handler.

Currently:
* after acks are verified packet commitments are not deleted
* after a timeout is verified packet commitments are deleted in the handler **after** application logic is handled. That means an ORDERED channel is **not** closed if the application

[2020-05-27 21:52] colin-axner commented on #6273
I am planning on adding one querier function:
`QueryUnrelayedPackets`

It will retrieve all packet commitments from a specified channel and port id (source). For each seq in commitments, it will check for an ack. If ack exists add to unrelayedAcks array else add to unrelayedSeqs array. An UnrelayedPacketsResponse object will contain these two arrays of unrelayedAcks and unrelayedSeqs.

This be eff

[2020-05-27 22:46] jsimnz commented on #6273
To specify, is this a querier on the SDK? In that case, yea I was going to say a single SDK querier wouldn't be able to coordinate all that, but that's why the relayer is coordinating and comparing all this info. Basically, as I see it, we're trying to optimize the original approach I made [here](https://github.com/iqlusioninc/relayer/pull/259), which Colin originally cited.

Having a native queri

[2020-05-27 23:05] colin-axner commented on #6273
yes

In context of unordered channels (since ordered channels handle all this implicitly):
Send sequence represents the highest sequence of all send packets. Packets from 1 to SendSeq will either be not received, received, or acknowledged/timed out (on packet sending chain). Packet commitments are only in existence for not received or received packets. Acknowledged and timed out packets, per ics s

[2020-05-28 00:16] jsimnz commented on #6273
I didn't realize commitments were deleted upon successful Acks. Does clean things up!

[2020-05-28 10:18] cwgoes commented on #6282
What do you mean "resulting channel closing for ordered channels"?

Ordered channels should be closed in the case of timeout, but the semantics of what the acknowledgement data "means" (success/failure) are up to the application.

[2020-05-28 10:30] WafeiBaBa commented on #5759
I encounter the same problem.

[2020-05-28 11:24] ashcherbakov opened #6298 "Question: Trust between the end-user's application and the REST server (light client)"
Hello, I have the following question:
- Cosmos SDK provides two main interfaces for end users - CLI and REST.
- If the user's application (for example a Mobile App) needs to query the data from the Ledger, it looks like the only way to do this is to ask the REST server (LCD, Gaia-lite) which in turn serves as a light client (https://github.com/cosmos/cosmos-sdk/tree/master/docs/interfaces/lite)
-

[2020-05-28 13:37] fedekunze opened #6299 "Update tendermint to v0.33.5"

[2020-05-28 14:27] fedekunze commented on #6298
Those are all great questions @ashcherbakov.

1) For queries, the REST endpoints don't return a proof because they use [Queriers](https://docs.cosmos.network/master/building-modules/querier.html). The only way to get a Merkle proof is by querying a KVStore directly using the key. Since queriers use a custom route they don't return any proof. See #5317 for more context.
2) To return a proof on a qu

[2020-05-28 14:34] #6299 closed

[2020-05-28 14:40] alexanderbez commented on #6298
I would just like to note there are multiple sources in which you can query the ledger's state against:

1. The application's CLI interface
2. The application's REST interface
3. The Tendermint RPC interface
4. External service providers (wallet providers, explorers, etc...)

Option (3) is the most flexible and will return you proofs if you wish, however, the UX is cumbersome and you need to be fa

[2020-05-28 14:45] ashcherbakov commented on #6298
OK, thank you.
But even if the proof is returned, the end-user App needs to be able to verify it. In order to do this, the App will need the valid and up-to-date Validators Set (to verify the Validator's signatures).

So, the App will need to have a library/API which can be easily integrated and used for this verification. The library/API should be able to do the whole verification:
- handle the V

[2020-05-28 14:58] alexanderbez commented on #6298
You essentially need a light client to do this. In Golang, you already have this. In Rust, that's being worked on by Informal. Other languages I'm sure will support this.

[2020-05-28 18:06] colin-axner opened #6301 "Move `PacketExecuted` functionality to RecvPacket in channel keeper"
## Summary of Bug
[`RecvPacket`](https://github.com/cosmos/cosmos-sdk/blob/f8bad078b7b3e8e6186eddce72716dc7cf021848/x/ibc/04-channel/keeper/packet.go#L141) in the channel keeper is currently not doing any ordered/unordered channel verification logic such as receiving packets in order. This is currently being handled in [`PacketExecuted`](https://github.com/cosmos/cosmos-sdk/blob/f8bad078b7b3e8e618

[2020-05-28 21:07] #6287 closed

[2020-05-29 04:05] Atomosk opened #6302 "Rest /gov/proposals/{proposal-id}/votes/{voter} always fails for inactive proposals."
## Summary of Bug

[This line](https://github.com/cosmos/cosmos-sdk/blob/f3962eb29bf38531e7cce2bca118af8e3450c43b/x/gov/client/rest/query.go#L283) tries to unmarshal a vote and later checks if that vote is empty.

Thing is you cannot possibly unmarshal an empty vote thanks to [this line ](https://github.com/cosmos/cosmos-sdk/blob/f3962eb29bf38531e7cce2bca118af8e3450c43b/x/gov/types/vote.go#L73
).

[2020-05-29 07:28] ashcherbakov commented on #6298
Ok, thank you. I think you are talking about https://docs.rs/tendermint/0.13.0/tendermint/lite/index.html for Rust and https://pkg.go.dev/github.com/tendermint/tendermint/lite2?tab=doc for Golang,

[2020-05-29 07:29] #6298 closed

[2020-05-29 09:02] cwgoes commented on #6301
I think we ought to move towards the latter (more "native" IBC integration) in the long-term, but the former might be better in the short-term since some fields of `sdk.Result` won't apply to IBC packets handling.

[2020-05-29 15:42] anilCSE commented on #6289
Looks like there's a separate issue for tracking single voter query issue: https://github.com/cosmos/cosmos-sdk/issues/6302

[2020-05-29 15:46] alexanderbez commented on #6289
We should probably condense this into a single issue

[2020-05-29 16:18] zmanian opened #6306 "Events are accumulating in msg.sender across trs"
We are observing the the Events emitted by the antehandler in https://github.com/cosmos/cosmos-sdk/pull/6187 get persisted between transactions.

So the first first tx in a block has 1 sender, the 2nd has two senders etc.

____

## For Admin Use

- [x] Not duplicate issue
- [x] Appropriate labels applied
- [x] Appropriate contributors tagged
- [x] Contributor assigned/self-assigned

[2020-05-29 17:31] fedekunze commented on #6306
@zmanian can you paste a concrete example to see the transactions involved?

[2020-05-29 17:57] alexanderbez commented on #6306
[code]

[2020-05-29 18:18] zmanian commented on #6306
Here are some sagan logs of the observed behavior

https://gist.github.com/zmanian/7af457882b7fdd992af5be747ac8c208

[2020-05-31 01:18] #6282 closed

[2020-06-01 11:30] marbar3778 opened #6308 "docs: deploy multiple versions"
## Summary

Currently, the master branch is the default branch used to deploy docs. These docs represent a lot of what hasn't been released. This causes confusion with users as they are unsure how things work because they see Gaia doing it one way and SDK master doing it another.

We should deploy the latest 0.37, 0.38 branches alongside the master branch of the SDK. 0.38 should be the default bra

[2020-06-01 12:46] #3061 closed

[2020-06-01 13:35] ironman0x7b2 opened #6309 "Able to increase the tokens on zone which are transferred from hub but unable to transfer back"
## Summary of Bug

In GOZ phase 3, we feel we found a bug in ICS 20 specs/implementation. We are able to increase the doubloons on our zone but unable to transfer back to hub.

## Version

Tag: goz-phase-3

## Steps to Reproduce

- Modify OnRecvPacket method of 20-transfer module by setting the data.Amount value to custom value (1000doubloons) on your zone
- Start the zone
- Send some doubloons (1

[2020-06-01 14:06] ironman0x7b2 commented on #6309
I expect the relay transaction ICS 4 should fail on hub and put an acknowledge packet on hub which can be relayed back to zone. But here is an issue, the developers of zone can write a hidden transaction and exploit it.

[2020-06-01 14:25] anilCSE opened #6310 "IBC: Possible attack to invalidate the tokens from source chain and cannot be redeemed"
## Summary of Bug
In GoZ phase-3, we found a bug which potentially can invalidate tokens from the source chain once after the initial transfer.

## Version
goz-phase-3

## Steps to Reproduce
- Let's assume that the source chain has tokens with denom doubloons
- Create a destination chain and mint tokens with denom matches to transfer/<somestring>/doubloons ex:
  gaiad add-genesis-account 1000000st

[2020-06-01 15:58] zmanian commented on #6309
Does it unlock the original tokens if you send back `10doubloons`?

[2020-06-01 16:03] ironman0x7b2 commented on #6309
Yes, If I send the amount which is LTE to escrow address worked!

[2020-06-01 17:09] ironman0x7b2 commented on #6309
Assume ibc0 is the Hub and ibc1 is the zone (modified).
Here is the output of following commands.

[code]

![Image](https://user-images.githubusercontent.com/31726361/83434338-efc50d00-a457-11ea-88ea-b08f3e29d17c.png)

[2020-06-01 17:16] ironman0x7b2 commented on #6310
Looks like
Duplicate of #6309

[2020-06-01 17:41] anilCSE commented on #6310
Hmm, Not really! You cannot redeem any tokens here, not even LTE to escrow. Also, this is something to do with namings than any changes to the minting function.

[2020-06-01 17:48] colin-axner commented on #6309
So this is expected behavior for the hub and ibc protocol. It is actually protecting against a malicious chain connection. This is what I think is occurring:

* MsgSend is not modified on the the custom zone to switch 1000 doubloons back to 10 doubloons (exchange ratio is set on hub -> zone but not zone -> hub)
* the zone attempts to send 1000 doubloons back to the hub which only has 10 doubloons

[2020-06-01 17:49] ironman0x7b2 commented on #6310
Even in your case when you transfer the doubloons from hub to you zone, the transferred amount should be locked under escrow address. So I feel you can get back those if you send back the amount which is LTE to escrow amount to hub.

[2020-06-01 17:55] colin-axner commented on #6310
see [comment](https://github.com/cosmos/cosmos-sdk/issues/6309#issuecomment-637011454) for detailed explanation. This seems to be the same issue as #6309 to me

[2020-06-01 17:56] ironman0x7b2 commented on #6309
@colin-axner Thank you for your reply. So means this is the relayer software issue which is not caring about the acknowledgements currently?

[2020-06-01 18:03] colin-axner commented on #6309
@ironman0x7b2 yup, just verified it. Cmd transfer calls [SendTransferBothSides](https://github.com/iqlusioninc/relayer/blob/f7c0b90be028e61c950c88ecd8eaf2c395d85028/relayer/packet-tx.go#L31) which makes a call to [send the packet](https://github.com/iqlusioninc/relayer/blob/f7c0b90be028e61c950c88ecd8eaf2c395d85028/relayer/packet-tx.go#L50) on the source chain and [receive the packet](https://githu

[2020-06-01 18:04] colin-axner commented on #6309
closing this and opening an issue on the relayer to support relaying acks. This is not an sdk issue

[2020-06-01 18:04] #6309 closed

[2020-06-01 18:04] colin-axner commented on #6310
closing as this is not an sdk issue

[2020-06-01 18:04] #6310 closed

[2020-06-01 18:46] ironman0x7b2 commented on #6309
@colin-axner Since relaying the ACK packets back to the zone is not necessary, there is a possibility of circulating fake tokens in the zone and get the more original tokens on the hub, right?

For example, person A and person B transferred 10 doubloons each to the zone where A used special transaction which gave him 20 doubloons on zone, and B used normal transaction so he got 10 doubloons. Now A

[2020-06-01 19:37] colin-axner commented on #6309
@ironman0x7b2 No because the ibc protocol prevents supply inflation. The doubloons in escrow should be by address. So A can only get at most the amount of doubloons originally sent back, regardless of what the zone mints for A.

Acks are "not strictly required", but they are necessary to process refunds.

There are two ways to get one's token back on the source
* transfer back. In this case A coul

[2020-06-01 21:16] colin-axner commented on #5558
from my look at testing so far, one good first step is to move TestChain/KeeperSuiteTest to a `x/ibc/test` package. I can take this on if no one has started

[2020-06-01 21:17] AdityaSripal commented on #5558
I have not started, feel free to take this @colin-axner 👍

[2020-06-01 22:06] colin-axner opened #6311 "Remove alias.go usage"
## Summary
Remove `alias.go` files in favor of more verbose import names such as `<modulename>types` and `<modulename>keeper`

## Problem Definition
`alias.go` can be useful when managing access to internal types, but the sdk does not use internals anymore. Currently I believe its usage is purely aesthetic.

I think verbose import names are especially useful for new developers to the codebase who

[2020-06-01 23:01] alexanderbez commented on #6311
I fully support this proposal as I was never a fan of the alias approach. Now that we no longer have `internal` APIs, this makes more sense. We may want to revisit this post software freeze/1.0 stable release.

[2020-06-02 01:58] zmanian opened #6313 "Cut a release of 0.37 series with latest cosmos-ledger-go"
The version of the Cosmos ledger app(2.0.*) in Ledger Live today requires https://github.com/cosmos/ledger-cosmos-go/releases/tag/v0.11.1 for compatibility.

Please cut a release of 0.37.13 with the latest version of the dependency.

Will cut a compatible release of gaia when this available

#### For Admin Use

- [ ] Not duplicate issue
- [ ] Appropriate labels applied
- [ ] Appropriate contributo

[2020-06-02 04:26] #6306 closed

[2020-06-02 07:40] marbar3778 commented on #6313
made the change in https://github.com/cosmos/cosmos-sdk/pull/6305

[2020-06-02 13:15] cwgoes opened #6316 "Switch Tendermint client evidence/misbehaviour logic to use both height & time"
Presumably we want the same logic as in the `x/evidence` module.

Ref https://github.com/cosmos/cosmos-sdk/blob/master/x/ibc/07-tendermint/misbehaviour.go#L76

[2020-06-02 13:43] ancazamfir opened #6317 "Duplicate event entries in "create_client.client_id" and "message.module""
## Summary of Bug
When creating a client the event notification includes duplicate entries:
[code]

This is because both https://github.com/cosmos/cosmos-sdk/blob/1f5626b80036b0426c53333125045ce4759a1415/x/ibc/02-client/handler.go#L15 and https://github.com/cosmos/cosmos-sdk/blob/1f5626b80036b0426c53333125045ce4759a1415/x/ibc/02-client/keeper/client.go#L19 emit events with the latter not including

[2020-06-02 15:50] colin-axner commented on #6309
@ironman0x7b2 I was mistaken in my above comment. Escrow is done by [channel/port](https://github.com/cosmos/cosmos-sdk/blob/1f5626b80036b0426c53333125045ce4759a1415/x/ibc-transfer/keeper/relay.go#L94) as per ics spec. I will follow up on this issue today and find out the reasoning for the current construction and see if it needs to be adjusted.

[2020-06-02 17:10] AdityaSripal opened #6319 "Make iavl Store Query return ics-23 proof"
Breakdown of #5842

[2020-06-02 17:11] AdityaSripal opened #6320 "Make rootmultistore query return ics23 proof"
- Use ics23-tendermint to create ics23 commitment proof from simple tree

Breakdown on #5842

[2020-06-02 17:11] AdityaSripal commented on #6320
cc: @ethanfrey

[2020-06-02 17:16] AdityaSripal opened #6321 "Switch 23-commitment to use ics23-proofs"
- Pull out this code from #6178
- Update 07-tendermint, and 09-localhost accordingly
- Updating tests blocked on #6319 and #6320

[2020-06-02 17:28] colin-axner commented on #6309
@ironman0x7b2

this was all correct. I apologize for any confusion. The reasoning for why this is allowed is because there is no way to prevent it from occurring since the source chain cannot tell if the chain is being malicious or if A received a transaction from B with the amount of 10 doubloons.

I now understand that IBC prevents chain from affecting each other's state, but it does not protect

[2020-06-02 17:47] bford21 commented on #3729
This would be extremely helpful!

[2020-06-02 18:34] ironman0x7b2 commented on #6309
Yes, thank you! So what if we make ACK mandatory? Is it going to solve the problem?

[2020-06-02 18:39] ironman0x7b2 commented on #6309
Yes, Thank you @colin-axner

Do you think there is way to solve this problem on source chain (hub)?

[2020-06-02 18:39] colin-axner opened #6322 "Change IBC verifyXYZ to use bytes for proof"
## Summary

Currently the verifyXYZ funcs use `commitmentexported.Proof` interface to accept the proofs from the connection keeper. This should be changed to just be `[]byte` type

## Problem Definition

Using `commitmentexported.Proof` has restrictive interface functions which don't apply to all proof types. For example, solo machine would need to implement this proof interface with non-usable fu

[2020-06-02 18:53] colin-axner commented on #6309
Not off the top of my head and definitely not within the value proposition of ICS 20.

The issue is one cannot stop a chain from minting vouchers to whomever. I imagine it'd be possible to add in more restrictive verification checks for balance updates to prove no supply inflation on the counterparty chain. This could possibly be done by proving a changed balance resulted from a valid transfer. Ho

[2020-06-03 09:15] qyzxcswbll commented on #2247
我也遇到了相同的问题,请问怎么什么原因?怎么结局的

[2020-06-03 10:59] njmurarka commented on #5091
Can we please have a stable bugfix for this in master for 0.38? We are stuck with the same problem...

[2020-06-03 11:00] gsora commented on #5091
Yes please! Can we have this backported to 0.38?

[2020-06-03 11:03] alessio commented on #5091
It only takes to backport 4e328d75dbe0d06f1d1a3002d31803ca039afef3, so yes. I'd you will have it in the next 0.38.5 stable release.

@alexanderbez @clevinson what tag should we use to avoid losing track of this when we'll prepare the next 0.38 patch release?

[2020-06-03 12:13] njmurarka commented on #5091
Any idea when 0.38.5 will be happening?

[2020-06-03 13:55] alexanderbez commented on #5091
@alessio living backport branches. Please create a cherry-pick/backport PR to `backport/release/v0.38.x` (which I've already pushed).

[2020-06-03 16:24] alessio commented on #5091
@njmurarka @gsora mind testing your applications against this commit? 6e3d8263cc59ba7e391d55575604b43cc42e093b

[2020-06-04 04:53] zmanian opened #6338 "Observing unbounded memory usage with pruning settings"
## Summary of Bug

I'm observing unbounded growth in memory usage with the following pruning settings on game of zones hub 3.

I also have sentry nodes running prune everything and archives nodes. Memory usage appears to be stable on them.

[code]

## Version

	github.com/cosmos/cosmos-sdk v0.34.4-0.20200530180557-ba70f4d4dc2e

## Steps to Reproduce

____

## For Admin Use

- [ ] Not duplicate iss

[2020-06-04 07:24] marbar3778 commented on #6338
An issue has been opened in IAVL as well: https://github.com/tendermint/iavl/issues/256

[2020-06-04 08:26] bragaz commented on #6070
I tried to integrate the "evidence" as a last attempt but nothing has changed, do you have any idea how to solve this?

[2020-06-04 10:59] #6317 closed

[2020-06-04 11:24] #6301 closed

[2020-06-04 13:00] Codegnosis commented on #6306
Hi - we have noticed this occurring in SDK v0.38.3 too. Will the v0.38 SDK release branch be updated with this fix?

[2020-06-04 13:45] alexanderbez commented on #6338
I would close this issue in favor of the one reported in the IAVL repo.

[2020-06-04 13:45] #6338 closed

[2020-06-04 13:47] alexanderbez commented on #6070
I do not unfortunately :/

[2020-06-04 13:58] fedekunze opened #6341 "Implement custom relative transfer packet timeouts"
ref: https://github.com/cosmos/cosmos-sdk/pull/6248#discussion_r428107122

Implement relative packet timeouts (for both height and timestamp) for IBC transfers. This can be done in 2 different ways:

1) define destination chain height and use the values provided with the relative timeout flags
2) don't pass destination chain height as a flag and use internal queries to calculate the latest height

[2020-06-04 14:19] cwgoes commented on #6341
Prefer (2) if it isn't too hard to implement, the UX is better.

We will run into this sort of problem (needing to query multiple chains) quite frequently if `gaiacli` ends up being the interface to a lot of IBC-related functionality.

[2020-06-04 19:30] #6074 closed

[2020-06-05 06:11] zhiqiang-bianjie opened #6346 "Upgrade height judgment error"
https://github.com/cosmos/cosmos-sdk/blob/1a5f2b78597805a2d254756f8b80e637e31760f1/x/upgrade/types/storeloader.go#L13

There are two errors in this place:

1. The `CommitMultiStore` has not been loaded yet, so `ms.LastCommitID().Version` is always equal to `0`;

2. When the upgrade height is reached, the pain in the `beginblocker`, so the height has not yet been submitted, Should use `ms.LastCommi

[2020-06-05 07:33] anilCSE commented on #6346
The implementation looks correct for me.
1. The app will have access to `ms.LastCommitID().Version`
2. The `upgradeHeight` refers to the height at which upgrade should happen. The upgrade should not be triggered before that height. `ms.LastCommitID().Version == upgradeHeight`, the logic looks fine for me.

cc @aaronc @ethanfrey

[2020-06-05 18:22] colin-axner opened #6354 "Update handshake connection height check"
## Summary

Connection handshakes should return an error if the consensus height is the current block height.

## Problem Definition

See [ics issue](https://github.com/cosmos/ics/issues/432)

## Proposal

Change `>` to `>=` as described in the issue. Currently this will cause tests to fail because the TestChain stores the consensus of height `h` at `h+1`. This can be updated following a refactori

[2020-06-06 15:47] gelinger777 opened #6357 "Saving Alphanueric Ranges and Searching it"
Let me first of all thank you very much for the hard work you are doing for building this great product.
## Summary

Currently we are building a private blockchain, where we need to save alphanumeric serial numbers which consist of following structure

1-2 Char Letters (A, AB, AC, BC etc ) and number which can be from 1-1.000.000.000

We always have a sequence like this

AA0000000001-AA0000000124

[2020-06-06 15:51] gelinger777 commented on #6357
probably related to #871

[2020-06-06 16:24] alexanderbez commented on #6357
Hi @gelinger777. What is the concrete type you're saving here? Is a range a string? e.g. `AA0000000001-AA0000000124` or is it a concrete type? Why can't you just query if a given range exists? In any case, you might be able to leverage IAVL prefix queries/scans. The issue you posted doesn't seem related to this I think.

[2020-06-06 17:32] #6109 closed

[2020-06-06 19:56] marbar3778 commented on #5614
this is done, sims are only run when go files are touched

[2020-06-06 19:56] #5614 closed

[2020-06-06 20:04] marbar3778 commented on #4812
alessio did this with git hooks

[2020-06-06 20:04] #4812 closed

[2020-06-06 20:07] marbar3778 commented on #4487
I think this can be closed. We recently decided to drop `/internal`. reopen if this needs to be open

[2020-06-06 20:07] #4487 closed

[2020-06-06 20:08] marbar3778 commented on #3988
this has been done, we can close this issue

[2020-06-06 20:08] #3988 closed

[2020-06-06 23:25] #6273 closed

[2020-06-07 01:05] #1980 closed

[2020-06-07 01:05] #4911 closed

[2020-06-07 09:34] ancazamfir opened #6358 "Same message type for MsgPacket and MsgAcknowledgment"
## Summary of Bug

The message types for `MsgPacket`
https://github.com/cosmos/cosmos-sdk/blob/8bc645a418cfc8db6f45352085d3f6485537d3c6/x/ibc/04-channel/types/msgs.go#L403

and `MsgAcknowledgment`
https://github.com/cosmos/cosmos-sdk/blob/8bc645a418cfc8db6f45352085d3f6485537d3c6/x/ibc/04-channel/types/msgs.go#L512

are the same `"ics04/opaque"`.

For `MsgTimeout` the type is `"ics04/timeout"`.
htt

[2020-06-07 09:38] ancazamfir commented on #6358
At a higher level, the relation between the `"message.."` attributes and the different events is not clear to me. For example, the events emitted for `client_update` and `recv_packet` transactions look like this:
[code]
Should it be in fact: `"message.module":["ibc_client", "ibc_channels"]`? Can I map the `"ics04/opaque"` to the `"recv_packet.."` events?
And which module emitted the `"transfer..."

[2020-06-07 12:00] gelinger777 commented on #6357
@alexanderbez  we are open to change the way it is saved if needed . We could theoretically save the range  for example as           ``` {"series":"AB","start":"1","end":"128"}``   . The question is that if somebody comes in and whants to save    ``` {"series":"AB","start":"15","end":"888"}``   or  ``` {"series":"AB","start":"77","end":"79"}``  the transaction should fail, because those numbers ar

[2020-06-07 17:03] cwgoes opened #6360 "Add timeout timestamp to packet commitment"
Ref https://github.com/cosmos/cosmos-sdk/blob/master/x/ibc/04-channel/types/packet.go#L15

This needs to commit to the timeout timestamp, timeout height, and packet data.

[2020-06-07 17:10] alexanderbez commented on #6357
Because there is an overlap?

Almost every single module uses prefix queries and iterators.

e.g (prefix: `KeyPrefixEvidence`).

[code]

[2020-06-07 19:05] cwgoes opened #6361 "Prevent cleanup of acknowledged packets"
At present, packets for which acknowledgements were written could be cleaned-up instead of acknowledged, this seems problematic - not a bug per se, but misleading for implementors.

[2020-06-08 01:12] whylee259 commented on #6197
Any schedule to handle this issue?

[2020-06-08 08:42] ethanfrey commented on #6346
At least in the standard gaia app (and all xrnd apps that tested this in public testnets), this is definitely not 0 and is loaded first.

This is a valid point and should be well documented. I think the current implementation is if you set an upgrade height to 54000, then block 54000 will be run with the old code and then the upgrade occurs before running 54001. This should be checked and document

[2020-06-08 10:40] marbar3778 opened #6365 "Tracking issue for tendermint v0.34"
This issue is meant as a tracking issue for the upcoming tendermint release and things that need to be completed in the sdk:

 - [x] Evidence is capped to an absolute number. max_num was added to consensus evidence params
 - [x]  #6164 ABCI update for block pruning. ResponseCommit.retain_height which gives the applicaiton control over block pruning.
 - [x] Application should change tendermint cons

[2020-06-08 10:41] marbar3778 commented on #6197
Add this to #6365 as it should be done prioir to the next major release

[2020-06-08 12:03] #6360 closed

[2020-06-08 13:27] alexanderbez commented on #6197
What do you mean @marbar3778 -- this was already done. https://github.com/cosmos/cosmos-sdk/pull/5952

[2020-06-08 13:28] marbar3778 commented on #6197
ah based off this comment I thought it wasn't

[2020-06-08 17:55] colin-axner commented on #6361
Hmm, I'm not sure I fully understand the issue.

Let's say:
* a packet commitment is created on chainA as a send to chainB
* chainB receives this packet and wrties an ack

a module could either
* call cleanup on chainA of the packet commitment
* call acknoweldgepacket on chainA

if you prevent the former, when would cleanup be used? The packet must be received and the packet commitment must still

[2020-06-08 18:54] fedekunze opened #6369 "Move unordered channel acknowledgement to RecvPacket"
ref: https://github.com/cosmos/cosmos-sdk/pull/6337#pullrequestreview-424762575

____

#### For Admin Use

- [ ] Not duplicate issue
- [ ] Appropriate labels applied
- [ ] Appropriate contributors tagged
- [ ] Contributor assigned/self-assigned

[2020-06-08 20:17] assafmo commented on #5818
https://discord.com/channels/669268347736686612/669274997264613376/719622838692085813

[2020-06-08 20:20] dauTT commented on #6311
Hi, can I work on this?

[2020-06-08 21:03] joe-bowman opened #6370 "Logical Commit(s) are not Atomic"
## Summary of Bug

When syncing a node using `--pruning=everything`, it is possible to gracefully stop a node and it fail to restart.

## Version

cosmos-sdk 0.38.4 (via both Kava v0.8.1 and Gaia)
tendermint 0.33.3 and 0.33.4

## Steps to Reproduce

1. A running validator exists. Pruning mode does not appear to be relevant here. Tried with `nothing`, `everything` and `syncable`.
2. Start a fullnod

[2020-06-08 21:06] joe-bowman commented on #6370
Seems related to: https://github.com/cosmos/cosmos-sdk/issues/5746

[2020-06-08 21:17] alexanderbez commented on #6370
Please confirm that you're starting the node with a pruning strategy, say `nothing`, and then later changing it, say to `everything`. If so, this behavior is **not** supported by IAVL.

[2020-06-08 21:32] alexanderbez commented on #6370
Note, I cannot reproduce this on Gaia.

[2020-06-08 22:12] karzak commented on #6370
Have confirmed this behavior as well on kava v0.8.1. Had to shutdown and restart the process ~20 times to get a failure.

[2020-06-09 00:49] fedekunze commented on #6311
Sure thing @dauTT. I’d recommend you to do it one module per PR at a time. Otherwise the changes would be massive

[2020-06-09 01:43] zhiqiang-bianjie commented on #6346
Of course, it may be my understanding error, but I also tested it several times, and it does not load the height correctly. I think there may be a problem in this place:
[code]
When calling `app.storeLoader(app.cms)`, app.cms is not loaded, and then `ms.LastCommitID().Version` is used directly, so the version is always 0. I think that before calling ms.LastCommitID(), app.cms.LoadLatestVersion() s

[2020-06-09 04:40] kwunyeung commented on #6070
We didn't have `x/evidence` integrated before. In my understanding, even if a validator is double signed, it won't be tomestoned or slashed. And that should not affect the stake of the delegator. The validators giving errors are those have been slashed and the only way we had slashing was uptime which is handled by `x/slashing`. As the error happens in `x/distribution`, would it be an issue relate

[2020-06-09 06:19] joe-bowman commented on #6370
I can confirm this is not the case. This is using pruning=everything from height 0.

[2020-06-09 07:13] ethanfrey commented on #6346
The issue is what you set `app.storeLoader()` to be.

The [two StoreLoaders we provide](https://github.com/cosmos/cosmos-sdk/blob/v0.38.4/baseapp/baseapp.go#L224-L236) as standard options both load the cms. In fact, [the default is DefaultStoreLoader](https://github.com/cosmos/cosmos-sdk/blob/v0.38.4/baseapp/baseapp.go#L125) which is nothing more than `cms.LoadLatestVersion()`

The issue is likely

[2020-06-09 07:38] ethanfrey opened #6375 "Combining data fields with multiple messages is unusable"
## Summary of Bug

Currently, if there are multiple messages in one tx and some return a data section, it is impossible to determine which msg returned this.

We see a few places that it is important that messages length-prefix the result.Data:

* In baseapp: https://github.com/cosmos/cosmos-sdk/blob/master/baseapp/baseapp.go#L637-L641
* In the Result type: https://github.com/cosmos/cosmos-sdk/blo

[2020-06-09 08:18] cwgoes commented on #6361
No, that's fine. I just mean that if a packet is cleaned-up instead of acknowledged, then the acknowledgement can't be processed (since the commitment has already been removed), so if processing the acknowledgement was important that may be problematic.

[2020-06-09 08:20] ethanfrey commented on #6375
@alexanderbez could you take a look at this? seems like an easy fix, but I would like your opinion if I am missing something

[2020-06-09 09:04] olwee commented on #6370
Able to replicate for the scenario of `pruning=everything` for heights above 2500.

Test Heights: 2500 ++ to 3300 ++
Failure rate: 1 in 5
Status: Unrecoverable after failure.
Sample Error Message:
I[2020-06-09|08:09:43.216] starting ABCI with Tendermint                module=main
failed to load Store: wanted to load target 2842 but only found up to 0

Remedy: `unsafe-reset-all` and sync from scrat

[2020-06-09 13:57] alexanderbez commented on #6370
@AdityaSripal @zmanian more pruning related issues.

[2020-06-09 14:23] alexanderbez commented on #6375
Totally agree here in the poor UX @ethanfrey. I think the proposal also makes sense -- you're just ensuring even `nil` values get length-prefixed, correct?

Since we're going to change the encoding of `data` here, why not just make `data` a proto encoding of a richer type:

[code]

Then `data` is just an encoded `TxData`. This might be overkill or not provide any additional context, so I'm ok with

[2020-06-09 14:42] ancazamfir opened #6377 "Add consensus_height attribute to client events"
## Summary
Add consensus_height attribute to client events

## Problem Definition
We would like for the relayer to keep track of the on-chain client heights without doing periodic queries.

## Proposal
Add a consensus height attribute to the client events:

"create_client.consensus_height" in
https://github.com/cosmos/cosmos-ssdk/blob/0786e68296fab19d961019b966926a809fcfde2c/x/ibc/02-client/handle

[2020-06-09 14:51] ethanfrey commented on #6375
I'd be happy for someone else to take this on.

Any solution is fine with me. But the least-breaking one would just keep `Data []byte` in the `sdk.Result` and in the `abci.Result`. These are opaque bytes, so any way of combining them into one is fine. My bikeshedded 2-byte prefix is one example. I am fine using protobuf as well, maybe that is easier. But if so, a simple for to just combine them.

[2020-06-09 14:52] ethanfrey commented on #6375
That is the main point, ensure everything is length-prefixed. I just move length-prefixing into baseapp so no handler can forget to do it.

[2020-06-09 15:17] alexanderbez commented on #6375
Right, this doesn't change in my proposal. The types are still the same, just the representation changes.

[code]

[2020-06-09 15:44] cwgoes opened #6378 "Upgrade function for Tendermint light client"
Upgrades as specified in https://github.com/cosmos/ics/pull/447.

[2020-06-09 17:09] cwgoes commented on #6361
cc @AdityaSripal as well

[2020-06-09 17:10] cwgoes commented on #6316
(this may also require spec updates)

[2020-06-09 18:42] ethanfrey commented on #6375
Ah, now I get it. This stores the original type of the message to help make it clearer which message causes which. Kind of like how you use the `uint16(i)` in the next list.

Fair enough, I am happy with more info on the client side. Not sure if this is extra state bloat, but I'll let someone else argue that.

It is easy to parse and captures all info we need. :+1:

[2020-06-09 19:23] dauTT commented on #6311
I will track the progress of this task here:

| module | issue | status| PR
|---|----|-----|----|
| auth | | open | |
| bank | | open | |
| capability | | open | |
| crisis | | open | |
| distribution | | open | |
| evidence | | open | |
| genaccounts | | open | |
| genutil | | open | |
| gov | | open | |
| ibc | | open | |
| ibc-transfer | | open | |
| mint | | open | |
| params | | open | |
| si

[2020-06-09 19:29] dauTT opened #6379 "x/upgrade: Remove alias.go usage"
This is a sub-task of  #6311

[2020-06-09 19:39] marbar3778 commented on #6311
nice table! To make things easier you don't need to create issues for each one. You can just ref this issue and close it when they are all done.

[2020-06-09 19:42] #6379 closed

[2020-06-09 19:42] dauTT commented on #6379
deprecated.

[2020-06-09 23:55] colin-axner commented on #6261
Are we still keeping the proof and prefix interfaces or is this change unnecessary?

cc: @AdityaSripal

[2020-06-10 01:12] zhiqiang-bianjie commented on #6346
Thanks, it is possible that the method I used is wrong or the order of the code is wrong

[2020-06-10 08:02] #6375 closed

[2020-06-10 08:09] #5935 closed

[2020-06-10 09:08] fedekunze opened #6386 "Query ClientState from a given Channel"
## Summary

Create Querier to get the Client State from a given Channel (port + channel IDs)

## Problem Definition

Currently, relayers have to perform different queries to get a ClientState:
1. Query `Channel` from `portID` and `channelID`
2. Query `ConnectionEnd` from a `channel.ConnectionHops`
3. Query `ClientState` from a `connection.ClientID`

## Proposal

Encapsulate the 3 queries into a si

[2020-06-10 09:10] fedekunze commented on #6341
blocked by #6386

[2020-06-10 09:34] #6377 closed

[2020-06-10 15:26] akhilkumarpilli opened #6389 "Add app version to RPC (/status)"
## Summary
Add app version in /status endpoint response (RPC).

- This will allow validators to verify the version they are running (active).
- Sometimes its confusing to cross check the binary installed vs active binary. Allowing this via RPC makes it easy to verify.

#### For Admin Use

- [ ] Not duplicate issue
- [ ] Appropriate labels applied
- [ ] Appropriate contributors tagged
- [ ] Contrib

[2020-06-10 15:52] #6389 closed, assigned to nobody

[2020-06-11 01:16] colin-axner opened #6398 "Update IBC error messages"
## Summary

I've noticed gaps in logical flow in relation to some IBC errors.

## Problem Definition

After running handshake OpenTry for a new connection I get:
[code]

there are a couple things wrong here:
* the `proof did not verify...` is actually the first error. This is b/c in some places `sdkerrors.Wrapf` is wrapping a new error and not the original
* the error does not indicate that this o

[2020-06-11 08:40] fedekunze commented on #5976
moved to #6392

[2020-06-11 08:40] #5976 closed

[2020-06-11 09:01] gelinger777 commented on #6357
@alexanderbez thank you for your  detailed response. Last question, thought. What would be faster and more robust approach , sorted arrays or prefix scans?

[2020-06-11 09:56] alessio opened #6402 "client/keys: --algo flag silently falls back to default if user supplied algo is not supported"
[code]

Proposed solution, as discussed with @fedekunze, is to add a function to `Keyring` interface through which the caller can retrieve the list of algos supported by the keyring itself.

____

## For Admin Use

- [x] Not duplicate issue
- [x] Appropriate labels applied
- [x] Appropriate contributors tagged
- [x] Contributor assigned/self-assigned

[2020-06-11 11:34] marbar3778 opened #6406 "DB: reduce supported dbs"
## Summary

Currently, the SDK uses tm-db which supports 4 different DBs. While this is a nice feature I believe it is actually a determinant to performance.

## Problem Definition

Supporting multiple databases leads to not taking advantage of specific DB features that could lead to a good amount of performance gains.

## Proposal

Reduce the amount of supported DBs and test multiple different op

[2020-06-11 11:42] fedekunze opened #6407 "Prefix Account store key by type"
## Summary

Add the account type to the Account key bytes to ease iteration over custom account types.

## Problem Definition

Some apps implement a custom `auth.Account` (eg: ethermint's [`EthAccount`](https://github.com/ChainSafe/ethermint/blob/7b164a5aa4ce2abe986c1bb762e3627a2d16242f/types/types.pb.go#L27-L32) or Kava's [`ValidatorVestingAccount`](https://github.com/Kava-Labs/kava/blob/2a446fe5

[2020-06-11 11:45] fedekunze commented on #6407
I volunteer to work on this if there's consensus about the feature

[2020-06-11 11:50] fedekunze commented on #6406
I think it's better to write docs for the tradeoffs of each DB instead of reducing the support for existing DBs

[2020-06-11 12:40] marbar3778 commented on #6406
the problem is people are using dbs for different reasons but in order to actually use the functionality that different DBs offer they need to fork the sdk. For context there is a high likely hood that tm-db will move to support less DBs in the future

[2020-06-11 13:09] alexanderbez opened #6408 "Remove REST Service from CLI"
## Summary

The aim of the CLI is interact and act as a proxy and command utility with a connected Cosmos-SDK based node running on Tendermint. From the CLI you can primarily create unsigned transactions, query the ledger state, and sign transactions.

There is the ad-hoc ability to also start a REST service (what was once known as the LCD). This is completely misplaced. Arguably, the CLI should n

[2020-06-11 14:06] alexanderbez commented on #6407
I think this is reasonable, but note, you may be able to just use the bech32 HRP instead of introducing `Type()`.

[2020-06-11 14:09] alexanderbez commented on #6357
Option (1) would require you load the entire set at once, depending on if this set is small, this could be fine. (2) would require less IO, but might be more complicated?

[2020-06-11 14:17] bragaz commented on #5818
Related to: https://github.com/cosmos/cosmos-sdk/issues/6070
I think this could be a problem that does not occur if there are no unbonding validators that have been previously slashed during export.

[2020-06-11 14:30] marbar3778 commented on #6408
How does this play into gRPC? I thought gRPC or REST would start with binary by default and the other you would need to manually enable.

[2020-06-11 14:30] #6402 closed

[2020-06-11 14:41] alexanderbez commented on #6408
Nothing changes on that front. All that is happening is the service is now started automatically in-process with the binary, instead of manually and separately.

[2020-06-11 17:35] colin-axner opened #6411 "Cleanup IBC types tests"
## Summary

Some of the types tests in IBC submodules could use spring cleaning.

## Problem/Propsal

Redundant/unnecessary variable definitions. Strings should use a defined const not for example in connection/msgs_test.go `"ibconntest"`. make a `var connID = "ibconntest"`

In `msgs_test` reduce code lines by combining message definitions with test case definition. It is extra technical debt to m

[2020-06-11 19:23] ziyi-zhang-1130 opened #6412 "x/cert: Make StoreKeyPrefix variables exportable"
## Summary

Capitalize first letter of variable names and make them exportable.

## Problem Definition

Currently xxxxStoreKeyPrefix variables are not exportable in x/cert module. To implement store decoder as part of module simulation, it'll be convenient to be able to import those variables.

## Proposal

Capitalize the first letter of each StoreKeyPrefix variables in x/cert/internal/types/keys.

[2020-06-11 19:24] #6412 closed

[2020-06-11 19:24] ziyi-zhang-1130 commented on #6412
Sorry, wrong repo.

[2020-06-11 21:26] marbar3778 commented on #6194
is the plan to remove amino from IAVL before 0.39 release of the sdk?

cc @aaronc @clevinson

[2020-06-11 22:00] aaronc commented on #6194
That would be desirable

[2020-06-11 22:19] #6322 closed

[2020-06-12 06:03] jgimeno commented on #6408
I totally support this, it is the natural way. I remember me searching in the past the flag to execute the REST service in gaiad to realize it was in the CLI.

Good one!

[2020-06-12 07:45] fedekunze commented on #6408
I fully support this as well. This was one of the main questions of a colleague of Chainsafe on why did we require to run the REST server as a separate process instead of the same one with the node.

[2020-06-12 07:56] fedekunze commented on #6261
I think this change is unnecessary now

[2020-06-12 08:02] marbar3778 commented on #6408
Ah okay I thought this was a given.

meant that if the gRPC process starts automatically then the REST would be optional. This may not be a worry but it may be beneficial to test the load of running both processes on the node.

[2020-06-12 08:08] fedekunze commented on #6316
I don't understand the changes required here

[2020-06-12 08:15] marbar3778 commented on #5819
closing this as the work has been completed. Multisig was moved to sdk but other keytypes are being imported from tendermint which is a better design. We can revisit if anything else needs to change in a different issue

[2020-06-12 08:15] #5819 closed

[2020-06-12 10:34] erikgrinaker commented on #6370
I've been able to reproduce this with Gaia `master`, running 4 txs per 1-second block and restarting a node every 10 seconds:

[code]

This happened when restarting just as block 798 was in the process of being committed. I have some ideas about what might be causing this, will dig further.

[2020-06-12 10:41] cwgoes commented on #6316
The Tendermint client should accept evidence as valid if either:
1. It is within the unbonding period (time-wise)
1. It is within the unbonding period (height-wise)

[2020-06-12 10:45] #6321 closed

[2020-06-12 11:42] erikgrinaker commented on #6370
I've identified the problem: Cosmos SDK commits are not atomic (as @alexanderbez also [suspected](https://github.com/cosmos/iavl/issues/261#issuecomment-642019167)).

The SDK uses multiple logically-independent IAVL stores with a single backing LevelDB database via `rootmulti.Store`. When the root store is committed, it commits each of the backing IAVL stores sequentially, which both commits the n

[2020-06-12 12:06] #6386 closed

[2020-06-12 12:23] fedekunze commented on #6316
I can't find any reference to the unbonding height period. cc @alexanderbez

[2020-06-12 14:02] alexanderbez commented on #6370
Excellent @erikgrinaker, this confirms my suspicions -- updates to the logical stores and the root logical store (along with pruning) is **NOT** atomic.

Being that they all use the same underlying physical store, we need to devise a way for them all to use the same batch object. So as you've pointed, some relatively major changes to the SDK and IAVL.

This is certainly blocking 0.39. I'll take th

[2020-06-12 14:08] alexanderbez commented on #6194
From @erikgrinaker:

[code]

I agree in that IAVL can be simplified and just use binary varint encoding.

[2020-06-12 14:10] alexanderbez commented on #6408
@jgimeno if you have the bandwidth, this would be a fun issue to pick up! Let me know. If you don't, I take it on. Shouldn't be too hard. We can sync on it.

[2020-06-12 14:21] clevinson opened #6418 "Adding localnet capabilities to SimApp"

[2020-06-12 14:22] alexanderbez commented on #6316
https://github.com/cosmos/cosmos-sdk/blob/master/x/evidence/keeper/infraction.go#L48-L64

[2020-06-12 14:26] jgimeno commented on #6408
I assign it to me also. :D

[2020-06-12 15:12] aaronc commented on #6408
I would even go as far as to question why we have two binaries at all. All the cmd's could live in a single binary and it wouldn't be a problem. Currently 42m for simcli and 50m for simd, when the 50m in simd has everything simcli has. Obviously beyond the scope of this issue, just making an observation...

[2020-06-12 15:16] alexanderbez commented on #6408
Totally agree. Moving CLI over would be something I'd slate for 0.40. Doing the API service should be trivial, so we can do it for 0.39.

[2020-06-12 15:17] marbar3778 commented on #6408
![image](https://user-images.githubusercontent.com/24299864/84518116-84d5ca80-acd0-11ea-9131-e581e6798454.png)

[2020-06-12 15:19] aaronc commented on #6408
I'll add issues for 0.40

[2020-06-12 15:23] aaronc opened #6419 "Single CLI binary"
##  Summary

ref: #6408

A single binary with be lighter weight and more convenient than two binaries `xxxxd` and `xxxxcli`.

## Problem Definition

`simd` and `simcli`, etc. have mostly the same code but different cmd's. Currently 42mb for `simcli` and 50mb for `simd`.

## Proposal

Just have a single cmd that will be lighter weight and pack everything needed.
____

#### For Admin Use

- [x] Not

[2020-06-12 15:26] cmwaters commented on #6365
This might be relevant here. The new evidence that can be detected and committed to a block is:
- DuplicateVoteEvidence
- PhantomValidatorEvidence
- LunaticValidatorEvidence
- AmnesiaEvidence

It is also possible to commit PotentialAmnesiaEvidence but the consensus algorithm alone won't do it.

[2020-06-12 15:28] aaronc opened #6420 "Bundle Caddy HTTP Proxy Server"
## Summary

Let's bundle https://caddyserver.com in the `simd`, etc. binary and let it run in the same process as the state machine, REST server, etc.
## Problem Definition

Operators want as simple a devops experience from the core Cosmos SDK binary as possible. CORS and TLS are commonly desired features for public facing REST endpoints.

## Proposal

In continuing with #6408 which bundles the RE

[2020-06-12 16:23] #6418 closed

[2020-06-12 16:53] #6261 closed

[2020-06-12 18:29] aaronc opened #6423 "In Process Integration Tests"
## Summary

Running integration tests in a single process will improve code coverage metrics and make debugging easier.

## Problem Definition

Currently CLI integration tests work by building CLI binaries and then calling the CLI binaries as sub-processes. While this is a somewhat realistic simulation of actual usage, it has the following downsides:

* integration test coverage isn't reflected in

[2020-06-12 21:09] AdityaSripal opened #6431 "Allow ProofSpec to be passed as JSON in 07-tendermint cli"
Currently the proof specs that can be passed into a `MsgCreateClient` using the 07-tendermint CLI are one of a couple hardcoded options.

We should allow users to pass in JSON file specifying arbitrary ICS23 ProofSpecs.

ref links:

Code:
https://github.com/cosmos/cosmos-sdk/blob/master/x/ibc/07-tendermint/client/cli/tx.go#L101

Review comment:
https://github.com/cosmos/cosmos-sdk/pull/6374#discus

[2020-06-13 05:49] jjhesk opened #6434 "AddGenesisAccountCmd mulfunction"
## Summary of Bug

github.com/tendermint/go-amino.(*Codec).MustUnmarshalJSON(...)
	/Users/hesk/go/pkg/mod/github.com/tendermint/go-amino@v0.15.1/amino.go:445
github.com/cosmos/cosmos-sdk/x/genaccounts/client/cli.AddGenesisAccountCmd.func1(0xc000f77900, 0xc000f5dce0, 0x2, 0x2, 0x0, 0x0)
	/Users/hesk/go/pkg/mod/github.com/cosmos/cosmos-sdk@v0.37.0/x/genaccounts/client/cli/genesis_accts.go:78 +0xaf6

[2020-06-13 06:14] jjhesk commented on #4131
there is a similar in #6434

[2020-06-13 06:15] jjhesk commented on #4151
I found similar issue #6434

[2020-06-13 18:21] #6313 closed

[2020-06-14 16:52] alessio commented on #6420
If I'm not mistaken, CORS can already be enabled via command line flag. We used to have self-signed certificates and TLS in the old REST server. We first set it to disabled by default, afterwards we removed TLS altogether because it comes with more contros than pros.

On this subject, please see @greg-szabo's assesment here (with which I fully agree): https://github.com/cosmos/cosmos-sdk/issues/34

[2020-06-14 16:54] anilCSE commented on #6070
@kwunyeung @bragaz do you have a script to reproduce this issue (is a list of actions). Are you trying to reproduce the issue with a fresh setup or trying the software on existing database? For Akash, all new setup worked fine after fixing `x/auth` order and `x/evidence` (for double signing)

[2020-06-15 08:24] cwgoes commented on #6378
We should allow Tendermint clients to accept proof of a particular key in state mapped to a new chain ID & height as sufficient reason to change their chain ID & height.

This can then be used to allow non-contentious upgrades which change chain ID and/or height.

[2020-06-15 12:56] #6302 closed

[2020-06-15 17:39] #6408 closed

[2020-06-15 19:25] aaronc commented on #6311
Great 👍 . One thing I often encounter with aliases is that they introduce unnecessary cyclic dependencies sometimes. Often, I have to manually use `x/auth/types` instead of `x/auth` to avoid this.

[2020-06-16 00:32] michaelfig opened #6446 "block.TimeIotaMs is 0 on exported genesis"
## Summary of Bug

After exporting and reinitialising the chain the `consensus_params.block.time_iota_ms` value is `0`.  This fails when restarting the chain with the new genesis.json.

## Version

`v0.34.4-0.20200511222341-80be50319ca5`

## Steps to Reproduce

1. `gaiad export --for-zero-height > newgenesis.json`
2. `gaiad unsafe-reset-all`
3. `cp newgenesis.json ~/.gaiad/config/genesis.json`
4.

[2020-06-16 01:04] alexanderbez commented on #6446
Yes, this is because we're not saving/exporting `Block.TimeIotaMs` -- I intentionally didn't include this because this value really isn't meant to change. I guess we have no choice but to include it.

@jgimeno do you think you have the bandwidth to take this on? It should be pretty straight forward.

[2020-06-16 01:31] karzak commented on #6407
+1 to this idea  -  we created a keeper in validator vesting that just stores the addresses of these accounts to avoid iterating over everything - would be nice to be able to do it directly.

[2020-06-16 05:14] colin-axner opened #6447 "Change blacklist naming"
## Summary

Change `blacklist` to a neutral term that suggests its function without further reading.

## Problem Definition

The function of blacklisted accounts was added as a fix to prevent module supply invariants from breaking during the lifetime of the chain. While the term does have popular usage in the computer science world, it is not neutral ("whitelist/blacklist") and can have negative c

[2020-06-16 12:52] alexanderbez commented on #6407
@fedekunze go for it, although I would check if there are more pressing items in the 0.39 board of higher priority before taking this on.

[2020-06-16 12:53] alexanderbez commented on #6447
You have my full support in this regard. Should be a trivial thing to tackle 👍

[2020-06-16 14:10] aaronc commented on #6447
See https://github.com/golang/go/commit/608cdcaede1e7133dc994b5e8894272c2dce744b and https://github.com/golang/go/commit/2cd2ff6f564dce5be0c4fb7f06338ff7af3fc9a9 for details as to the naming golang has adopted. We should likely follow these conventions.

[2020-06-16 14:45] marbar3778 commented on #4782
once #6399 is merged then this issue can easily be solved. We welcome contributions.

[2020-06-16 15:11] alexanderbez commented on #4782
Closing this issue. We're going to start adding metrics to modules now.

[2020-06-16 15:11] #4782 closed

[2020-06-16 15:12] cwgoes commented on #5079
Specifically, what we probably want is:
- Handshake initiating chain supplies list of compatible versions
- Handshake receiving chain chooses version from list (or set of versions / features)
- Handshake initiation chain agrees

Then both chains agree on version string ~ featureset.

[2020-06-16 16:16] AdityaSripal commented on #6320
Closed via #6390

[2020-06-16 16:16] #6320 closed

[2020-06-16 16:17] AdityaSripal commented on #6319
Closed via #6321

[2020-06-16 16:17] #6319 closed

[2020-06-16 16:19] erikgrinaker commented on #6194
Submitted an initial IAVL PR here: https://github.com/cosmos/iavl/pull/265

Need to figure out what to do with encoding of proofs.

[2020-06-16 17:49] cwgoes commented on #5082
Done.

[2020-06-16 17:49] #5082 closed

[2020-06-16 20:36] cwgoes commented on #6091
Closed by @AdityaSripal's ICS 23 work.

[2020-06-16 20:36] #6091 closed

[2020-06-16 21:03] njmurarka commented on #4581
Hello everyone.

I was talking to @alessio and in fact, this feature is something we really need right now.

To give some background...

We spent sometime here at Bluzelle trying to work the Peggy project, so that we could move tokens back and forth between Ethereum and COSMOS. But as you probably know, it is far from ready for production and we hit many blockers.

We have since decided and built

[2020-06-17 08:15] anilCSE commented on #6191
@aaronc we might need to use `page` instead of `offset`. Otherwise the default behaviour to use `key` over `offset` (when both are not set) is not possible as `offset`'s default value is `0` and is still a valid `offset` value. We cannot use `key` by default if the `offset`

[2020-06-17 09:17] fedekunze commented on #5864
I'm going to work on the IBC module tx migration

[2020-06-17 09:23] ancazamfir opened #6458 "Same attributes for all connection/ channel/ packet IBC events"
## Summary

Same attributes for all connection/ channel/ packet IBC events

## Problem Definition
Code for extracting IBC events from `Tx` notifications is currently unnecessarily verbose as event attribute sets for a given category, e.g. connection, vary depending on the actual event. Also, in some handlers there are missing attributes that are useful for monitoring or some relayer strategies.

#

[2020-06-17 09:30] ancazamfir opened #6459 "Provide the means and document how to obtain IBC events and their attributes"
## Summary
Provide the means and document how to extract IBC events and their attributes in order from the `Tx` notification

## Problem Definition

When there are multiple `Tx` events included in a notification, it is not clear how these can be extracted in order.

## Proposal

The `message.action` list of "tags" seemed like a good candidate but there are some missing and sometimes duplicate tags

[2020-06-17 09:34] ancazamfir commented on #6358
Opened https://github.com/cosmos/cosmos-sdk/issues/6459 to track this.
In the meantime is it possible to change the  `MsgAcknowledgment` to have type `ics04/acknowledgment`?
https://github.com/cosmos/cosmos-sdk/blob/8bc645a418cfc8db6f45352085d3f6485537d3c6/x/ibc/04-channel/types/msgs.go#L512

[2020-06-17 09:36] #6369 closed

[2020-06-17 09:38] fedekunze commented on #6459
@cwgoes could you work on updating the IBC specs 🙏?

[2020-06-17 10:50] cwgoes commented on #6459
We can update the IBC specs for the IBC-specific events, but that has nothing to do with ordering `Tx` events, that's an SDK concern.

[2020-06-17 13:32] #6447 closed

[2020-06-17 14:13] aaronc commented on #6191
I don’t understand what the problem is. If offset and key are both unset the behavior should be identical.

[2020-06-17 16:18] anilCSE commented on #6191
Okay, as discussed over chat, we'll be using `offset=1`.

[2020-06-17 16:48] anilCSE commented on #6191
@aaronc @alexanderbez @clevinson I suggest we enforce a `maxLimit` for pagination. If the `limit` is not set, we will use the `maxLimit`. Also, we allow users to set `limit` only under this `maxLimit`.

We can have a hard coded value of `25` for `maxLimit`

Any thouthts?

[2020-06-17 17:16] alexanderbez commented on #6191
I'm in favor of a max limit 👍

[2020-06-17 17:28] aaronc commented on #6191
100 makes sense to me

[2020-06-17 17:29] anilCSE commented on #6191
Sure, we'll keep the max limit to 100

[2020-06-17 19:00] dauTT commented on #6311
All the sub tasks above are completed. I think we can close this issue. :smile:

[2020-06-18 15:56] aaronc commented on #6420
@alessio the SDK's CORS support is currently marked as unsafe and trying to handle stuff like CORS/TLS ourselves doesn't seem like the best approach. Users need an actual dedicated proxy to get the configuration correct.

That's why I am suggesting that we bundle Caddy as production-grade, golang proxy so that users that want that functionality can have it without compromise and we don't need to m

[2020-06-18 16:26] sahith-narahari commented on #6423
I feel using a testify Suite would be better and clean. This should also help us eliminate cli_tests from gaia and other applications using sdk.
Any thoughts @anilCSE

[2020-06-18 16:52] #6316 closed

[2020-06-18 16:54] fedekunze opened #6468 "fix duplicate vote evidence timestamp calculation"
Update evidence timestamp once https://github.com/tendermint/tendermint/issues/5030 is fixed.

____

## For Admin Use

- [ ] Not duplicate issue
- [ ] Appropriate labels applied
- [ ] Appropriate contributors tagged
- [ ] Contributor assigned/self-assigned

[2020-06-18 18:41] anilCSE commented on #6423
Thanks @aaronc for the proposal. I had a feeling that in-process might not work best for cli tests but looks easy with the mentined approaches.

I vote for proposal 4 and 3. Especially 4 looks clean and simple. 2 looks flexible as it allows to chose binaries or `GetRootCmd` to run in-process but I don't see any advantage with that.

[2020-06-18 18:42] anilCSE commented on #6423
Makes sense but it might need more efforts than proposal 4. I don't see great advantage with this over 4 too.

[2020-06-18 19:36] clevinson opened #6469 "Add intellij/vscode configurations to be checked in to git"
## Summary

Add intellij / vscode configurations to be checked in to git.

## Problem Definition

As identified by @marbar3778, the recent changes in protobuf file layout [causes vscode to break](https://github.com/cosmos/cosmos-sdk/pull/6413#issuecomment-645635089), unless you have explicit workspace settings in your `.vscode/settings.json` like so:
[code]

Currently there are instructions in `CO

[2020-06-18 19:39] aaronc commented on #6423
Actually @anilCSE, these aren't separate proposals as it's currently written, they're just steps towards implementing. Maybe I shouldn't have numbered them and that makes it more confusing...

[2020-06-18 19:56] alexanderbez commented on #6423
@aaronc this does not belong in 0.39.

[2020-06-18 20:12] anilCSE commented on #6423
My bad, I remember 2 approaches you proposed last time and that was running in my mind while reading through this.

[2020-06-18 20:13] dauTT commented on #6458
Hi, can I work on this?

[2020-06-18 20:15] aaronc commented on #6423
I know this is somewhat involved @alexanderbez but we may want to consider this as part of battle testing 0.39. If we have accurate coverage metrics of client-facing code, we can improve coverage and potentially prevent bugs from getting into the release. (I would note that we only need to do steps 1 & 2 to get this benefit...)

[2020-06-18 21:23] fedekunze commented on #6458
@dauTT that would be great thanks

[2020-06-19 12:23] #5826 closed

[2020-06-19 13:51] alessio commented on #6469
I'd vote against 1. I vote for 2+3 (maybe I'd create a different file: `EDITOR.md`) as `CONTRIBUTING.md` is getting a bit too big.

[2020-06-19 13:52] alessio commented on #6423
I support this (this may involve forking spf13/cobra though)

[2020-06-19 13:55] marbar3778 commented on #6469
I am torn on this. It is nice because it makes it so you dont have to think about it, but it may not be good practice. There are some other settings that the sdk is following in terms of formating proto files that isn't documented as well.

do you know if three automatically gets picked up by the editor?

[2020-06-19 15:05] alessio commented on #6469
@marbar3778 Let me rectify: 1. is viable if and if only users configuration is not overwrtitten automatically, i.e. we could place these pre-cooked configuration files/directories (_recommended IDE configuration when working with Cosmos-SDK_) in a directory under `contrib` and leave a recommendation in `CONTRIBUTING.md`.
I'm trying to protect the user here, I don't think it'd be appreciated by IDE

[2020-06-19 15:13] alexanderbez commented on #6423
Assigning this to me and @alessio. I have ideas in my head on how to approach this. I will take a stab at a PoC over the coming days. However, I will take this on full-time after we release 0.39.

[2020-06-19 15:18] alexanderbez commented on #5371
We may have to kick this out to 0.40.

[2020-06-19 15:19] marbar3778 commented on #6469
Wasn't disagreeing with you. I share your sentiment. Looking into it, it seems when a repo has a settings.json in vscode it only overwrites settings for that window. Since we need custom settings for proto then it does make sensee.

[2020-06-19 15:22] alessio commented on #6469
Yes, yet it's a modification to user settings that take effect without user intervention. We can still provide the user with a convenient set of configuration files (e.g. `contrib/vscode/`), so that they can copy/symlink them - pretty much like we do with githooks.

[2020-06-19 17:43] marbar3778 commented on #6419
does this need any design work? If someone in the community were to pick it up prior to 0.39 release would it be includeed?

[2020-06-19 17:46] alexanderbez commented on #6419
@marbar3778 not really, and yes please! It should be more or less trivial. Move command instantiation around and remove *cli remainings.

[2020-06-19 20:01] zmanian opened #6473 "Decide if we should integrate the cosmos upgrade manager"
The Cosmos SDK has `x/upgrade` module that is designed to work with an external helper to facilitate zero downtime upgrade.

The only implementation of an external helpers is a minimally maintained https://github.com/regen-network/cosmosd

Several decisions need to be made.

Either upstream cosmosd or find a team to support one or more out of tree implementations.

[2020-06-19 21:08] zmanian opened #6474 "Evaluate Oasis protocols mkvs as an alternative to IAVL"
We would evaluate Oasis Protocol's mkvs as an alternative to IAVL.

It appears to support the same core features including state sync.

https://github.com/oasisprotocol/oasis-core/tree/master/go/storage/mkvs

I suspect it's of higher engineering quality and has a maintainer.

[2020-06-19 21:56] dauTT commented on #6458
Hi, I have changed the `connection.proto` file and defined a message, `MsgConnectionBasic`, that will carry all the common attributes of the connection msg. Now I would like to generate the `connection.pb.go` file but I have problem to use correctly the `protoc` compiler. Could someone explain me how to generate `pb.go` file correctly?

![Selection_072](https://user-images.githubusercontent.com/30

[2020-06-20 00:15] sahith-narahari commented on #6423
Sharing here for future reference,
1) https://github.com/urfave/cli
2) https://github.com/urfave/cli

[2020-06-21 08:56] dauTT opened #6476 "Makefile protobuf commands (proto-update-deps, proto-gen,..) not working"
## Summary of Bug
Many protobuf commands in the `MakeFile` are not working. For instance

`make proto-update-deps`
`make proto-gen`
`make proto-all`

## Version
master branch, commitID: 4b0c66982a87e824d43873187ae049a9f572ed7a
## Steps to Reproduce
OS: Ubuntu 18.04
GO version: go1.14.3

![Selection_073](https://user-images.githubusercontent.com/30392990/85220624-66955c00-b3ad-11ea-9562-cd0d48eb301

[2020-06-21 09:03] dauTT commented on #6458
I was able to generate the 'pb.go' file that I need with this commands:

```protoc -I=. -I=./third_party/proto  -I=./proto  --go_out=$GOPATH/src  ./proto/ibc/connection/connection.proto```

but the output is quite different from the other "pb.go" files in the cosmos-sdk repository.

I believe we will need to wait to fix first #6476, before I can continue with this issue.

[2020-06-21 09:52] anilCSE commented on #6458
@dauTT you can use `make proto-gen`

[2020-06-21 10:38] dauTT commented on #6458
Hi @anilCSE ,

I have tried but it doesn't work for me. So I have raised this issue here: #6476

[2020-06-21 11:50] anilCSE commented on #6476
@dauTT I couldn't reproduce the issue, `make proto-gen` working fine for me. I am using Ubuntu 18.04, Go 1.14

[2020-06-21 14:24] fedekunze commented on #6476
try running `make tools`

[2020-06-21 18:10] dauTT commented on #6476
@fedekunze , no it does not work.

I also tried following the guideline in the contribution guideline ([CONTRIBUTING.md](https://github.com/cosmos/cosmos-sdk/blob/master/CONTRIBUTING.md#updating-documentation)) but unsuccessful :

[2020-06-21 18:24] dauTT commented on #6476
@anilCSE , I believe you have all the tools installed. Therefore you can run `make proto-gen`.

I think, I have some missing tools but don't know how to fix that.

[2020-06-21 20:13] marbar3778 commented on #6476
it seems you actually have an error in one of the proto files. Is this you pulling from master and just running the cmd or altering somethings

[2020-06-21 22:48] jwitos opened #6477 "REST API endpoint for key management"
Hi! I was looking at looking at the [REST endpoints list](https://cosmos.network/rpc/v0.37.9) and wondering if there is an equivalent for key management, e.g. `keys add`? I could swear I saw this endpoint somewhere in old issues / docs, but can't find it anymore.

[2020-06-22 06:08] dauTT commented on #6476
thanks, @marbar3778. for the explanation. You are right.

from a clean master, running only `make proto-gen` will work.
But from a clean master, running  `make proto-update-deps` and `make proto-gen` won't because the first command change a proto file in the master branch:

![Selection_076](https://user-images.githubusercontent.com/30392990/85253790-360dfa80-b45f-11ea-924d-c3f17f2f3a56.png)

[2020-06-22 07:37] marbar3778 commented on #6476
could you try pulling the most recent master? There were some changes that may have affected this. I'm not sure what is going on here as I can't reproduce it.

[2020-06-22 08:59] cwgoes commented on #6468
Per the upstream changes, we should take the greater of the two timestamps, which should mean that the evidence is considered valid (as real misbehaviour) if either vote is within the unbonding period.

[2020-06-22 09:59] fedekunze commented on #6468
we are already using `Max` should we close this issue then?

[2020-06-22 10:22] cwgoes commented on #6468
Let's wait until the upstream PR is finalised & merged, then yes.

[2020-06-22 11:52] cwgoes opened #6478 "Expire unbonding delegations etc. based on combined height/time unbonding period"
Right now, if I understand correctly, the `x/staking` module expires entries based [solely on time](https://github.com/cosmos/cosmos-sdk/blob/master/x/staking/keeper/validator.go#L424):

[code]

This mis-matches the new unbonding period, which is a combination of height & time, see [the evidence module](https://github.com/cosmos/cosmos-sdk/blob/master/x/evidence/keeper/infraction.go#L51):

[code]

[2020-06-22 11:57] fpChan opened #6479 "Convert raw_log to json format"
## Summary
Convert raw_log response to json format

## Problem Definition
We developed a public blockchain based on a Cosmos SDK.  We found that there are escape characters in the transaction response

![image](https://user-images.githubusercontent.com/29588923/85284565-0217f100-b4c2-11ea-91c7-9b8d88ccca7b.png)

We found that there is an escape situation when using the amino encoding

![image](htt

[2020-06-22 12:19] cwgoes commented on #6478
cc @alexanderbez @clevinson

[2020-06-22 13:41] cwgoes commented on #6478
We may not actually use `GetAllMatureValidatorQueue`, but the other such functions also appear to use time, e.g. [this](https://github.com/cosmos/cosmos-sdk/blob/master/x/staking/keeper/delegation.go#L271).

[2020-06-22 13:52] alexanderbez commented on #6478
WRT to the context of _why_ we use a hybrid of both time and height in the x/evidence module, this makes sense. Even if it's very unlikely to be exploited, there is no harm in taking this approach withing staking -- correct me if I'm wrong.

WDYT @ebuchman?

[2020-06-22 14:15] alexanderbez commented on #6477
We intentionally decided to leave all key and signing functionality out of the API server -- primarily for security and simplicity concerns. There are key management APIs out there that exchanges use. I know @jackzampolin wrote one that he can maybe point you to.

[2020-06-22 14:15] #6477 closed

[2020-06-22 14:21] alexanderbez commented on #6479
Change the format to what @fpChan? `raw_log` is a JSON string.

[2020-06-22 14:50] kostiamol commented on #6477
@alexanderbez Then what's the flow of account creation by an external user?

[2020-06-22 16:05] alexanderbez commented on #6477
Currently, accounts can only be created by being the recipient of a tx (e.g. `MsgSend`).

[2020-06-22 17:28] ebuchman commented on #6478
Right, we need the evidence to match the unbonding. Eg. if the timestamp was fast forwarded, and evidence is still valid according to the evidence module because the height limit has not passed, but the validator is already finished unbonding because it was only based on timestamp, then the allegedly valid evidence would be useless in punishing the validator. So the conditions for validators being

[2020-06-22 19:32] kostiamol commented on #6477
What type of message should I use? In genesis.json I found account data like this:
        `"type": "cosmos-sdk/Account",
          "value": {
            "address": "cosmos1cxldcdepvjkdyz4nzupj28dsneqpht6p9u79q9",
            "coins": [
              {
                "denom": "nametoken",
                "amount": "1000"
              },
              {
                "denom": "stake",

[2020-06-22 20:22] dauTT commented on #6476
Hi @marbar3778 ,

with the latest in master branch (commitID: 6700d776b82bbb4f756315858eadc69298313528 ), I still get an error when I run `make proto-update-deps`:

![Selection_078](https://user-images.githubusercontent.com/30392990/85331629-c6d3ed00-b4d6-11ea-8183-1834b598916e.png)

[2020-06-22 23:31] AdityaSripal opened #6483 "Relayer guide"
Similar to #5826 , we should have a `Relayer guide` that walks through the relevant parts of IBC for relayers to understand and write their own relayer implementations.

TODO:

- [ ] How to relay handshakes
- [ ] How to pass in Proofs correctly
- [ ] How to relay packets

[2020-06-22 23:31] AdityaSripal commented on #6483
I can take this on, though would want an ACK from @jackzampolin

[2020-06-22 23:38] AdityaSripal opened #6484 "IBC developer guide"
This is largely documentation for IBC core team.

IBC application developers should have an application guide that tells them only what they need to know for writing applications
IBC relayer teams should have a relayer guide that tells them only what they need to know for implementing relayers

However, anyone looking to contribute to core IBC needs to understand the full iBC stack. Currently, the

[2020-06-23 01:36] fpChan commented on #6479
raw_log is a JSON string. but there are escape characters in raw_log string. we want to convert string with escape characters to json

[2020-06-23 01:38] fpChan commented on #6479
@alexanderbez

[2020-06-23 01:41] fpChan commented on #6479
yes, raw_log is a JSON string. there are escape characters in the `raw_log`

 @alexanderbez we want to convert string with escape characters to json. thanks

[2020-06-23 03:04] alexanderbez commented on #6479
Yes, take the bytes and JSON unmarshal `ABCIMessageLogs`

[2020-06-23 03:27] fpChan commented on #6479
yeap, `JSON unmarshal ABCIMessageLogs`  is an effective way.
The gaia has the same problem: `escape characters in the raw_log`.

![image](https://user-images.githubusercontent.com/29588923/85357662-62e80d80-b544-11ea-87a5-a2bcdca69d78.png)

@alexanderbez Would you consider refactoring the code in Cosmos SDK for a better user experience?

![image](https://user-images.githubusercontent.com/29588923/

[2020-06-23 06:29] dependabot-preview[bot] opened #6486 "Dependabot can't resolve your Go dependency files"
Dependabot can't resolve your Go dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/cosmos/update-logs/37689943).

[2020-06-23 11:39] fedekunze commented on #6484
I'm currently working on the IBC developer guide on #6472

[2020-06-23 13:38] alexanderbez commented on #6486
Sigh, this is because I merged #6475 when we should've waited for an IAVL release.

[2020-06-23 14:25] fedekunze commented on #6483
@AdityaSripal feel free to open a PR against `fedekunze/docs` (#6472) since I created an IBC section on the docs there. 👍

[2020-06-23 16:07] alexanderbez commented on #6423
1a. Thinking about it more, we should not switch to a new lib unless we have very strong reasons to do so.
1b. Consider sticking with Cobra and refactor the way we build and expose commands.
2. I propose we **do not** go with (4) in the issue body. CLI commands and API handlers should be tested locally to their definition.

The concrete proposal:

1. Each `cli` package creates and uses a `Suite`,

[2020-06-23 16:35] alessio commented on #6423
I agree with @alexanderbez's comment. It all seems an excellent tradeoff between pragmatism and correctness.

[2020-06-23 16:37] alessio commented on #6423
Plus, replacing cobra/viper with other libs would be a terribly painful process for both us and SDK clients at this stage.

[2020-06-23 16:47] #6486 closed

[2020-06-23 17:06] cwgoes commented on #6468
The upstream PR has been merged, so we can do this now.

[2020-06-23 18:19] fedekunze commented on #6468
@cwgoes this is already fixed since we are using the Unix timestamp (int) and `Math.Max` to compare the timestamps. Do we need to do something else?

[2020-06-23 20:34] cwgoes commented on #6468
Ah, fantastic - nope, just checked again, looks fine.

[2020-06-23 20:34] #6468 closed

[2020-06-24 03:14] antstalepresh opened #6494 "Limitation per block configuration does exist somewhere?"
Is there any limit of number of msgs, number of transactions or capacity of bytes per block using cosmos SDK or it's configurable?
How does it work if processing time overflow block commit time?

[2020-06-24 08:54] RevelationOfTuring opened #6499 "Redundant cache-wrap of context in distr's querier"
## Summary of Bug

The code in function `queryDelegatorWithdrawAddress ` seems not concise with the useless logic of cache-wrap for context.

As we know , the getter from store will not change any state of blockchain. It makes the query of distribution heavy and some codes are expected to be much pithier.

In my opinion, it'd better to remove `ctx, _ = ctx.CacheContext()` from the function `queryD

[2020-06-24 09:32] fedekunze opened #6500 "document how to create a new key type and add it to the keyring"
## Summary

- document how to create a new key type and add it to the keyring

## Problem Definition

Currently, the process of adding a new key type (eg: The Eth's secp256k1 used on Ethermint) to the keyring in not fully documented/tested, and it would be extremely helpful to add a dev guide.

## Proposal

- Add a document/guide to add and register a new key type to the keyring that's used for cu

[2020-06-24 10:51] xiangjianmeng opened #6501 "encounter error when query the balance of an account"
## Summary of Bug

I encounter the similar problem, when I query the balances of an account. Client uses ["/cosmos.bank.Query/AllaBlance"](https://github.com/cosmos/cosmos-sdk/blob/06d7dbedb9a6496d2d4e0b4c04d331d5e0d8d95a/x/bank/types/query.pb.go#L492) as method, but the sever can not recognize the method.  And the client [Marshal the data of request with proto](https://github.com/cosmos/cosmos-sd

[2020-06-24 12:12] colin-axner opened #6502 "Remove returning packet from Packet ante handler funcs"
## Summary

Make the return just `error` for `...Packet` funcs in the `ChannelKeeper`

## Problem Definition

Functions like [`RecvPacket`](https://github.com/cosmos/cosmos-sdk/blob/06d7dbedb9a6496d2d4e0b4c04d331d5e0d8d95a/x/ibc/04-channel/keeper/packet.go#L145) return the packet and an error, but the packet is already passed in as an argument and should not be modified so this is redundant. The a

[2020-06-24 13:15] colin-axner commented on #6501
Hello :wave: looks to me like you are using `[address]` as your account address. The `[ ]` format means "replace with". So you'd want to having something like:
[code]

but replace `cosmosaddrabc123` with your address.

This does bring up a separate issue that a command like this should show a concrete example of usage.

[2020-06-24 13:23] alexanderbez commented on #6494
Answered in Discord -- limits are imposed by Tendermint's consensus params: block gas and block size. These will be added to the set of governance parameters in the next release.

[2020-06-24 13:23] #6494 closed

[2020-06-24 13:29] alexanderbez commented on #6499
This was done intentionally be @cwgoes. I can't recall the reasons, but I think it has to do with how the rewards are computed and the need to modify the state (ephemerally).

[2020-06-24 13:50] cwgoes commented on #6499
I believe the code simulates withdraws, which makes state changes, so you need to use a cache-wrapped context somehow.

[2020-06-24 14:18] RevelationOfTuring commented on #6499
Hi @alexanderbez @cwgoes
Thanks for your reply. I check the code again and there's no setter on store in function `queryDelegatorWithdrawAddress`.

[code]

Always 'get' from store without 'change'.

[2020-06-24 14:31] cwgoes commented on #6499
Oh, maybe the function has changed, you can probably remove it then.

[2020-06-24 15:37] xiangjianmeng commented on #6501
I know this, I executed `gaiacli query bank balances cosmos197a028ylwa4rahqxxglnuhehtpdrr3cug7sfzt` in practice and got the error above.

[2020-06-24 17:18] colin-axner commented on #6501
Ah I see, my apologies. Unfortunately I was unable to replicate this error so I'll differ to someone more familiar with this area of the code. Thanks for opening up the issue

[2020-06-25 06:56] dauTT commented on #6419
Hi, can I work on this?

[2020-06-25 07:23] anilCSE commented on #6419
That would be a great help, 🙏

[2020-06-25 07:55] anilCSE commented on #6191
@aaronc how do we apply this for custom filtered querying. Lets say for proposals we have `proposer`, `status`  and `depositor` filers. If we use the current paginate, we would get results <= limit though we (might) have more results.

I think we can fix this by returning `miss` or `hit`/`found`, a bool value from `onResult()`.
https://github.com/cosmos/cosmos-sdk/pull/6452/files#diff-8ca04691fa5a

[2020-06-25 09:59] colin-axner commented on #6361
I'm still confused by this issue. Is it proposing removing cleanup entirely, providing better documentation, or some code change?

[2020-06-25 13:10] alexanderbez commented on #6419
@dauTT yes pls 🙏  let us know if you need guidance on this, but I think it should be pretty straight forward.

[2020-06-25 13:46] cwgoes commented on #6361
No, this is a semantic issue - here is a better description: https://github.com/cosmos/ics/issues/440 - does that make sense? Do you agree?

If so, I'll make the spec changes & we can update the SDK accordingly.

[2020-06-25 14:08] colin-axner commented on #6361
I agree with removing `cleanupPacket()` and requiring `acknowledgePacket`  :+1: .

My confusion had laid in `Considering that these functions are expected to be permissionless`. Since `cleanupPacket` is called by a module, I made the assumption a module wouldn't allow that function to be called unless it specifically had the intention of not calling `acknowledgePacket`, but given that they do the

[2020-06-25 14:39] colin-axner opened #6509 "IBC testing package improvements"
## Summary

The IBC testing package could use some improvements which include:

- [ ] pass in port as an argument so the caller can use their module (this allows for their capability to be binded correctly)
- [ ] channel id needs an update naming scheme so creation of multiple clients don't collide
- [ ] pass in versions as arguments (preferably as an optional arg) for connections and channels
- [

[2020-06-25 15:33] jgimeno commented on #6446
Ok, I think we have two options here.

1. When exporting search for this value in the genesis file (maybe a little bit ugly just for one value?) or 2. provide this value in the abci.ConsensusParams from tendermint that is included in abci.RequestInitChain (but I saw a comment that this specific field is not shared with the application).

@aaronc , @alexanderbez , @alessio opinions?

[2020-06-25 15:42] aaronc commented on #6473
My vote would be to merge this into the SDK and then use it in integration tests to verify upgradeability.

[2020-06-25 15:58] alexanderbez commented on #6446
@jgimeno it's a one-line fix:

[code]

[2020-06-25 16:04] jgimeno commented on #6446
Oh yes, the doc was there :D

[2020-06-25 16:58] AdityaSripal commented on #6064
Is anyone looking into this @colin-axner @fedekunze ? I can take this on if not

[2020-06-25 17:21] fedekunze commented on #6064
@AdityaSripal go ahead

[2020-06-25 20:02] aaronc opened #6513 "Specify SIGN_MODE_TEXTUAL"
As documented in ADR 020 and discussed in #6078. Let's slate this for the 0.40 release and start a thorough process shortly after 0.39 is wrapped up.

/cc @zmanian @jleni @tarcieri

[2020-06-25 21:45] dauTT commented on #6419
Is it okay if I follow this convention?

1) single binary name: `sim`
2) `sim client` = `simcli`
3) `sim daemon` = `simd`

![Selection_079](https://user-images.githubusercontent.com/30392990/85797958-e2403180-b73c-11ea-8635-bb924722e17d.png)
![Selection_080](https://user-images.githubusercontent.com/30392990/85797976-ec623000-b73c-11ea-8303-e135f00ae59c.png)

[2020-06-25 22:23] aaronc commented on #6419
@dauTT let's just have all the commands at the top level. So the user would type `sim start`, `sim query`, etc.

As for the naming of the binary, I think `sim` is fine although maybe we choose to adopt one of `simd` or `simcli`.

Thanks for looking into this!

[2020-06-26 05:07] qizhou commented on #5444
Is there any experiments on
- the benchmark comparisons between gogo-proto and amino?  I can find one here https://github.com/tendermint/go-amino/issues/254 but not sure it is official or final one;
- the cost percentage of amino encoding/decoding in a heavily-loaded Cosmos network, i.e., load testing a 4 or 10-node gaia-like testnet?

To my knowledge to other blockchains such as Eth, the major bo

[2020-06-26 05:08] AdityaSripal opened #6516 "IBC TM Clients should set their own Consensus Params"
Currently misbehaviour on a tendermint client is getting checked by passing in `ctx.GetConsensusParams`.
https://github.com/cosmos/cosmos-sdk/blob/51c35f4dcee865da0158e6e327fc4afc52037b58/x/ibc/02-client/keeper/client.go#L143

Sidenote: It looks like consensus params is never set in the `Context` in the SDK.

Regardless, we shouldn't be using the chain's ConsensusParams to verify misbehaviour corr

[2020-06-26 05:09] AdityaSripal commented on #6516
cc: @fedekunze @colin-axner @cwgoes

[2020-06-26 08:26] cwgoes commented on #6516
Hmm yeah, this definitely seems wrong. What in consensus params is actually used by the light client?

[2020-06-26 09:06] colin-axner commented on #6311
Sub modules in IBC need to have alias.go removed (03-connection, 04-channel etc)

[2020-06-26 09:59] denalimarsh opened #6518 "Enable/disable coin transfers by denom"
## Summary

Enable/disable coin transfers by denom.

## Problem Definition

Transfers of a specific token type cannot be paused/unpaused without disabling all transfers in the bank module. Some token implementations on other chains allow for [fine-grain control](https://github.com/OpenZeppelin/openzeppelin-contracts-ethereum-package/blob/master/contracts/token/ERC20/ERC20Pausable.sol) of an indivi

[2020-06-26 10:50] colin-axner opened #6519 "Duplicate nextRecvSeq check in RecvPacket"
## Summary

unaddressed suggestions from #6312 - in general I think it's good to optimize on preventing application state from being run if it will ultimately be undone.

a test case from #6400 should be uncommented when this change is made

____

#### For Admin Use

- [x] Not duplicate issue
- [x] Appropriate labels applied
- [x] Appropriate contributors tagged
- [x] Contributor assigned/self-ass

[2020-06-26 10:53] fedekunze commented on #6518
I'm in favor of this proposal 👍 I can work on this if we all agree to @clevinson @aaronc

[2020-06-26 11:12] colin-axner commented on #5558
Following the merge of #6400, since the testing package will have stabilized in API, I think it'd be useful to do a pr for each file being updated rather than by pkg (as this has proved to result in a mega test refactor pr)

[2020-06-26 11:18] cwgoes commented on #6361
Upstream specification changes made in https://github.com/cosmos/ics/pull/441, can be reflected into the SDK whenever convenient.

[2020-06-26 11:39] colin-axner commented on #6516
The [evidence params](https://github.com/cosmos/cosmos-sdk/blob/51c35f4dcee865da0158e6e327fc4afc52037b58/x/ibc/07-tendermint/misbehaviour.go#L80).

Seems to me since the trusting period, unbonding period are already specified in the client state (per client), the consensus params can be as well. I'm not sure if the trusting period, unbonding period are verified against the counterparty's chain sta

[2020-06-26 11:44] cwgoes commented on #6516
I see - yes, all evidence-related parameters should be kept in the client state, and they should also be verified.

[2020-06-26 11:46] colin-axner commented on #6361
sweet, I can handle this following the merging of the 04-channel testing refactor to avoid merge conflicts

[2020-06-26 13:06] alexanderbez commented on #5444
@qizhou you can take a look at https://github.com/cosmos/cosmos-sdk/issues/4977 for some reference. In the context of the SDK, the bottleneck was Amino, and then DB IO. Amino is an extreme performance hit we've seen 100x improvements in simulation speeds by switching to proto. After the migration to Proto, yes, then the bottleneck becomes network and DB IO.

[2020-06-26 13:08] alexanderbez commented on #6518
@fedekunze I would advise sticking to the current 0.39 milestone and not allow any scope creep.

[2020-06-26 13:13] alexanderbez commented on #5746
Closing this as it should no longer be an issue due to IAVL reverting it's pruning behavior.

[2020-06-26 13:13] #5746 closed

[2020-06-26 14:26] clevinson commented on #5951
Being completed here: https://github.com/cosmos/cosmos-sdk/issues/6418

[2020-06-26 14:33] alexanderbez commented on #6423
@alessio we need to rid ourselves of Viper here in order to take the cleanest path of least resistance.

Stuff like this has to go:

[code]

[2020-06-26 14:35] clevinson opened #6521 "Add cosmosd (upgrade manager) to cosmos-sdk project"
In the team call, it was discussed and agreed that the Cosmos-SDK will become the new home for the upgrade manager.

[2020-06-26 15:05] aaronc commented on #6423
So should we be actually passing a `*cobra.Cmd` instance to `Init`?

How will we deal with the config file support that viper provides?

[2020-06-26 15:11] marbar3778 commented on #6521
do we need another issue for this? can we use #6473?

[2020-06-26 15:15] alexanderbez commented on #6423
What's `Init`?

I don't know.

[2020-06-26 15:16] aaronc commented on #6521
@marbar3778 we made a decision on our SDK call today and created this issue. @alessio said he would take this on... Maybe we we document that in #6473 in and close that one as decided and to be continued here??

[2020-06-26 15:19] marbar3778 commented on #6521
ah I didn't know this. This for sure should be documented I don't think it should be a question. The description of this issue could have explained it as well....

[2020-06-26 15:53] ethanfrey opened #6522 "Tracking Issue: Launchpad Release"
## Summary

After much discussion about the upcoming Stargate (IBC + Protobuf) releases and Hub upgrade, it became apparent that we need to provide better support for all the chains running mainnets on pre-Stargate version. Thus the concept of Launchpad was created to help.

## Problem Definition

Launchpad will be a LTS release, compatible with the 0.38.x series. We will backport a few critical D

[2020-06-26 15:54] aaronc commented on #6423
The `Init*` methods on `CLIContext`.

[2020-06-26 15:59] aaronc commented on #5951
I think the correct status of this is done and improvements are continuing in #6423 (not #6418)

[2020-06-26 15:59] #5951 closed

[2020-06-26 16:00] ethanfrey commented on #6522
This PR from @alexanderbez is a major upgrade to DB stability and the concept has been generally accepted for Launchpad on Discord https://github.com/cosmos/cosmos-sdk/pull/6505

(It still needs reviews and testing, but definitely should be included in Launchpad)

[2020-06-26 16:07] alexanderbez commented on #6423
That looks like a codesmell. If we still solely to args, its the cleanest and safest way.

[2020-06-26 16:14] alexanderbez commented on #6522
I think this is a phenomenal idea. What I'm still confused about is what exactly "launchpad" is? From my POV and the way I understand it, launchpad == 0.38.x, which already exists. Apart from the pruning fixes, what else do we want in 0.38?

[2020-06-26 16:28] AdityaSripal commented on #6519
Definitely think `NextSequenceRecv` check should be in `RecvPacket` not `PacketExecuted`.

[2020-06-26 17:08] AdityaSripal commented on #6378
The mechanism used to deal with chain-id changes should also allow for changes to `UnbondingPeriod`, and `ConsensusParams` as described here: https://github.com/cosmos/cosmos-sdk/issues/6516

[2020-06-26 17:22] AdityaSripal commented on #6516
Yes we can have this be part of client state. Though we will need to consider how to change the client when the consensus params change. Especially since I think those just require a paramater proposal passing, not a restart of the chain.

Can @alexanderbez confirm my understanding here?

[2020-06-26 17:22] iramiller commented on #6518
For the widest compatibility (especially with regards existing chain upgrades) I recommend a global send enabled flag in the configuration and use of specific overrides.  With this approach users who are using the current behavior can be updated with no impact.  In addition this type of setup means that section of the code base that handle simulation can assert correct behavior for existing config

[2020-06-26 17:41] AdityaSripal opened #6524 "Determine what in ClientState needs to be verified by counterparty"
Currently there are a couple fields that are passed into `NewClientState` without being verified by the counterparty. This can pose potential dangers if a relayer creates an invalid client and the counterparty creates a connection with an invalid client.

Currently only the consensus state is verified by the counterparty

1. Unbonding Period is not verifed: Relayer sets the unbonding period in `Ne

[2020-06-26 17:54] aaronc commented on #6423
FYI Viper alternatives:
https://github.com/lalamove/konfig
https://github.com/knadh/koanf

[2020-06-26 17:57] alexanderbez commented on #6423
@aaronc I don't think we need an alternative to Viper since viper can be used in a non-singleton way (i.e. you can creat literal vipers). We just need to remove the use of viper from CLI and use it only where needed preferably as a literal.

[2020-06-26 17:57] iramiller commented on #6518
The easiest way to implement this seems to be to use an empty string denom rule for the global policy/default.

[2020-06-26 18:00] ethanfrey commented on #6522
This is one cherry pick that Fede proposed: https://github.com/cosmos/cosmos-sdk/pull/6523
It seems critical for Ethermint.

@alexanderbez 0.38.x should *not* have breaking changes. Launchpad should have everything to provide a complete, stable platform, as if we didn't dump tons of breaking changes on master as soon as 0.38.0 was cut and actively maintained and backported bugfixes.

0.38.5 is tec

[2020-06-26 18:02] aaronc commented on #6423
Ah I see... Maybe we could even just store a literal viper on `client.Context` then which would make it more amenable to testing.

Great!

[2020-06-26 18:31] alexanderbez commented on #6423
I've started x/bank => https://github.com/cosmos/cosmos-sdk/pull/6525

I think the scope of `client.Context` will change -- I'm hoping we can remove a lot of cruft and things we don't need from there. For query commands, all we need a context to have at a minimum is a client, marshaler, and verifier.

[2020-06-26 19:42] jackzampolin opened #6526 "Tool in gaiacli to check p2p connectivity"
There should be a small command in gaiacli that allows for pinging the p2p port of a node to help users troubleshoot connectivity issues.

[2020-06-26 21:11] jaekwon commented on #6420
Please keep cosmos-sdk minimal.
Other projects should be able to include cosmos-sdk and add whatever they want.
All dependencies should be audited, and we don't have resources to audit caddyserver.

[2020-06-26 21:20] alexanderbez commented on #6526
Note @jackzampolin, we're removing the CLI binary -- it's just a single binary now. What do you want the command to do in this context and why? Would the logs not be enough?

[2020-06-26 22:02] jgimeno commented on #6423
@alexanderbez I wonder if it's better to wait till you finish this module to use same approach for others or I can take next one?

[2020-06-26 23:46] aaronc commented on #6423
@jgimeno l think it would be useful if you add tests for the REST issue you had with gaia.

[2020-06-28 00:21] michaelfig opened #6528 "Validator set addresses need to be exported"
## Summary of Bug

 I'm using `daemon export --for-zero-height > export.json` and it creates a file with a validator set with the following excerpt:

[code]

Note the empty `"address": ""` entry.  When I start the new chain, the RPC for the genesis (curl http://localhost:26657/genesis) contains `"address": "4688325E1761CAC253216A789DC895947C08F8EE"`.

This discrepancy causes my clients to fail, si

[2020-06-28 03:08] alexanderbez commented on #6528
Thanks @michaelfig, feel free to open a PR if you have the ability since you already posted the diff.

[2020-06-28 07:34] cwgoes commented on #6524
Right, this makes sense, nice catch, the specification is a bit vague on these points. All data which is utilised by the light client algorithm should be verified in the connection handshake, which includes the *trusting* period (not exactly the unbonding period, we should distinguish these), the proof specs, and the consensus parameters, as you mention.

The proposed solution seems fine to me, I

[2020-06-28 18:38] michaelfig commented on #6528
Done!

[2020-06-29 05:09] cwgoes opened #6531 "Add epoch number to Tendermint light clients, update height & timeout logic"
Per https://github.com/cosmos/ics/issues/439, blocked on upstream spec updates & review.

[2020-06-29 05:10] cwgoes commented on #6144
This can be closed.

[2020-06-29 05:10] #6144 closed

[2020-06-29 05:15] cwgoes commented on #5440
Closed by the integration of ICS 23 with https://github.com/cosmos/cosmos-sdk/pull/6374, though this is an area to have a bug bounty specifically mention.

[2020-06-29 05:15] #5440 closed

[2020-06-29 08:50] alessio commented on #6060
@gsora confirmed in a separate conversation that this https://github.com/cosmos/cosmos-sdk/issues/6060#issuecomment-619283415 is true. Hence closing.

[2020-06-29 08:50] #6060 closed

[2020-06-29 08:50] colin-axner commented on #5079
should an error be returned in `OpenTry` if the chain decides it cannot support any of the provided versions from the counterparty list?

[2020-06-29 08:52] cwgoes commented on #5079
Yes.

[2020-06-29 08:54] #6361 closed

[2020-06-29 14:39] marbar3778 commented on #6473
closing in favor of #6521

[2020-06-29 14:39] #6473 closed

[2020-06-29 17:31] yoongbok-lee opened #6538 "Upgrade to Cosmos SDK 0.35-rc1"
## Summary

Cosmos SDK released a new version 0.35 that fixes a state-saving bug that prevented nodes from restarting at the latest height.
We should in clude this in the 0.9 release.

## Problem Definition

Upgrade CosmosSDK

## Proposal

Upgrade it and compare the result with the old iavl fix (rolling back).

____

#### For Admin Use

- [ ] Not duplicate issue
- [ ] Appropriate labels applied
-

[2020-06-29 17:31] #6538 closed

[2020-06-29 18:56] #6528 closed

[2020-06-29 19:57] odeke-em commented on #6192
Thanks for filing this issue @aaronc! I have started working on this issue today.

[2020-06-29 21:43] qizhou commented on #5444
Thanks for the info.  I take a look at the benchmark.  First of all, this is really good work and helps to identify the real problem by replaying mainnet blocks.  However, my main concern is that replaying the current mainnet blocks may not reflect the actual bottleneck when the network is heavily used such as ETH - the current mainnet blocks contain a very few transactions in each block, and thus

[2020-06-29 21:48] AdityaSripal commented on #6524
Well from my understanding, the trusting period is something each lite client can choose for itself (a client-level parameter), so long as it is a fraction (<1) of the `UnbondingPeriod` which is a chain-level parameter that must be verified by counterparty.

In other words, different IBC clients for a `chainA` may choose different trustingPeriods (perhaps `1/2*X` on one chain, `2/3*X` for another)

[2020-06-30 08:08] cwgoes commented on #6524
Hmm - yes, we do want to allow custom trusting periods, but I wonder if there should be a minimum difference between the unbonding period and the trusting period enforced by the chain itself (since it has to do with expected evidence submission latency) - what you propose is fine for now though.

Ah no, you're right, just the connection state is verified, and we don't want to put this data there.

[2020-06-30 09:17] marbar3778 opened #6541 "reliance on tendermint proto types"
## Summary

Currently, Tedermint is imported into the sdk in countless places. Some places are good and some are unneeded.

One of the largest issues is that the sdk relies on Tendermint proto generated types. This should not be the case because the proto generated code can easily differ. This is due to the use of gogoproto.

## Proposal

Modify the proto-gen script to fetch the needed proto files

[2020-06-30 11:38] cwgoes commented on #5846
@ethanfrey Does CosmWASM have a particular set of requirements for channel-level versioning?

We are also happy to work on this at IG but want to make sure we understand the dynamic-contract use-case.

[2020-06-30 11:40] cwgoes commented on #5846
In particular, should this be different than https://github.com/cosmos/cosmos-sdk/pull/6534?

[2020-06-30 12:07] ethanfrey commented on #5846
Okay, I will write up my thoughts here on the what and why (not the how) of channel level-versioning.

It is different from connection-level versioning - #6534 - in that negotiation ensures compatible IBC packets, where here I am interested in compatible *payloads*. The channel-level versioning could be implemented by each app (and maybe should??) but at least having a clear definition and process

[2020-06-30 12:22] ethanfrey commented on #5846
Example use case:

I have a CW20 (CosmWasm fungible token) contract on Zone A that issues `FUN` tokens. It supports ICS20 - you can send and receive `FUN` tokens to other chains once they are minted. Any chains supporting ICS20 - eg. over a channel to `remote/transfer`.

This contract also has a mintable interface that allows the creation of new tokens (or setting up a new bonding curve / uniswap)

[2020-06-30 12:24] ethanfrey commented on #5846
I see the following options:

1. Do not channel handshake and allow any ICS20 or ICS77 messages on the same channel, enforcing the constraints on the packets. This can cause issues when our token contract tries to send an ICS20 packet to the DAO (which connected to run ICS77 and doesn't support ICS20). I guess these packets would just error, but it is a confusing UX

2. Provide some channel handsh

[2020-06-30 12:24] ethanfrey commented on #5846
@cwgoes does that use case make sense?

I'd love to hear some better ideas on how to support it.

[2020-06-30 12:51] alexanderbez commented on #5444
Great questions, but unfortunately, I'm not aware of any true throughput measurements against the Gaia state machine. I would personally love to see this. I can, however, state that regardless of the ABCI method (e.g. DeliverTx vs BeginBlock), the bottleneck on the state-machine side will be Amino (e.g. getting all validators and decoding them). The low hanging fruit on the state-machine is to rea

[2020-06-30 12:57] alexanderbez commented on #6541
Mhhh, is this not what I did what the `proto-update-deps` make target?

[2020-06-30 12:59] marbar3778 commented on #6541
with that command, you are fetching the files to use as imports but not generating them. I am suggesting you use them as poto files within the repo. So you would fetch then use those types to generate the stubs. This is mainly because of the extensive use of gogoproto.

also tendermint may be moving our proto generated code into an internal directory so it won't be exposed

[2020-06-30 13:42] Codegnosis commented on #6522
I believe this already has a backport/release/v0.38.x label, but can I request it gets added to launchpad too (if not already flagged)? [PR #6307](https://github.com/cosmos/cosmos-sdk/pull/6307)/[Issue #6306](https://github.com/cosmos/cosmos-sdk/issues/6306)

Thanks.

[2020-06-30 13:44] jgimeno opened #6545 "Gas Flag: Remove usage or Var*"
There is a comment

[code]
https://github.com/cosmos/cosmos-sdk/pull/6525/files#diff-0403ac4547f2de874a333b6ce4e5218eR122

[2020-06-30 13:50] erikFromRLyeh opened #6546 "KV store does not accept empty encoding from go amino"
## Summary of Bug

Go amino does not encode default values of go data types, like a zero for an int. If all fields in a struct have the default value the resulting encoding is an empty byte array. The Cosmos SDK KV store for the blockchain state does not accept such an empty value and will panic.

## Version

Cosmos SDK 0.38.1

## Steps to Reproduce

Create a struct with a default value and Set()

[2020-06-30 13:56] alexanderbez commented on #6522
I would prefer to stick with the backport label -- it has no semantical difference with `launchpad`.

[2020-06-30 14:44] ethanfrey commented on #6522
Okay, I just saw the [backport/release/v0.38.x](https://github.com/cosmos/cosmos-sdk/labels/backport%2Frelease%2Fv0.38.x) label. Didn't realize you were using it for the same thing. I will update the issue

[2020-06-30 15:04] #6502 closed

[2020-06-30 17:11] cwgoes commented on #6524
Let's verify the `ClientState`, require that the client state expose a method which checks that it is a valid client state for your chain (this will require context access to look up prior self consensus states), and replace the current consensus state check with this.

[2020-06-30 17:47] iramiller commented on #6518
In the end this was implemented with a proper `Params` object for the bank module which includes a `DefaultSendEnabled` flag to control overall behavior in addition to an array of coin specific `SendEnabled` flags that extend the default.  While this increases the size of the PR appreciably, it results in a more polished solution implemented using explicit behavior everywhere.

[2020-06-30 18:36] jgimeno opened #6549 "Rename ParamsKeeper"
## Summary

Lately I have been reviewing all the SDK and one thing that keeps me "confused" is the ParamsKeeper. As we know we have a clear definition of what is a Keeper in the SDK. When we think of it we know what to expect.

But the ParamsKeeper is completely another story.

## Problem Definition

The problem is that when we see ParamsKeeper the first thing we expect is something that changes o

[2020-06-30 18:56] alexanderbez commented on #6549
Certainly something worth considering, but not for 0.39, maybe pre-1.0 LTS.

[2020-06-30 21:10] ethanfrey opened #6555 "More robust gas pricing"
## Summary

Transaction fees are currently defined as Coins to pay and a gas limit. The ratio is used to provide a minimum price filter (eg. `uatom/gas`). However, the entire fee is deducted at the start of the transaction regardless of how much gas is used. Since there is no good way to estimate the actual cost for many transactions, we often have to multiply estimates by 2-4x to ensure it doesn'

[2020-06-30 21:16] ethanfrey commented on #6555
After reading more issues, I think this is better discussed in https://github.com/cosmos/cosmos-sdk/issues/2150

[2020-06-30 21:18] ethanfrey commented on #2150
This is a HUGE item for client side UX. Even allowing refunds for a 2x overcharge would make this much nicer for the client to estimate and not be a huge DoS vector.

[2020-06-30 21:22] ethanfrey commented on #6522
In addition to my PRs above, I would like it if we could consider better gas pricing / charging for transactions. After I made my "robust gas pricing issue" I realized this has been discussed many times. The following two seem quite actionable items:

* Tx gas estimation improvement: https://github.com/cosmos/cosmos-sdk/issues/4938
* Refunding unused but allocated gas: https://github.com/cosmos/co

[2020-06-30 21:43] ethanfrey commented on #6522
Beyond such a large task, there also seem to be a number of [non-breaking bug fixes](https://github.com/cosmos/cosmos-sdk/blob/master/CHANGELOG.md#bug-fixes) that could potentially be backported (correct me if some have been already):

* (x/staking) #6529 Export validator addresses (previously was empty).
* (export) #6510 Field TimeIotaMs now is included in genesis file while exporting.
* (x/bank)

[2020-06-30 22:26] zmanian commented on #2150
There is a some upperbound on how much gas refunding you can do until we improve the Tendermint mempool to enable Quality of Service under load. I think it's maybe 1.5x gas consumed but I agree that it would improve UX.

[2020-07-01 07:49] jjhesk opened #6559 "failed to read from keybase: The specified item could not be found in the keyring"
## Summary of Bug
cli using  `add-genesis-account` dont response normally.
error message
ERROR: failed to get address from Keybase: The specified item could not be found in the keyring

## Version
Cosmos SDK 0.35-rc1

## Steps to Reproduce

echo "====================================="
echo "gentx for validator"
echo "====================================="

yes $PASSWORD | ixod add-genesis-account

[2020-07-01 07:50] jjhesk commented on #6559
it is said that the keybase does not read from the directory. what is the proper configuration?

[2020-07-01 08:08] cwgoes commented on #5846
Right, these make sense, and we should be able to do this with the current versioning protocol without any issues, since both sides of the handshake can agree on the version string (opaque to IBC, but it can be treated as a set of protocols from which a subset is picked, for example) - it would just be good to have tests for this (cc @colin-axner).

[2020-07-01 08:27] jjhesk commented on #6559
how to config daemon with `keyring-backend = "file"`

[2020-07-01 09:31] jgimeno commented on #6549
Is there a way to label this with a version so we can remember it when the time comes?

[2020-07-01 10:58] jgimeno opened #6562 "Remove DefaultParamspace"
## Summary

The constant per module for the DefaultParamspace is always set to ModuleName.

## Problem Definition

I don't see any benefit of using the constant but to use ModuleName instead.

## Proposal

Remove all DefaultParamspace so the code is cleaner.

____

#### For Admin Use

- [ ] Not duplicate issue
- [ ] Appropriate labels applied
- [ ] Appropriate contributors tagged
- [ ] Contributor

[2020-07-01 11:12] tac0turtle opened #6563 "incorporate tendermint light client"
## Summary

As I am going through updating the SDK to the latest Tendermint version there have been countless changes. One, in particular, is the trust node feature. This feature allowed users to set a flag in the cli to trust the node they are sending their txs to. This feature used various functions from Tendermint to verify that the information received from a node was valid. In 0.34  of Tender

[2020-07-01 12:18] jgimeno commented on #6559
Isnt Cosmos SDK 0.35-rc1 an old version? Is there a reason to use it? Keybase has changed lately.

[2020-07-01 13:13] alexanderbez commented on #6522
I've added a backport label to **some** of those issues, the ones I didn't add it to are either state-machine breaking or would be too much headache to cherry-pick. Thanks for taking a look and gathering those @ethanfrey.

WRT to the beefy two issues you've posted, yes, it would be ideal to get those implemented. But we don't have anywhere near the necessary bandwidth to do them atm. Not to mentio

[2020-07-01 13:26] alexanderbez commented on #6549
Yes, that's what milestones are for.

[2020-07-01 13:27] alexanderbez commented on #6562
Agreed. Feel free to tackle this since it seems quick to do.

[2020-07-01 13:29] alexanderbez commented on #6563
I agree here, but are there any actionable items aside from removing `trust-node`, which is already done in https://github.com/cosmos/cosmos-sdk/pull/6554? If not, then I don't think we need this issue.

[2020-07-01 13:51] marbar3778 commented on #6563
the actionable would be to create a command that initiates a light client and docs surrounding this

[2020-07-01 13:52] alexanderbez commented on #6563
Gotcha. Ok, so we want to create a command that starts a light-client daemon. That sounds reasonable to me :)

[2020-07-01 13:57] #6562 closed

[2020-07-01 14:12] cwgoes opened #6566 "Remove all references to Amino in IBC verification"
We should not use Amino to serialise or deserialise anything which is verified with proofs in IBC (so really anything at all).

[2020-07-01 14:16] jjhesk commented on #6559
@jgimeno which version do we use for the update

[2020-07-01 14:20] cwgoes opened #6567 "Abstract away Tendermint height / IAVL version offset"
Return the Tendermint commit height instead of the IAVL height on proof queries.

This will greatly simplify off-by-one issues on proofs in the relayer & other light clients.

cc @AdityaSripal @colin-axner @fedekunze

[2020-07-01 14:23] jjhesk commented on #6559
got another error from using this sdk implementation.

panic: parameter depositparams not registered

goroutine 1 [running]:
github.com/cosmos/cosmos-sdk/x/params/subspace.Subspace.checkType(0xc0001fe3f0, 0x5429860, 0xc000521b00, 0x54298a0, 0xc000521bc0, 0xc000f483c8, 0x3, 0x8, 0xc0002360f0, 0x5dd2548, ...)
	/Users/hesk/go/pkg/mod/github.com/cosmos/cosmos-sdk@v0.38.5-rc1/x/params/subspace/subspace

[2020-07-01 14:26] marbar3778 commented on #6526
I believe this should be a Tendermint command as the app does not have knowledge of the address book and sdk apps would just use it. Could you open a issue in Tendermint?

[2020-07-01 14:29] cwgoes commented on #6567
Suggestion by @alexanderbez - include both heights as metadata.

[2020-07-01 15:13] jgimeno commented on #6559
From the last stacktrace I see you are using v0.38.5-rc1 which is correct. Is the last version for 0.38 right now.

[2020-07-01 15:21] jgimeno commented on #6559
Shall I see how you are executing your application? Looks like you did not initialize the subspace for the Gov module.

[2020-07-01 16:23] clevinson commented on #5921
@blushi and @amaurymartiny to tackle x/upgrade and x/evidence

[2020-07-01 17:33] aaronc commented on #6191
Addressed in #6452 and #6514

[2020-07-01 17:33] #6191 closed

[2020-07-01 19:07] alexanderbez opened #6571 "CLI Refactor"
## Summary

The current state of the CLI in the SDK is a bit of a mess, with the use of Viper global/singleton, ad-hoc flag instantiation and binding, and magically instantiation of `client.Context`. It makes testing difficult and runtime errors hard to debug.

## Proposal

Once https://github.com/cosmos/cosmos-sdk/issues/6423 is finalized and merged, we'll have the ability to remove a lot of the

[2020-07-01 20:22] jjhesk commented on #6559
[code]

[2020-07-01 20:23] jjhesk commented on #6559
right here..
[code]

[2020-07-01 21:44] jgimeno commented on #6559
app.subspaces[gov.ModuleName] = app.paramsKeeper.Subspace(gov.DefaultParamspace).WithKeyTable(govtypes.ParamKeyTable())

Should be done this way

[2020-07-01 21:44] jgimeno commented on #6559
you can take a look when you are executing your application and it fails on things like this, to follow how the NewSimApp function in the SDK builds an application.

[2020-07-02 05:40] jjhesk commented on #6559
@jgimeno
I have looked thru error but I have no clue where to start for looking thru this.

`panic: invalid coin denomination: failed to execute message; message index: 0`

goroutine 1 [running]:
github.com/cosmos/cosmos-sdk/x/genutil.DeliverGenTxs(0x543fca0, 0xc000132008, 0x5457060, 0xc000726ac0, 0x0, 0x0, 0x0, 0x0, 0x0, 0x0, ...)
	/Users/hesk/go/pkg/mod/github.com/cosmos/cosmos-sdk@v0.38.5-rc1/x

[2020-07-02 10:03] colin-axner commented on #5558
I'm starting on connection tests, will begin with handshake, then verify, then keeper
- [ ] handshake_test
- [ ] verify_test
- [ ] keeper_test

[2020-07-02 11:07] colin-axner opened #6577 "Small typo in connection logger"
## Summary

In `ConnOpenTry` a connection can go from INIT -> TRYOPEN assuming the counterparty is in INIT. The logger for `ConnOpenTry` implies it goes from NONE -> TRYOPEN

` k.Logger(ctx).Info(fmt.Sprintf("connection %s state updated: NONE -> TRYOPEN ", connectionID)`

This should be updated to use the previous channel state when logging the change

____

#### For Admin Use

- [ ] Not duplicate

[2020-07-02 11:09] colin-axner commented on #6571
Since this is a quite a big change. Could we add creating a doc to the to do list for this. Maybe as an upgrade doc or explaining the scope of the changes for projects dependent upon this area of code.

[2020-07-02 12:45] marbar3778 commented on #6311
there seems to be one last straggler: https://github.com/cosmos/cosmos-sdk/blob/bf8809ef9840b4f5369887a38d8345e2380a567f/x/auth/vesting/alias.go#L1-L1 if anyone wants to pick it up

[2020-07-02 12:53] marbar3778 commented on #6476
Hey, this is partially fixed in a pr I made and the update to latest Tendermint will close this.

I wasnt able to debug what your issue was tho. in the future sed won't be needed

[2020-07-02 13:08] #6311 closed

[2020-07-02 13:10] alexanderbez commented on #6571
@colin-axner sure, but the only major differences from a UX POV are:

1. the removal of `config.toml`
2. a single binary
3. in process API

We'll have an upgrading doc that will cover all of this stuff.

[2020-07-02 13:22] alexanderbez commented on #6522
Ok, had some more time to think about this. It seems the best thing to do is:

1. Release 0.38.5 based solely off of 0.38.4 with any necessary security patches. We will not support this version line after this.
2. Release 0.39.0 (**launchpad**) which is 100% state-machine compatible with the 0.38 line, but includes pruning fixes, Tendermint update, along with any labeled backport issues/PRs.
3. Wh

[2020-07-02 14:14] alessio commented on #6522
Sounds like we have solid plan!

[2020-07-02 19:58] jgimeno commented on #6423
Sorry by the reassign, I messed it :D

[2020-07-02 20:03] #6519 closed

[2020-07-02 20:31] AdityaSripal commented on #6567
Including both heights directly in the query response would require a change to ABCI, since the store query returns `abci.ResponseQuery` which contains only one `Height` field.

I could change the abci struct to include both heights if that's the preferred solution. Though I think it makes more sense to make the ABCI query response return the tendermint height as opposed to IAVL height

[2020-07-03 01:36] clevinson opened #6584 "Update stalebot to remove stale issues"
Currently [stalebot](https://github.com/apps/stale) is configured on cosmos sdk to only clean up stale pull requests.

Since beginning of March the issue count has gone up from 332 to 386. There's a bunch of old issues currently still open that date back to fall 2018.

IMO it'd be nice to turn on stalebot for issues as well.

[Current configuration](https://github.com/cosmos/cosmos-sdk/blob/master

[2020-07-03 07:24] marbar3778 commented on #6584
I am for this, but we would have to mark specific issues so the bot would leave them alone because they are still applicable.

[2020-07-03 07:27] marbar3778 commented on #954
Don't believe this is needed anymore. reopen if you believe we should do something like this

[2020-07-03 07:27] #954 closed

[2020-07-03 07:31] marbar3778 commented on #3822
This command comes from tendermint and while running testnets recently I didn't observe the genesis being removed.

closing this for now

[2020-07-03 07:31] #3822 closed

[2020-07-03 07:36] marbar3778 commented on #4446
hey sorry for not responding back to this issue. I hope you were able to solve this issue. I will close this, please comment if you are still experiencing issues

[2020-07-03 07:36] #4446 closed

[2020-07-03 07:37] marbar3778 commented on #1728
@alessio do you want to include this in your PR about releases? it goes hand in hand

[2020-07-03 07:40] marbar3778 commented on #3900
closing this issue as error handling has changed quite a bit since this was opened. If the error still persists please open a new issue

[2020-07-03 07:40] #3900 closed

[2020-07-03 07:43] marbar3778 commented on #2652
account structure has changed recently. The bank module is responsible for storing coin data about the account. Closing this issue, please reopen or carry the actionable into a new issue

[2020-07-03 07:43] #2652 closed

[2020-07-03 07:48] marbar3778 commented on #4692
trust store will be removed in the upcoming release. This will not be applicable anymore.

[2020-07-03 07:48] #4692 closed

[2020-07-03 07:49] marbar3778 commented on #1933
this is applicable for gaia, closing this issue. I dont believe this is blocked on anything we jsut need docs on docker. But should not recommned docker for use in production

[2020-07-03 07:49] #1933 closed

[2020-07-03 07:50] marbar3778 commented on #4817
closing due to inactivity,

[2020-07-03 07:50] #4817 closed

[2020-07-03 07:58] marbar3778 commented on #4191
scaffold and starport has completed this issue. closing this here

[2020-07-03 07:58] #4191 closed

[2020-07-03 08:00] marbar3778 commented on #5415
alias.go has been removed 🥇

[2020-07-03 08:00] #5415 closed

[2020-07-03 08:01] marbar3778 commented on #5343
interfacer has been enabled.

[2020-07-03 08:01] #5343 closed

[2020-07-03 08:03] marbar3778 commented on #5778
seems this has been fixed, closing the issue

[2020-07-03 08:03] #5778 closed

[2020-07-03 08:04] marbar3778 commented on #5541
closing this due inactivity and no response

[2020-07-03 08:04] #5541 closed

[2020-07-03 08:06] marbar3778 commented on #6093
@fadeev do you have an idea of how to fix this? should we point them to the issue page instead to try to mitigate this?

[2020-07-03 08:07] marbar3778 commented on #5929
here is some info from tendermint on how to run in production. I will close this issue but please join our discord if you have any issues: https://discord.gg/Azvemte

[2020-07-03 08:07] #5929 closed

[2020-07-03 08:42] cwgoes commented on #6567
Hmm, that's annoying. Are we planning any changes to ABCI we could bundle this with? I still think both heights are preferable.

[2020-07-03 09:27] milosevic commented on #6567
Can you please clarify what do you mean by Tendermint commit height and by IAVL height in this context? Returning two heights is a potential source of confusion (and bugs) as we have trouble to figure out clear semantics even with one height :)

[2020-07-03 09:28] #5079 closed

[2020-07-03 09:37] milosevic commented on #6524
Agree with Chris regarding trusting period; we need to provide more clarity regarding invariants between trustingPeriod and unbondingPeriod. I just have a question regarding usage of ProofSpecs and ConsensusParams in lightClient operation (and connection handshake). Can someone please clarify this?

[2020-07-03 11:06] colin-axner commented on #4690
modules still with this behavior from what I can tell:
- [ ] bank
- [ ] staking

[2020-07-03 11:42] cwgoes commented on #6567
For purposes of verifying proofs, the light client (e.g. in IBC, but also just running locally) needs to reason about the block height at which state updates (e.g. packets sent) executed during height `n` were committed, which is height `n + 1`, since transactions in block `n` aren't executed until after the block is committed, at which point the resulting state root is in the commit of block `n +

[2020-07-03 11:45] alessio commented on #1728
Oh wow, is it #throwbackFriday today :smile:? Thanks @marbar3778, I'll incorporate this in my PR

[2020-07-03 12:20] fadeev commented on #6093
@lovincyrus basically, the situation is as follows. When we render markdown files, their path matches the URL on GH that we use in "Found an issue?" cards. However, when we move files in a pre-build script this path mapping becomes broken and we no longer know the correct edit URL for certain.

One way to solve this would be to make the browser XHR the GH URL on page load, then use the file URL on

[2020-07-03 12:58] jjhesk opened #6589 "ERROR: ABCIQuery: Post failed: Post "http://localhost:26657": dial tcp [::1]:26657: connect: connection refused"
## Summary of Bug

the result has `ERROR: ABCIQuery: Post failed: Post "http://localhost:26657": dial tcp [::1]:26657: connect: connection refused`
when try to add staking validator with demon it stopped and refused the connection.
## Version

0.38.5-rc1

## Steps to Reproduce

Assumed that I have all the configurations of the basis are done correctly.
[code]

[code]
____

## For Admin Use

- [ ]

[2020-07-03 13:09] #6559 closed

[2020-07-03 13:19] alexanderbez commented on #6584
Just add a `pinned` label.

We'll have to go through and groom issues and make sure we apply that label to old issues that are still very relevant. I am in favor of this proposal though.

[2020-07-03 13:23] alexanderbez commented on #6589
This isn't an SDK issue. Looks like a networking/infra issue. Be sure the listening address and port are available and accepting connections.

[2020-07-03 13:23] #6589 closed

[2020-07-03 13:30] alexanderbez commented on #6584
@marbar3778 I noticed you tackled https://github.com/cosmos/cosmos-sdk/pull/6586. Can that be updated to also include issues?

[2020-07-03 13:32] fedekunze opened #6591 "Enable IBC token transfers param"
ref https://github.com/cosmos/ics/issues/421

Implement governance param proposal type to enable ICS 20 transfers.
____

#### For Admin Use

- [ ] Not duplicate issue
- [ ] Appropriate labels applied
- [ ] Appropriate contributors tagged
- [ ] Contributor assigned/self-assigned

[2020-07-03 13:42] ancazamfir commented on #6567
I am also not clear. From the relayer pov, in one possible implementation, currently:

1) The relayer gets a notification at height `h` that includes some Tx event for `p`. This is an executed transaction, included in block `h`. It can start querying immediately even if `h+1` block with the state root is not yet committed. It sends `ABCIQuery(h, p)` and the response includes the `proof` and a heig

[2020-07-03 13:43] marbar3778 commented on #6584
Yea one just needs to add a comment for the bot to make on stale issues. I can do so later

[2020-07-03 13:52] ancazamfir commented on #6567
actually it's ok, I think it's just a small change in our design.

[2020-07-03 14:08] cwgoes commented on #6567
Yeah, I suppose due to the events we can't really avoid height offsets. Maybe this isn't worth doing.

It would be nice to at least abstract this somehow though...

[2020-07-03 14:55] colin-axner commented on #6567
I don't think any of the proposed solutions involving changing the actual handling of the Query function. The only difference is upstreaming the `h + 1` so this only occurs once. So the only difference to relayers is not doing `h+1` for proof height, but using the returned height from the query.

I do think this is a problem worth dealing with (even if it involves breaking some api and waiting for

[2020-07-03 15:48] #6458 closed

[2020-07-03 16:27] ancazamfir commented on #6567
To clarify `ABCIQuery(p, h)` will return value and proof for `p` and height `h+1`? Even if `h+1` doesn't exist?

[2020-07-03 16:34] jjhesk commented on #6589
what is the possible solution to the is issue? @alexanderbez

[2020-07-03 20:34] jjhesk commented on #6589
actually this is caused by this issue https://github.com/cosmos/sdk-tutorials/issues/341

[2020-07-03 23:01] dauTT commented on #5007
Hi, can I work on this?

[2020-07-04 00:13] alexanderbez commented on #6478
@marbar3778 this issue was marked `stale` even though it already had `security` label attached. Are you sure the stale config is correct? Do we need to add a config entry for issues and not just PRs?

[2020-07-04 08:28] cwgoes commented on #6341
Still applicable.

[2020-07-04 08:29] cwgoes commented on #6459
Still applicable.

[2020-07-04 09:48] odeke-em commented on #6193
Definitely not stale. Prioritizing it just took sometime and I shall work on it.

[2020-07-04 11:21] gelinger777 commented on #6357
@alexanderbez  thank you very much

[2020-07-04 11:21] #6357 closed

[2020-07-04 14:34] jjhesk commented on #6589
it was done by the gentx amount, ref: https://github.com/cosmos/scaffold/issues/57

[2020-07-04 15:22] noandrea opened #6601 "Use stderr for prompt and stdout for command ouput in appcli keys add"
## Summary

Use stderr to print prompt messages and stdout for output

## Problem Definition

Using the command `appcli keys add ...` the client ask for a passphrase and confirmation on stderr and then print the result on stderr as well. Because of this, piping the output to another command becomes very difficult. For example I can use the `--o json` to additionally parse the output of the `appcli