[2022-03-28 16:30] amaurym commented on #9304
@anilCSE are you still interested in putting these validations into Go code, or should we keep your script?

[2022-03-28 16:52] robert-zaremba commented on #11466
@alexanderbez we were talking about it during the Architecture Call last Friday and discussed few approaches I mentioned in the description.

[2022-03-28 18:31] #11456 closed

[2022-03-28 19:43] robert-zaremba commented on #3448
you need to have a script for that.

[2022-03-28 19:45] robert-zaremba commented on #3448
The problem with auto compounding is that someone has to pay for doing the update. That's why it requires a transaction, rather than doing it automatically for all users.
A better solution would require to change the algorithm which I believe is a lot of work.

[2022-03-28 19:46] robert-zaremba commented on #3448
@ValarDragon , @sunnya97 during the last hackatom someone was writing a module extension for Osmosis with that feature. Is this something you integrated, and something we could backport? Does it work at scale?

[2022-03-28 19:53] robert-zaremba commented on #11471
@dreamer-zq would you like to do that?

[2022-03-28 21:25] ValarDragon commented on #3448
I never looked into that, it was a front-end feature not chain code

[2022-03-29 05:57] liangping commented on #10791
[code]

It did not work.

[2022-03-29 09:55] arnabghose997 commented on #11424
@lxgr-linux It worked like a charm. Thanks for your help !

[2022-03-29 09:55] #11424 closed

[2022-03-29 10:41] robert-zaremba commented on #10025
In many places we know if we deserialize address from store or from a request. So we can have functions like:

* UnsafeAccAddressFromBech32
* UnsafeValAddressFromBech32
* ...

BTW: there is always a dilemma, half of my brain would prefer to put Unsafe at the end to keep the prefix by object name (AccAddress...)

[2022-03-29 10:43] robert-zaremba commented on #10025
Personally I prefer to keep address as bytes in the store, and don't do any verification. That would require to have 2 type of structures: one for store and one for response. I think that this is the right way to go, instead constraining ourselves (in order to use the same struct for store and response) and doing potentially bad decisions. But that's a separate topic ;)

[2022-03-29 11:30] robert-zaremba opened #11486 "fix orm tests and codegen"
## Summary

ORM protos have been updated to use v1, but the code still uses v1alpha1

____

#### For Admin Use

- [ ] Not duplicate issue
- [ ] Appropriate labels applied
- [ ] Appropriate contributors tagged
- [ ] Contributor assigned/self-assigned

[2022-03-29 11:59] robert-zaremba opened #11488 "Properly solve dependencies in proto gen docker image"
## Summary

* install all docker dependencies during the setup phase, eg I would prefer that we don't do that change: https://github.com/cosmos/cosmos-sdk/pull/11472/files#diff-63113d53e02a4e334ffa1a1ba0c308329c7acd431153571a2c02ce9268af5816R29
* make it possible to work offline (once docker image has been downloaded)
* use latest dependencies
* make sure proto gen works: https://github.com/cosmos

[2022-03-29 12:50] aaronc commented on #11488
As I've said several times please let's explore the buf plug-in route instead. There are already issues where this is discussed

[2022-03-29 13:01] amaurym opened #11489 "CLI tooling to generate proposal JSONs"
## Summary

Should we create CLI commands to generate proposal JSONs?

## Problem Definition

Starting from v0.46, group and gov proposals are Msg-based. We currently have 2 CLI commands, `tx gov submit-proposal` and `tx group submit-proposal`, they both take a microformat JSON as input, parse it, and submit it as a proposal on chain.

However, these 2 CLI commands assume that the JSON is created

[2022-03-29 15:07] aaronc opened #11491 "Setup buf generation plugins"
Review documentation here on how to use buf remote generation: https://docs.buf.build/bsr/remote-generation/overview. See https://docs.buf.build/bsr/remote-generation/plugin-example for an example of creating a plugin

- [ ] https://github.com/cosmos/cosmos-proto/issues/39
- [ ] Create buf plugin for the legacy generator `protoc-gen-go-cosmos`: https://github.com/cosmos/gogoproto. After https://gi

[2022-03-29 15:34] aaronc commented on #11488
Let's replace this with #11491

[2022-03-29 15:43] aaronc opened #11492 "Make sure gogo proto is up to date"
The regen fork 1.3.2 version does not contain important updates in 1.3.3

[2022-03-29 16:31] amaurym commented on #11362
`v0.46.0-beta1` has just been tagged, so this issue can be started on your own time @alexanderbez and @marbar3778. The scope of the audit is `53262802fc174297da26c6b4fa85b4a6c73ea6b8..v0.46.0-beta1`

If there's anything you find that needs to be addressed, I guess creating a PR directly (and linking it here next to the relevant item) should be good, no need to create individual issues (unless deem

[2022-03-29 16:52] yihuang opened #11494 "Implement ADR-048 multi-tier gas price system"
## Summary

https://github.com/cosmos/cosmos-sdk/pull/10653

## Problem Definition

## Proposal

____

#### For Admin Use

- [ ] Not duplicate issue
- [ ] Appropriate labels applied
- [ ] Appropriate contributors tagged
- [ ] Contributor assigned/self-assigned

[2022-03-29 16:53] robert-zaremba commented on #11466
so we are leaning towards option (2.)

@ValarDragon was thinking about similar solution but for keeper.
Idea is to have 2 keepers, one for queries, which can take the Msg keeper as a dependency, and another one for Msg and helper methods. Only the Msg keeper can be exposed externally

[2022-03-29 17:22] houshengbo commented on #8469
My experience is that after following this comment https://github.com/cosmos/cosmos-sdk/issues/8469#issuecomment-1019525723, I was able to add all the dependencies correctly, by leveraging `replace github.com/gogo/protobuf => github.com/regen-network/protobuf v1.3.3-alpha.regen.1` in the go.mod.

However, I bumped into another issue:
[code]

[2022-03-29 17:29] fdymylja commented on #11466
My opinion is that the system should be simplified. Things should be removed and not added.

In an ADR-33 world, where every module interacts with other module by RPC calls - which are identified by a name (ex: `cosmos.bank.v1.Msg.SendCoins`, `cosmos.bank.v1.Query.Balances`). You could have a specilized module, I proposed `RBAC` at the time, which at every invocation checks who the caller is (eith

[2022-03-29 18:37] peterbourgon commented on #11465
The important thing is that the function signature is `func f(...) (..., error)` i.e. that errors are returned as `error` and not any other type. The entire ecosystem is structured around this expectation.

[2022-03-29 19:30] JayT106 opened #11495 "Wrap the tendermint inspect CLI to the SDK"
## Summary

looks like the current SDK, e3c3467a84c9e25214dcfc38a327e823b204722d,  doesn't have integrated this feature in the tendermint.
(https://github.com/tendermint/tendermint/issues/8213#issuecomment-1082262163)

Suggest can have it in v0.46.

____

#### For Admin Use

- [ ] Not duplicate issue
- [ ] Appropriate labels applied
- [ ] Appropriate contributors tagged
- [ ] Contributor assigned/

[2022-03-29 23:18] robert-zaremba commented on #11466
Today, ORM is not exposed to the user.
@aaronc recently told me about a graphql implementation for ORM.

But that's separate topic (we can move it to a discussion).

So here the idea presented by @fdymylja is to use a special module / contract which will manage permissions and potential gas charges whenever an inter module query call is done.
I'm not sure if we really need RBAC for queries. A simp

[2022-03-30 07:29] #11476 closed

[2022-03-30 10:03] puneet2019 commented on #11461
One interesting that was discussed on the architecture call which I think was brought up by Dev I find missing from here is users being able to use `weighted-vote` txn, users can just use 50% yes, 50% no instead of abstain to meet quorum.

[2022-03-30 13:07] fedekunze opened #11504 "Update Upgrade documentation and guides"
## Summary of Bug

The current upgrade guides and docs are not helpful for projects as:

- docs are scattered across different files ([In-Place Store Migrations](https://docs.cosmos.network/master/core/upgrade.html), [Upgrading Modules](https://docs.cosmos.network/master/building-modules/upgrade.html), [Migrations Section](https://docs.cosmos.network/master/migrations/chain-upgrade-guide-044.html)

[2022-03-30 13:40] ivan-gavran opened #11505 "Authz: a grant with the same granter and grantee"
It seems that a grant with the same `granter` and `grantee` can be given ([here](https://github.com/ivan-gavran/cosmos-sdk/blob/d8d50f7394aff0181051f7d9c9b384221cc1ce42/x/authz/keeper/keeper_test.go#L67) is a passing test that does so).

On the other hand, the [documentation](https://github.com/cosmos/cosmos-sdk/blob/master/x/authz/spec/03_messages.md) says that

That `granter` is not the same as

[2022-03-30 16:23] alexanderbez commented on #11466
This conversion has diverged greatly from what the initial post alludes to...

[2022-03-30 16:40] alexanderbez commented on #11504
Totally agree with this. Docs for live on-chain upgrades are too scattered, and sometimes otherwise completely lacking.

[2022-03-30 18:02] aaronc commented on #11356
Since there were opposing views on the value of Cucumber-style BDD tests in the SDK in #11386 and @marbar3778 proposed that we write an ADR on testing, here’s my rationale which we adapt into ADR test (if we choose to adopt BDD tests which is still an open experiment!):

## Rationale for Cucumber-style BDD tests

I see BDD tests as providing value at three phases of development:
* during the desig

[2022-03-30 23:12] odeke-em opened #11507 "all: ensure SLSA levels for this repo"
This issue serves as a promise/placeholder to get the cosmos-sdk hooked into [SLSA](https://slsa.dev/) (Supply Chain Levels for Software Artifacts) ***pronounced "SALSA"*** to ensure that we can combat supply chain attacks, have Software Bill of Materials (SBOMs) have auditable trails and make it easy for security incident responses. Luckily Go is already hooked into SBOMs using go.mod so that's a

[2022-03-30 23:57] maiph opened #11508 "Home flag gets ignored when running help"
## Summary of Bug

Running `simd --home /data query -h` ignores the `--home` flag and creates `~/.simapp`

## Version

At commit v0.44.6

## Steps to Reproduce

[code]

____

## For Admin Use

- [ ] Not duplicate issue
- [ ] Appropriate labels applied
- [ ] Appropriate contributors tagged
- [ ] Contributor assigned/self-assigned

[2022-03-31 00:00] maiph commented on #11508
I think I remember this working, maybe it was introduced on [tendermint v0.35.0](https://github.com/tendermint/tendermint/blob/v0.35.x/CHANGELOG.md#v0350) ?

[2022-03-31 00:08] maiph commented on #11508
Commit v0.46.0-beta1 also has the same problem and running tendermint v0.35.2

[2022-03-31 04:56] atheeshp commented on #11505
Hey @ivan-gavran we are covering this case in `ValidateBasic`
https://github.com/cosmos/cosmos-sdk/blob/b0ccf858173cd94b801a4501cac1b4ace39f0950/x/authz/msgs.go#L61-L63

https://github.com/cosmos/cosmos-sdk/blob/b0ccf858173cd94b801a4501cac1b4ace39f0950/x/auth/middleware/basic.go#L36-L49

[2022-03-31 06:18] atheeshp commented on #11505
unfortunately we don't have a covering test case for this, added a PR https://github.com/cosmos/cosmos-sdk/pull/11509

[2022-03-31 07:27] blushi opened #11510 "Group SubmitProposal CLI not working properly"
## Summary of Bug

The group CLI command for submitting a proposal parses a json `prop.json` file to get the proposal params, for example:
[code]
But it always return the following error:
`Error: message validation failed: group policy: empty address string is not allowed [cosmos/cosmos-sdk/x/group/msgs.go:635]`

`parseCLIProposal` function that is used to parse the json doesn't work as expected,

[2022-03-31 07:36] anilCSE commented on #11508
I believe queries will be just based on the rpc endpoint. Not sure what query you are testing. It shouldn't consider `home` flag at all

[2022-03-31 08:41] ivan-gavran commented on #11505
Thanks for the explanation, @atheeshp!

[2022-03-31 08:41] #11505 closed

[2022-03-31 11:24] maiph commented on #11508
But printing the help menu should not need to create the home directory, and if it needs it should honor the `home` flag.

On my use case I don't let the user write on the home directory and attach a volume on `/data`, this makes it impossible to ever print the help menu because the cli will always try to create that directory on the user home dir

[2022-03-31 13:16] robert-zaremba opened #11513 "api: remove deprecated orm proto"
## Summary

v1alpha1 is not used any more. Development is moved to v1 and I've just released v0.1.0 of api.

NOTE: I'm not sure about `api/cosmos/orm/module`... is anyone using it?

____

#### For Admin Use

- [ ] Not duplicate issue
- [ ] Appropriate labels applied
- [ ] Appropriate contributors tagged
- [ ] Contributor assigned/self-assigned

[2022-03-31 17:59] alexanderbez commented on #11508
Yeah, there's no need for it (unless we ready from a client.toml, not sure if we still have that).

[2022-03-31 18:16] robert-zaremba commented on #11513
This should be done once we will finalize `orm/v1alpha1/schema`

[2022-03-31 19:39] aaronc commented on #11461
The point of abstain in my mind has always been be included in the quorum as paying attention but not wanting to influence the decision. Thanks for flagging this concern @anilCSE. But I think I generally agree that the current behavior makes sense.

The alternative would two quorums: total quorum (including abstain) and yes/no quorum

[2022-03-31 20:13] #9304 closed

[2022-03-31 20:18] anilCSE commented on #11461
Yes and No from me. It was making sense before the weighted votes. Since we have weighted vote option now, user can vote 50%-50% (yes+no) instead of `abstain` to be included in the quorum. `abstain` can work as `more info required` and I strongly believe it should not be `yes` or `no` case.

[2022-03-31 20:23] anilCSE commented on #11461
May be this is not a great example to support the issue, but one of the osmosis proposals was near to this issue. https://www.mintscan.io/osmosis/proposals/180. Majority voted on abstain, either it is because of short voting-period window or lack of information. It can be a false assumption from my side but I am worried about the cases where >80-90% of network participants just going with other 10

[2022-03-31 23:03] aaronc commented on #11489
Ideally we have a combo of approach 1 and 2 where all the tx handlers for each message are reused as sub commands of draft-proposal

[2022-04-01 10:14] kairosdojo opened #11524 "collect-gentxs overwrites new variables precedently written in *d/config/config.toml"
## Summary of Bug

As the title suggests it's pretty straghtforward: I use a script to set up properly the various config files in the `config` directory and, after I run `mychaind collect-gentxs` I find out that extra variables I wrote in the `config.toml` file get deleted.

I don't think it is an intended behaviour.

## Version

Cosmos SDK v0.44.6

## Steps to Reproduce

1. Initialize your block

[2022-04-01 11:12] robert-zaremba commented on #11461
IMHO, in this case, a reasonable participant should vote "no".

I think the weight vote was made for validators / exchanges to better reflect the user votes, not to add another option for "abstain".

That being said, I still think (as in my first comment) we should make an option for `#yes > threshold`. That could be done as a `yes_threshold` gov param, which will be enabled if it's non zero. Chai

[2022-04-01 13:19] alexanderbez commented on #11524
What version of the SDK?

[2022-04-01 17:08] aaronc commented on #11513
Closing this as I think we resolved this isn't needed now

[2022-04-01 17:08] #11513 closed

[2022-04-01 18:01] #11381 closed

[2022-04-02 08:47] dreamer-zq commented on #11471
ok，i'd like to do it

[2022-04-02 09:31] dreamer-zq commented on #11471
Please review PR [11526](https://github.com/cosmos/cosmos-sdk/pull/11526)

[2022-04-03 14:09] alexanderbez commented on #11524
I was not able to replicate this on `master`.

[2022-04-04 04:53] yihuang opened #11529 "Support gov proposal type to adjust consensus parameters"
## Summary

Support adjusting consensus parameters using gov proposal.

Similar to param change proposal, but works on consensus parameters, for example block gas limit/size limit.

## Problem Definition

## Proposal

____

#### For Admin Use

- [ ] Not duplicate issue
- [ ] Appropriate labels applied
- [ ] Appropriate contributors tagged
- [ ] Contributor assigned/self-assigned

[2022-04-04 06:14] assafmo commented on #11529
By default, these "consensus params" are under `baseapp` subspace. For example:

Subspace | Key | Key Type | Example
-- | -- | -- | --
baseapp | BlockParams | object | {"max_bytes":"10000000","max_gas":"10000000"}
baseapp | EvidenceParams | object | {"max_age_num_blocks":"100000","max_age_duration":"172800000000000","max_bytes":"50000"}
baseapp | ValidatorParams | object | {"pub_key_types":["ed255

[2022-04-04 06:15] yihuang commented on #11529
thank you very much, I'll close this issue then.

[2022-04-04 06:15] #11529 closed

[2022-04-04 08:56] Muggle-Du commented on #11444
@robert-zaremba @roysc Can we add benchmarks for database size?
this is another major constraint factor of chain scalability that we mostly care about.
I can provide help if you need.
btw, is adr-040 designed to help reduce database size?

[2022-04-04 09:10] marbar3778 commented on #11491
this is blocked on removing the replace directive in the sdk.

[2022-04-04 09:10] #11488 closed

[2022-04-04 09:12] marbar3778 commented on #11495
@alexanderbez can we integrate this into grpc-mode and just rename it to inspect mode?

[2022-04-04 10:11] #11510 closed

[2022-04-04 10:38] robert-zaremba commented on #11488
I think this solution will be used in `buf` anyway. So updating and testing dependencies here will help in `buf`.

[2022-04-04 10:44] robert-zaremba commented on #11513
I was thinking to keep this task open until we moved everything out from `v1alpha1`.

[2022-04-04 10:44] amaurym opened #11531 "Pruning of Withdrawn and Aborted group proposals"
## Summary

We should decide when to prune Withdrawn and Aborted group proposals.

## Problem Definition

Definitions:
- _Withdrawn_ proposals are proposals manually withdrawn (by admin or by a proposer) via `MsgWithdrawProposal`.
- _Aborted_ proposals are proposals where the group account's decision policy was modified while the proposal was still in voting period.

I think I found 2 bugs:

1. Wi

[2022-04-04 10:47] amaurym commented on #11531
My personal preference is 2b, as it gives the votes the possibility to see that the proposal was withdrawn/aborted, with a clear `status`.

[2022-04-04 10:57] robert-zaremba opened #11532 "Create an `Set` store function"
## Summary

Often, when updating a store object we assert if a key exist and then insert. That creates 2 DB operations.
In store/v2 this can be done easily with one function:

[code]

____

#### For Admin Use

- [ ] Not duplicate issue
- [ ] Appropriate labels applied
- [ ] Appropriate contributors tagged
- [ ] Contributor assigned/self-assigned

[2022-04-04 11:51] robert-zaremba commented on #11465
The idea is to create helper functions which aggregate errors, rather than returning them, example:
[code]

[2022-04-04 11:52] robert-zaremba commented on #11465
and for asseritons we don't need to return anything.

[2022-04-04 13:01] #11478 closed

[2022-04-04 13:44] ivan-gavran commented on #11478
hi, @atheeshp ! I just noticed that the issue was closed by a recent commit: could you please give some context? From what I can read from the commit, the panicking is removed by using `SafeSub`, so the `banks`'s way was the right approach?

Furthermore, the `SafeSub` was used in the commit, but not to calculate the final amount (instead, `SafeSub` was used to check for errors, and then followed b

[2022-04-04 13:59] alexanderbez commented on #11465
This isn't an idiomatic approach. This should return an error.

[2022-04-04 14:15] roysc commented on #11328
### Analysis

Both reads and updates are overall significantly slower for the SMT-based stores vs. IAVL.

Using `benchstat` we can compare the overall performance under different scenarios. In all the following tests, `v1` refers to the IAVL-based KV store and multistore, and `v2` to the SMT-based KV store and multistore.

In this suite we test the `get` and `set` operations in two cases - with ke

[2022-04-04 14:22] marbar3778 commented on #11495
`tendermint inspect`

[2022-04-04 14:24] nooomski commented on #11149
Running into the same problem, found this issue and wanted to confirm I can reproduce. Tried bank and vesting Txs, using `--home` and `--keyring-backend`. Any Tx without `--dry-run` work fine.

[2022-04-04 14:27] alexanderbez commented on #11495
I see. So it's to add the Tendermint command into the SDK's `tendermint` subcommand?

[2022-04-04 15:56] aaronc commented on #11513
That's also tracked elsewhere though

[2022-04-04 15:57] aaronc commented on #11491
Not necessarily. We can also create a plug-in for the current code generator

[2022-04-04 16:24] EzrielS opened #11537 "Understanding the application.db leveldb database"
Hello,

I opened the application.db of my terra node, but I didn't understand the keys nor the value. Is there some documentation I can find to understand how they work ?

Thanks in advance.

[2022-04-04 18:47] swmd opened #11538 "nextKey is not returned when calling GetTxsEvent"
## Summary of Bug

It appears that the pagination does not work properly when calling QueryClient.queryUnverified().
There are two issues I found in the response:

1. nextKey is always an empty array.
2. offset and limit keys don't work correctly. When I passed offset=4, limit=7, it just returned the result from the beginning. The response had the transactions of indexes 0-6.

## Version

v0.44

#

[2022-04-04 18:58] i-norden commented on #11328
The aforementioned cache wrap for the SMT: https://github.com/vulcanize/smt/blob/cache_listener_wrap/cache_wrapped_mapstore.go

Note that we need [this](https://github.com/vulcanize/smt/blob/cache_listener_wrap/cache_listening_mapstore.go) for [ADR-052](https://github.com/cosmos/cosmos-sdk/pull/11371) so performance was not the main motivation for the cache wrap (but it is nice to see that it not

[2022-04-04 20:40] marbar3778 opened #11539 "panic redacted makes debugging difficult"
## Summary

When a user runs into this error they have no insight what the issue is and/or how to fix it.

## Problem Definition

panic redacted for safety is horrible ux

## Proposal

return more descriptive errors when a user encounters an issue. We should only redact the errors that are sensitive not all of them

____

#### For Admin Use

- [ ] Not duplicate issue
- [ ] Appropriate labels appli

[2022-04-04 22:49] julienrbrt opened #11541 "Latest documentation is not working"
## Summary of Bug

The documentation seems to not be available anymore on <https://docs.cosmos.network/master>

## Version

n/a

## Steps to Reproduce

Go to https://docs.cosmos.network/master

____

## For Admin Use

- [x] Not duplicate issue
- [x] Appropriate labels applied
- [x] Appropriate contributors tagged
- [x] Contributor assigned/self-assigned

[2022-04-04 23:52] technicallyty commented on #11429
was this ever fixed? not sure if its just my setup but i can't seem to get it to gen any code.. the script runs fine, no errors, but nothing gets produced 🤷🏻

[2022-04-05 04:04] dwedul-figure opened #11543 "Implement ADR 047: Extend Upgrade Plan"
## Summary

Implement [ADR 047: Extend Upgrade Plan](https://github.com/cosmos/cosmos-sdk/blob/master/docs/architecture/adr-047-extend-upgrade-plan.md)

____

#### For Admin Use

- [ ] Not duplicate issue
- [ ] Appropriate labels applied
- [ ] Appropriate contributors tagged
- [ ] Contributor assigned/self-assigned

[2022-04-05 06:53] atheeshp commented on #11478
we have `SafeSub` method for `sdk.Coins`, but in authz `sdk.Coin` is being used at `a.MaxTokens`, there is no `SafeSub` method for `sdk.Coin`. because of that I've converted `a.MaxCoins` (which is `sdk.Coin`) to `sdk.Coins` to use `SafeSub` method here. `https://github.com/cosmos/cosmos-sdk/blob/9f6f9f5902b88f285d0db77cd1116cf7dabdeb3f/x/staking/types/authz.go#L106-L109`

[2022-04-05 09:44] #11541 closed

[2022-04-05 10:01] #577 closed

[2022-04-05 13:12] marbar3778 commented on #11495
yes

[2022-04-05 13:14] amaurym commented on #11531
Correct, we'll need to loop, but this index makes the loop as efficient as possible (i.e. only accessing relevant proposals). It'll still be a bit more expensive, I agree. https://github.com/cosmos/cosmos-sdk/blob/37a52afacda20dc610656dcac2d7f567a2074686/x/group/keeper/keeper.go#L70

[2022-04-05 13:31] fedekunze commented on #11504
started working on it here: https://hackmd.io/@fedekunze/upgrades

[2022-04-05 14:12] alexanderbez commented on #11539
Yes, yes, yes. I don't know why this was ever added. Not a good choice IMO. Please remove it or change it to something nicer.

cc @aaronc

[2022-04-05 14:18] yihuang commented on #11539
https://github.com/cosmos/cosmos-sdk/pull/9576 does this PR and `--trace` helps?

[2022-04-05 15:05] alexanderbez commented on #11539
No, it's the fact that it's in the tx response, not querying.

[2022-04-05 15:17] amaurym commented on #11531
During our sync we decided to go for 2b:
- loop through props during group policy update
- remove `proposal.group_policy_version` field
- keep `group_policy.version` and `group.version` (not used in state machine, just for tracking)
- prune withdrawn/aborted proposals on voting_period_end (for users to be able to query)
  - in same function at voting_period_end
  - pruning should happen before tal

[2022-04-05 16:07] alexanderbez opened #11550 "x/upgrade: enforce valid genesis state"
## Summary

It's technically possible to have an on-chain upgrade with invalid genesis state that would result in a functional network.

Consider the upcoming Hub's Theta upgrade. This upgrade includes an SDK version bump to 0.45 which has x/bank metadata changes. Assuming the developers are unaware of these changes and what would constitute a valid state, then it's completely possible to miss set

[2022-04-05 16:19] amaurym opened #11552 "Remove legacy queriers"
## Summary

Remove all legacy queriers.

## Problem Definition

We switched to gRPC for queries more then 1y ago. It's safe to remove legacy queriers.

Legacy queriers are still available through tendermint Query, with the `custom/` prefix. But in practise, I'm not sure a people use them.

## Proposal

- Remove legacy queriers from all modules (usually in the `querier.go` file)
- Remove the baseap

[2022-04-05 18:02] gsk967 opened #11554 "Cancel governance proposal by proposer"
## Summary
As per discussion https://github.com/cosmos/cosmos-sdk/discussions/11130 , new transaction will be added for cancelling governance proposal by proposer before the deposit period ends.

Specs of this feature:

- Only proposer can cancel the governance proposal
- Proposal can be cancelled during DepositPeriod
- All deposits are returned to their respective depositors

### Status

PENDING

[2022-04-05 18:55] gsk967 commented on #11554
It is depends on proposer https://github.com/cosmos/cosmos-sdk/issues/10932

[2022-04-05 19:13] #11495 closed

[2022-04-05 19:17] alexanderbez commented on #11538
So one thing to note about this gRPC query method: It's just a proxy to Tendermint which does the indexing, unlike native gRPC queries that go against the application state. Ref `QueryTxsByEvents` -> `node.TxSearch`.

What does this mean? This means there is now way, or at least no direct or accessible way to know `NextKey`. So that hopefully addresses your first point.

As for offset and page, th

[2022-04-05 19:22] alexanderbez commented on #11538
So to summarize I think there are two issues:

1. Tendermint pagination is 1-based, SDK is 0, so we need to account for that in `QueryTxsByEvents`.
2. Fix `QueryTxsByEvents` to apply the offset.

[2022-04-05 19:41] swmd commented on #11538
@alexanderbez Could you hopefully provide a working code example with pagination?

[2022-04-05 21:03] alexanderbez commented on #11538
Of state-based queries? If so, that happens via a generic auxiliary function `FilteredPaginate`.

[2022-04-06 03:00] swmd commented on #11538
@alexanderbez I couldn't find a useful doc or examples of FilteredPaginate.
My goal is to get the whole transactions history using any query. Can you help me to identify the best way to do it?

[2022-04-06 08:33] Freak12Techno opened #11555 "Ability to see cosmovisor command without cosmovisor logs"
## Summary

I have some tools that runs commands and expect JSON as output (specifically, `version --long --output json`). When running it with cosmovisor, it adds some extra logs, making it an invalid JSON:

[code]

Is it possible to get the raw app output without cosmovisor logs appended, and if not, is it possible to add it?

## Problem Definition

See above

## Proposal

See above

____

####

[2022-04-06 09:19] amaurym commented on #9954
Re-opening, there are still 2 docs pieces

[2022-04-06 10:05] marbar3778 commented on #11552
this is post 0.46 right?

[2022-04-06 12:46] atheeshp commented on #11552
Yes

[2022-04-06 13:33] alexanderbez commented on #11538
`FilteredPaginate` is used for state kvstore based queries, as I mentioned, it doesn't apply to querying for txs as that is indexed by Tendermint. However, you can see an example of `FilteredPaginate` used [here](https://github.com/cosmos/cosmos-sdk/blob/da87ab0d365819545eda18c8f3f4ea5e7be47105/x/staking/keeper/grpc_query.go#L40).

Use `GetTxsEvent` as you already are. Just keep iterating over the

[2022-04-06 14:10] marbar3778 commented on #11537
this is a good place to start https://docs.cosmos.network/v0.44/core/store.html.

are you looking for specific information?

[2022-04-06 15:18] aaronc opened #11561 "Optimize ORM updates and deletes for simple tables"
In #11525, update and delete for bank balances is significantly slower with the ORM than a manual implementation because the ORM naively assumes that we always need to get and unmarshal the existing object to update and delete indexes. This is a safe general assumption, but we should add an optimization for cases where this isn't needed like bank balance and supply.

One complexity is making sure

[2022-04-07 01:14] 08d2 commented on #11537
You should not read the DB files directly, because the DB is an implementation detail, with no guarantees or documentation.

[2022-04-07 06:40] simplespy commented on #11209
Same issue in Amazon Linux following the tutorial.

[2022-04-07 09:45] MirelEthernal opened #11566 "x/authz module spec is not up-to-date with implementation"
## Summary of Bug
During the specification and code inspection of authz module (as a part of audit process that includes model-based testing) I have found that several specification markdown files are out of date or missing (in my opinion) some important info on authorization feature and implementation itself.
The following are just recommendations, so please if I'm missing some context needed for

[2022-04-07 10:32] #11524 closed

[2022-04-07 10:32] kairosdojo commented on #11524
Thank you. I cannot retry at the moment unfortunately.

[2022-04-07 11:06] MirelEthernal commented on #11478
Hello @atheeshp ! When you find some time, could you please explain is there some particular reason why SafeSub func could not be implemented for sdk.Coin in order for you to skip the conversion to sdk.Coins here?
(I assume you just did not want to introduce changes to other packages...)

It looks to me, that introducting SafeSub for sdk.Coin could be used in a same way as SafeSub for sdk.Coins:
h

[2022-04-07 11:15] julienrbrt commented on #11215
@robert-zaremba @amaurym Any thoughts on above?

I, personally, agree with these points tbh, the process of walking through the codebase to verify these linting issues may be useful, but enforcing it everywhere definitely adds noise in the codebase.

Moreover this is even advised by the maintainer of the tool: https://github.com/mbilski/exhaustivestruct

[2022-04-07 12:38] alexanderbez commented on #11215
I agree with @peterbourgon here. I don't see much value out of such a linter.

[2022-04-07 13:28] robert-zaremba commented on #11215
Personally, I think default values are evil (if we can't control them).

We often add extend structure and can miss some updates in the code. It can be dangerous. It happened when we were doing an internal tests.
In Rust they made a good decision to be explicit when instantiating struct values.

[2022-04-07 13:29] robert-zaremba commented on #11215
That being said - we know that this will be overkill at the beginning, hence my proposal to make it optional... ideally I would like to see it enabled in all server / keeper code.

[2022-04-07 14:09] peterbourgon commented on #11215
Many of the cardinal sins of default values are alleviated in Go, because the value is guaranteed to have its zero value. And there is [the proverb](https://go-proverbs.github.io): make the zero value useful. So it's not as bad as you might think :)

[2022-04-07 14:37] MirelEthernal opened #11569 "x/authz module suggestions for minor code improvements"
As a part of model based testing audit of the authz module, code inspection has been done in order to find issues or possible improvements in code.
The following are recommendations for slightly neater and maybe better organized code (as far as recommended module structure).  from a perspective of someone who is just getting introduced to authz implementation and Cosmos SDK itself.

**Version:**
m

[2022-04-07 15:15] jiujiteiro commented on #11429
@technicallyty fwiw i just used it on the 0.44.6 branch and it worked for me.

[2022-04-07 15:41] robert-zaremba commented on #10464
Few weeks ago I created a PR and link SDK with the "top" one. I can update now to use the recently released beta

[2022-04-07 18:15] marbar3778 commented on #11429
yea it should be fixed, forgot to close thsi

[2022-04-07 18:15] #11429 closed

[2022-04-07 21:51] MirelEthernal opened #11577 "x/authz module specific errors should be registered"
As a part of model based testing audit of the authz module, code inspection has been done in order to find issues or possible improvements in code.

**Version:**
master (commit: https://github.com/cosmos/cosmos-sdk/commit/8800d2e477b2e6913262b3c7f43d19529aaad171)
auditing is performed for tag: v0.46.0-alpha4 (commit: https://github.com/cosmos/cosmos-sdk/commit/354faa897fcfcb00905a7fe5cf7b5080df403

[2022-04-07 23:01] MirelEthernal opened #11578 "x/authz suggestion for refactoring of creation/parsing of GrantKey and GrantQueueKey"
As a part of model based testing audit of the authz module, code inspection has been done in order to find issues or possible improvements in code.
Complexity of creating GrantKey and GrantQueueKey and parsing keys for getting granter, grantee information is prone to errors and I believe it could be very hard to maintain or introduce changes, if needed, in this part of code. I did my best to give

[2022-04-08 00:28] ValarDragon commented on #11539
Super supportive of removing this, I have never found this helpful. I also don't know why it was added., the only thing it hides at most is your filesystem path to the binary and potentially the folder in which you execute the binary from. This hardly seems like sensitive info to me.

[2022-04-08 00:30] ValarDragon commented on #11532
Supportive of this being added, but can we change the function name for this? e.g. `Set` seems to imply the desired semantic

[2022-04-08 04:41] yihuang commented on #11539
https://github.com/cosmos/cosmos-sdk/blob/master/x/auth/middleware/recovery.go#L75
I think we do return stack trace in panic case?
In previous version, theres' stack trace if pass `--trace` to the start command.

[2022-04-08 09:44] rajrohit10 commented on #8470
I am getting this error when i am trying to broadcast a message using my ledger for the app i am building.
Can someone help me?

[2022-04-08 10:27] marbar3778 commented on #11507
this seems to be solved with #11575, can we close this

[2022-04-08 10:47] #11471 closed

[2022-04-08 10:50] amaurym commented on #11086
Re-opening, there's still some manual testing, in the RC phase

[2022-04-08 13:14] odeke-em commented on #11507
@marbar3778, getting to good SLSA levels requires so much more work :-) Chainguard.dev one of the pioneers and leaders in supply chain security are going to handle this for us. Please keep this issue open.

[2022-04-08 14:36] marbar3778 commented on #11303
we opted to not use hashes of versions, and some changes have been reverted for permission. this isn't needed anymore

[2022-04-08 14:36] #11303 closed

[2022-04-08 15:31] jackzampolin opened #11582 "Expose chain information via new RPC route"
We should expose some chain specific information like `account_prefix`, `bond_denom`, `gas_prices` and some other chain/node specific data via a route

[2022-04-08 15:38] i-norden commented on #11444
@roysc we may want to move https://github.com/cosmos/cosmos-sdk/issues/11328#issuecomment-1087613934 here to keep things in one place.

[2022-04-08 15:41] ValarDragon commented on #11461
I'm in support of a `yes_threshold`! I think this won't really matter much for the cosmos hub, but it becomes really useful for chains with low quorum numbers. (e.g. Osmosis)

Was actually considering writing an issue / implementation for a minimum yes threshold haha

[2022-04-08 15:51] robert-zaremba commented on #11461
### Summary

During the architecture call we were in favor for [configurable `yes_threshold`](https://github.com/cosmos/cosmos-sdk/issues/11461#issuecomment-1085771999) solution.

[2022-04-08 15:52] ironmandefi opened #11583 "Authz Fee Capture Request"
## Summary

Authz empowers Cosmos developers to build noncustodial solutions. However, the integration of Authz in Defi-like products today prevents protocol engineers from capturing fees and creating an elegant user experience for customers. Authz doesn't allow us to charge a performance fee for our service as authz dynamically can't read state nor does it store a type to charge the fee owned by

[2022-04-08 20:29] julienrbrt opened #11587 "Create a `UPGRADING.md` document"
## Summary

In addition to the [migration](https://docs.cosmos.network/v0.44/migrations) documentation, we should inspire ourselves from tendermint's [`UPGRADING.md`](https://github.com/tendermint/tendermint/blob/master/UPGRADING.md) and have one in this repo.

## Problem Definition

There is no clear documentation on how to upgrade version and use the new features apart from the migrations guide.

[2022-04-09 00:13] peterbourgon commented on #11532
I agree.

UPSERT is relatively standard nomenclature to express "INSERT or UPDATE" semantics in relational databases. But it has exactly the same semantics as SET, so if you already have the latter, no reason to add the former.

[2022-04-09 11:57] hxrts commented on #11582
since chains can have more than one type of key, query might need to return a map with `key type: prefix`

[2022-04-09 14:23] alexanderbez commented on #11587
I think such an idea can only help, so I'm all for it! 🙌

[2022-04-09 14:46] alexanderbez commented on #11582
There's been a handful of these types of requests, especially for `min_gas_prices`. We can probably group all of these under a single endpoint or re-use an existing one like `node_info` or `status`

[2022-04-09 14:48] marbar3778 commented on #11583
Would love to hear from @amaurym and @aaronc. I think this is a interesting case in which someone is building tooling around authz and potentially other modules as a business and would like to take a cut.

[2022-04-10 21:52] EzrielS commented on #11537
Indeed, it is not very clear.

But still I tried to compare the data I should have if I understood well the github code to what I have in my datas, for example  I have a key like this one:

So if I understood correctly, somewhere in "\x03\r\x1e\x9dx\x06-\x94\x15\xfe\xed\xba\x15B\x1d\xad\xa6\xb64\x94\xa1c\xca\x97\xfa\xafK@\xdd8\x8e\x08" I should find an address. But I didn't find it, i.e. I don't u

[2022-04-10 23:11] cmwaters commented on #11539
I stumbled across this because I was going to create this exact same issue and yes please fix this if you can. I was going to suggest having a flag to return all panics instead of redacting them

[2022-04-11 01:39] 08d2 commented on #11537
There are many layers of abstraction between the code and the keys stored in the DB. There is unfortunately not a simple heuristic to go from one to the other.

[2022-04-11 01:50] yihuang commented on #11539
did you use `--trace` parameter?

[2022-04-11 01:56] 08d2 opened #11589 "CommitInfo values written to the DB are non-deterministic -- does it matter?"
The rootmulti.Store's Commit method [sets `rs.lastCommitInfo` to the result](https://github.com/cosmos/cosmos-sdk/blob/b518c84fd4c1197476ea4b096958b508aa9cab1a/store/rootmulti/store.go#L411) of calling the `commitStores` function, and then later [passes that value to the `flushMetadata` function](https://github.com/cosmos/cosmos-sdk/blob/b518c84fd4c1197476ea4b096958b508aa9cab1a/store/rootmulti/sto

[2022-04-11 08:17] marbar3778 commented on #11539
this works if you are the node operator, but if you are a user using a rpc endpoint and get this error, you end up testing random things to see if it works

[2022-04-11 08:29] yihuang commented on #11539
I see, so I guess we are talking about turn on the `--trace` by default.

[2022-04-11 08:30] marbar3778 commented on #11589
this is a good place to start for this https://github.com/cosmos/cosmos-sdk/issues/6370

[2022-04-11 08:30] dsmello commented on #6500
Hello folks,

What is the state of this issue? I want to help.

[2022-04-11 08:42] yihuang commented on #11589
I guess not, otherwise we should notice long time ago 😄
I guess the commit info is not committed into the app hash?

[2022-04-11 09:26] charymalloju opened #11591 "Total count after applying `pagination.limit` is wrong"
## Summary of Bug

When we access the validator delegations without pagination keys getting total count  as`662`. https://regen.stakesystems.io/cosmos/staking/v1beta1/validators/regenvaloper1ceunjpth8nds7sfmfd9yjmh97vxmwqfyf7r2cn/delegations

If we use pagination keys like `pagination.limit=2`, getting total count as `0`.
https://regen.stakesystems.io/cosmos/staking/v1beta1/validators/regenvaloper

[2022-04-11 10:28] alexanderbez commented on #11539
I'm not sure what `--trace` even does, as whenever I've used it it seemed to do nothing for me. Regardless, if that is the fix to show the full error or stack trace, then we should make it true by default. Or even just remove it entirely.

[2022-04-11 10:33] alexanderbez commented on #11589
No, these objects written to disk as part of the commit execution are not used as part of the app's merkle-ized tree. Thus, the map iteration is not important. However, I'd still argue that we should make it deterministic for brevity and testing's sake.

[2022-04-11 12:01] chmichael opened #11593 "REQ: Cancel unbond and Rebond"
We need an option to Cancel unbonding of tokens and rebond them back.

This is one of the most frequent requested feature in cosmos chains.
Many people for various reasons unbond their tokens and have to wait xx amount of days to rebond back.
With this function it should instantly rebord the tokens back and start earning rewards again.

____

#### For Admin Use

- [ ] Not duplicate issue
- [ ] App

[2022-04-11 12:09] atheeshp commented on #11593
@chmichael it is already in master now #10885.

[2022-04-11 13:51] roccomuso commented on #10856
any news about this?

[2022-04-11 15:17] ancazamfir opened #11597 "gRPC Tx simulation sometimes fails with account sequence mismatch"
## Summary of Bug
gRPC Tx simulation sometimes fails with account sequence mismatch. This is seen with a higher number of Tx-es spawning multiple blocks.

## Version
v0.45.1
(running gaia v7.0.0)

## Steps to Reproduce
To reproduce I run hermes relayer with a high number of transactions. In the log below there are 526 IBC messages generated. Hermes bundles 15 per transaction and performs a tx simu

[2022-04-11 15:41] okwme opened #11598 "Missing address in signing_infos of rest api #1344"
## Summary of Bug

visit: https://cosmos.api.ping.pub/cosmos/slashing/v1beta1/signing_infos
[code]

## Version

"cosmos_sdk_version":"v0.44.3"

## Steps to Reproduce

Not see this issue on other blockchains: like Osmosis

____

#### For Admin Use

- [ ] Not duplicate issue
- [ ] Appropriate labels applied
- [ ] Appropriate contributors tagged
- [ ] Contributor assigned/self-assigned

[2022-04-11 15:48] alexanderbez commented on #11598
Super weird. Could be something trivial. Will take a look...

[2022-04-11 16:22] alexanderbez commented on #11598
I'm stumped here as to how we have records w/o addresses as there are numerous safe guards around addresses.

However, if you notice all the records with an empty address have a `start_height` of 0. This indicates perhaps some invalid upgrade code that existed some while ago or maybe they were pruned somehow :-/

Regardless, I wouldn't worry to much about this. Maybe in the next Gaia release, we d

[2022-04-11 16:32] chmichael commented on #11593
Excellent i'm closing! Thanks! :)

[2022-04-11 17:06] p0mvn opened #11600 "Return error instead of panicking when modifying a sealed app"
**Background**

The `sealed` flag in baseapp is true when the app should not be modified further. It is set when `baseapp.Init()` or `baseapp.Seal()` are called.

Currently, if an attempt to modify a sealed app is made, the  SDK panics. However, it might be better to return an error.

This issue is to change all baseapp modifiers to return the error instead of panicking.

Some more context is in t

[2022-04-11 19:01] 08d2 commented on #11589
Thanks for the fast response!

[2022-04-11 19:02] jackzampolin commented on #11582
Either one of those options work

[2022-04-11 20:09] aaronc opened #11601 "ORM Streaming Genesis"
The ORM already supports streaming genesis, there are a few things left to push it over the finish line so it can be used in the SDK:

- [ ] #11108
- [ ] Expose streaming genesis support to SDK modules either by directly supporting the ORM's `json.ReadSource` and `json.WriteTarget` abstractions or allowing JSON files in a directory to be opened by modules

[2022-04-11 20:10] aaronc commented on #6936
Replacing this with #11601 which has a concrete solution.

[2022-04-11 20:10] #6936 closed

[2022-04-11 22:13] 6missedcalls opened #11602 "Adding secondary validator to node causing GO errors in cosmosSDK"
## Summary of Bug

Adding a validator to our network causes these GO errors.

## Version
0.44.5

## Steps to Reproduce
Create a node using sonrd binary

 ./sonrd init validator2 --chain-id sonr
 ./sonrd keys add alice -home ~/.sonr
 ./sonrd keys add alice --home ~/.sonr
 ./sonrd add-genesis-account $(sonrd keys show alice -a) 1000000000000000stake,1000000000000snr
 ./sonrd add-genesis-account $(./

[2022-04-11 22:52] alexanderbez commented on #11600
Yeah, I've read the comments from @peterbourgon. I don't necessarily think or agree that all panics are solely for programming errors as there are certain exceptions where you want to halt/exit as early as possible.

However, I do agree that we should probably consider returning an error here. But all this will do is bubble the error upstream, where we will just panic or exit anyway (e.g. from a C

[2022-04-12 06:51] atheeshp opened #11603 "Add `SafeSub` for `sdk.Coin`"
## Summary
`Coin.Sub` panics on errors, instead returning error (ie, adding `SafeSub` method to `Coin`) would be helpful for operations inside other modules like `x/authz`

## Problem Definition

Currently in staking [authz](https://github.com/cosmos/cosmos-sdk/blob/ea8b0f731d8a5d87b8ef591ba2abf3c2179cfeba/x/staking/types/authz.pb.go#L72) we are using `sdk.Coin` for `authorization.MaxTokens`. `sdk

[2022-04-12 08:19] ytbiu opened #11605 "can not find the github.com/gogo/protobuf@1.3.3 package at go.mod"
go: github.com/cosmos/cosmos-sdk@v0.45.2 requires
	github.com/gogo/protobuf@v1.3.3: reading github.com/gogo/protobuf/go.mod at revision v1.3.3: unknown revision v1.3.3

[2022-04-12 08:40] V-Staykov opened #11606 "REST - escaping slashes doesn't work"
## Summary of Bug
When trying to query the total balance for a denom, that includes a `/` (even if it's escaped) in its name, returns
[code]
This can also be seen on your test page [here](https://v1.cosmos.network/rpc/v0.44.5)
If I try just `/cosmos/bank/v1beta1/supply` it returns several denominations with slashes (from the IBC module). Then if I try to get the supply for one of those denoms from

[2022-04-12 09:19] amaurym opened #11607 "Add `SafeSub` on sdk.Coin"
## Summary

Add `SafeSub` on sdk.Coin

## Problem Definition

We currently have `SafeSub` on sdk.Coins, but not on sdk.Coin.

As such, when we want to do a SafeSub on sdk.Coin, we create a new sdk.Coins first.

https://github.com/cosmos/cosmos-sdk/blob/ea8b0f731d8a5d87b8ef591ba2abf3c2179cfeba/x/staking/types/authz.go#L106-L111

Notice how in that code we're using `SafeSub` only for checking negati

[2022-04-12 09:27] atheeshp commented on #11607
@amaurym I've added an issue for this #11603 .

[2022-04-12 09:38] amaurym commented on #11607
Ah i didn't see, thanks!

[2022-04-12 09:38] #11607 closed

[2022-04-12 09:50] anilCSE commented on #11603
Yes, Let's add `SafeSub` method to the `Coin`.

[2022-04-12 10:31] alexanderbez commented on #11606
This was already reported and fixed. You have to use query params. I.e. `?denom=ibc/...`

https://github.com/cosmos/cosmos-sdk/blob/master/proto/cosmos/bank/v1beta1/query.proto#L16-L18

[2022-04-12 10:31] #11606 closed

[2022-04-12 12:32] alexanderbez commented on #11603
Agreed. `SafeSub` sounds reasonable 👍

[2022-04-12 12:54] alexanderbez commented on #11597
IIRC, simulation uses the CheckTx state that is built up during a block prior to being committed. The idea that there is high volume here, at least per (relayer) account, can indicate that there is a lag between state that is in CheckTx and ultimately committed.

I don't totally have a good answer to provide here in terms of remediation, but the whole "nonce mismatch" due to high volume accounts h

[2022-04-12 14:11] ancazamfir commented on #11597
thanks @alexanderbez

But if that's the case wouldn't we see errors during execution (`DeliverTx`)? And if it's the same state for both simulate and CheckTx, wouldn't we see the error in both? Instead we see that "build up" failing during simulate but not on CheckTx (`broadcast_tx_sync` doesn't show the error).

I tried to find related issues and wasn't able. Could you point me to any? Maybe it wi

[2022-04-12 14:39] joshLong145 commented on #11602
I have also been finding this issue when trying to launch nodes as validators. it seems to be an issue with encoding libraries binding the chain.

[2022-04-12 16:01] aaronc opened #11618 "Write ADR for protobuf package versioning"

[2022-04-12 22:55] luca992 commented on #10813
Hi, I'm tx_bytes as a base64 string but I'm running into this issue. Does anyone have an example of tx_bytes which works that I can use to compare with mine?

[2022-04-13 04:30] luca992 opened #11625 "docs: add docs on how to construct and broadcast transactions"
I'm converting from the `/txs` end point to `/cosmos/tx/v1beta1/txs`

The [documentation](https://v1.cosmos.network/rpc/v0.45.1 ) shows an example of a /txs post body as:

[code]

but, `/cosmos/tx/v1beta1/txs` only shows it's example body as:
[code]

where `tx_bytes` is a base64 encoded string.

But, where can I find an example of the `tx_bytes` json structure before encoding to base64?

Right now

[2022-04-13 04:59] luca992 commented on #11625
Get `​/cosmos​/tx​/v1beta1​/txs​/{hash}` shows the response as:

[code]

Does that mean the `tx_bytes` should look like:

[code]
  encoded to base64?

[2022-04-13 05:06] mshadowz opened #11626 "error 501 rest api (v1beta1/balances)"
im trying to get balance of uatom via Legacy REST API and it throws error 501 every time. tried with multiple accounts and still the same.

Request :
curl -X GET "https://api.cosmos.network/cosmos/bank/v1beta1/balances/account_address/uatom" -H  "accept: application/json"

Response :
{
  "code": 12,
  "message": "Not Implemented",
  "details": []
}

[2022-04-13 05:19] NagaTulasi commented on #11603
I can take up this issue.

[2022-04-13 05:33] luca992 commented on #11625
I see now that tx_bytes is actually the base64 encoding of a protobuf: https://docs.cosmos.network/v0.45/run-node/txs.html#broadcasting-a-transaction-3. Is there no way to post a transaction using just json anymore?

If not, is there an example of how to correctly build the protobuf for posting as a tx_bytes equivalent to the `/txs` post body example above?

[2022-04-13 09:05] #11531 closed

[2022-04-13 09:21] alexanderbez commented on #11504
@fedekunze we need docs in the SDK that are app agnostic. Docs that describe the general flow, steps and procedures, and how to write upgrade handlers for various use-cases.

[2022-04-13 09:28] fedekunze commented on #11504
Agree, we are writing them using evmosd as a reference but happy to update the examples

[2022-04-13 09:45] alexanderbez commented on #11626
`/cosmos/bank/v1beta1/balances/account_address` isn't a legacy API -- it's the gRPC gateway API. It's also incorrect as there is no such endpoint.

You're looking for `/cosmos/bank/v1beta1/balances/{address}/{denom}` which you can find here: https://v1.cosmos.network/rpc/v0.41.4

[2022-04-13 09:45] #11626 closed

[2022-04-13 13:33] plafer opened #11633 "The docs mention that modules can be untrusted, but they are currently must be trusted"
## Summary of Bug
The [docs](https://docs.cosmos.network/v0.44/intro/overview.html#what-is-the-sdk) state:

    The goal of the Cosmos SDK is to allow developers to easily create custom blockchains from scratch that can natively interoperate with other blockchains. We envision the SDK as the npm-like framework to build secure blockchain applications on top of [Tendermint](https://github.com/tender

[2022-04-13 13:57] aaronc commented on #11633
The goals stated there have not been achieved by the project yet... There is still the intention and plans to achieve them. However, for now one should assume modules need to be highly trusted and audited. Even if the capability system is better (ADR 033), practically speaking all apps should have high trust in the modules they deploy and the low trust model may never be feasible without sandboxin

[2022-04-13 16:41] s4bs commented on #11626
@alexanderbez I'm having the same issue. `/cosmos/bank/v1beta1/balances/{address}` works fine, but `/cosmos/bank/v1beta1/balances/{address}/{denom}` does not.

I have the `denom` set to `uatom`, here's an example path that's throws the `Not Implemented` 501: `/cosmos/bank/v1beta1/balances/cosmos156gqf9837u7d4c4678yt3rl4ls9c5vuuxyhkw6/uatom`

[2022-04-13 17:07] s4bs commented on #11626
For posterity, I have found the solution. The path changed [here](https://github.com/cosmos/cosmos-sdk/pull/10394), it is now `cosmos/bank/v1beta1/balances/{address}/by_denom?denom={denom}`.

[2022-04-13 19:59] peterbourgon commented on #11356
I completely agree that there's enormous value in the goals you're describing. The problem is that BDD-style tests rely on language features which Go simply does not provide by design. Specifically, the language doesn't provide the meta-programming features required to define and utilize domain-specific languages. Consequently, developers who want to implement DSLs are more or less required to byp

[2022-04-13 20:51] joeabbey opened #11636 "Tally fails to exclude Abstain votes in NoWithVeto Threshold computation."
## Summary of Bug

Tally fails to exclude Abstain votes in NoWithVeto Threshold computation.

## Version

All

## Steps to Reproduce

Visual Inspection

____

## For Admin Use

- [ ] Not duplicate issue
- [ ] Appropriate labels applied
- [ ] Appropriate contributors tagged
- [ ] Contributor assigned/self-assigned

[2022-04-13 21:42] joeabbey commented on #11636
This is actually expected behavior and so I'm closing this issue in favor of clarifying the specification.

https://github.com/cosmos/cosmos-sdk/pull/11638/

[2022-04-13 21:42] #11636 closed

[2022-04-13 23:07] ygit1 opened #11639 "Error: failed to get address from Keybase:"
$ ./simd keys show b9lab

- name: b9lab
  type: local
  address: cosmos1928v5ywf0avqtxjvq4dzpjtzsueheex6rghtkw
  pubkey: '{"@type":"/cosmos.crypto.secp256k1.PubKey","key":"AtHDGlL1l3gyDluYpZmH7YWvvIv+CKaq4uv2B6yqzVX4"}'
  mnemonic: ""

$ ./simd add-genesis-account b9lab 100000000stake

Error: failed to get address from Keybase: b9lab.info: key not found [cosmos/cosmos-sdk/crypto/keyring/keyring.go

[2022-04-14 04:01] swmd commented on #11538
@alexanderbez Can you provide a working example of the `GetTxsEvent` query? It was my original question.
The pagination doesn't work properly especially when I pass the offset.

[2022-04-14 09:13] alexanderbez opened #11640 "Remove logs from TxResponse"
As stated per the docs:

[code]

As far as I can recall, `logs` were intended to be deprecated in favor of `events` and we should just return those, which are included in the `TxResponse`. We should therefore remove `logs` from `TxResponse` as they are not needed and make the response JSON object much larger than it needs to be.

However, the `events` have the keys and values base64 encoded and I

[2022-04-14 09:25] alexanderbez commented on #11626
Yup! That was to allow arbitrary denoms, such as IBC denoms.

[2022-04-14 09:31] alexanderbez commented on #11639
What keyring backend are you using?

[2022-04-14 09:42] alexanderbez commented on #11538
Sure!

https://lcd-osmosis.blockapsis.com/cosmos/tx/v1beta1/txs?events=message.action=%27superfluid_delegate%27&pagination.limit=50

[2022-04-14 10:14] atheeshp commented on #11566
I think this should be implemented in a way that `SpendLimit` is optional as mentioned in the ADR, if not provided it should be limit less but the logic is not as documented.
cc: @anilCSE @amaurym @robert-zaremba

[2022-04-14 13:30] amaurym opened #11643 "Revert using a global `legacy.Cdc` for all modules"
## Summary of Bug

Revert using a global `legacy.Cdc` for all modules

## Version

v0.46.0-beta2

## Steps to Reproduce

In #11240, we removed each module's individual `ModuleCdc`, and instead used one single `legacy.Cdc` for amino sigining. It removed `n` globals, replacing by one single one, and at the same time fixed #11190.

However, it seems that other chains are using the singleton `legacy.C

[2022-04-14 13:37] alexanderbez commented on #10993
This would be a state machine breaking changes for existing messages, correct @aaronc?

[2022-04-14 14:47] plafer commented on #11633
Shouldn't this be reflected in the docs though, until the sdk achieves this goal? As currently documented, it gives a false sense of security to developers, especially newcomers to the project, to integrate third party modules without a thorough audit (although not commonplace currently as I understand it).

[2022-04-14 16:00] aaronc commented on #10993
No state machine nor protocol breaking changes. We're just talking about making amino JSON work for new protobuf generated code. Same proto types, same amino JSON, different code generator.

[2022-04-14 19:15] #11603 closed

[2022-04-15 00:15] robert-zaremba commented on #11643
It sounds like this other chains found a hacky workaround for their own use cases. TBH, it would be better to clearly state and provide a migration path rather than keeping "half" registered codec instances.

[2022-04-15 10:37] wuyongshang commented on #5715
@Xuefeng-Zhu could you help me, i want to know how to run a seed node,thanks

[2022-04-15 12:47] alexanderbez commented on #10993
Ok, I see. If what you say is indeed true, then I think this is pretty high priority. We should speak about this in terms of approach and implementation details.

[2022-04-15 12:55] alexanderbez commented on #11643
Why do we still keep the global `legacy.Cdc` around again?

[2022-04-15 13:17] alexanderbez opened #11651 "x/group: invalid simulation parameter generated"
Fix: https://github.com/cosmos/cosmos-sdk/runs/6038446779?check_suite_focus=true

[code]

____

## For Admin Use

- [ ] Not duplicate issue
- [ ] Appropriate labels applied
- [ ] Appropriate contributors tagged
- [ ] Contributor assigned/self-assigned

[2022-04-15 13:47] aaronc commented on #10993
We chatted about it in our last framework WG and tried to capture as many details as possible in the issue description

[2022-04-15 14:08] alexanderbez opened #11654 "fix CI coverage reporting for sub-modules"
Test coverage reporting for sub-modules is currently broken and fails for every PR even though tests pass indicating a CI failure, which isn't what we want.

Ref: https://github.com/cosmos/cosmos-sdk/runs/6038909847?check_suite_focus=true

We should fix the CI job such that coverage reporting is only done with the sub-module code diff is non-zero.

/cc @marbar3778

[2022-04-15 18:13] technicallyty opened #11655 "ORM: Change Generated Function Signature for InsertReturningId"
## Summary

In SQL-land, you can use the RETURNING keyword and specify fields you want to return upon insertion.

## Problem Definition

Currently, the ORM sets all function signatures to `InsertReturningId` regardless of what the auto incrementing field name is. For example, you could have a field called `row_number`, and the generated function signature would still be `InsertReturningId`. This _

[2022-04-15 18:39] faddat commented on #11605
yup:

this is blocking #11453 also.  We need to specify in all places, a version that actually exists upstream, in all dependencies.

[2022-04-15 18:56] faddat opened #11656 "DB: gorocksdb -> grocksdb"
cosmos/gorocksdb is based on an unmaintained upstream library, tecbot/gorocksdb, and that only supports rocksdb v6.x

However, there's linuxgnu/grocksdb and that supports v7.x

The difference in performance is fairly small but it will free of of the maintenance burden and the author is very serious about keeping it maintained and covering the whole c api of rocksdb.

[2022-04-15 19:24] aaronc commented on #11655
Sounds good 👍 . Do you want to open a PR @technicallyty ?

[2022-04-15 20:12] technicallyty commented on #11655
yep, should be able to get one up by eod today

[2022-04-15 23:55] faddat opened #11658 "Replace docker with "go tools methodology""
## Summary

The docker images, especially for protobufs, are a nightmare to work with.  I think I just spent 4-5h on those alone.  In the end, I went backwards to determine what they did, and installed the needed things directly on my machine.  Docker images:

* easily become mystery meat
* add a needless layer to the stack, complicating developer environments
* don't really seem to save time
* ad

[2022-04-16 01:00] faddat commented on #7488
how can I help with this?

[2022-04-16 10:30] alexanderbez commented on #11605
@faddat is this something you can help with?

[2022-04-16 15:09] aaronc commented on #7488
@faddat see In Progress and Ready columns here: https://github.com/orgs/cosmos/projects/10

[2022-04-17 08:21] marbar3778 commented on #11656
we should make sure v7 has a compatible api.

[2022-04-17 08:34] marbar3778 commented on #11492
if you search the repo for lines like `if (skippy < 0) || (iNdEx+skippy)` (https://github.com/cosmos/cosmos-sdk/blob/53a6f199fe41ba4ec4bbf47c350a860cbd267b88/x/group/types.pb.go#L2149-L2150) you will see that we are using the latest and greatest of gogoproto

[2022-04-17 08:34] #11492 closed

[2022-04-17 10:46] #11654 closed

[2022-04-17 16:23] alexanderbez opened #11664 "tests: TestNewAnyWithCustomTypeURLWithErrorNoAllocation flakey race test failure"
I've noticed the `TestNewAnyWithCustomTypeURLWithErrorNoAllocation` (race) test fail pretty frequently in CI. We need to investigate and fix.

Test output: https://pastebin.com/rW5UnK0Q

ref: https://github.com/cosmos/cosmos-sdk/runs/6053424807?check_suite_focus=true

[2022-04-17 16:23] alexanderbez commented on #11664
@julienrbrt any chance you have a chance and/or interest in taking a stab at this?

[2022-04-17 16:24] julienrbrt commented on #11664
Sure!

[2022-04-18 08:33] atheeshp commented on #11566
after having with @aleem1314 & @amaurym we just need to modify the ADR here, if we need limit less bank authz we can use generic authz.

[2022-04-18 09:36] evan-forbes opened #11668 "Failure to generate proto files with `make proto-gen`"
## Summary of Bug

when calling `make proto-gen` on master, I get the error
[code]

## Version

master c6769522789b62908fbe6b918da9aff53fb2f6d7

## Steps to Reproduce

call `make proto-gen` at the root of the repo directory on the master branch

I can generate the proto files fine if I follow the instructions in the Dockerfile, (while also adding the `-compat=1.17` flag to the `go mod tidy` comman

[2022-04-18 10:08] marbar3778 commented on #11605
do you have a replace flag in your go.mod? this is a known issue, we need to migrate to cosmosgogo-proto

[2022-04-18 14:36] #11668 closed

[2022-04-19 08:08] julienrbrt commented on #1755
Implemented by #9601

[2022-04-19 08:08] #1755 closed

[2022-04-19 08:54] JGJP opened #11681 "Mismatch between fetched ValidatorDelegations balance and transaction history"
## Summary of Bug

Example user in question: https://www.mintscan.io/regen/account/regen1n7htchn6skls0v8h7mwlaa68ya30lxrga7l0w7
Example validator: https://www.mintscan.io/regen/validators/regenvaloper1zppjyal5emta5cquje8ndkpz0rs046m7zqxrpp

This user is shown as not having any delegation with the validator, in the UI and also in the ValidatorDelegations RPC response. The transaction history, howev

[2022-04-19 09:51] amaurym commented on #11651
I tried to debug this, and created  #11682

[2022-04-19 10:28] tomtau commented on #10495
possible workaround: https://github.com/tharsis/ethermint/pull/996 (using a custom `RandomGenesisAccounts`)

[2022-04-19 10:28] #10495 closed

[2022-04-19 10:33] #11651 closed

[2022-04-19 10:46] robert-zaremba opened #11683 "Use linxGnu/grocksdb instead of gorocksdb"
## Summary

We forked tecbot/gorocksdb (which doesn't have any activity any more) to add `OptimisticTransactionDB::NewCheckpoint` functionality.

There is https://github.com/linxGnu/grocksdb which is also a fork of tecbot/gorocksdb, is active and supports the latest Rocksdb (v7) and provides additional optimizations.

## Objective

Update `cosmos-sdk/db` to support https://github.com/linxGnu/grock

[2022-04-19 11:03] crodriguezvega opened #11684 "v0.45.3 doesn't build with go 1.15"
## Summary of Bug

[The go.mod of v0.45.3 requires go version equal or above 1.15](https://github.com/cosmos/cosmos-sdk/blob/v0.45.3/go.mod#L1), but building with go 1.15 fails with error:

[code]

It looks like [this PR](https://github.com/cosmos/cosmos-sdk/pull/11574/files) changed [`ioutil.WriteFile` to `os.WriteFile`](https://github.com/cosmos/cosmos-sdk/pull/11574/files#diff-33ff09992f1a3583e

[2022-04-19 13:20] alexanderbez commented on #11684
Interesting. I would think go.mod would catch this somehow? But I guess not. In any case, there's no reason whatsoever to use go 1.15, so just update your go version to 1.17 or 1.18.

[2022-04-19 13:22] alexanderbez commented on #11651
@Mergifyio backport release/v0.46.x

[2022-04-19 13:23] alexanderbez commented on #11651
@Mergifyio backport release/v0.46.x

[2022-04-19 13:24] marbar3778 commented on #11684
SGTM

[2022-04-19 13:34] alexanderbez opened #11687 "Add and Sub Coins Inconsistency"
@ValarDragon: The SDK has `(coins Coins) Add(sdk.Coin ...)` but also `(coins Coins) Sub(sdk.Coins)`, which leads to some oddly inconsistent lines.

[2022-04-19 13:42] faddat opened #11688 "Docker in the Cosmos SDK"
Hi, I've been working on the SDK directly lately, and it's been fun.  But the Docker situation has not been fun at all.

I shall opine now.

Few years back, it became fashionable-- not effective-- to minimize Docker containers in every possible case, culminating in the use of so-called distroless containers.

Maybe the distroless containers are fine as execution environments, but I'm not even too

[2022-04-19 13:43] alexanderbez commented on #11681
So x/staking handles delegations using the concept of "shares", no balances. Being that there is only 1uregen left, it's probably less than 1 share and thus not being counted as a delegation. Can you post an API URL for the delegator/validator tuple?

[2022-04-19 14:25] faddat commented on #11683
Happy to work on this.

I should mention:

From every metric I can find (iavl benchmarks and state syncing osmo/gaia (tho both seem broke, both apply snapshots fastest with pebble)) PebbleDB is in fact preferable to RocksDB.

Trouble is, I think there is a bug in my implementation.

[2022-04-19 14:26] faddat commented on #11688
Another example of using arch to save time and effort while testing against the latest versions of relevant software

https://github.com/osmosis-labs/tm-db/blob/e201b403aaafc222d69c92a4d22c9dfd193ae251/.github/workflows/ci.yml#L26

[2022-04-19 14:28] faddat commented on #11688
Dockerfile reduced to a single line:

https://github.com/osmosis-labs/tm-db/blob/e5f705e62dc2ffbc98dca34df86b36445b07220b/tools/Dockerfile

[2022-04-19 14:30] crodriguezvega commented on #11684
Sorry, but wouldn't it be easier to just revert [this change](https://github.com/cosmos/cosmos-sdk/pull/11574/files#diff-33ff09992f1a3583e2aa8eb932c62c833d52e446488070ed958eb672eed8da3eL378) and put back `ioutil.WriteFile`? That way you can keep go 1.15 in go.mod, and then ibc-go doesn't need to change its minimum required go version. We have this problem in existing release branches (v1.4.x and v

[2022-04-19 14:35] alexanderbez commented on #11684
It's preferable to keep up to date with the latest Go versions. Why would bumping the min Go version require a breaking API change?

[2022-04-19 14:40] crodriguezvega commented on #11684
Because in patch or minor releases our promise with developers/integrators is that they can just swap the version of ibc-go they have without having to change any of their code or environment setup. So if we have, e.g. v1.4.0 with minimum required go version 1.15, and then we release 1.4.1 (with the next SDK 0.45.x) with minimum required go version 1.17, we would be breaking our promise.

[2022-04-19 14:41] alexanderbez commented on #11684
But changing the environment is an OK thing to do. The code will operate as expected w/o breaking APIs, which is what semver is about. I'm personally against sticking with 1.15

[2022-04-19 16:47] jhernandezb opened #11690 "Allow apps to provide extra information to version command"
## Summary

Allow apps to provide extra information to version command
[code]

## Problem Definition
Currently the information comes from this method https://github.com/cosmos/cosmos-sdk/blob/9bed6333fab93dd0cda88d8c8c4b94beaf74146e/version/version.go#L66 which contains a predefined struct and there is no way to add extra information.

Build tags don't work for runtime information like CosmWasm VM

[2022-04-19 19:08] #11577 closed

[2022-04-19 19:09] alexanderbez commented on #11690
Yup, I totally support this. Great idea! Is this something you're interested in helping with?

[2022-04-19 19:32] jhernandezb commented on #11690
Yes, I can make a PR for this

[2022-04-19 20:04] prettymuchbryce opened #11692 "Data race when using `testutil/network`"
## Summary of Bug

When running tests which use `testutil/network` (such as the cli tests generated via `ignite`), data races occur. I believe this is because the `listener` in `server/api/server.go` is being [written](https://github.com/cosmos/cosmos-sdk/blob/c2fd51b4c5f41efc56c9aec1f44b4ce9e963dfc3/server/api/server.go#L109) and [read](https://github.com/cosmos/cosmos-sdk/blob/c2fd51b4c5f41efc56

[2022-04-19 20:07] faddat commented on #11688
ack your ack on 2/3 items, let's compare an alpine Dockerfile to an Arch Dockerfile:

**alpine**

[code]

**Arch**

[code]

these do the same thing

[2022-04-19 20:18] alexanderbez commented on #11688
I'm fine with using Arch, tbh this isn't my area of expertise. But is there a reason why we'd depend on a fork or custom image (yours)? Is there not a canonical or official arch distro image?

[2022-04-19 20:25] faddat commented on #11688
Awesome-- ok so, yeah this part is less than ideal:

Arch linux is two:

https://archlinuxarm.org - ARM
https://archlinux.org/ - AMD64

and this repo:

https://github.com/faddat/archlinux-docker

grabs both the AMD64 and ARM filesystem snapshots, and then combines them into a multiarch docker manifest so that when we're using it, we do not need to do gymnastics like:

https://github.com/CosmWasm/w

[2022-04-19 20:32] alexanderbez commented on #11688
SGTM!

[2022-04-19 21:49] alexanderbez commented on #11692
Thanks @prettymuchbryce for creating such a detailed issue! Yeah, as you've pointed out it's technically possible to call `Close` prior to `Start` returning from the goroutine it was executed in.

While in practice, this would never happen as you'd wait for `Start` to return (as we do), the go compiler doesn't know this. So we should fix it for the sake of passing race detecting tests.

Since you'

[2022-04-20 08:23] roysc commented on #11444
To simplify things I will summarize here the results from the same data used in https://github.com/cosmos/cosmos-sdk/issues/11328#issuecomment-1087613934, which contains analysis.

Each case is run on a store pre-filled with 100,000 entries. Keys are all 32 random bytes (generated as SHA256 sum of varint-encoded sequential integers):
* `get/set-present`: time to read/update 1000 keys that are pres

[2022-04-20 09:27] #11643 closed

[2022-04-20 09:39] #11566 closed

[2022-04-20 09:41] roysc commented on #11444
We have a new SMT implementation in progress at https://github.com/vulcanize/smt/pull/5. Preliminary benchmark results show a significant improvement.

Like the IAVL tree, this SMT only writes to the DB on commit, and caches the current state as an actual node tree, hence inserts are much faster. Reads are faster mainly because value storage has been moved out of the SMT object, allowing us to ind

[2022-04-20 12:36] #11687 closed

[2022-04-20 15:04] carameleon opened #11700 "authz send to allowed address"
## Summary

authz - grant send permission with allowed address list.

## Problem Definition

I think send permission is most important thing.
assuming that we grant send permission to someone in the real world.
in this case, we grant someone to send tokens to other addresses, it could be misused.
I would like to grant someone to send tokens with allowed address list.
if then, I think we don't need

[2022-04-20 16:30] daeMOn63 opened #11707 "bug: x/upgrade keeper GetLastCompleteUpgrade returns wrong upgrade name"
## Summary of Bug

Due to the usage of the upgrade name as a key in the `x/upgrade` keeper store, the iterator from [`GetLastCompeletedUpgrade`](https://github.com/cosmos/cosmos-sdk/blob/master/x/upgrade/keeper/keeper.go#L239-L247)  may return the wrong upgrade name, as it seek the last element from the store, assuming a natural string ordering (meaning `test-v0.9` > `test-v0.10`)

I did create a

[2022-04-20 18:00] prettymuchbryce commented on #11692
Sure. I can take a crack at it shortly.

[2022-04-20 18:03] alexanderbez opened #11709 "liveness test failure"
[code]

[2022-04-20 18:07] alexanderbez opened #11710 "simulation failure: cancel unbonding"
[code]

seed: 4031832519142512320
ref: https://github.com/cosmos/cosmos-sdk/runs/6100036855?check_suite_focus=true

we need to fix simulations s.t. we don't send txs/msgs with 0 values.

cc @gsk967

[2022-04-20 18:14] alexanderbez commented on #11709
I'm not sure how this is failing as the original PR updating the rosetta dep passed: https://github.com/cosmos/cosmos-sdk/runs/6038658524?check_suite_focus=true

[2022-04-20 18:33] #11709 closed

[2022-04-21 01:53] ValarDragon commented on #10310
I think my prior comment was incorrect, I don't see how this is exponential time in the number of cache wrappings.
Each layer does two iterations, one at the structs local cache, and one in the parent.

The parent would then cause two iterations. The local cache would cause no further branching factors, as its just over this layers local sorted cache.

[2022-04-21 02:10] yihuang commented on #10310
I have wrote a benchmark for this before: https://github.com/tharsis/ethermint/blob/release/v0.7.x/x/evm/keeper/benchmark_test.go#L100
The result:
[code]

[2022-04-21 13:27] effofxprime opened #11716 "fatal error: concurrent map read and map write"
## Summary of Bug

I am running a full archival RPC node.  https://rpc.erialos.me, https://trpc.rpc.erialos.me, https://grpc.rpc.erialos.me, https://rest.rpc.erialos.me.

I am also running Ping.Pub explorer(on another server) that calls my RPC to populate the explorer data.
https://explorer.erialos.me
I can refresh the explorer, and given enough times, I will wide up with a fatal error.

`fatal er

[2022-04-21 13:41] alexanderbez commented on #11716
@marbar3778 I can't recall, didn't we address the `fatal error: concurrent map read and map write` issue?

[2022-04-21 13:44] #11710 closed

[2022-04-21 13:47] marbar3778 commented on #11716
Not sure if this was back ported to 0.44, but 0.45 has this solved

[2022-04-21 13:49] effofxprime commented on #11716
I wasn't sure from the bug search I did on concurrent map read/write if mine was the same type of concurrent map read/write.

Assuming that it is, would my only option at this time to wait for a chain upgrade to have this resolved?  Or is there a patch for 0.44 that I could apply?

[2022-04-21 13:51] alexanderbez commented on #11716
I'm not sure how much effort we're going to be putting into maintaining 0.44.x anyway. Is there a reason you can't bump to 0.45?

[2022-04-21 13:53] takapi327 opened #11717 "unknown command "unsafe-reset-all" for "simd""
## Summary of Bug
I am currently trying COSMOS ACADEMY's Running a Chain.

I am following the instructions [here](https://tutorials.cosmos.network/academy/3-running-a-chain/node-api-and-cli.html), but I cannot use the unsafe-reset-all command to reset the database after make build.

![スクリーンショット 2022-04-21 22 22 36](https://user-images.githubusercontent.com/57429437/164467193-1aa95d95-e37a-40cc-9fa

[2022-04-21 13:58] alexanderbez commented on #11717
Please view the changelog :)

https://github.com/cosmos/cosmos-sdk/blob/v0.45.3/CHANGELOG.md

[2022-04-21 13:58] #11717 closed

[2022-04-21 14:00] effofxprime commented on #11716
I am fine with bumping to 0.45, but I do not maintain the Vidulum chain.  AFAIK, wouldn't the chain have to update as a whole for me to be able to update to cosmos sdk 0.45?

I can also wait for our upgrade, speaking with the chains lead dev, I think we will be looking at doing so here soon. (months time frame probably).

Mostly wanted to make sure that the concurrent fatal error I was having was

[2022-04-21 14:01] takapi327 commented on #11717
@alexanderbez Thank you!

[2022-04-21 14:17] alexanderbez commented on #11716
Yes :) but in that case, you might as well upgrade to 0.46

[2022-04-21 14:24] #11716 closed

[2022-04-21 17:41] julienrbrt commented on #11664
Re-opening as my fix did not work: ref https://github.com/cosmos/cosmos-sdk/runs/6116723245?check_suite_focus=true

[2022-04-21 18:20] alexanderbez commented on #11716
My pleasure!

[2022-04-21 18:22] alexanderbez commented on #11664
☠️  I wonder what the issue could be...

[2022-04-21 18:52] #11578 closed

[2022-04-22 03:14] facundomedica opened #11726 "bug: Can't sync darwin-arm64 after creating IBC channel (different gas used / pointer addresses are different)"
## Summary of Bug

**TL;DR: `capabilitytypes.FwdCapabilityKey` produces different results on darwin-arm64**

A binary compiled for the Apple M1 chip (darwin-arm64) is not compatible with other architectures, causing consensus failure. It happens after a new IBC channel is created (I'm not sure if it's `ibc.core.client.v1.MsgUpdateClient` `ibc.core.channel.v1.MsgChannelOpenTry` causing it).

[code]

[2022-04-22 03:44] tpkeeper opened #11727 "got concurrent map read and map write"
https://github.com/cosmos/cosmos-sdk/blob/42f8d45b686be791c6b18cbbe02b84c91da524bc/types/config.go#L160

[2022-04-22 08:29] marbar3778 commented on #11727
thanks for the issue, could you post what version you are using and how did you encounter this error so we know how to reproduce the issue

[2022-04-22 09:27] crodriguezvega commented on #11684
Closed by #11686.

[2022-04-22 09:27] #11684 closed

[2022-04-22 10:38] tpkeeper commented on #11727
version is 0.45.1 , used in multi chain clients and multi goroutines. it will update the account prefix whenever the client of different chain use `AccAddressFromBech32`,   and I have fixed it by using mutex

[2022-04-22 11:00] marbar3778 commented on #11727
ah okay perfect, then I will close this issue

[2022-04-22 11:00] #11727 closed

[2022-04-22 13:00] alexanderbez commented on #11726
@facundomedica your debugging skills are absolutely unrivaled. Thanks for opening up this issue. Unfortunately, i think there are some cases where we need to use pointers, especially for IBC caps. However, the plus side is that pretty much all operators run in the cloud or even bare metal with standard amd64 architecture. Which is why we haven't seen this in mainet most likely. I'm not really sure

[2022-04-22 15:07] elias-orijtech opened #11732 "types: ParseCoinNormalized may panic for very large values"
Adding this testcase found by OSS-Fuzz,

[code]

results in a panic:

[code]

The issue is that the [maxDecBitLen](https://github.com/cosmos/cosmos-sdk/blob/bb37e72816bbb57b1764350e7259e6cfa5039411/types/decimal.go#L29) limit assumes that chopping the decimal part of a `maxDecBitLen`-long types.Dec number will always result in a 60 (`DecimalPrecisionBits`) bits shorter integer, which fits in 256 b

[2022-04-22 15:20] iramiller commented on #11707
This bug is because the downgrade check makes an invalid assumption that the reverse prefix iterator will return the upgrades in reverse order ... and it is based on a alphabetical sort of the upgrade names instead of the block height
[code]
The values of these keys are the blockheights they were applied at ... which is the actual thing that should be used to sort these.

[2022-04-22 15:26] odeke-em commented on #11726
Kindly cc-ing an ARM expert @elias-orijtech

[2022-04-22 15:26] derekadams commented on #11707
Replacing the above method with the following code will order by block height rather than upgrade name. The downside is that the sort is performed outside of the keystore, so it's slightly less efficient (but not really an issue considering the number of upgrades in the list):
[code]

[2022-04-22 18:59] ValarDragon commented on #11726
It looks to me that the code is just straight-up unsafe.

https://github.com/cosmos/cosmos-sdk/blob/main/x/capability/types/keys.go#L41-L43

We just can't do `%p` in any state machine logic. This should not be expected to be consistent across machine architectures. (To be honest, I'm surprised its the same run after run on a single machine)

I don't understand why %p is used at all here to be hone

[2022-04-22 19:01] ValarDragon commented on #11726
I feel like everything thats trying to be achieved with pointers, could be achieved with a counter in the context, and putting this counter in the `CapabilityTypes` struct.

[2022-04-22 20:07] facundomedica commented on #11726
Another option would be to make it a fixed-length string with padding. So we make sure that never ever this happens again, at least in 64bit archs. It would increase the gas usage slightly, but it will give us peace of mind.
For this we wouldn't need a migration right? Given that is using the in-memory kv.

[2022-04-22 20:28] ValarDragon commented on #11726
Thats true, that would short-term work, and can be added pretty quickly. Is doing that something we could get in v0.46.0 ? (cc @marbar3778 @amaurym , though IDK whose the right person to tag for that question)

I do think the pointer formatting should be aimed to be removed though (perhaps in a separate issue), as imo its code smell tha may cause confusing problems in the future with debugging acr

[2022-04-22 22:57] julienrbrt commented on #11039
Hey @colin-axner,

The reason is that you don't have to do an error checking for each RPC response (`res proto.Message, err error`).

e.g. https://github.com/CosmWasm/wasmd/blob/main/x/wasm/handler.go#L46

I will update the docs to make that clearer!

[2022-04-22 23:42] julienrbrt commented on #10896
Hey! I am unable to reproduce. @cmwaters could you confirm that this issue is persisting?

[2022-04-23 00:05] julienrbrt commented on #9877
Hey!

I hope that since the issue you've managed to recover your funds, but if not, you can always use the `keys migrate` command.

[2022-04-23 00:05] #9877 closed

[2022-04-23 00:15] julienrbrt commented on #11664
Closing this in favor of https://github.com/cosmos/cosmos-sdk/issues/9010

[2022-04-23 00:15] #11664 closed

[2022-04-23 00:39] julienrbrt commented on #6887
Closing because answered.

[2022-04-23 00:39] #6887 closed

[2022-04-23 09:27] marbar3778 commented on #11726
Yes lets get this in!! @facundomedica would you like to open a pr?

[2022-04-23 12:08] facundomedica commented on #11726
BTW, couldn't we just use the capability index instead of its pointer? According to the docs: `The index provided to a Capability must be globally unique.` (Idk 100% how this code works, just checking)

[2022-04-23 20:03] ValarDragon commented on #11726
oh, if that already exists that seems far superior to use

[2022-04-24 00:53] facundomedica commented on #11726
In that case, it's a trivial fix. But I'm afraid it was done like that on purpose, at least that's what I get from reading https://github.com/cosmos/cosmos-sdk/blob/main/docs/architecture/adr-003-dynamic-capability-store.md . Although I don't fully comprehend these docs 😅

[2022-04-24 01:26] ValarDragon commented on #11726
Yeah, reading through that it feels like they were aware of the problem and added an index, but then also didn't consistently use the index?

Definitely seems to me like an index should work, the whole point of the `capmap` is theres a bijection between the pointer and the index. This definitely feels like a bug to me.

The only reason I could see for it being claimed to not be a bug would be that

[2022-04-24 03:04] ValarDragon opened #11739 "Remove `RegisterRESTRoutes` from AppModuleBasic"
## Summary

Can we remove RegisterRESTRoutes from the AppModuleBasic interface?

RegisterRESTRoutes as far as I know has been unused since the Stargate upgrade, and has been left in the SDK for compatibility reasons.

## Problem Definition

Trim the AppModuleBasic / AppModule interface boilerplate, each of which contributes to boilerplate in every SDK module.

## Proposal

Delete RegisterRESTRoute

[2022-04-24 14:17] alexanderbez commented on #11732
@elias-orijtech since we have a diff posted, would you be open to opening a PR?

cc @ValarDragon for decimal types visibility.

[2022-04-24 14:22] alexanderbez commented on #11707
@derekadams would you folks be willing to submit a PR to upstream these changes? I imagine this is state-machine breaking, no?

cc @robert-zaremba @amaurym

[2022-04-24 14:40] iramiller commented on #11707
We would be willing to and indeed planned on doing that... but we were pressed for time on Friday creating our upcoming release for the cosmwasm security updates.

This feels like it is technically state machine breaking however, anyone who has managed to run their network without this change that is impacted by the bug will have already worked around it by ordering their upgrades alphabetically.

[2022-04-24 15:26] elias-orijtech commented on #11732
Sure, but I'm waiting for someone with more knowledge before posting a PR that deletes or updates the two test cases my suggested fix break.

[2022-04-24 16:00] ValarDragon commented on #11732
I'm fine w/ changing the behavior to force parsing of ints to be one minus the perceived logical maximum bit length!

Doesn't break anything Osmosis depends upon, I'd be a bit surprised if it broke things for other folks.

[2022-04-24 20:53] #11039 closed

[2022-04-25 08:39] foxytanuki opened #11741 "docs: Broken links to tendermint.com"
## Summary of Bug

The old links to the Tendermint Core docs (`tendermint.com/docs`) remain in the CosmosSDK docs even though the url of the Tendermint Core docs has been updated to `docs.tendermint.com`.
All of them should be updated because some of the links are broken without being redirected.

The below is the old links generated from a [check-markdown-action](https://github.com/cosmos/cosmos-

[2022-04-25 08:52] #11692 closed

[2022-04-25 09:01] marbar3778 commented on #11739
This makes sense to me, it was/is there to allow apps to still use rest but seems everyone migrated to grpc-gateway already

[2022-04-25 09:36] AdityaSripal commented on #11726
Hmm I don't understand how the forward mapping itself could cause an apphash mismatch.

The forward key is stored in the memstore which is **not committed** in the final apphash. https://github.com/cosmos/cosmos-sdk/blob/main/store/mem/store.go#L56

The fact that the two machines have different pointers is expected behavior. It would be true even if they were 2 Linux machines.

---

This is the in

[2022-04-25 09:37] #11741 closed

[2022-04-25 11:07] facundomedica commented on #11726
@AdityaSripal thanks for the detailed explanation! 🙏
About why the hash is different: It's **indirectly** caused by the FwdKey, because on a Mac it will be higher, when you convert it to hex you will get an extra byte stored in memory KV. That extra byte counts towards gas_used, which is used to calculate the hash.
We have this issue on a live testnet: https://explorer.umeemania-1.network.umee.cc/

[2022-04-25 13:32] alexanderbez commented on #11726
What @AdityaSripal explained is correct -- we used `%p` for a reason.

[2022-04-25 13:40] alexanderbez commented on #11739
@facundomedica wanna tackle this quick PR when you get a chance?

[2022-04-25 13:44] alexanderbez commented on #11732
@elias-orijtech I think the change is OK.

[2022-04-25 13:46] alexanderbez commented on #11707
It seems sorting in each `BeginBlock` is negligible as you're not going to have hundred of thousands of upgrades.

[2022-04-25 14:42] AdityaSripal commented on #11726
Ahh interesting, so the issue is that the the memory store is metering gas.

Yea. we could standardize pointer length as a fix (pad or truncate to a standard length).

It shouldn't even be breaking, because as mentioned above, it is not committed to state

[2022-04-25 14:43] alexanderbez commented on #11726
Yeah, but the in-mem store is gas metered and that affects gas_used which does affect the merkle-ized state :-/

So it's an indirect state change

[2022-04-25 14:46] AdityaSripal commented on #11726
Ahh ok, yea I just saw the discussion on the PR. Yes that's annoying.

At least if you standardize to the same length that linux machines are currently using, It will be technically breaking, but effectively nodes could upgrade independently.

Agreed that we should consider if we should meter gas on memstores, but that's a larger discussion that probably doesn't need to block a fix here

[2022-04-25 15:29] okwme opened #11751 "gaiad keys parse as endpoint for API"
Re-creating this issue from https://github.com/cosmos/gaia/issues/831

## Summary

Please add `gaiad keys parse` to API

## Problem Definition

When using the API, for many use cases it is required having the different key types, i.e. valoper, valcons in order to parse API requests.

## Proposal

Just extend the current API for the existing `gaiad keys parse` command. Note: as of time of writing t

[2022-04-25 16:50] marbar3778 opened #11761 "crypto: recover public key from secp256k1 signature"
## Summary

Transferring this issue from tendermint.

[code]

____

#### For Admin Use

- [ ] Not duplicate issue
- [ ] Appropriate labels applied
- [ ] Appropriate contributors tagged
- [ ] Contributor assigned/self-assigned

[2022-04-25 17:10] peterbourgon commented on #11600
`panic` is not just an alternative `return err` for situations when the caller can't do anything to fix the problem. You still use errors for those situations! 😇 Error handling isn't noise, and making it explicit actually reduces overall complexity. In fact one of the fundamental conceits of the language is that the "sad path" of error handling is equally important to the "happy path" and shouldn'

[2022-04-25 20:49] julienrbrt commented on #10861
I could not reproduce using master. Maybe it has been fixed since.
An alternative for that version can be to use `--output-document` instead.

Closing for now, feel free to re-open it if the problem still occurs.

[2022-04-25 21:00] alexanderbez commented on #11600
@ValarDragon is correct here though, we want to panic when the application is sealed. We can certainly return an error and bubble it, but we'd end up either panicing or exiting only one layer up, which doesn't really buy us much.

[2022-04-25 21:00] alexanderbez commented on #11600
As for resolving this issue, I'm open to returning errors and having the SDK exit upon non-nil errors in the `server` package.

[2022-04-25 22:12] facundomedica commented on #11739
Sure 😄  @alexanderbez from the interface + all definitions in modules?

[2022-04-25 22:16] ValarDragon commented on #11600
If the caller can't do anything to fix the problem and will just exist, and the caller can't add any more valuable context to the situation, I don't get why `panic` isn't preffered.

If error handling were a minimal cognitive overhead for the reader, e.g. like in rust with the `?` suffix & `.map_err`, I don't think I'd have this complaint, but in golang code its a huge overhead.

[2022-04-25 23:06] peterbourgon commented on #11600
`panic` expresses an invariant violation of the program caused by fundamental programmer error. That means stuff like dividing by zero, or array-out-of-bounds errors. It explicitly is _not_ meant to express simple logic bugs, or errors that can only be detected at runtime e.g. invalid data in a packet. Long-lived programs — like servers, i.e. anything powered by the Cosmos SDK — should actually _n

[2022-04-25 23:29] peterbourgon commented on #11600
I'm claiming that this isn't true. `panic` isn't just another way of spelling "exit with an error" — it expresses a more fundamental and substantial problem than simply calling methods on a struct in the wrong order. That's a logic error and should terminate the program! I agree with that. But the right way to do that is to bubble up errors to `func main` and have _it_ exit the program with whatev

[2022-04-25 23:45] jtremback commented on #11605
This comes up when you try the tutorial here https://docs.cosmos.network/v0.45/run-node/interact-node.html

[2022-04-26 01:16] ValarDragon commented on #11600
The linked effective go even says panicing is fine for initialzation though?

[2022-04-26 01:20] peterbourgon commented on #11600
Yes, but initialization in that context means e.g. `func init`, not constructors or methods on types which are expected to be called at a certain phase of a program's execution.

[2022-04-26 01:30] alexanderbez commented on #11739
Yup!

[2022-04-26 01:37] #11600 closed

[2022-04-26 01:38] peterbourgon commented on #11600
Please re-open this issue.

[2022-04-26 02:52] ValarDragon commented on #11726
I don't think the pointer decision should be deemed ok. Instead of a global counter then, it should be a randomly selected nonce and use that. Basically randomly sample a (say) 64 bit number, from a system seeded rng (`random` module works).

The literal pointer value provides very little security guarantees, and has very few guarantees from golang itself. Golang doesn't do ASLR https://rain-1.git

[2022-04-26 13:51] alexanderbez commented on #11600
I don't think there is a need to bubble up these errors upon app initialization 👍

[2022-04-26 13:56] alexanderbez commented on #11726
@ValarDragon that's a good point. A PRNG could equally work as well...I think. @AdityaSripal do you have any thoughts on this?

[2022-04-26 14:57] angrymouse opened #11773 "Creating doc-only master branch"
After renaming master to main, links to current cosmos documentation became invalid. We need to create master branch, where docs mirrored from main to fix it.

[2022-04-26 15:01] aaronc opened #11774 "ORM query service"
## User Story

As a module developer, I would like the ORM to auto-generate a query service for clients so that I don't have to manually implement gRPC queries.

## Possible Designs

None of these are mutually exclusive, it's a matter of prioritizing where we focus energy.

### A) Generic gRPC service

This would involve creating a single gRPC endpoint that allows querying all the ORM tables in an

[2022-04-26 15:12] aaronc opened #11775 "EPIC: AutoCLI & hubl"
## User Story

As a module developer, I want the framework to automatically generate CLI commands from protobuf Query and Msg service and ORM table definitions so that I don't have to manually write and test these commands.

## Phase 1: Basic Support

- [x] https://github.com/cosmos/cosmos-sdk/pull/11725
- [x] AutoCLI flag, positional parameter and help text customization
  -  [x] #11763
  -  [x]

[2022-04-26 15:24] roccomuso opened #11776 "how rewards claiming is decided?"
Is there a way to know deterministically which rewards are gonna be claimed in a `MsgWithdrawDelegationReward` transaction?
Is there a minimum amount of rewards needed to be able to collect them? I noticed some were claimed and other were left for future claiming, why that?

I've used this in Terra but the question seems more related to cosmosSDK.

[2022-04-26 16:06] charleenfei opened #11780 "broken links when you search google for cosmos docs"
## Summary of Bug

currently, most of the first links for cosmos docs link to /master, which results in a 404 broken link. we should redirect or symlink.

## Version

## Steps to Reproduce

____

## For Admin Use

- [ ] Not duplicate issue
- [ ] Appropriate labels applied
- [ ] Appropriate contributors tagged
- [ ] Contributor assigned/self-assigned

[2022-04-26 16:13] robert-zaremba commented on #11774
I know that my opinion may not be the most popular one, but honestly, if we knock out an out of the box integration with a DB with tonnes of integrations from the get go, like: Postgresql (graphql) or Mongodb (mongodb cli), then instead of reinventing and maintaining solutions we embrace existing leading solutions with web2 world with tonnes of integration and tooling.

@aaronc mention that we sti

[2022-04-26 16:47] hxrts commented on #7773
Did we get this on the roadmap yet?

[2022-04-26 17:04] aaronc commented on #7773
I'll put an issue on the Framework WG board.

[2022-04-26 17:05] aaronc opened #11783 "upstream GDA based decimal type"
Based on the discussions in https://github.com/cosmos/cosmos-sdk/issues/7773, the decision regarding decimals in the SDK is to use a GDA-based decimal implementation to replace the current `sdk.Dec`.

This would likely be based on one of these two libraries and we should plan on providing upstream changes when needed:
* https://github.com/cockroachdb/apd
* https://github.com/ericlagergren/decimal

[2022-04-26 17:11] aaronc opened #11784 "Migrate sdk.Int to math go module"
One of the major goals of the Framework WG is to breakdown the monolithic SDK into smaller easier to maintain component modules. `sdk.Int` is used in lots of generated code and can be standalone.

The proposed path for modularizing math functionality is:
- [ ] create a new `math` go module in this repo with a copy of the current `Int` functionality
- [ ] replace the existing `sdk.Int` with aliases

[2022-04-26 17:12] aaronc commented on #11784
Related to #11783

[2022-04-26 17:18] aaronc commented on #11774
I totally agree we should make it really easy to index state in conventional databases like Postgres and Mongo. However, I also think the SDK should provide decent out of the box querying which is the current status quo. The reasons in my mind for this are:
* it's a much simpler deployment - a single binary without lots of devops. Especially in testing and experimental scenarios needing to deploy

[2022-04-26 17:55] robert-zaremba opened #11785 "Report errors in Close() defer functions"
## Description

Very often we ignore errors, or omit them in a defer functions, eg:

[code]

## Proposal

Create a wrapper function:
[code]
____

#### For Admin Use

- [ ] Not duplicate issue
- [ ] Appropriate labels applied
- [ ] Appropriate contributors tagged
- [ ] Contributor assigned/self-assigned

[2022-04-26 18:46] alexanderbez commented on #11773
I don't know what this means? Can we get docs to work from `main`?

cc @marbar3778

[2022-04-26 18:47] alexanderbez commented on #11773
Looks like a dup of https://github.com/cosmos/cosmos-sdk/issues/11780

Closing :)

[2022-04-26 18:47] #11773 closed

[2022-04-26 18:55] alexanderbez commented on #11785
ACK. Would be in favor of calling it `LogDeferred`

[2022-04-26 19:05] alexanderbez commented on #11784
Thanks for creating this. Will tackle this shortly.

[2022-04-26 19:10] aaronc commented on #11784
Awesome thank you 🙏

[2022-04-26 19:16] alexanderbez commented on #11783
Assuming we have a `math` go sub-module, can we just copy/upstream the Regen type(s)?

[2022-04-26 19:22] aaronc commented on #11783
If we agree the regen API and behavior is what we want. It is based off of 128-bit decimal arithmetic, but can have configurable rounding

[2022-04-26 19:23] alexanderbez commented on #11776
You can find out how the "lazy" fee distribution happens by reviewing the [specification](https://drops.dagstuhl.de/opus/volltexte/2020/11974/pdf/OASIcs-Tokenomics-2019-10.pdf).

As for minimum, you can claim all the rewards available at the block in which the tx is executed.

[2022-04-26 19:23] #11776 closed

[2022-04-26 20:05] aaronc commented on #11774
My thinking right now is to move forward with approach A & D together, starting with A. I think they're complementary. The generic gRPC service can setup basic logical queries, the graphql layer can deal with representations of cosmos scalars

[2022-04-26 20:46] julienrbrt opened #11789 "Make Cosmovisor use cobra"
## Summary

Currently, Cosmovisor does not use cobra.
As the tool is expanding, and we are adding more functionalities, it starts to feel hacky.
Please refactor Cosmovisor to use cobra.

Pitfall: https://github.com/cosmos/cosmos-sdk/pull/10316#issuecomment-939033661

____

#### For Admin Use

- [ ] Not duplicate issue
- [ ] Appropriate labels applied
- [ ] Appropriate contributors tagged
- [ ] Con

[2022-04-26 20:55] #11780 closed

[2022-04-26 21:25] #11555 closed

[2022-04-26 21:55] aaronc commented on #11774
#11791 proposes .proto definitions for a generic gRPC query service (approach A) that uses direct index access rather than logical queries

[2022-04-26 22:29] robert-zaremba commented on #11583
@ironmandefi so you want to charge extra fee for executing authz actions.
You can do that by creating (and registering) a custom type which implements [`Authorization`](https://github.com/cosmos/cosmos-sdk/blob/release/v0.46.x/x/authz/authorizations.go#L11) interface. Check https://github.com/cosmos/cosmos-sdk/blob/release/v0.46.x/x/bank/types/send_authorization.go#L26 for an example. Technically

[2022-04-26 23:07] robert-zaremba commented on #11643
Some other chains are relaying on that :(

[2022-04-26 23:16] robert-zaremba commented on #11683
pebbledb is better event than linuxgnu/grocksdb?

[2022-04-26 23:22] robert-zaremba commented on #11532
OK, renamed to `Set`

[2022-04-26 23:30] marbar3778 commented on #11683
can we not upstream to the cosmos fork? im wary of switching forks every few months.

[2022-04-26 23:36] robert-zaremba commented on #11707
I would prefer other solution (which requires a migration unfortunately): https://github.com/cosmos/cosmos-sdk/pull/11705#issuecomment-1110348036
We can still use #11705 as a temporal solution, without closing this task.

[2022-04-27 06:21] hea9549 opened #11792 "why custom proto type (types.Dec) use two return type?( string, bytes )"
## Summary

## Problem Definition

In `gov.proto`, weight use `types.Dec` as string like below
[code]

but with `TallyParams` message in same file, `quorum` uses `types.Dec` as bytes.

[code]

How about unifying it? For external use, it seems better to use a string. Externally, we do not know of a custom type for deserializing a byte array.

## Proposal

____

#### For Admin Use

- [ ] Not duplica

[2022-04-27 06:23] hea9549 commented on #11792
oops, it just marshal big.int data.
[code]

then how about unifying it to bytes?

[2022-04-27 08:34] blushi opened #11793 "x/capability docs are incomplete/outdated"
## Summary

- `x/capability/spec/02_state.md` only includes titles, we should add actual content there.
- `x/capability/spec/README.md` seems a bit outdated (mentions `InitializeAndSeal` which has been removed https://github.com/cosmos/cosmos-sdk/pull/9836).
____

#### For Admin Use

- [x] Not duplicate issue
- [x] Appropriate labels applied
- [ ] Appropriate contributors tagged
- [ ] Contributor

[2022-04-27 08:42] blushi opened #11794 "Remove `AddedAt` from member request on group creation and member update"
## Summary

Remove `AddedAt` from member request on group creation and member update and set member `AddedAt` field properly on member update.

## Problem Definition

When creating a group, we can provide some `AddedAt` field for members. Although this isn't being used in the msg server code (we just set `AddedAt` as the current block time), it can be confusing to be able to set that in the reques

[2022-04-27 08:55] roccomuso commented on #11776
@alexanderbez I'm not sure that replies to my question.

Is there a way to know deterministically which rewards are gonna be claimed in a MsgWithdrawDelegationReward transaction?
Is there a minimum amount of rewards needed to be able to collect them? I noticed some were claimed and other were left for future claiming, why that?

For example why `uusd` was claimed but `utwd` or `ujpy` were not?

[2022-04-27 11:12] YusufTaylanYuksel commented on #8469
One of my private libraries uses the `cosmos-sdk@v0.45.1` and I am trying to add this library to another project as a package.
I am facing the issue even though I have the _replace line_ in my `go.mod` file.

My go.mod file is like
[code]

The error I am facing during the `get` is like below
[code]
Is there any suggestion please?

[2022-04-27 11:44] V-Staykov opened #11795 "Make `SimulationState` accept sdk.Int as value for InitialStake."
## Summary

Currently `SimulationState` accepts int64 as value for InitialStake. This leads to limit in the initial stake. It is later converted to sdk.Int anyways, so it would be better for it to accept sdk.Int and make it possible to set higher values.

## Problem Definition
We've added a limit in the minimum self delegation in our fork, so we had to change all tests to use higher values for val

[2022-04-27 12:49] roccomuso commented on #11776
Probably because those are all lower than 1 uunit

[2022-04-27 13:40] aaronc commented on #11792
The current approach is not ideal and is going to get replaced

[2022-04-27 14:21] julienrbrt opened #11798 "Improve old documentation redirection"
## Summary of Bug

Any redirection from the documentation that is not a subpath of the default documentation does not work properly.
Ref: #11790, https://github.com/tendermint/tendermint/pull/9311

## Version

https://docs.cosmos.network

## Steps to Reproduce

1. Go to https://docs.cosmos.network/v0.43
2. You are redirected to https://docs.cosmos.network/main/v0.44, which does not exist, instead

[2022-04-27 15:36] alexanderbez commented on #11683
This.

[2022-04-27 15:39] facundomedica commented on #11726
PRNG could be the answer to all of this, we could even just truncate the number to match the current key length, that way we won't have the gas usage issue (the current fix changes that and increases it)

[2022-04-27 15:57] alexanderbez commented on #11776
I have no idea what these denoms are or what chain you're referring to, but on the hub that uses the module natively, that is how it works. You can withdraw all rewards at any time, so long as you have 1 or more units of the base denom.

[2022-04-27 16:04] alexanderbez commented on #11726
Let's do it. @facundomedica something you wanna tackle? No need for a migration either.

[2022-04-27 16:07] ironmandefi commented on #11583
Ahh so you are recommending just to create a custom type instead of messing with state changes. If we were to add a custom type, does this still allow other chains to update the newest "version" easily so we can interact with the authz module on other chains?

[2022-04-27 16:11] facundomedica commented on #11726
Sure, should I revert the previous fix or just go at it in a new PR?

[2022-04-27 16:13] khoslaventures opened #11803 "`not_bonded_tokens` should be renamed to something less confusing"
# Summary

`not_bonded_tokens` represents the module account balance for unbonding tokens that are in the staking pool accounts.

A newcomer to the codebase can mistake this field for all tokens that are not bonded on the network. Since this is the number of tokens that are unbonding, it makes sense to be explicit.

This will also improve the clarity of `gaiad query staking pool`

# Proposal

Can

[2022-04-27 16:39] alexanderbez commented on #11803
This would require a migration -- is it worth it?

[2022-04-27 16:46] #11732 closed

[2022-04-27 17:08] hea9549 commented on #11792
thx for replying! can i get some docs or proposal about this?

[2022-04-27 17:32] aaronc commented on #11792
You can search issues for other discussions, but #11783 is one thing we'll be doing soon

[2022-04-27 18:31] marbar3778 opened #11808 "iavl: release and update sdk to osmosis changes"
## Summary

Osmosis iavl changes were merged, opening this issue to track the release of 0.17 & 0.18 to be back ported and added to the sdk

- [ ] release iavl with osmosis changes
 - [ ] 0.18.x
 - [ ] 0.17.x
- [ ] update sdk
 - [ ] 0.45.x
 - [ ] 0.46.x
 - [ ] main
____

#### For Admin Use

- [ ] Not duplicate issue
- [ ] Appropriate labels applied
- [ ] Appropriate contributors tagged
- [ ] Contr

[2022-04-28 05:10] aleem1314 opened #11812 "feegrant: fee allowances by granter query showing wrong total count"
## Summary of Bug

Querying fee allowances issued by granter showing wrong total count.

[code]

## Version

`master` and `v0.46`

## Steps to Reproduce

-  Start local chain
- Create three accounts and send some tokens
[code]
- Grant fee allowances and query feegrants by granter address.
[code]
____

## For Admin Use

- [ ] Not duplicate issue
- [ ] Appropriate labels applied
- [ ] Appropriate co

[2022-04-28 06:49] RiccardoM commented on #11583
Even though this is true, it's very hard to do so. If you want to create an authorization type that performs state changes, you only have access to the `Context` instance inside the `Accept` method. You don't have access to any keeper so even transferring tokens from one user to another will be very hard to do (you have to perform all the checks by hand and deal with store keys). This is technical

[2022-04-28 11:20] faddat opened #11816 "CI: code coverage, analytics"
Currently we have codeQL and code coverage reports

Can we remove the code coverage reports because we have codeql?

Are we interested in Sonarcloud?

When I've tried this sort of thing in the past, I find it is easiest and best to let github actions do all the work but in our tests and checks, we do the majority of the work (example: using a separate action to do diffs)

I think we can replace th

[2022-04-28 11:24] faddat opened #11817 "DX: gitpod"
SInce we are adding a development environment docker image, it's possible to set up gitpod to run in it.

This helps developers have a more consistent experience working with the cosmos sdk, and avoid work on the build environment.

PS:  I could use issue templates, but I am finding that the issues I want to create, maybe aren't features or bugs

[2022-04-28 15:14] marbar3778 commented on #11816
codeql and code coverage seem to do different things. I would be in favour of removing codeql more so than code coverage.

[2022-04-28 15:44] musalbas commented on #11444
Out of curiosity does this new implementation produce the same trees as v1 (e.g. including all subtrees with the same empty value are replaced by a placeholder)?

[2022-04-28 16:11] roysc commented on #11444
@musalbas yes, identical hashes

[2022-04-28 16:16] musalbas commented on #11444
Nice. Regarding the DeepSubTree feature, I assume you removed that for the time being as it required extra work in order to make it compatible with the new lazy implementation, and this wasn't used in cosmos-sdk? This is needed to enable state transition fraud proofs for Cosmos SDK rollups that we're implenenting. If there's no inherent reason why it wouldn't be possible to re-implement that with

[2022-04-28 17:53] faddat commented on #11688
# Stage two

decide weather or not to keep all of base-devel:
[code]

* gitpod
* determine if it is possible to further reduce the number of dockerfiles
* move faddat/archlinux somewhere into cosmos/* - possibly here

[2022-04-28 19:06] #7978 closed

[2022-04-28 20:09] aaronc commented on #11774
I discussed this a bit with @robert-zaremba today and I think I agree with his point that there's a risk of postponing the inevitable need of a lot of projects to break queries out into a secondary layer as the project grows.

I still think we should provide out-of-the-box queries as that will be desirable at the experimental stage. But I think it may be worth the effort to define a stable API wit

[2022-04-29 00:54] yihuang opened #11824 "Make extension snapshotter interface safer to use"
## Summary

https://github.com/CosmWasm/wasmd/pull/816#discussion_r858056243
When implementing wasm extension snapshotter, we found that "a plugin can break another one without knowing" with current interface.

## Problem Definition

The `Restore` api expects the extension to return the last parsed item if it's not an extension payload message, because that could be the extension boundary, extensi

[2022-04-29 06:48] anilCSE opened #11826 "Add upgrade handlers to simapp"
## Summary

While working on integration tests as part of QA, observed that there is no clean way to automate software upgrade tests. Having upgrade handlers for each version would make it easy for automating this and thus improve test coverage. It can also act as an example for teams trying to build upgrade handlers

## Proposal

Add upgrade handlers for `simapp` for each version.

v045 contains

[2022-04-29 10:53] #11812 closed

[2022-04-29 12:01] #11794 closed

[2022-04-29 14:19] anilCSE commented on #11803
:+1: for better UX. We can take breaking changes for improving UX

[2022-04-29 14:35] anilCSE commented on #11803
The same `query staking pool` response. It's definitely confusing now. May be here instead of users, improves the experience for tooling Devs

[2022-04-29 15:42] uabjabborov commented on #11524
I had the same issue on Cosmos SDK v0.44.5. It is reproduced every time `collect-gentxs` is called.

[2022-04-29 17:01] kairosdojo commented on #11524
Ah, interesting. Has it been fixed then on v0.44.6? (Maybe I referred to the wrong version)

[2022-04-29 19:01] sunnya97 opened #11833 "Rename EIP191 Sign Mode"
https://github.com/cosmos/cosmos-sdk/pull/11533 introduced a new SignMode enum variant called simply `EIP191`.  However, this name is not precise enough.  EIP 191 simply refers to a method of encoding a string data to be signed.

However, the Sign Mode concept in Cosmos SDK also refers to how to encode a tx into a string in the first place.

For this reason, in the `osmosis-labs` version of this,

[2022-04-29 19:03] sunnya97 commented on #11833
@fedekunze what tx encoding are you using for this 191 sign mode? We should rename `EIP191` sign mode to be properly named to be more specific and precise.

[2022-04-30 00:42] ygit1 opened #11834 "No such interface “org.freedesktop.DBus.Properties” on object at path /"

[2022-04-30 01:48] #11834 closed

[2022-04-30 07:45] ValarDragon commented on #11826
I'm in favor of this!

I'd actually like to suggest changing the simapp app.go code structure to be like Osmosis'. (Especially after https://github.com/osmosis-labs/osmosis/pull/1379 )

Namely, using a common `Upgrade` and `Fork` struct, and making a separately defined struct for all the module keepers. I think the package structure used there, relative to gaia, makes the package much more scalabl

[2022-04-30 18:45] alexanderbez commented on #11803
I don't follow. What's confusing about the following?

[code]

[2022-04-30 18:47] alexanderbez commented on #11833
Agreed. @fedekunze would you or anyone from your team be willing to make amendments to https://github.com/cosmos/cosmos-sdk/pull/11533?

[2022-04-30 19:48] ironmandefi commented on #11583
Alright fascinating thank you so much for your feedback on this topic :)

[2022-05-01 03:45] ValarDragon commented on #11761
Technically could be done for the flow used for the first tx from a sender, for the specific case of secp256k1. After the first tx, the pubkey is in state, which is more efficient computation wise. (Though perhaps not total time saved, considering I/O. Would need to be measured)

I generally think this is a premature optimization, that is not worth complexity for the state of Cosmos right now. We

[2022-05-02 08:22] #10618 closed

[2022-05-02 08:34] marbar3778 commented on #11688
Id prefer not to merge into one docker image. this will cause lots of confusion, in the near future we will be deprecating some images. Lets use the default image provided, if archlinux has one lets use that.

[2022-05-02 08:35] marbar3778 commented on #11683
Lets upstream and create a new release. Happy to coordinate this

[2022-05-02 11:55] faddat commented on #11683
It is not upstreamable

They are separate codebases

[2022-05-02 12:00] faddat commented on #11816
OK-- actually....

hrm

I will make a draft PR that compares the different options.  IMO:

* codecov
* sonarcloud
* CodeQL

are all decent options and I think I've used one or two others.  My thought?  It is okay to use several, for different reasons, provided that the github action does all the lifting for us.

We should not continue to use codecov in the way that we currently do.

[2022-05-02 12:11] marbar3778 commented on #11816
can we tell GitHub actions to only run things if not a fork? this would simplify things.

[2022-05-02 12:13] marbar3778 commented on #11683
lets see what @roysc and @i-norden say. they are our db experts

[2022-05-02 12:51] AdityaSripal commented on #11463
Yes that is unintended, but as stated, it luckily does not affect IBC.

The only place where it could have been an issue is in our pruning logic. Since we prune old historical info once we no longer need it.

But we retrieve it by getting each individual historical info here:

https://github.com/cosmos/cosmos-sdk/blob/76895e61c0d5179dac4ee0265cff6a136aef0323/x/staking/keeper/historical_info.go#L68

[2022-05-02 13:59] alexanderbez commented on #11597
Both `CheckTx` and `Simulate` (which is actually a query under the hood), both use the same state in `BaseApp`. So if simulate would fail prior to block N being committed, then surely CheckTx for that same tx would fail too. Maybe what is happening is that `Simulate` and `CheckTx` are being executed at different block heights, thus having a different "base" state.

[2022-05-02 14:05] #11761 closed

[2022-05-02 14:08] alexanderbez opened #11846 "rosetta: fix tests"
https://github.com/cosmos/cosmos-sdk/pull/11609 was merged prematurely as CI was filing for the rosetta test job.

ref: https://github.com/cosmos/cosmos-sdk/runs/6252289144?check_suite_focus=true

cc @Vritra4

[2022-05-02 14:14] facundomedica commented on #11726
Couldn't dedicate much time to this, but these are my findings so far about using a PRNG:
- We would need to store a link between the capability index and the random number (causing extra reads and writes, causing the gas usage to be higher)
- Collisions will cause a consensus failure, given that we would need to try again to find another random number that hasn't been used (again increasing gas u

[2022-05-02 14:23] #11707 closed

[2022-05-02 14:37] alexanderbez commented on #11726
Why do you think a PRNG would not suffice? I think a bit extra gas costs should be fine IMO. Also, where would there be anything related to consensus failure on collisions as all of the cap index stuff is local ephemeral in-mem anyway. When you ask x/cap for a index and there is a collision, just try again?

[2022-05-02 15:20] facundomedica commented on #11726
I think that collisions would cause the same issue that's described here, in which for some nodes they'll get a random number that's not being used on the first time, and some others will have to retry. And retrying will get them to spend extra gas, which will result in a different gas usage than other nodes (because we are counting even the "exist" queries in the mem store).

[2022-05-02 15:26] alexanderbez commented on #11726
Why does regenerating another number cost more gas? AFAIK, only the CRUD operations (get, set, etc..) cost gas. So picking a PRN, should be zero cost.

[2022-05-02 15:44] prettymuchbryce commented on #11761
@ValarDragon I'd like to get your thoughts on the benefits here as it relates to chain size. If public keys are being included with every single `secp256k1` transaction, then this is 64 bytes of wasted space per-transaction. A chain with millions of transactions could potentially save gigabytes in chain space by omitting the public key.

I realize subsequent transactions are not required to provid

[2022-05-02 15:48] nooomski opened #11850 "Using keyring 'os' on headless Linux systems prompts misleading error"
## Summary

This was an [issue](https://github.com/cosmos/gaia/issues/870) create on the Gaia repo.

## Problem Definition

Headless linux systems using the default keyring `os` get an error that does not adequately help the user:

[code]

Please see the [Gaia issue](https://github.com/cosmos/gaia/issues/870) for more details.

## Proposal

Display a better error, prompting the user to use keyring

[2022-05-02 16:08] julienrbrt opened #11852 "Improve cosmovisor tests"
It would be great to improve the tests and the code coverage for cosmovisor:

- add tests for the `Run` function: https://github.com/cosmos/cosmos-sdk/blob/main/cosmovisor/cmd/cosmovisor/cmd/run_test.go#L76
- add tests for cobra commands: like https://github.com/cosmos/cosmos-sdk/blob/main/testutil/cli/cmd.go#L13
- implement those comments: https://github.com/cosmos/cosmos-sdk/pull/11823#discussio

[2022-05-02 16:14] fedekunze commented on #11833
I'm fine renaming it, I won't be able to look into it until EOW most likely so happy if someone can give me a hand here.

[2022-05-02 16:18] amaurym commented on #11833
I don't think we can rename it though, since it would be a proto-breaking change. We can simply deprecate the existing enum option, and add new ones.

[2022-05-02 16:23] sunnya97 commented on #11833
Enum names are proto-breaking?

[2022-05-02 16:25] #11789 closed

[2022-05-02 17:22] alexanderbez commented on #11852
Thanks for creating this issue 🙏

[2022-05-02 17:51] facundomedica commented on #11795
I'll pick this one up :) Using the new `sdkmath "cosmossdk.io/math"` instead of `sdk "github.com/cosmos/cosmos-sdk/types"` 👌

[2022-05-02 17:55] ValarDragon commented on #11761
Its beneficial for clients to not include the pubkey on each tx, as it increases their gas wanted! (And therefore cost)

The main libraries that are the bulk of how people interact with the chain should handle this!

If we were really concerned, another alternative would be to having pubkeys not getting signed over. Then the block proposer could fix this in `PrepareProposal`

[2022-05-02 20:30] alexanderbez commented on #11726
Ahhh, wait you're totally right. In order to determine if there is a collision, you have to perform a read lol.

@ValarDragon what exactly is your suggestion?

I mean technically the solution as it exists today works, it's just not safe cross-platform, so if we could devise the key to not use `%p` but perhaps some fixed-length encoding of it, then that would suffice.

[2022-05-02 20:48] prettymuchbryce commented on #11761
I appreciate the context, and I agree with the conclusion here. In practice it sounds like this is much less of an issue than I originally anticipated. Thanks!

[2022-05-02 22:57] #11795 closed

[2022-05-03 01:15] yihuang commented on #11494
closing now, decide to implement this externally for now.

[2022-05-03 01:15] #11494 closed

[2022-05-03 01:16] yihuang commented on #11411
closing, to implement externally first.

[2022-05-03 01:16] #11411 closed

[2022-05-03 03:10] ValarDragon commented on #11726
This concrete problem could be solved by an in memory map, thats outside of whats metered by stores. (A map `usedNonces map[int64]struct{}`)

I just think its bad form for us to rely on pointers as a source of RNG. This becomes the sort of thing that has edge cases / odditiess that haunt us far into the future.

I also question the entire threat model here though. I'd be in favor of just removing

[2022-05-03 14:38] iramiller opened #11859 "Bank Module Send Disabled Token Configuration"
## Summary of Bug

The bank module stores the Send Disabled status for coins in a configuration block.  This approach does not scale to a large number of token denominations.  As additional coins are added to this parameter configuration the gas read/write costs for maintaining the list becomes excessive.

## Version

latest/main

## Steps to Reproduce

The current implementation of the Send metho

[2022-05-03 15:44] okwme opened #11861 "Add prefix option to CLI"
## Summary

I accidentally used `gaiad` to run `gaiad tx broadcast signed.json --node <node>` to a non-cosmos-hub network and surprisingly it succeeded! this makes sense because i generated and signed the tx with the correct binary but the message type was supported on both chains. If I was able to add the `--prefix` flag to the tx generation and signing i could re-use my keys from one of my accou

[2022-05-03 16:45] fedekunze opened #11862 "Invalid param proposal should error instead of panic"
## Summary of Bug

Creating a proposal with an invalid subspace/key, returns a redacted panic message instead of an error

## Version

`v0.45.3`

## Steps to Reproduce

Example of creating a param change proposal. The `inflation` subspace doesn't contain the `ElasticityMultiplier` key and the proposal should have used the `feemarket` module. The proposer needs to debug in order to understand what'

[2022-05-03 18:08] alexanderbez commented on #11859
Hey @iramiller. Thanks for opening up the issue.

This is essentially how it already works. The main difference the param blob is stored as a single object, rather than individual KV records. So yes, the gas costs would increase proportionally to the number of denoms your chain supports.

I think having these as direct values in the `x/bank` store could make sense. I'm all for the proposal, but I'

[2022-05-03 18:09] ValarDragon opened #11863 "Move module.go methods deprecated by RegisterServices into an extension interface"
## Summary

Currently, all modules in Cosmos have to pay the complexity of legacy code, by defining functions in the module.go that only made sense with legacy API's. (Adding to the overall boilerplate of the codebase)

I propose we move `Route(), QuerierRoute(), LegacyQueryHandler()` into their own extension interface for the module.go. Perhaps:

[code]

Then any legacy code that uses this, can a

[2022-05-03 18:10] alexanderbez commented on #10996
I need additional clarification on what this issue is requesting. From what I gather, you want an interface defined and have `Context#abciQuery` use that interface to perform the ABCI query instead of directly using `ctx.GetNode()`? Is this correct?

[2022-05-03 18:14] alexanderbez commented on #11862
Yeah @fedekunze this is another instance of that error message sucking complete ass -- I don't know why it was ever added, it's terrible. But at the same time, I feel like we're already tracking this in an issue no? How about we remove this redacted stuff all together?

cc @amaurym @aaronc

[2022-05-03 18:15] alexanderbez commented on #11863
TBH we've been removing the legacy APIs from `AppModule`, there is no need to further support or tweak legacy code that is meant to be outright removed. We already removed `RegisterRESTRoutes` (See: https://github.com/cosmos/cosmos-sdk/pull/11797)

[2022-05-03 18:21] ValarDragon commented on #11863
Gotcha. Its unclear to me what the API stability guarantees of these methods are, if they can just be deleted then happy about that!

[2022-05-03 18:23] iramiller commented on #11859
For reference we are exceeding our 4M gas per tx limits when working with this data structure on our testnet.  Granted our testnet has a lot of extraneous data but I expect our mainnet will get there eventually.  Our network is a unique case because we model securities on it and those require a smart contract facilitated transfer to move between accounts--thus the send disabled flag settings.

cc:

[2022-05-03 19:08] marbar3778 commented on #11863
should we sneak this into 0.46?

[2022-05-03 19:42] alexanderbez commented on #11863
Yes, the idea is that they're just deleted. In fact, we should delete whatever else is deprecated/legacy. @facundomedica is that something you're interested in? @ValarDragon pointed out the methods in the original issue body.

[2022-05-03 19:49] ValarDragon opened #11864 "Move DefaultGenesis and ValidateGenesis to AppModuleGenesis interface"
## Summary

Currently `DefaultGenesis` and `ValidateGenesis` are defined on `AppModuleBasic` so every module is required to include them. `InitGenesis` and `ExportGenesis` instead have their own separate interface `AppModuleGenesis` so only modules that utilize genesis' must implement them.

I propose we move `DefaultGenesis` and `ValidateGenesis` from the `AppModuleBasic` interface to the `AppMod

[2022-05-03 20:00] #11864 closed

[2022-05-03 20:57] facundomedica commented on #11726
I think I'm missing something (or everything lol) here, the answer is not obvious to me at all 😅
At the moment we use the capability's pointer to authenticate it. We would need to add a new field to it adding the PRN. So would adding an exported field (easily modifiable) helps us in any way?

[2022-05-03 21:37] alexanderbez commented on #11726
The PRN would replace the pointer. So the cap store knows the mapping from capability to PRN.

[2022-05-03 21:38] alexanderbez commented on #11859
Yes, totally makes sense. The proposed solution is trivial and makes sense.

[2022-05-03 21:50] ValarDragon opened #11865 "Move `InitGenesis` and `ExportGenesis` methods to keeper package"
## Summary

InitGenesis and ExportGenesis code are defined in `x/{modulename}/genesis.go`. This is because the `AppModule` interface requires these functions. However these being defined in a package separate to the keeper forces keepers to publicly export many functions that should really be private.

I suggest we change module writing standards, to have `x/{module}/module.go` have an InitGenesis

[2022-05-03 22:06] ValarDragon opened #11867 "Make an SDK function for getting base module query command command"
## Summary

Every module has roughly the same few lines for getting the base cobra command. So much so, that ignite basically code generates boilerplate for this. Lets just make a common function in the SDK that every module can use, and save ourselves these extra 6 lines per module?

Staking cli query base: https://github.com/cosmos/cosmos-sdk/blob/main/x/staking/client/cli/query.go#L19-L25
[code

[2022-05-03 23:07] ValarDragon opened #11868 "Automate `EventTypeMessage` inclusion in every message execution"
## Summary

Many modules define ad-hoc events in the message server, that (in a boilerplate fashion) encode the message type, source module, and sender. These are not standardized by code.

## Problem Definition

~Every message has the following event defined in the message server
Staking Redelegate:
[code]

Gov vote
[code]

Osmosis swap
[code]
The only exception I can see for where this isn't don

[2022-05-04 06:57] ValarDragon opened #11869 "Make Manager struct extend BasicManager"
## Summary

App.go's need to currently define a BasicManager and a Manager struct, to run certain Registration functions.

However since they already pay the complexity of defining `AppModule`s rather than just `AppModuelBasic`s, it feels silly to require both an `module.Manager` struct, and an `module.BasicManager` struct. Can we have the `module.Manager` struct contain & re-expose the methods of

[2022-05-04 07:27] amaurym commented on #10996
This issue was actually resolved by #11234.

[2022-05-04 07:27] #10996 closed

[2022-05-04 10:00] okwme commented on #11861
@alexanderbez in that case you had multiple binaries and you were pointing to the same home directory to reuse the keys?
the binary was parsing the keys with the correct prefix and so it worked, is that correct?
this does provide a solution to safely re-using keys—still feels like it could be a nice feature with a small config change to be able to do key management and tx signing with just one bin

[2022-05-04 14:02] aaronc commented on #11869
I'd love to have you involved with app wiring @ValarDragon so we can make these improvements holistically but making these small improvements outside of that context I think is not worth the effort

[2022-05-04 14:08] facundomedica commented on #11865
I'll take x/bank :)

[2022-05-04 14:09] #11726 closed

[2022-05-04 14:14] #11869 closed

[2022-05-04 14:22] aaronc commented on #11868
Yes, these should probably get removed and just handled in the tx middleware

[2022-05-04 14:52] likhita-809 commented on #11865
I've already started working on this and finished moving InitGenesis and ExportGenesis methods for auth, authz, slashing and mint modules.
Now I'm not sure if I should continue to work on this, should I proceed or halt this work @aaronc @alexanderbez ?

[2022-05-04 14:56] alexanderbez commented on #11865
If you already have the work done and it's building, I say open PRs for it and we'll merge it. Don't want to see good work wasted. But may just don't proceed on other modules.

[2022-05-04 15:33] mostcute opened #11872 "How to Decode TxResponse‘s “Data” into the responsestruct"
## Summary
Need a way to decode the TxResponse‘s “Data” , the client always just use printproto to show the TxResponse,
but i want to get the data to do more deep analyze

## Problem Definition
`{"height":"6861","txhash":"6086372860704F5F88F4D0A3CF23523CF6DAD2F637E4068B92582E3BB13800DA","codespace":"","code":0,"data":"0A100A0A437265617465506F737412020801","raw_log":"[{\"events\":[{\"type\":\"messa

[2022-05-04 16:19] alexanderbez commented on #11872
`Data` is the Protobuf encoding of the service method's result type, e.g. `&types.MsgSendResponse{}`. So to decode it, all you need is the app's codec.

[2022-05-04 16:19] #11872 closed

[2022-05-04 16:33] dwedul-figure opened #11875 "Remove code deprecated by ADR-047."
## Summary

Remove code deprecated due to [ADR 047: Extend Upgrade Plan](https://github.com/cosmos/cosmos-sdk/blob/master/docs/architecture/adr-047-extend-upgrade-plan.md) implementation: #11543

This cannot be done until some time after ADR-047 is implemented and is part of a released version of both the Cosmos-SDK and Cosmovisor.

Issue readiness checks:
- [ ] ADR-047 implemented.
- [ ] ADR-047

[2022-05-04 16:53] mostcute commented on #11872
thanks for response

how can i decode it in my cli /how can i get the app's codec in cli?

for example

[code]

i modify the tx.GenerateOrBroadcastTxCL => tx.GenerateOrBroadcastTxCLIWithRes  ,let it return the TxResponse

could you show me some code to decode it? thanks!

[2022-05-04 17:04] mostcute commented on #11872
yes, i know the msg type, how can i decode it to e.g. MsgSendResponse.?

[2022-05-04 17:07] mostcute commented on #11872
may be something like this ?
[code]

[2022-05-04 17:19] mostcute commented on #11872
@alexanderbez is there more detail about how to decode?

[2022-05-04 17:40] alexanderbez commented on #11872
I believe proto responses of `[]byte` are base64 encoded, no?

[2022-05-04 17:45] mostcute commented on #11872
not sure
[code]
by this way ,i can almost see the data `h                                                                                                                                                                                $/mostcute.blog.evm.MsgSendtocontract@

[2022-05-04 21:24] ValarDragon commented on #11867
ah amazing, didn't know about that! Just saw the ADR, lets close this in favor of that work for just generating these CLI files automatically.

[2022-05-04 21:26] robert-zaremba commented on #11865
I second Aaron:
 1. it's api breaking, so it won't be backported to any release branch
 2. since the whole thing will change with the new framework design, then probably it's better to continue that work once the new framework interface is out instead of doing it twice.

[2022-05-04 21:35] ValarDragon commented on #11865
As far as I understand, the new framework design doesn't impact most of the keeper structuring, but does improve the `module.go`. Getting other APIs made private / enabling code structure changes in modules seems like a win to me. I feel like APIs being made private, and code quality improvements they enable would be a win within modules. Granted if noone has capacity / interest in doing so, then

[2022-05-05 05:01] ValarDragon opened #11878 "Remove `latest version` tag from README"
## Summary of Bug

Now that more than just the overall SDK is versioned in the repository, we should remove the latest version tag from the README badge. It currently shows cosmosvisor v1.1.0 for instance.

____

## For Admin Use

- [ ] Not duplicate issue
- [ ] Appropriate labels applied
- [ ] Appropriate contributors tagged
- [ ] Contributor assigned/self-assigned

[2022-05-05 11:44] fedekunze commented on #10875
ok this is extremely annoying, can someone fix this lol

[2022-05-05 11:45] fedekunze commented on #10875
cc: @julienrbrt @jleni

[2022-05-05 11:56] julienrbrt commented on #10875
If @jleni does not have time, I can have a look tomorrow 🤔

[2022-05-05 16:51] amaurym opened #11880 "Manual Testing for v0.46"
This issue tracks all v0.46 changes we should be manually testing before the final release. Part of #11096.

This list has been compiled by scanning through the changelog.

# Manual tests

#### Gov/Group

- [ ] `tx gov submit-proposal <json>` with a well-defined JSON
- [ ] All `tx group ...` commands

#### Transaction Tips

- [ ] TODO ask Emeris

#### Other

- [ ] Software Upgrade from v0.45 to v0

[2022-05-05 19:56] ebuchman opened #11881 "Can we make AccAddressFromHex safer?"
Juno seems to have sent funds to a tx hash: https://www.coindesk.com/tech/2022/05/05/typo-moves-36m-in-seized-juno-tokens-to-wrong-wallet/

It looks like they converted a 64-byte tx hash to an address: https://github.com/CosmosContracts/juno/blob/v4.0.0/app/upgrade/upgrade_handler.go#L17-L21

Addresses are 20 bytes, while this thing is 32 bytes. Can we get AccAddressFromHex to panic if the address

[2022-05-05 21:04] webmaster128 commented on #11881
32 byte addresses are perfectly valid these days. Yes, this is the same length as tx hashes. But 32 is common for a lot of things.

Isn't the issue more there source of the data? I'm not familiar with what `junod keys parse juno1nz96hjc926e6a74gyvkwvtt0qhu22wx049c6ph6f4q8kp3ffm9xq5938mr` does, but it does not seem to be bech32 decoding.

Using CosmJS to decode the input, you get a different 32 byt

[2022-05-05 21:13] webmaster128 commented on #11881
Okay, same result in the Go code:

[code]

I guess there is little the software can do about this.

[2022-05-05 21:18] ebuchman commented on #11881
Right thanks, good to know.

What if we just get rid of AccAddressFromHex? Or at least call it Unsafe or something? Seems like it's hardly used.

[2022-05-05 21:22] webmaster128 commented on #11881
Yes. Not sure why `AccAddressFromBech32` was not used. Maybe the global config causes issues in some contexts? In this case it would be good to have an bech32 to bytes converter that ignores the prefix.

[2022-05-05 21:57] giansalex commented on #11881
bech32 could be used perfectly, there was no need to use hex address

[2022-05-05 23:15] odeke-em opened #11882 "Use bufbuild/protoc-gen-validate to add Protobuf Message validation annotations and auto-generate Validate methods"
Internally at Orijtech Inc, our very own @kirbyquerby noted that we should be using https://github.com/envoyproxy/protoc-gen-validate to annotate protobuf Message fields for validation, and then have .Validate methods instead of manually writing validators for every struct in code.

____

## For Admin Use

- [x] Not duplicate issue
- [x] Appropriate labels applied
- [ ] Appropriate contributors ta

[2022-05-05 23:27] aaronc commented on #11882
I've looked at this before and I like the idea. I just don't think this particular tools helps us much - it mostly has validations we don't need and doesn't have the ones we do. I propose we do something similar but design it for our use cases.

[2022-05-06 13:10] okwme commented on #11861
would mean you don't need to install multiple binaries to interact with multiple chains. I think it's not worth the solution in light of what you've outlined though. There's also potential to cause confusion since there's no guarantees that the same messages are available on each chain when only using a single binary.

thanks for the tip!

[2022-05-06 13:10] #11861 closed

[2022-05-06 14:18] marbar3778 commented on #11882
Closing this, we have looked into it as Aaron mentioned. If we come back to it we can open a new issue

[2022-05-06 20:08] jooddang commented on #9406
how's it different from feegrant module? https://docs.cosmos.network/master/modules/feegrant/

[2022-05-06 22:09] #11881 closed

[2022-05-07 10:14] mbreithecker commented on #11382
We are also experiencing a memory leak with cosmos-sdk. Our graph looks very similar to yours. Did you resolve it?

[2022-05-07 13:18] SheydaAshoorian opened #11894 "I wanted to get gas_price for atom transaction from RPC"
I wanted to get gas_price for atom transaction  from RPC .can I do it ?

[2022-05-07 13:36] alexanderbez commented on #11382
Interesting observation. I can't see how or why it would hold onto this memory. Perhaps we should be passing a `HistoricalInfo` without using a pointer?

[2022-05-07 13:53] alexanderbez commented on #11894
You mean a node's minimum accepted gas price? If so, no, that's not currently exposed via the application's API. See https://github.com/cosmos/cosmos-sdk/issues/11582

[2022-05-07 13:53] #11894 closed

[2022-05-08 07:25] #10378 closed

[2022-05-08 14:57] #11878 closed

[2022-05-08 16:18] julienrbrt opened #11898 "`docs.cosmos.network` documentation tracking"
## Summary

This issue tracks the pages of the `cosmos-sdk` documentation for completeness and up-to-dateness checks.
Modules are excluded from this tracking issue as their documentations and specs are updated during code change audits (e.g: #11362).

**All the `docs.cosmos.network` documentation must be reviewed as part of the auditing process.** (e.g: #11096)

## Table of Contents

### - [Introd

[2022-05-09 01:18] aaronc opened #11899 "EPIC: Separate all SDK modules into standalone go modules"
## Overview

This issue outlines a roadmap for breaking up all of the `x/...` SDK modules and `simapp` into standalone go modules using the  [app wiring design](https://github.com/cosmos/cosmos-sdk/pull/11873) .

- [ ] Update the ADR for reflecting the implementation (first draft: https://github.com/cosmos/cosmos-sdk/pull/11873)

## Problem Definition

The key culprit of the SDK not being decompos

[2022-05-09 01:44] alexanderbez commented on #11865
Going to close this for now as it seems to be the consensus. Osmosis can carry on with its approach until the new methodology is ready.

[2022-05-09 01:44] #11865 closed

[2022-05-09 11:06] marbar3778 commented on #4628
closing this as the specs have been updated a few times

[2022-05-09 11:06] #4628 closed

[2022-05-09 11:31] marbar3778 commented on #10281
Reopening as it seems this isn't fixed yet

[2022-05-09 12:00] #11569 closed

[2022-05-09 13:21] alexanderbez opened #11902 "Draft Auto-Compound Rewards ADR"

[2022-05-09 15:00] aaronc opened #11903 "Move <code class="notranslate">simapp.DefaultConsensusParams()` out of simapp (maybe to <code class="notranslate">testutil` or <code class="notranslate">std`)"

[2022-05-09 15:14] aaronc opened #11904 "Setup vanity URL for cosmossdk.io/core go module"

[2022-05-09 15:14] aaronc opened #11905 "Rename container go module cosmossdk.io/depinject"
- [x] setup vanity URL
- [x] refactor code
- [x] tag

[2022-05-09 15:14] aaronc opened #11906 "Rename api module cosmossdk.io/api"
- [x] setup vanity URL
- [x] update codegen (look at all `buf.gen.yaml` and `buf.gen.*.yaml` files in the sdk)
- [x] regenerate api module
- [x] update all dependencies
- [x] tag

[2022-05-09 15:16] aaronc opened #11907 "Refactor container Run to Build"
Currently `container.Run` takes a function with inputs but those inputs are usually used to set variables elsewhere, ex:

[code]

We shouldn't be running any code inside the container function anyway because that just makes error traces more confusing. A more correct and useful pattern would be:

[code]

[2022-05-09 15:22] aaronc opened #11908 "Provide useful error when an interface can't be resolved but there are implementing types in depinject"
Given two interfaces:

[code]

If a depinject provider requires `Foo`, but `FooBar` is provided in the container there will be an error and we won't know that `FooBar` is a possible solution. Depinject should search for all interfaces which implement the required interface and suggest these as options to the user. Ex:

[code]

[2022-05-09 15:24] aaronc opened #11909 "Provide useful error when a type can't be resolved but there are matching types in unreferenced modules"
Similar to #11908, we can provide a useful error when there are app modules outside the container which could satisfy a required interface, for instance:

[code]

[2022-05-09 15:26] aaronc opened #11910 "Allow depinject interface types to be resolved using a key"
## Problem Definition

Currently depinject dependencies must be exact matches so the expected keepers paradigm will no longer work.

For example, say the bank module provides `bank.Keeper` and the nft module wants to require `nft.ExpectedBankKeeper` which is a sub-interface of `bank.Keeper`. Depinject can't resolve this dependency. In #11908, we propose that the keeper should suggest `bank.Keeper`

[2022-05-09 15:32] aaronc opened #11911 "Allow depinject interface type resolution to be configured per module"
## Problem Definition

In https://github.com/cosmos/cosmos-sdk/pull/11873#issuecomment-1117927281, @ValarDragon points out there are cases where a different instance of the same keeper interface needs to be provided to different modules.

## Proposed Solution

In #11910, we propose allowing matching depinject interface types to be resolved using a `key` to enable the "expected keepers" pattern. Th

[2022-05-09 16:17] marbar3778 commented on #3558
this will be part of the cli v2 work.

[2022-05-09 16:17] marbar3778 commented on #11775
ref https://github.com/cosmos/cosmos-sdk/issues/3558

[2022-05-09 16:17] #3558 closed

[2022-05-09 16:19] marbar3778 commented on #3537
reopen if still applicable

[2022-05-09 16:19] marbar3778 commented on #3511
https://docs.cosmos.network/master/basics/query-lifecycle.html#query-lifecycle

closing due to docs on query life cycle

[2022-05-09 16:20] marbar3778 commented on #3493
reopen if still applicable

[2022-05-09 16:20] #3493 closed

[2022-05-09 16:21] marbar3778 commented on #3480
this was recently refactored for store v1.

[2022-05-09 16:21] #3480 closed

[2022-05-09 16:22] #3448 closed

[2022-05-09 16:23] marbar3778 commented on #3288
@alexanderbez you still got this right?

[2022-05-09 16:24] marbar3778 commented on #3273
@cwgoes @ValarDragon is this still relevant?

[2022-05-09 16:26] marbar3778 commented on #3257
closing as you can pick your paths for keys currently in the sdk

[2022-05-09 16:26] #3257 closed

[2022-05-09 16:30] marbar3778 commented on #4229
reopen if still applicable

[2022-05-09 16:30] #4229 closed

[2022-05-09 16:31] marbar3778 commented on #4153
reopen if still applicable

[2022-05-09 16:31] #4153 closed

[2022-05-09 16:32] #4106 closed

[2022-05-09 16:35] #4939 closed

[2022-05-09 16:37] cwgoes commented on #3273
oh boy - if it hasn't been done yet this would still be a nice little improvement!

[2022-05-09 16:38] marbar3778 commented on #4804
reopen if still applicable

[2022-05-09 16:38] #4804 closed

[2022-05-09 16:41] #4671 closed

[2022-05-09 16:42] marbar3778 commented on #4653
twas updated

[2022-05-09 16:42] #4653 closed

[2022-05-09 16:44] marbar3778 commented on #4545
reopen if still applicable

[2022-05-09 16:44] #4545 closed

[2022-05-09 16:44] #4519 closed

[2022-05-09 16:45] #4492 closed

[2022-05-09 16:45] #4442 closed

[2022-05-09 16:57] marbar3778 commented on #11639
closing due to no answer, if you are still running into the issue, feel free to tag me in discord [@]Marbar#0350

[2022-05-09 16:57] #11639 closed

[2022-05-09 16:58] #11605 closed

[2022-05-09 22:21] alexanderbez commented on #3288
Yes, but this is pretty low-pri, given everything else we have.

[2022-05-10 00:50] aaronc opened #11917 "Consider renaming container.Option"
When working with the container, `Option` seems like a weird name for what this does. It's really the core set of instructions to build the container. Maybe `Config` or `Initializer`?

[2022-05-10 02:10] larry0x commented on #10081
I had exactly the same error and can confirm @rdpnd's comment solves the issue (API and gRPC cannot be both disabled in `app.toml`).

[2022-05-10 10:50] anilCSE opened #11919 "Add example implementation for mint's `InflationCalculationFn` to SimApp"
## Summary

Now with https://github.com/cosmos/cosmos-sdk/pull/10441, app developers have an option to set custom inflation function to override default mint module's infaltion calculation function.

We don't have any example implementations to make it easy for app developers to use it.
## Proposal

Adding a simple `ExampleInflationCalculationFn` in SimApp would help the developers to use this fea

[2022-05-10 13:24] #11907 closed

[2022-05-10 13:53] marbar3778 commented on #11324
closing in favour of #11902

[2022-05-10 13:53] #11324 closed

[2022-05-10 14:30] facundomedica commented on #11917
+1 on `Config`, which looks consistent with what we have in other places in the SDK

[2022-05-10 16:18] julienrbrt commented on #4937
This seems resolved per @charleenfei comment. If you still think this should be implemented, please re-open.

[2022-05-10 16:18] #4937 closed

[2022-05-10 17:14] p0mvn opened #11923 "flaky test: TestSnapshotWithPruning"
## Summary of Bug

A test-race failure was observed in CI: https://github.com/cosmos/cosmos-sdk/runs/6372160448?check_suite_focus=true

Upon initial investigation, it was concluded that the test is likely to be flaky. Tried rerunning the test 5 times locally and was not able to reproduce.
[code]
Making this issue to keep track of the problem, in case it happens again.

This is the conclusion from

[2022-05-10 17:14] p0mvn commented on #9010
Please consider adding here to track: https://github.com/cosmos/cosmos-sdk/issues/11923

[2022-05-10 17:24] facundomedica commented on #11919
I think this can be solved via docs, as there's a default function that can be really helpful to look at:

https://github.com/cosmos/cosmos-sdk/blob/40b59537eb0edcfc8f2732c99da1ea725919b78b/x/mint/types/genesis.go#L14-L17

Modifying the [NextInflationRate section](https://docs.cosmos.network/main/modules/mint/03_begin_block.html#nextinflationrate) might be the way to go.
What do you think?

[2022-05-10 17:40] dwedul-figure commented on #11859
I can also pick this up if you'd like. Just let me know.

[2022-05-10 17:41] alexanderbez commented on #11859
@dwedul-figure go for it! Just make sure we have a migration for it as well 👍

[2022-05-10 21:05] aaronc opened #11925 "Remove container graphviz dependency"
The container module currently uses https://pkg.go.dev/github.com/goccy/go-graphviz which is convenient because it can generate SVG's and PNG's out of the box. But it also uses cgo to call the actual graphviz library which doesn't work on ARM it seems. And the footprint is pretty big.

I suggest refactoring to something lighter weight that is pure go like https://pkg.go.dev/github.com/emicklei/dot

[2022-05-10 22:10] facundomedica opened #11926 "Fix flaky test: TestRejectedProposalDeposits"

[2022-05-11 02:23] shenyue001 opened #11928 "x/upgrade excuted renamed module not working"
## Summary of Bug
we have a module renamed, just renamed:
- old-module
- new-module

Today we ran an automatic upgrade using the `x/upgrade` module.
[code]
After the upgrade, we found that `new-module` data has been created, but get nothing when execute the query command since the data version is lower than current height.
we debug the upgrade and found some thread:

1. We found `new-module data`

[2022-05-11 07:23] crodriguezvega commented on #11898
For IBC I would recommend that you remove all content from the SDK docs and you just have a link to redirect the user to [ibc-go's own documentation website](https://ibc.cosmos.network).

[2022-05-11 08:27] anilCSE commented on #11919
That sounds reasonable

[2022-05-11 09:30] julienrbrt commented on #10896
Closing for now. You are welcome to re-open if you're still encountering this issue.

[2022-05-11 09:30] #10896 closed

[2022-05-11 11:23] #11793 closed

[2022-05-11 12:00] yaruwangway opened #11931 "cosmovisor pre-upgrade not found"
## Summary of Bug

I upgrade simd from v0.45.0  (tendermint 0.34) to v0.46(tendermint 0.35), with `cosmovisor pre-upgrade` to run the tendermint key  migration.

get err log `pre-upgrade command does not exist. continuing the upgrade. module=cosmovisor`

when if i manually do `cosmovisor pre-upgrade`, the key-migration which i put in pre-upgrade handler  `HandlePreUpgrade()` will run.

this seems

[2022-05-11 14:40] aaronc opened #11935 "Consider renaming container.AutoGroupType"
This seems unintuitive. `container.OnePerModuleType` is clearer. Maybe `container.AutoGroupType` can become `container.ManyPerContainerType` or something?

[2022-05-11 14:47] alexanderbez commented on #11931
@julienrbrt does this seem familiar to you?

[2022-05-11 14:50] julienrbrt commented on #11931
Hey, which version of `cosmovisor` are you using?

[2022-05-11 14:59] facundomedica opened #11936 "x/gov client deposits tests are wrong"
## Summary

While debugging #11926 (from #9010) I realized that the entire file (might) contain tests that don't test what they say. I'll explain below and wait for comments to see if this requires fixing.

`TestQueryDepositsWithoutInitialDeposit` is supposedly waiting for the voting period to end but then goes and queries the deposits. This means that both the "wait for voting period to end" and

[2022-05-11 15:02] yaruwangway commented on #11931
v1.1.0

[2022-05-11 15:37] aaronc opened #11937 "Consider renaming the container module"

[2022-05-11 15:49] aaronc commented on #11937
Closing and just putting this in #11905

[2022-05-11 15:50] aaronc commented on #11905
I think maybe we should rename this away from `container`

The name does not feel super-intuitive to me. It could be any sort of container like a map or list data type. The fact that it is a dependency injection container is not obvious.

Maybe we can think of something better when we move to `cosmossdk.io`?

[2022-05-11 16:21] yaruwangway opened #11939 "simd keys list"
## Summary of Bug
when  build simd from v0.45, when do `simd keys list` , i get
`Error: Bytes left over in UnmarshalBinaryLengthPrefixed, should read 10 more bytes but have 163`
machine: mac

i used linux, then it is not a problem, this also happens recently when we bump gaia version to sdk 0.46.

## Version

## Steps to Reproduce

____

## For Admin Use

- [ ] Not duplicate issue
- [ ] Appropriat

[2022-05-11 16:22] cmwaters commented on #10281
There was a small problem with blocksync which persisted the block before validating it and thus could leave it in a state whereby calling `rollback` wouldn't be able to fix it. We've solved it now (https://github.com/tendermint/tendermint/pull/8223).

As a more general comment, there are really two forms of "rolling back" in Tendermint that I think it's important to distinguish:
1) A single node

[2022-05-11 16:39] alexanderbez commented on #11905
What do you have in mind?

[2022-05-11 16:52] facundomedica commented on #11936
After talking with @alexanderbez I'm sure that deposits always get deleted once the proposal ends.

https://github.com/cosmos/cosmos-sdk/blob/1715693ca22b4c07ced885ff8c2fed876c5d4ce4/x/gov/abci.go#L52-L56

So I'll open a new PR removing the bad tests and hopefully adding a new one

[2022-05-11 17:06] glnro commented on #11939
I can confirm running the following

[code]

[2022-05-11 17:07] yaruwangway commented on #11939
@alexanderbez , local key, `keyring-backend test`, this is an issue from [testing tendermint key-migration by cosmovisor pre-upgrade](https://github.com/cosmos/cosmos-sdk/issues/11931).

i did not change my key or anything, it was working with simd v0.45 to show the key, it suddenly does not work , i wonder if it is because i did tendermint key migration.

does tendermint key migration also migrat

[2022-05-11 17:08] yaruwangway commented on #11939
@glnro can you try simd v0.46, to list the keys.

[2022-05-11 17:12] glnro commented on #11939
I had no problem doing the same with `0.46.0-beta2`

[2022-05-11 17:14] yaruwangway commented on #11939
confirmed from tendermint team, this is not related to tendermint key migration !

[2022-05-11 17:23] glnro commented on #11939
Fwiw no problem running this on `v7.0.2` of gaia, just simapp

[2022-05-11 17:46] aaronc opened #11943 "Better error for unexported fields with container.In/Out"
`container.In` and `container.Out` allow using struct fields for dependency provide inputs and outputs.

If an unexported field is in one of these structs, the container still tries to use it and go just panics.

The container should report an error and tell the user which field is the problem. We could consider just skipping unexported fields, but this might lead to more unexpected behavior. Prob

[2022-05-11 17:50] marbar3778 commented on #11939
@amaurym I saw you are looking at the crypto package. Did you come across anything special?

[2022-05-11 18:18] #11936 closed

[2022-05-11 18:18] #11926 closed

[2022-05-11 18:51] ethanfrey commented on #10281
I think solving (1) well is the main use case too. It should be "easy" to recover from some non-deterministic app.

(2) will likely require some dump state and export type thing and I think it is fine to make this a manual issue for now

[2022-05-11 19:28] aaronc opened #11944 "Write container README.md docs"
As a follow-up to #11934, fill out the Overview and Usage sections of container/README.md

[2022-05-11 21:54] yihuang commented on #10281
it should be fixed by https://github.com/cosmos/cosmos-sdk/pull/11361

[2022-05-11 23:25] devkhalil1337 commented on #11625
@marbar3778 can you please to the thread? I'm having the same issue

[2022-05-12 00:11] luca992 commented on #11625
@devkhalil1337 I don't really have time to write up how rn. But, I figured it out here: https://github.com/eqoty-labs/secretk/blob/7b0e3f222a82afa09db9b922c334badf9978801c/src/commonMain/kotlin/io/eqoty/client/SigningCosmWasmClient.kt#L126

if you step through my code you can see how I'm building it.

Or if js is easier. I figured it out based on the secret.js code: https://github.com/scrtlabs/sec

[2022-05-12 06:31] #11919 closed

[2022-05-12 08:52] glnro commented on #11939
Update, when working off of sdk `v0.46.0-beta2` in our rho base branch, I encounter the following when trying to set up a local chain:

[code]

[2022-05-12 09:20] glnro commented on #11939
@alexanderbez btw these are all new keys

[2022-05-12 09:21] amaurym commented on #11939
Hey @glnro and @yaruwangway, I can take a look at this issue.

I can think of 3 scenarios:
1. Create a key using v0.45, and `simd keys list` using v0.45 errors (Repro: https://github.com/cosmos/cosmos-sdk/issues/11939#issuecomment-1124027052)
2. Create a key using v0.46, and `simd keys list` using v0.46 errors (Repro: https://github.com/cosmos/cosmos-sdk/issues/11939#issuecomment-1124708670)
3. Cr

[2022-05-12 09:25] yaruwangway commented on #11939
so it seems the decoding of keys by v0.45 is not compatible with other version keys.

[2022-05-12 10:45] marbar3778 commented on #10925
We will push this from 0.46 to a later release due to a tight timeline

[2022-05-12 10:48] marbar3778 commented on #11209
closing in favour of https://github.com/cosmos/cosmos-sdk/issues/11939

[2022-05-12 10:48] #11209 closed

[2022-05-12 12:05] amaurym commented on #11939
@yaruwangway In v0.46 we migrated from amino to protobuf. Doing what you say would require writing additional logic to migrate from proto back to amino, which I would like to avoid.

What's your use case to list v046 keys using a v045 node?

[2022-05-12 12:09] glnro commented on #11939
@amaurym  I think one of the issues I'm running into for example is I've created keys on my local machine while testing with both binaries as we've had to go back and forth with versions during our work. Still trying to figure out how this is affecting our e2e test and I'm writing another test to confirm what you posted above.

[2022-05-12 12:12] yaruwangway commented on #11939
list v046 keys using a v045 node:
`Error: Bytes left over in UnmarshalBinaryLengthPrefixed, should read 10 more bytes but have 164`

 list v045 keys using a v046 node: works!

 list v045 keys using a v045 node: works!
 list v046 keys using a v046 node: works!

[2022-05-12 12:21] amaurym commented on #11939
The case "list v046 keys using a v045 node" is not expected, and should fail. Users shouldn't be able to show newer keys with older software.

[2022-05-12 12:25] yaruwangway commented on #11939
ok, thank you!

[2022-05-12 13:54] #11906 closed

[2022-05-12 15:40] facundomedica commented on #11468
This is a duplicate of https://github.com/cosmos/cosmos-sdk/issues/4226

[2022-05-12 17:00] #11925 closed

[2022-05-12 17:08] robert-zaremba commented on #11931
This is a bug. We must run pre-upgrade command with a new binary.

[2022-05-12 17:32] JayT106 opened #11952 "x/upgrade: no checks the state and app height matching with the block height"
## Summary of Bug
We observed an issue when the cosmovisor ran the previous binary (SDK v0.44.3) and has an error happening during the plan executing height `H`, in our case, we had a file permission issue (it's an operating issue, not the SDK) so the block at `H` was not able to commit, the app/consensus state will become `H - 1`. And we see the error like:
[code]
Checked the `wal` log, the it al

[2022-05-12 17:43] alexanderbez commented on #11952
Shouldn't `H` be committed with the only binary?

[2022-05-12 17:47] JayT106 commented on #11952
Yes, it was committed. but looks like failed because of the error I posted.

[2022-05-12 21:01] devkhalil1337 commented on #11625
thanks for the reply @luca992 I tried but unable to understand I'd appreciate if you can share the exact payload here for the new endpoint

[2022-05-13 00:39] facundomedica commented on #9982
Can this be closed?

[2022-05-13 00:46] facundomedica commented on #10278
This looks answered, feel free to open it again if you feel like it wasn't :)

[2022-05-13 00:46] #10278 closed

[2022-05-13 01:04] facundomedica commented on #10409
Ref: https://github.com/nhooyr/websocket/pull/332 (looks unmaintained 😢 )

[code]

[2022-05-13 01:11] facundomedica commented on #10569
@puneetsingh166 I have the feeling that you are encountering a slash/jail by the Gravity Bridge module, have you tried without it? Or even easier, change these values to something like `1234` and check if the halt height is different.

So Gravity must be jailing that validator and because it holds so much power, the chain can't continue creating blocks.

[code]

[2022-05-13 04:04] solitarysp opened #11953 "How to verify signature"
I need to verify signature, I can't find that method in SDK. How do I do that?

[2022-05-13 12:49] amaurym opened #11955 "Make middlewares less confusing"
## Summary

Reconsider the middleware "decorator" approach as described in [ADR-045](https://github.com/cosmos/cosmos-sdk/blob/v0.46.0-beta2/docs/architecture/adr-045-check-delivertx-middlewares.md) in favor of a less confusing model.

## Problem Definition

Multiple feedback concur that middlewares are hard to reason about (cf Bez, Amaury, [Yihuang](https://github.com/cosmos/cosmos-sdk/pull/11942

[2022-05-13 14:05] alexanderbez commented on #11953
https://github.com/cosmos/cosmos-sdk/blob/v0.45.4/x/auth/ante/sigverify.go#L231

[2022-05-13 14:05] #11953 closed

[2022-05-13 14:36] alexanderbez commented on #11955
I like the proposal, but personally, I would still love to see a sequential approach rather than recursive one. Its so much easier to reason about when you know the ordering and execution stack of the middleware. Does proposal (1) still use a recursive approach?

I'll also post this here as it might be useful. Osmosis did something similar with respect to EndBlock and BeginBlock: https://github.co

[2022-05-13 14:40] amaurym commented on #11955
Not necessarily. Actual proposal 1 is similar to what you described in Osmosis: you define relative ordering of middlewares (see `Example`), and the SDK figures out the global ordering.

[2022-05-13 15:08] aaronc commented on #11955
I think having a topological sort of a dependency graph is going to be the more correct approach for begin/end blocker, init chain, and ante/middleware ordering. Otherwise, you need to drop the idea of independent components altogether.

I agree we should drop the wrapping behavior and just have things execute one after the other (or even in parallel in the future) based on dependency order. If th

[2022-05-13 15:26] alexanderbez commented on #11955
Great, do you think proposal (1) is inline with that? I'd like to use something clean and simple.

[2022-05-13 16:03] amaurym commented on #11955
@aaronc Your `reflect.Type`-based proposal seems elegant, but for me it also seems like magic.

We could also give a name (`string`) to each middleware, and define proposal (1)'s dependencies using strings, arrays and maps.

[2022-05-13 17:02] aaronc commented on #11955
I'm concerned that strings are hard to coordinate around and don't force good specification. Actually passing dependencies is more explicity even if it's "magic"

[2022-05-13 18:03] luca992 commented on #11625
first your actual payload should look like:

[code]

[2022-05-13 18:26] luca992 commented on #11625
<img width="630" alt="Screen Shot 2022-05-13 at 2 10 01 PM" src="https://user-images.githubusercontent.com/4157455/168342556-00c60100-6346-4d52-b157-91dd026e00fc.png">
<img width="624" alt="Screen Shot 2022-05-13 at 2 08 36 PM" src="https://user-images.githubusercontent.com/4157455/168342352-c15e7b66-3228-45ee-9742-28edd97ec9f5.png">

to build `tx_bytes`. I am encoding a protobuffer to a byte arra

[2022-05-13 20:07] RaspiRepo opened #11957 "x/upgrade segmentation violation crash"
## x/upgrade.BeginBlocker:  ctx.ConsensusParams().Version.AppVersion  `<nil>`

Here `AppVersion` is optional field as per tendermint-SDK but cosmos-sdk **upgrade** module debug lines trying to access `AppVersion` filed and leading to upgrade process to crash, unable to recover chain application once get into this issue

[code]

### trace

[code]

## Version

go: go version go1.17.6 darwin/amd64
bu

[2022-05-13 20:12] luca992 commented on #11625
It'd be `tx_bytes` not `tx`

But, looks approximately right to me. You are going to have to encode all of those sub-objects with `@type` to protobufs byte arrays

[2022-05-13 21:47] #11655 closed

[2022-05-14 12:20] SheydaAshoorian opened #11961 "get fee or gas_price"
how can we get Fee or gas_price from network? or we must estimate them base on done transactions on mainnet? we can get gas_price of terra from FCD . cosmos has any api?

[2022-05-15 03:31] qlfgggggg opened #11962 "I have 146 results,but only 100 results are shown"
## Summary

## Problem Definition
http://127.0.0.1:10000/cosmos/tx/v1beta1/txs?events=tx.height=7621596&pagination.key=eyJoYXNoIjoiOUdBVG9selB4ZDlEX1BFUERKYl9CQ0QtU1dUamN5cXpub3JhZ1JxLUE1USJ9&pagination.count_total=true&events=message.action='/cosmos.bank.v1beta1.MsgSend'

## Proposal

____

#### For Admin Use

- [ ] Not duplicate issue
- [ ] Appropriate labels applied
- [ ] Appropriate contributo

[2022-05-15 03:31] qlfgggggg commented on #11962
"pagination": {
    "next_key": null,
    "total": "146"
  }

[2022-05-15 06:52] ValarDragon opened #11963 "Make submit proposal --type field not case sensitive."
## Summary

`--type=Text` in governance proposal submissions should not require Text to be case sensitively written. Or at lieast if it does, it should output a human readable selection of options, rather than just `Error: invalid message: can't proto marshal <nil>`

## Problem Definition

This is a UX nightmare and has wasted so many hours of smart validators and developers in cosmos who want to

[2022-05-16 08:01] zmanian opened #11965 "Proposer Slashing"
During the Terra collapse, we observed a very large number of invalid transactions in proposed and confirmed blocks. ZKValidator

An assumption in Cosmos has been that block proposers would be running

There included

- Duplicate transactions posted in multiple blocks and in same blocks.
- Transactions with invalid sequence numbers

The default mmpool behavior should minimize the number of transac

[2022-05-16 09:09] Zhangguiguang commented on #10818
Still facing the same issue, not fixed.

[2022-05-16 11:20] julienrbrt commented on #11963
Good point!

Hopefully, https://github.com/cosmos/cosmos-sdk/issues/11489 will improve the UX even better!

[2022-05-16 13:17] alexanderbez commented on #11961
You cannot. Full nodes do not expose their local min fee configurations. There is an issue to track this and might be exposed via a gRPC query.

[2022-05-16 13:17] #11961 closed

[2022-05-16 13:23] amaurym opened #11970 "Implement SIGN_MODE_TEXTUAL"
## Summary

Implement SIGN_MODE_TEXTUAL as described in #10701. If you want to help, please contact @amaurym to be part of the working group.

[Board view](https://github.com/orgs/cosmos/projects/26/views/21)

## Proposal

We propose to do Golang and JS implementations in parallel, and update the SPEC if anything needs to be changed.

### Step 1: Value Renderers `Format`

See specification in ADR-

[2022-05-16 13:32] facundomedica commented on #11962
You need to pass a `limit` param. When that's not present, we use `DefaultLimit` which is 100. Please reopen if this is not your case.

[2022-05-16 13:42] alexanderbez commented on #11965
Yeah, so the gist is here to slash a validator given that they have included a tx that failed during the AnteHandler phase during `DeliverTx` under __certain__ conditions, right?

[2022-05-16 13:42] alexanderbez commented on #11965
ref: https://github.com/cosmos/cosmos-sdk/issues/10917

[2022-05-16 13:44] alexanderbez commented on #10917
Is this work really that complicated? It seems extremely trivial to me, unless I'm missing something...?

1. Add a new x/gov param that controls quorum for proposal types
2. Implement `SlashValidatorProposal` which is just calls `Slash` with proposal defined values (i.e. validator, amount, etc...)

[2022-05-16 13:47] alexanderbez commented on #10818
AFAIU, there is working planned or currently being done, labelled Keystone, that is refactoring the entire Keyring architecture.

[2022-05-16 13:49] #11963 closed

[2022-05-16 13:51] aaronc commented on #11965
The key thing is to distinguish between things which can succeed in checktx but fail during delivertx. For instance gas can change because it's dependent on state. Having sufficient funds for fees could change under certain conditions. Signature verification should never fail (unless we implement ADR 034). Not dealing with these distinctions correctly opens up another attack surface on validators

[2022-05-16 13:51] #11591 closed

[2022-05-16 13:53] alexanderbez commented on #11965
Correct, this is an implicit assumption, but should be stated clearly in the ADR>

[2022-05-16 14:46] aaronc commented on #11955
Either way I think we should probably postpone a dependency graph solution till after v0.46.

In the meantime, should we be making a change to what we're doing in 0.46? Maybe moving to a simple ante and post handler approach where each of those has store branching would be an improvement?

[2022-05-16 15:08] alexanderbez commented on #11489
I would lean towards not blocking

[2022-05-16 15:10] alexanderbez commented on #11955
Yes, absolutely. The flow and model is just way too confusing...too much recursion. This is what I recommended to @amaurym  -- release v0.46 with the caveat that middleware is subject to API breakage. So I recommend we refactor it while releasing 0.46, but only a medium term slightly better refactor, while we work on a more permanent solution later.

[2022-05-16 15:22] amaurym commented on #11955
That could work. It solves problem 2 in OP, but not 1. We can think of middleware dependencies later.

Alternatively, my preferred solution would be to revert _all_ middleware changes, do branching in baseapp like before, and add a new posthandler in baseapp for tips. It's an even bigger step backwards, but at the end of the day it's less API-breaking changes, and probably safer too (less code cha

[2022-05-16 17:21] ValarDragon commented on #11955
I'm very in favor of:
- Separate AnteHandler and PostHandlers
- Dependency graph solutions (I quite like it in osmosis =) ), I'm happy to upstream the constituent packages to the SDK if we want to ease testing out API's with them. (We can put it in an internal package, so we'd have no concerns around API promises)

[2022-05-16 17:24] Percronos opened #11976 "unmarshal to legacytx.StdTx failed after 0 bytes (Tx partly decoded)"
Hey team,

I'm trying to unmarshal the Tx received by the JSON RPC methods.
Following some documentation, the code is quite simple:

[code]
The Tx is partly decoded but still send some error:

`unmarshal to legacytx.StdTx failed after 0 bytes (Unregistered interface types.Msg): DF01282816A90A5B9C9593460A1466D105CA088AC56A4B8BCE92F4A2A5B7307CC7FD1214C93451C7C84998646950BD46FB2C3CC57411487B1A144DC7E

[2022-05-16 18:14] SheydaAshoorian commented on #11961
@alexanderbez  how can I estimate gas_price ?

[2022-05-16 20:47] alexanderbez commented on #11976
[code]

This is not correct. You cannot use `leg.StdTx`. You have to use the app's codec and unmarshal via the codec to a `sdk.Tx` type.

[2022-05-16 20:48] devkhalil1337 commented on #11625
Thanks again for your time @luca992

broadcast Object :

[code]

then converting it to base64
`Buffer.from(JSON.stringify(broadcast)).toString('base64')`

Final Payload:

[code]

Response:

[code]

[2022-05-16 21:00] luca992 commented on #11625
That won't work. You are encoding json to a byte array. You need to build a protobuffer object that contains that data. Then encode the protobuffer to a byte array

[2022-05-16 22:39] Percronos commented on #11976
Thanks for your answer !
Now, I'm using a sdk.Tx, but I get an error:
`Unregistered interface types.Msg
`
I guess I'm not using the right codec, I'll double check.

Thanks again

[2022-05-17 01:44] alexanderbez commented on #11976
You need to be sure that you're using the app's codec. E.g. the one for Gaia (Cosmos Hub) is [here](https://github.com/cosmos/gaia/blob/v7.0.2/app/encoding.go#L10)

[2022-05-17 12:28] Percronos commented on #11976
Brillant, thanks for your help.

[2022-05-17 12:28] #11976 closed

[2022-05-17 13:37] #11957 closed

[2022-05-17 13:50] facundomedica commented on #11935
While I was studying the container package I saw this issue :)

[2022-05-17 14:13] facundomedica commented on #11935
Yes, my thought is that `AutoGroup` describes "what happens to it" while `ManyPerContainer` describes "what you can do with it" which IMO is what you want to know when you are implementing it; so you don't really care how it's being handled internally.
That being said, I'm still wrapping my head around the container package and how to implement it, so I might be very wrong ☝️

[2022-05-17 17:36] nooomski commented on #11489
Would also suggest not blocking on this.

I love the UX around solution 2, but would echo Aaron in that it's important all message types are supported.

Two more questions:
1. I guess this wouldn't include composing multiple messages into one proposal, right?
2. Would be great if this could also be used for Groups.

[2022-05-17 17:41] nooomski commented on #11489
Additionally, and this is obviously a _nice to have_: was thinking it would be great UX if we could somehow turn this into a prompt aside from the command. I think something like this makes a lot of sense for gov (and group!) proposals. Example:

[code]

Marie suggested a first version of this could be a generated json file with empty fields that the user would have to manually input in the file.

[2022-05-17 18:26] technicallyty opened #11980 "ORM: DeleteRange deletes entries with nil index fields"
## Summary of Bug

Given a table that generates a pointer field, and creating an ORM index on that field:

- Executing a `Get`  will fetch the object with the field as nil
- Executing a `DeleteRange` with a 0'd value index, will delete any entry with the corresponding field as `nil`

## Version

[orm/v1.0.0-alpha.12](https://github.com/cosmos/cosmos-sdk/releases/tag/orm%2Fv1.0.0-alpha.12) and all

[2022-05-17 19:01] aaronc commented on #11980
Is this mainly about time stamps and durations? Not sure I totally understand what's happening here

[2022-05-17 19:32] technicallyty commented on #11980
Yeah the bug was found with a timestamp index field, but i assumed it extend to any field that generates a pointer to a struct similar to timestamps/durations.

basically, `nil` timestamps are getting treated as 0 value timestamps. not sure if thats intentional actually 🤷🏻

[2022-05-18 06:22] werlang commented on #11894
Actually, I spent my entire day looking for this as well, without success.
There must be a way of knowing the gas price of an already mined transaction.
When you open a tx in a block explorer, like mintscan you can see the gas price paid for that tx.

Is there any clue how I can get this information?

[2022-05-18 09:59] amaurym opened #11984 "Investigate group invariants violation in CI tests"
## Summary of Bug

CI `test-sim-nondeterminism` showed a `group policies: unique constraint violation` invariant broken.

## Version

- PR: https://github.com/cosmos/cosmos-sdk/pull/11979
- CI run: https://github.com/cosmos/cosmos-sdk/runs/6476126161?check_suite_focus=true#logs=

## Steps to Reproduce

It's non deterministic, might only happen on some seeds. It would be good to investigate if:
- u

[2022-05-18 13:44] alexanderbez commented on #11894
Fee is there, gas price is not, as I mentioned above you can figure it out based on the formula.

[2022-05-18 14:08] #10312 closed

[2022-05-18 14:13] alexanderbez commented on #11894
That's because you're using the Tendermint RPC, not the App's API. See here: https://lcd-cosmoshub.blockapsis.com/cosmos/tx/v1beta1/txs/5B5391F7860C8B7E6E14EFFB73C1F110F1674A4E7D8694A5C9C72D94C567B97B

[2022-05-18 14:56] robert-zaremba commented on #11955
I wouldn't call it recursion: a middleware doesn't call itself. It wait's for other downstream middleware to complete and continue it's execution.

[2022-05-18 14:56] werlang commented on #11894
For some reason I thought it was better using the rpc endpoints. But for this case, it obviously is not.
Thanks for the info.

[2022-05-18 15:01] robert-zaremba commented on #11955
Many projects were asking and updating their code for the _new middleware_ design. This will be a pain to do the revert and redo the work.

[2022-05-18 15:06] alexanderbez commented on #11955
It is 100% recursion..you're literally calling `next` in each handler. It was also really poorly designed IMO, not to mention implemented incorrectly as mentioned initially (state not being reverted). With the proposed fix by @amaurym it made it even more confusing.

[2022-05-18 15:16] alexanderbez commented on #11955
Yes, technically that's true, but AnteHandlers were always ordered and executed sequentially (`AnteDecorator`)and didn't have this pre/post nonsense that makes it nearly impossible to reason about.

[2022-05-18 15:33] robert-zaremba commented on #11955
Exactly, anthehandlers recuse but the good feature is that they user tail recursion, so correct - it's easy to reason.

Personally I like the pre / post approach - it makes it powerful. However I agree it can create bugs if people don't think about it.
Maybe good a very good documentation and a diagram about all core middlewares + important `NOTE` for about the middlewares would be a good interim

[2022-05-18 16:08] #11362 closed

[2022-05-18 16:31] marbar3778 commented on #9438
@blushi could this be closed?

[2022-05-18 16:31] marbar3778 commented on #7633
With the audit issue closing can this be closed as well @blushi ?

[2022-05-18 17:22] robert-zaremba commented on #11955
I don't think reverting to anthe handlers is a good solution. Ante handler implementation is more complex and it is "dirty" (involves tangled code which breaks the modularity - see the `simulate` flag)

Moreover, Antehandlers don't solve problem 1:

Antehanders must be correctly ordered as well.

I would claim that it doesn't solve the problem 2 either:

Ante handlers use the `defer + recover` sta

[2022-05-18 18:55] robert-zaremba commented on #11955
I wrote more analysis here: https://hackmd.io/UY-Xh1gBQTmK95WXjJ_anw with motivation AGAINST Antehandlers.

[2022-05-18 19:57] robert-zaremba commented on #10014
I don't see a clear win of _Expedited Governance_ over a hot update with validators / hard fork.
* even if _Expedited Governance_ is up and working, a communication with validators must be established
* I think it's good to keep voting period short anyway: ~5days.
* With Expedited Governance we still need to have long enough voting period. Some hot fixes will need to be shipped _immediately_ - hen

[2022-05-18 20:25] dalmirel opened #11990 "x/authz spec improvement: add pruning of expired grants feature details"
## Summary of Issue
During the specification and code inspection of authz module (as a part of the audit process that includes model-based testing) I have found that specification markdown files are missing important information (in my opinion) about pruning of expired grants' logic in Begin Blocker function.
It was agreed with @amaurym to open an issue for a suggestion to add additional details,

[2022-05-18 20:33] facundomedica commented on #11935
I gave this some thought and I think `ManyPerContainer` works better, at least it's more consistent with `OnePerModule`. If you agree feel free to merge the PR, I was holding back that until we come to a conclusion

[2022-05-18 21:02] aaronc commented on #11935
Sounds good let's merge

[2022-05-18 21:20] #11935 closed

[2022-05-19 01:57] zeroFruit opened #11991 "Question: How to generate code of `proto/` without Ignite CLI (can't find `buf.gen.yaml`)?"
I want to generate code of `proto/` without Ignite CLI. But I can't find the `buf.gen.yaml` on the repo.
How can I generate code?

[2022-05-19 03:59] anilCSE commented on #11928
Can you please share your upgrade-handler code?

[2022-05-19 06:05] JGJP commented on #11681
@alexanderbez apologies on the delay getting back on this. You can try this to get the delegations info:
[code]

[2022-05-19 13:29] likhita-809 opened #11994 "running a node with grpc-only mode not working properly"
## Summary of Bug

Starting a node with `--grpc-only` mode results in the following logs:
[code]
No other logs or info is produced further.

While running bank balances query command, it says `connection refused`

## Version

main branch

## Steps to Reproduce

____

## For Admin Use

- [ ] Not duplicate issue
- [ ] Appropriate labels applied
- [ ] Appropriate contributors tagged
- [ ] Contributor

[2022-05-19 13:30] likhita-809 commented on #11994
@alexanderbez could you take a look at this issue since you've worked on this feature https://github.com/cosmos/cosmos-sdk/pull/11430 ?

[2022-05-19 13:39] alexanderbez commented on #11955
@robert-zaremba you have dead links in there so I have no idea what `Antehandlers vs 0.46-beta2 Middlewares` is about or how it's "Better".

As for your alternative, I'm still pretty opposed to it. I really do not like the notion of "pre" and "post" logic being executed in the same context. It's too confusing IMO. While you may argue that it's cleaner and more extensible, I think that's pretty sub

[2022-05-19 13:43] ValarDragon commented on #11955
FWIW, I'm not really a fan of the `next()` api at all. I'd prefer they have a clear ordering, in the way that the `ChainAnteHandlers` currently enforces.

I feel like theres other ways to handling the gas metering panicing, e.g. making a single "gas handling wrapper" around the rest of the ante handler. Such wrapping activities should be very explicitly specified, rather than via post-handling met

[2022-05-19 13:47] alexanderbez commented on #11681
Can you decode that value for me?

[2022-05-19 13:51] alexanderbez commented on #11994
Can you please post the exact request you made?

[2022-05-19 13:51] alexanderbez commented on #11955
Yes, I totally agree @ValarDragon

[2022-05-19 13:52] likhita-809 commented on #11994
These are the steps I followed:
1. Run node normally, transfer some tokens to an account
2. Make sure simd q bank balances $acc works
3. Halt the node and re-run with --grpc-only
4. Again run `simd q bank balances $acc`

[2022-05-19 13:53] likhita-809 commented on #11994
Maybe I'm missing something while testing, can you describe how exactly do we test this ?

[2022-05-19 13:56] alexanderbez commented on #11994
You cannot do this as that's not how it's intended to work. You have to manually execute the HTTP or gRPC request against the node.

[2022-05-19 14:00] likhita-809 commented on #11994
It worked, thanks for the clarification @alexanderbez
I'll be closing this issue.

[2022-05-19 14:00] #11994 closed

[2022-05-19 14:40] odeke-em opened #11995 "math: unify bit length overflow checking code instead of using magic number of 256 then constant in another place, allows negative values and allowing smuggling of negative values in unmarshal"
If we examine this code for math/Uint, we can see this pattern inside (Uint).Unmarshal
https://github.com/cosmos/cosmos-sdk/blob/78cafeeb29d2b59897bcfbb5867019baf9d5c3b0/math/uint.go#L193-L197
which uses the constant for MaxBitLen, well and good!

However, down below for  the helper function UintOverflow, we can see this pattern
https://github.com/cosmos/cosmos-sdk/blob/78cafeeb29d2b59897bcfbb5867

[2022-05-19 14:59] likhita-809 commented on #11994
that justifies my doubt, thanks again @alexanderbez

[2022-05-19 15:01] aaronc commented on #11980
Yep, `nil` is treated as zero value. Does that seem incorrect?

[2022-05-19 15:02] nooomski opened #11997 "CosmJS cannot parse Tx results in v0.46: Invalid string. Length must be a multiple of 4"
## Summary of Bug
The response of any Tx cannot be parsed by CosmJS in `v0.46.0-beta2`. This worked fine in v0.45.x and below. Not sure if this is a bug or due to a breaking change.

After signing and broadcasting the following Tx using CosmJS:

[code]

The `result` throws an error after the Tx has successfully executed:

[code]

## Version

v0.46.0-beta2

## Steps to Reproduce

Get a response fro

[2022-05-19 15:11] aaronc commented on #11980
There is no explicit handling of `nil` values, however. Should we add it for timestamp and duration? I'm not sure what the alternative would be. There is no special encoding of `nil` timestamps and durations - just `0` currently. We could add an extra bit for that if you think it's a problem but it would be breaking

[2022-05-19 15:14] aaronc commented on #11955
Another aspect to the current decision to revert is that we feel that if we're releasing something new, it should be something we want to stick with for a while. That clearly isn't the current state of things and we don't think we'll have a better API ready in a short period of time. So reverting to the previous thing we had working seems better than releasing an API we can't stand behind.

[2022-05-19 15:57] robert-zaremba commented on #11955
@alexanderbez sorry, the links were missing a tag, I've updated them

@ValarDragon almost all Antehandlers are written using the decorator style - so with the `next` parameter.

[2022-05-19 15:58] robert-zaremba commented on #11955
@ValarDragon where the linearization of the handlers/middlewares is not clear?

[2022-05-19 20:28] #11995 closed

[2022-05-19 20:56] #11539 closed

[2022-05-19 21:01] aaronc opened #12003 "Proper tracking of production proto files"
I first addressed this issue in https://github.com/cosmos/cosmos-sdk/discussions/10582#discussioncomment-2524480 and commented briefly on a solution here: https://github.com/cosmos/cosmos-sdk/pull/11993#issuecomment-1132199313.

## Problem Definition

Currently, the main branch has a mixture of proto files which are used in production and still in development. This isn't simply a question of wheth

[2022-05-19 21:08] marbar3778 commented on #11991
here is an example of me doing it with the interchain security repository https://github.com/cosmos/interchain-security/pull/108. It is a bit of a migration but you should be able to use the `buf migrate` command.

feel free to dm or ping me in discord to help further ([@]marbar)

[2022-05-19 21:08] #11991 closed

[2022-05-20 00:08] ItsFunny opened #12004 "with status Expired: client is not active: invalid request"
## Summary of Bug
 err(rpc error: code = InvalidArgument desc = failed to execute message; message index: 0: cannot update client (07-tendermint-0) with status Expired: client is not active: invalid request

## Version
0.44.5

## Steps to Reproduce
rly link  & wait the trustPeriodTime

____

## For Admin Use

- [ ] Not duplicate issue
- [ ] Appropriate labels applied
- [ ] Appropriate contributors

[2022-05-20 00:08] ItsFunny commented on #12004
what should i do next to fix this

[2022-05-20 00:48] ValarDragon commented on #11955
I view that v0.46.0 failed to revert fees upon signature failure as linearization of state reversion logic being very unclear

[2022-05-20 05:34] #12004 closed

[2022-05-20 07:45] alpe commented on #8503
There have been state export/imports without issues in the wild.  The `simapp.Setup` does call init indeed. Thanks for looking into this!

[2022-05-20 07:45] #8503 closed

[2022-05-20 13:53] alexanderbez commented on #12003
Going to ask some silly questions first...

So why are they called `*beta*` then and not have beta removed?

So why are they called `v1` then if they're not stable?

Also, to look at what's in production, why not just look at the latest tag(s) released?

[2022-05-20 14:09] alexanderbez commented on #12003
So re-reading this, is the idea that `release/api` only used for canonical proto schemas and that's it? If so, I think this makes sense.

[2022-05-20 14:39] aaronc commented on #12003
This will break clients which depend on `v1beta1` being in the type URL. Just removing that will mean cosmjs, keplr, etc. will all get broken. Maybe something we can do eventually, but probably not worth it right now.

When we are in the process of building a module we may do this on `main`:
* have 1 PR which introduces proto files as v1 (because people decide that's what we want to call it)
* wor

[2022-05-20 14:40] aaronc commented on #12003
Exactly. Just the canonical proto files + api module that are in production releases.

[2022-05-20 14:42] alexanderbez commented on #12003
Makes sense to me then.

[2022-05-20 14:43] aaronc commented on #12003
It's kind of a nasty problem honestly. This is the best solution I've been able to think of

[2022-05-20 15:54] robert-zaremba commented on #12003
I think the sub-sub module is more clear, because it is well encapsulated and can be tagged together with the module release.

If I understand it correctly, we will still have v1, v2 subdirectories, right?
* in the sub-sub-module version: `x/bank/proto/v1beta1` and in the future `x/bank/proto/v1`, same for `x/bank/api/*` - and both tagged as `x/bank/api-v1...`
* in the original idea: `release/api/

[2022-05-20 16:10] aaronc commented on #12003
It would actually be `x/bank/proto/cosmos/bank/v1beta1`, etc.

[2022-05-20 16:53] aaronc commented on #12003
We could structure api go modules in two different ways:

1. `cosmossdk.io/api/cosmos/bank` - so we keep the same structure as now but just separate go modules
2. `cosmossdk.io/x/bank/api` - but then the imports would by default be `cosmossdk.io/x/bank/api/cosmos/bank/v1beta1` which is a bit verbose...

I think I prefer approach 1 which wouldn't change any existing package imports using the api mo

[2022-05-21 07:06] AymanSalah1971 commented on #11309
Hello sir
My name is Ayman from Egypt
I want you to help me please
I have all the little money I have in this life that I invested in Tira Luna because I believed in it
What should I do should I sell now or hold on to it
please help me
Thank you from my heart

[2022-05-21 07:48] fedekunze commented on #10245
@marbar3778 @alexanderbez, can you provide a list of actionable items here? Happy to work on this

What do you mean by higher level? server?

[2022-05-22 15:59] bruce-wayne2 opened #12011 "Support using grpc_client instead of local_client"
## Summary

Did not find any way to use `grpc_client` of `tendermint`.

## Problem Definition

In actual use, it is necessary to support users to query blockchain data in parallel. But here `cosmos-sdk` only uses [local_client](https://github.com/tendermint/tendermint/blob/v0.34.19/abci/client/local_client.go) to execute queries, but this client uses global lock, which makes it impossible to paral

[2022-05-23 02:19] yihuang opened #12012 "Low level db error can cause app-hash mismatch"
## Summary of Bug

During delivering tx, when there are errors happening in low-level DB, for example, "too many opened files", tm-db turns them into panic which is recovered by the tx runner and treated as a failed tx execution result, which results in state inconsistency and manifested as an app-hash mismatch error in the next block.
Maybe it's better to stop processing the current block in such

[2022-05-23 08:52] julienrbrt commented on #11997
It fails because it uses a tendermint `0.34` client and the sdk uses a tendermint `0.35` since `0.46`.
Tendermint's changelog shows a few [breaking changes](https://github.com/tendermint/tendermint/blob/master/CHANGELOG.md).

The relevant one here is the change in the `EventAttribute` type in tendermint.

https://github.com/tendermint/tendermint/pull/6408
https://github.com/cosmos/cosmjs/blob/main

[2022-05-23 08:54] julienrbrt commented on #11997
Closing for now. Let's see if it happens again when `cosmjs` is up-to-date.

[2022-05-23 08:54] #11997 closed, assigned to julienrbrt

[2022-05-23 09:59] faddat commented on #12012
Hey guys I would not consider this a bug.

Instead, I would include directions on setting the number of open files value. In most Linux distributions the command to set them is this:

ulimit -n 500000

That will set it for the length of the session.

It can also be set in systemd units

and in the system file /etc/security/limits.conf

[2022-05-23 10:04] yihuang commented on #12012
Maybe not a bug, just a improvement, since the app-hash mismatch situation is much hard to recover from.

[2022-05-23 10:23] faddat commented on #12012
Maybe we can add a check?

This is actually frequently encountered.  The scenario are describing here is very familiar to me. I run into it basically anytime that I have failed to shut the file system limit. Some interesting feedback on this can be found in my performance branch of tm-db, which is basically the combination of terra's performance branch, and some additional tweaks that I have made.

[2022-05-23 10:27] faddat commented on #11965
Zaki, I think there's evidence of this happening on osmosis as well.

As I court enough controversey I won't name who I think is doing it but fair to say that they post some highly irregular blocks.

I like this idea.

[2022-05-23 10:29] faddat commented on #11904
Question about the vanity urls:

these just map to this repository?

[2022-05-23 11:49] yihuang commented on #12012
do you think there are other low-level DB errors that should not be ignored in the consensus level?
I think we should separate out some system errors to stop the node rather than commit a wrong block state.

[2022-05-23 13:24] alexanderbez commented on #10245
I'm not really sure what @marbar3778 is referring to, but you can't really avoid defer timing calls. The idea is that we have a config in the config struct and delegate all telemetry calls to a function that checks that config. Something like:

[code]

[2022-05-23 13:26] alexanderbez commented on #12011
Hey @bruce-wayne2, I'm not really sure what you're asking for here...

[2022-05-23 13:29] alexanderbez commented on #11904
They map to _wherever_ the repository is located, which is the beautiful thing. The repo can change at any moment and the import URLs will remain fixed, allowing devs to not have to worry about it.

[2022-05-23 19:38] kocubinski commented on #11917
How about `Behavior` or `Trait??

[2022-05-23 20:02] aaronc commented on #11917
Sort of leaning towards `Config` because it's a simple and common word

[2022-05-24 01:29] #11917 closed

[2022-05-24 09:00] nooomski commented on #11997
Thanks @julienrbrt !!

[2022-05-24 10:25] marbar3778 commented on #12011
This would be a tendermint issue, but I believe this is on a path of removal since it hasn't been used by anyone really.