[2021-09-07 09:27] ptrnull commented on #10091
A full stacktrace is included here:
[code]

[2021-09-07 09:34] fdymylja commented on #10088
I'm not currently understanding how rosetta can be in any way involved in this. The bad gateway error is returned by rosetta if it is trying to communicate with a node which is unreachable.

The following are the two lines of code which return the `bad gateway` error:

1. https://github.com/cosmos/cosmos-sdk/blob/v0.43.0/server/rosetta/client_online.go#L181
2. https://github.com/cosmos/cosmos-sdk/

[2021-09-07 10:31] yaruwangway commented on #10088
Hi @fdymylja,

Here is the full error after upgrade, the validator produced a few blocks then:
`5:21PM INF committed state app_hash=4B11D76BA7EF7F274DEC97750BDC3CA32E76D5E564345CB8ABB15C217FD3F724 height=7368611 module=state num_txs=0
5:21PM INF indexed block height=7368611 module=txindex
5:21PM INF ABCIQuery data= module=rpc path=/cosmos.bank.v1beta1.Query/TotalSupply result={"code":0,"codespace"

[2021-09-07 12:13] askolesov opened #10092 "Init command doesn't respect --home flag"
## Summary of Bug

Init command doesn't respect `--home` flag.

## Version

v0.43

## Steps to Reproduce

test-noded init test1 --home test1
test-noded init test2 --home test2

Error:

[code]

____

## For Admin Use

- [ ] Not duplicate issue
- [ ] Appropriate labels applied
- [ ] Appropriate contributors tagged
- [ ] Contributor assigned/self-assigned

[2021-09-07 12:23] fdymylja commented on #10088
@yaruwangway my feeling is that rosetta is unrelated to this problem.

The bad gateway error is thrown by rosetta in two cases:

1. An external client is querying rosetta, but the tendermint node is not responsive. You will not see the error in logs, you will see it returned to the querying client.
2. When rosetta starts, it will attempt to connect to the tendermint node, if it fails it will retry

[2021-09-07 12:47] mdyring opened #10093 "Error log level of failed RPC calls can result in 100+ MB log files"
## Summary of Bug

Reduce logging level of failed RPC requests to "debug".

The current log level of "error" can result in entire genesis files being logged as errors, resulting in 100+ MB log entries.

Needless to say, this blows up with Cosmovisor unless configured to an appropriately sized buffer.

[code]

## Version

v0.42.9 (used in osmosis v3.1.0)

## Steps to Reproduce

Call /genesis RPC an

[2021-09-07 13:35] marbar3778 commented on #10093
I think this is a tendermint related issue

[2021-09-07 13:39] marbar3778 commented on #10086
cc @nassdonald

docs can be found on docs.cosmos.network

[2021-09-07 15:54] i-norden opened #10094 "ADR-040 Implementation: New DB interface"
Child of https://github.com/cosmos/cosmos-sdk/issues/9816

Currently the SDK uses tm-db as its low-level database interface. Here we create a new interface to replace tm-db and support ADR-040. This interface will be packaged as part of the SDK. This interface will only support databases which support efficient DB Snapshot. At the time of writing we are going to support RocksDB and BadgerDB.

Our

[2021-09-07 16:11] i-norden commented on #7889
I think this issue/proposal can be closed as it has been formalized as part of the ADR-038 specification: https://github.com/cosmos/cosmos-sdk/pull/8012

[2021-09-07 16:11] #7889 closed

[2021-09-07 16:18] i-norden opened #10096 "ADR-038 Implementation"
This is a parent issue to track progress on the ADR-038 state listening epic

- [x] ADR-038 spec: https://github.com/cosmos/cosmos-sdk/pull/8012
- [x] WriteListener, listen.KVStore, MultiStore and KVStore updates: https://github.com/cosmos/cosmos-sdk/pull/8551
- [x] StreamingService interface, file writing implementation, and configuration: https://github.com/cosmos/cosmos-sdk/pull/8664
- [x] Plug

[2021-09-07 20:10] nassdonald commented on #10086
Thanks for raising this! We certainly could word this a little better as "2.0" is perhaps misleading. Essentially this is referring to the new version of the Cosmos website, whereas the old version of the website is still available on `v1.cosmos.network`.

We implemented this while we're still working on implementing all of the pages from the old website on the new website, after which point we wi

[2021-09-08 05:55] spoo-bar commented on #10047
@robert-zaremba If you aren't maybe I can continue working on this issue?

[2021-09-08 08:01] #9998 closed

[2021-09-08 09:40] yaruwangway commented on #10088
@fdymylja  Thank you!!!
After I disabled rosetta API in the app.toml, I can upgrade without error.
For local upgrade test by cosmovisor, why disabling rosetta matters ?

[2021-09-08 10:04] paulvi commented on #10086
Anyway, I think this "Learn" button link is outdated, isn't it?

[2021-09-08 10:29] fdymylja commented on #10088
I think it's related to some misconfiguration, can you show your rosetta section of app.toml?

[2021-09-08 16:00] yaruwangway commented on #10088
@fdymylja
Hi I find out actually it is not because I enable or disable rosetta. (sry for the last misleading comment)
It is how much result the query will produce. for example, if I `gov q proposal 50`, it will not block the node, if I query `gov q proposals`, it will block the node.

By "blocking", it is not a real blocking, because if I block validator, the other node can still produce blocks. t

[2021-09-08 16:02] fdymylja commented on #10088
No problem, let me know how it goes!

[2021-09-08 23:02] #10016 closed

[2021-09-08 23:07] ryanchristo opened #10102 "Encode/Decode Transaction Documentation"
## Summary

Documentation for encoding/decoding a transaction is limited. An example for encoding a transaction programmatically with go exists in [generating, signing and broadcasting a transaction](https://docs.cosmos.network/master/run-node/txs.html#generating-signing-and-broadcasting-transactions). We should include an example of encoding a transaction using the CLI before broadcasting a trans

[2021-09-09 00:02] #9729 closed

[2021-09-09 12:29] alexanderbez commented on #10005
Thank you @JimLarson!

[2021-09-09 12:56] alexanderbez commented on #9673
Hmmm I don't think we need to keep this issue open. I still encourage my original proposal: set `SilenceUsage: true` on either the root command or whatever command you want this applied to.

[2021-09-09 12:59] alexanderbez commented on #10058
ACK. Just use the zerolog logger from the SDK 👍

[2021-09-09 13:11] alexanderbez commented on #9988
It just seems too limited. Like having `<type>:<URI>` seems way more flexible to me. We can support direct links, Keybase, Gravatar, etc...

[2021-09-09 13:18] alexanderbez commented on #9683
ACK on the proposal. Another approach is to have a minimum self-deposit when submitting a `MsgSubmitProposal` message.

[2021-09-09 13:32] alexanderbez commented on #10081
Without more info, it's impossible to debug this. The `--gas=auto` flag works on the Hub and other networks, even those that are on 0.44. Also, note that `auto` is the _default_ value.

I would wager that this has something to do with your actual application and perhaps a message type isn't registered or something...?

[2021-09-09 13:39] alexanderbez commented on #10091
I will also note that @mvid stated they didn't experience this issue on Somm, even though they also had jailed validators.

[2021-09-09 14:05] alexanderbez commented on #10093
This is a Tendermint issue. Can you please re-create the issue there @mdyring?

[2021-09-09 16:32] #10075 closed

[2021-09-09 18:20] alpe commented on #10075
Thanks a lot. 💐 Any chance to get this into v0.44.x as well?

[2021-09-09 20:22] #10092 closed

[2021-09-09 23:55] ValarDragon commented on #9673
Hrmm, so can we make certain errors not return an error, but instead just display relevant help lines and return nil?

[2021-09-10 00:02] #9739 closed

[2021-09-10 06:39] cmwaters opened #10108 "Add a flag to disable validator set updates in staking module (for cross-chain validation)"
## Summary

The upcoming Cross-Chain Validation module uses IBC to take validator updates from a parent chain and pass them through to the child chain. This therefore will require disabling validator set updates in the staking module.

## Problem Definition

Cross chain validation (as part of Interchain Security) allows a chain to start up using the validator set of a parent chain. However, these

[2021-09-10 09:44] allthatjazzleo opened #10109 "Missing release binary for cosmovisor"
## Summary

Though this repo is sdk library and should not release binary in release page, it also includes the source code for cosmovisor.
Will it better to have release binary of cosmovisor for user to download?

## Problem Definition

No binary of cosmovisor for user to download directly.

## Proposal

set up goreleaser workflow to release cosmovisor when tag with `cosmovisor/v*.*.*`
____

####

[2021-09-10 09:58] allthatjazzleo commented on #10109
eg https://github.com/allthatjazzleo/cosmos-sdk/releases/tag/cosmovisor%2Fv0.1.0

[2021-09-10 10:10] conr2d commented on #10025
[code]
|name|iteration|time|
|---|---|---|
| BenchmarkDecode-16 | 1506727 | 807.4 ns/op |
| BenchmarkDecodeAssumingValidChecksum-16 | 2391042 | 494.4 ns/op |
| BenchmarkDecodeUnsafe-16 | 2923123 | 410.4 ns/op |

Tested three cases:
- Decode: Normalization + ChecksumValidation
- DecodeAssumingValidChecksum: ChecksumValidation
- DecodeUnsafe: -

Normalization here is checking and changing address to

[2021-09-10 11:42] yaruwangway commented on #10088
Hi, Frojdi,

Now I do not have any query issues with the new version of cosmovisor.

But still, if I enable rosetta API, no matter I use `gaiad start` or `cosmovisor start`, at the upgrade height, I will have the following error:
validator node which owns over 67% power:
[code]

the other node:
[code]

The two nodes' config of Rosetta:
validator node which owns over 67% power:
[code]
The other nod

[2021-09-10 11:44] robert-zaremba commented on #9466
I think the standard way for this is to run tools through `go run` and add them to go.mod.

[2021-09-10 12:37] fdymylja commented on #10088
Could you increase the number of retries to 1000? just to understand if maybe rosetta is failing to connect because the node is not ready yet

[2021-09-10 12:40] yaruwangway commented on #10088
the validator node will produce a couple of blocks then fail:
[code]

[2021-09-10 13:52] alexanderbez commented on #9673
Yes, so I don't know if you can cleanly do this based on per error type. So I'd just recommend in your app's `rootCmd` to set `SilenceUsage: true`.

[2021-09-10 13:55] alexanderbez commented on #10108
@cmwaters note (1) is already being worked on because it's needed for a host of other reasons. So I suggest we just piggyback off of that work if possible.

Re your drawback for (1), that only applies of the tally logic uses the native token to determine "weight". Can't you use the parent chain's staking token instead? Or some combo of the two? Regardless, this sounds like a problem for the app to

[2021-09-10 14:00] alexanderbez commented on #9466
Yes. Here is an example of it being done:

Tools (idiomatic way to handle go.mod dep):
https://github.com/umee-network/umee/blob/main/tools/tools.go

Makefile target:
https://github.com/umee-network/umee/blob/main/Makefile#L132-L134

[2021-09-10 14:03] cmwaters commented on #10108
But this means that the child chain loses its sovereignty. I'm under the impression that this is an important characteristic for child chains to still have.

(1) was initially started by Sikka AFAIK but I don't know what the current status of this is.

[2021-09-10 14:04] alexanderbez commented on #10108
There's an open PR for it. Why does it lose sovereignty?

[2021-09-10 14:16] cmwaters commented on #10108
Well it's controlled by the members of the parent chain. My impression was that these child chains want to be able to issue their own tokens and have its invested members be able to dictate the direction of the chain via governance.

[2021-09-10 14:34] yaruwangway commented on #10088
a bit more info: I printed the error:
[code]

this error is after upgrade. and 7368387 is the height to which I exported the genesis file.

[2021-09-10 14:36] fdymylja commented on #10088
Yes we were discussing it on the architecture call. It's not a bug but rather a lack of a feature. Which is defining a custom genesis height. I will implement this feature asap and we can backport it.

[2021-09-10 14:42] #9673 closed

[2021-09-10 14:54] jtremback commented on #10108
I'm not sure this really makes sense to me. Governance power is derived from validation power. It sounds to me like the governance votes you are describing are essentially meaningless and that nobody voting has the actual power to do anything.

[2021-09-10 14:58] cmwaters commented on #10108
Yeah I certainly don't disagree with it. I would label this solution as more of a short-term thing. There are a few couplings in the code i.e. governance and staking (and even staking to being a validator) which have aged poorly and paired with the introduction of groups means that a more clean design needs to be thought of in the long run. I'm still skeptical about custom tally functions being ab

[2021-09-10 17:28] aaronc commented on #9994
Thanks for your suggestion @mdyring. Cosmovisor was in a separate repo before and it didn't have enough maintainers. Thus we prefer a mono-repo solution so that we can ensure it gets maintained. If there is a big enough group of maintainers outside the core SDK team at some point, maybe we can re-explore a separate repo then. For now it's staying here.

Yes, it is a separate go module with separat

[2021-09-10 17:28] #9994 closed

[2021-09-10 17:28] robert-zaremba commented on #9994
Gaia is a Cosmos SDK chain, not a tool / framework.

A week ago (or more) we updated the installation instructions. I hope it's clear now how to install cosmovisor. We are also integrating go releaser to attach binaries to the on GitHub Cosmovisor Release Page.

[2021-09-10 20:48] ValarDragon opened #10115 "Make KVStore interface have methods to getNearest entry"
## Summary

When you want to use the KVStore a sorted dataset, as we do in [generalized F1 data structures](https://github.com/osmosis-labs/osmosis/blob/main/store/README.md), and a number of other data structures, you need to be able to 'find/get' the closest key to an entry. (e.g. like sort.Search https://pkg.go.dev/sort#Search )

I propose we add a function to KVStore called `KVStore.GetNearest

[2021-09-11 21:48] i-norden opened #10117 "ADR-040 Implementation: Hook state store and SMT into the SDK"
Child of #9816

At this stage we introduce a KVStore into the SDK that has decoupled state commitment (using SMT) and state storage. This will exist alongside the IAVL KVStore for the time being. In addition to this, included in this task are the updates to the SMT required to support automatic pruning of orphans and ics23 proofs.

- [ ] Introduce KVStore with decoupled SMT state commitment and st

[2021-09-12 00:03] #9753 closed

[2021-09-12 17:48] erikgrinaker commented on #10085
#10120

[2021-09-13 00:02] #9757 closed

[2021-09-13 00:02] #9756 closed

[2021-09-13 01:03] michaelfig commented on #7340
Oh.  State sync avoids this by asserting settings from `app.toml`, so that snapshots are only taken for blocks that are never pruned.

I've spent some time looking through this more carefully.  Will update the doc with what I learn.

[2021-09-13 05:08] Vritra4 opened #10121 "rosetta server fails when initial_height is larger than 1"
## Summary of Bug

tested simd for rosetta server functions, but it fails
* rosetta server fails to run with genesis.json has initial_heights 2 or larger
* rosetta-cli check:data fails to parse EventTypeCoinBurn

i passed test with [this fix](https://github.com/Vritra4/cosmos-sdk/commit/b2c3e228b47098f3415dec5ccba9fb197b44c270) on [fork](https://github.com/Vritra4/cosmos-sdk/tree/vritra4/rosetta-f

[2021-09-13 07:51] AdityaSripal opened #10122 "Create helper function to convert sdk.Validators to tendermint hash"
Take the SDK validators struct and return the tendermint hash that would be created for the corresponding tendermint validator set

[2021-09-13 08:21] AdityaSripal opened #10123 "Create Helper function to accumulate ValidatorSetUpdates"
`AccumulateChanges(currentChanges []abci.ValidatorUpdate, newChanges []abci.ValidatorUpdate) []abci.ValidatorUpdate`

The ValidatorUpdate contains the new power for each changed validator rather than expressing a "delta" from the current power.

Therefore this function should iterate over the currentChanges for each validator in newChanges:

If the validator in newChanges does not exist in current

[2021-09-13 08:34] AdityaSripal opened #10124 "Save entire ValidatorSet at a particular height"
`func SaveCurrentValidators()` should save the current validator set at the current height so it can be retreived with:
`func GetValidatorsAtHeight(height uint64) []sdk.Validators`

[2021-09-13 09:11] marbar3778 commented on #10124
This would be within the current staking module?

[2021-09-13 09:13] PavelMoneyin commented on #10091
Hello! Today got same Error.

root@vmi664386:~# umeed tx staking delegate umeevaloper1zare8js5vlduf62z3ezvl3je8e2pgfv9lkgtdk 99999000uumee --gas auto --chain-id umee-betanet-1 --from seainvestor --fees=1000uumee
Enter keyring passphrase:
Error: rpc error: code = InvalidArgument desc = recovered: calculated final stake for delegator umee1zare8js5vlduf62z3ezvl3je8e2pgfv9lj0yuu greater than current s

[2021-09-13 11:17] robert-zaremba commented on #9999
During the last call we learned (from @aaronc ) that the cosmovisor should be designed as a wrapper for the `appd`. Which means, the expectation is that a user can link `cosmovisor` as `appd` and use it like `appd`. So we should not add other specific commands. `version` will be an exception here and it's behavior is following:
1. print version of cosmovisor
2. and then continue by running `appd v

[2021-09-13 11:32] AdityaSripal commented on #10124
Yes

[2021-09-13 11:33] spoo-bar commented on #9999
@robert-zaremba I had a call with @jgimeno earlier in the day regarding this and have updated the PR with the relevant changes for that and removed cobra

[2021-09-13 11:58] robert-zaremba opened #10126 "Add --help option for the cosmovisor"
## Summary

When running `cosmovisor --help` I get:

## Problem Definition

As a user I expect to have a `--help` option in CLI

## Proposal

+ Add `--help` and `-h` parameter. It will print short help about comsovisor (maybe a first line from the README file), list of required env variables and info where to get more information (github cosmovisor/README.md). After new line `appd --help`.  If `DA

[2021-09-13 12:16] alpe opened #10127 "IterNextCostFlat not charged"
## Summary of Bug
Iterator in `gaskv` only charges gas for [existing entries](https://github.com/cosmos/cosmos-sdk/blob/v0.42.9/store/gaskv/store.go#L145-L146).

## Version

`v0.42.9` and current `master`

## Steps to Reproduce
bank.GetBalances costs no gas for an address without tokens.
____

## For Admin Use

- [ ] Not duplicate issue
- [ ] Appropriate labels applied
- [ ] Appropriate contributo

[2021-09-13 12:50] #10001 closed

[2021-09-13 13:08] ethanfrey commented on #10127
Creating an iterator does a db read (pre-loading data). Which is why you can call `Value()` `Key()` and `Valid()` before `Next()`. If we only charge on `Next`, this means we post-pay for the data previously read.

Meaning, I can read the first value of an iterator for free if I never use Next.

I would propose a charge upon creation (based on value loaded) and charging *after* next for the "next"

[2021-09-13 13:56] alexanderbez commented on #10122
@AdityaSripal do you know how Tendermint currently does this? Are there simple APIs we can just use?

[2021-09-13 13:57] alexanderbez commented on #10123
I don't follow @AdityaSripal. Why is this API method needed? Can you not just implement this yourself? Based on your comments this is just slice comparison and manipulation, i.e. you don't even need access to the keeper/state for this.

[2021-09-13 13:58] alexanderbez commented on #10091
Thanks for posting @ptrnull, but adding more panic snippets won't help here. We need folks to describe their setup and how they got to this position, i.e. how much they delegated and how much was slashed and how much was there after the slash.

[2021-09-13 14:00] alexanderbez commented on #10124
`SaveCurrentValidators()` would need a context to know the current height. How often do you expect to execute this API? It seems pretty expensive.

[2021-09-13 16:00] robert-zaremba commented on #9670
I've started working (see the linked draft) on this and come up to reflection that this can create a very bad user experience.

1. `Plan.Info` is an arbitrary string and we can put there anything and we don't do any validation.
2. We have a convention to put JSON with binaries.

Now let's consider the following scenario: user will create a proposal with binaries but will not include a checksum. Th

[2021-09-13 18:24] zlounes commented on #7356
Why this issue is closed? Could be very useful!

[2021-09-13 18:24] zlounes commented on #3863
Why this issue is closed? Could be very useful!

[2021-09-13 18:56] alexanderbez commented on #7356
Because it's a duplicate of #3863

[2021-09-13 18:57] alexanderbez commented on #3863
I think you commented on the wrong issue ;-)

[2021-09-13 19:04] zlounes commented on #3863
Oh yes, sorry. Can't wait to see this feature available <3

[2021-09-14 01:24] machinsoft opened #10135 "Transaction bug when exchanging an asset"
described the bug in the wrong place, so just click on the links.

## Summary of Bug
https://github.com/cosmos/cosmos/issues/126

## Steps to Reproduce
1. Log in to app.emeris.com
2. Exchange ATOM for CRO

[2021-09-14 01:37] ryanchristo commented on #9707
cc @okwme @alexanderbez

I've created a draft pull request with an example of what a `client.md` page might look like for the `authz` module. Open to ideas on how this could be improved or how we might reduce the burden of maintenance. https://github.com/cosmos/cosmos-sdk/pull/10136

[2021-09-14 03:12] ryanchristo commented on #9670
I think validating in the SDK makes sense. We would check if info is JSON and if JSON included "binaries", then validate the values within "binaries", and we would still support an arbitrary string and other properties within JSON, correct?

[2021-09-14 09:03] fdymylja commented on #10121
Fix looks good to me, feel free to open a PR from your fork!

[2021-09-14 09:05] #9466 closed

[2021-09-14 09:30] robert-zaremba commented on #9670
Yes - we would need to implement the cosmovisor heuristics in the SDK.
TBH, the "recommended" coupling of Cosmos SDK and cosmovisor makes the UX bad - cosmovisor will fail the chain if it encounters an upgrade proposal which it can't handle, but a user will not know about it when creating the proposal.

[2021-09-14 09:42] #9911 closed

[2021-09-14 09:45] okwme opened #10139 "IGNORE: blank issue for testing zenhub across repos"
## Summary

## Problem Definition

## Proposal

____

#### For Admin Use

- [ ] Not duplicate issue
- [ ] Appropriate labels applied
- [ ] Appropriate contributors tagged
- [ ] Contributor assigned/self-assigned

[2021-09-14 09:50] #10139 closed

[2021-09-14 09:53] amaurym commented on #10023
Ah yeah. We're moving away from antehandlers, and using middlewares instead, in https://github.com/cosmos/cosmos-sdk/pull/10028. Hopefully #10028 will fix this issue, let's keep it open in the meantime.

[2021-09-14 11:11] askolesov commented on #10092
Thanks!

[2021-09-14 12:52] #9678 closed

[2021-09-14 13:39] marbar3778 commented on #10123
I agree here. The staking module shouldn't be expanded to fit all needs. There is already ways to get the entire validator set, the other module that requires this info should implement this.

[2021-09-14 13:40] marbar3778 commented on #10124
I think the module that requires this should implement the function. The staking module already provides a way to get the validator set. Getting the staking module to do many things could lead to uneeded bloat

[2021-09-14 13:44] alexanderbez commented on #10135
This issue does not belong in the SDK. Please raise an issue in the liquidity module repo or maybe even Gaia. Thank you :)

https://github.com/tendermint/liquidity

[2021-09-14 13:44] #10135 closed

[2021-09-14 13:46] alexanderbez commented on #9707
Took a quick look, it looks greats @ryanchristo 👍

[2021-09-14 14:17] amaury1729 opened #10140 "Add protobuf option for human-readable MsgName"
Part of the TX working group.

## Summary

Add a protobuf option for a human-readable msg name.

## Problem

Msg TypeURLs are sometimes not clear enough. One example given was Osmosis's `MsgSwap*`, which can be confusing unless you understand the underlying data model.

For random user, signing `osmosis.gamm.v1beta1.MsgSwap*` means the user is basically blindly signing.

## Proposal

We propose to

[2021-09-14 14:24] amaurym opened #10141 "Create custom JSON serializer using ValueRenderers"
Part of the TX working group.

Needed if decide to go with SIGN_MODE_DIRECT_JSON (#9320)

The idea is to serialize with protobuf, then deserialize with dynmicpb, then re-serialize with our custom JSON serializer which uses ValueRenderers.

TODO more details.

[2021-09-14 14:25] amaurym opened #10142 "Custom JSON serializer with ValueRenderers"
Part of the TX working group

Idea is to serialize with protobuf, deserialize with dynamicpb, and re-serialize into JSON using a custom JSON serializer with ValueRenderers

[2021-09-14 14:43] #9791 closed

[2021-09-14 14:46] amaurym commented on #10142
duplicate of #10141

[2021-09-14 14:46] #10142 closed

[2021-09-14 17:31] robert-zaremba commented on #9433
oh, so we were always responding based on the "latest" state, not the requested state?

[2021-09-14 17:42] #10102 closed

[2021-09-14 21:03] #10049 closed

[2021-09-14 21:05] alexanderbez commented on #9433
I believe we were always using the Context's height, which when zero, uses the latest height/state. However, when a specific height is requested, I don't think it worked in specific query paths. Correct me if I'm wrong @colin-axner

[2021-09-14 22:37] robert-zaremba commented on #9670
Let's remove it from the v1.0 plan unless we quickly validate the UX issue.

[2021-09-15 00:02] #9443 closed

[2021-09-15 00:02] #9183 closed

[2021-09-15 08:58] AdityaSripal commented on #10124
It would need to call it once each time a new child chain is created. I agree its expensive though.

Yesterday I thought of a way to avoid doing this at all by doing something more clever on the IBC side, but it differs from spec.

I'll discuss with spec team tomorrow before closing this issue

[2021-09-15 09:00] AdityaSripal commented on #10123
Yes, this is a simple function. I figured it could be in staking, but it doesn't matter. We could put it in the ibc-go code.

We need it because we cannot flush validator set changes to the child chain while the channel is getting established. So for that in-between period from first initialization to full connection, we need to be accumulating changes that we can then flush to child chain as the

[2021-09-15 09:07] marbar3778 commented on #10124
I was thinking in terms of gaia, why would it be useful for it be its own module and not within a different module.

Gaia plans on implementing many new features, in many of these cases they may require validator sets at specific heights. Having each module save it individually would bloat state, while having it be its own module would allow other modules to say, save x and height y. This would de

[2021-09-15 09:56] worryFree56 opened #10151 "Add new module upgrade issue"
## Summary of Bug

The running mainnet is upgraded through upgrade, and the x/token module of the current project is added. The verifier and the rest of the full nodes can be upgraded without any problem. Now, I run a new full node by using the upgraded version and cannot join. The connected seed node is after the upgrade and is in a normal state. The error is as follows:
![image](https://user-ima

[2021-09-15 10:21] colin-axner commented on #9433
This is correct. The height field in the request was unused and it instead relied solely on the context height

[2021-09-15 12:28] romon267 opened #10152 "Querying and parsing transactions"
## Summary

We need to find some way to query history of blockchain transactions by events and parse/decode them on the frontend.

## Problem Definition

We are working on admin module for cosmos sdk and we need a feature like querying history of transactions to get all proposals submitted to gov module. Currently, when proposal is passed, it is removed from state, and there is no way to get info

[2021-09-15 12:35] AdityaSripal opened #10153 "Provide the ability for an external module to block the unbonding of validators until they approve"
In CCV, the validator stake that gets unbonded on the parent chain for a particular `ValidatorSetChange` cannot be unbonded until the child chains all approve of the unbonding.

Thus, even if the unbonding period has elapsed on the parent chain, the staking module must wait until the child chains also affirm that the unbonding period has elapsed on their respective chains before the stake can be r

[2021-09-15 12:35] AdityaSripal commented on #10153
cc: @alexanderbez @marbar3778

[2021-09-15 12:42] alexanderbez commented on #10153
Yeah this totally makes sense. But this also lines up with my sentiment expressed in the other issue regarding governance tallying/hooks -- I would discourage expanding up or tuning the SDK's existing `x/staking` module to fit these specific needs of CCV.

Instead, I would ensure that whatever APIs are necessary to make this work are _public_ in the SDK's `x/staking` and then simply extend or embe

[2021-09-15 14:42] fdymylja opened #10155 "[rosetta]: upgrade to 0.7.x"
Rosetta needs to be manually upgraded to 0.7.x as there are some breaking API changes.

[2021-09-15 15:39] aaronc commented on #9670
I commented in #10149

[2021-09-15 16:12] askolesov opened #10157 "Release v0.44.1 with `--home` flag fixed"
Out test environment relies on the ability to specify `--home` flag which is broken in Cosmos v0.43 and v0.44.

The issue was fixed in https://github.com/cosmos/cosmos-sdk/pull/10104.

Could you please release a new version containing the fix?

[2021-09-15 16:35] alexanderbez commented on #10151
This is how upgrading works currently. You must run the binary version of your application up and until the upgrade height, at which you stop that binary and then start the new one. You **cannot** use the new binary application version from genesis.

Yes, if you add them one by one, then yes. Hence, it's encourage to "bundle" them (within reason) into a single upgrade.

[2021-09-15 16:54] ryanchristo commented on #9707
A quick update on this issue. Two pull requests are ready to review adding the `client.md` document for `authz` and `bank`. I'm currently working on the `client.md` document for `distribution`. Here's a checklist for tracking:

- [ ] auth
- [ ] authz (@ryanchristo) #10136
- [ ] bank (@ryanchristo) #10147
- [ ] crisis
- [ ] distribution (@ryanchristo)
- [ ] evidence
- [ ] feegrant
- [ ] gov
- [ ] m

[2021-09-15 17:12] #9953 closed

[2021-09-15 18:41] alexanderbez commented on #10157
No need to create an issue for this. I would recommend asking in the discord channel (cc @clevinson) when the next 0.44 release will be made.

Note, v0.43.x is discontinued -- it's replaced by v0.44.x ;-)

[2021-09-15 18:41] #10157 closed

[2021-09-15 18:53] alexanderbez commented on #10157
Here is the backport PR: https://github.com/cosmos/cosmos-sdk/pull/10158#pullrequestreview-755509514

This will need to be merged before we cut the next 0.44.x point release @robert-zaremba

[2021-09-15 19:35] jackzampolin commented on #9690
I think using `client.Context` and giving the context a prefix should solve this issue for clients.

[2021-09-15 21:24] alexanderbez commented on #10152
I'm not quite sure what exactly you're requesting here @romon267?

Based on the problem you've defined, this is specific to querying for txs that had gov proposals. If so, then the title of this issue is a misnomer.

You can easily query for txs by height, hash, and events. You can also easily parse them assuming you have the correct `Codec` defined.

So what exactly is your issue?

[2021-09-16 00:02] #9146 closed

[2021-09-16 00:02] #9080 closed

[2021-09-16 01:12] worryFree56 commented on #10151
thinks

[2021-09-16 04:00] worryFree56 commented on #10151
@alexanderbez
After pulling the block to the specified height, restart the node with the upgraded binary file, and the error is reported as shown in the figure above. What is the reason for this failure to synchronize
![15081631762526_ pic_hd](https://user-images.githubusercontent.com/22309148/133547047-51889e9b-1ca1-4d90-8d36-9a13226e0dbc.jpg)

[2021-09-16 09:20] conr2d opened #10163 "Bech32 address test doesn't satisfy the specification"
## Summary of Bug

According to BIP-173, bech32 encoder should generate a string with lowercase letters only, and checksum validation should be processed with the lowercase form.

https://en.bitcoin.it/wiki/BIP_0173#Bech32

However, `types/address_test.go` generates mixed-case addresses, and contains invalid checksum based on the mixed-case string. This blocks merging the latest version of `btcuti

[2021-09-16 10:14] #10088 closed

[2021-09-16 10:14] #10121 closed

[2021-09-16 10:17] AdityaSripal commented on #10122
I believe we can just use the header hash at that particular height since we can just create the IBC client upon gov proposal passing

[2021-09-16 12:47] romon267 commented on #10152
@alexanderbez Thank you for your reply and sorry for misunderstanding the issue, I'll try to clarify it a bit more.
I tried querying txs by events, but it seems to me that endpoint for queries doesn't work properly, it throws an error on any query. I tried it here: https://docs.tendermint.com/master/rpc/#/Info/tx_search, and on a local node setup.

Also, could you please elaborate on parsing txs?

[2021-09-16 15:43] #10085 closed

[2021-09-16 16:28] robert-zaremba commented on #9875
I believe we solved  this issue in `master` with the cosmovisor file approach.
* v0.1 is scanning logs
* `master` is observing file change.
Could you install the latest cosmovisor (from current master) and check if this issue is still a case?

[2021-09-16 17:40] mvid opened #10177 "Zero gas transactions cause incorrect error"
## Summary of Bug

When submitting a tx without the gas value set, the AnteHandle function incorrectly multiplies the gas limit by the gas fee, resulting in an error message like this:

insufficient fees; got: 10testunit required: 0testunit: insufficient fee
Codespace: sdk

## Version

0.44

## Steps to Reproduce

Submit a transaction to a network without calling the WithGas function in the tx fac

[2021-09-16 18:53] barriebyron opened #10178 "feat:(x/auth/spec/01_concepts.md) add comparative content to differentiate from authz module"
## Summary

With the addition of the authz module, there is top-level confusion of the two similar module names. We'll benefit from updating the [Cosmos SDK > List of Modules > auth](https://docs.cosmos.network/master/modules/auth/) topic by adding a description of how this auth module is different from authz.

## Problem Definition

from a glance, the module names auth and authz are similar.

##

[2021-09-16 19:14] alexanderbez commented on #10151
Are you sure you updated the binary to the correct version?

[2021-09-16 20:37] barriebyron opened #10179 "feat:(new tutorial for a Cosmos SDK module) follow guidelines, teach us something cool"
## Summary

Create a tutorial for a Cosmos SDK module. Teach us something awesome.

## Problem Definition

Tutorials provide step-by-step instructions to accomplish a specific goal. The existing Cosmos SDK tutorials provide instructions for hypothetical and real use cases, but there are many more ways to use the Cosmos SDK that we haven't touched on yet.

Have you used a Cosmos SDK module to accom

[2021-09-16 20:51] barriebyron opened #10180 "fix:Cosmos SDK Intro topics - make all references to Cosmos SDK consistent, apply guidelines"
## Summary of Bug

The Cosmos SDK docs refer to the Cosmos SDK in a variety of ways, make them all consistent as Cosmos SDK. Our docs traffic increases as more cosmonauts search for information about the Cosmos SDK. Rarely do users look for "the SDK" when they search on the web. As more users start to use the Cosmos SDK and the docs, we want each page to stand on its own as a trusted resource to s

[2021-09-16 20:59] barriebyron opened #10182 "fix:Cosmos SDK Basic topics - apply present tense and technical content styles"
## Summary of Bug

The Cosmos SDK docs use a combination of present tense and future tense. Our goal is to use present tense and avoid use of "will". Follow the present tense guidelines in the [Google developer documentation style guide](https://developers.google.com/style/tense). Avoid "would".

Consistent technical styles and consistent word choice in technical documentation build trust with our

[2021-09-16 21:08] barriebyron opened #10183 "feat:(docs: ) rewrite first sentence in the Cosmos SDK Intro topic"
**Is your feature request related to a problem? Please describe.**

The Cosmos SDK Intro topic first sentence can be improved. We are not thinking about folders and material, so we want different words here.

**Describe the solution you'd like to see**

Rewrite the first sentence in [Introduction](https://docs.cosmos.network/master/intro/)
File in the repo https://github.com/cosmos/cosmos-sdk/blob

[2021-09-17 00:14] #9775 closed

[2021-09-17 01:08] worryFree56 commented on #10151
yes,At present, what I want to know is that the reference of the module is deleted during the upgrade, and there is no need to delete it in the upgrade middleware. What is the impact of deleting and not deleting

[2021-09-17 06:36] tomtau opened #10188 "fix: upgrade non-determinism"
## Summary of Bug

post-upgrade block may have a different result app hash.

## Version

0.44.0

## Steps to Reproduce

I did not find a way to reliably reproduce it so far :(
____

## For Admin Use

- [ ] Not duplicate issue
- [ ] Appropriate labels applied
- [ ] Appropriate contributors tagged
- [ ] Contributor assigned/self-assigned

[2021-09-17 06:47] tomtau opened #10190 "feat: static checking for common bug patterns"
## Summary

It'd be good to add GH Action that would statically check for common bug patterns -- e.g. https://github.com/github/codeql-action

## Problem Definition

There are a few bugs that resurfaced a few times in Cosmos SDK -- off the top of my head, I can think of:

1. non-determinism through iterating over Go maps
2. using hardcoded constants instead of values from application configs (e.g.

[2021-09-17 11:51] yaruwangway commented on #9875
Hi it should be working now with the new cosmovisor in the [cosmos-sdk master branch](https://github.com/cosmos/cosmos-sdk). If the new cosmovisor also works for you, I will close this issue. @mrlp4

[2021-09-17 14:34] robert-zaremba commented on #10153
How urgent this is? I'm putting it in v0.46 for now because we are closing the scope for v0.45... unless there will be a contributor who will like to handle this task.

[2021-09-17 14:38] ValarDragon commented on #10124
Why would this be expensive? The only thing that takes a lot of state in the validator set is the liveness windows. If you just need `validator address -> stake weight`, I see 0 cost issues here.

[2021-09-17 14:46] amaurym commented on #10177
Thanks for the issue @mvid!

You're submitting a tx with no gas, and the node may require a min gas price, so this error seems like the expected behavior to me. What is the expected solution you're thinking of?

[2021-09-17 14:46] robert-zaremba commented on #10122
What is _tedermint hash_ here? Do you want to deterministic encode the validator set or hash it?

[2021-09-17 14:58] ryanchristo commented on #10087
cc @robert-zaremba

[2021-09-17 14:59] ValarDragon commented on #10082
In progress here! https://github.com/cosmos/btcutil/

[2021-09-17 15:01] mrlp4 commented on #9875
Hi! Just checked and everything seems to be fine now with latest master branch.
Good to close!

[2021-09-17 15:01] #9875 closed

[2021-09-17 15:02] mvid commented on #10177
Thanks @amaurym. I believe that the transaction should fail, but the error message isn't correct. Most obvious is that the error says you have more than the required fee but that is insufficient, which doesn't make sense. Perhaps the transaction should fail before the gas gets multiplied by the gas limit?

[2021-09-17 15:15] alexanderbez commented on #10152
That's not true. The following query works for example:

[code]

What error are you getting?

[2021-09-17 15:18] i-norden opened #10192 "ADR-040 Implementation: Review and refactor MultiStore"
Child of #9816

ADR-040 necessitates making many changes at the MultiStore level, so we will take this opportunity to perform a complete refactor of the MultiStore. The old IAVL KVStores are each individually versioned, whereas in the new design versioning is handled internal to the underlying database and so is global for all KVStore buckets in the database.

The main hurdle is ensuring continued

[2021-09-17 15:21] amaurym commented on #10177
Ah understood. One possible solution could be to just simply require a non-zero GasLimit, e.g. in the Tx.ValidateBasic, which will throw a more human-friendly error before that error. What do you think @mvid ?

[2021-09-17 15:23] robert-zaremba commented on #10042
With @amaurym  we are concluding that this is not a good solution and is creating a regression. See the test failing in: https://github.com/cosmos/cosmos-sdk/issues/10042

We need to release v0.44.1 so we will revert the commit from `release/v0.44.x` branch (but keep the one in master) and let's try to investigate it further.

[2021-09-17 15:30] i-norden opened #10194 "ADR-040 Implementation: Support state sync"
- [x] PR: https://github.com/cosmos/cosmos-sdk/pull/10794

Child of #9816

We need to support the state sync snapshotting process for bootstrapping a node with fast sync. This will follow the current approach but will require us to offer up snapshot plans that allow the consumer to reconstruct both the SC and SS.

* Provider- offer a new snapshot plan
* Consumer- restore the snapshot
* Need to be

[2021-09-17 15:31] i-norden commented on #10194
## Implementing ABCI snapshots for new Tendermint DB backends

### Approach

We will attempt to make all needed changes conform to the same interface used in the `Snapshot`/`Restore` methods implemented by `rootmulti.Store`. This is the only type that will need to be serialized for snapshots, hence the only type to implement the `Snapshotter` interface. Adapting this pattern for the new backends w

[2021-09-17 15:50] #10163 closed

[2021-09-17 18:04] jackzampolin commented on #10177
@amaurym we would like the ability to run 0 fee networks. This path would eliminate that.

[2021-09-17 18:30] amaurym commented on #10177
No I dont think so. If the node's minGasPrice is 0, you can still send a tx with 0 [fee amount](https://github.com/cosmos/cosmos-sdk/blob/a0ecfe54ea9daf09556a0492667d1049123c760a/proto/cosmos/tx/v1beta1/tx.proto#L229). I'm just saying that maybe [gas_limit](https://github.com/cosmos/cosmos-sdk/blob/a0ecfe54ea9daf09556a0492667d1049123c760a/proto/cosmos/tx/v1beta1/tx.proto#L234) could be non-zero.

[2021-09-17 19:39] ryanchristo commented on #10086
Thanks @paulvi for opening an issue. I'm going to close this as it's unrelated to the SDK and it sounds like @nassdonald and the team are still making updates, which probably includes updating the "Learn" button link.

[2021-09-17 19:39] #10086 closed

[2021-09-17 21:02] ryanchristo opened #10197 "Querying governance params outputs nil values"
## Summary of Bug

Querying parameters for the gov module requires `params_type` to be specified but the output includes all parameters with nil values for the parameters that were not specified.

## Version

`v0.44`

## Steps to Reproduce

[code]

[code]

[code]

[code]

____

## For Admin Use

- [x] Not duplicate issue
- [x] Appropriate labels applied
- [x] Appropriate contributors tagged
- [ ]

[2021-09-18 05:34] ValarDragon opened #10198 "Enable easy rolling back to your own local statesync snapshot"
## Summary

Currently there is no convenient method to roll back to a state snapshot that you have on your own machine. However all of the data is there (as your node will be serving it to other nodes) We should make it possible to revert your node back to a local snapshot.

As a validator, this would save me from so many issues when I accidentally do something that corrupts part of the db, and I

[2021-09-20 09:03] romon267 commented on #10152
@alexanderbez I was using another endpoint, rpc endpoint at "http://localhost:26657/tx_search?query=" and now I figured out that i was using wrong query syntax with backslash symbols before quotes, sorry for the inconvenience, I figured out how to get txs that I need.

But I still have question about parsing/decoding txs on frontend to get proper readable data(for example from gov submit proposal

[2021-09-20 12:02] i-norden commented on #9816
Child issues:

- [ ] New DB interface: https://github.com/cosmos/cosmos-sdk/issues/10094
- [ ] Hook state store and SMT into the SDK: https://github.com/cosmos/cosmos-sdk/issues/10117
- [ ] Review and refactor MultiStore: https://github.com/cosmos/cosmos-sdk/issues/10192
- [ ] Support state sync: https://github.com/cosmos/cosmos-sdk/issues/10194

[2021-09-20 12:02] #7108 closed

[2021-09-20 14:00] alexanderbez commented on #10188
Hey @tomtau, any chance you could provide a bit more info here? This issue really isn't saying much.

[2021-09-20 14:22] alexanderbez commented on #10153
IMO, I don't think this belongs in the SDK at all. So nothing to plan.

[2021-09-20 14:24] alexanderbez commented on #10124
The concrete structure of what is being saved was never proposed or mentioned, so I naturally assumed the _entire_ validator set, which would be expensive. If it's just address to power mapping, then yeah it should be negligible 👍

[2021-09-20 14:31] alexanderbez commented on #10177
@amaurym is correct here. GasLimit should always be positive. We should just enforce this in the ante-handler IMO. Quick fix.

[2021-09-20 14:38] alexanderbez commented on #10152
I'm sure there are docs somewhere. Maybe @amaurym can point you to them. You just need a `codec.Codec` instance with everything registered. I'm going to close this issue, but regardless someone can maybe post links to docs that could be useful for you.

[2021-09-20 14:38] #10152 closed

[2021-09-20 15:17] amaurym commented on #10152
I just noticed there were no docs for querying txs. For now, you can have a look at the Protobuf service RPC method (query via gRPC or via REST):
https://github.com/cosmos/cosmos-sdk/blob/580cef170fd50757caf8c76434a3b89ca56b8973/proto/cosmos/tx/v1beta1/service.proto#L33-L36

There are also some tests that show how to set up the correct `codec.Codec` (used for decoding/unmarshalling stuff) and use

[2021-09-20 15:43] romon267 commented on #10152
@amaurym my problem is that I need to query and parse from frontend app written in React js, so I need to parse somehow in typescript(js), is there some docs about this?

[2021-09-20 15:55] amaurym commented on #10152
ah! Then you're best bet is https://github.com/cosmos/cosmjs or other JS client-side libraries.

[2021-09-21 00:02] #9641 closed

[2021-09-21 01:13] tomtau commented on #10188
@alexanderbez sure, reposting the original quick info from Discord:

[code]

[2021-09-21 07:36] #10183 closed

[2021-09-21 08:18] AdityaSripal commented on #10153
I don't understand how to make this work. Do you mean that we should "fork" the staking module in CCV and do our custom logic there.

I agree that all the logic regarding when CCV should release stake will be housed in CCV. However, there does need to be **some** way to communicate that information back to `x/staking`.

As far as I can tell, that communication will need to be implemented as some A

[2021-09-21 09:46] #9694 closed

[2021-09-21 13:14] marbar3778 commented on #10140
move to pulsar?

[2021-09-21 13:33] alexanderbez commented on #10188
So where does the non-determinism come from in the state machine? There isn't anything we can achieve with this issue atm.

[2021-09-21 13:37] alexanderbez commented on #10153
You create your own `x/staking` and embed the SDK's `x/staking` module and overwrite any method(s) you wish. Now this approach can be used to a certain limited extent. If all you need is to overwrite a few methods and not have to really change any internals, this approach is simple and will work. Otherwise, you might actually have to copy/fork the entire module.

For an example of this approach, s

[2021-09-21 15:40] #9999 closed

[2021-09-21 16:40] faddat commented on #8602
I am almost certain this is related in some way to

https://github.com/cosmos/gaia/issues/972
https://github.com/cosmos/gaia/issues/704

...and I've definitely seen similar behavior to this on any node I've used for relaying.

[2021-09-21 17:33] Vishal999code commented on #10182
hi @barriebyron I want to take up this issue

[2021-09-21 21:01] moniya12 opened #10212 "Does not allow to provide custom DB (Level DB) Options"
https://github.com/cosmos/cosmos-sdk/blob/ccc5245c3a1b2e5f1f584e9395fc571a1d19d989/server/start.go#L269

As Node is initialized with DefaultDBProvider (Tendermint), applications are not able to expose custom DB Options. Tendermint DB supports DB with custom options - https://github.com/tendermint/tm-db/blob/358078c8bed0eb5113fef6bea376d1a620757308/goleveldb/db.go#L24 but application are not able t

[2021-09-21 21:15] barriebyron commented on #10182
hi @Vishal999code I love that idea... you can do it now, however (there is always a however) to get credit for codefest, let's have you take it up between Oct 1 and Oct 31 so you can get recognition and the T-shirt (can you wait?) https://blog.cosmos.network/october-codefest-call-for-contributors-42ade37f4913

[2021-09-22 04:03] Vishal999code commented on #10182
Ok I will start the contribution from october 1

[2021-09-22 08:38] #9644 closed

[2021-09-22 09:51] #10046 closed

[2021-09-22 10:14] gsk967 commented on #10197
This would be a proto-breaking change
Check this : https://github.com/cosmos/cosmos-sdk/issues/9970

Check this https://github.com/cosmos/cosmos-sdk/pull/9979

[2021-09-22 11:01] amaurym commented on #10127
That's actually incorrect. See:

https://github.com/cosmos/cosmos-sdk/blob/ed5d1656e0aea0a9b1c2c885e8d1e1bf7563f928/store/gaskv/store.go#L76-L78

The improvement here proposed by @alpe would be to charge a flat cost even if there are no entries (both upon creation and on `.Next()`), which I support.

[2021-09-22 12:30] albertchon opened #10213 "Cannot refund GasConsumed - tx times out"
## Summary of Bug

Empirically, I've found that when the entire gas consumed is refunded, the tx will timeout. However if one refunds a smaller value up to the gas consumed in the handler execution, the tx will succeed.
[code]

## Version
v0.44.0

Also previously noted this observation here https://github.com/cosmos/cosmos-sdk/pull/9403#issuecomment-922484047
____

## For Admin Use

- [ ] Not dupl

[2021-09-22 12:43] ethanfrey commented on #10127
Okay, you are right, the first seek is charged... but *only if it is valid*

https://github.com/cosmos/cosmos-sdk/blob/ed5d1656e0aea0a9b1c2c885e8d1e1bf7563f928/store/gaskv/store.go#L110-L112

Meaning you can run as many seeks as you want for empty ranges with no gas cost. This is especially bad for smart contracts. And each search to find the first value also consumes a fair bit of I/O to read it.

[2021-09-22 13:45] alexanderbez commented on #10213
I don't understand this :-/

@fedekunze can you add to anything here pls?

[2021-09-22 17:36] amaurym commented on #9955
How do we parse strings like `1000uatom`? In the bank state, we store an index using the base denom: e.g. `"atom" -> Metadata{denom_units:["uatom","atom"...]}`. There's no index from `uatom` -> atom's metadata.

- Andrei's current solution is to use heuristics (https://github.com/cosmos/cosmos-sdk/pull/10038#discussion_r7123467560: i.e. try removing leading `{u,m,n,K,M,G...}` (common multipliers)

[2021-09-22 19:01] clevinson commented on #9955
I think actually it's the other way around. There is only an index from uatom -> metadata, but not from atom -> metadata (see [here](https://github.com/cosmos/cosmos-sdk/blob/8ebda84c8956d3c3629bc682ba389e7ce6ed5d96/x/bank/keeper/keeper.go#L278)). In the case of atom, the BaseDenom is 'uatom', and the DisplayDenom is 'atom'.

That being said, we would still need support for both directions, as `Fo

[2021-09-22 20:40] aaronc commented on #9955
Let’s make sure we have the right indexes somewhere. It does need to be part of the state machine - I.e. if we do in memory we need to do proper cache invalidation

[2021-09-22 22:12] albertchon commented on #10213
Edited grammar in OP to make it more clear. Basically one cannot refund the gas consumed in the antehandler.

[2021-09-23 00:43] ryanchristo commented on #10197
Thanks! Closing in favor of #9970.

[2021-09-23 00:43] #10197 closed

[2021-09-23 01:20] tomtau commented on #10188
@alexanderbez do any simulations have cross-SDK version upgrades (0.42->0.44)? One potential source of non-determinism may be in upgrade migrations: https://github.com/cosmos/cosmos-sdk/pull/10189#issuecomment-923578065

[2021-09-23 04:32] #9895 closed

[2021-09-23 05:50] RiccardoM opened #10216 "Empty amount delegation stored after unbonding/redelegation"
## Summary of Bug
If you unbond or redelegate all your tokens from a validator, it might happen that a delegation entry is persisted on chain with amount equals to zero.

## Version
`v0.44`

## Steps to Reproduce
1. Delegate some tokens to a validator
2. Unbond/redelegate those tokens to another validator.

Sometimes, it might happen that the chain stores a delegation entry with `amount` equals to

[2021-09-23 06:56] paulvi commented on #10086
The issue is still on.

Could you please keep issue open, until it is really solved.

[2021-09-23 08:20] robert-zaremba commented on #9629
@spoo-bar are you working on this issue?

[2021-09-23 08:23] robert-zaremba commented on #6063
Did anyone confirm this bug/

[2021-09-23 09:00] spoo-bar commented on #9629
@robert-zaremba no I havent been working on this

[2021-09-23 09:26] robert-zaremba commented on #10213
Isn't this duplicating https://github.com/cosmos/cosmos-sdk/issues/2150?

[2021-09-23 09:30] marbar3778 commented on #10086
Hey, this doesn't pertain to the development of the cosmos-sdk. Feel free to open a new issue here, https://github.com/cosmos/cosmos.

[2021-09-23 09:33] robert-zaremba commented on #10213
hmm, it's not related.

[2021-09-23 09:39] robert-zaremba commented on #10213
@albertchon would you be able to provide a test case (as a pr)?

[2021-09-23 13:09] amaurym opened #10219 "Keyring migration doesn't migrate key names correctly"
## Summary of Bug

After keyring migration, we can't `keys show` by name anymore

## Version

6e70d25dacac09cd2fb74d5a86312cf0e3489544, though it's probably after #9695

## Steps to Reproduce

- `./build/simd` is a master node built with above commit hash
- `./build/v042_node` is a v0.42.9 node

Add a key on v042
[code]

Make sure the key shows up
[code]

Run the same command with the master keyri

[2021-09-23 13:28] amaury1729 opened #10220 "Confusing error message when migration via `keys list` on macos"
## Summary of Bug

When running `simd keys list`, the command runs a migration if needed. If we deny keychain access, the error message could be improved

## Version

6e70d25dacac09cd2fb74d5a86312cf0e3489544, though it's probably caused by #9695

## Steps to Reproduce

- Create some keys on macos using a v042 node, using the "os" (keychain) backend
- On a master node, run `simd keys list`
- Deny k

[2021-09-23 14:12] alexanderbez commented on #10216
This is because the shares are non-zero. Recall, shares are an approximation.

[code]

[2021-09-23 15:09] barriebyron opened #10221 "create awesome 404 page for Cosmos SDK docs"
## Problem Definition

Cosmos SDK docs lack a custom 404 page, so users don't know where to go and have a negative user experience when doc links do not resolve.
For example, a typo in the any invalid docs URL ([test invalid URL](https://docs.cosmos.network/master/intro/overviw.html#) )
results in:
![image](https://user-images.githubusercontent.com/10067215/134532440-31ef67cf-69e3-4385-a6af-acba8b

[2021-09-23 16:23] i-norden commented on #9816
Hi @clevinson, can you add a section to link to the child issues in the above comment from your top-level comment?

[2021-09-23 16:25] i-norden commented on #9817
@clevinson I created this issue, which is a bit of a duplication of this one but contains additional/updated information: https://github.com/cosmos/cosmos-sdk/issues/10096. I think we should either copy the content there over to the top-level comment here or close this and use that issue for tracking ADR-038 going forward.

[2021-09-23 22:21] robert-zaremba commented on #10096
For the part 3, instead of building gRPC service to stream file changes and reinventing a wheel let's use a proper queue service in the first place like Kafka or RabbitMQ. These are market solutions, widely used, with many integrations.

[2021-09-23 22:30] robert-zaremba commented on #9014
I don't @kaustubhkapatral  is working on something similar, but I'm not sure how configurable it will be.

[2021-09-23 22:43] aaronc opened #10222 "Problem with container auto-group/one-per-scope types"
I have uncovered an issue with auto-group and one-per-scope types in the container API.

Basically, if you have a provider which provides auto-group or one-per-scope types, but these haven't been declared as auto-group or one-per-scope in the container yet we'll get an error. An example could be say we have an one-per-scope type `upgrade.Handler`. Many modules may provide this, but say we don't ac

[2021-09-24 01:34] tomtau commented on #10188
@alexanderbez the upgrade handler doesn't have anything special besides the Cosmos SDK's 0.42->0.44 migrations: https://github.com/crypto-org-chain/chain-main/blob/v3.1.1/app/app.go#L464

[2021-09-24 06:11] RiccardoM commented on #10216
Yeah that's what I figured out. Does it make sense to have this stored on the state though? Wouldn't it make more sense to delete the delegation entry when the amount is zero even if shares are not zero? If the amount is zero, even a slashing wouldn't affect it so what's the point on leaving it there?

[2021-09-24 09:36] hxrts commented on #7421
Current roadmap now lives here: https://app.zenhub.com/workspaces/regen-network---blockchain-eng-60677630201cec0017c79548/roadmap

[2021-09-24 11:18] aaronc commented on #10222
Another alternative is to just have public tag interfaces that get implemented by these special types:
[code]

This will allow structs or type aliases to be used without module developers needing to worry about a weird embedded struct field. I think I like this interface approach best.

[2021-09-24 12:11] puneetsingh166 opened #10224 "Transaction format the Cosmos node accepts"
Hi everyone please help regarding the issue. i am trying to test cosmos node using tm-load-test
but problem is standard implementation of tm-load-test won't work if you're testing against a Cosmos node.
The only included transaction format in tm-load-test is for the key/value store ABCI app (i.e. the key/value store ABCI app running on top of Tendermint)

The format of transactions that tm-load-te

[2021-09-24 12:18] puneetsingh166 commented on #10224
@rigelrozanski @cwgoes @alexanderbez @ethanfrey

[2021-09-24 12:40] ethanfrey commented on #10224
None of us are working on  the Cosmos sdk anymore.

Maybe @amaurym or @robert-zaremba or even @odeke-em can give some insights into loadtesting Cosmos nodes.

I assume there are some other tools people are using?

[2021-09-24 12:47] puneetsingh166 commented on #10224
Hi @ethanfrey thanks for your response. Can you suggest any other Benchmarking tool to test cosmos node.

[2021-09-24 13:04] damiannolan opened #10225 "Use ADR-28 addresses for module accounts"
## Summary

Module Accounts created in `/x/auth` are currently using the following API from `"github.com/tendermint/tendermint/crypto"`

[code]

Should module accounts now be created using the [following outlined in ADR-28?](https://github.com/cosmos/cosmos-sdk/issues/7618#issuecomment-897183844)

[code]

cc @colin-axner @robert-zaremba

## Proposal

Replace `crypto.AddressHash([]byte(name))` with

[2021-09-24 14:46] i-norden commented on #10096
It's a bit frustrating to have this design flip-flop occur after the file streaming service implementation has been open and undergoing review since February. If this had been brought up during the design phase we could have avoided this unnecessary work (it also voids my work done on the 3rd part of the ADR [here](https://github.com/cosmos/cosmos-sdk/pull/9647).

This was discussed in depth befor

[2021-09-24 15:00] fdymylja commented on #10222
So if we wanted to provide a one-per-scope type we would need to impl this interface, same goes for auto-group.

It's unfortunate, but probably it is the best. It will need proper documentation because it's something that can be easily over-looked.

[2021-09-24 15:07] i-norden commented on #10096
From the call:
1. Still merge https://github.com/cosmos/cosmos-sdk/pull/8664 after switching to plugin-based architecture
2. Don't reopen https://github.com/cosmos/cosmos-sdk/pull/9647 (?)
3. Introduce a Kafka or RabitMQ streaming service

[2021-09-24 16:53] aaronc commented on #10222
These need to be configured anyway though. Seems more fool-proof than the `container.Option` which like I said can definitely be problematic.

So I think unless there's any objections I'll go with the interface approach. Does that sound fine?

[2021-09-24 16:59] nooomski opened #10228 "Docs: versions other than master return 404"
## Summary of Bug

When trying to visit any older version in the SDK docs, you land on a 404.

## Version

All except master.

## Steps to Reproduce

Just open a doc file from the master branch, and change the url to v0.44, v0.42 or v0.39.
Example:
[https://docs.cosmos.network/master/intro/overview.html](https://docs.cosmos.network/master/intro/overview.html) (this works)
[https://docs.cosmos.netw

[2021-09-24 19:04] jackzampolin commented on #7448
Wanted to ping this issue and see if we have a resolution anywhere on the roadmap? This is something that is still causing pain for clients.

[2021-09-24 19:15] aaronc commented on #7448
We have a plan for this and partially implemented it but paused because we do not want to introduce more major breaking changes into 0.45, and punted it to 0.46

[2021-09-24 19:19] jackzampolin commented on #7448
As the user primarily affected by this its been hard to see this punted again and again. This effectively makes a clean relayer implementation (or any kind of concurrent cross chain workload) impossible using the go bindings. Between this issue and the upcoming breaking changes w/o a way to support additional versions (https://github.com/cosmos/cosmos-sdk/discussions/10162) building clients in the

[2021-09-24 19:26] aaronc commented on #7448
Bech32 prefixes have been an issue for a LONG time. It's a balancing act between breaking every module which depends on them in the next release and getting other high priority features out the door.

Where are you having issues talking to multiple chains with the same SDK version? Clients should be compatible other than this bech32 issue.

[2021-09-24 19:37] jackzampolin commented on #7448
I'm interested to hear which "high priority features" got prioritized as the discussions on this have been held at times I've been unable to attend. This has been something that was going to be worked on since this issue was opened. It has negatively affected the go client ecosystem significantly.

We are rapidly entering a world in which there are multiple chains at different versions which need

[2021-09-24 19:53] alexanderbez commented on #10188
Yes @amaurym explained it to me -- iteration over modules was non-deterministic because we were using a map.

[2021-09-24 20:02] aaronc commented on #7448
Principally #9406 lining up with Gravity Bridge was prioritized over this.

Can you please explain how the current codebase does not accommodate this? As far as I can tell it should and does.

[2021-09-24 20:02] alexanderbez commented on #10216
That's a great question! I think we can remove it if amount is zero. We just need to double check some edge cases like how distribution rewards work, e.g. do they work based on shares or amount.

Thoughts @ValarDragon

[2021-09-24 20:03] jackzampolin commented on #7448
Where is the discussion on gravity bridge by the way? I've been working on that project for almost a year and have 0 visibility into these discussions.

How to import different SDK versions into the same codebase?

[2021-09-24 20:07] aaronc commented on #7448
In the roadmap call we discussed lining up meta-transactions close to the gravity bridge release if possible.

No it's not possible and can't be solved by the proposal #10162. We'd like it to be possible but it's just not so simple and we'll obviously try to work on it. But what should this have to do with clients? The client proto files should have been changed in backward compatibile ways so cli

[2021-09-24 20:08] alexanderbez commented on #10224
We should probably have support for this, but this work would reside not in the SDK, but in the tm-load-test repo or wherever the tool is located. I dont even know if it's maintained anymore.

[2021-09-24 20:15] jackzampolin commented on #7448
My understanding is that if we fixed the issue with the proto generation we would be able to import `github.com/cosmos/cosmso-sdk/v44` as well as `github.com/cosmos/cosmos-sdk/v42`. But it sounds like this work has fallen to the meta-transaction support for the unspecified gravity bridge? Again promoting speculative uses rather than existing clients with userbases. https://github.com/cosmos/cosmos

[2021-09-24 20:24] aaronc commented on #7448
It's not an easy fix because of the SDK's dependency graph and the way proto files are registered and that scenario won't be possible without A MASSIVE of work.

It's not just for Gravity Bridge, the meta transaction work is desired by Gravity Dex and other IBC use cases. Not making a lot of major breaking API changes was a decision made for having a feature release in such a way that it didn't br

[2021-09-24 20:32] jgimeno commented on #10222
Yeah @aaronc , I think is the best approach.

[2021-09-24 22:12] aaronc commented on #7448
@okwme would love your input here

[2021-09-24 22:13] aaronc commented on #9690
@amaurym this is a duplicate of #9957 and #7448. Can we do a little tidying up of the issue board?

[2021-09-24 22:52] aaronc commented on #10222
Thanks for the input guys. Fixed in #9666 now.

[2021-09-24 22:52] #10222 closed

[2021-09-25 18:28] ghost opened #10230 "Question: How do you deconstruct the tx.signature bytes into a useable address?"
## Question

Im running up against transactions that dont have a pubkey object present, so I'm forced to rely on the signature bytes to derive the address that submitted the tx. How do I do that? I don't see an easy way to go from signature bytes -> address like I do with pubkey -> address.

Thanks!

Example:
[code]

____

#### For Admin Use

- [ ] Not duplicate issue
- [ ] Appropriate labels appl

[2021-09-26 04:01] SkyElf55 opened #10231 "Use nth dimensions for data and travel"
<!-- < < < < < < < < < < < < < < < < < < < < < < < < < < < <

## Summary

Station schedules and other data along a 2d aggregated wave front take too long and will take longer as thw wavefront grows. Plus updating and displaying such info pauses everything else some.

Quicker, more effient, and cheaper to to go through an intersecting point to whatwver dimension and store schedule data there at wha

[2021-09-26 10:11] mdmohsin7 commented on #10180
Hi @barriebyron, I would like to take up this issue as my first step towards contributing to the Cosmos ecosystem.

[2021-09-26 21:33] alexanderbez commented on #10230
How? A tx is supposed to have a public key present. See the following [interface](https://github.com/cosmos/cosmos-sdk/blob/15653f83e9eb09270e0480833ee17a664690eb85/x/auth/signing/sig_verifiable_tx.go#L11).

Now it's totally OK for _accounts_ not to have a public key if it's the first time they've issued a tx.

[2021-09-26 22:15] alexanderbez commented on #10091
I've attempted to emulate the same behavior flow of what gravity would do/behave via a unit test:

- Create validator
- Get slashed and jailed
- Unjail
- (Self) delegate more

Note, the unit test **passes**

[code]

[2021-09-27 05:53] brennhill commented on #10221
@barriebyron I'm happy to pick this up.  Can you confirm that the docs site is actually hosted in this repo? It doesn't look like it.  If not, can you point me to the appropriate repo.  It should be quick enough to build.

[2021-09-27 06:53] #10127 closed

[2021-09-27 07:08] sudesh-supraoracles opened #10235 "Request Support for BLS12 based signature verification"
Hi Team!

Since many protocols are putting BLS12 to use for digital signatures.
I want to verify BLS 12 based signature from Cosmos smart contract.

Hoping for some positive inputs/response on this.

[2021-09-27 07:34] marbar3778 commented on #10235
Are you looking at doing this verification in cosmwasm?

[2021-09-27 07:40] marbar3778 commented on #10231
We are working on time travel currently. This way transactions per second become infinite. Keep your eyes out for never running into scaling issues again.

[2021-09-27 07:40] #10231 closed

[2021-09-27 07:45] sudesh-supraoracles commented on #10235
Yes, as it only supports secp256k1 algorithem , i want to perform the signature verification using BLS12 based signature in cosmos.
can you tell me when will the support available for BLS12?

[2021-09-27 09:10] AdityaSripal commented on #10153
Hmm but this would mean that any parent chain would have to use this custom wrapped staking module

So the Hub presumably would be hooked to the custom module and not directly to the staking module in the SDK

[2021-09-27 12:33] barriebyron commented on #10180
hi @mdmohsin7 thank you! Wait until October 1st to start your work so you will be eligible for October Codefest https://blog.cosmos.network/october-codefest-call-for-contributors-42ade37f4913

[2021-09-27 12:37] barriebyron commented on #10221
@brennhill
thanks for picking this challenge up! Wait until October 1 to begin your work so you will be eligible for October Codefst
https://blog.cosmos.network/october-codefest-call-for-contributors-42ade37f4913

Looks like the docs are in this repo in https://github.com/cosmos/cosmos-sdk/tree/master/docs

[2021-09-27 12:50] brennhill commented on #10180
https://github.com/cosmos/cosmos-sdk/pull/10237

[2021-09-27 13:11] brennhill commented on #10221
OK, sounds good.  I didn't even notice that October was so close!

[2021-09-27 13:30] alexanderbez commented on #10153
Correct.

[2021-09-27 15:21] shravanshetty1 opened #10240 "Empty blocks are being created even though `create_empty_blocks = false` is set in 'config.toml'"
## Summary of Bug

## Version

v.044

## Steps to Reproduce

____

## For Admin Use

- [ ] Not duplicate issue
- [ ] Appropriate labels applied
- [ ] Appropriate contributors tagged
- [ ] Contributor assigned/self-assigned

[2021-09-27 16:30] crussell-figure commented on #10230
According to [this](https://github.com/cosmos/cosmos-sdk/blob/9fd866e382/proto/cosmos/tx/v1beta1/tx.proto#L117) its optional in the tx auth Info.

[2021-09-27 18:43] okwme commented on #7448
Yes, I've asked for help from @aaronc to ensure sure the large codebases of gravity bridge, gravity dex, and the farming and budget modules don't need to do a large refactors if/when a v0.46 is combined into the theta upgrade estimated in november. The meta-transaction was included as a priority issue based on client feedback from the emeris team to support the gravity dex.

I'm sorry that refacto

[2021-09-27 20:13] ethanfrey opened #10243 "No gas is charged for key length in gas meter"
## Summary of Bug

The metered KVStore charges for reads and writes, a flat rate, plus a per-byte cost for the value. However, you could store 1MB in the key without invoking any gas cost, which is not so cool.

This issue was first raised in wasmd discussions: https://github.com/CosmWasm/wasmd/issues/333

## Version

0.34-0.44

## Steps to Reproduce

I would propose charging the same per-byte fee

[2021-09-27 21:12] alexanderbez commented on #10230
I don't see how. It's required in the AnteHandler signature verification. @amaurym or @aaronc can you shed any light here?

[2021-09-28 04:04] ValarDragon commented on #10216
These shares should definitely be removed if amount is 0 imo. Great catch!

The distribution rewards should work based on shares

[2021-09-28 05:16] ValarDragon opened #10244 "Build caching on all queries for full nodes"
## Summary

Make a config option that allows full nodes to cache all queries, with the cache expiring after the next block's execution.

## Problem Definition

Caching of queries is a very important use case. Currently many clients / folks working with the SDK have had to implement their own caching layers outside of the full node. While this is somewhat inevitable / necessary as things must get l

[2021-09-28 05:47] ValarDragon opened #10245 "Only do telemetry computation if telemetry is enabled in the node"
## Summary

As detailed in other issues, the mutex locks and time.Now() syscalls' taken in telemetry are rather expensive for nodes. In general, nodes not using telemetry should not pay these costs.

## Problem Definition

Nodes that aren't using telemetry should not pay the costs of telemetry.

## Proposal

Somehow make the telemetry package know the result of its config option detailing whether

[2021-09-28 06:34] puneetsingh166 opened #10246 "go get: github.com/cosmos/cosmos-sdk@v0.39.3 updating to github.com/cosmos/cosmos-sdk@v0.44.0 requires github.com/gogo/protobuf@v1.3.3: reading github.com/gogo/protobuf/go.mod at revision v1.3.3: unknown revision v1.3.3"
when installing some dependencies i am getting this error
[code]
Please help @all contributor

[2021-09-28 08:50] puneetsingh166 commented on #8469
facing the same issue when i am tring to run ``` github.com/cosmos/cosmos-sdk@v0.44.0 ``` please help.

[2021-09-28 10:26] #10058 closed

[2021-09-28 10:27] amaurym commented on #8469
Please see https://github.com/cosmos/cosmos-sdk/issues/8469#issuecomment-769307887

[2021-09-28 10:46] amaurym opened #10249 "Create `SIGN_MODE_AMINO_AUX` for signing meta-transactions"
Part of the TX working group

## Summary

Create a new sign mode called `SIGN_MODE_AMINO_AUX`

## Problem Definition

The meta-transactions feature (#9912) needs a SIGN_MODE for signing tips. We added [SIGN_MODE_AUX](https://github.com/cosmos/cosmos-sdk/issues/9406), but ledger devices can't sign that.

Our first approach was to create a totally new SIGN_MODE for ledger: either [PROTO_JSON](https:

[2021-09-28 10:55] mdmohsin7 commented on #10180
Since @brennhill has already resolved this issue, I guess it won't makes sense for me to do the same changes again and take credit from him.

[2021-09-28 10:58] barriebyron commented on #10180
hi @mdmohsin7 we welcome all contributions and there is always room and always ways for you to contribute. I'll prepare other suitable first issues and codefest issues for you to work on during codefest. Keep a watch out!

[2021-09-28 11:13] mdmohsin7 commented on #10180
Looking forward to it 😊

[2021-09-28 13:07] barriebyron commented on #10180
thank you @brennhill for your extensive updates to help with our consistent branding in https://github.com/cosmos/cosmos-sdk/pull/10237

[2021-09-28 13:07] #10180 closed

[2021-09-28 13:44] #9957 closed

[2021-09-28 13:49] amaurym commented on #9690
#9957 has been closed in favor of this issue.

Still keepeing #7448 because it's about the whole sdk.Config, while this is specifically about bech32.

[2021-09-28 14:16] amaurym commented on #10141
We're not going with SIGN_MODE_DIRECT_JSON anymore, let's close this.

[2021-09-28 14:16] #10141 closed

[2021-09-28 14:18] amaurym opened #10251 "SIGN_MODE_TEXTUAL Epic"
This is a placeholder issue for the SIGN_MODE_TEXTUAL epic (design & implementation), it will be filled with more details and related issues soon.

For discussion, please use #6513.

See the current [WIP living document](https://hackmd.io/fsZAO-TfT0CKmLDtfMcKeA?both) for specification and the [Zenhub board](https://app.zenhub.com/workspaces/regen-network---blockchain-eng-60677630201cec0017c79548/b

[2021-09-28 14:20] amaurym commented on #9320
We're not pursuing the DIRECT_JSON sign mode anymore, because of limitations of using JSON in ledger devices. For more info, see the meeting notes of the 22.09.2021 meeting with Juan in https://hackmd.io/G4mjmz7YRJ-5_rE12Y8uYQ

[2021-09-28 14:20] #9320 closed

[2021-09-28 14:22] amaurym opened #10252 "Revert the SIGN_MODE_DIRECT_JSON proto files"
We decided not to do SIGN_MODE_DIRECT_JSON anymore, so let's revert the proto files from #9320 (see issue for details).

PR to revert: #8476

[2021-09-28 14:53] alexanderbez commented on #10244
There's already so many levels of caching in the SDK though: inter-block cache, IAVL/tree caches, DB caches. Also, on avg the block times are pretty narrow (~5-7s), so unless you have hundreds of requests coming into a node during a block, will this proposed cache save that much time and compute?

[2021-09-28 14:53] alexanderbez commented on #10245
ACK, yeah this totally makes sense and TBH was an oversight on my part. I didn't realize how much time these calls took.

[2021-09-28 15:20] #10188 closed

[2021-09-28 15:28] robert-zaremba commented on #10025
`DecodeAssumingValidChecksum`. So now we need someone to update SDK to use that function when we deserialize things from state. Anything else?

[2021-09-28 16:11] ValarDragon commented on #10025
Yup! Also @conr2d can you post a benchmarks with the memallocs as well? Add `-benchmem` to the benchmark command (That was what the bottleneck was in our osmosis benchmarks)

[2021-09-28 16:55] nickray commented on #10219
Yeah, this is also happening on a fresh starport 0.18 / cosmos-sdk 0.44 chain: `chaind keys add name` then `chaind keys show name` tries to interpret the name as an address.

[2021-09-28 20:38] nickray commented on #8861
Is there hope for this happening in the near future?

[2021-09-28 22:58] robert-zaremba commented on #8861
The implementation is done, we need to test it. It was awaiting a keyring migration.

[2021-09-28 23:08] #10126 closed

[2021-09-28 23:27] ValarDragon commented on #10244
For Osmosis, the front-end nodes, and Imperator's info site (info.osmosis.zone) both had to write their own custom caching layers for doing exactly this at a higher level of abstraction, in order to keep up. (over 10x resource reductions, critical when nodes weren't able to keep up and that 10x lowered the dev-ops overhead)

Granted these caches weren't at the state machine, I don't know how much

[2021-09-29 00:01] robert-zaremba commented on #10243
This is a potential security issue and bug on the economics. So adding `bug` and `security` labels.

[2021-09-29 08:36] ethanfrey commented on #10243
Thanks for tackling this

[2021-09-29 09:11] #9683 closed

[2021-09-29 09:14] arrayah opened #10258 "Segmentation fault when running (make) localnet-start on linux/arm64 (Apple M1 Chip)"
## Summary of Bug

When building a docker image on a Macbook with M1 Chipset (arm64 arch), the built image and binary does not
run correctly and ocassionaly would run into a `qemu: uncaught target signal 11 (Segmentation fault) - core dumped `

## Version

v0.44.0

## Steps to Reproduce

1. Macbook Pro with M1 Chip
2. `make localnet-start`
3. Output Error

`qemu: uncaught target signal 11 (Segment

[2021-09-29 10:06] marbar3778 commented on #10244
with adr-38 this could become obsolete. We can stream to psql or other external services, no need to query the ndoe directly anymore.

[2021-09-29 11:13] gyrusdentatus commented on #1204
This should be a fairly simple thing to add as a module, wouldn't it ? We could save a ton of bandwidth and time if this thing was possible.

Had to resync so many times I've stopped counting...

Please add this feature !

[2021-09-29 11:41] arrayah commented on #10258
When I remove the `GOARCH` the binaries compile without a problem.

Though there's a problem when using: make target`localnet-start: build-linux localnet-stop`.

Seems the image that is built has as a default command `simd` [L42](https://github.com/cosmos/cosmos-sdk/blob/master/Dockerfile#L42) I am not sure its behavior in previous docker version, but as of now what I can see is that when the cont

[2021-09-29 14:15] alexanderbez commented on #10244
What exactly were you caching @ValarDragon? What type of data has the highest read rate?

[2021-09-29 14:22] alexanderbez commented on #1204
Rolling back a few blocks isn't an SDK module . It's a DB operation that needs access to both TM and SDK data stores. @ethanfrey already did some work on this a long time ago. Maybe he can dig it up and post it somewhere.

[2021-09-29 14:24] iranzo commented on #1204
That would be great @alexanderbez !

[2021-09-29 14:58] robert-zaremba commented on #10177
What would be a case for having a zero `GasLimit`?

[2021-09-29 14:58] robert-zaremba commented on #10177
I will have a look into this issue and try to solve it.

[2021-09-29 15:22] ValarDragon commented on #10244
Ohh true, that will be incredibly nice, and allow for easier / more standard data serving setups! When is ADR 38 planned to land?

The biggest thing we were caching was queries for Osmosis pools. A couple other things made it into the cache, but all to lesser effects

[2021-09-29 15:30] robert-zaremba opened #10263 "Fork RocksDB into cosmos organization and use it in store/v2"
## Summary

We need a patch in RocksDB created by @roysc . Since Cosmos ecosystem is very active, we want to have a direct access to all dependencies we modify.

Ref: https://github.com/cosmos/cosmos-sdk/pull/9851#discussion_r713917928

- [x] Fork [Go RocksDB](github.com/tecbot/gorocksdb) into `cosmos/rocksdb`
- [ ] update `db/go.mod` to use cosmos fork.

CC: @i-norden , @roysc
____

#### For Admi

[2021-09-29 15:36] aaronc commented on #10244
For the time being why can't you just stick a cache likely cloudfront or fastly in front of the REST service?

[2021-09-29 15:57] ValarDragon commented on #10244
Thats effectively what we do (though something more home-brewed, since we couldn't get the block height level eviction on cloudfront / fastly)

[2021-09-29 16:26] amaurym opened #10264 "CLI for Tips transactions"
Part of the TX working group.

## Summary

Think about the CLI UX for using meta-transactions.

## Problem Definition

We added meta-transactions in #9406 and #9912. However, currently we only test them programmatically, e.g. using the SDK's TxBuilder.

We should think how end-users interact with meta-transactions.

## ~Proposal~ (outdated, see comments below instead)

The SDK's user interface is

[2021-09-29 16:49] armcmu commented on #10091
Today my validator was jailed.
This is what I found in the logs:
[code]
I have enough funds on my balance:
[code]
Since I used to read on discord that guys were losing amounts of 30-50umee from a stake when the validators were out of jail, I put a huge fees of 55umee. Figured this transaction required a high fee:
[code]
Looks like we got out of jail.
But, as you can see below, "VotingPower: "35640

[2021-09-29 17:15] tanutcho commented on #10091
I reproduce and found out the issue occured after jail & unjail process.
The reason of jailing occured after
1. the umee orchestrator address lack of funding (umee token)
2. Low on disk space (Block cannot be sync)

when orchestrator address have not enough umee token. It's shown in logs of gorc service

However, the issue cannot be solved yet due to unavailable to delegate with error

Error: rpc

[2021-09-29 18:17] armcmu commented on #10091
And here's the jail again. A total of 145 blocks later, my validator and 9 other "colleagues" have gone to jail.  Gorс had been off since the last incident. Only the umeed service was working and geth was looking for live peers
[code]
This time I used a fee of only 200uumee and 36umee was missing from the stake:
[code]
And now `"VotingPower": "35640"`

[2021-09-29 18:22] technicallyty commented on #10246
try adding this line as a replace directive in your `go.mod` file:

[code]

[2021-09-30 02:30] ZakAyesh opened #10267 "Deprecated function breaking SDK on macOS BigSur"
## Summary of Bug

While attempting to install the [Terra core software ](https://github.com/terra-money/core), the following error was thrown:
[code]
It seems the `SecTrustedApplication.h` API was completely deprecated and the go-keychain software within the SDK relied on that. I am not the only one encountering this issue either:
https://github.com/keybase/go-keychain/issues/72
https://github.co

[2021-09-30 03:55] puneetsingh166 commented on #10246
Hi @technicallyty Thanks for your response . can you help me in another one ```  go: finding module for package github.com/tendermint/tendermint/rpc/lib/typesgo: finding module for package github.com/tendermint/tendermint/libs/common
github.com/you/my-load-tester/cmd/my-load-tester imports
        github.com/interchainio/tm-load-test/pkg/loadtest imports
        github.com/tendermint/tendermint/li

[2021-09-30 05:45] conr2d commented on #10025
@ValarDragon

In original version (enigmampc/btcutil), memory allocation always happens multiple times due to string copy.
https://github.com/enigmampc/btcutil/blob/e2fb6adb2a25f868283c4f243c873ad6b4894974/bech32/bech32.go#L35-L36

By merging the latest version (btcsuite/btcutil), memory allocation happens when a given bech32 string consists of upper case letters.
https://github.com/cosmos/btcutil

[2021-09-30 13:25] #10082 closed

[2021-09-30 13:38] ValarDragon commented on #10025
Thats amazing! Thanks

[2021-09-30 16:03] severyan1 opened #10273 "Error when creating a transaction. Gas."
Hello everyone, I have a problem creating a transaction and setting a commission.

The error looks like this:
rawlog: 'out of gas: out of gas in location: ReadPerByte;

Transaction:
[root@ArteryTestNodeUK ~]# artrcli tx send artr1ped5jk77ufj8mtrw2zvkyu4xt7clx499fpf2q7 artr1wcphw3z0zgxvvxyldyex62wx4fkn96x08qhudf 1000000stake --gas 3024 --from artr1ped5jk77ufj8mtrw2zvkyu4xt7clx499fpf2q7 --chain-id a

[2021-09-30 16:07] severyan1 commented on #10273
Hello everyone, I have a problem creating a transaction and setting a commission.

The error looks like this:
rawlog: 'out of gas: out of gas in location: ReadPerByte;

Transaction:
[root@ArteryTestNodeUK ~]# artrcli tx send artr1ped5jk77ufj8mtrw2zvkyu4xt7clx499fpf2q7 artr1wcphw3z0zgxvvxyldyex62wx4fkn96x08qhudf 1000000stake --gas 3024 --from artr1ped5jk77ufj8mtrw2zvkyu4xt7clx499fpf2q7 --chain-id a

[2021-09-30 18:52] alexanderbez commented on #10263
Do you need me to fork the repo under the cosmos org @robert-zaremba ?

[2021-09-30 19:04] alexanderbez commented on #10273
There is no issue here AFAIK. You didn't supply enough gas.

[2021-09-30 19:04] #10273 closed

[2021-09-30 19:13] crussell-figure commented on #10230
Any news on this?

[2021-09-30 19:20] alexanderbez commented on #10230
AFAIK you cannot get an address from a signature, you can only use the signature to verify. The public key should exist when signing.

[2021-09-30 19:48] severyan1 commented on #10273
If I specify a value greater than the error will not disappear

If I specify --gas auto, there will be no error, but there will be an empty transaction:

`[root@ArteryTestNodeUK ~]# artrcli tx send artr1ped5jk77ufj8mtrw2zvkyu4xt7clx499fpf2q7 artr1wcphw3z0zgxvvxyldyex62wx4fkn96x08qhudf 1000000uartr --gas auto --from artr1ped5jk77ufj8mtrw2zvkyu4xt7clx499fpf2q7 --chain-id artery_network-7 -b sync
Ent

[2021-09-30 20:01] severyan1 commented on #10273
And another question, how is it established --gas-price ??
How to calculate this?
And which ticker to indicate? stake or uatom or nothing?

[2021-09-30 20:13] crussell-figure commented on #10230
Is the signature just the pubkey thats encoded? Or is it a combination of things?

[2021-09-30 20:32] alexanderbez commented on #10273
No, the tx is not empty. It was broadcasted to the network via `sync` mode. It even gives you a hash to query by `E85231A3087AF8CB514BA6D0C701EDAB8A49418D4C317FE93C6692F03EE96928`.

[2021-09-30 20:32] alexanderbez commented on #10230
The signature is a cryptographic signature using the account's private key over a structure.

[2021-09-30 20:37] crussell-figure commented on #10230
Would that mean it should be consistent from signature to signature? Because Im not seeing that...

[2021-09-30 21:26] blewater commented on #10042
Hi 👋, I created PR #10275 against the previous attempt to address the regression issue. Please advise whether the PR suffices for continuing the review process.

[2021-09-30 23:51] severyan1 commented on #10273
Thank you! Really!!

[2021-10-01 04:18] crussell-figure opened #10277 "Events are getting lost from query response"
## Summary of Bug

When querying for a tx with indexing turned on for all events, the grpc/cli query returns a subset of events that are actually on the tx. When querying from tendermint, all events are returned as should be the case.

For example:
From GRPC -> http://34.82.40.187:1317/cosmos/tx/v1beta1/txs/1CA6357119C42A9743C7BA0F6AE520F7E78D49E7950AA51239206A44522FEE6E
Response ->
[code]

From T

[2021-10-01 06:55] likhita-809 commented on #10178
can we close this issue, since it is already addressed in #10238 ?

[2021-10-01 08:43] puneetsingh166 opened #10278 "how to extract private key from mnemonic (seed)"
HI all Please help regarding it - i have mnemonic (seed) of my account and i want to extract private key from that seed . how to do it ?

[2021-10-01 11:36] #9814 closed

[2021-10-01 12:31] cmwaters opened #10281 "Add rollback support in the event of an incorrect hash"
## Problem Definition

The original issue can be found [here](https://github.com/tendermint/tendermint/issues/3845). As a quick summary, in the event of a non-deterministic app hash or when an upgrade fails, Tendermint will have persisted the incorrect `AppHash` and nodes will be unable to make progress. What needs to happen is that the application should revert back to the previous state, Tenderm

[2021-10-01 13:22] amaurym opened #10282 "Refactor middleware tests out of baseapp_test"
Part of the tx working group

## Summary

Fix technical debt in tests after the baseapp middleware refactor (#9996).

ref: https://github.com/cosmos/cosmos-sdk/pull/10028#issuecomment-932193195, https://github.com/cosmos/cosmos-sdk/pull/10028#discussion_r717776817

## Problem Definition

Before #9996, baseapp took care of `runTx/runMsgs`, and some adjacent stuff like branching the stores, panic re

[2021-10-01 13:53] amaurym commented on #10230
Hey @crussell-figure! Are you using Go? If yes, you can just use the tx abstractions we have in Go.

It would look like:

[code]

The idea is that from a tx, we can deterministically get all its signers as an array (see [code](https://github.com/cosmos/cosmos-sdk/blob/1dba6735739e9b4556267339f0b67eaec9c609ef/types/tx/types.go#L94)). Then each signer in this array corresponds to the signature at th

[2021-10-01 14:30] #9585 closed

[2021-10-01 14:58] clevinson commented on #10281
@robert-zaremba can you coordinate this in context of the upgrade wg?

[2021-10-01 15:35] crussell-figure commented on #10277
My issue includes the events from the query vs from tendermint.

[2021-10-01 15:38] crussell-figure commented on #10230
@amaurym unfortunately Im using Kotlin.

[2021-10-01 15:42] jennyhys opened #10283 "Error: Failed to load latest version: failed to load store: no versions found"
Hello all when I am trying to restore a node using the data files in Provenance Blockchain(cosmos SDK protocol), the node crashed  with this error `failed to load latest version: failed to load store: no versions found while trying to load 3547274`, would really appreciate if anyone could provide some insight of what went wrong. Thanks!

## Version

`cosmos-sdk v0.44.0 (via Provenance v1.7.2)`
`ia

[2021-10-01 16:52] amaurym commented on #10230
OK. If you're starting from scratch, you would need to:
- parse each `tx.body.messages`, and get their `GetSigners()`.
  - For `/provenance.attribute.v1.MsgAddAttributeRequest`, the `GetSigners()` is the [owner](https://github.com/provenance-io/provenance/blob/74e05d108bffd81cbc3a19bc8719d3727642edcc/x/attribute/types/msgs.go#L65) field
  - You should map out in Kotlin the `GetSigners()` for all p

[2021-10-01 17:37] crussell-figure commented on #10230
@amaurym I was hoping to not have to do a manual mapping, but I guess ill need to. Is [this](https://github.com/cosmos/cosmjs/blob/main/packages/crypto/src/secp256k1.ts#L106) how you mean they are able to get the pubkey from the signature/msg?

Also, is it a safe assumption that whoever is signing (or at least enacting), there is a field in the msg that corresponds to that address?

[2021-10-01 17:43] robert-zaremba opened #10285 "Rework cosmovisor CLI to use command approach"
## Summary

Currently the assumption is that a cosmovisor could be a link to an App and used as an App. But this design block next features we want to build into cosmovisor to make the whole chain ops more resistant.

## Proposal

1. add `run` command, which will be the preferred way to run an App. All arguments and flags after the `run` command should be passed to the app.
2. if someone is using

[2021-10-01 17:53] robert-zaremba opened #10286 "When creating a new sofware-upgrade Proposal add a flag to validate Info content."
## Summary

This is related to the predictable app upgrades. We want to validate ahead of time the upgrade process to ensure it will be successful.

## Problem Definition
Currently, it may happen that we add a malformed instructions in `Proposal.Info`. During the upgrade, these instructions are read by the cosmovisor, which will fail and won't be able to update the app.

## Proposal

Currently the

[2021-10-01 18:54] barriebyron opened #10287 "docs: auth module add CLI examples to client.md in the spec/ directory"
## Summary

This issue is created and inspired by https://github.com/cosmos/cosmos-sdk/issues/9707

@ryanchristo has a checklist going on https://github.com/cosmos/cosmos-sdk/issues/9707#issuecomment-920197296

## Problem Definition

A user needs to go through the --help command of the CLI to see the documentation for each module's messages and queries.

## Proposal

Follow the awesome example in

[2021-10-01 18:55] barriebyron opened #10288 "docs: crisis module add CLI examples to client.md in the spec/ directory"
## Summary

This issue is created and inspired by https://github.com/cosmos/cosmos-sdk/issues/9707

@ryanchristo has a checklist going on https://github.com/cosmos/cosmos-sdk/issues/9707#issuecomment-920197296

## Problem Definition

A user needs to go through the --help command of the CLI to see the documentation for each module's messages and queries.

## Proposal

Follow the awesome example in

[2021-10-01 18:56] barriebyron opened #10289 "docs: evidence module add CLI examples to client.md in the spec/ directory"
## Summary

This issue is created and inspired by https://github.com/cosmos/cosmos-sdk/issues/9707

@ryanchristo has a checklist going on https://github.com/cosmos/cosmos-sdk/issues/9707#issuecomment-920197296

## Problem Definition

A user needs to go through the --help command of the CLI to see the documentation for each module's messages and queries.

## Proposal

Follow the awesome example in

[2021-10-01 18:58] soniasingla commented on #10182
@Vishal999code feel free to work on it and submit the solution 🤗

[2021-10-01 19:00] barriebyron opened #10290 "docs: mint module add CLI examples to client.md in the spec/ directory"
## Summary

This issue is created and inspired by https://github.com/cosmos/cosmos-sdk/issues/9707

@ryanchristo has a checklist going on https://github.com/cosmos/cosmos-sdk/issues/9707#issuecomment-920197296

## Problem Definition

A user needs to go through the --help command of the CLI to see the documentation for each module's messages and queries.

## Proposal

Follow the awesome example in

[2021-10-01 19:02] barriebyron opened #10291 "docs: slashing module add CLI examples to client.md in the spec/ directory"
## Summary

This issue is created and inspired by https://github.com/cosmos/cosmos-sdk/issues/9707

@ryanchristo has a checklist going on https://github.com/cosmos/cosmos-sdk/issues/9707#issuecomment-920197296

## Problem Definition

A user needs to go through the --help command of the CLI to see the documentation for each module's messages and queries.

## Proposal

Follow the awesome example in

[2021-10-01 19:02] barriebyron opened #10292 "docs: staking module add CLI examples to client.md in the spec/ directory"
## Summary

This issue is created and inspired by https://github.com/cosmos/cosmos-sdk/issues/9707

@ryanchristo has a checklist going on https://github.com/cosmos/cosmos-sdk/issues/9707#issuecomment-920197296

## Problem Definition

A user needs to go through the --help command of the CLI to see the documentation for each module's messages and queries.

## Proposal

Follow the awesome example in

[2021-10-01 19:03] barriebyron opened #10293 "docs: vesting module add CLI examples to client.md in the spec/ directory"
## Summary

This issue is created and inspired by https://github.com/cosmos/cosmos-sdk/issues/9707

@ryanchristo has a checklist going on https://github.com/cosmos/cosmos-sdk/issues/9707#issuecomment-920197296

## Problem Definition

A user needs to go through the --help command of the CLI to see the documentation for each module's messages and queries.

## Proposal

Follow the awesome example in

[2021-10-01 19:04] barriebyron opened #10294 "docs: upgrade module add CLI examples to client.md in the spec/ directory"
## Summary

This issue is created and inspired by https://github.com/cosmos/cosmos-sdk/issues/9707

@ryanchristo has a checklist going on https://github.com/cosmos/cosmos-sdk/issues/9707#issuecomment-920197296

## Problem Definition

A user needs to go through the --help command of the CLI to see the documentation for each module's messages and queries.

## Proposal

Follow the awesome example in

[2021-10-01 19:08] barriebyron commented on #9707
@ryanchristo thanks so much for the awesome client.md docs you have already completed

I've created codefest issues for the remaining modules and added the issue link to you list
thanks @toschdev for the codefest idea, we love new contributors

check out October Codefest, invite your friends https://blog.cosmos.network/october-codefest-call-for-contributors-42ade37f4913

[2021-10-01 19:10] Vishal999code commented on #10182
@soniasingla yes mam I will start contributing from tomorrow onwards

[2021-10-01 20:04] alexanderbez commented on #10286
ACK on the `--no-validate` flag. But we already have a `--dry-run` flag and I don't think we need that in this context?

[2021-10-01 20:11] robert-zaremba commented on #10281
My understanding of this issue is to solve the following use case:
1. There is a bad app update which causes none-determinism
2. chain nodes starts and manage to produce only one block but don't agree on it because of the non-determinism
3. the chain halts
4. now we need to reach a social consensus and rollback that block (or more blocks if needed) and start again with a patched app.

Do I get it

[2021-10-01 20:12] alexanderbez commented on #10277
Ahh I see, thank you. Yet, I don't see what Rosetta has to do with anything here. Are you querying for the tx via a Rosetta API or something?

[2021-10-01 20:13] alexanderbez commented on #10283
This has something likely to do with your pruning settings and how you synced the node. What are your pruning settings? Was this an upgrade?

[2021-10-01 20:32] jennyhys commented on #10283
@alexanderbez Yes it's an upgrade, we restored the data dir using a snapshot as there's a rollback in the chain, and restart the node with the new binary upgrade. Pruning was set to `default`. Do you mind to elaborate how the pruning setting might lead to an error?

[2021-10-01 20:39] crussell-figure commented on #10277
No, Im querying through cli/grpc. But both of those point to the function that fetches from the tendermint api and then converts to rosetta. Again, I may be off base, but when tendermint gives me all the events and cli/grpc doesnt, thats an issue.

[2021-10-01 21:04] alexanderbez commented on #10277
Sorry, I'm just not getting where Rosetta comes into the picture here. Maybe that's where the issue lies. @fdymylja any thoughts or insight?

[2021-10-01 21:47] crussell-figure commented on #10277
@alexanderbez

So after discussion with my team who knows this stuff a lot better than I do, it seems that tendermint is returning those events in an `Events` object in the tm response (see data in issue), which cosmos is completely ignoring. However, tendermint is also NOT including some events (I dont know which ones) in the `Logs` object in the response (also see data in issue).

Either way, th

[2021-10-01 22:17] alexanderbez commented on #10277
Cosmos doesn't ignore anything. The SDK simply proxies that request to Tendermint and returns the response directly from Tendermint.

What does your application's configuration set for which events to index? Is it set to index all events?

[2021-10-01 22:19] alexanderbez commented on #10283
The default settings will keep a good bit of data so that shouldn't be an issue. It probably has something to do with the fact that you restored from a snapshot and rolled back? Regardless, the app doesn't think it has that block which it needs. Perhaps try a different snapshot?

[2021-10-01 23:02] crussell-figure commented on #10277
This is the response from Tendermint: https://github.com/cosmos/cosmos-sdk/blob/9fd866e3820b3510010ae172b682d71594cd8c14/third_party/proto/tendermint/abci/types.proto#L217

This is how cosmos returns the response from Tendermint: https://github.com/cosmos/cosmos-sdk/blob/bf11b1bf1fa0c52fb2cd51e4f4ab0c90a4dd38a0/types/result.go#L66

The `ResponseDeliverTx.Events` is never set anywhere on the Cosmos

[2021-10-01 23:12] crussell-figure commented on #10277
Follow up question: are the `coin_*` and `tx` events emitted after the tx has been "sent" (committed, saved, im not sure of the proper lingo) to Tendermint?

[2021-10-01 23:55] crussell-figure commented on #10277
Renamed to remove `Bug` from title.

I figured out what is going on.

Msg events are indexed by msg index. If a tx has multiple msgs, events are grouped by the msg they belong to. So any pre- or post-msg processing events that happen, ie those that are about the tx itself (`coin_*`, `tx`), are not included in the logs. They are appended to the result events after the logs are written to string. Th

[2021-10-02 07:15] cmwaters commented on #10281
Yup, although a minor clarification, Tendermint has its own state that tracks validator sets, consensus params and the app hash. We aren't actually removing any blocks, only the Tendermint state at that height. When the node restarts it will replay the same transactions in the last block.

Hard for me to judge how important it is because I haven't built an app before, but it was requested and it m

[2021-10-02 09:48] brennhill commented on #10221
Ok, will begin on this shortly.

[2021-10-02 11:50] ethanfrey commented on #10281
We hit a non determinism issue somehow related to an ibcclientupdate tx. Leading to AppHash mismatch.

While trying to debug and actually get enough info to make a proper bug report, we were hampered by the lack of any tool to try one block earlier. And are syncing 510.000 blocks to try to see if we can reproduce it, not so fun.

I can also try to lend a hand for a fix on 0.42. As soon as the tend

[2021-10-02 11:52] ethanfrey commented on #10281
NB this has been requested by many chains over the last few years. And I built some tool back in 2018/2109 that did this, but never was maintained. AppHash mismatch is a pain to debug currently

[2021-10-02 15:39] alexanderbez commented on #10277
`BeginBlock` and `EndBlock` events are indexed by Tendermint in the respective responses (via the `Events` field). Also, Tendermint does not index `Logs`, it indexes `Events`. Those are two entirely separate fields in the `ResponseDeliverTx`. See [here](https://github.com/cosmos/cosmos-sdk/blob/v0.44.1/baseapp/abci.go#L281-L287).

I'm not sure I understand what you're asking. Tendermint successful

[2021-10-02 18:19] robert-zaremba commented on #10047
@spoo-bar - we firstly need to finish a design of it. I started coding a PoC 1.5 month ago.

[2021-10-02 18:22] robert-zaremba commented on #10047
We need to decide:
* What to do with `Info` field. I'm rather against doing a breaking change. We can keep it as a non machine interpret-able instructions.
* What other attributes we want to add to the `Plan`. I proposed `PreUpgrade`, but following my previous point, we can create `Upgrade` - where we will put binaries.

Any thoughts? cc: @aaronc , @alessio , @spoo-bar , @anilCSE , @dwedul-figure

[2021-10-02 20:51] robert-zaremba commented on #10281
@cmwaters , I think we need to expose RPC call as well: when a tendermint is run independently (as a separate process) we should still have a way to send that request.

[2021-10-03 13:06] brennhill commented on #10221
https://github.com/cosmos/cosmos-sdk/pull/10296

This is not especially "awesome" on the graphics department. I'd do that as a seperate PR, once this is verified to work properly.  It works on my local github fork, but I don't have access to your full build system.

[2021-10-03 23:45] crussell-figure commented on #10277
Yes, thats exactly what I would like to see. And when I was indexing, I meant the literal index of the list. Not the indexer.

[2021-10-04 00:36] robert-zaremba commented on #10286
Right, `--dry-run` is already there, and we don't need "another" one.

[2021-10-04 00:38] robert-zaremba commented on #10263
It would be preferred, however if you think it's not needed then  we can close this task as noop.

[2021-10-04 03:30] textrocr commented on #10182
Hi! Being a newbie into this, even I'm excited to contribute to this repository. Can the task (or a part of it) be assigned to me as well?

[2021-10-04 05:48] soniasingla commented on #10182
Hi @textrocr! Welcome to the community 🎉

I believe @Vishal999code is already working on this issue, you can any other issue from the bug list with label `codefest` and here's the list - <https://github.com/cosmos/cosmos-sdk/issues?q=is%3Aissue+is%3Aopen+label%3Acodefest>.

[2021-10-04 07:08] sergiomateiko commented on #10091
I ran out of disk space and ended up in jail. I added SSD and wrote a command to get out of prison and now this problem. At the same time, this has not happened before, this is only the last time (I added SSD several times)

[2021-10-04 07:57] ethanfrey commented on #10281
This should not be a publicly available roc endpoint. And does not need to be run remotely. We do need to handle the multi-process use case however.

Something like `tendermint rollback` and then `gaiad rollback` seems like it cover the multi-process scenario and the tendermint side is already implemented. Exposing this anywhere off of localhost seems like a huge security issue

[2021-10-04 08:25] cmwaters commented on #10281
Yup completely agree that we don't need to expose this via RPC. The process shouldn't be running when `rollback` is called (in fact the database will error when trying to open a second connection).

It's feasible to have a single command even for multi-process instances because no processes should be running. All you need is the tendermint `Config` so the command knows where to find the database a

[2021-10-04 08:35] robert-zaremba commented on #10225
New modules should use `address.Module`. This will be even more relevant if we will introduce ADR-33, where all inter-module communication will be "checked".

Yes, we should update (or even remove) `NewModuleAddress` and use `address.Module` instead (it's already implemented). @aaronc , do you think we can do it in 0.45?
It will require a migration.

[2021-10-04 10:43] odeke-em opened #10297 "store: write benchmarks /store and /store/v2 with different load scenarios"
## Summary

We need to write benchmarks that use the store package and can help discern performance differences in backends.

## Problem Definition

This feature will allow easy and more educated migrations between backends.

## Proposal

Go through the usages of store/* and figure out the best benchmarks that use the package, and how to test them effectively test them out. /cc @cuonglm @robert-za

[2021-10-04 10:47] odeke-em opened #10298 "store: write extensive tests that exorcize store/*"
## Summary

We need store/* at its best shape and to achieve that we need to exorcise all edges of it, finding what works, what conditions it trips under, how and when... When we finally have celestiaorg/smt as the store frontend it'll be very vital to ensure backend breakages don't occur silently but also to figure out how and what could be avoided. Almost similar to https://github.com/cosmos/cos

[2021-10-04 10:57] #10249 closed

[2021-10-04 10:59] mojtaba-esk opened #10299 "docs:(Sometime the menu links do not work)"
Hi,
While I was navigating in the docs, here: https://docs.cosmos.network/master/intro/why-app-specific.html I saw sometime some links do not work. So, I checked my console and saw these errors/warning:

[code]

It seems like there is a small issue with the UI, I just wanted to let you know.
Cheers

[2021-10-04 11:46] #10243 closed

[2021-10-04 11:54] puneetsingh166 opened #10300 "Address has been changed"
Hi Team , i am little bit confused . can anyone  explain me regarding it which i have mentioned below.

i have an two address of user's  account
[code]
passing these two adreess in ``` banktypes.NewMsgSend ```.

[code]
when i am trying to print ``` msg1  ``` using  ``` fmt.Println(msg1) ``` Those twos address have changed .
i got these two address
[code]
can anyone explain me why this address has

[2021-10-04 11:55] puneetsingh166 commented on #10300
https://docs.cosmos.network/master/run-node/txs.html

[2021-10-04 12:47] gsk967 commented on #10300
Can you try get the account address

[code]
then use the address for transferring the coins
[code]
But you are creating the new coin which doesn't exist in the chain

[2021-10-04 12:53] #10109 closed

[2021-10-04 12:57] puneetsingh166 commented on #10300
Hi @gsk967 when getting the account address like this
[code]
getting this error ``` error invalid Bech32 prefix; expected cosmos, got onom ```

[2021-10-04 13:06] gsk967 commented on #10300
Yes because cosmos-sdk have default `cosmos` prefix  to all it's accounts
https://github.com/cosmos/cosmos-sdk/blob/b601f521cb4a4f4b16f1bdd867555bc84c0d7e79/types/address.go#L36

[2021-10-04 13:12] puneetsingh166 commented on #10300
@gsk967 how do i change it? can i use "onom" instead of "cosmos"?

[2021-10-04 14:09] alexanderbez commented on #10225
ACK, but we don't actually use `address.Module` anywhere in the SDK from what I can tell? Maybe we should update `app.go`?

[2021-10-04 14:09] gsk967 commented on #10300
@puneetsingh166  How did  you create  accounts with prefix `onom`

[2021-10-04 14:15] alexanderbez commented on #10297
Looking forward to seeing these results!

[2021-10-04 14:18] alexanderbez commented on #10300
Closing this issue. You must use `AccAddressFromBech32(addr)` as pointed out. To use the correct prefixes, you must initialize the SDK configuration. An example can be found here:

- https://github.com/umee-network/umee/blob/main/app/prefix.go
- https://github.com/umee-network/umee/blob/main/app/app.go#L175

[2021-10-04 14:18] #10300 closed

[2021-10-04 14:40] jtremback opened #10301 "Interchain Security thought experiment: Gravity bridge false ethereum transaction slashing"
I'm going to use an example from Gravity Bridge to explore the requirements for Interchain Security evidence submission.

**Feature**

In Gravity, validators sign transactions destined for Ethereum with their Ethereum keys. They could also sign a fraudulent Ethereum transaction, which would, for example, send all bridge funds to the validators. If 2/3s of them signed this and it was submitted to E

[2021-10-04 16:36] #9362 closed

[2021-10-04 16:43] dwedul-figure commented on #10047
I like the "fallback" approach here.

Add the new fields. Then, when handling an upgrade, if any of them have value, then the `Info` field is treated as just an info field, and we handle everything using the new stuff. If all of them are empty, then fallback to the old way of using the `Info` field the way we are now. The documentation should note this, and also state that in the future, the `Info

[2021-10-04 16:49] robert-zaremba commented on #10225
Yes, we didn't do any migration. To go forward, with the main thing from this issue, should we:
1. remove `NewModuleAddress`
2. deprecate `NewModuleAddress` (and update SDK to not use it in any place)  and remove in the subsequent release (1.0).
I'm for option (2.)
In both cases we will do migration of Cosmos SDK core state.

[2021-10-04 20:57] webmaster128 commented on #10235
Not planned any time soon, but https://github.com/CosmWasm/cosmwasm is the right place to bring it up and track it.

I'd consider it as it allows you to verify [drand](https://drand.love/) random beacons on chain, [which is cool](https://medium.com/@simonwarta/when-your-blockchain-needs-to-roll-the-dice-ed9da121f590).

[2021-10-05 04:53] PrathyushaLakkireddy commented on #10291
Hi @barriebyron, I want to take up this issue. Thank you.

[2021-10-05 04:57] gsk967 commented on #10288
Hi @barriebyron, I want to take up this issue. Thank you.

[2021-10-05 04:57] NagaTulasi commented on #10289
@barriebyron  I want to take up this issue
Thank you

[2021-10-05 04:57] charymalloju commented on #10290
I will take up this issue

[2021-10-05 04:57] likhita-809 commented on #10293
@barriebyron I want to take up this issue.

[2021-10-05 05:32] juggernaut09 commented on #10292
Hi @barriebyron, I would like to work on this. Please assign me to this issue.

[2021-10-05 06:43] puneetsingh166 commented on #10278
Please help @gsk967 @alexanderbez

[2021-10-05 07:13] gsk967 commented on #10278
@puneetsingh166
First restore your account with mnemonic
`simd keys add {NEWNAME} --recover`

Then export the private key
`simd keys export {NEWNAME}`

[2021-10-05 07:42] puneetsingh166 commented on #10278
@gsk967  is there any way to do it through code ?

[2021-10-05 09:15] marbar3778 commented on #10235
closing this issue. Please reopen for discussion in cosmwasm

[2021-10-05 09:15] #10235 closed

[2021-10-05 09:39] puneetsingh166 commented on #10278
@gsk967  i Got primary key via this command ``` simd keys export {NEWNAME} ```.
why i am saying ``` is there any way to do it through code ```
here is my code
[code]
error message
[code]
is any idea how to do valid type casting ?

[2021-10-05 11:46] #10252 closed

[2021-10-05 12:02] #8961 closed

[2021-10-05 16:52] roysc commented on #10094
An additional PR will patch in support for reverting (rolling back) the DB state: https://github.com/cosmos/cosmos-sdk/pull/10308

[2021-10-05 17:11] egaxhaj-figure commented on #10096
Hi, @i-norden. I’m new to the Provenance team and have experience with Kafka. I want to help out on this issue. You can DM me on the `Cosmos Developers` Discord server as Ergels Gaxhaj | Provenance  or we can have a discussion here.

[2021-10-06 02:08] yihuang opened #10310 "Iterator time is exponential in number of Cache wrappings"
## Summary of Bug

https://github.com/tharsis/ethermint/issues/626
benchmark: https://github.com/tharsis/ethermint/pull/627
code of concern: https://github.com/cosmos/cosmos-sdk/blob/1c468de77216e1da4c79c2a87a8e0ad307060185/store/cachekv/mergeiterator.go#L205

In ethermint we use a nested cache context stack to support the `Snapshot` and `RevertToSnapshot` APIs for EVM.
When EVM call `Snapshot`, w

[2021-10-06 08:02] 0Tech opened #10312 "misleading documentation about `ValidatorSigningInfo.StartHeight`"
A comment in the proto file says start_height would be set to the height at which the validator was unjailed:
https://github.com/cosmos/cosmos-sdk/blob/1c468de77216e1da4c79c2a87a8e0ad307060185/proto/cosmos/slashing/v1beta1/slashing.proto#L19-L20

But this is not true. You can see the counter example in the test code:
https://github.com/cosmos/cosmos-sdk/blob/1c468de77216e1da4c79c2a87a8e0ad30706018

[2021-10-06 11:24] #9993 closed

[2021-10-06 11:31] #10288 closed

[2021-10-06 11:40] #10291 closed

[2021-10-07 00:49] ValarDragon commented on #10310
We should get a pprof output out, and analyze whats going on!

[2021-10-07 01:37] ValarDragon opened #10317 "Make CLI delegating allow using validator moniker"
## Summary

The current syntax for a delegate tx is `gaiacli tx staking delegate [validator-addr] [amount] [flags]`. It would be nice if instead, the syntax could optionally be `gaiacli tx staking delegate [validator-moniker] [amount] [flags]`. Then internally, the client builder will query the full node for the validator address at that moniker, and then proceed as before.

I forget if moniker un

[2021-10-07 01:52] ValarDragon opened #10318 "Make binaries have protection against accidental downgrades"
## Summary

A common issue node operators have is accidentally starting with their default installed binary, after cosmovisor has done an automatic upgrade. If their binary is on the wrong version, they compute the wrong app hash, and their node gets stuck. (And since we can't rollback, #10281 #10198 you have to redownload your entire state)

We should add protection against this as well.

## Prop

[2021-10-07 01:55] alexanderbez commented on #10318
Yes! This actually happened to me on Osmosis due to an invalid setup of cosmovisor.

I think the proposal makes sense. If there is support from @amaurym or @robert-zaremba, I can tackle it.

[2021-10-07 02:26] barriebyron commented on #10293
thank you for your interest @likhita-809 good luck!

[2021-10-07 03:34] odeke-em opened #10319 "db/memdb: failing tests and non-compiling code from "cannot use (*MemDB)(nil) (value of type *MemDB) as db.DBConnection value""
After this PR https://github.com/cosmos/cosmos-sdk/pull/9952 we now see this bizarre failure to compile
[code]

which makes me wonder how this code hasn't been caught by CI for this long since August 31st 2021 and it is now October 6th 2021.

Kindly cc-ing @roysc
____

## For Admin Use

- [x] Not duplicate issue
- [x] Appropriate labels applied
- [x] Appropriate contributors tagged
- [ ] Contribut

[2021-10-07 05:43] michaelfig opened #10321 "Allowing underbars in `ParamSetPair.Key`"
## Summary

Allow both alphanumeric and underbars in the `ParamSetPair.Key`.

## Problem Definition

It's currently annoying that the JSON governance proposal to set a parameter that is typically serialised with a property named `my_lovely_parameter` must use something like `"key": "mylovelyparameter"` to do it.  It would be great if the key could match its typical Protobuf/JSON serialisation.

I

[2021-10-07 07:45] #10221 closed

[2021-10-07 09:05] textrocr commented on #10228
If so, could you send in the link to the page where I would have to update the doc :-)

[2021-10-07 09:11] roysc commented on #10319
Trying to reproduce - this is a local failure from running `go test` within `db/memdb` right? Strange that it doesn't list any missing interface method as it usually does.

The only failures I get when running the whole SDK test suite locally are from `ledger_test.go` - `support for ledger devices is not available in this executable` which is surely unrelated. I'm using Go 1.17.1

[2021-10-07 19:27] ChristianBorst opened #10323 "Avoid namespace conflict in downstream use of staking/v1beta1/authz.proto"
## Summary
proto/staking/v1beta1/authz.proto defines the StakeAuthorization message, which contains `oneof validators` and `message Validators` [here](https://github.com/cosmos/cosmos-sdk/blob/master/proto/cosmos/staking/v1beta1/authz.proto). In the downstream rust consumption of this proto file ([here](https://github.com/ChristianBorst/cosmos-rust/commit/65b7b99e0c501ac921a01cea7e59cf007b5e841f)

[2021-10-07 20:31] sunnya97 commented on #9949
@alexanderbez This is cause you're using the LCD endpoint instead of the RPC.

gaiad q bank balances cosmos134uk798rzj7eylfj9n7fdujemgj2f0gl3p5el3 --chain-id=cosmoshub-4 --node=https://cosmoshub-4--rpc--full.datahub.figment.io:443/apikey/4a7966f2e97ab9ed1c9dc72ede39bb67
actually does work.

Currently you need to add the port, but this should be fixed in tendermint v0.35:
tendermint/tendermint#6507

[2021-10-07 21:16] robert-zaremba commented on #9014
I'm usually doing it through a script which prepares a genesis transaction and starts a chain:
[code]

Once the genesis is created you can start a chain:
[code]

Do you think we should add this somewhere (quick start?)

[2021-10-07 21:17] robert-zaremba commented on #10319
@roysc , this issue will be closed with https://github.com/cosmos/cosmos-sdk/pull/10308, right?

[2021-10-07 21:36] robert-zaremba opened #10324 "Add load tests to verify no race condition exists in app gRPC queries"
## Summary

At the beginning of 2021 we found that there is a race condition when doing gRPC app queries. The quick solution was to route queries from app to tendermint. This was later fixed in tendermint and https://github.com/cosmos/cosmos-sdk/pull/10045 reverts that workaround.

To make sure there is no other trap, we need to make a load test with race detector to confirm that this works.

Goal

[2021-10-07 21:37] robert-zaremba commented on #10324
@marbar3778, today during the QA WG we were talking about testing queries. @odeke-em said that he could do it but he doesn't have much context. Could you confirm here if you can handle it or provide a support to @odeke-em  if needed?

[2021-10-07 22:56] robert-zaremba commented on #10319
@odeke-em  - indeed, there must be something wrong with the CI. I'm investigating it in this PR: https://github.com/cosmos/cosmos-sdk/pull/10325

[2021-10-08 10:34] robert-zaremba opened #10329 "Create or integrate linter to check time.Now use"
## Summary

`time.Now` is not deterministic in the network and must not be used.

## Problem Definition

Using `time.Now` in a context of protobuf Msg service causes consensus problems and must not be used.

## Proposal

Create (or find) and integrate a linter to check that we don't use `time.Now` in all Go code which is related to the state transition. We can use `time.Now`, in:
* `**/cli/**`
* Q

[2021-10-08 12:36] mdmohsin7 commented on #10287
Hi @barriebyron, I would like to take up this issue.
Thanks.

[2021-10-08 14:23] cmwaters commented on #10281
Just an update on the Tendermint side. We've merged changes to master and backported them to the respective branches. We'll most likely release it in `v0.34.14` next week and `v0.35.0` the following week (no promises :) ). The function you will want to call is this here:
https://github.com/tendermint/tendermint/blob/f2a8f5e054cf99ebe246818bb6d71f41f9a30faa/cmd/tendermint/commands/rollback.go#L37

[2021-10-09 04:49] ValarDragon commented on #10310
Ah in the code, this is definitely exponential time wrt to CacheKVStore wrapping depth. https://github.com/cosmos/cosmos-sdk/blob/master/store/cachekv/store.go#L168-L184

Its creating its own iterator over its own cache, and over its parents. Its parent will then create an iterator over its own cache, and its parents. This causes a branch factor of 2 at every depth, hence time will follow 2^n.

Ca

[2021-10-09 05:16] #7668 closed

[2021-10-09 05:19] ValarDragon commented on #10216
Should we make a new issue tracking clearing these at upgrade time? (Its not a blocker for anything, but good to track / maybe help lower state size)

[2021-10-10 00:32] ValarDragon opened #10331 "Implement faster method for Size() method in Dec and Int"
## Summary

Decimal and Int protobuf serialization time is a large part of Osmosis execution time, and I suspect the same is true for all the SDK chains. Currently, this serialization time is doubled, because the Size estimate is computed by marshalling the data. https://github.com/cosmos/cosmos-sdk/blob/3458f64f0aeb68796e56dd334c04b5e066ebf089/types/int.go#L427-L430

There is a size estimate meth

[2021-10-10 01:03] ValarDragon opened #10332 "Make a more ergonomic way of creating simple sdk.Coins"
## Summary

Often due to compatibility issues, you have to make an SDK.Coins from a single Sdk.Coin, specified by raw parameters. This is especially true within tests. At the moment, the most common ways to do this that I'm aware of are:
[code]

At least in Osmosis, such lines are all over the codebase. They're long, and lots of boilerplate. Can we make a more ergonomic way to do this? Perhaps:

[

[2021-10-10 05:47] ValarDragon opened #10333 "Make removeZeroCoins only do more allocations when needed"
## Summary

Currently removeZeroCoins is called on every arithmetic operation with coins. It does this by always allocating memory for a new coins object, and then copying coins over one by one.

However arithmetic operations are called often, them having a zero coin to remove is not the normal case. We should update the method to not allocate extra memory unless there is a zero coin to remove. Sh

[2021-10-10 06:38] ValarDragon opened #10335 "Change the IAVL iterators to not be channel based"
## Summary

cref https://github.com/tendermint/tm-db/issues/188.

The IAVL iterator creates a channel, and spawns multiple processes in order to work at the moment. This is inefficient, as we get lots of time spent in checking mutex locks, inter-channel message passing, and extra processes lying around within the state machine. (It will also be a barrier to parallelism in the future)

This all onl

[2021-10-11 08:43] #10293 closed

[2021-10-11 11:16] robert-zaremba opened #10337 "Update the ADR-38 to address no file based streaming."
## Summary

Structures outlined in ADR-38 miss non-file based streaming support.

## Problem Definition

In current version of ADR-38 we assume that each transaction is encoded in a separate file. This makes it possible to decode the transaction. However, in a service to service streaming we need clarify transaction bounds.

## Proposal

Define a structure (probably a trivial one) to support wire

[2021-10-11 19:59] ValarDragon opened #10338 "Restore adding pubkey via bech32"
## Summary

Adding pubkeys to the CLI used to be do-able via bech32. This should be restored, as it breaks a lot of workflows for moving from sdk v0.42.x on one chain, to a key on an SDK v0.44.x chain. (E.g. claiming ones Juno airdrop from a multisig)

## Problem Definition

Its a compatibility issue for working with private keys / airdrops between chain versions

## Proposal

Restore the prior me

[2021-10-11 20:45] robert-zaremba commented on #10014
CC: @sunnya97  - you might be interested to comment on this.

[2021-10-11 21:59] sunnya97 commented on #10014
An alternative that I would like is that a voting period can be made shorter but my providing a much larger deposit.

[2021-10-11 22:21] waggonerjake commented on #10333
Hi @barriebyron. I have started working on this. Can you assign me to it?

[2021-10-11 23:43] ValarDragon commented on #10338
This need may be obviated by the cosmos hub upgrading to v0.44.x

[2021-10-12 00:10] barriebyron commented on #10289
@ryanchristo can you provide guidance to @NagaTulasi ?

[2021-10-12 10:49] #10292 closed

[2021-10-12 11:52] tac0turtle opened #10344 "docs: add invariants to module specs"
Invariants are a key factor is using modules and modifying them, but its hard to know what the invariants are for a module. We should document them in the module level specs.

[2021-10-12 14:05] alexanderbez commented on #10216
I already implemented a live upgrade handler to clear these. Unless you're referring to apps that still rely on export/import, in that case we do not cover this.

[2021-10-12 14:07] alexanderbez commented on #10332
What's wrong with?

[code]

If you need to provide multiple coins then break them onto multiple lines. @ValarDragon you can also create these functions in your application too ;-)

[2021-10-12 14:09] amaury1093 opened #10346 "Add feepayer, feegranter and tip fields to StdSignDoc"
As discussed in the TX working group, we're adding the feepayer, feegranter and tip fields to support tipped transactions. This will avoid creating a new sign mode (c.f. #10322), so that tipper can use LEGACY_AMINO_JSON (and Ledger) to sign over tips.

They will be omitempty to keep backwards-compatbility

## Proposal

[code]

[2021-10-12 14:22] amaury1093 opened #10347 "Move away from Tx interfaces (sdk.Tx, sdk.FeeTx...)"
## Problem

We used to introduce these interfaces to support both proto Txs (`*tx.Tx`) and amino (`StdTx`...)

In the middlewares, we are currently hardcoding the `sdk.Tx` interface, which introduces a lot of type casting in the implementation.

## Ideas

Deprecate:

https://github.com/cosmos/cosmos-sdk/blob/994219a4d2f467a0bd628d60d8670c1102edbe88/types/tx_msg.go#L38-L69

and slowly remove its us

[2021-10-12 15:11] ValarDragon commented on #10338
`juno keys add {name} --pubkey bech32pubkey`

[2021-10-12 17:22] #10338 closed, assigned to nobody

[2021-10-13 03:59] ValarDragon commented on #4267
Its now in! https://github.com/avelino/awesome-go

[2021-10-13 04:05] ValarDragon opened #10352 "pruning=everything causes db corruption"
## Summary of Bug

its been repeatedly reported that `pruning=everything` will cause db corruption for nodes across different cosmos chains. The db corruption looks like `failed to load latest version: failed to load store: wanted to load target 1488419 but only found up to 0`. Presumably this is coming from restarting a node, but not even keeping the latest state due to {some} issue.

## Version

[2021-10-13 08:17] mattverse opened #10353 "Change Tally query to be state machine based"
## Summary

Current `Tally` query iterates over all the votings in the governance proposals causing latency issues to nodes or services that provide API endpoints to the public. Currently, the Tally query in the cosmos hub has an average response time of     ~35.14 seconds, for an individual query, causing additional problems when such query has been made. This problem could be possibly solved by

[2021-10-13 12:47] okwme opened #10356 "Write tests to confirm expected behaviour of delegated balance increasing without action"
## Summary of Bug

One user reported that an address’s bonded balance could increase without a restake? Here’s an example address: https://www.mintscan.io/cosmos/account/cosmos1854wzkh7cnjy2kx2g5qpyvxggm5awgxld2nxa6 Note that it initially delegated 8,425.441700 ATOM, but now has 8,425.441702 ATOM bonded, without any other action having been taken

There was discussion in slack about this being exp

[2021-10-13 18:23] ryanchristo commented on #10287
Hi @mdmohsin7! Thanks for taking on this issue.

I think adding the auth commands and endpoints to the same document would be ok as long as the commands and endpoints are separate - i.e. list all the commands and endpoints for auth and then all the commands and endpoints for vesting.

There is no strict order on the specification documents but feel free to change the order of client and params.

[2021-10-13 21:07] robert-zaremba opened #10360 "ADR-40 Implementation"
## Plan

+ [ ] ADR-40 finalization
  + [ ] rootstore / multistore design (wip)
     + [ ] https://github.com/cosmos/cosmos-sdk/pull/9355
     + [ ] test the design
  + [ ] https://github.com/cosmos/cosmos-sdk/pull/9451
  + [ ] migration design @robert-zaremba

+ [ ] Store v2
  + [ ] https://github.com/cosmos/cosmos-sdk/pull/9851
  + [ ] https://github.com/cosmos/cosmos-sdk/pull/9848
  + [ ] https:

[2021-10-13 21:54] ValarDragon commented on #10353
Fully agreed this should be done, with planning for how it will extend to more liquid democracy setups.

We should also benchmark whats going on with the tally function, I suspect that will be a more near-term approach to a 10x improvement. My strong suspicion is that most of the overhead is fixable with fixing some code design patterns that become evident in profiling the relevant code. I suspect

[2021-10-13 22:12] #10333 closed

[2021-10-14 04:27] odeke-em opened #10363 "all: avoid string(byteslice) conversion before passing arguments to fmt.*rintf with "%s" verb"
If we run this pattern
[code]

Notice how many hits we've got. fmt.Printf or fmt.Sprintf know how to convert a byteslice into a string when building the output, and we shouldn't incur the unnecessary string(byteslice) conversion. Using Bencher, we can see improvements such as https://dashboard.github.orijtech.com/benchmark/3245b8e4bbbd44a597480319aaa4b9fe
![Screen Shot 2021-10-13 at 9 26 44 PM](ht

[2021-10-14 08:53] #10363 closed

[2021-10-14 13:07] marbar3778 commented on #9058
Could we add a section for expected delivery version. Its hard to gauge off the list when things will be delivered.

[2021-10-14 14:59] marbar3778 commented on #10246
you will need to modify imports according to the error. closing this issue for now. feel free to ask in discord

[2021-10-14 15:00] marbar3778 commented on #10240
this could be that the sdk is updating apphashes on every block. If there is a change in the app hash the next block needs to be created. Which modules do you have locally?

[2021-10-15 02:20] bitbeen opened #10372 "Repeat the sort Validators twice"
https://github.com/cosmos/cosmos-sdk/blob/3c8594406127123f6685c059a7065c5172851bcf/baseapp/abci.go#L75
https://github.com/cosmos/cosmos-sdk/blob/3c8594406127123f6685c059a7065c5172851bcf/baseapp/abci.go#L76

[2021-10-15 02:23] bitbeen commented on #10372
Getting to perform sorting twice is meaningless
[code]

[2021-10-15 02:23] #10372 closed, assigned to nobody

[2021-10-15 03:43] tomtau commented on #10190
one simple query to detect iterations over maps:

[code]

In Cosmos SDK, there are 59 cases: https://lgtm.com/query/5686749966483880627/ -- FYI @ryanchristo @robert-zaremba -- it may be good to go over them to check they are harmless.

I guess that query could be added to CI as it is, but alternatively, we can also refine it for a higher precision: https://codeql.github.com/docs/codeql-language-gu

[2021-10-15 10:01] marbar3778 commented on #10190
cc @odeke-em

[2021-10-15 16:40] jkilpatr commented on #4938
Bumping this issue. I'm seeing gas estimates that are ~17% off trying to estimate gas for Gravity bridge.

[2021-10-15 16:50] robert-zaremba opened #10377 "Transform x/upgrade into a Go module"
NOTE: let's hold with this issue: x/upgrade depends on SDK

## Summary

Let's transfrom x/upgrade into it's own module

## Problem Definition
Cosmovisor needs functionality and aspects from x/upgrade.

____

#### For Admin Use

- [x] Not duplicate issue
- [x] Appropriate labels applied
- [x] Appropriate contributors tagged
- [ ] Contributor assigned/self-assigned

[2021-10-15 16:55] robert-zaremba commented on #10377
Let's remove this issue - we didn't solve the circular dependency with the core SDK.

[2021-10-15 16:55] #10377 closed, assigned to dwedul-figure

[2021-10-15 17:00] robert-zaremba opened #10378 "Clean up cosmovisor to use x/upgrade as a dependency"
## Summary

Currently we are copying code which primary is seating in x/upgrade.

* remove `UpgradeInfo` and use `upgrade/types.Plan`
* same with `upgradeFilename` ->  `upgrade/types.UpgradeInfoFilename`

##### Context
We need to use SDK for the new cosmovisor features:
* `fetch` command
* setup validation

____

#### For Admin Use

- [x] Not duplicate issue
- [x] Appropriate labels applied
- [x]

[2021-10-15 17:04] ethanfrey commented on #4938
17% is good. Most people use 1.2 gas multiplier and raise it if the estimates are off.

[2021-10-15 17:04] #8406 closed

[2021-10-15 17:13] robert-zaremba commented on #9874
We were testing the upgrade with 1.0.0 (recently released) and it was working. @yaruwangway  is doing similar tests for gaia - she will try again to replicate it.

[2021-10-15 17:14] robert-zaremba commented on #9874
BTW: you can test check the version you are using with `cosmovisor version` (new in v1.0)

[2021-10-15 17:23] carameleon commented on #9874
@robert-zaremba does cosmovisor v1.0 work for sdk-0.42.x except for auto-download?

[2021-10-15 21:12] alexanderbez opened #10381 "Query Balance By (IBC) Denom"
## Summary of Bug

Querying for an account's balance by denom where the denom is an IBC token, i.e. hash, doesn't seem to work. I believe the denom needs to be URI escaped.

## Version

Cosmos Hub/ SDK v0.42.x / Gaia v5.x.x

## Steps to Reproduce

https://lcd-cosmos.cosmostation.io/cosmos/bank/v1beta1/balances/cosmos1c0cemjf2c9ljtlk03zeqdnt4nxe4j3zmmlxh0c/ibc%2F14F9BC3E44B8A9C1BE1FB08980FAB87034C9

[2021-10-15 21:43] clevinson commented on #9817
Closing this issue in favor of #10096, so @I-norden can manage the description / items in the issue.

@marbar3778 I'll relay our comment over there.

[2021-10-16 07:41] #10287 closed

[2021-10-16 19:13] odeke-em opened #10385 "ci: liveness test doesn't seem to be using Go1.16+ hence doesn't compile"
Noticed from all these failures on the master branch
![Screen Shot 2021-10-16 at 12 12 49 PM](https://user-images.githubusercontent.com/4898263/137599492-65d9076f-af8b-48ff-8f6b-e47841cf269f.png)

for example https://github.com/cosmos/cosmos-sdk/runs/3905217253 which says
[code]

You'll see that it can't recognize io.ReadAll, io.NopCloser of which these were introduced in Go1.16 https://pkg.go.dev

[2021-10-17 05:00] ValarDragon opened #10386 "x/bank: Allow way to restrict MintCoins function from app.go"
## Problem Definition

 We often want to give modules the ability to MintCoins. However we rarely want to be giving them permissions to mint _any coin on the network_. E.g. its reasonable for `x/distribution` to be able to mint the chains native coin (ATOM, OSMO, etc.), but it shouldn't be able to mint any arbitrary coin. In the event of a bug, we should be able to limit the failure to only tokens

[2021-10-17 05:08] ValarDragon opened #10387 "x/bank: Adding a CoinExists method"
## Summary

Most of the time when I am interested in doing `BankKeeper.GetSupply(ctx, myDenomOfInterest)` I am doing it for the use case of ensuring that `myDenomOfInterest` actually exists on chain, for validating some user input. (Which in SDK v0.44.0 can be checked simply, in v0.42.x its more boilerplate)

However, it'd be preferrable if this can be refactored into a single method for `bankKeep

[2021-10-17 16:15] shanev opened #10388 "Better UX for specifying a pubkey when adding keys with the CLI"
## Summary

Adding a key via a pubkey requires the user to know internal details of how a key is specified.

## Problem Definition

Currently, a pubkey is specified with:
[code]
A user shouldn't have to read code and tests in order to figure this out (like I had to do) and manually enter escaped JSON into the command line.

## Proposal

- Take in a bech32 pubkey by default, just as a string (like

[2021-10-17 16:56] ValarDragon commented on #10388
This UX is pretty unacceptable imo, we can't have people dealing with escaping JSON for this.

At least for the next several months, you need to be using `--pubkey` for using multisigs. (Even the multisig UI works requires you to have made one tx from the multisig via CLI before you can use the CLI :/)

[2021-10-17 19:12] jhernandezb commented on #10388
This will be painful for multisigs, can at least provide documentation on how to migrate to that format?

[2021-10-18 01:29] odeke-em opened #10391 "baseapp: (*BaseApp).MountStores can use fmt.Sprintf("%T", key) instead of reflect.TypeOf(key).Name()"
Noticed while working on static analyzers championed by @ebuchman, in which he flagged usages of the "reflect" package. I just grepped for usages of "reflect" and found this one in baseapp that definitely doesn't need to use reflect
https://github.com/cosmos/cosmos-sdk/blob/c0cc0529c4011725c60b2b5998fe50feef343eb2/baseapp/baseapp.go#L205

That code can just simply use the "%T" format specifier whi

[2021-10-18 04:05] waggonerjake commented on #10329
Just to be extra clear here, `time.Now()` calls _can_ exist in the above mentioned places (i.e. `**/cli/**`, `*_test.go` and the Query Service)?

You say "DONT use `time.Now()` in all Go code which is NOT in ..." which sounds like do use them in those 3 pieces... would like some clarification.

[2021-10-18 05:31] ValarDragon commented on #10318
Why do you need to look at the binary version? We should look at the state to see all the upgrades plans executed, and what upgrade plans are registered. If there is a plan that has been executed, but has not been registered, then we know we are on an old version

[2021-10-18 08:33] amaurym commented on #10385
I also had a quick look a couple of days ago, IMO this would help: https://github.com/tendermint/images/pull/73#issuecomment-944275762

[2021-10-18 08:37] #10391 closed

[2021-10-18 09:33] #10387 closed

[2021-10-18 14:12] carameleon commented on #9874
Thanks! I close this issue.

[2021-10-18 15:20] barriebyron commented on #10178
oh I see, there issue number had a typo in it, thanks for your contribution, closing

[2021-10-19 06:58] ashcherbakov commented on #6563
@marbar3778 @alexanderbez
Can you please help us to understand the status of the light client feature in cosmos? We do need this feature for our apps.
In particular, are there any plans to verify the proofs in CLI? As I can see, currently CLI doesn't verify any proof (see [link](https://github.com/cosmos/cosmos-sdk/blob/master/client/query.go#L104)), so generally speaking, if it's connected to a n

[2021-10-19 08:24] rmontagnin opened #10398 "`UnmarshalJSON cannot decode empty bytes` after v0.44.x upgrade"
## Summary of Bug
After upgrading to Cosmos `v0.44.x` and IBC `v1.2.0` trying to export a state returns the following error:
[code]

## Version
`v0.44.2`

## Steps to Reproduce
1. Create a chain with a version previous to `v0.44.x`
2. Upgrade the chain following [this procedure](https://docs.cosmos.network/master/migrations/chain-upgrade-guide-044.html)
3. Try exporting the state, the following er

[2021-10-19 11:58] #10117 closed

[2021-10-19 13:27] alexanderbez commented on #10352
Yeah I've also numerous reports of this...it smells like an off-by-one type of situation if I had to guess (as I've implemented most of this logic). I would say this is pretty high priority.

@amaurym any ideas who has bandwidth to look into this?

[2021-10-19 19:07] ValarDragon commented on #10318
How does `osmosisd q upgrade applied v4` work then?

[2021-10-19 20:32] robert-zaremba commented on #10096
Thanks @egaxhaj-figure . This is really needed.
Let's focus on merging part-2. It LGTM. Need @alexanderbez  to release the block or add more comments. Once this is done, I suggest:
+ review and merge plugin interfaces  --let's firstly do small PR and quick review rather then going into a big one. @i-norden  are you still handling it? I can't see that PR. @egaxhaj-figure  - would you collaborate on

[2021-10-19 20:35] robert-zaremba commented on #10096
@IbrarMakaveli  -- this was exactly the motivation for moving into the plugin architecture: to reuse existing queuing solutions.

File based approach is still an interesting thing and will be good to merge that functionality.

[2021-10-20 04:47] atheeshp commented on #10398
Hi @RiccardoM, did you follow these migration docs? https://github.com/cosmos/ibc-go/blob/main/docs/migrations/ibc-migration-043.md

[2021-10-20 05:18] atheeshp commented on #10398
@ryanchristo can you also link IBC migration docs in 0.44 migrations docs?

[2021-10-20 09:40] worryFree56 commented on #10151
.

[2021-10-20 14:25] amaury1093 opened #10409 "Remove go.mod `replace` line for gin-gonic/gin"
## Summary of Refactor

Remove this line

https://github.com/cosmos/cosmos-sdk/blob/5b1a14c9c1e39b52a468a81ac997d9ed412ea2f8/go.mod#L132

## Version

After https://github.com/cosmos/cosmos-sdk/pull/10401

## Proposal

- Wait for all the SDK's dependencies that use gin-gonic/gin to update to >=v1.7.0
- Remove the above line
- Make sure there's no mention of gin-gonic/gin<1.7.0 in go.sum

____

## F

[2021-10-20 22:25] robert-zaremba commented on #10318
(sorry wrong button)

[2021-10-21 10:06] nooomski opened #10417 "Remove the IBC docs folder and import it directly from the IBC repo"
The current IBC documentation on docs.cosmos.network is out of date compared to the docs on ibc.cosmos.network. To make maintenance easier we should delete the current IBC docs folder & copy the current one from the IBC repo using post.sh and pre.sh.

To avoid fragmentation, ideally ibc.cosmos.network will be depreciated and direct to the relevant overview page on docs.cosmos.network.

[2021-10-22 09:17] nhannamsiu opened #10425 "Pruning options behavior"
## Summary of Bug
Tendermint prunning option not working properly.

We have 2 prunning config:
cosmos level
[code]
tendermint level
[code]

If I understand these configs correctly. The cosmos pruning option `everything` will remove the all state data and only keep the current state, with pruning interval = 10. For example, I can check this by running simple bank query at specific height, if the he

[2021-10-22 10:45] #10013 closed, assigned to robert-zaremba

[2021-10-22 13:03] amaurym opened #10426 "Docs on using tipped transactions"
Part of the TX working group.

## Summary

Add docs on what tipped transactions are, and how to use them.

## Problem Definition

In #10208 we added a Tips middleware. There are currently no docs.

## Proposal

This docs change be thought as 2 pieces, which can be done in 2 PRs.

1. on https://docs.cosmos.network/master/core/transactions.html, add new & updated sign modes;
    - DIRECT_AUX
    - L

[2021-10-22 13:13] #10346 closed, assigned to amaury1093

[2021-10-22 15:18] robert-zaremba opened #10427 "Add load tests with parallel queries and transactions to verify no race condition exists with gRPC"
## Summary

In #10324 we added a simple load test. We need to add more.

## Problem Definition

We already had few failures with regards to a race conditions. We lack a proper test suite.

## Proposal

+ Create a network with 3 nodes (using @kaustubhkapatral  scripts may be userful)
+ bombard the network with 2 different query times (eg coin balance and a stake -  40k of such transactions) and tra

[2021-10-25 06:22] RiccardoM opened #10428 "`upgrade-info.json` not dumped correctly"
## Summary of bug
During an on-chain upgrade, the `upgrade-info.json` file is not dumped correctly, resulting in a chain halt.

## Version
`v0.44.2`

## Steps to reproduce

### Context
Inside our testnet, we have always used Cosmovisor v.0.1.0 in order to manage the various on-chain upgrades that we had. It always worked fine: the upgrade info was read properly from the chain and the binaries were

[2021-10-25 09:11] RaulBernal opened #10429 "Packet timeout timestamp at IBC is not updated until next TX"
## Summary of Bug

The field value `timeout_timestamp` is not recalculated properly.
Until a new valid TX is generated, the value of the field is not recalculated.
This causes invalid packets if a valid TX is not sent within 10 minutes (default value of the timeout).

## Version

From SDK v.0.42.x to v.0.44.x
Tested in
* Osmosis v.4.1.0 cosmos_sdk_version: v0.42.9
* BitCanna v.1.2 cosmos sdk_versi

[2021-10-25 15:30] ValarDragon opened #10433 "SMT <> IBC tracking issue"
## Summary

Tracking issue for things due to the SMT work that need to be detailed out for how it impacts IBC.

- [ ] Lite client proof verification format
  - We need to check if SMT preserves the same lite client proof format as IAVL or Tendermint's binary merkle tree formats.
  - These proof formats are defined here: https://github.com/confio/ics23/blob/master/go/proof.go
  - If SMT is not the

[2021-10-25 20:06] barriebyron opened #10435 "docs: (Cosmos SDK core concepts) add links, correct grammar, apply technical content style guidance"
## Summary

We've gotten some good traction to onboard new contributors during codefest. Doc issues are an excellent first entry point, so I've identified this small feature request to improve the Cosmos SDK docs.

## Problem Definition

Docs will be more awesome with consistent technical content style guidance applied.

## Proposal

Review and update the Cosmos SDK core concepts docs https://gith

[2021-10-25 20:24] barriebyron opened #10436 "docs:"
## Summary

We're getting excellent traction to onboard new contributors during codefest. Doc issues are an excellent first entry point, so I've identified this small feature request to improve the Cosmos SDK docs.

## Problem Definition

Docs will be more awesome with consistent technical content style guidance applied.

## Proposal
For the Command-Line Interface doc https://docs.cosmos.network/m

[2021-10-26 03:04] ValarDragon opened #10437 "Check error for RegisterQueryHandlerClient in all modules RegisterGRPCGatewayRoutes"
## Summary of Bug

Every modules `RegisterGRPCGatewayRoutes` calls `RegisterQueryHandlerClient` but doesn't check the error. This should instead be oneof:
* The error should be checked and panicked upon
* `types.RegisterGRPCGatewayRoutes` should be `types.MustRegisterGRPCGatewayRoutes` and internally check the error
* a `// nolint:errcheck` should be applied.

I am confused why `errcheck` isn't ge

[2021-10-26 06:41] #10429 closed, assigned to nobody

[2021-10-26 10:02] #10398 closed, assigned to atheeshp

[2021-10-26 15:41] amaurym opened #10443 "Explore a new TxBuilder for SIGN_MODE_DIRECT_AUX (for tipper)"
# Problem

The current TxBuilder has methods that have nothing to do for a tipper: SetFeePayer, SetFeeAmount, SetGas... It's confusing for a tipper TxBuilder to see these methods.

Moreover, it complicates usage of the same SignModeHandler in server and client side (https://github.com/cosmos/cosmos-sdk/pull/10208#discussion_r736694134)

# Solution

Try to think of a AuxTxBuilder that would be targ

[2021-10-27 11:08] robert-zaremba opened #10446 "rework Github test workflow when splitting core into submodules"
## Summary

Ref: https://github.com/cosmos/cosmos-sdk/pull/10325#issuecomment-948463494

After breaking down the current SDK module setup into submodules, the _split-test-files_ and _test_ jobs in `test.yaml` github workflow doesn't make sense.

## Problem Definition

+ We can only run a go test for packages in the same module.
+ We fixed the existing test workflow in #10325, however we will need

[2021-10-27 14:07] BenWolfaardt opened #10448 "/cosmos/tx/v1beta1/txs endpoints new alternative?"
## Issue

Since upgrading our system to `Cosmos SDK v0.42.6 (Gaia v5.0.2 / cosmoshub-4)` we have noticed that some of the endpoints have been depreciated (according to [Swagger Docs](https://v1.cosmos.network/rpc/v0.42.6)). For our use purposes these include:
- `height`
- `minheight`

Which were previously, and still are, accessible via: `/txs?tx.minheight=25`

Our question is, is this support tem

[2021-10-27 18:58] ryanchristo opened #10450 "Running cosmovisor version after install"
## Summary

After installing Cosmovisor, I should be able to run `cosmovisor version` and see which version I installed without having to set the environment variables and without having to configure the genesis and upgrade binaries. The configuration checks should happen after printing the current version of cosmovisor.

Related: #9999

## Version

cosmovisor v1.0

## Steps to Reproduce

[code]

[2021-10-28 11:01] #10437 closed, assigned to likhita-809

[2021-10-28 13:58] jtremback opened #10453 "Documentation: No documentation on using hooks"
Some modules have hooks, and in the docs they tend to have a list of the names of all the hooks. What is missing is a guide on how one can connect to hooks.

[2021-10-28 17:21] tsilva-figure opened #10457 "create grantee account during grant allowance txn, if it does not exist"
## Summary

Streamline initial "casual" user setup to pay for txns.

## Problem Definition

Some users are "casual" and are only going thru the motions required to complete their part of a dApp. They don't care about owning any native token balance on their account. This has made the use of fee grant excellent, however we still need to utilize bank send to actually create an account on chain on th

[2021-10-28 18:10] robert-zaremba opened #10459 "Installing and running cosmovisor version doesn't work"
## Problem Definition

When following Cosmovisor README installation procedure:
[code]

and running
[code]

The version is not set (below output from the command above):
[code]
This is because the build flag command is not set.

## Proposal

____

#### For Admin Use

- [x] Not duplicate issue
- [x] Appropriate labels applied
- [x] Appropriate contributors tagged
- [x] Contributor assigned/self-ass

[2021-10-28 19:39] #10457 closed, assigned to nobody

[2021-10-29 08:42] #10433 closed, assigned to nobody

[2021-10-29 17:08] robert-zaremba opened #10464 "Reuse x/upgrade validation functionality in cosmovisor"
## Summary

In #10379 we added a x/upgrade plan validation CLI command. It's based on what's currently in cosmovisor.
Let's reduce the code in cosmovisor (as much as possible) and use the functionality from /x/upgrade.

- [ ] describe the approach
- [ ] implementation
____

#### For Admin Use

- [x] Not duplicate issue
- [x] Appropriate labels applied
- [x] Appropriate contributors tagged
- [x] Co

[2021-10-29 18:54] LeonoorsCryptoman opened #10465 "Command "delegations-to" is not working"
## Summary of Bug
The command "query staking delegations-to _validator address_ --chain-id _chain_" gives an error when trying to execute. The error obtained is "Error: post failed: Post "http://localhost:26657": EOF"

This is not linked to the VPS on which the node is running. It has been tested on multiple servers with different specifications.

## Version
Existing in osmosis v4.1.0 (cosmos-sdk@

[2021-10-29 21:01] fkneeland-figure opened #10466 "Add time to simulation ctx"
## Summary of Bug

When running simulation tests with wasmd I am running into this error: https://github.com/CosmWasm/wasmd/blob/14e58bfa81ea2ade0ff00ebd067ac0bc75e37cf8/x/wasm/types/types.go#L258

This is because when we are running in simulation mode we don't populate the BlockTime field on the ctx: https://github.com/cosmos/cosmos-sdk/blob/bc3cda69f822722e7c2533ea8112833130116720/baseapp/baseap

[2021-10-29 22:49] fkneeland-figure opened #10468 "Enable FutureOps in Simulations to queue additional FutureOps"
## Summary

I am currently working on developing simulation tests for smart contracts in wasmd and it would be helpful if future operations could have other future operations as certain ops are required to take place after each other (store, instantiate, execute, etc...)

Currently cosmos-sdk only allows futureOps to go one level deep: https://github.com/cosmos/cosmos-sdk/blob/master/x/simulation/

[2021-10-30 00:42] dwedul-figure commented on #10428
After doing some research on this, there's a couple things I'd like to address.

### Automatic upgrades not working:

The upgrade module in `v0.44.2` of Cosmos-SDK does not output the plan info in the `data/upgrade-info.json` file. It only contains the name and height. With PR #8590, the `"info"` field was added and the `cosmovisor` code was updated to use it. That PR has been merged to master, bu

[2021-10-30 12:38] robert-zaremba opened #10471 "Speedup CI by using actions/cache"
## Summary

Use [actions/checkout@v2](https://docs.github.com/en/actions/advanced-guides/caching-dependencies-to-speed-up-workflows) to cache go dependencies.

## Problem Definition

CI is slow and we can speed it up by caching go modules.

____

#### For Admin Use

- [x] Not duplicate issue
- [x] Appropriate labels applied
- [x] Appropriate contributors tagged
- [ ] Contributor assigned/self-assi

[2021-10-30 12:38] robert-zaremba commented on #10471
CC: @odeke-em

[2021-10-30 12:46] robert-zaremba opened #10472 "fix db/rocksdb build and CI"
## Summary of Bug

when testing `/db/rocksdb` we have rocksdb build errors:

[code]
This blocks all PRs related to `/db/rocksdb` (CI is trying to run them).

Possible workaround: ignore `db/rocksdb` in tests.

____

## For Admin Use

- [ ] Not duplicate issue
- [ ] Appropriate labels applied
- [ ] Appropriate contributors tagged
- [ ] Contributor assigned/self-assigned

[2021-10-30 14:19] robert-zaremba opened #10474 "Integrate linter and fix linting errors"
## Summary

We don't have the same linter version integrated in the `make` job and github CLI. This causes problems with CLI.

## Proposal

- [x] #10112
- [x] https://github.com/cosmos/cosmos-sdk/pull/10060
- [ ]  #10475 integrate the right golangci-linter with Github CI: https://golangci-lint.run/usage/install/#ci-installation

____

#### For Admin Use

- [ ] Not duplicate issue
- [ ] Appropriate

[2021-10-31 11:18] hxrts commented on #9058
Still a little unclear if the working groups page on the wiki is being updated. If not, can we remove that section or have it link back here? https://github.com/cosmos/cosmos-sdk/wiki/Architecture-Design-Process#working-groups

[2021-11-01 07:58] tomtau commented on #10190
I tried to exclude test and telemetry usage of `time.Now()`:

[code]

There are 5 results in the current master: https://lgtm.com/query/1044813113192157603/ including that problem in authz

[2021-11-01 09:49] tomtau commented on #10190
There are no results in the current master:
[code]

but I verified that running this query locally on a DB built from SDK v0.41.4, it'll have 33 findings.

[2021-11-01 17:09] charleenfei commented on #10417
Hey @crodriguezvega @nooomski, just wanted to leave my thoughts here for clarification: I actually disagree that ibc-go isn't part of the SDK, it's an independent repo from the SDK so that the module itself is not subjected to being bound by the update cycle/timeline of the SDK but it is a part of the SDK in the sense that ibc-go cannot function without the cosmos SDK. However, I do agree that IBC

[2021-11-02 02:42] tomtau commented on #10190
In some SDK projects, floating point operations were parts of bugs, so it may be good to flag them too:
[code]

[2021-11-02 08:51] BenWolfaardt commented on #10448
I've tried calling Cosmos endpoints as suggested in the issue; indeed the tx.height=<HEIGHT> param works, otherwise if  try the tx.minheight=<HEIGHT>  param you get an empty response. I made the second call taking the height of first call -1.
Attached you find the calls i made

[2021-11-02 09:02] BenWolfaardt commented on #10448
Thank you @amaurym for your help.

I've tried calling `Cosmos` endpoints as suggested; indeed the `tx.height=<HEIGHT>` param works, however, if I try the `tx.minheight=<HEIGHT>` param I receive an empty response (the second call was made by subtracting 1 from the height of the first call).

Below are the calls that I've made, the first being the `tx.height=<height>`:

[code]

Response:

[code]

`t

[2021-11-02 10:08] tomtau commented on #10190
I tried to collect all the queries in this repo: https://github.com/crypto-com/cosmos-sdk-codeql

[2021-11-02 10:09] colin-axner commented on #10417
ibc-go documentation should not be removed from the ibc-go repository. This would require a parallel pr to be made to the SDK for every ibc-go pr which needs to modify documentation.

There should not be duplicate documentation maintained in both the SDK and ibc-go. There is duplicate documentation in the SDK since the generation of the site based on the ibc-go docs was very recent. Removing the S

[2021-11-02 17:26] amaurym opened #10484 "Change tx.Handler interface to remove code duplication"
## Summary

Make the middleware's tx.Handler interface as simple as possible.

## Problem

The current `tx.Handler` interface has 3 methods, and because of their signatures, it creates code duplication.

Current interface:

https://github.com/cosmos/cosmos-sdk/blob/4e718a8541eeac45fdd4392d03a075b7dec16cb0/types/tx/middleware.go#L24-L30

Example of duplication [here](https://github.com/cosmos/cosmo

[2021-11-02 18:20] odeke-em opened #10487 "store/cachekv: why should (*Store).Write sort the keys before deletion yet ordering doesn't seem important?"
At release v0.44.3
## Summary of Bug
Brought to my attention by the Tharsis team, store/cachekv.(*Store).Write is quite slow and for example has these CPU and Memory profiles and the biggest CPU consumer culprit is
[code]
where the subject code below is

https://github.com/cosmos/cosmos-sdk/blob/d83a3bf92c9a84bddf3f5eb6692a1101c18b42f1/store/cachekv/store.go#L104-L127

Notice in there that if at a

[2021-11-02 23:32] robert-zaremba commented on #10487
Hi thanks for asking.
It's not a bug.
Sorting is needed because we need to deterministically write to the parent store, which is a DB.

[2021-11-02 23:38] robert-zaremba commented on #10190
Thanks for the issue. Anything in client, cli and tests can be ignored. This is definitely needed and please feel free to create a PR. It seams that all / most of them are false positives. As Bez noted in the chat, we will need some statement to ignore that false positives.

PS: this is related to : https://github.com/cosmos/cosmos-sdk/issues/10329

[2021-11-03 04:02] ValarDragon commented on #10487
Well, we only need to deterministically write new insertions & deletions to the database. Edits of existing fields can be done in any order. So I guess we could track these separately

[2021-11-03 04:17] ValarDragon commented on #10487
Also once we go to SMT, I don't think the parent store in that case requires deterministic writes? (No insertion order dependency in the tree structure) If so, then perhaps we need to expose whether this is a requirement or not for the parent store's DB.

[2021-11-03 05:38] tomtau commented on #10329
This pattern should be captured in https://github.com/crypto-com/cosmos-sdk-codeql/blob/main/src/system-time.ql -- it will ignore CLI, tests and telemetry.
It doesn't ignore those in query services, because msg services may use query services -- the false positives could be then individually dismissed in GitHub UI: https://docs.github.com/en/code-security/code-scanning/automatically-scanning-your-

[2021-11-03 06:12] crodriguezvega commented on #10417
Another thing is the usage of the version dropdown on the top right of the documentation page. Cosmos SDK and ibc-go have now different versioning, so in the future the documentation for ibc-go could be different for a certain version and if the documentation is integrated in the cosmos SDK, then there would be no way to let the user choose the documentation for the version they are interested.

L

[2021-11-03 09:59] charleenfei commented on #10417
I don't think anyone is arguing for cosmos-sdk engineers to maintain ibc-go docs, the idea would be that instead of linking to the ibc-go docs in the current sdk repo, the link would be to ibc-go docs in the ibc-go repo instead. I agree that having the bottom IBC link (between Cosmos Hub and Tendermint) link to ibcprotocol rn is a problem, ibc.cosmos.network could work but imo could also be hosted

[2021-11-03 10:41] cmwaters opened #10489 "gov: replace Content and Proposal handlers in other modules with messages"
## Summary

Ref: #9438

This is a follow up issue on the use of an arbitrary array of messages in the proposal (#9810). Existing modules that use governance are still defining proposals as a `Content` and a proposal `Handler`. This needs to be replaced with their respective `sdk.Msg` type and a whitelist filter that only allows the governance module account to execute them. The following is a list

[2021-11-03 11:34] cmwaters opened #10490 "gov: add metadata field to proposal"
## Summary

Ref: #9438

This is a follow up issue from the original work in replacing proposal `Content` with an array of `sdk.Msg` (#9810). Part of this work removes **title** and **description** to proposals. The ability for a proposer to not only state their proposal but to be able to justify it is an important aspect of governance. This process is costly on-chain and far better suits being som

[2021-11-03 12:23] crodriguezvega commented on #10417
Yes, I think we all agree that it's not a good idea to keep the documentation in two places. If we are fine with having `ibc.cosmos.network` and the link to it in the other documentation sites (that replaces the link to the protocol site). Then we could do what @colin-axner suggests: replace the IBC doc pages in the SDK with a redirection link, mark them as deprecated and after a future SDK releas

[2021-11-03 13:08] mojtaba-esk opened #10491 "`Carriage return` character in generated Shells Completion Scripts causes error on some OS"
## Summary of Bug
`Carriage return` character in generated Shells Completion Scripts causes error on some OS. When running the generated script I got this error:

`$'\r': command not found`

We can fix it by removing the carriage return, but I think it is better to not filter it in the generation procedure.

## Version
v0.42.9

## Steps to Reproduce

I used `archwayd` but you can try it with `gaia

[2021-11-03 16:16] robert-zaremba commented on #10360
Closing in favor of #9816

[2021-11-03 16:16] #10360 closed

[2021-11-03 16:17] robert-zaremba commented on #9816
I've updated the descriptions and added more subtasks. @clevinson , can we somehow enable @i-norden to edit this task?

[2021-11-03 16:23] robert-zaremba commented on #10487
Correct!, so we need to do that change in `store/v2` @roysc

[2021-11-03 17:10] musalbas opened #10493 "Add claw back to vesting module"
## Summary

Add the ability for an admin key to claw back unvested tokens to a treasury account.

## Problem Definition

It is standard practice in token vesting contracts, that if a team member leaves the project, the project treasury has a call option on the team member's unvested tokens, to re-purchase them at the same price they paid for them (which could be nil if they were given to the team

[2021-11-03 17:16] liamsi commented on #10493
btw yearn has a similar feature: https://github.com/banteg/yearn-vesting-escrow/  specifically:

It might be a bit more nuanced here as the unvested tokens might be delegated. So additionally, the treasury_address must be able to unbond tokens accordingly (and then claw back).

[2021-11-04 07:32] devashishdxt opened #10494 "Add a `data` field in `Class` type of `x/nft` module"
## Summary

There are many use cases where we need to store some extra metadata related to a `Class` of an NFT (for example, mime-type of the data that is stored behind the `uri`, and other things depending on the use-case). So, it'll be good to have a generic `data` field in `Class` similar to the one in `NFT` type.

## Proposal

Add a `data` field in [`Class`](https://github.com/cosmos/cosmos-sd

[2021-11-04 09:57] tomtau opened #10495 "Simulations: different account types"
## Summary

Right now, generated accounts are fixed to base and vesting accounts, but it'd be good to add other account type support.

## Problem Definition

I came across this when trying to implement simulations for Ethermint which has its custom account type: https://github.com/tharsis/ethermint/blob/c73ce0f812fa3885b8dffcdd47dc7e5cc8446b2b/types/account.go

## Proposal

Not sure what the best

[2021-11-04 10:02] tomtau commented on #4642
We had this module: https://github.com/crypto-org-chain/chain-main/tree/f0a7cd77f7a559d147f5c710ce5bf58649d56b1b/x/subscription
we decided to remove it: https://github.com/crypto-org-chain/chain-main/blob/master/doc/architecture/adr-002.md in the end, but it's still a good codebase to start with if someone is still interested in upstreaming it

[2021-11-04 13:22] aaronc commented on #10494
Makes sense 👍

[2021-11-04 13:22] aaronc commented on #10494
Would you be willing to open a PR?

[2021-11-04 13:40] fdymylja opened #10496 "[types.TxMsgData, types.MsgData]: consider using google.Protobuf.Any instead of sdk.MsgData"
In the SDK, after we finalise executing a transaction, we marshal into `ResponseDeliverTx.Data` the `types.TxMsgData` https://github.com/cosmos/cosmos-sdk/blob/master/types/abci.pb.go#L462.

This object contains a slice of `types.MsgData` https://github.com/cosmos/cosmos-sdk/blob/master/types/abci.pb.go#L408.

`types.MsgData` in the end is an object with a type URL and a value, and hence could be

[2021-11-04 13:48] aaronc commented on #10496
I'm actually not sure how we ended up with this design at all for the result and honestly it seems way to heavy handed.

We don't need to include the msg type URL at all because we know that from the tx. I think we could get away with just serializing each response item with no type URL at all and just length prefixing each one. We know the response type from the proto files, no need to be redunda

[2021-11-04 14:05] jgimeno commented on #10496
If I am not wrong an example usage of it is the response of the proposal ID when creating a governance proposal.

[2021-11-04 14:15] fdymylja commented on #10496
Also, the type url refers to the MsgRequest and not MsgResponse, which is a further deviation from standard behaviour, IDK if intentional, but it is misleading.

[2021-11-04 14:45] aaronc commented on #9922
Attempting to address this in #10497 by adding `vote_paths` to the existing `MsgVoteRequest`.

[2021-11-04 15:35] aaronc commented on #10496
Yep. We should have a way to get that.

I know. It should be the MsgResponse if anything, but the type URL isn't really required for either...

[2021-11-04 15:42] aaronc commented on #10496
As an example of how I think this could work for clients without a lot of extra codegen, we could have the response types get populated _after_ the tx completes (in block mode) using some hypothetical `TxClient`. Because they're pointers I think that's sort of okay. It's not a very _functional_ approach so you could call it hacky, but also we are in an imperative language. Ex:

[code]

We could do

[2021-11-04 18:06] ValarDragon commented on #10487
I'm also relatively suspicious of this benchmark dominating execution time on further thought. Sounds like its not on an IAVL backend, where the file opens should be the bottleneck normally

[2021-11-04 18:07] JimLarson commented on #8907
I think I've got a fix for this in https://github.com/agoric-labs/cosmos-sdk/pull/138. I'll upstream it when I get a chance.

[2021-11-05 01:09] devashishdxt commented on #10494
Sure. Will do.

[2021-11-05 01:18] ValarDragon opened #10500 "Create a Decimal ApproxEq function"
## Summary

Similar to the DecEq function for testing, https://github.com/cosmos/cosmos-sdk/blob/d83a3bf92c9a84bddf3f5eb6692a1101c18b42f1/types/decimal.go#L800-L803, we should also have a decimal ApproxEq function that checks (pseudocode):

[code]

Basically checking that d1 is approximately equal to d2, within some tolerance bound.

## Problem Definition

Simplifies lots of decimal testing code.

[2021-11-06 09:18] essencejay opened #10503 "vesting account"
I'm a beginner. I have a question to ask. What is the role of the vesting account, or where there are specific documents, or pictures are better, or take a real-life example. I am a little confused when reading the formulas in the relevant [doc.](https://docs.cosmos.network/master/modules/auth/05_vesting.html#delegating). Does this require some knowledge of economics. Thank you.

[2021-11-07 06:11] #10503 closed

[2021-11-07 17:39] odeke-em opened #10504 "types: (Int).IsPositive should return true for 0; currently returns false yet (Int).IsNegative also returns false"
## Summary of Bug

Noticed while auditing tharsis/evmos that (Int).IsPositive for 0 returns false yet also (Int).IsNegative for 0 also returns false. Most likely this could cause issues by sdk users who might want to decrement values in say a loop and detect when a value gets negative. You can run
[code]
but it fails.

## For Admin Use

- [x] Not duplicate issue
- [x] Appropriate labels applied
-

[2021-11-08 08:40] BenWolfaardt commented on #10448
Dear @amaurym,

Before the depreciation of the previously used methods, to perform the above-outlined tasks, in the next release (0.45) we kindly ask that you please get back to us regarding the `tx.minheight=<HEIGHT>` endpoint.

Awaiting your helpful response.

[2021-11-08 10:11] amaury1729 opened #10506 "Add back tx.minHeight and tx.maxHeight"
## Summary

When migrating from the legacy REST API to the new proto endpoints, we forgot to migrate the `/tx?tx.{min,max}Height=...` query param.

Should we add them to the proto endpoints?

ref: https://github.com/cosmos/cosmos-sdk/issues/10448

## Problem Definition

Tendermint's tx indexer allows querying using `tx.height=...`, `tx.height>=...` and `tx.height<=...`. For the latter 2, the SDK a

[2021-11-08 10:11] amaurym commented on #10506
I'm personally in favor of Proposal 2.

[2021-11-08 10:13] amaurym commented on #10448
Try `tx.height>=8279865` instead of minHeight.

it seems that minHeight hasn't been migrated to the new Protobuf endpoints. I created an issue to decide whether we should add that minHeight helper, or use just `<=, >=`: #10506.

Closing this issue.

[2021-11-08 10:13] #10448 closed

[2021-11-08 10:24] #10474 closed

[2021-11-08 10:33] marbar3778 commented on #10425
seems like this was answered. Please comment if you have anything further, i will close this issue for now

[2021-11-08 10:33] #10425 closed

[2021-11-08 10:42] amaurym commented on #10496
I think I still prefer to use an Any though: it would be less magic, and easier JSON reading for people querying txs (see below). I.e. just pass an interface registry and proto json decodes everything, no need to do micro-format deserialization.

When querying for txs, we return the TxResponse type, which just shows data as a string, representing the concantenated response bytes of all msgs:
https

[2021-11-08 18:30] the-frey commented on #7340
Hi gang, late to the party here. We've been talking about this today in the Juno camp as obviously this is pretty important to the long-term stability of CosmWasm chains.

Juno core would like to offer a handsome bounty for getting this issue closed. That includes the design involved to get it done.

Sorry if this isn't quite the right place to talk about bounties, but we'd really like to see this

[2021-11-08 19:41] aaronc commented on #10496
I guess the main downside is more storage space gets used up... but maybe that's not too big a deal?

[2021-11-08 19:47] aaronc commented on #10484
This seems reasonable.

We could even go a step further and lift `GasInfo` and `Events` into `Response`.

[code]

`Events` still depends on tendermint types, and also there has been some recent discussion about bypassing tendermint events altogether for efficiency. But maybe that's a separate conversation.

[2021-11-08 20:21] ethanfrey commented on #7340
Who worked on the original state sync design?

I have no real idea there. Waiting for that "someone" to build some hooks, so we could just return the wasm blobs when needed.

Looking at https://github.com/cosmos/cosmos-sdk/blame/e2f510afcc3478edab4a7d8d786dccbec333dddd/snapshots/store.go it seems @erikgrinaker did most of this. He no longer seems to be working on Cosmos.

Hey Erik, would you tackl

[2021-11-08 20:23] ethanfrey commented on #7340
Yeah, he is all over the place in this code: https://github.com/cosmos/cosmos-sdk/blame/e2f510afcc3478edab4a7d8d786dccbec333dddd/snapshots/manager.go

I guess this explains why no one works on it. Original author is gone.

[2021-11-08 20:31] erikgrinaker commented on #7340
Afraid I don't have any spare cycles for this, my current gig keeps me pretty busy.

It shouldn't be a huge lift though: a couple of hooks to fetch/apply a stream of binary state data, and a couple of `snapshots.SnapshotItem` Protobuf message types to embed them in the state sync snapshot Protobuf stream along with some metadata. Designing the API/protocol would be the bulk of the work.

[2021-11-08 20:47] aaronc commented on #7340
Thanks @the-frey 🙏. That's great to hear!

[2021-11-08 23:49] #10487 closed

[2021-11-09 02:57] tomtau commented on #10310
@ValarDragon for reference, pprof from a related issue:
https://github.com/tharsis/ethermint/issues/710#issuecomment-957101207

[2021-11-09 03:34] odeke-em commented on #10190
We've got unreleased code in a private repo (collabo between Informal Systems * Orijtech Inc) that has a static analyzer/pass that'll detect when maps are being iterated over with values and enforce keys must be iterated upon then perhaps sorted. Kindly cc-ing @ebuchman

[2021-11-09 08:17] BenWolfaardt opened #10511 "/cosmos/tx/v1beta1/txs endpoint's pagination issue"
## Summary of Bug

When searching for transactions above a certain height, as recommended in issue [#10448](https://github.com/cosmos/cosmos-sdk/issues/10448), the resulting limit is applied, however, the pagination isn't working as the `"next_key": null` which is not the expected return.

If you could please kindly take a look at this it'll be greatly appreciated.
​
### Request
​
[code]
​
### Res

[2021-11-09 08:50] amaurym commented on #10504
@odeke-em I believe "positive" means >0, and "negative" means <0, see https://mathworld.wolfram.com/PositiveInteger.html. I think the current behavior is correct.

We could add `IsNonNegative` and `IsNonPositive` for >=0 and <=0 if that's needed.

Note: this was super confusing to me too, as in French, "positive" means >=0, and one says "strictly positive" for >0.

Proposing to close this issue.

[2021-11-09 09:31] atheeshp commented on #10504
I agree with this, even it is same in `math/big` package (ref: https://pkg.go.dev/math/big#Float.Sign)

[2021-11-09 10:38] roccomuso commented on #6052
You should probably not provide 0 as account number.
The first time the account receives some LUNA the accountNumber will be initialized.

[2021-11-09 11:32] odeke-em commented on #10504
You are correct @amaurym about the definitions of positive numbers being >0 it is just confusing for cases of say using .IsPositive to detect when a value is non-negative. Sure I shall close it.

[2021-11-09 11:33] #10504 closed

[2021-11-09 12:03] #10190 closed

[2021-11-09 12:40] marbar3778 commented on #9727
this can be done by apps already

[2021-11-09 12:40] #9727 closed

[2021-11-09 15:21] amaurym opened #10512 "TX Client UX Improvements"
Placeholder for an epic of the TX working group about how to improve golang Tx client UX/DX.

[2021-11-09 15:23] marbar3778 commented on #10512
is there anyway to link or describe what UX/DX is being proposed to be fixed?

[2021-11-09 15:31] amaurym opened #10513 "Implement new golang TX client"
## Problem

The existing client Tx is too confusing, and too tied to the CLI (TxFactory)

## Solution

A new `TxClient` with a well thought out API. ref: https://github.com/cosmos/cosmos-sdk/issues/10496#issuecomment-961168558

[code]

[2021-11-09 15:47] aaronc opened #10514 "EPIC: Refactor modules away from using x/params"
As discussed in https://github.com/cosmos/cosmos-sdk/discussions/9913

In [adr-046,](https://github.com/cosmos/cosmos-sdk/blob/master/docs/architecture/adr-046-module-params.md) the sdk decided to move away from a param module in favor of having each sdk module handle its own parameters. This is an optional change for applications and the Param module will live on in a deprecated form. The sdk wil

[2021-11-09 15:50] aaronc commented on #10514
As discussed in https://github.com/cosmos/cosmos-sdk/discussions/9913

- [ ] x/auth
- [ ] x/bank
- [ ] x/staking
- [ ] x/mint
- [ ] x/distribution
- [ ] x/slashing
- [ ] x/crisis
- [ ] x/gov
- [ ] docs

[2021-11-09 17:16] #10466 closed

[2021-11-10 00:04] technicallyty commented on #10514
added @gsk967 to gov per https://github.com/cosmos/cosmos-sdk/pull/9979#issuecomment-964292230.

[2021-11-10 03:01] FloppyDisck opened #10516 "/cosmos/staking/validators/{validator}/delegators unstable when querying"
## Summary of Bug

This bug applies to any blockchain using the recent SDK (Terra and Cosmos). Querying any validator related information either takes an unexpectedly high amount of time (> 10 minutes) or ends in returning a 504 error.

## Version

Cosmos SDK v0.42.6 (Gaia v5.0.2 / cosmoshub-4)

## Steps to Reproduce

[code]

____

## For Admin Use

- [ ] Not duplicate issue
- [ ] Appropriate labe

[2021-11-10 09:05] roysc commented on #9816
The ICS-23 proof implementation should be added as a "store/v2" component: https://github.com/cosmos/cosmos-sdk/pull/10015

[2021-11-10 09:16] robert-zaremba commented on #10427
For more concrete test proposal:
1. Prepare network with 3 nodes
2. Create account A with 20k coins and account B with 10k coins and account C with zero coins.
3. In parallel:
    1. Send 10k transactions of 1 coin transfer from A -> C.
    2. Send 10k transactions of 1 coin transfer from B -> C.
    3. 40k Query transactions (some noise), eg query balance and stake query
4. At the end verify that

[2021-11-10 09:18] #10472 closed

[2021-11-10 10:07] #10042 closed

[2021-11-10 10:13] roysc opened #10517 "Migrate state to store/v2"
## Summary

Implement a procedure to migrate state storage to the SMT-based store for [ADR-040](https://github.com/cosmos/cosmos-sdk/blob/3f3ca314f1877658cebb71dcc4da943e6f9758f6/docs/architecture/adr-040-storage-and-smt-state-commitments.md).

## Problem Definition

As the new state store is [implemented for ADR-040](https://github.com/cosmos/cosmos-sdk/issues/9816), we will need a command to mig

[2021-11-10 10:16] roysc commented on #9816
I created an issue for store migration implementation: https://github.com/cosmos/cosmos-sdk/issues/10517 - we can outline design there too.

[2021-11-10 10:17] roysc commented on #9816
"Base app wiring" should be covered by #10174

[2021-11-10 10:33] roysc opened #10518 "ADR-040 Implementation: End-to-end testing of store/v2"
## Summary

Verify the functionality of the new SMT-based store with end-to-end tests for [ADR-040](https://github.com/cosmos/cosmos-sdk/blob/3f3ca314f1877658cebb71dcc4da943e6f9758f6/docs/architecture/adr-040-storage-and-smt-state-commitments.md).

## Problem Definition

Once the new state store is fully integrated into the app code, it will need to be comprehensively tested with modules that refl

[2021-11-10 10:35] roysc commented on #9816
I've created an issue to track end-to-end testing of the store: https://github.com/cosmos/cosmos-sdk/issues/10518. This should happen after #10174

[2021-11-10 10:43] robert-zaremba opened #10520 "QA: network provisioning and load tests"
## Summary

This is an epic for the QA working group to integrate a network provisioning scripts and

- [x] review vitwit network provisioning [scripts](https://github.com/vitwit/cosmos-utils/tree/master/scripts)
- [x] create a repository to the cosmos org for network provisioning.
- [x] #10571
- [x] https://github.com/cosmos/cosmos-sdk/issues/10427#issuecomment-964928282 add load tests
- [x] Add

[2021-11-10 10:44] robert-zaremba commented on #10520
cc: @kaustubhkapatral , @anilCSE , @odeke-em

[2021-11-10 14:16] #10494 closed

[2021-11-10 14:56] alexanderbez commented on #10516
Yeah I think we've seen numerous reports of staking related endpoints being completely unusable. @robert-zaremba or @amaurym can you lmk if we already have this captured in another issue? Also, can you summarize why this is? Is it because of gRPC and mutex contention and/or poor index design?

[2021-11-10 16:12] amaurym commented on #10516
I don't think we have another issue for this, we can use this one.

I'd say poor index design (gut feeling). I think the current design forces us to loop through _all_ delegations, unmarshal each of them, and check if the validators matches the requested one. We should do some benchmarks to verify this hypothesis though, and add new indices if needed.

[2021-11-11 09:32] #10468 closed

[2021-11-11 10:37] #10381 closed

[2021-11-11 14:12] marbar3778 commented on #10520
repo is here https://github.com/cosmos/qa-integration

[2021-11-12 10:07] atheeshp commented on #10484
@aaronc we need `TxBytes` in few middleware handlers ([ref](https://github.com/cosmos/cosmos-sdk/pull/10527/files#diff-7d366f651e05e8eca430ce024ebbfc01a79c898fb65fa48061aec1e4abc56d9cR308)), @amaurym and I are aligning on a solution to add `tx.Request` like below

[code]
Hence the `tx.Handler` look like
[code]
wdyt?

[2021-11-12 11:03] kaustubhkapatral commented on #10427
@robert-zaremba The test scenario mentioned above was successfully executed with desired results for `robert/iavl-latest` branch. Scripts to load test the network can be found here:- https://github.com/vitwit/cosmos-utils/tree/master/scripts

[2021-11-12 11:12] marbar3778 opened #10528 "bug: invalid filename"
## Summary of Bug

[code]
i didn't know about this [restriction](https://docs.microsoft.com/en-us/windows/win32/fileio/naming-a-file?redirectedfrom=MSDN) (aux filename), i had to switch to linux

reported here

@amaurym I believe you worked on this code?

____

## For Admin Use

- [ ] Not duplicate issue
- [ ] Appropriate labels applied
- [ ] Appropriate contributors tagged
- [ ] Contributor assig

[2021-11-12 17:44] #10286 closed

[2021-11-12 17:49] robert-zaremba opened #10531 "Include Info in store.UpgradeInfo in 0.44.x"
## Summary

Related to: https://github.com/cosmos/cosmos-sdk/issues/10428

The auto-upgrade in 0.44.x chains doesn't work because the `Info` field is missing. We added it to the master, but we missed the window with 0.44 release. Now we need it to support autoupgrade with the latest cosmovisor.

____

#### For Admin Use

- [x] Not duplicate issue
- [x] Appropriate labels applied
- [x] Appropriate

[2021-11-12 17:52] robert-zaremba commented on #8540
Closing the issue. Please reopen if you will encounter again this problem.

[2021-11-12 17:52] #8540 closed

[2021-11-12 17:55] robert-zaremba commented on #10464
Idea is to have 2 commands:
1. prepare: will download and prepare for the next upgrade)
2. validate: will validate that everything is there to execute the next upgrade (binaries downloaded, directory created....)

[2021-11-12 18:40] kenorb commented on #10283
Same here, I've restored the data folder from a different snapshot, but without pruning the settings.

[2021-11-12 22:12] robert-zaremba commented on #9826
Added more items to the task list.

[2021-11-13 07:12] carameleon opened #10533 "Cosmovisor feature to set custom backup directory"
## Summary

I have not known whether this feature already exists or not.
I think the `backup path should be separated completely from the node home directory`.
For this purpose, we need feature to set other backup directory.
It will prevent unpredictable failure from disk space status.

## Problem Definition

Cosmovisor is really helpful, but it can cause problems related to disk space when they t

[2021-11-13 10:03] robert-zaremba commented on #10533
@yaruwangway  or @dwedul-figure  - would you be able to look at this?

[2021-11-13 11:18] #9808 closed

[2021-11-13 22:48] rami-dabain opened #10535 "Unable to broadcast TX via tendermint or REST API"
## Summary of Bug

Tendermint response:
`curl -X POST https://lcd-sentinel.cosmostation.io/txs -d testtx.json
{"error":"this transaction cannot be broadcasted via legacy REST endpoints, because it does not support Amino serialization. Please either use CLI, gRPC, gRPC-gateway, or directly query the Tendermint RPC endpoint to broadcast this transaction. The new REST endpoint (via gRPC-gateway) is P

[2021-11-13 22:56] rami-dabain commented on #10278
`
imports:
 "github.com/cosmos/cosmos-sdk/crypto/hd"
"github.com/cosmos/go-bip39"

if !bip39.IsMnemonicValid(mnemonic){

println("invalid mnemonic")
		}

		hdPath := hd.CreateHDPath(118, 0, 0).String()

		derivedPriv, err := hd.Secp256k1.Derive()(mnemonic, "", hdPath)
		if err != nil{
			println("err", err)
			continue
		}
		privKey := hd.Secp256k1.Generate()(derivedPriv)
`

[2021-11-14 12:38] zmanian commented on #10281
So I investigated using the Tendermint rollback command in combination with modified application state to help the Thorchain team recover a halted network.

One thing the Tendermint rollback command doesn't do is delete the block that was rolled back, this seems to cause the ABCI replay handshake to fail because it tries to apply the same block again.

[2021-11-14 14:31] fedekunze opened #10538 "ModuleAccount doesn't support setting sequence"
## Summary of Bug

On Evmos we need to enable the functionality for a module account to own a contract. For that, we need to retrieve the account nonce and update it on every sequence.

[code]

Unfortunately, the `ModuleAccount` doesn't support updating the Sequence. This prevents features like module/governance owned contracts, factory pattern for smart contract instantiation, etc.

[code]

____

[2021-11-14 16:15] rami-dabain opened #10539 "Invalid message structure for signature"
In https://docs.cosmos.network/master/run-node/txs.html#programmatically-with-go

the resulting TX "on mainnet" looks like this:

` {"body":{"messages":[{"@type":"/cosmos.bank.v1beta1.MsgSend","from_address":"sent106ur8d0lnh34alqzrf6ajlhy2cryymyqqyn7w7","to_address":"sent1wqqygaeu9asyv04nnhfm9y7ya4azmr54mr39t4","amount":[{"denom":"uatom","amount":"1000000"}]}],"memo":"vpn test memo","timeout_heigh

[2021-11-14 21:18] cmwaters commented on #10281
The idea was intentionally to not delete the block but just Tendermint's own internal state (which tracks the `AppHash`). That way upon start up Tendermint would replay that last block and get the "new" app hash from the application and persist that.

Is there a need to remove the block as well? I would think the application would just skip over any "corrupted" transactions.

[2021-11-15 02:24] alexanderbez commented on #10535
Can you please post the signed tx file that you're broadcasting?

[2021-11-15 08:56] tac0turtle opened #10540 "staking: bump all commission rate below param"
## Summary

When a minimum commission rate is set via governance it should update all validators to be at this minimum.

This is a follow up to https://github.com/cosmos/cosmos-sdk/pull/10529.
____

#### For Admin Use

- [x] Not duplicate issue
- [x] Appropriate labels applied
- [ ] Appropriate contributors tagged
- [ ] Contributor assigned/self-assigned

[2021-11-15 10:53] marbar3778 commented on #10514
is this blocked on https://github.com/cosmos/cosmos-sdk/issues/9438

[2021-11-15 11:38] #9974 closed

[2021-11-15 12:02] #10335 closed

[2021-11-15 14:27] marbar3778 opened #10548 "ci: liveness test is broken"
## Summary of Bug

liveness tests broke over 26 days ago. This was the PR it seems to have caused it. https://github.com/cosmos/cosmos-sdk/pull/10279.

____

## For Admin Use

- [ ] Not duplicate issue
- [ ] Appropriate labels applied
- [ ] Appropriate contributors tagged
- [ ] Contributor assigned/self-assigned

[2021-11-15 15:25] aleem1314 commented on #10511
Try `pagination.offset=10` instead of `pagination.key`. The SDK simply proxies `/cosmos/tx/v1beta1/txs` request to Tendermint and it only supports pagination with offset.

[2021-11-15 15:44] aaronc commented on #10446
But if we don't use `replace` directives in go.mod files we don't have this problem. Using tags seems like the more sane way to have a multi-module repo that let's us test components independently and have small scoped PRs.

[2021-11-15 15:52] #10538 closed

[2021-11-15 15:52] alexanderbez commented on #10548
This is like the 2nd or 3rd time this has broken. Idk how these PRs are getting merged into main w/o this passing. I think we need to add a check to the script that errors if it doesn't run for a certain amount of time. This way, we can rule out silent failures/false positives.

[2021-11-15 16:03] amaurym commented on #10443
Re-opened, as the previous PR wasn't finished. Pending on #10547

[2021-11-15 17:34] robert-zaremba commented on #10538
You removed `SetSequence`. How does it solves the problem?

[2021-11-15 18:03] ethanfrey commented on #10281
If there is code that uses this somewhere (even a one-off script), that would be great to link here to make a concrete use case. These concrete use cases usually appear in critical (chain halt) scenarios, so best to record them to prepare tooling best beforehand and leave minimal work in crisis

[2021-11-15 19:12] marbar3778 commented on #10548
fixed. will close for now

[2021-11-15 22:16] rami-dabain commented on #10535
sure:

`{"body":{"messages":[],"memo":"","timeout_height":"0","extension_options":[],"non_critical_extension_options":[]},"auth_info":{"signer_infos":[{"public_key":{"@type":"/cosmos.crypto.secp256k1.PubKey","key":"A/pYmsKYXcdQD7mDH39lhy54IlOgfYgf97AdJJsmbaUN"},"mode_info":{"single":{"mode":"SIGN_MODE_DIRECT"}},"sequence":"0"}],"fee":{"amount":[],"gas_limit":"0","payer":"","granter":""}},"signatur

[2021-11-15 22:19] rami-dabain commented on #10535
here is a signed message with some actual send type:

` {"body":{"messages":[{"@type":"/cosmos.bank.v1beta1.MsgSend","from_address":"sent106ur8d0lnh34alqzrf6ajlhy2cryymyqqyn7w7","to_address":"sent1wqqygaeu9asyv04nnhfm9y7ya4azmr54mr39t4","amount":[{"denom":"uatom","amount":"1000000"}]}],"memo":"vpn test memo","timeout_height":"5","extension_options":[],"non_critical_extension_options":[]},"auth_inf

[2021-11-15 22:20] dwedul-figure commented on #10533
This probably wouldn't be too tough to do.

A new env var would be added: `DAEMON_BACKUP_DIR`. If that is defined, backups will go there instead of `DAEMON_HOME`. If not defined, current behaviour is maintained.

Currently, each backup goes to a dated directory: `${DAEMON_HOME}/data-backup-YYYY-MM-DD`. This change would keep that dated directory, but make it `${DAEMON_BACKUP_DIR}/data-backup-YYYY-

[2021-11-16 10:00] yaruwangway commented on #10533
@dwedul-figure maybe if there is error during backup, skip back up and continue to upgrade, rather than panic. Shall we give user options to choose if they want to backup or not ?

I also get some insight from Billy, since the backup takes quiet sometime, is it possible to start backup earlier, for example, 100 blocks before upgrade height?

[2021-11-16 10:00] marbar3778 opened #10554 "add all go mods to dependabot"
We should have a checklist of things to do when adding a new go.mod. Right now dependency management is a mess and importing over go.mods will have an app importing multiple versions of the same dependencies.

We should add all go.mods to dependabot.

[2021-11-16 10:19] marbar3778 commented on #10493
this makes sense. Having this be optional seems like the best middle ground

[2021-11-16 10:25] marbar3778 commented on #10301
can this be moved to ibc?

[2021-11-16 10:27] marbar3778 commented on #10245
can we do what Tendermint does and pass a noop telemetry? or this is about also avoiding time calls?

[2021-11-16 10:28] #10094 closed

[2021-11-16 10:28] marbar3778 commented on #10025
@conr2d would you like to update the sdk?

[2021-11-16 12:38] BenWolfaardt commented on #10511
Thank you @aleem1314 for your suggestions. We've been able to successfully implement them and achieve that which we wanted to.

Kind regards,

[2021-11-16 12:38] #10511 closed

[2021-11-16 13:56] ValarDragon commented on #10245
Also avoiding the `time.Now()` calls.

[2021-11-16 14:13] alexanderbez commented on #10535
The file contents are incorrect -- it doesn't contain any messages.

[2021-11-16 14:19] alexanderbez commented on #10493
This isn't going to be trivial with the way vesting account currently work, specifically regards to unvested tokens that are delegated. Also, how does the state machine know the vesting account is owned by another account? Via the `x/authz` module? How will this interplay work?

[2021-11-16 14:24] alexanderbez commented on #10245
Yes

Yes

[2021-11-16 14:29] alexanderbez commented on #10283
This is a different issue. Your data directory contains a height with app data at height 1788900, yet your application believes the initial height is 2062000.

[2021-11-16 14:33] alexanderbez commented on #10495
Simulations actually use base and vesting accounts FYI 👌

[2021-11-16 15:26] robert-zaremba commented on #9826
We need to verify if adding royalty data will be necessary for IBC and this module.

[2021-11-16 15:48] blushi opened #10556 "Use memdb in ORM tests"
ref: https://github.com/cosmos/cosmos-sdk/pull/10481#discussion_r747795728

Use `github.com/cosmos/cosmos-sdk/db/memdb` in `x/group/internal/orm` tests instead of the current setup:
[code]

[2021-11-16 16:25] aaronc commented on #10484
This sounds like the right plan @atheeshp.

I would also like to pull `TxDecoder` out of `BaseApp` and into the `Middleware` so this solution will allow that. Basically `BaseApp` will call the root `Handler` with only `TxBytes` and `Tx` set to `nil` and the first middleware will do the decoding. There is actually a use case for having one middleware before tx decoding that we can handle with this

[2021-11-16 16:43] creachadair opened #10558 "Update context plumbing to remove TODO contexts"
For background, see https://github.com/cosmos/cosmos-sdk/pull/10210#discussion_r750180303

In some places, the code uses `context.TODO()` to call APIs that accept `context.Context` values where a context is not available from the surrounding code.

Update these cases to plumb a context upward through the API.

____

#### For Admin Use

- [ ] Not duplicate issue
- [ ] Appropriate labels applied
- [

[2021-11-16 16:55] amaurym commented on #10484
Makes sense. The refactor PR is getting big, I would propose to the the TxDecoderMiddleware in a separate PR.

[2021-11-16 17:28] rami-dabain commented on #10535
Yes, this is what i stated in the previous message.

However:
1 - Returning code-related error instead of a user-friendly message is a security red-flag even in open source projects
2 - When I tested a valid signed-tx packet it went though GRPC but not through REST (original issue)
3- You will get the same error message no matter the payload, you could give it a try yourself with any file, even an

[2021-11-16 17:55] #9912 closed

[2021-11-16 18:22] creachadair opened #10559 "x/feegrant: fix timeout on test case after TM v0.35 integration"
The x/feegrant client has a test case for `"should fail with unauthorized msgs"` that times out after the integration of Tendermint v0.35. As a workaround, the integration commented out this test case, but we should figure out why it times out and fix it for real.