[2021-04-16 14:23] aaronc commented on #9130
Duplicate 🤯

[2021-04-16 14:23] #9130 closed

[2021-04-16 14:31] aaronc commented on #9128
###### do-not-edit-start-codetree-epic-issues

#### Issues in this epic:

Title | Milestone | Assignees | State
----- | --------- | --------- | -----
![](https://cdnjs.cloudflare.com/ajax/libs/octicons/4.4.0/svg/issue-opened.svg) [Permanently Locked Vesting Accounts #8283](https://github.com/cosmos/cosmos-sdk/issues/8283) | v0.43 | clevinson | Open

###### do-not-edit-end-codetree-epic-issues

[2021-04-16 14:37] clevinson commented on #9116
@amaurym can you provide an update from your recent call with AiB?

[2021-04-16 14:47] clevinson commented on #9116
We should add in here also a description of what testnets we expect from which orgs & chains.

[2021-04-16 14:48] robert-zaremba commented on #9035
Updates will go here: https://github.com/cosmos/cosmos-sdk/issues/9114

[2021-04-16 14:48] #9035 closed

[2021-04-16 14:56] #4657 closed

[2021-04-16 14:58] clevinson commented on #7661
Closing as we'll create specific doc issues when necessary.

[2021-04-16 14:58] #7661 closed

[2021-04-16 15:12] amaurym commented on #9070
I'm adding a comment in #9132 for other people not to replicate this pattern.

Proposing to remove the 0.43 milestone once #9132 is merged, but to keep this issue open after.

[2021-04-16 15:22] blushi commented on #9030
Do we actually need height-based expiration? cc/ @marbar3778
Supporting both caused issues with x/upgrade.

We should use timestamp instead.

[2021-04-16 15:25] blushi commented on #9028
Same as in x/authz, we should simplify msg and types naming.

[2021-04-16 21:58] aaronc commented on #9122
Wow, sounds terrible. We should definitely address this. At a minimum, we can patch the CLI to say `--note` or `--comment`.

In the next version, we should probably make a rename at the protocol layer. Any thoughts @alexanderbez @alessio ?

[2021-04-16 23:33] alessio commented on #9122
This smells to me more of a UX issue than a security vulnerability. Thus I agree on changing the CLI options names and yet I don't think this issue warrants a change in the protocol.

[2021-04-17 08:10] serge1peshcoff commented on #9122
I agree, it's not like the core problem of the Cosmos blockchain, it's more like of a parameter that can be unknowingly used in a wrong way.

[2021-04-17 08:22] anilCSE commented on #9122
Yes a UX issue. Renaming the client facing flags should fix the issue. May be wallets (and exchanges?) should also should rename this. cc @dogemos

[2021-04-18 07:24] youngjoon-lee commented on #6168
I'm glad that Cosmos team is working on this idea. I've implemented my own DID method on my blockchain (powered by cosmos-sdk). It is being used in production in my company.
https://github.com/medibloc/panacea-core/tree/master/x/did.
I really like the idea to make IBC-enabled DIDs. I will keep taking a look the ideation and the developement. And, I hope I can help anything if the cosmos team needs

[2021-04-19 03:57] odeke-em commented on #8553
@cuonglm from my team has made a PR for adding the cosmos-sdk to oss-fuzz per https://github.com/google/oss-fuzz/pull/5631. As we fuzz more we'll keep updating oss-fuzz, but essentially it'll send us alerts and we'll file issues respectively here.

[2021-04-19 08:37] fedekunze commented on #9105
proposal ACK. Can you name some use cases for this improvement? How would you imagine this being used by different chains?

[2021-04-19 09:00] calvinlauyh opened #9138 "Feature Request: Include the slashed amount in slash event"
## Summary

Right now the `slash` event returns only the address, current power and reason for slashing. However, it does not cover how much is slashed.

## Problem Definition

I am working on an chain data indexer, and I am unable to get the slashed amount unless I port the logic and calcuate. However, doing my own calculation may introduce inaccuracy and inconsistent with the Cosmos SDK.

## Pro

[2021-04-19 10:43] dogemos commented on #9122
I agree that it is an issue. Something like 'destination tag' (a la XRP) could also work. 'note' and 'comment' are definitely non-typical as most other networks still call it 'memo'

That being said, we would prefer still have to show something like `Note (prev. memo)` as most exchanges will ask for a 'memo' and not showing that the 'note' just the 'memo' feature renamed could confuse users.

[2021-04-19 11:04] marbar3778 commented on #9106
This seems like its already possible (https://github.com/cosmos/cosmos-sdk/blob/master/simapp/simd/cmd/root.go#L205) but it's not documented and everyone copies the simd implementation in the sdk.

Also it seems we set minGasPrice to "" and this defaults to 0, which could be considered a bug.

[2021-04-19 14:07] sunnya97 commented on #9105
Osmosis is using this specific hook in order to reward users for casting a vote, and so our module giving this reward needs to receive a hook whenever a vote is cast

I can imagine other use cases as well, such as one that keeps track of how many votes have been cast so far, and to perhaps end a voting period early if certain conditions are met.

[2021-04-19 14:45] amaurym commented on #9116
I modified the 1st post to reflect the current v0.43 QA & release process. LMK if you have feedback @robert-zaremba  @aaronc @clevinson

[2021-04-19 15:11] odeke-em commented on #8553
Successfully added and merged per https://github.com/google/oss-fuzz/pull/5631! Let the continuous fuzzing begin.

[2021-04-19 15:11] #8553 closed

[2021-04-19 15:24] aaronc commented on #9116
@amaurym here are the release QA checklist items I had written up before: https://github.com/regen-network/regen-ledger/issues/253#issuecomment-789939289. I think there's a couple things from there to add here. Also, I think we should do a similar API change audit as with new modules - i.e. are new changes well named and complete, etc.

[2021-04-19 23:56] jackzampolin commented on #7489
After living a proto world for a bit we should def kill amino support.

[2021-04-20 07:52] marbar3778 commented on #8917
Diving into the fee issue, I dont think the problem is what lives in the sdk, but more so, how to use modular antehandlers and different fee designs is not documented. Looking at the antehandler, in order to write my own fee system I only have to write up to 3 functions. If we were to document how to write custom antehandlers and what different things do, people would be able to write their own sy

[2021-04-20 13:56] marbar3778 commented on #9092
https://github.com/cockroachdb/pebble

this is an option as well. It can help avoid cgo with rocksdb

[2021-04-20 14:33] marbar3778 opened #9146 "ante: fee pkg"
## Summary

Pull ante out of auth and into its own fee package. As part of this proposal we should better document how to modify the ante handler to help with custom fee models.

## Proposal

Pull ante out of auth and into its own pkg.

____

#### For Admin Use

- [x] Not duplicate issue
- [x] Appropriate labels applied
- [ ] Appropriate contributors tagged
- [ ] Contributor assigned/self-assigned

[2021-04-20 15:24] amaurym commented on #9116
Updated!

[2021-04-20 15:28] jackzampolin commented on #9129
@clevinson I think we can spin up `make localnet-start` in a GH actions environment

[2021-04-20 15:36] #9029 closed

[2021-04-20 15:36] #9030 closed

[2021-04-20 15:36] #9028 closed

[2021-04-20 21:22] aaronc opened #9151 "Cosmovisor docs are missing details on auto-downloads"
The original `cosmosd` docs describe how to configure auto-downloads: https://github.com/regen-network/cosmosd/blob/master/README.md#auto-download. These are missing from the cosmovisor docs.

Is there any reason in particular they were omitted @jgimeno? Let's add them back and update as needed.

[2021-04-20 22:22] #8882 closed

[2021-04-20 23:26] alessio opened #9152 "Document Makefile"
Hi,

It would be nice to have adequate Cosmos SDK developer-facing documentation for the usage of the Makefile (a-la https://www.kernel.org/doc/html/latest/kbuild/makefiles.html but simpler).

Thanks for considering.

____

#### For Admin Use

- [ ] Not duplicate issue
- [ ] Appropriate labels applied
- [ ] Appropriate contributors tagged
- [ ] Contributor assigned/self-assigned

[2021-04-21 00:00] marbar3778 commented on #9152
Why is this needed? is the contributing doc not enough?

[2021-04-21 00:04] alessio commented on #9152
IMHO the Makefile keeps growing, and I suppose that contributors (especially newcomers) may appreciate some specific documentation. A dedicated section to the contributing markdown file would be a good start.

[2021-04-21 11:17] amaurym commented on #9114
One thing to add: in #9139 we're removing service msgs, so authz's `MethodName()` doesn't make sense anymore since there's no more method. Maybe `MsgName()` or `MsgTypeURL()`?

[2021-04-21 12:49] robert-zaremba commented on #9114
So, we don't need that function at all, right?
As for the attribute - we already changed it to `msg_type_url`

[2021-04-21 13:29] robert-zaremba commented on #9092
yes, I've put it in the discussions 2 months ago: https://github.com/cosmos/cosmos-sdk/discussions/8297#discussioncomment-377413

[2021-04-21 15:11] #7098 closed

[2021-04-21 15:22] aaronc commented on #7097
Replaced by #9158

[2021-04-21 15:22] #7097 closed

[2021-04-21 16:18] #8283 closed

[2021-04-21 16:20] colin-axner opened #9159 "Bank and Supply are not pruning zero coins causing invariants to break"
While updating to the latest SDK commit `045c45f5507315834415c45b6eae5b1755cf002a` on a branch in `ibc-go`, one of our ICS20 transfer tests broke:

[code]
I have just run into this issue and have not spent time looking into it. Based on the error message, it appears the bank balance is not being pruned after it hits 0 causing the invariant to trigger. This error occurs when we send from A -> B and

[2021-04-21 16:24] colin-axner commented on #9159
It is possible I didn't configure something correctly when updating, but the error message seems to clearly indicate there exists a 0 coin

The branch I'm using can be found [here](https://github.com/cosmos/ibc-go/pull/79)

[2021-04-21 16:44] cuonglm opened #9160 "types: NewDecFromStr can return a Dec with too big decimal and panic"
## Summary of Bug

For very large decimal string input, types.NewDecFromStr does not validate the decimal size and return a valid Dec. Subsequent usages of this Dec methods can lead to panic.

Found by oss-fuzz: https://oss-fuzz.com/testcase-detail/6454129938530304 through continuous fuzzing

## Version

045c45f5507315834415c45b6eae5b1755cf002a

## Steps to Reproduce

[code]

____

## For Admin Us

[2021-04-21 16:47] ebuchman opened #9161 "Proposer reward bug"
## Summary of Bug

Blocks in Tendermint include a LastCommit field, which contains a canonical commit for the previous block. That is, the commit for a block N is not included in block N but in block N+1.

The proposer reward is supposed to be based on the number of precommits included by the proposer in the LastCommit of their block. This is supposed to serve as an incentive for a proposer of blo

[2021-04-21 16:59] #9105 closed

[2021-04-21 17:11] colin-axner commented on #9159
I figured it out. Burning coins is currently on master subtracting from the supply coin by coin. Previous behaviour used `Coins` to subtract from the total supply.

`Coin` and `Coins` **do not** perform the same operations

`Coin` will end up [here](https://github.com/cosmos/cosmos-sdk/blob/c4864e9f85011b3e971885ea995a0021c01a885d/types/coin.go#L105) clearly capable of returning a 0coin

`Coins` a

[2021-04-21 17:13] colin-axner commented on #9159
cc @amaurym @clevinson

I added to v0.43 milestone as it needs to be fixed for the next release

[2021-04-21 17:39] aaronc commented on #9159
This should be pretty straightforward to fix in bank.

It also strikes me as strange that `Coins` itself doesn't handle zero coins correctly. First, the zero coin should have never gotten added to `Coins` to begin with and second `IsEqual` should have properly dealt with zero values.

[2021-04-21 23:42] odeke-em opened #9162 "crypto/types: NewCompactBitArray arithmetic doesn't check that the arguments to make can be negative and be crashed"
## Summary of Bug
Auditing this code, you'll see this seemingly boring piece code of code https://github.com/cosmos/cosmos-sdk/blob/bffcae54a1afee8e93468fbf70f7235894b17465/crypto/types/compact_bit_array.go#L19-L27

and there is a bounds check already for `bits <= 0` and then nakedly do the addition https://github.com/cosmos/cosmos-sdk/blob/bffcae54a1afee8e93468fbf70f7235894b17465/crypto/types/com

[2021-04-22 00:52] odeke-em opened #9164 "crypto/types: CompactBitArray doesn't defensively check that .SetIndex has a positive index before indexing"
## Summary of Bug
If we audit this code https://github.com/cosmos/cosmos-sdk/blob/c4864e9f85011b3e971885ea995a0021c01a885d/crypto/types/compact_bit_array.go#L55-L71
we'll notice https://github.com/cosmos/cosmos-sdk/blob/c4864e9f85011b3e971885ea995a0021c01a885d/crypto/types/compact_bit_array.go#L60-L68

the code in (*CompactBitArray).SetIndex assumes that it'll always take in a positive index. Howe

[2021-04-22 01:39] odeke-em opened #9165 "crypto/types: CompactUnmarshal naively assumes bytes sent in will always be Uvarint encoded and crashes if negative"
## Summary of Bug
I audited this code https://github.com/cosmos/cosmos-sdk/blob/bffcae54a1afee8e93468fbf70f7235894b17465/crypto/types/compact_bit_array.go#L246-L263
and look at this code

https://github.com/cosmos/cosmos-sdk/blob/bffcae54a1afee8e93468fbf70f7235894b17465/crypto/types/compact_bit_array.go#L253-L254

all one needs to do is pass in bad bytes for the size and that'll be returned in `n`

[2021-04-22 03:09] #9162 closed

[2021-04-22 07:36] atheeshp opened #9168 "Querying with `next_key` in pagination throwing error"
## Summary of Bug
When I'm using pagination with `next_key` throwing an error like:
[code]
(This is happening only in few cases)

## Version

## Steps to Reproduce
(This is in my case)

query [validatos](http://104.248.56.140:1317/cosmos/staking/v1beta1/validators?pagination.limit=6) with `pagination.limit=6` initially, and then try to query the [next page](http://104.248.56.140:1317/cosmos/stakin

[2021-04-22 09:13] colin-axner commented on #9159
Yes I completely agree. The mechanics of coin need to be revisited/audited/documented imo. There's a lot of subtle details that can easily lead to misuse. There's other oddities like [bank allowing empty coin sets as valid no-ops](https://github.com/cosmos/cosmos-sdk/issues/7046#issuecomment-693328016)

[2021-04-22 09:34] amaurym opened #9172 "Remove support for ServiceMsgs TypeURLs"
## Summary

Should we still support `ServiceMsg` TypeURLs in txs in v0.43?

## Terminology

#### 1. `Msg` TypeURL, e.g. `"/cosmos.bank.v1beta1.MsgSend"`

This is the TypeUrl of a proto message when packed inside an Any. For example: we can pack `bank.MsgSend` in an `Any` in txs. We then have  `any.TypeURL == "/cosmos.bank.v1beta1.MsgSend"`.

#### 2. `ServiceMsg` TypeURL, e.g. `"/cosmos.bank.v1beta

[2021-04-22 10:21] #9160 closed

[2021-04-22 10:50] marbar3778 commented on #9128
Are these weekly or 2 week sprints?

[2021-04-22 11:19] anilCSE commented on #9168
@atheeshp do you have a live chain url to cross check this case? What is your next key value, is it different (any special characters) from other next keys?

[2021-04-22 11:36] atheeshp commented on #9168
http://104.248.56.140:1317/cosmos/staking/v1beta1/validators?pagination.limit=2
when I'm trying with page limit 2 it is working fine with `next_key` (`next_key` here in result is `BVq5MwEuQtRO1r/vImoFfLinR7E=`)

http://104.248.56.140:1317/cosmos/staking/v1beta1/validators?pagination.limit=6
when I'm trying with page limit 6 there is an error in next page with `next_key` (`next_key` here in result

[2021-04-22 12:06] aaronc commented on #9128
Two weeks

[2021-04-22 12:07] marbar3778 commented on #9128
Thanks 👍

[2021-04-22 12:57] anilCSE commented on #9168
I see, can you try with url encoding and confirm?

[2021-04-22 13:27] atheeshp commented on #9168
Tried with url encoding. Working fine thanks @anilCSE

[2021-04-22 13:27] #9168 closed

[2021-04-22 13:42] atheeshp commented on #9056
Addressed this in #9108

[2021-04-22 13:42] #9056 closed

[2021-04-22 18:15] charleenfei opened #9180 "broken links in ibc-go docs -- broken github workflow?"
## Summary of Bug

almost all the docs links in ibc-go are broken (https://github.com/cosmos/cosmos-sdk/blob/v0.42.4/x/ibc/core/spec/01_concepts.md), this might indicate a larger issue of broken links in the docs not getting caught by the github workflow: https://github.com/cosmos/cosmos-sdk/actions/workflows/linkchecker.yml

## Version

## Steps to Reproduce

____

## For Admin Use

- [ ] Not dup

[2021-04-22 21:55] clevinson opened #9183 "Add devnets in CI"
As described in #9129, we should set up a github action that spins up a docker-based devnet (we can reuse the localnet setup in the Makefile) either just on master or every PR.

We'll need to look into lightweight hosting providers, perhaps Heroku review apps may be the way to go: https://devcenter.heroku.com/articles/github-integration-review-apps#review-apps-and-docker.

[2021-04-22 22:57] MikeSofaer commented on #9106
My chain (Pylons) is primarily a 0-fee chain, it's modeled on free-to-play games, where we want to get users engaged and playing before we start charging them money. Similarly for artists we want them to be able to mint pieces without paying up-front at all. I have other strategies for spam prevention. So I'd like to make sure that 0-fee remains possible, please!

[2021-04-22 23:33] sneak opened #9184 "Potential license violation"
I understand that this project is licensed Apache2.

I have reason to suspect that the repository at:

https://github.com/binance-chain/node-binary

is providing object code (compiled binaries) of a derived work of this repository, per:

https://github.com/binance-chain/node-binary/issues/2

The node-binary repository operated by @binance-chain does not provide source code for this binary, nor doe

[2021-04-22 23:44] clevinson commented on #9183
Unfortunately, i'm not sure if heroku review apps actually can satisfy our needs here. Heroku in general is mostly meant for single container applications when using heroku's Container Registry and/or Docker Deploys.

Heroku does have some support for deploying multiple images as part of a larger App / Pipeline (e.g. a web & worker setup), but it seems we don't have control over what ports are exp

[2021-04-22 23:48] aaronc commented on #9183
Why is docker a requirement? We should just try the golang buildpack: https://devcenter.heroku.com/articles/go-support

[2021-04-22 23:51] aaronc commented on #9183
We want to spin up multiple nodes which should be possible in a single golang process. Maybe we can't expose enough ports idk

[2021-04-23 01:51] clevinson commented on #9183
Using docker seemed like it would be easier, seeing as we already have a perfectly suitable `docker-compose.yml` file ready for this use case.

In the Heroku docs on [Private Space Runtime Networking](https://devcenter.heroku.com/articles/dynos#private-spaces-runtime-networking), it seems that heroku still will only expose port 80 for incoming requests, and forward those to the port designated by

[2021-04-23 02:48] aaronc commented on #9183
Okay let's try another solution then.

[2021-04-23 09:22] ytbigvinny288 opened #9188 "fix"
## Summary of Bug

## Version

## Steps to Reproduce

____

## For Admin Use

- [ ] Not duplicate issue
- [ ] Appropriate labels applied
- [ ] Appropriate contributors tagged
- [ ] Contributor assigned/self-assigned

[2021-04-23 13:50] barriebyron opened #9189 "Stable releases description in Cosmos SDK repo is stale, needs Stargate and maintenance plan"
## Summary of Bug
https://github.com/cosmos/cosmos-sdk/blob/master/STABLE_RELEASES.md needs an update for the stargate release v0.40 and later

Who is the release owner? (someone at REGEN?) Can we get some love for this important file?

## Version

## Steps to Reproduce

____

## For Admin Use

- [ ] Not duplicate issue
- [ ] Appropriate labels applied
- [ ] Appropriate contributors tagged
- [ ] C

[2021-04-23 14:33] #9188 closed

[2021-04-23 16:26] amaurym commented on #9172
I'm in favor of Proposal 1. There's gonna be client breaking changes anyway, so rather soon than later.

[2021-04-24 03:34] tpkeeper opened #9197 "regelegate all amount to new one ,but finally left 1 umuon in old one"
## Summary of Bug

I redelegate from one validator to another one with all amount, but after the tx confirmed, still have 1 umuon left in the old one,    why ?

testnet tx hash: 95C707149EE95B49E2F91E8659C9911BDECC1BE917575C5EAA9F5F5131B8A4F7

redelegate 731 umuon ,but new validator got 730 and left 1 umuon in old one

## Version

SDK V0.42.4

## Steps to Reproduce

redelegate all amount from one

[2021-04-24 10:10] marbar3778 commented on #9184
Hey, this is not a license violation. Binance is free to keep the code closed source if they decide to.

[2021-04-24 10:10] #9184 closed

[2021-04-25 13:36] sneak commented on #9184
The binaries they release do not carry a license statement at all.  It's my understanding of section 4a (Redistribution) of the Apache license that all derivative works must carry the same license, whether distributed in source or object form.

[2021-04-25 13:37] sneak commented on #9184
Thus, @marbar3778, I think your assessment is incorrect if their compiled binaries are derived works.

[2021-04-26 11:15] #8023 closed

[2021-04-26 12:33] marbar3778 commented on #9014
In talking with @fedekunze he mentioned this is not possible with the current simulator. @fedekunze can you confirm?

[2021-04-26 16:40] #9164 closed

[2021-04-26 16:40] #9165 closed

[2021-04-26 17:02] colin-axner commented on #9180
The links got broken because they pointed to master and x/ibc got removed from master. Most of the links got fixed but they didn't get backported (which is why they don't work on v0.42.4)

[2021-04-27 02:31] jeebster commented on #5450
I'm happy to help refactoring these errors, but I'm a bit unsure about how to proceed accordingly - technically, almost all of these errors appear to encompass `invalid` input according to your definition @alexanderbez . Is the idea to deprecate all errors that are a result of malformed request parameters? Could you provide a more specific definition or a list of non-redundant errors, or those tha

[2021-04-27 06:36] marbar3778 commented on #9180
@colin-axner want to fix the links on 0.42.x to look at 0.42.x instead of master?

[2021-04-27 08:58] amaurym commented on #9172
Proposal 1 is implemented in #9139

[2021-04-27 08:59] amaurym opened #9208 "Remove mentions of ServiceMsg TypeURLs in docs"
## Summary

We should not mention ServiceMsg TypeURLs (e.g. `/cosmos.bank.v1beta1.Msg/Send`) in docs.

We should still keep the `Msg` service wording.

## Problem Definition

After #9139, the SDK won't support ServiceMsg TypeURLs anymore. The docs should reflect that.

## Proposal

Remove mentions of ServiceMsg TypeURLs in docs.

____

#### For Admin Use

- [ ] Not duplicate issue
- [ ] Appropriat

[2021-04-27 09:02] amaurym commented on #7563
Hey @akhilkumarpilli, what's the status of this issue? What are the next steps so that all modules only emit typed events?

[2021-04-27 09:15] marbar3778 commented on #6476
This has since been fixed, we also now use a tagged version of the docker image.

[2021-04-27 09:15] #6476 closed

[2021-04-27 10:35] marbar3778 commented on #7403
the docs have been migrated.

[2021-04-27 10:35] #7403 closed

[2021-04-27 10:38] marbar3778 commented on #8370
This is more related to Tendermin than the SDK. Could you open an issue there?
Its a simple change to fix this.

Will close this for now.

[2021-04-27 10:38] #8370 closed

[2021-04-27 10:39] marbar3778 commented on #8700
In support of this.

[2021-04-27 11:28] robert-zaremba commented on #8023
For a note:
* `docker --rm` was not an ideal solution because we neded up recreating containers and downloading all go dependencies on each use.
*  Since we didn't want to introduce additional dependency (docker-compose), the solution I implemented was to not remove the container, fix the name and reuse it. `docker-compose` would automate it, but the solution is just one `if + grep`, so not a big

[2021-04-27 12:16] marbar3778 commented on #8469
If you are still experiencing issues, please ask in the discord.

[2021-04-27 12:16] #8469 closed

[2021-04-27 15:29] aaronc commented on #9116
Any update on the timing of this? Seems like the feegrant and authz changes are proceeding relatively swiftly. We should try to get the API level release audit done ASAP because that is now the main thing blocking a beta.

[2021-04-28 03:59] akhilkumarpilli commented on #7563
This issue https://github.com/tendermint/tendermint/issues/5978 needs to be resolved first. Once after that, we can start implementing [ADR-032](https://github.com/ovrclk/cosmos-sdk/blob/master/docs/architecture/adr-032-typed-events.md) in all modules.

[2021-04-28 07:44] marbar3778 commented on #7563
We will be providing a postgres indexer, can this be done through that?

As for the current indexer, we may say it is feature complete and not work on it anymore.

[2021-04-28 09:55] robert-zaremba commented on #9159
We are looking into it with @atheeshp

[2021-04-28 09:56] robert-zaremba commented on #9159
BTW, why do we need `Coins`? We can do things directly without that structure.

[2021-04-28 10:02] colin-axner commented on #9159
I realize I left some details off. I believe the issue is [here](https://github.com/cosmos/cosmos-sdk/blob/e8e5c08655b18439fa091e2a73779db1414fffca/x/bank/keeper/keeper.go#L411)

As you can see, GetSupply() returns sdk.Coin. Thus we end up [here](https://github.com/cosmos/cosmos-sdk/blob/e8e5c08655b18439fa091e2a73779db1414fffca/types/coin.go#L110) and [here](https://github.com/cosmos/cosmos-sdk/bl

[2021-04-28 10:10] colin-axner commented on #9159
If we send our entire balance away, we should expect our entire balance to be deducted (and pruned) in [`subUnlockedCoins`](https://github.com/cosmos/cosmos-sdk/blob/e8e5c08655b18439fa091e2a73779db1414fffca/x/bank/keeper/send.go#L147). First the function only checks if the send results in a [negative balance](https://github.com/cosmos/cosmos-sdk/blob/e8e5c08655b18439fa091e2a73779db1414fffca/x/bank

[2021-04-28 10:12] cuonglm opened #9215 "crypto/types: compact bit array one count is not optimal"
## Summary

Optimize [CompactBitArray.NumTrueBitsBefore](https://github.com/cosmos/cosmos-sdk/blob/e8e5c08655b18439fa091e2a73779db1414fffca/crypto/types/compact_bit_array.go#L87).

## Problem Definition

Currently, `CompactBitArray.NumTrueBitsBefore` perform a loop and test bit set using bitwise:

https://github.com/cosmos/cosmos-sdk/blob/e8e5c08655b18439fa091e2a73779db1414fffca/crypto/types/compa

[2021-04-28 10:13] colin-axner commented on #9159
I think there are a variety of fixes here and I'm not sure what is the best approach, but one simple approach is to the check if the amount.IsZero() on `SetSupply` and `setBalance` and to delete the key/value if that is true

[2021-04-28 10:15] colin-axner commented on #9159
It'd be great if simulations could be updated to randomly burn the entire supply of some coin (that would catch the existing bug)

[2021-04-28 10:40] ethanfrey commented on #8917
I agree with this. And a *simple but usage* example will inspire chains to take that and customize as needed. That will scratch lots of itches until a more powerful EIP-1559 solution can be implemented (and give some real world feedback on attack vectors, usability, etc)

[2021-04-28 11:33] amaurym opened #9218 "v042..v043 Audit changes on existing code"
Part of #9116.

This checklist is to be used for tracking the final internal audit of fixes and features introduced on _existing_ Cosmos SDK code and modules, prior to inclusion in a published release.

Commit 7fd3d00459bb5d69d64c6648f1ed7eb6a47e7c85 is when `release/v0.42.x` branched out of master. We should audit the commit log ` 7fd3d00..master`, and perform the following audits below.

## Prio

[2021-04-28 11:35] amaurym commented on #9116
I created https://github.com/cosmos/cosmos-sdk/issues/9218, based on items for the readiness checklist we have for authz/feegrant. We can start assigning items within subteams.

[2021-04-28 11:59] robert-zaremba commented on #9159
There is one more bug in the `Coins.safeAdd` function - it assumes that coins are sorted by denom. If we don't have it then the operation doesn't work.

[2021-04-28 13:14] robert-zaremba opened #9220 "Release the new IAVL version and update SDK"
## Summary

We have one bug fix and one improvement with a breaking change.

____

#### For Admin Use

- [x] Not duplicate issue
- [x] Appropriate labels applied
- [x] Appropriate contributors tagged
- [x] Contributor assigned/self-assigned

[2021-04-28 13:29] colin-axner commented on #9159
I think this is safe since [`coins.Validate`](https://github.com/cosmos/cosmos-sdk/blob/f45838ff3c014c7e3fe0de0669ff66786200d454/types/coin.go#L197) checks that the coins are sorted and we should never .Add/.Sub invalid coins

These sort of idiosyncrasies are not well documented. Another good example of why I think the entire design of Coin needs to be audited and documented in an ADR #7046. It'd

[2021-04-28 14:18] robert-zaremba commented on #8917
Well, I still think it will be worth to add a reference implementation for the min gas price. I didn't look at the code how the min gas price is set, but probably it goes through `sdk.Context`.

[2021-04-28 16:33] vae520283995 opened #9224 "How to calculate the txHash based on the signed transaction"
I want to directly calculate it locally without api

[2021-04-28 17:33] aaronc commented on #8413
How about we renamed `codec.Marshaler` -> `codec.Codec` since the two implementations are `ProtoCodec` and `AminoCodec`. And similarly `BinaryMarshaler` and `JSONMarshaler` become `BinaryCodec` and `JSONCodec`.

[2021-04-28 17:39] robert-zaremba commented on #8413
So, object which serializes other objects will be called `Codec*`

[2021-04-28 17:40] clevinson commented on #7340
@iramiller from Provenance shared today in the Cosmos SDK Community Dev call that this issue was also a priority for their team to be addressed.

Agreed that we should be looking at addressing this soon after v0.43. I think it's a strong candidate and one of the issues in our backlog with the most requests from chain developers (agoric, cosmwasm, provenance all have voiced need for this).

[2021-04-28 23:10] robert-zaremba opened #9227 "Create ed25519 proto compatible with ADR-28"
## Summary

Some chains will like to opt-in for ed25519 for user accounts. Let's implement an ADR-28 compatible keys for them.

Ref: https://github.com/cosmos/cosmos-sdk/discussions/8543#discussioncomment-663831

## Problem Definition

Currently, we don't support ed25519 for user keys. Custom implementation could not be compatible with ADR-28 and could lead to potential design conflicts in the fut

[2021-04-29 02:53] akhilkumarpilli commented on #7563
Hope it will support. We will try to implement and test this once after postgres indexer is integrated. Thanks.

[2021-04-29 03:03] alexanderbez commented on #9227
Title is off

[2021-04-29 09:46] marbar3778 commented on #4937
still relevant.

[2021-04-29 10:46] #8413 closed

[2021-04-29 11:12] amaurym commented on #8045
I think I have a clearer understanding of this issue.

The gRPC client connection in the code snippets above is most likely a simple `grpc.Dial()`, whereas in the SDK tests we generally use a `client.Context`. The latter unpacks interfaces, while the former does not, hence the interfaces being nil in this issue.

A more self-contained example was given by freak12techo on Discord: https://gist.gith

[2021-04-29 11:27] amaurym commented on #8045
I propose the following strategy for this issue:
1. for now:
    - add a docs entry somewhere to document this,
    - add a test in the SDK (testing that interface is nil before `UnpackInterfaces`, and not nil after), that we can point people to
2. for later:
    - make sure our generated code (#8270) takes care of all UnpackInterfaces (if possible)
    - if not possible, then we could create a SD

[2021-04-29 12:33] colin-axner commented on #7036
Are there any labels that can be added to get this issue tracked and potentially assigned to someone? It might take some investigation to see what's possible and what the ideal solution looks like.

I think this is a very useful feature to encourage gRPC usage

[2021-04-29 15:40] aaronc commented on #7036
I have actually been trying to work on a design for this. It's related to some other work that's being tracked. Will label this appropriately anyway.

[2021-04-29 15:48] yvesmessy commented on #7036
@aaronc I'm with Cudos.org and we're working on Proof of Compute for grpc queries on chain, would love to sync up on this if you're open to it. How do we get involved?

[2021-04-29 15:58] aaronc commented on #7036
The details of how this will work are spread across a few topics (ADR 040 and the table store discussion) and aren't really written up succinctly... so I'll probably have to do that at some point soon. In the meantime maybe you can share more details about your use case @yvesmessy ?

[2021-04-29 17:49] ethanfrey commented on #4937
It should be a minor change. I would love to see this land soon

[2021-04-29 17:49] ethanfrey commented on #4937
I could make a PR if there is support

[2021-04-29 18:15] technicallyty opened #9232 "Update x/auth AnteHandler Spec and Documentation"
## Summary

`x/auth`'s AnteHandler documentation does not reflect the functionality it handles currently.

## Problem Definition

The `x/auth` AnteHandler was [recently updated](https://github.com/cosmos/cosmos-sdk/pull/8682) to handle feegrant transactions. The [spec](https://github.com/cosmos/cosmos-sdk/blob/master/x/auth/spec/03_antehandlers.md) for ante-handlers, however, hasn't been updated i

[2021-04-29 18:30] jeebster commented on #5450
Handling this issue via #9231. Please let me know if further error deprecation/refactoring is required

[2021-04-29 19:48] cuonglm opened #9233 "store/internal/proofs: CreateNonMembershipProof/CreateMembershipProof panic with empty key"
## Summary of Bug

CreateNonMembershipProof/CreateMembershipProof does not validate the key before calling `sdkmaps.ProofsFromMap`, so they can panic with empty key.

## Version

4f4c035c891f3546b354fcaf3ab59ba1879ba7ed

## Steps to Reproduce

[code]

[code]

Discover by https://oss-fuzz.com/testcase-detail/4647668077953024

____

## For Admin Use

- [ ] Not duplicate issue
- [ ] Appropriate label

[2021-04-29 21:35] marbar3778 commented on #4937
I am in support of this change.

@aaronc @robert-zaremba @amaurym do you have thoughts?

[2021-04-29 21:55] robert-zaremba commented on #9146
I think ante handlers (interface) should be defined in `types/ante`, and the instances (middlewares) can be defined everywhere. Each module can have it's ante handler

[2021-04-29 22:18] aaronc commented on #4937
I'm wondering how this relates with authz and group module routing. For instance, when an authorized Msg gets routed would the signers on the Context get replaced?

Also I'm a little unclear with the SDK's current architecture for which use cases it's relevant for a handler to know about the signers of _other_ Msgs in the tx, and if that's even a good idea. I mean theoretically a handler can decod

[2021-04-29 22:54] aaronc commented on #9146
My sense is we should 1) drop the word decorator and use middleware (which has been suggested elsewhere) and 2) create proper Check/DeliverTx middleware that wraps the whole transaction processing. This could eventually replace a lot of BaseApp logic.

[2021-04-30 01:56] dreamer-zq opened #9234 "CONSENSUS FAILURE caused by prune stores"
8:02PM ERR Stopping peer for error err=EOF module=p2p peer={"Data":{},"Logger":{}}

8:02PM ERR Stopping peer for error err=EOF module=p2p peer={"Data":{},"Logger":{}}

8:03PM ERR Stopping peer for error err=EOF module=p2p peer={"Data":{},"Logger":{}}

8:04PM ERR Stopping peer for error err=EOF module=p2p peer={"Data":{},"Logger":{}}

8:04PM ERR Stopping peer for error err=EOF module=p2p peer={"Dat

[2021-04-30 07:06] ethanfrey commented on #4937
You could take a page from weave's book and just append that there. Basically, a list of all accounts that have authorized the transaction.

Reflecting more on the recent ibc conversations that motivated re opening, just exposing fee payer (the actual payer if using fee grants) may be enough. And should be simpler to reason about.

[2021-04-30 09:45] #4965 closed

[2021-04-30 11:00] #8864 closed

[2021-04-30 11:00] #9063 closed

[2021-04-30 11:00] #9172 closed

[2021-04-30 12:28] alexanderbez commented on #9234
`unable to delete version 9978100 with 1 active readers` seems suspect to me...Why was there an active reader? Did you have any other external process trying to read from the database? What application is this?

[2021-04-30 13:50] aaronc opened #9237 "Add Table-Store (aka ORM) package"
As specified in #9156, needed by #7633.

[2021-04-30 13:54] aaronc opened #9238 "Add ADR 033 Router"
Based on the latest discussions we had, ADR 033 (#7459) had been approved. It is used by the group module which we are adding (#7633). This issue is to track adding it to the SDK based on the initial work in https://github.com/regen-network/regen-ledger/tree/master/types/module updated based on discussions #9171 and #9182.

[2021-04-30 13:55] aaronc commented on #7489
I propose we drop all support for amino shortly after 0.43 is cut. Let's discuss on the next architecture call.

[2021-04-30 13:58] aaronc commented on #7488
@marbar3778 the idea is that we implement code generators compatible with the golang proto v2 spec. Especially for service code generators, the protobuf spec actually recommends custom code generators. I'm also not sure that's what happened to gogo proto - they tried to do a bunch of stuff that diverged pretty heavily from upstream.

Regarding golang proto v2 in general, I don't see a way around a

[2021-04-30 14:01] aaronc opened #9239 "Change sdk.Msg.GetSigners() return type to []string"
`sdk.Msg.GetSigners()` currently returns `[]sdk.AccAddress` which depends on global bech32 prefixes. Changing the return type to `[]string` was already mentioned in #9011. This seems like low-hanging fruit and a pathway to #7448 (removing global bech32 prefixes).

[2021-04-30 14:06] alexanderbez commented on #6513
Can we not just enforce all timestamps to be unix nano reprsentations, i.e. int64?

[2021-04-30 14:26] clevinson opened #9241 "Document x/*/types subpackage refactoring from x/authz & x/feegrant"
@aaronc to update with more details.

[2021-04-30 14:37] clevinson commented on #9106
After discussing on the SDK Sprint Planning call today, the desired behavior we're wanting here is to have:
- server will error if there's an empty value for min-gas-price
- we will document how an app developer can set a default (to avoid all nodes from erroring if they leave it empty)

[2021-04-30 14:37] amaurym commented on #9218
If useful for anyone, to check what code has been modified in v043 in a subfolder, this command works: `git diff 7fd3d00459bb5d69d64c6648f1ed7eb6a47e7c85 master x/genutil`

[2021-04-30 14:42] clevinson commented on #8270
We'll be discussing this on the Architecture Call next Friday, and hope to unblock this after that.

[2021-04-30 14:42] clevinson commented on #8270
We'll be discussing this on the Architecture Call next Friday, and hope to unblock this after that.

[2021-04-30 14:43] clevinson commented on #7563
@marbar3778 can we discuss this next friday in our architecture call to align on if there's any tendermint blockers here?

[2021-04-30 14:56] clevinson commented on #6193
We're putting this in the `Status: Ready` call and the next step would be from someone from our team to review this.

[2021-04-30 14:59] clevinson commented on #7448
Blocked on #9293

[2021-04-30 15:04] aaronc commented on #9238
This is blocked on coming to a decision about #9182 which we'll discuss in the next architecture review.

[2021-04-30 15:15] aaronc commented on #6513
The downside of this is that they aren't really human readable. In my personal experience this is pretty stressful when I'm reviewing genesis.json files. And if I'm signing a transaction on a Ledger I would much rather see something in RFC3339 than just an int64.

How about this as an alternative to a custom protobuf JSON serializer: when we are canonicalizing the JSON, whenever there is a string

[2021-04-30 16:39] robert-zaremba commented on #4937
In fact, that could be a desired feature - it will allow to make Atomic operations and inspect that `message1` can only be validated when `message2=MsgSend(....)`, and `message3=MsgDelegate(...)` is included in transaction as well. It will enable a more advanced composability. I can start a discussion topic about this.

[2021-04-30 16:54] #9159 closed

[2021-04-30 16:58] robert-zaremba commented on #4937
Group Msg Patter: expose tx messages introspection #9244

[2021-04-30 18:54] aaronc commented on #6513
Well it was worth a try at least lol 🤷 !

If we do prohibit `Duration` and `Timestamp` how do we actually do that? Just by documentation like how we tell people not to use maps? Ideally there should be some static analysis that prevents this as @ebuchman hinted at early on.

Also, if we are avoiding  `Duration` and `Timestamp`, my preference is actually to use ISO-8601 `string`s as opposed to cryp

[2021-04-30 18:57] aaronc commented on #4937
Can you share more about these discussions and the current use cases @ethanfrey ?

[2021-05-02 22:53] #9233 closed

[2021-05-03 11:53] cuonglm opened #9249 "x/types: Dec operations can do less allocation"
## Summary

`chopPrecisionAndTruncate` and `chopPrecisionAndTruncateNonMutative` can be merged to one function that always does non-mutative.

## Problem Definition

Currently, `chopPrecisionAndTruncate` and `chopPrecisionAndTruncateNonMutative`
are doing the same thing, except that the former is mutative, the later is not.

Looking at the usages of `chopPrecisionAndTruncate`, the callers must
all

[2021-05-03 11:53] cuonglm commented on #9249
cc @odeke-em

[2021-05-03 14:35] iramiller commented on #4937
_Adding a comment in support to help me track this issue..._

Provenance does quite a bit of multi-party work with our hybrid on/off chain "client execution environment".  We have been building with multiple signers per message however the idea of aggregating the different messages to accrue the list of signers could open up some interesting use cases.

[2021-05-03 14:36] blushi commented on #9218
I guess it might be relevant to have a look at the relevant `proto` subfolders as well.

[2021-05-03 14:51] ethanfrey commented on #4937
You should check with IG for the current state, but there is desire to actually optionally pay relayers. This would minimally require that the `ibctransfer` module be aware of who paid the fees (I figured signer, but honestly fee payer is probably more correct). I believe @charleenfei is checking for a legal opinion and will own any changes there.

[2021-05-03 15:28] aaronc commented on #4937
My general preference that `AnteHandler`s (which I believe should actually be full on middleware) is the place where the full `Tx` should be available, and that `Msg` handlers should just process `Msg`s with minimal information about where they came from. This is because a `Tx` is not the only source for `Msg`s. They can come from CosmWasm, `x/authz`, `x/group` and eventually `x/gov`, someone coul

[2021-05-03 16:33] technicallyty commented on #9218
Found this to be helpful:
1. Checkout master branch
2. Make branch from commit: `git branch  <branch name> <commit id>`
3. use vscode/goland to diff against master (easier to read than git diff in terminal)

[2021-05-03 16:51] supertry55 commented on #7766
#7766

[2021-05-03 18:42] greg-szabo opened #9321 "gaiad add-genesis-account missing --keyring-dir parameter"
...making use of the `--keyring-backend test` parameter impossible.

[code]

You can see that `--keyring-backend` is available but `--keyring-dir` is not.

[2021-05-03 21:23] robert-zaremba commented on #9218
Emacs also supports diff buffers :)

[2021-05-03 23:32] #9249 closed

[2021-05-04 04:27] cuonglm commented on #9215
Fixed after https://github.com/cosmos/cosmos-sdk/pull/9216

[2021-05-04 04:27] #9215 closed

[2021-05-04 07:57] robert-zaremba opened #9257 "Update authz spec code snippets"
## Summary

`/x/authz` has been refactored and we need to update code snippets after  #9042 will get merged.
____

#### For Admin Use

- [ ] Not duplicate issue
- [ ] Appropriate labels applied
- [ ] Appropriate contributors tagged
- [ ] Contributor assigned/self-assigned

[2021-05-04 10:35] aleem1314 commented on #8777
Not able to reproduce this issue on `master`.
[Here](https://github.com/cosmos/cosmos-sdk/commit/89061b6182529e4ac268414a648897204a600adf) I've added a test to reproduce this issue.

[2021-05-04 11:43] charleenfei commented on #4937
thanks @ethanfrey for the pointer here. Yes, I am speaking to two different law firms to get a solid legal opinion about the design space for relayer incentives payments. I will share these analyses as they come in. As @ethanfrey pointed out, exposing the tx signers information to the context is one way to allow for dynamic payments for relayers.

I would need to dig more deeply into the code to u

[2021-05-04 12:18] robert-zaremba commented on #9241
For the context: this is in line with the new module architecture we were presenting 5-6 months ago.

[2021-05-04 14:31] cuonglm opened #9259 "x/bank/types: SanitizeGenesisBalances can use less memory"
## Summary

`SanitizeGenesisBalances` can use less memory, and more maintainable code.

## Problem Definition

While reviewing benchmark for `SanitizeGenesisBalances`, there's opportunity that we can reduce more memory usage of it. Though the function is carefully documented with its approach to keep it cheap and fast, it's still complicated code than necessary, and use some trick that can make th

[2021-05-04 15:04] amaurym commented on #9122
Fixed by #9134

[2021-05-04 15:13] aaronc commented on #9122
I don't actually think just changing this in the CLI is sufficient. It's likely a bigger issue in user interfaces and I think we need to make this more clear to UI designers. Adding the Docs label. What I would propose is:
* comments in `TxBody` that the `memo` field should not be called `memo` in UIs
* maybe some comments in other parts of docs.cosmos.network warning about this

[2021-05-04 17:28] alessio commented on #4937
Yes, please press ahead :pray:

[2021-05-05 09:04] amaurym commented on #7421
Can we move this to `Status: Proposal Accepted`? Or do we still want to discuss it on our next arch call?

BTW, most (if not all) pieces needed for making this happen (simplify AppModule/app wiring, bank/auth refactor, go modules, codegen...) already have a least some discussion started. Maybe this issue could be a CodeTree epic to track all related sub-issues?

[2021-05-05 11:18] cuonglm opened #9263 "x/staking: speed up validateGenesisStateValidators"
## Summary

`validateGenesisStateValidators` can do less work in normal flow logic.

## Problem Definition

Doing benchmark profiling on `validateGenesisStateValidators`, one thing show up in pprof:

[code]

Notice `consAddr, err := val.GetConsAddr()` take near half of the running time, though `consAddr` is only used for error reporting.

## Proposal

Only get `consAddr` when error occurred, so th

[2021-05-05 13:46] #9220 closed

[2021-05-05 14:36] #9259 closed

[2021-05-05 15:12] #8777 closed

[2021-05-05 15:21] clevinson commented on #8793
Closing as we already have an issue tracking this in #8651

[2021-05-05 15:21] #8793 closed

[2021-05-05 16:23] clevinson opened #9268 "Update QA Checklists for Pull Requests"
Today in Regen's dev call we discussed that we should update the author checklists for PRs, and additionally add a new set of checklists for reviewers.

[2021-05-05 16:58] cyberbono3 opened #9269 "Remove x/genaccounts module from cosmos/sdk"
## Summary

it looks like, /x/genaccounts module is deprecated. I would like to start discussion about its removal from cosmos-sdk.
ref:  #9218

## Problem Definition

## Proposal

____

#### For Admin Use

- [ ] Not duplicate issue
- [ ] Appropriate labels applied
- [ ] Appropriate contributors tagged
- [ ] Contributor assigned/self-assigned

[2021-05-05 18:28] #9263 closed

[2021-05-06 01:17] dreamer-zq commented on #9234
This node provides api services for external system queries. There may be external access when data is being cut, so apart from mistakes, I think if the api should return directly to failure or let him wait for a timeout when performing data reduction, it cannot affect The normal operation of the node

[2021-05-06 08:47] #9122 closed

[2021-05-06 10:13] cuonglm opened #9274 "store/cachekv: reduce allocation"
## Summary

Use `internal/conv` in all places.

## Problem Definition

`store/cachekv` has already used `internal/conv` to reduce allocation, but not in all place. e.g:

https://github.com/cosmos/cosmos-sdk/blob/2eeb464939cc784ac40f501107e35b3b5513eb7e/store/cachekv/store.go#L240

https://github.com/cosmos/cosmos-sdk/blob/2eeb464939cc784ac40f501107e35b3b5513eb7e/store/cachekv/store.go#L62

## Prop

[2021-05-06 12:47] alexanderbez commented on #9234
You cannot let there be other readers of the database. I'm pretty sure we prevented this from even happening.

[2021-05-06 13:33] #9274 closed

[2021-05-06 15:16] robert-zaremba commented on #9232
Let's update the scope of this task:
* we need antehandler documentation and frame it as a set of middlewares to check transactions within a current context.

[2021-05-06 15:31] robert-zaremba opened #9276 "SDK auxiliary store architecture"
Drafting an architecture (discussion) for next level store design encompassing modules as well as indexer.
Related to: ADR-38, ADR-40 ...

[2021-05-07 04:20] sunnya97 commented on #8516
@robert-zaremba was this closed by #9088?

[2021-05-07 07:10] #9115 closed

[2021-05-07 08:32] robert-zaremba commented on #8516
Yes, thanks @sunnya97 for checking.
Closed by #9088

[2021-05-07 08:32] #8516 closed

[2021-05-07 10:31] robert-zaremba opened #9282 "Call mockgen with dependency manager / go modules"
Mockgen bin is not resolved through the dependency manger, hence we can use different version in different system and cause conflicts (which happened recently).

### Goal

Use dependency manager for all stuff related to mockgen binary

[2021-05-07 10:33] alessio commented on #8772
This cannot be reproduced anymore.

[2021-05-07 10:33] #8772 closed

[2021-05-07 10:55] chengwenxi commented on #9234
@alexanderbez It may be caused by there is another reader for snapshotting if the `snapshot-interval` is not a multiple of `pruning-keep-every`, I found that there is no check for this.

[2021-05-07 15:50] alexanderbez commented on #9234
@chengwenxi yes, you are correct. I took a look and I cannot find anywhere where we explicitly check that `snapshot-interval` is a multiple of `pruning-keep-every`. However, we clearly document this requirement in the configuration template/docs.

It might be good to enforce this invariant somewhere, but that somewhere is not clear. We could do it in BaseApp, we could do it in the server command l

[2021-05-07 21:54] robert-zaremba opened #9283 "Update module-interfaces.md docs"
## Summary

The [building module-interfaces.md](docs/building-modules/module-interfaces.md) is outdated and needs revision.

____

#### For Admin Use

- [ ] Not duplicate issue
- [ ] Appropriate labels applied
- [ ] Appropriate contributors tagged
- [ ] Contributor assigned/self-assigned

[2021-05-08 12:08] chengwenxi commented on #9234
@alexanderbez It's my fault, there is a check for it in [
baseapp#L308](https://github.com/cosmos/cosmos-sdk/blob/master/baseapp/baseapp.go#L308):

[code]

But it does not consider this case `pruningOpts.KeepEvery == 0`.

[2021-05-09 11:43] investormsk opened #9287 "panic: division by zero"
8

[2021-05-09 11:46] investormsk commented on #9287
`dministrator@VivoBook-ASUSLaptop-X521IA-M533IA:~/web/test/artr/cmd/artrd$ go run *.go start —log_level debug
I[2021-05-09|12:46:10.457] starting ABCI with Tendermint module=main
I[2021-05-09|12:46:13.130] Starting multiAppConn service module=proxy impl=multiAppConn
I[2021-05-09|12:46:13.130] Starting localClient service module=abci-client connection=query impl=localClient
I[2021-05-09|12:46:13.13

[2021-05-10 09:33] marbar3778 commented on #9269
YES, please.

[2021-05-10 09:44] marbar3778 commented on #9276
ah okay, makes sense. This is unfortunate as it creates a lot of noise.

[2021-05-10 10:41] amaurym commented on #9269
I'll do this in one go with https://github.com/cosmos/cosmos-sdk/issues/8678

[2021-05-10 12:36] alexanderbez commented on #9234
Ahh I didn't bother to check `BaseApp#init` -- IMHO having it there is not that intuitive.

Do we need to add a case for `pruningOpts.KeepEvery == 0` and `app.snapshotInterval > 0`?

[2021-05-10 20:54] ryanchrypto commented on #9218
The `codec` package is missing descriptions for some of the functions in the following files:

- `types/compat.go`
- `types/interface_registry.go`
- `amino.go`

There is some room for improvement on the content and formatting of comments but nothing critical. It might be nice to do a larger audit of content and formatting throughout the project to improve consistency and readability for generated

[2021-05-10 20:59] skosito opened #9293 "Scripts protoc-swagger-gen and protocgen not working"
## Summary of Bug

I would like to generate swagger, but ran into 2 issues:
- since we need to generate using cosmos sdk scripts, we can use protoc-swagger-gen script, but running this gives following errors:
google/api/annotations.proto: File not found.
cosmos/base/query/v1beta1/pagination.proto: File not found.
blog/query.proto:4:1: Import "google/api/annotations.proto" was not found or had erro

[2021-05-10 21:26] marbar3778 commented on #9293
This is a starport related issue, @fadeev can you help here

[2021-05-10 23:34] ryanchrypto commented on #9268
I spent some time reviewing the contributing docs today and looking through past pull requests. It would be nice to further discuss the current pain points and the desired outcome on our next call.

As a general observation, I like how we are currently linking some of the items to `CONTRIBUTING.md`. It might be nice to build on this, linking each item to more information in `CONTRIBUTING.md` while

[2021-05-11 01:45] chengwenxi commented on #9234
Yes, this is required, but I’m not sure.

If the application data is too large, the snapshot time will be too long(more than 30s), this issue should be reproducible. Do you know some snapshot nodes of `cosmoshub-4`? I plan to run a full node and reproduce it.

[2021-05-11 09:28] amaurym commented on #9189
Yes! This task might go hand-in-hand with updating the CONTRIBUTING guide, especially its ["Release Procedure"](https://github.com/cosmos/cosmos-sdk/blob/master/CONTRIBUTING.md#point-release-procedure) subsection, as there's some overlap in the 2 docs.

[2021-05-11 09:28] skosito commented on #9293
@fadeev Thanks, looking forward to it!

[2021-05-11 09:28] #9293 closed

[2021-05-11 12:53] alexanderbez commented on #9234
There are many snapshotting nodes but it's not easy to find out where they are.

[2021-05-11 13:25] noandrea opened #9300 "Embed Coinbase Rosetta within the Cosmos SDK"
## Summary

Embed Coinbase Rosetta within the Cosmos SDK

## Problem Definition

Currently the Rosetta integration is provided via a the [tendermint rosetta library](https://github.com/tendermint/cosmos-rosetta-gateway), a library that is designed and implemented for the Cosmos SDK.
Making the library part of the Cosmos SDK codebase will simplify maintenance for the Rosetta support

## Proposal

M

[2021-05-11 20:50] ryanchrypto commented on #9224
cc @vae520283995

The `txHash` is the SHA-256 hash of a wire encoded transaction. If you already have the signed transaction and the transaction is already encoded as `[]byte`, all you need to do is apply the SHA-256 hash function.

The following code is from [tendermint/tendermint/types/tx.go](https://github.com/tendermint/tendermint/blob/master/types/tx.go):
[code]

The following code is from [t

[2021-05-11 22:51] michaelfig opened #9304 "Invalid gentx causes hard-to-diagnose errors"
## Summary of Bug

When launching a testnet chain with collected gentxs, I found that some of them had invalid parameters.  However `validate-genesis` did not detect these errors.  They were only detected when launching a node based on the incorrect genesis.json.

It was also very inconvenient to narrow-down on the specific transactions that failed; none of their metadata was present in the node's

[2021-05-11 22:54] michaelfig commented on #9304
@dckc, @dtribble, @rowgraus this is an issue we ran into that delayed our genesis.json verification and creation.

[2021-05-11 23:16] aaronc commented on #9304
Hmmm looks like there isn't a call to `sdk.Msg.ValidateBasic` in x/genutil/types/genesis_state.go `ValidateGenesis`.

[2021-05-12 09:10] #9232 closed

[2021-05-12 12:10] aleem1314 commented on #8572
I think this a `gaia` issue.

[2021-05-12 13:47] alexanderbez commented on #9304
This is my thought as well. We should call `ValidateBasic` but that can only go so far.

[2021-05-12 15:19] #8572 closed

[2021-05-12 15:47] #9208 closed

[2021-05-12 16:44] #9276 closed

[2021-05-12 16:49] aaronc commented on #9239
In the last architecture call we agreed to do this.

One note is that we want to make sure we are validating signers in CLI calls where we now call `ValidateBasic` to do that. I propose a `ValidateMsg` function to use in those places:

[code]

[2021-05-12 16:57] michaelfig commented on #9304
Then would my other suggestion be useful?

It is such a pain when in a rush to produce a genesis to have

BOTH `validate-genesis` pass (which I can understand it doesn't have enough information to catch everything)

AND running `github.com/cosmos/cosmos-sdk/x/genutil.DeliverGenTxs` causes a panic.

Can we address the second part?  Why does `DeliverGenTxs` have to cause a panic and not just log an

[2021-05-12 17:04] aaronc commented on #6513
In the last architecture call, we agreed that custom deterministic proto JSON serializer is essentially inevitable. It's fine if it works off of reflection.

Just as a note we do have a custom reflection based protobuf deserializer for rejecting unknown fields and it isn't horribly complex. Also, clients could use an RPC endpoint if they don't have deterministic JSON as a stop gap measure. This sh

[2021-05-12 17:27] aaronc opened #9320 "Implement SIGN_MODE_DIRECT_JSON"
Implementation details based on design agreed upon in #6513.

- [x] finish `SignDocTextual` PR #8476
- [ ] create deterministic proto JSON serializer (based on https://github.com/regen-network/canonical-proto3/blob/master/README.md#json). This can either be:
  - https://pkg.go.dev/github.com/gibson042/canonicaljson-go plus a secondary proto-reflection based serializer that corrects `Timestamp`s an

[2021-05-12 17:39] vae520283995 commented on #9224
@ryanchrypto Thank you i get it

[2021-05-12 17:39] #9224 closed

[2021-05-13 01:03] YunSuk-Yeo opened #9323 "Shouldn't authz module need time queue to delete expired Grants?"
## Problem Statement
Once created, the grant is not automatically deleted. The only way to remove a grant is for the user to explicitly execute a revoke message.

There is an attempt  to delete a expired Grant, but if `GetCleanAuthorization` returns nil when the Grant has been expired.

https://github.com/cosmos/cosmos-sdk/blob/f2cea6a137ce19ad8987fa8a0cb99f4b37c4484d/x/authz/keeper/keeper.go#L181

[2021-05-13 01:11] aaronc commented on #9323
Yes, you're right, they should be pruned. We just haven't added that yet. It will require creating a secondary index and an `EndBlocker`. This is already tracked in #8311, so closing this as a duplicate.

[2021-05-13 01:11] #9323 closed

[2021-05-13 01:46] chengwenxi opened #9324 "Consensus fails when using statesync mode to synchronize the application state"
## Summary of Bug

Consensus fails when using statesync mode to synchronize the application state and then execute the ibc-transfer transaction.

## Description

When the cosmos-sdk-based chain is started, the capability/keeper/keeper.go#L177:InitializeCapability(...) method will be called to initialize the memStore from the application store. However, if the node is started using statesync mode,

[2021-05-13 01:48] chengwenxi commented on #9324
@alessio @alexanderbez @tessr  I posted it here, so we can discuss it more.

[2021-05-13 02:57] YunSuk-Yeo commented on #9323
Thanks for clarification

[2021-05-13 02:59] YunSuk-Yeo commented on #8311
@aaronc The auth module has been added as sdk module, so this will be done before v0.43.0 release?

[2021-05-13 10:03] marbar3778 commented on #8270
should the generator be moved into its own repo in order to keep any and all generators together?

[2021-05-13 12:25] alexanderbez commented on #9324
Thank you @chengwenxi! I appreciate the detailed writeup. We definitely need to investigate this. However, my initial suspicious is why have we not experienced or seen this reported on the mainnet hub? I know for sure there are state-sync nodes that take snapshots post IBC-enablement.

@marbar3778 can you confirm? I suppose we could easily spin up a node to verify this. Do we know of any state syn

[2021-05-13 13:51] #8818 closed

[2021-05-13 15:05] aaronc commented on #8311
@YunSuk-Yeo actually the latest status of this conversation is that this should be done more generally with storage deposits/bonds (see #8929). As a result we have not prioritized just deleting expired grants because it only covers a subset of pruning, and instead are planning to do a more general solution in the next release. That general solution though could be a hybrid between storage deposits

[2021-05-13 15:06] aaronc commented on #8270
What would the benefit of that be? This is _only_ intend for users of the SDK and is not general purpose so my preference is to keep it in the SDK. If we produce a more generic protobuf v2 code generator that does fast marshaling that would make sense in a separate repo.

[2021-05-13 16:31] marbar3778 commented on #8270
we could move the current code generator from regen repo to the cosmos org as well, to have it all under one roof

[2021-05-13 18:15] harmangakhal opened #9326 "Duplicate Messages"
## Summary

[These](https://github.com/cosmos/cosmos-sdk/blob/89970740287b7b2115b0bb1a69ea426d90a4d05e/proto/cosmos/base/tendermint/v1beta1/query.proto#L24-L31) two endpoints return different responses, but [`GetBlockByHeightResponse`](https://github.com/cosmos/cosmos-sdk/blob/89970740287b7b2115b0bb1a69ea426d90a4d05e/proto/cosmos/base/tendermint/v1beta1/query.proto#L86) and [`GetLatestBlockRespons

[2021-05-13 18:16] marbar3778 commented on #9324
I was able to state sync prior to IBC was enabled, but this smells like an issue where state sync only syncs state in IAVL, I'm guessing capability is not in there.

[2021-05-13 18:27] alexanderbez commented on #9324
Yes, caps are in-memory only. They're not part of state-sync on purpose.

[2021-05-13 19:18] aaronc commented on #8270
What's the benefit of that though?

[2021-05-13 19:20] clevinson opened #9327 "NFT Module"

[2021-05-13 19:21] #9327 closed

[2021-05-13 22:37] ryanchrypto commented on #9326
cc @harmangakhal Great observation!

Although both response messages share the same message fields and they could be consolidated into one response message, its considered best practice to use consistent naming conventions, i.e. to have a request message and a response message that  share the same name such as `GetBlockByHeightRequest` and `GetBlockByHeightResponse`.

See [ADR 023: Protocol Buffer

[2021-05-13 22:38] #9326 closed

[2021-05-14 01:58] chengwenxi commented on #9324
Yes, in this case, this problem is not reproduced in the mainnet hub because of the caps is added on `channelOpen`.

[2021-05-14 04:26] YunSuk-Yeo commented on #8311
@aaronc so next release means v0.43.0?

Anyway there are some issues in the authz simulation.

Should use `IsAllGTE`
 https://github.com/cosmos/cosmos-sdk/blob/eb7d939f86c6cd7b4218492364cdda3f649f06b5/x/authz/simulation/operations.go#L258

Also in implementation aspect, this should be fixed

There is an attempt  to delete a expired Grant, but if `GetCleanAuthorization` returns nil when the Grant h

[2021-05-14 06:33] marbar3778 commented on #8270
Not bloating a single repo with many things. It's just a thought to avoid bloating an already bloated repo.

[2021-05-14 08:46] xlab commented on #9122
Ah, they are wrong. They should put good memes there! 🙈

On a serious side, this fix should've about documentation and

description improvement.

Now there is a lot of scripts and manuals will be outdated for no reason. Also some protocols like Secret Network uses memo as part of their business logic. Note or Comment looks like it is not interpreted by app logic, but a comment that sender leaves f

[2021-05-14 08:48] xlab commented on #9122
I just wanted to be compatible with 0.43's Rosetta API and keys, not renaming memes all over the docs.

[2021-05-14 11:05] alexanderbez commented on #9324
/cc @colin-axner @AdityaSripal @cwgoes for visibility.

[2021-05-14 11:23] colin-axner commented on #9324
This is the [issue](https://github.com/cosmos/cosmos-sdk/blob/eb7d939f86c6cd7b4218492364cdda3f649f06b5/simapp/app.go#L405) right? Does NewApp get called for state sync?

[2021-05-14 12:08] robert-zaremba opened #9332 "IBC CreateTMClientHeader doesn't handle `tmValSet == nil`"
## Summary of Bug

In `x/ibc`, in `CreateTMClientHeader` function, the `tmValSet` can be nil, but it's used in few places in that function - which would panic if it's nil.

Should we check at the beginning if tmValSet == nil { panic(...)}?
Ref: See the [this line](https://github.com/cosmos/cosmos-sdk/blob/am%2Fbp-8953/x/ibc/testing/chain.go#L584)  and the whole function.

## Version

0.42.0 - 0.42

[2021-05-14 12:17] robert-zaremba commented on #9332
False warning - we do `nil` check using `require`

[2021-05-14 12:17] #9332 closed

[2021-05-14 12:57] marbar3778 commented on #9300
Who will be the codeowners of this code? It should be its own go.mod with assigned owners

[2021-05-14 13:12] aaronc commented on #8311
No a generalized pruning solution will be in the next release - v0.44. 0.43 is the current release.

Thanks for identifying those issues @amaurym @robert-zaremba can you triage?

[2021-05-14 13:15] aaronc commented on #8270
I've just never experienced splitting core functionality out into other repos as improving maintainability (ex. iavl, tm-db). I do think we should have a generic fast marshaling proto v2 implementation in a separate repo but that's another matter.

[2021-05-14 14:25] robert-zaremba commented on #9128
Shall we close this sprint?

[2021-05-14 14:30] robert-zaremba commented on #9116
@aaronc  - I've reformatted the Description: added headers, and added a section about 0.43-beta test nets.

[2021-05-14 14:44] clevinson opened #9336 "x/auth, x/bank and vesting Re-design"
This is to initiate the design process and establish a working group for coming to a concrete architectural proposal.

Ref: #8528 #7091 #7615

[2021-05-14 14:58] clevinson commented on #6370
Solution to this is being discussed as part of the larger ARD-040 work in #9331

[2021-05-14 15:02] aaronc commented on #7488
Small update: we are spinning out a small working group to align on a specification for a golang v2 code generator with the tendermint team.

[2021-05-14 15:04] #9032 closed

[2021-05-14 15:05] #9128 closed

[2021-05-14 17:57] robert-zaremba commented on #8920
can we close this?

[2021-05-14 17:58] robert-zaremba commented on #8920
We already have a reviewed checklist for 0.43, so I think we check the boxes here.

[2021-05-14 17:59] #8920 closed

[2021-05-14 22:19] #9300 closed

[2021-05-15 20:45] faddat opened #9343 "ARM Support is broken"
## Summary of Bug

https://github.com/cosmos/gaia/issues/803

## Steps to Reproduce

Compile gaia on arm, run it.  It will crash.

____

## For Admin Use

- [ ] Not duplicate issue
- [ ] Appropriate labels applied
- [ ] Appropriate contributors tagged
- [ ] Contributor assigned/self-assigned

[2021-05-15 23:44] marbar3778 commented on #9343
0.43 works for me. Maybe we have to backport some dependency updates.

[2021-05-16 08:11] faddat commented on #9343
I'm going to look at the diff now

[2021-05-16 17:26] #9189 closed

[2021-05-17 03:04] chengwenxi commented on #9324
Yes, NewApp is called. But if using state sync, the App generated by genesis that does not contain the capabilities.

[2021-05-17 08:49] atheeshp commented on #5450
Sorry, accidentally closed this

[2021-05-17 10:25] amaurym commented on #9122
@xlab I'm not 100% sure what you are proposing. Would you like to have better docs on this? Or to revert `--memo` altogether?

[2021-05-17 15:10] amaurym commented on #9343
@faddat Cool, thanks, if everything looks good feel free to close this issue.

[2021-05-17 15:30] blushi opened #9346 "Move and change arguments of simapp FundAccount and FundModuleAccount"
ref: https://github.com/cosmos/cosmos-sdk/pull/8473#pullrequestreview-589519082

- [x] We could potentially move `FundAccount` and `FundModuleAccount` functions to `testutil` instead TBD (https://github.com/cosmos/cosmos-sdk/pull/9315#discussion_r633285879)
- [x] change FundAccount arguments - the function doesn't need to depend on the App. It only needs BankKeeper as an argument. https://github.c

[2021-05-17 16:05] robert-zaremba commented on #9346
I have added a checklist to this issue.

[2021-05-17 16:06] amaurym commented on #9218
All items are checked, I'm closing this. Thanks everyone 🚀

Follow-up is tracked here: https://github.com/cosmos/cosmos-sdk/issues/9346.

[2021-05-17 16:06] #9218 closed

[2021-05-17 16:34] blushi commented on #9346
@robert-zaremba The second item of the checklist already got addressed as part of #9315

[2021-05-17 16:43] anilCSE commented on #9304
May be we can improve the panic message and include gentx metadata as an easy fix.

[2021-05-17 17:09] albertchon commented on #7563
I've been doing some benchmarking with emitting very large typed events and have found that the [`TypedEventToEvent`](https://github.com/cosmos/cosmos-sdk/blob/9d0504808a68f9c0f34b2367cbe9aa68852ebbe9/types/events.go#L77) takes a significant amount of time to run due to high amount of allocations in the `ProtoMarshalJSON` call.

Can a more efficient solution for typed events be worked on?

[2021-05-17 21:01] xlab commented on #9122
@amaurym I'm not proposing to revert, since that will be just a bikeshed war. Just being grumpy about the fact that this was a change of the name instead of documentation improvement.

[2021-05-18 03:27] zmanian commented on #9304
yeah this has been a long standing issue. During the Cosmos Hub launch, Chorus One wrote a github got to validate the gentxs. I don't think they open sourced it.

[2021-05-18 07:43] #9343 closed

[2021-05-18 10:11] colin-axner opened #9372 "Inconsistent setting of genesis supply"
## Summary of Bug

The testnet command creates a [staking token and a token corresponding to the directory name](https://github.com/cosmos/gaia/blob/main/cmd/gaiad/cmd/testnet.go#L198-#L206), but it doesn't update the genesis total supply. Previous versions of the SDK didn't do total supply validation of the value in the genesis file. Since the newer versions do, using this command doesn't functio

[2021-05-18 20:12] robert-zaremba opened #9352 "Update module spec towards service oriented architecture"
## Summary

In past year we checked few approach for designing modules and transaction messages. ADR-31 introduced Protobuf Service oriented architecture. Recently we simplified service request messages and types and update the documentation.
Our module specs are still oriented towards _messages_ rather then services. Core modules act as a template and a guideline for all other modules. Hence we s

[2021-05-18 23:47] crussell-figure opened #9356 "/cosmos/staking/v1beta1/delegations/{delegator_addr} returns an error if no records are found"
## Summary of Bug

`/cosmos/staking/v1beta1/delegations/{delegator_addr}` returns an error if no records are found. Every other staking grpc returns an empty list, with a 200. This should be consistent

## Version

v0.42.4

## Steps to Reproduce

Pass a account address into that grpc/api and itll return `io.grpc.StatusRuntimeException: NOT_FOUND: rpc error: code = NotFound desc = unable to find de

[2021-05-19 08:48] robert-zaremba opened #9361 "Change Coin storage model"
## Summary

The `sdk.Coin` has the following type definition:

[code]

Bank module stores account balances in KV store using following schema:
[code]

## Problem Definition

The `denom` is repeated both in the key and value and wastes the valuable blockchain space.

## Proposal

We can save a blockchain space if we only save the amount in value:
[code]

____

#### For Admin Use

- [x] Not duplicat

[2021-05-19 08:56] anilCSE commented on #9304
We are using a GitHub action recently to validate gentxs on PR submission. Here's the CI job we used for regen mainnet gentx validation recently: https://github.com/regen-network/mainnet/blob/main/.github/workflows/validate-gentx.yml

May be we can provide a simple shell script on the SDK to validate all the gentxs from a dir.

[2021-05-19 09:29] robert-zaremba opened #9362 "Remove store type aliases in /types"
## Summary

In `/types/store.go` we create type aliases from types in `/store/types`, eg:
[code]

## Problem Definition

Type aliases are made for refactoring or transition. Moreover, `/store/types` is _our_ package, in the same repository - so there is no need to hide the principal types.

## Proposal

User principal type definitions and remove aliases.

____

#### For Admin Use

- [x] Not duplic

[2021-05-19 10:14] #9287 closed

[2021-05-19 12:16] alexanderbez commented on #9361
I think the proposal is fine 👍

[2021-05-19 12:20] #5450 closed

[2021-05-19 14:55] aaronc commented on #9361
That makes sense, but why do we even need to proto.Marshal a string? Why don't we just do `store.Set(key, []byte(coin.Amount))`

[2021-05-19 16:17] robert-zaremba commented on #9361
yes, we can save amount as `[]byte(coin.Amount)`

[2021-05-19 17:04] #8941 closed

[2021-05-19 17:12] okwme opened #9365 "simapp instructions broken"
## Summary of Bug

simapp instructions say to use `make build` to create a local tesnet but there is no makefile in simapp.
I used `go build simapp/main.go`

## Version

## Steps to Reproduce

____

## For Admin Use

- [ ] Not duplicate issue
- [ ] Appropriate labels applied
- [ ] Appropriate contributors tagged
- [ ] Contributor assigned/self-assigned

[2021-05-19 20:00] #9283 closed

[2021-05-19 20:22] #9257 closed

[2021-05-20 10:01] colin-axner commented on #8919
I'm in favor of this solution. I find the current solution to be inconsistent. See gaia [issue](https://github.com/cosmos/gaia/issues/856). Some of the gaiad commands will update the supply while others don't causing supply validation issues if used together. It seems to me the supply set in the genesis is unnecessary and will only lead to problems. I guess it is useful in being able to visually s

[2021-05-20 15:03] #9151 closed

[2021-05-20 19:29] #8651 closed

[2021-05-21 00:52] greg-szabo opened #9373 "testnet command with --node-dir-prefix panics"
## Summary of Bug

The testnet command panics if the `--node-dir-prefix` contains a `-` (dash). `--node-dir-prefix` should accept `-`s because it's a valid character in folder names. However the testnet command also tries to create a "`node-dir-prefix`token" as an additional test token and tokens cannot have `-` in the names.

I'm pretty sure there are other restrictions for token names so I propo

[2021-05-21 01:19] ryanchristo commented on #9365
Thank you for the reporting the issue @okwme : )

The `make build` command should be run from the root directory of the repository and the following commands should be run from within the `build` directory. We will update the instructions to be more clear.

[2021-05-21 06:11] calvinaco opened #9375 "Feature Request: Standardize Bank Module Funds Movement Events"
## Summary

Right now only part of all funds movements' methods in the bank keeper will create an event in block results. The incompleteness of events will introduce difficulties for 3rd part integrations. Some data can not be retrieved by using the block results API and the Cosmos RESTful (LCD) APIs only have the latest state. Developers doing integrations will have to fully understand the intern

[2021-05-21 06:13] calvinaco commented on #9138
Another issue of similar nature is this one
https://github.com/cosmos/cosmos-sdk/issues/9138

For services to fully understand the funds movement, it is also important for them to understand the slashed amount

[2021-05-21 06:15] calvinaco commented on #9375
Another issue of similar nature is this one
#9138 Feature Request: Include the slashed amount in slash event

For developer and integrators to fully understand the balance state changes, it is also important for them to know the slashed amount if a slash occurs. This is especially important for indexer and coin analysis service because they will need to know the actions but not just the outcomes.

[2021-05-21 07:13] michaelfig commented on #9304
Thanks for the pointer!

OMG, I was hoping there was a cleaner way to do it, but looks like there isn't.  Your script is just a refinement of the basic idea I used under pressure (try starting a chain with just one gentx at a time and see if it dies right away).

That would be useful!  I may be able to help do this, starting from your script and making it work for Agoric as well.  I don't have tim

[2021-05-21 09:24] Freak12Techno opened #9378 "Querying mint inflation using gRPC results in a panic"
## Summary of Bug

When I programmatically query for mint inflation, the program crashes.
I have 2 full nodes, Persistence `(chain-id=core-1)` and Sentinel `(chain-id=sentinel-turing-4)`, it fails on both of these with the same stacktrace. (Querying `<appd> query mint inflation` works on both of these though).

Here's the code snippet I'm using, and the result of its execution.

[code]

## Version

[2021-05-21 09:36] Freak12Techno opened #9379 ""github.com/cosmos/cosmos-sdk/types".Dec does not provide an easy way to get data as float"
## Summary of Bug

(Not sure if this should be a bug or a feature request, sorry if I've filled in the wrong template.)

I want to get the `"github.com/cosmos/cosmos-sdk/types".Dec` value as a float and for now there's no build-in functions to do so, so I have to manually convert it to float.

There's an `RoundInt64()` function that works if the number is integer, however it won't work correctly i

[2021-05-21 10:49] Freak12Techno commented on #9378
Same seems to happen when I query for `annual-inflations`

[2021-05-21 12:20] alexanderbez commented on #9375
I don't follow? What events are missing during what actions?

[2021-05-21 12:22] alexanderbez commented on #9138
ACK 👍

[2021-05-21 12:27] alexanderbez commented on #9379
I don't see why not. Should be trivial, but note the float64 value will not be deterministic.

[2021-05-21 13:17] calvinaco commented on #9375
Hi @alexanderbez! I currently have two examples, but there may be more.

### 1. `MsgDelegate`
One of the example is the `MsgDelegate` and the transfers from the delegator account to the module account (boned_tokens_pool / not_bonded_tokens_pool) event is missing.

This is a `MsgDelegate` example
https://mainnet.crypto.org:1317/cosmos/tx/v1beta1/txs/CCB45B0C6EC18A327ADFC8C36478A163D8C2A8BD9EB13687F

[2021-05-21 13:47] robert-zaremba commented on #6370
More precisely:
 * we are removing a multitree
 * There will be only one global commit for the storage which yield one atomic transaction set for the KV.
 Details: https://github.com/cosmos/cosmos-sdk/pull/9355

[2021-05-21 13:59] alexanderbez commented on #6370
ACK

[2021-05-21 15:04] aaronc commented on #7563
Based on on last architecture call, it sounds like the path forward for this may be to create a custom event system within the SDK that bypasses Tendermint. With that approach, event indexing could happen in a separate thread reducing the impact of marshaling JSON. A custom approach would also allow us to tune things to the data model we're using (i.e. dealing with quotes properly).

[2021-05-21 15:17] amaurym opened #9381 "Add StoreUpgrades inside RunMigrations for new modules"
## Summary

In in-place store migrations, when the fromVersion is `0` (new module), we run InitGenesis on that module. But the user needs to manually add StoreUpgrades beforehand to create stores for these modules.

The proposal here is to run StoreUpgrades automatically as part of the migration process.

ref: https://github.com/regen-network/regen-ledger/pull/354#discussion_r636918210

## Problem

[2021-05-21 15:28] anilCSE commented on #9381
It's not just about new modules (it's straightforward and easy comparatively), we should also consider cases about renaming a store and deleting an existing store. Renaming is kinda tricky. option-1 looks easy, option-2 can bring a better UX (if we dont complicate the `RunMigrations` definition)

[2021-05-21 15:36] robert-zaremba commented on #9352
### Plan:
+ Propose updated spec
+ make a post
+ communicate

[2021-05-21 16:31] Freak12Techno commented on #9379
@alexanderbez for my use-case the value not being precisely correct is not an issue, if some precision can be lost, that's acceptable

[2021-05-21 16:50] crussell-figure commented on #8636
This is a huge issue. We are lucky we have not run into this issue until recently, but this really needs to be addressed.

[2021-05-21 20:12] alexanderbez commented on #9379
@Freak12Techno would you like to submit a PR?

[2021-05-21 23:03] Freak12Techno commented on #9379
Can do on Sunday I think

[2021-05-21 23:34] Freak12Techno commented on #9379
actually, why waiting when it's just a few lines of code.

@alexanderbez can you review? let me know if something's wrong, never contributed to this repo before

[2021-05-22 13:24] kwunyeung commented on #9324
Just experience this on Cosmos Hub. I’m trying to state sync a new node.

[code]

Tried a few times and it panics at the same block height.

[2021-05-23 18:29] alexanderbez commented on #9324
Thanks for confirming @kwunyeung! How do we go about fixing this @colin-axner @AdityaSripal? Seems like a pretty serious bug.

[2021-05-24 02:07] chengwenxi commented on #9324
@kwunyeung Hi, kwunyeung! Could you get me some snapshot nodes? I want to reproduce the issue #9234.

[2021-05-24 04:22] kwunyeung commented on #9324
@chengwenxi you can connect to the following nodes. They both have snapshots.

`ae26f01b2bc504532a1cc15ce9da0b85ee5a98e7@139.177.178.149:26656`
`ee27245d88c632a556cf72cc7f3587380c09b469@45.79.249.253:26656`

And if you need RPCs
https://rpc.cosmoshub.forbole.com/
https://rpc.cosmoshub.bigdipper.live/

[2021-05-24 05:35] chengwenxi commented on #9324
extremely grateful ❤️ !

[2021-05-24 05:40] zmanian commented on #9324
I think we need have something that iterates every open port and creates a capability after state is synced.

Should be a non-consensus breaking fix.

[2021-05-24 05:58] aleem1314 commented on #8636
Is this related to SDK endpoints? What's the endpoint you're trying to hit? We need more info.

[2021-05-24 10:01] colin-axner commented on #9324
We will discuss this later today

This sounds like the right approach to me. I'm not sure how claiming capabilities will work. I'd also be nice to have a general solution. This does not only affect IBC, this affects any module that uses x/capability

[2021-05-24 15:07] youngjoon-lee opened #9386 "Unit of `min-self-delegation`"
## Summary of Bug

From the [create-validator guide](https://hub.cosmos.network/main/validators/validator-setup.html#create-your-validator), it seems that the unit of `min-self-delegation` is `atom` (not `uatom`).

But, the `ValidatorBasic()` was implemented as if its unit is `uatom`.
https://github.com/cosmos/cosmos-sdk/blob/45265b1ea6251e50b28a96eea954edd4abbefd3a/x/staking/types/msg.go#L139

If

[2021-05-24 15:41] alexanderbez commented on #9386
The min self delegation passed to the CLI and thus the message should be in the base unit. e.g. for the hub, it's uatom, i.e. 10^6. I think we just need to update the docs.

[2021-05-24 15:46] AdityaSripal commented on #9324
The issue is that `NewApp` gets called before state-sync fills in the persistent store data for capabilities. Thus we cannot initialize the in-memory part.

The solution I have in mind is to fill in the in-memory component as-needed whenever `GetCapability` or a similar function is called using the data that is already available in the persistent store.

[2021-05-24 22:30] youngjoon-lee commented on #9386
Cool. Thanks for your quick reply.
Yeah. The doc needs to be changed. Plus, what do you think to update the CLI as well? to get a denom as well as a number, as discussed in https://github.com/cosmos/cosmos-sdk/issues/3594.
[code]

[2021-05-24 23:07] AdityaSripal commented on #9324
I have a non-breaking fix up that will be able to fix the issue for the 0.42 line here: https://github.com/cosmos/cosmos-sdk/tree/aditya/cap-init

Here's the diff: https://github.com/cosmos/cosmos-sdk/compare/v0.42.5...aditya/cap-init?expand=1

Unfortunately the fix I proposed above can only be done efficiently if we move the reverse mapping into the persistent store. The reverse mapping is determ

[2021-05-25 01:40] alessio commented on #9324
@chengwenxi @kwunyeung can you apply @AdityaSripal's patch to the sources, rebuild and see whether this fixes the issue for Cosmos SDK v0.42 and gaia, please?
https://github.com/cosmos/cosmos-sdk/compare/v0.42.5...aditya/cap-init.patch

[2021-05-25 01:48] chengwenxi commented on #9324
It seems that `k.InitializeAndSeal(ctx)` will cause additional gas compared to the already initialized node, use a cache ctx?

[2021-05-25 03:30] ryanchristo commented on #9386
Thanks @yangyanqing for reporting the issue!

The document that you are referring to lives in the [Gaia repository](https://github.com/cosmos/gaia) if you would like to submit a fix there. I think adding denom requirements at the client level is something we would still like to do so a pull request here would be welcome as well.

[2021-05-25 04:50] KimuraYu45z opened #9387 "Can Cosmos SDK work on ARM architecture?"
## Summary of Bug

https://github.com/tendermint/tendermint/issues/6464

Can Tendermint work on ARM architecture?
I got this error on ARM (I built the program for ARM. I confirmed that I didn't run x64 binary in ARM machine.)

**Tendermint version** (use `tendermint version` or `git rev-parse --verify HEAD` if installed from source):

[code]

**ABCI app** (name for built-in, URL for self-written i

[2021-05-25 06:49] marbar3778 commented on #9387
It's been fixed with 0.42.5. Master has worked for a while now.

[2021-05-25 07:36] #9365 closed

[2021-05-25 09:19] #9282 closed

[2021-05-25 10:13] kwunyeung commented on #9324
@alessio applied the patch to `v0.42.5` and now trying to state sync a new node. It's weird that even the new node is connected to my other 2 nodes with snapshots, it can't find the snapshots during the snapshots discovering period. I'm going to run it for a day and see if it will start and won't crash.

[2021-05-25 13:55] zmanian commented on #9324
I've encountered this issue before and I think it tends to happen if the pruning settings and the snapshot settings are not aligned correctly but it's a total pain to debug.

[2021-05-25 15:15] #8906 closed

[2021-05-25 18:06] aaronc commented on #9387
Closing as already resolved

[2021-05-25 18:06] #9387 closed

[2021-05-25 22:58] AdityaSripal commented on #9324
Note the previous commit had an issue. Please try against the latest PR above.

[2021-05-25 23:56] crussell-figure opened #9393 "Add Bank.getAllHolders(denom) grpc/api"
## Summary

It would be nice to retrieve a list of holders for a particular denom.

## Problem Definition

We are currently doing this very specifically for our marker module, but it would be very helpful to have this available on a regular denom as well. Pass in a denom name, and spit out a paginated list of account holders with balances.

## Proposal

Following this example:
[code]

add somethin

[2021-05-26 08:00] worryFree56 opened #9394 "ERR failed signing vote err="error signing vote: round regression at height 32744. Got 3, last round 24"
The cause of the problem is not yet known. I don’t know whether it’s learning to understand the cosmos sdk. It’s simple or unknown. I hope your team can help solve this problem. Thank you very much

## Summary of Bug
ERR prevote step: ProposalBlock is invalid err="wrong Block.Header.AppHash.  Expected 8A90F675BFE08468C597E4F7E17128A5EC6D16D1F841AA5A98EDCD4C1B1AA506, got BA85B26965328240B16141DB023

[2021-05-26 08:05] marbar3778 commented on #9394
Hey, your application has some non determinism. The apphash divergence is caused by application state diverging between nodes.

[2021-05-26 08:09] worryFree56 commented on #9394
The contents of the priv_validator_state.json files of the three nodes are not synchronized. Is this caused? Can you tell me where to start to deal with this problem?

[2021-05-26 08:27] kwunyeung commented on #9324
@zmanian those nodes are using `default` pruning and I set `snapshot-interval` to `500`. I keep getting

[code]
or
[code]
now

[2021-05-26 09:02] #9379 closed

[2021-05-26 10:23] zmanian commented on #9324
What is the trust period on the syncing nodes set to?

[2021-05-26 10:28] marbar3778 commented on #9394
Are you running three nodes with the same private key?

This usually stems from the state machine not tendermint. What app are you running?

[2021-05-26 12:43] kwunyeung commented on #9324
@zmanian 336h

[2021-05-26 12:56] marbar3778 commented on #9324
Could you post an exerpt of your config.toml statesync section? It is either you dont have enough rpc connections or the light client issue I also ran into. (https://github.com/tendermint/tendermint/issues/6389).

Could you also change your log level to debug to see what is going on?

[2021-05-26 15:09] robert-zaremba commented on #9304
Hi @michaelfig  - could you confirm if you are working on a PR? do you need support?

[2021-05-26 15:24] antonicvladimir opened #9397 "Storing sensitive information of a node"
Hey everybody, can someone help me with app design question please?

What is the best strategy if node needs to sign transaction on it's own, without user interaction?
In development we can use test keyring, but what would be best way to do this in production, using file keyring requires password, which would need to be stored somewhere that node can access it?

Or in other words, is there a way t

[2021-05-26 16:19] marbar3778 commented on #9397
Hey, glad to help. What do you mean by node signing? Like execute a state transition without user interaction?

[2021-05-26 17:25] #8045 closed

[2021-05-26 18:39] antonicvladimir commented on #9397
Hey @marbar3778 thanks for response!
Something like this, in rest endpoint:
- parse request
- create msg from request
- create tx builder
- sign and broadcast tx in that endpoint (using tx package methods from cosmos-sdk)

For signing private key is needed, and my idea is to get keyring and get private key from it. Alice and Bob keys are stored in "test" keyring, but for real case that keyring sho

[2021-05-26 20:30] marbar3778 commented on #9397
Oh yes, I know what you mean now. @jackzampolin has some sexy code that does this. Do you have a link @jackzampolin

[2021-05-26 22:00] michaelfig commented on #9304
Thanks for asking.  I won't be able to work on this for another few weeks.

[2021-05-27 15:22] ryanchristo opened #9404 "Improve markdownlint configuration"
## Summary

#9353 added [markdownlint](https://github.com/DavidAnson/markdownlint) to the lint commands in `Makefile` with a focus on providing warnings and making fixes related to whitespace (see #8112). The configuration for markdownlint was originally copied from tendermint (see [markdownlint.yml](https://github.com/tendermint/tendermint/blob/master/.github/linter/markdownlint.yml)) and then mo

[2021-05-27 15:31] #8112 closed

[2021-05-27 16:17] kwunyeung commented on #9324
@marbar3778 I had started a new node in the same private network as those two nodes serving snapshots and enabled debug last night. You can download a short extract of the debug log below.

https://forbole-val.s3.ap-east-1.amazonaws.com/gaiad-state-sync-log.txt.gz

I saw the following log

[code]

And then the node did requested snapshot chunks but I never saw it applied the chunks.

[code]

After

[2021-05-27 16:53] aaronc opened #9406 "Add transaction tips (aka "meta transactions") - proto definitions"
This is to support multi-denom fees along the lines of Ethereum meta-transactions. @gamarin2 can you share more details?

[2021-05-27 19:18] ebuchman opened #9407 "gaiad UX issues"
This is a collection of issues I've been accumulating using the CLI. Apologies if there are some duplicates here or there's not that much detail, just wanted to publish this somewhere since I've mentioned it a few times. I believe these all exist in v4.2.1 but the list got started a few months ago so some things might be stale

More generally, I think the whole key system should conceivably be bro

[2021-05-27 19:25] alexanderbez commented on #9407
Thanks for this @ebuchman. I'm gonna take a stab at a few 👍

[2021-05-27 21:48] ebuchman commented on #9407
Awesome thanks @alexanderbez !!

[2021-05-27 21:59] shanev commented on #7633
I implemented some of the client code in this at a hackathon a few years ago! Now replaced by gRPC. Anyway, would love to see this in the SDK 👍

[2021-05-28 05:28] YunSuk-Yeo opened #9413 "regex mismatch between upgrade module log and cosmovisor scanner"
## Summary of Bug

upgrade module `plan` populate `UPGRADE "v0.5.0-beta2" NEEDED at Height: 20`, but cosmovisor scanner try to find `UPGRADE "(.*)" NEEDED at ((height): (\d+)|(time): (\S+)):\s+(\S*)`.

i.e. print `Height`, but try to scan `height`

https://github.com/cosmos/cosmos-sdk/blob/cb66c99eab17d0763ea900d8d7bf2d970e4add22/x/upgrade/types/plan.go#L40

https://github.com/cosmos/cosmos-sdk/bl

[2021-05-28 06:39] YunSuk-Yeo opened #9414 "cosmovisor restart after upgrade always failed"
## Summary of Bug
When cosmovisor restart the process after upgrade, it executes the downloaded binary without changing the arguments. If it does not specify `--unsafe-skip-upgrades {upgrade-height}` flag, the process keeps failing due to existing upgrade plan.

Also it only handles just one upgrade process. Why don't we apply loop.

https://github.com/cosmos/cosmos-sdk/blob/cb66c99eab17d0763ea900

[2021-05-28 07:05] #9414 closed

[2021-05-28 09:03] robert-zaremba commented on #9413
@YunSuk-Yeo , thanks for contribution. I prefer to not change cosmvisor and it's log (it seams it was a mistake that it was changed). The update log is critical, it's documented and maybe others relay on it.

Instead let's rollback the change which cause problem with cosmvisor.
Here is the PR: https://github.com/cosmos/cosmos-sdk/pull/9416

[2021-05-28 10:13] amaurym opened #9417 "Amino support for x/authz & x/feegrant"
## Summary

Should we add amino support for x/authz and x/feegrant Msgs ?

## Problem

The current state of x/authz and x/feegrant is that their Msgs don't support legacy amino JSON signing.

The reasons for this were primarily:
- they are new modules created after Stargate, where amino has been declared legacy.
- authz's initial design was based on ADR-031 `ServiceMsg`s (but this design has since

[2021-05-28 10:57] aleem1314 opened #9419 "x/gov: remove querying deposits from events"
## Summary

Remove querying deposits from events in cli.

## Problem Definition

[#9288 comments](https://github.com/cosmos/cosmos-sdk/pull/9288#issuecomment-840563367)

Currently in `SDK` every proposal's deposits are being removed once after it is completed(completed in the sense either passed or rejected)
+ in case of passed proposals all the deposit amount will be refunded to the depositors an

[2021-05-28 11:13] YunSuk-Yeo commented on #9413
Thanks for checking

[2021-05-28 12:28] marbar3778 opened #9420 "version: set sdk version in node_info"
## Summary

When looking at explorer or building a multichain explorer it would be nice to see what version of the sdk the chain is using.

The number shown will mainly represent the major releases and possibly the patch releases. For example on the hub it would display `cosmos_sdk_version: 0.42.x`

## Proposal

add cosmos_sdk_version to `Version_info`

[code]

This value would be set through a gl

[2021-05-28 13:17] marbar3778 commented on #9417
I think more and more modules are being written with no amino. I have written a few that has removed or not added amino at all. I think saying the same for new modules makes sense.

We should just expedite the sign mode that fixes it

[2021-05-28 13:58] amaurym commented on #9420
sounds good to me.

Why not just put the exact version 0.42.5?

[2021-05-28 14:22] aaronc commented on #9356
Can somebody from our team look into this @robert-zaremba @amaurym ?

[2021-05-28 14:33] aaronc commented on #9381
We would need to re-work the multi-store to make this work...

[2021-05-28 14:34] aaronc commented on #9386
@shahankhatch can you take a look at this from the gaia side?

[2021-05-28 14:37] robert-zaremba commented on #9420
This looks as something useful. 0.43 feature is frozen. So if we want to be consistent and move forward then this will only land in 0.44. Thoughts?

[2021-05-28 14:39] aaronc commented on #9393
Would you be willing to open a PR for this? For performance it would need to be paginated

[2021-05-28 20:06] #9413 closed

[2021-05-28 22:14] webmaster128 commented on #7340
FWIW we address those kind of problems the following way in CosmWasm: Wasm blobs are stored in state next to the IAVL tree, as files on disk. However, those blobs are identified by their hash. This hash is stored in the IAVL tree. For every access of a blob, the file integrety is checked by hashing after/while reading. So indirectly, all file content is part of the app hash as well. Files can be m

[2021-05-30 08:51] kwunyeung commented on #9324
@AdityaSripal the node has been running without issue for 3 days already. No crash no restart.

[2021-05-31 03:12] laniehei commented on #9362
Hello, I'm interested in maybe taking this to get a feel for the codebase. Is this issue taken by someone? I see that the contributor is assigned/self-assigned (admin-use checkboxes), but no one has recently worked on it.

[2021-05-31 05:38] YunSuk-Yeo opened #9425 "bank module InitGenesis optimization"
## Summary of Bug

Bank module InitGenesis is just using normal `k.setBalances` method to store the genesis account balance.

https://github.com/cosmos/cosmos-sdk/blob/917fb765d6f62728b84d04c9797b81861f139242/x/bank/keeper/genesis.go#L12-L24

`k.setBalances` is executing unnecessary `k.clearBalances` function which is using iterator make the initialization process very very slow.

https://github.c

[2021-05-31 07:26] marbar3778 commented on #9394
Hey, I'm going to close this issue for now. Please ping me in the cosmos discord with any further questions

[2021-05-31 07:26] #9394 closed

[2021-05-31 12:16] aleem1314 commented on #9378
I'm unable to reproduce this on `0.42.4` and `master`. I think you are missing [this](https://github.com/cosmos/cosmos-sdk/issues/8426#issuecomment-783280919) in your `go.mod` file.

[2021-05-31 12:33] Freak12Techno commented on #9378
I'll check it, will post the results here.

[2021-06-01 01:19] ryanchristo commented on #9362
Hello @laniehei

I believe this issue is not taken and the checkbox might have been marked by mistake.

@robert-zaremba can you confirm?

[2021-06-01 03:45] zmanian commented on #7340
How does the node sync the WASM blobs?

[2021-06-01 04:40] webmaster128 commented on #7340
They are uploaded as part of a transaction. We compress them with gzip and store them in a bytes field, which is then 100-300 KB large. That works reasonably well, except when trying to sign with Ledger.

[2021-06-01 05:03] zmanian commented on #7340
But if if a node state syncs to the current state, it needs some way to get sync the wasm blogs that it needs? How does it get them?

[2021-06-01 05:19] ValarDragon opened #9431 "simulation: Refactor out repeated logic for creating and delivering txs"
## Summary

Every simulation operation I know of contains the following logic:
[code]

With only some exceptions not having the final return (and instead doing additional logic)

We should refactor all of that logic into a single function within the Simulation package called `GenAndDeliverTx(txGen, msg, fees, ctx, simAccount simulation.Account, ak stakingTypes.authKeeper, moduleName) (simtypes.Ope

[2021-06-01 05:19] webmaster128 commented on #7340
Getting them via replying transactions is the only way currently. Thus this ticket I guess.

[2021-06-01 07:27] ethanfrey commented on #7340
This is exactly the issue Agoric and CosmWasm have. We ask the sdk team to provide us hooks to let us sync data not in the iavl.

I don't know how state sync is implemented, but if some extension point is exposed with docs, I will make our end work with it.

[2021-06-01 07:55] marbar3778 commented on #3113
This has been dcoumented.

[2021-06-01 07:55] #3113 closed

[2021-06-01 07:57] marbar3778 commented on #3697
Users have multiple options on hsms/ksms. Providing an extra one in the sdk or gaia is not needed.

[2021-06-01 07:57] #3697 closed

[2021-06-01 07:59] marbar3778 commented on #3668
This goes along with the discussion https://github.com/cosmos/cosmos-sdk/discussions/9348.

[2021-06-01 08:03] marbar3778 commented on #3469
In a recent call it was said the best solution for this is to not rely on tendermint indexing and provide a custom indexing solution directly from the sdk.

[2021-06-01 08:05] marbar3778 commented on #3472
This was completed when the sdk started using tendermint consensus params, in the case of evidence params.

[2021-06-01 08:05] #3472 closed

[2021-06-01 08:18] marbar3778 commented on #4051
params are now held within each module. The only top level parameters are the app level ones. This is now consistent

[2021-06-01 08:18] #4051 closed

[2021-06-01 08:23] marbar3778 commented on #3976
I think this is more or less completed with the migration to protobuf. We no longer require users to create switch statements since the protobuf service is regestered now.

[2021-06-01 08:23] #3976 closed

[2021-06-01 08:24] #3929 closed

[2021-06-01 08:31] marbar3778 commented on #4444
closing this, reopen if still applicable

[2021-06-01 08:31] #4444 closed

[2021-06-01 08:33] marbar3778 commented on #4980
duplicate of #6983

[2021-06-01 08:33] #4980 closed

[2021-06-01 08:36] marbar3778 commented on #5540
@anilCSE would you like to work on this? This seems to be coming up more and more in various conversations.

[2021-06-01 08:38] marbar3778 commented on #5393
Tendermint now provides streaming to postgres and the sdk will soon merge state streaming. A separate binary may be provided or merely a way to write to postgres from athe app.

[2021-06-01 08:38] #5393 closed

[2021-06-01 08:42] marbar3778 commented on #7010
I  believe the yaml will need to be removed in the near future anyways. The gogoproto extension to add it will not be supported in the new generator

[2021-06-01 08:44] marbar3778 commented on #7315
when schnoor?

[2021-06-01 08:46] marbar3778 commented on #7071
This should be fixed with protobuf. If someone runs the script locally we dont gurantee it will work, only within docker we do.

[2021-06-01 08:46] #7071 closed

[2021-06-01 09:07] marbar3778 commented on #7786
While the current docs are not the best, until someone complains I think it is fine if we close this. Also users will be able to visit pkg.go.dev (https://pkg.go.dev/github.com/cosmos/cosmos-sdk@v0.42.5/x/bank/types) if they would like more detailed info on the types

[2021-06-01 09:07] #7786 closed

[2021-06-01 10:49] colin-axner opened #9433 "ABCI query should use Request Height not Context height in setting query height"
## Summary

ABCI query should use the request height not the context height

## Problem Definition

The current ABCI query sets the opts to use a height from the [context height](https://github.com/cosmos/cosmos-sdk/blob/d7c5bc5f35505e1d64e9b3521067871947d55bfa/client/query.go#L80). From my understanding, this is incorrect behaviour. It should use `req.Height` in the same way it uses `req.Prove` t

[2021-06-01 11:46] alexanderbez commented on #9433
Your reasoning sounds correct to me 👍

[2021-06-01 12:00] alexanderbez commented on #3469
Yes, I believe we already have an ADR for this too -- https://github.com/cosmos/cosmos-sdk/blob/master/docs/architecture/adr-038-state-listening.md

[2021-06-01 13:50] marbar3778 opened #9435 "update contributing to reflect new pr templates and pr title"
## Summary

Recently we added new PR templates and a github action to lint the PR title.

## Problem Definition

There isn't documentation on how titles should be constructed in the  PR section of contributing.ms https://github.com/cosmos/cosmos-sdk/blob/master/CONTRIBUTING.md#pull-requests

## Proposal

Update docs

____

#### For Admin Use

- [ ] Not duplicate issue
- [ ] Appropriate labels appl

[2021-06-01 15:14] blushi commented on #9234
@robert-zaremba @anilCSE any updates on this?

[2021-06-01 15:17] #9356 closed

[2021-06-01 15:47] ryanchristo commented on #9386
@yangyanqing Are you still interested in submitting a fix for this?

[2021-06-01 16:45] crussell-figure commented on #9393
@aaronc I appreciate the confidence. Unfortunately I am just acting as a user of these APIs at this time. I don't feel comfortable enough to make this change.

[2021-06-01 17:09] crussell-figure opened #9437 "Add gRPC for ibc-transfer/getEscrowAccount"
## Summary

Per https://github.com/cosmos/cosmos-sdk/pull/9383, There has been a cli command added to get the escrow account for an IBC channel. It would be most helpful to also have the gRPC query for it as well.

## Problem Definition

Programmatic use of the sdk can not take advantage of CLI commands. This is a case where the added command can be useful via grpc.

## Proposal

- [ ] Add getEscr

[2021-06-01 17:16] crussell-figure commented on #9437
I understand that the address is manually constructed with no interaction from the chain, but with the `Version` constant being just a string that could be updated in the future, it would be nice to have official support instead of having to worry that it has changed in the next release.

[2021-06-01 18:08] aaronc opened #9438 "Minimal x/gov & x/group Alignment"
There is a longer conversation happening in #9066 around integration and de-duplication of x/gov and x/group, however, in order to bring some immediate benefit from x/authz and x/group to on-chain governance, I propose the following "minimal" changes to x/gov:

* add a `root` account that x/gov controls
* migrate gov proposal handlers to an array of `sdk.Msg`s which are only executable by `root` i

[2021-06-01 18:10] aaronc commented on #9438
Tagging as "Needs Architecture Review" to remind me to present this at this Friday's architecture call.

[2021-06-01 19:10] ryanchristo opened #9439 "feegrant grant period not resetting"
## Summary of Bug

The feegrant grant period is not resetting. The `period_can_spend` and `period_reset` time does not update after spending `period_can_spend` and after the `period_reset` time has passed.

## Version

`v0.43.0-beta1`

## Steps to Reproduce

1. Initialize and start a chain using `simd` and at least two accounts with an initial `stake` balance.

2. Create a new grant with a `--peri

[2021-06-01 19:36] aaronc commented on #9439
Thanks @ryanchristo! Could you add the appropriate labels and put in the Ready column in codetree?

[2021-06-01 20:03] #9425 closed

[2021-06-01 20:36] youngjoon-lee commented on #9386
Thank you for your reply. Sure! I will submit a PR this week regards to the CLI option, and another PR for Gaia documents to the Gaia repo.

[2021-06-01 21:11] ryanchristo commented on #9386
Awesome! I think a fix for the documentation has already been submitted but updating the CLI is all yours.

[2021-06-01 21:23] alijnmerchant21 opened #9441 "Broken link on docs.cosmos.network"
## Summary of Bug

The link on 'interfaces' section on docs page for version 0.42 shows - "Page not Found"

## Version
0.42

## Steps to Reproduce
1. Go to https://docs.cosmos.network/v0.42/interfaces/interfaces-intro.html

____

## For Admin Use

- [ ] Not duplicate issue
- [ ] Appropriate labels applied
- [ ] Appropriate contributors tagged
- [ ] Contributor assigned/self-assigned

[2021-06-01 21:28] barriebyron commented on #9441
@toschdev did some research:

@amaurym did we want to remove the Interfaces section from the main page in 0.42 and master?
Thanks @alijnmerchant21 for finding and reporting this issue.

[2021-06-02 05:00] #9378 closed

[2021-06-02 05:38] ValarDragon commented on #9431
I added such methods in this PR in Osmosis https://github.com/osmosis-labs/osmosis/pull/236/files#diff-5dfcd725561870d051277a35c6ecd12c00ab0ec348330dad31881cdff3aae7f3R45. Happy for this to be upstreamed, though at the moment I don't have bandwidth to update all the SDK simulator operations. Happy to assist if someone else has bandwidth to update all the existing operations to use it.

[2021-06-02 05:45] ValarDragon opened #9443 "Simulation: Make a simulation context struct"
## Summary

Many of the parameters to functions within simulation could be neatly packaged into a single simulation context struct.

I propose making a simulation Context struct as follows:

[code]

This would allow removing many function arguments from operations.

SimulationContext should then have a method called `GetSender()` which then chooses a sender for the tx, and caches it internally to

[2021-06-02 12:11] marbar3778 commented on #9116
Can we create a branch for 0.43 off of master already? A two-month feature freeze when new features and API changes are constantly coming slows down development quite heavily.

[2021-06-02 15:14] amaurym commented on #9441
Correct! I found 3 occurrences searching for `interfaces-intro`. Is someone working on a PR for this?

[2021-06-02 16:37] robert-zaremba opened #9445 "Release proto definitions v1"
## Summary

With Stargate we created proto definitions for all our modules. They are all marked as beta, but the whole ecosystem is getting to use them and expects stability.

Ref: https://github.com/cosmos/cosmos-sdk/discussions/9182#discussioncomment-813087

## Problem Definition

There is an adoption and perception risk of sticking to beta release mode forever. Stargate was release few months a

[2021-06-02 16:51] aaronc opened #9446 "Address v1beta1 proto breaking changes"
As reported by @webmaster128 on discord:

[2021-06-02 16:58] amaurym commented on #9446
Some proposals we can do for v0.43:

Proposal 1. Remove all `reserved` fields in the proto files, replace with what we had before
    - we should also add backwards-compatability in the handlers. E.g. convert a Vote to a 100% WeightedVote.

Proposal 2. Bump proto packages to v1beta2 or even v1 (#9445)

It seems like proposal 1 is the easiest path for v0.43, but we're discussing with @webmaster128

[2021-06-02 17:09] aaronc commented on #9446
I think we should start with approach 1.

Although it might not be a bad idea to bump proto files to v1 if we can maintain compatibility with v1beta1 for 0.43... that seems like a bunch more work though.

I do have a concern that adding _any_ field to a `Msg` could cause breaking changes for clients because of unknown field rejection and UI's populating fields that aren't supported. This may force

[2021-06-02 17:38] ryanchristo commented on #9441
I can open a pull request to make the change. It might make sense to point to https://docs.cosmos.network/v0.42/run-node/ rather than removing the section from the main page but I'll take a look.

[2021-06-02 17:49] amaurym commented on #9446
We could also just make sure to never add fields in Msgs (e.g. manually, during PR reviews). If someone needs to add a new field, then create a new Msg. It somehow feels complex and confusing to me to have query and tx packages with different versions for the same module.

[2021-06-02 18:28] anilCSE opened #9447 "Changing `PowerReduction` param causing network halt"
## Summary of Bug

`PowerReduction` is now changed into an on-chain param. Updating it via a param change proposal is causing the consensus failure. It's occuring on a validator getting jailed once after the param is updated. Here's are the logs: https://pastebin.com/5RDu2mwH

## Version
[v0.43-beta1](https://github.com/cosmos/cosmos-sdk/releases/tag/v0.43.0-beta1)

## Steps to Reproduce

- Create

[2021-06-02 18:35] anilCSE commented on #5540
Sure, I can work on this next week.

[2021-06-02 18:39] anilCSE commented on #9234
Looks like it is actively being discussed here #9324 . @alexanderbez @chengwenxi are these issues relavant? Do we need to fix this separately?

[2021-06-02 18:51] alexanderbez commented on #9234
I believe this is a separate fix, yes.

[2021-06-02 19:51] ryanchristo commented on #9435
Thanks for opening an issue for this! We can address once https://github.com/cosmos/cosmos-sdk/pull/9342 has been merged.

[2021-06-03 01:55] chengwenxi commented on #9234
It's a separate issue, I mentioned it just that I want to find some snapshot nodes to reproduce this issue.

I'm sorry I haven't done the test recently, I will do it this weekend.

[2021-06-03 07:36] #8758 closed

[2021-06-03 08:28] amaurym commented on #7488
The protov2 generator will leave in a separate repo: https://github.com/cosmos/cosmos-proto. The 1st issue there contains some meeting notes from the working group.

[2021-06-03 08:31] amaurym commented on #9417
I'll take this issue.

[2021-06-03 10:06] marbar3778 commented on #7488
Can we close this issue? Don't think we need an issue in this repo till its time to migrate

[2021-06-04 02:14] technicallyty commented on #9375
I'm in favor just capturing all fund movements under a singular event type of `transfer`. IMO it's a bit odd to have a `Coin Spent` and `Coin Received` event when we can easily catch both of those in one single event.

[2021-06-04 07:42] augchan42 opened #9460 "Resolve linter errors when running make against clean repo"
## Summary of Bug

When running make for the first time from a freshly cloned repo, there's many gofmt errors and a gocritic appendAssign error.  Ideally a make should complete with no changes from a freshly cloned repo.

## Version

https://github.com/cosmos/cosmos-sdk/releases/tag/v0.42.5

## Steps to Reproduce

My build OS is banner is: Welcome to Ubuntu 20.04.2 LTS (GNU/Linux 5.4.0-73-generic

[2021-06-04 07:56] AugChan42 commented on #9460
I thought it might be due to timeout, but I increased my timeout in golangci.yml to 5 minutes and still encounter these errors.

[2021-06-04 08:25] marbar3778 commented on #9375
With adr-038 state streaming, is this level of granularity needed? I agree a good standard is needed but having every state movement when a state streaming should land anytime now.

[2021-06-04 08:37] AugChan42 commented on #9460
Additional errors after resolving the above:

golangci-lint run --out-format=tab
WARN [runner] The linter 'golint' is deprecated (since v1.41.0) due to: The repository of the linter has been archived by the owner.  Replaced by revive.
docs/core/encoding.md:201:163 MD009/no-trailing-spaces Trailing spaces [Expected: 0 or 2; Actual: 1]
docs/DOC_WRITING_GUIDELINES.md:12 MD012/no-multiple-blanks Multi

[2021-06-04 08:48] AugChan42 commented on #9460
Proposed appendAssign fix:

OLD CODE:
		newStoreKey := append(prefixBz, address.MustLengthPrefix(addr)...)

NEW CODE:
		var newStoreKey []byte = prefixBz
		newStoreKey = append(newStoreKey, address.MustLengthPrefix(addr)...)

[2021-06-04 09:29] #9417 closed

[2021-06-04 14:10] kogisin opened #9463 "Out of gas in location when running simulation test"
## Summary of Bug

Hi, I am one of the main contributors of the [liquidity]([https://github.com/tendermint/liquidity](https://github.com/tendermint/liquidity)) module.

I am having an issue when running simulation test in liquidity module that uses Cosmos SDK v0.42.4. This issue may or may not be an issue with Cosmos SDK, but since the `out of gas in location` log points out that it occurs from x/

[2021-06-04 15:24] #9373 closed

[2021-06-04 15:46] clevinson commented on #9268
Most of this is resolved #9342, only followup is to potentially add ability to tag specific folks in reviews.

[2021-06-06 10:10] robert-zaremba commented on #9116
Based on previous discussions - we want to keep focus on the release. The release branch will be created when we will release RC. This helps also with stability and bug fixing in master, and reduces efforts related to backporting.

[2021-06-06 19:20] andynog opened #9465 "Cannot specify height parameter for delegator rewards query via REST endpoint"
## Summary of Bug

Using the CLI I can query the rewards and specify a `--height` flag. But using the REST API there's no option for specifying a height. So through the REST API I can only query the rewards for the latest block.

## Version

`master` branch (tested with commit `ec3e2b4d0d96d050c4e7794c615a546135a8ea46`)

## Steps to Reproduce

Using the CLI I can execute:

[code]

But the REST API

[2021-06-06 20:00] ryanchristo opened #9466 "Use consistent versions of golangci-lint"
## Summary

Running `make lint` (or `make lint-fix`) locally produces different results than the CI check if the user has a different version of golangci-lint installed. It would be nice if running golangci-lint locally produced the same results as the CI check.

ref #9464

## Problem Definition

\+ There are no unexpected results from the CI check.

## Proposal

We could use a [golangci/golangci-

[2021-06-07 02:10] augchan42 commented on #9466
This is the version of golangci-lint I'm using:

osboxes@osboxes:~/Home/cosmos-sdk$ golangci-lint version
golangci-lint has version 1.40.1 built from 625445b1 on 2021-05-14T11:44:45Z

[2021-06-07 05:16] aleem1314 opened #9467 "Add CORS handler to grpc-web"
## Summary of Bug

[code]

## Version

`0.43.0-beta1`

## Steps to Reproduce

1.Initialize and start chain using `simd start --grpc-web.enable=true`.
2. Connect to `grpc` client using `grpc-web` JS [client](https://github.com/improbable-eng/grpc-web/tree/master/client).

## Proposal

Cors should be enabled only with a `--unsafe-enable-cors` flag.

____

## For Admin Use

- [ ] Not duplicate issue

[2021-06-07 07:04] chengwenxi commented on #9234
@alexanderbez You can reproduce it using the configuration files below

app.toml

[code]

config.toml

[code]

[2021-06-07 09:03] #9431 closed

[2021-06-07 09:48] blewater opened #9468 "DeductFeeDecorator does not consider the Gas, GasPrice parameters."
## Summary of Bug

Per [fees documentation](https://docs.cosmos.network/v0.42/basics/tx-lifecycle.html#gas-and-fees)

...

and not by --fees exclusively.

## Version

Any version--Master.

## Steps to Reproduce

Create a transaction and specify --gas --gas-prices. The DeductFeeDecorator will not deduct fees in this case.

____

## For Admin Use

- [ ] Not duplicate issue
- [ ] Appropriate labels a

[2021-06-07 10:18] colin-axner opened #9469 "make proto-format returns error"
## Summary of Bug

[code]

via master branch

____

## For Admin Use

- [ ] Not duplicate issue
- [ ] Appropriate labels applied
- [ ] Appropriate contributors tagged
- [ ] Contributor assigned/self-assigned

[2021-06-07 10:37] robert-zaremba commented on #9106
Linking a more general solution we discussed for cosmos, and we are proposing to implement in Regen for chain minimum gas price (gov controlled lower bound for validators' `minimum_gas_price`).
* https://forum.regen.network/t/gov-controlled-min-gas-price/213
* https://github.com/cosmos/cosmos-sdk/discussions/8224#discussioncomment-828175

[2021-06-07 11:34] marbar3778 commented on #9469
@robert-zaremba want to test this? I cant test it due to arch issues.

[2021-06-07 12:02] robert-zaremba commented on #9469
On linux it works like a charm. I guess @colin-axner  is on Mac and the issue is related to his shell. @colin-axner what shell are you using? I will create a branch and we can debug the syntax, but will need your assistance to test it.

[2021-06-07 12:28] alexanderbez commented on #9465
@andynog, unless things have changed, to specify a height for the gRPC gateway API routes, you need to specify it via a header, not query param.

/cc @amaurym

[2021-06-07 12:29] alexanderbez commented on #9466
The linting actions performed by the repo via make targets should be executed against a fixed docker image. I'm not sure if this is currently the case or not, but if it's not it, I would highly recommend taking this approach.

[2021-06-07 12:37] marbar3778 commented on #9466
You could specify a version in the golangci.yml like so

`golangci-lint-version: 1.23.x # use the fixed version to not introduce new linters unexpectedly`

[2021-06-07 12:41] andynog commented on #9465
OK @alexanderbez I will try via curl, I was using the Swagger page which doesn't have the height field

[2021-06-07 13:31] andynog commented on #9465
You're right @alexanderbez, you can specify `x-cosmos-block-height` as a header and that works via REST. I'll close this for now. Thanks.

[2021-06-07 13:31] #9465 closed

[2021-06-07 13:54] skosito opened #9471 "Question about querying for uncommitted transaction"
Hey, I would like to query tx by hash, before it is committed (I thought of rpc tx/hash until I get committed transaction), or somehow know when transaction is committed, within cosmos-sdk application. I need information about transaction timestamp and height so I can use that info further.

I am trying this approach below from cosmos-sdk docs, but there is panic when tx is not found, so I can not

[2021-06-07 13:55] colin-axner commented on #9469
I'm using arch with bash.
[code]
[code]
The above linked pr doesn't work for me

[2021-06-07 13:57] alexanderbez commented on #9471
Querying a transaction by hash will only yield a result once it's committed in a block. Until it's committed in a block, you cannot directly query for it.

To query for an uncommitted transaction, you'll have to query Tendermint's RPC directly  against the node you broadcasted the transaction to.

[2021-06-07 13:57] antonicvladimir commented on #9397
Hi @marbar3778 it seems that there is no link to sexy code :( :)
Anyways, could you please help me by at least verifying the approach above? Which keyring should node set up in that case, is file keyring ok? And where is the best place to store password for keyring to be accessed by cosmos-sdk application?
Thanks!

[2021-06-07 14:02] skosito commented on #9471
Hey @alexanderbez thanks for answer. I thought what I posted above is using RPC directly against my local node.

What would be best way to do this in go? I tried some json rpc library (https://github.com/ybbus/jsonrpc), but the problem is when I try
Call("tx", "0x....") I get error 'Illegal base64 data...' for hash, is there some way to use this approach?

[2021-06-07 14:04] marbar3778 commented on #4322
Hey, @aaronc did this get merged?

[2021-06-07 14:14] skosito commented on #9471
I saw that route as well but it is not giving information when particular transaction is committed, this is format:
[code]

[2021-06-07 14:19] hxrts commented on #9106
This does raise a question of whether we want this to land in the SDK as a default solution. Any of the min-fee solutions discussed would likely supersede this feature. Long-term I think want the fee system to act more like modules where devs elect to add an encapsulated solution that works for their chain. Maybe it's useful to include in the short term though?

[2021-06-07 14:20] colin-axner commented on #9469
This appears to be the issue:
[code]

[2021-06-07 14:20] robert-zaremba commented on #9469
@colin-axner , I wrote you on Discord, could you run this:
[code]

[2021-06-07 14:22] colin-axner commented on #9469
I just removed my old containers. The linked pr works :+1:

The command was restarting my old docker container which contained the old usage

[2021-06-07 14:35] alexanderbez commented on #9471
Yes, those are the raw transactions (base64-encoded bytes). You need to grab each one, base64 decode and take the hash of it.  Then once you have the hash you can compare.

[2021-06-07 14:38] amaurym commented on #9447
Is someone taking a look at this? I believe it's one of the last pieces blocking a 0.43-RC

[2021-06-07 14:39] skosito commented on #9471
@alexanderbez thanks!

[2021-06-07 14:39] #9471 closed

[2021-06-07 14:45] #9469 closed

[2021-06-07 15:02] #9439 closed

[2021-06-07 15:09] amaurym commented on #9419
Is this actually blocking v0.43, or just a nice-to-have?

[2021-06-07 20:07] michaelfig commented on #9116
Agoric will be using 0.43 (beta or RC, whichever is available) for the next phase of our incentivised testnet two weeks from now, with manual testing of our features until that happens.

[2021-06-07 23:00] dnavre commented on #7488
Hi guys, you can also consider using this newish lib: https://vitess.io/blog/2021-06-03-a-new-protobuf-generator-for-go/
https://github.com/planetscale/vtprotobuf

I'm not affiliated with the authors in any way, but though it might be useful to post it here.

[2021-06-08 06:32] marbar3778 commented on #7488
we looked at it but are not a fan of another file, we talked and decided to attempt writing a custom generator against the proto apiv2 interface, that way we can extend more custom features.

[2021-06-08 08:16] RiccardoM opened #9475 "Keys add returns error with --dry-run"
## Summary of Bug
Running `keys add [name] --dry-run` returns `public key already exists in keybase` error.

## Version
3c65c3dacded18f2d0b9f607bc7f679feff6afad

## Steps to Reproduce
1. Run `simd keys add jack`
2. Run `simd keys add jack --dry-run`

It will error with
[code]

____

## For Admin Use

- [ ] Not duplicate issue
- [ ] Appropriate labels applied
- [ ] Appropriate contributors tagged
-

[2021-06-08 09:13] blewater commented on #9468
Actually the --gas, --gas-prices are factored in feeTx.GetFees(), feeTx.GetGas().

[2021-06-08 09:13] #9468 closed

[2021-06-08 09:56] amaurym commented on #9446
Had a call with @webmaster128 and @robert-zaremba about proto bumping strategy.

The current proposed strategy for solving this issue is:
- aim for bumping all proto packages to `v1` in v0.43
- ask the community if there's strong objection to bumping to `v1` when v0.43 is already in the beta testing phase
- if there is opposition, fallback to Proposal 1 in https://github.com/cosmos/cosmos-sdk/issu

[2021-06-08 10:06] amaurym opened #9477 "Add clear guidelines for allowed Protobuf changes"
## Summary

Add clear guidelines for allowed Protobuf changes

## Problem Definition

App developers are not clear which changes are allowed in proto files (adding fields? removing fields? renaming fields?...).

This led for example to the SDK to add `reserved` fields to some proto messages (e.g. [`Vote`](https://github.com/cosmos/cosmos-sdk/blob/8cfa2c26738276d895caf9eb98b3f70616218e17/proto/cosm

[2021-06-08 12:03] #9441 closed

[2021-06-08 14:13] robert-zaremba commented on #9106
Yes - we were always talking about a need for the short term solution.  Maybe it could be a secondary / optional in the future? Nobody is working on dynamic fee mechanism (we need to spec the mechanism which will work with tx prioritization epic). We are only hoping that the Terra story won't repeat with any other chain.  Note that it's enough to have a sabotage validator to cause the spam attack.

[2021-06-08 14:55] amaurym commented on #9475
Isn't this expected? You're adding the same key name twice.

[2021-06-08 15:19] webmaster128 commented on #9446
After thinking about this a little bit more: Do we know which modules contain incompatible changes between 0.42 and 0.43? Are there modules for which we can keep the v1beta1? Having to create case distictions for all higher level Stargate client code is going to be very tricky (and will lead to poor support of one of those versions).

[2021-06-08 15:21] RiccardoM commented on #9475
The problem here is that `--dry-run` is not considered and the key is added anyway:

[code]

[2021-06-08 15:26] robert-zaremba commented on #9446
@amaurym  was checking that.
For 0.43 we can only lift the modules with incompatible changes.
For 0.44 we will probably like to set `v1` for all other modules anyway drop the beta tag which doesn't make sense any more.

[2021-06-08 15:36] ryanchristo opened #9479 "Clean up translated documentation"
# Summary

The documentation we are providing in other languages is becoming increasingly out-of-date. Most of the documentation is `v0.39` or older. We currently have warnings "DEPRECATED This documentation is not complete and it's outdated. Please use the English version". We should consider removing these documents (they will still be available in older versions).

ref https://github.com/cosmos

[2021-06-08 16:06] amaurym commented on #9446
I added a quick audit based on a git diff between in the meeting notes in https://github.com/cosmos/cosmos-sdk/issues/9446#issuecomment-856633397.

The 2 places where I see breaking changes are:
- `cosmos.gov..v1beta1.Vote`
- `cosmos.upgrade.v1beta1.Plan`

How do we feel about only bumping 2 modules to v1, and not others? It might give the wrong impression the gov & upgrade modules are "more produ

[2021-06-08 16:27] #9460 closed

[2021-06-08 18:24] ryanchristo commented on #9475
I can confirm that a new key is added when using `--dry-run`. I think the steps to reproduce are reversed and should be:

1. Run `simd keys add jack --dry-run`
2. Run `simd keys add jack`

I can also confirm this after looking at `RunAddCmd`. The only way to simulate adding a key without having a key added after running the command with `--dry-run` is to delete the key at the end of `RunAddCmd` if

[2021-06-09 03:19] augchan42 commented on #9466
I don't see a way to set the linter version at https://golangci-lint.run/usage/configuration/
Full example: https://github.com/golangci/golangci-lint/blob/master/.golangci.example.yml
The go version can be set however (default is 1.13 according to that link)

[2021-06-09 05:58] atheeshp commented on #9419
Not a blocker, nice to have

[2021-06-09 06:30] webmaster128 commented on #9446
Yeah, releasing Stargate with the "beta" version was not great. But 🤷‍♂️ it will vanish over time.

I see your point regarding consustency. But this would reduce a lot of practical pain becauese 👇. The difference is really: SDK 0.43 support today vs. SDK 0.43 support one day soon™️.

Have a look at `SigningStargateClient.sendTokens`: https://github.com/cosmos/cosmjs/blob/v0.25.4/packages/stargate/

[2021-06-09 13:01] alexanderbez commented on #9466
You wouldn't -- you'd use a docker image:

e.g.

[code]

[2021-06-09 14:17] amaurym commented on #9447
I managed to reproduce the error in a script: https://github.com/cosmos/cosmos-sdk/compare/am/9447-power-red?expand=1 (it's macos-specific, and uses `gsed`, feel free to tweak to make it work on your OS).

[code]

[2021-06-09 15:00] alexanderbez commented on #9447
The `PowerReduction` was never meant to be an on-chain param.

Since you're changing the way the state-machine views and treats validator powers, you're also changing the way validators are retrieved from the state. Specifically, the state-machine returns to Tendermint validator set updates every block (or epoch) via `ApplyAndReturnValidatorSetUpdates`. Since you've changed `PowerReduction`, the i

[2021-06-09 15:02] amaurym commented on #9447
So the action here is to revert #8505? @sunnya97 are you okay with that?

[2021-06-09 15:17] technicallyty commented on #9138
this has been implemented in #9458 and will be merged after v043 is released

[2021-06-09 15:58] amaurym commented on #9446
Makes sense. So current consensus is to:
- update gov & upgrade proto packages to `v1` for v0.43.
- keep all other proto packages as `v1beta1`, update them all to `v1` for v0.44.

[2021-06-09 16:21] #8982 closed

[2021-06-09 16:21] #8983 closed

[2021-06-09 16:37] clevinson commented on #7357
I think the next step here would be forming a WG (maybe just 1-2 people even) for tackling this together with any desired upgrades to TxBuilder & TxFactory?

I don't think its super high priority, but this is what imo the next steps would be.

[2021-06-09 16:39] clevinson commented on #8138
As part of this we should also be looking at whatever is leftover from #7357

[2021-06-10 00:38] #9435 closed

[2021-06-10 07:01] kogisin commented on #9463
After spending a long time debugging, I found the root cause of this `Out of gas in location` issue.
it occurs due to the usage of denomination other than `BondDenom` for transaction fees.

To fix this, [RandomFees](https://github.com/cosmos/cosmos-sdk/blob/c4864e9f85011b3e971885ea995a0021c01a885d/types/simulation/account.go#L69-L97) function should include a logic to only use `BondDenom`.

[code]

[2021-06-10 07:55] nhannamsiu opened #9488 "Rosetta-cli check:data throwing error on new minted denoms"
## Summary of Bug
Not sure if the issue should be resolved from rosetta-cli or from cosmos integration so I already filed an issue here: https://github.com/coinbase/rosetta-cli/issues/230

## Version
cosmos-sdk - `cosmos-sdk@v0.43.0-beta1`
rosetta-cli - `v0.6.7`
rosetta-sdk-go - `v0.6.8`

## Steps to Reproduce
1. Refactor cosmos simd app to have ability to mint new coins.
2. Start the chain and mi

[2021-06-10 08:32] RiccardoM opened #9489 "Witdhraw all rewards does not work with broadcast-mode async or sync"
## Summary of Bug
`tx distribution withdraw-all-rewards` does not work when flag `--broadcast-mode` is set to either `async` or `sync`.

## Version
`v0.42.5`

## Steps to Reproduce
1. Delegate some tokens to multiple validators
2. Try running the `simd tx distribution withdraw-all-rewards` command

The command will fail with error:
[code]

In order to solve this, there are two alternatives:
1. Set

[2021-06-10 08:42] cyberbono3 opened #9490 "Created sdk.Codec and deprecate clientContext.JSONCodec"
Following @robert-zaremba [comment](https://discord.com/channels/684494798358315010/758982012861677618/851491536637132831), the major motivation for JSONCodec in SDK.Context was that we are using only JSON in user - node communication.

[2021-06-10 08:49] amaurym commented on #9490
And also add with `clientContext.Codec`. We shouldn't deprecate something like this if there's no replacement.

[2021-06-10 08:56] marbar3778 commented on #9489
With sync and async you have to manually manage the sequence number. Do the messages all have diferent numbers?

[2021-06-10 09:04] RiccardoM commented on #9489
With `sync` and `async` the command does not work even providing the account sequence using the flag. The command creates multiple transactions which must have each one a progressive account sequence, but the flag value is passed to all of them. This results in the first transaction working properly but the second one failing with the above message.

[2021-06-10 13:15] kogisin commented on #9463
I found the workaround on this issue. For those who experience this issue, the root cause is due to sharing the simulated accounts.

[2021-06-10 13:15] #9463 closed

[2021-06-10 13:20] MariaCobretti opened #9494 "how to delete an item with illegal char in id"
so this is not really an sdk issue but idk where else to ask

for some reason I have an item with an illegal character in my db and I have no idea how to get rid of it.

![image](https://user-images.githubusercontent.com/17946690/121531792-0b65da80-c9ff-11eb-894c-a7e575118bb6.png)

selecting it in the portal gives me this

Failed to read item EUR/MWh:
 Illegal characters ['/', '\', '?', '#'] canno

[2021-06-10 14:20] amaurym commented on #8365
This change causes a consensus failure: https://github.com/cosmos/cosmos-sdk/issues/9447. The current decision is that we'll revert if for now, i.e. won't include it in v0.43.

Re-opening as to find a strategy to include this feature in v0.44.

[2021-06-10 14:21] amaurym commented on #9447
I created a PR to revert 8505: #9495.

I also re-opened #8365 to discuss how if it's desirable to have this feature for v0.44, in a way that doesn't break consensus.

[2021-06-10 20:09] technicallyty commented on #9372
looks like `testnet` and `add-genesis-account` were doing mostly the same things except `testnet` doesn't do anything to supply, and `add-genesis-account` does. this can be fixed by adding this to gaia/cmd/gaiad/cmd/testnet.go:

[code]

I'll update this in the SDK.

[2021-06-10 21:57] robert-zaremba commented on #9490
We also forgot to rename `encCfg.Marshaler` - it should be renamed to `encCfg.Codec`.

[2021-06-10 22:00] robert-zaremba opened #9499 "Remove clientCtx.JSONCodec and rename EncodingConfig.Marshaler to Codec"
## Summary

Following #9490 we should remove deprecated `clientCtx.JSONCodec`.
In v0.43 we also forgot to rename `encCfg.Marshaler` - it should be renamed to `encCfg.Codec`.

____

#### For Admin Use

- [x] Not duplicate issue
- [ ] Appropriate labels applied
- [ ] Appropriate contributors tagged
- [ ] Contributor assigned/self-assigned

[2021-06-10 22:20] ryanchristo commented on #9494
I believe you are in the wrong cosmos... this is the Cosmos SDK for [Cosmos Network](https://cosmos.network/). It looks like you are experiencing an issue related to Azure Cosmos DB. I'm not sure where you should go for support but this is not the right place. Good luck!

[2021-06-10 22:20] #9494 closed

[2021-06-11 01:21] yihuang commented on #4938
Isn't the `Write` don't have access to gas meter, hence don't change gas?

[2021-06-11 09:05] YunSuk-Yeo opened #9501 "authz MsgExec should emit the executed msg events"
## Summary of Problem

When we use authz module's MsgExec, we cannot get the executed msg events like `tranfer` or  `coin_received`. It seems critical for the deposit checker which are using event listening.

We just get

[code]

Events part is
[code]

## Feature Request

so recommend to emit the inner msg event, not just return the result as data.

https://github.com/cosmos/cosmos-sdk/blob/606bb2

[2021-06-11 09:14] robert-zaremba opened #9502 "Add URI x/bank denom metadata"
## Summary

Many projects store extensive metadata in a separate link, usually IPFS URI. We can add explicitly that field to x/bank denom metadata structure.

## Problem Definition

Tools benefit from a clear structure. This is especially important for tokens, which in Cosmos SDK are organized through denom classes. Adding extensive metadata on a distribute storage is very popular. Not having expl

[2021-06-11 11:49] #9490 closed

[2021-06-11 12:36] alexanderbez commented on #4938
No it does, but we don't write on simulation. Also, @ethanfrey claimed this provided no benefit, so perhaps my intuition was wrong all along.

[2021-06-11 13:59] clevinson commented on #8844
This is being addressed in #9106

[2021-06-11 14:06] clevinson commented on #7615
Moving to icebox as this will ideally be addressed in the x /auth & x/bank refactor. Possibly with two modules in parallel (new & old auth / authz).

[2021-06-11 14:11] clevinson commented on #7929
Hey @jwhitt3r, We'd like to get this worked on. Are you still interested in taking it on? Otherwise we can assign to someone on our team.

[2021-06-11 14:15] clevinson commented on #9407
@alexanderbez Can you make a note if there are any other of these items that you plan on working on by putting your name next to the checkbox or something?

We're happy to take some of these on our team's side as well, but want to make sure we don't duplicate work.

[2021-06-11 14:17] clevinson commented on #9070
This is currently block on the app-module wiring WG.

[2021-06-11 14:18] alexanderbez commented on #8365
IMHO keeping this as a tune-able variable is not the worst, although I do agree globals are the root of many evils.

Making this an on-chain param would require some non-trivial amount of effort and thought. We attempted it and saw consensus failures which is not surprising because validator power is crucial to validator iteration, specifically during computing and returning validator set updates

[2021-06-11 14:19] alexanderbez commented on #9407
I haven't had time to tackle anymore since. I'll attach my name to a few that I intend to do shortly.

[2021-06-11 14:22] clevinson opened #9503 "Add documentation for setting StoreLoader as part of in-place store migration documentation"
When doing in-place store migrations and introducing new modules, we need to add StoreUpgrades for the new modules in the upgrade process. The in-place migration docs (https://docs.cosmos.network/master/core/upgrade.html) should mention this.

See https://github.com/cosmos/cosmos-sdk/issues/9381 for how it should be done.

[2021-06-11 14:49] iramiller commented on #8802
One area that would be good to include in this are thoughts around integrating with the simulations as well.  This is an important piece for any chain that adds custom modules (or otherwise mixes in a unique set of modules).

[2021-06-11 14:54] clevinson commented on #7466
@ethanfrey is this still a desired feature for your team to have this back ported to Launchpad?

[2021-06-11 14:56] clevinson commented on #7428
@marbar3778 Is this still a desired feature from your POV?

[2021-06-11 14:59] clevinson commented on #7347
This should probably be thought about more as we approach support for meta-transactions / multi-denom fees (#9406)

[2021-06-11 15:20] ethanfrey commented on #7466
@clevinson Nope, we are no longer developing on launchpad and have used the stargate improvement already. Thanks.

[2021-06-11 15:20] #7466 closed

[2021-06-11 18:32] ryanchristo commented on #7929
I think using local paths might be problematic. Consider the situation where a developer updates a file, adding ten new lines of code before the line where an example in the documentation starts. The example will display the same line range regardless of the update and the example will no longer be accurate. Each code update would require cross-referencing the documentation to make sure the code u

[2021-06-12 06:42] shravanshetty1 opened #9507 "WASM support"
## Summary

I would like to use wasm as my frontend rather than use vue.

Would like to request ability to use cosmos sdk in wasm binaries, or atleast ability to reuse transaction and wallet code in wasm binaries.

## Problem Definition

Currently due to some third party deps, sdk cannot be compiled to wasm.
By supporting wasm developers have an option to use wasm instead of vue as a frontend, als

[2021-06-12 08:53] Povelytel opened #9508 "Add hash(Txid) transaction to tx body."
++++++++++++++++++++ When i parsing GetBlockByHeightResponse i get array Tx.Example:
( [txsList] => Array
                                (
                                    [0] => CrEBCq4BCiEvY29zbW9zLmJhbmsudjFiZXRhMS5Nc2dNdWx0aVNlbmQSiAEKQgotY29zbW9zMXdtODg1ajNlM2M4NGRrZnRwNmVsZW56Z2hrbGFhMm0zejg1eXlwEhEKBXVhdG9tEgg0MjM5MjgyMhJCCi1jb3Ntb3MxNDRmenBlcHV2ZGZ0djR1NHI5a3E4dDM1YXAyY3JydXY0dTN1ZHoSE

[2021-06-14 06:34] hanjukim commented on #9501
@robert-zaremba Could you look at this issue?

[2021-06-14 09:56] #9372 closed

[2021-06-14 10:57] jwhitt3r commented on #7929
Hay sorry @clevinson I don't think I can commit to the project. Apologies for the late reply!

[2021-06-14 11:11] amaurym commented on #8809
I'm re-opening this, because it's imo not solved on 179c819a9d542cb56c236454dc75d7120591438c

(38s long video, because I have ~12 keys. Note that I sometimes click "Allow", sometimes "Always Allow", but it doesn't seem to change a thing).

https://user-images.githubusercontent.com/1293565/121878482-0c9f4c00-cd0c-11eb-9259-a26aea69943b.mov

[2021-06-14 11:26] alessio commented on #8809
`stored in "" in your keychain` suggests that something in the keyring initialization went wrong

[2021-06-14 13:17] amaurym commented on #7929
@ryanchristo yeah good point. Maybe let's just close this issue then? The current way of doing things is fine.

[2021-06-14 13:58] fedekunze opened #9514 "`BlockGasMeter` panics when using `CheckTx` mode"
## Summary of Bug

The `BlockGasMeter` is only available for the  `deliverState` context (i.e when running txs in `DeliverTx` mode). Any call to retrieve the block gas consumed or limit will panic during `(Re)CheckTx`. Ref:

https://github.com/cosmos/cosmos-sdk/blob/179c819a9d542cb56c236454dc75d7120591438c/baseapp/abci.go#L171-L179

https://github.com/cosmos/cosmos-sdk/blob/179c819a9d542cb56c23645

[2021-06-14 14:03] aaronc commented on #9507
Hmm... the SDK is not designed to be compiled into WASM for use in a web frontend. You should look at something like https://github.com/cosmos/cosmjs. Unless I'm missing something, I think replacing all third party dependencies that don't compile to WASM would be pretty hard and outside the scope of the SDK's goals... So for now I'm going to say that this is likely something that will not be on ou

[2021-06-14 14:05] aaronc commented on #9502
Makes sense and this is simple to do 👍

[2021-06-14 14:05] ethanfrey commented on #9514
Good find. This would be a good bug fix.

[2021-06-14 14:09] aaronc commented on #9501
I wouldn't call this a bug really, but it does sound like a valid feature to add.

[2021-06-14 14:15] shravanshetty1 commented on #9507
The client would need access to the transaction and keyring package - however these packages seem to depend indirectly(types package and probably others) with server related packages such as baseapp. I think decoupling the client packages from the server packages would be easier than replacing dependencies, but still very daunting. Just mentioning for historical documentation.
Love the project!

[2021-06-14 14:23] robert-zaremba commented on #9501
Yes, adding an event is not a breaking change.

[2021-06-14 14:28] aaronc commented on #9507
The keyring package manages on disk storage of keys including interacting with things like the MacOS key chain and ledger nano devices, so likely not a good fit for WASM. What do you mean by the transaction package?

Can you explain more what you're trying to do here?

[2021-06-14 14:45] #9447 closed

[2021-06-14 15:04] ryanchristo commented on #7929
Sounds good. Closing for now.

[2021-06-14 15:04] #7929 closed

[2021-06-14 15:12] amaurym commented on #9268
@ryanchristo can we close this since #9472 is merged?

[2021-06-14 15:43] ryanchristo commented on #9268
I wasn't sure if we still needed to address https://github.com/cosmos/cosmos-sdk/pull/9342#discussion_r641581888, so I left the issue open. Maybe we can close the issue, further discuss reviewers with specific roles on one of our team calls, and then open a new issue if we need to make changes. Thoughts?

cc @amaurym @aaronc @clevinson

[2021-06-14 17:18] aaronc commented on #8365
A middle ground which avoids the global is to make this a keeper param rather than a var.

[2021-06-14 17:53] aaronc commented on #9268
The one think I think we should do is require check boxes to be checked off in CI. I still see people aren't really using the checklists...

[2021-06-14 19:07] ryanchristo commented on #9268
This [task list completed](https://github.com/marketplace/task-list-completed) application can be installed by an administrator for free.

[2021-06-14 20:36] aaronc commented on #9268
@okwme @alexanderbez what do you think? I'm not an org admin.

@ryanchristo did you find any good options we could install as an action?

[2021-06-14 20:57] aaronc commented on #9268
@ryanchristo I don't see an option to choose another template... is that because we still have `.github/PULL_REQUEST_TEMPLATE.md` in the root? I don't think change a URL is a good option. If there isn't an easy way to select a template, I think we'll need to simplify the default template and then have some contextual QA checklists that pop up in comments.

[2021-06-14 21:33] ryanchristo commented on #9268
The first option was what I had from our call notes. It also looks like there is another option that can be configured as an action. I can open a pull request that adds it as an action but this would not apply to pull request comments.

Unfortunately there is no UI to choose another pull request template as there is for issues. GitHub requires the author to manually add the parameter to the URL. I

[2021-06-15 05:03] aleem1314 commented on #9489
I couldn't reproduce this issue on `master` and `v0.42.5`. Here I've added tests to test [withdraw-all-rewards](https://github.com/cosmos/cosmos-sdk/compare/master...aleem/9489-withdraw-all-rewards#diff-e6488f4fa8aa4e5791c617f7a6da2e7e8dfd4d7cea548472515c7da044112b63R755) . Also tested this on regen [devnet](https://devnet6.regen.aneka.io/txs/959722EB406A7529BF9D5AFFD6626E48D917DD86B66DC374C61A949

[2021-06-15 09:08] robert-zaremba commented on #8047
@aaronc , @clevinson , the `KeyCdc *LegacyAmino` is used in `printKeyInfo` and `displayParseKeyInfo` CLI functions.

Do you think it will be all right to finally migrate to `sdkContext.Codec` to complete this task?

[2021-06-15 12:15] alexanderbez commented on #9489
I already fixed the broadcast mode bug on `master` and @shahankhatch fixed it in Gaia. Pretty sure we can close this.

[2021-06-15 14:29] ryanchristo commented on #9489
Apologies @aleem1314. Thanks @alexanderbez. I should not have marked this as ready.

[2021-06-15 15:14] atheeshp commented on #9489
@aleem1314 , @alexanderbez should we close this?

[2021-06-15 16:44] RiccardoM commented on #9489
I think it would be worth backporting the fix to `v0.42.x` as well, cause `v0.42.5` is currently broken

[2021-06-15 17:50] clevinson commented on #9058
Closing this issue as we've migrated archiving of Architecture Review notes to a [wiki page](https://github.com/cosmos/cosmos-sdk/wiki/Architecture-Design-Process).

[2021-06-15 18:34] alexanderbez commented on #9489
Yes :)

[2021-06-15 18:34] alexanderbez commented on #9489
Yes, we should also do this. cc @clevinson

[2021-06-15 21:21] clevinson commented on #9268
@aaronc Given that the UX for selecting different templates is pretty lacking, I think we should probably take this approach using [comments in PR action](https://github.com/marketplace/actions/comment-pull-request) or just GitHub scripts as outlined in this repo.

For now, how about we try to get more serious about everyone making use of the checklists in the current default template , and then l

[2021-06-15 21:27] webmaster128 commented on #9507
Running a **client** for a  Cosmos SDK based chain in Wasm should be perfectly possible. It is hard because you need to inject all networking functionality into the sandbox, but can be done. I would just not expect this in this code base. If you really (really really) need a Wasm client, you should probably look into Rust client tooling for Cosmos SDK. There the chances are good this can be develo

[2021-06-16 01:02] skosito opened #9523 "Question about passing sdk.Context to keeper"
Hey,

This question might have simple solution, but I can not make it work.
I have a package in cosmos-sdk application, where I would like to use module keeper (just simple query to get some info). However, I am not sure how to set that up, mainly about how to pass in sdk.Context as first argument? Is there a way to create/get that context instance somehow? Or is it better to query this using rpc

[2021-06-16 01:39] shravanshetty1 commented on #9507
Current plan is to use the rust client libhttps://github.com/cosmos/cosmos-rust. Support for golang browser wasm client lib can be done, the client packages just have to be made independent of the server packages.

Thank you for suggestions, will look into those if rust lib doesnt work out.

[2021-06-16 01:47] shravanshetty1 commented on #9507
@aaronc There is an option for in memory backend for keyring which can be used for now.

 https://github.com/cosmos/cosmos-sdk/tree/master/client/tx this is the package i am talking about which allows clients to build transactions and broadcast them(used in cli). I would like to use this package in wasm to do it in the browser instead of using javascript with cosmjs.

 However I cant since they de

[2021-06-16 09:51] amaurym commented on #9489
@alexanderbez Here's the fix for 0.42.5 https://github.com/cosmos/cosmos-sdk/pull/9527 (hope I backported the correct PR)

[2021-06-16 10:33] #9467 closed

[2021-06-16 15:14] #9489 closed

[2021-06-16 18:24] ryanchristo commented on #9237
Today in our meeting we discussed tackling this issue in separate pieces. @aaronc proposed splitting up the code additions into two pieces, starting with the basic `Table` and `Indexable` functionality, then adding the `StoreKey` and `Context`. In addition, we would add documentation as a third piece. If this makes sense, we can update the description to include three parts:

- [ ] `Table` and `In

[2021-06-16 18:37] ryanchristo commented on #9386
Hey @youngjoon-lee! I just wanted to check in and see if you are still planning on tackling the CLI change.

[2021-06-16 20:51] alexanderbez commented on #9393
@aaronc can you point me to docs or resources on how to actually add a gRPC query please?

[2021-06-16 21:00] ryanchristo commented on #9523
Hey @skosito !

The context is something that is created in a parent process and then passed down to other processes. Within an SDK application, the context is created in the root of the application and then passed down to registered modules.

It sounds like your package might be independent of the application architecture and therefore you might need to use gRPC to query the information you want

[2021-06-16 21:37] skosito commented on #9523
Hey @ryanchristo thanks for response!

Pretty much my cosmos-sdk app will receive external event (not tendermint event), so I would like to get info from KV store in that event handler - that is why I don't have access to sdkContext.

I thought to use gRPC, but just wanted to double check if there is some way to use keeper.

[2021-06-16 22:02] youngjoon-lee commented on #9386
@ryanchristo Yes. Sorry for late. I will open a PR this week.

[2021-06-16 22:32] ryanchristo commented on #9386
No worries! I was just checking. Thanks for letting us know.

[2021-06-16 22:52] aaronc commented on #9393
This is what we've got: https://docs.cosmos.network/v0.42/building-modules/query-services.html#implementation-of-a-module-query-service. I think it could be improved for sure (cc @ryanchristo). You can see examples for other query methods in bank.

[2021-06-17 06:14] marbar3778 commented on #9523
Are you querying from within the keeper or the events submitted via an oracle?

You should not query from within the keeper as http is non-deterministic and will cause you issues.

[2021-06-17 14:15] amaurym commented on #9446
Had another talk with @aaronc and @robert-zaremba, the latest decision we're going with is:
- NOT bump gov&upgrade to `v1` for 0.43
- Bump everything to `v1` at once for 0.44
- Add error handling for time-based upgrades, and graceful support for Vote->WeightedVote conversion

Some reasons we advanced:
- a working group is working towards a Msg-based gov proposal mechanism, which would remove Propo

[2021-06-17 15:04] #9503 closed

[2021-06-17 17:46] skosito commented on #9523
@marbar3778 thanks for response!
What do you mean by "querying within the keeper"? I have event handler (it is nats subscription event, but that is irrelevant) and I just want to query to get entry from KV store. So it is querying outside the keeper, if that is what you refer to?
I managed to make it work by using grpc conn as described in docs above.

[2021-06-17 18:35] robert-zaremba opened #9536 "authz MsgExec ignores all responses but the last one."
## Summary of Bug

`authz/MsgExec` takes multiple messages to execute:

[code]

When dispatching the messages we fail if one of the _sub_ messages fails. However when all succeed, we only return a response from the last message: https://github.com/cosmos/cosmos-sdk/blob/0e64fa77d1173b485421e0dd4d4e95af462cef96/x/authz/keeper/keeper.go#L112-L118

## Version

master, 0.43-beta

## Solution proposal

[2021-06-17 20:41] aaronc commented on #9393
Is it worth creating a denom - address reverse index for this? (i.e. `concat(denom, address)` as the key). An on-chain use case could be distributing some other token to all owners of a denom.

[2021-06-17 21:14] aaronc commented on #9536
Right so instead of `sdk.Result`, `MsgExecResponse` should probably be:

[code]

I don't know why we need to deal with `sdk.Result` at all, we don't need to include `log` and `events` and those actually could be non-deterministic 😲 .

[2021-06-17 21:22] alexanderbez commented on #9393
Yes, I think that idea makes sense. Then we could just prefix scan on `denom` instead of all denominations, right?

[2021-06-17 21:24] aaronc commented on #9393
Exactly, it is extra storage and gas to make that work, but it would be kind of nice. We probably don't need to store the actually balance under that reverse key so it only needs to be set once per denom/address pair and then deleted when the balance goes to zero. If we do it, it will need a migration.

[2021-06-17 21:56] robert-zaremba commented on #9536
Yeap - this is what I did in fact.

[2021-06-18 12:56] #9420 closed

[2021-06-18 13:02] alexanderbez commented on #9393
Why would this need a migration and how would that look like? Is this worth the change?

[2021-06-18 16:23] aaronc commented on #9438
@cmwaters green light to move forward on this. We will need to write an ADR to document the changes. Let's chat to coordinate the on that.

[2021-06-18 19:06] #9536 closed

[2021-06-19 04:12] faddat opened #9547 "Chains cannot reach the tip"
## Summary of Bug

https://github.com/cosmos/gaia/issues/873
https://cosmos.quicksync.io/#

## Version

4.42.5

## Steps to Reproduce

Sync gaia & friends

PS:  I can avoid this issue by throwing unreasonably large amounts of hardware at the problem, but I do not consider that a decent solution.

____

## For Admin Use

- [ ] Not duplicate issue
- [ ] Appropriate labels applied
- [ ] Appropriate c

[2021-06-19 04:14] alexanderbez commented on #9547
I'm not sure having this issue around will do much good. We already know IAVL is very slow and is being actively replaced. No need to track another issue IMHO.

[2021-06-19 05:30] faddat commented on #7100
https://github.com/handshake-org/urkel

?

[2021-06-19 07:45] #9547 closed

[2021-06-21 08:08] fedekunze commented on #5540
related #8222

[2021-06-21 11:11] faddat opened #9554 "Readme.md modernization"
## Summary

The readme file is dated and I'm using #9546 as a place where it's being updated.

## Problem Definition

* Why do we need this feature?

We've accomplished huge things and the Readme sounds like we are still pre-launch.

* What problems may be addressed by introducing this feature?

Onboarding will be made easier and we will show ourselves to be what we are: the world's first network

[2021-06-21 13:24] #9514 closed

[2021-06-21 14:16] Freak12Techno opened #9556 "Add a command to claim rewards + delegate them to a specific validator"
## Summary

For now there's no command to claim rewards from a specific validator and stake them again using the CLI. Would be nice to have it I think.

## Problem Definition

If you are a staker, you probably use `claim rewards + stake them again` transactions to increase the rewards rate. Cosmostation wallet, for example, provide this functionality, but I couldn't find it in cosmos-sdk CLI and i

[2021-06-21 14:23] alexanderbez commented on #9556
I'm not sure we want transaction commands to do any querying under the hood. In addition, this won't work in offline mode.

[2021-06-21 14:30] clevinson opened #9557 "Transaction tips & tx middleware"
[View this Epic on ZenHub](https://app.zenhub.com/workspaces/regen-network---blockchain-eng-60677630201cec0017c79548/board?epics=51193526_9557&filterLogic=any&repos=133723334,51193526,369126800&showPRs=false)

### Overview

This working group aims at delivering the [transaction tips](https://github.com/cosmos/cosmos-sdk/issues/9912) feature. To achieve this, baseapp has been refactored into [middl

[2021-06-21 15:37] #9386 closed

[2021-06-22 09:43] okwme opened #9560 "`keys parse` hangs forever with no default switch during `GetSealedConfig`"
## Summary of Bug

I'm trying to run the command:
[code]
but it hangs forever. Digging into the key command it looks like this line 60 in `/types/config.go`:
[code]
Neither of the select statements ever finalize and so the command hangs. When I change it to:
[code]
I see the `"whyyyy"` error.

## Version
I'm using a custom built version of gaia and tried it with cosmos sdk `v0.42.4` as well as wit

[2021-06-22 10:02] 17y commented on #5759
# github.com/keybase/go-keychain
cgo-gcc-prolog:203:11: warning: 'SecTrustedApplicationCreateFromPath' is deprecated: first deprecated in macOS 10.15 - No longer supported [-Wdeprecated-declarations]
/Library/Developer/CommandLineTools/SDKs/MacOSX.sdk/System/Library/Frameworks/Security.framework/Headers/SecTrustedApplication.h:59:10: note: 'SecTrustedApplicationCreateFromPath' has been explicitly

[2021-06-22 10:54] amaurym commented on #9560
https://github.com/cosmos/cosmos-sdk/pull/9561

[2021-06-22 11:05] robert-zaremba opened #9562 "kwallet keyring backend doesn't work"
## Summary of Bug

I'm trying to create a new keyring wallet with `kwallet` backend.

## Version

SDK: 0.43-beta
kwallet 5.82.0-1 (kf5)
OS: Arch Linux

## Steps to Reproduce

Adding keys to a kwallet based keyring wallet doesn't work:

It doesn't work:

[code]

The wallet was initially empty, after the command above, `simd` wallet was created, but with no keys:

![image](https://user-images.github

[2021-06-22 11:41] robert-zaremba commented on #9562
cc; @alessio

[2021-06-22 12:45] okwme commented on #9560
beautiful! ty

[2021-06-22 12:46] alexanderbez opened #9564 "Invalid Metrics"
## Summary of Bug

IBC metrics break Prometheus metrics exposed in Tendermint's RPC.

[code]

## Version

[code]

## Steps to Reproduce

1. Run a `cosmoshub-4` node.
2. Sync to about ~6656325 block height.
3. Enable and query Tendermint's metrics @ `host:26660/metrics`

____

## For Admin Use

- [ ] Not duplicate issue
- [ ] Appropriate labels applied
- [ ] Appropriate contributors tagged
- [ ] Co

[2021-06-22 13:09] mrlp4 opened #9565 "Implement SetOption to the ABCI interface."
## Summary

Implement feature SetOption to ABCI interface.

https://github.com/cosmos/cosmos-sdk/blob/5e564352ae770ec2bfb259b41f01d6cf73e7d46b/baseapp/abci.go#L120

That will help to exchange  non-consensus data:
E.g. all cosmos-based chains suffer from possibility to reliably exchange peers addresses through on-chain interfaces. Especially actual for new chains with low amount of validators and w

[2021-06-22 13:26] blushi commented on #9407
Regarding "can't easily edit key names" item, is it ok if we add a subcommand like `./simd keys edit`? @ebuchman

[2021-06-22 13:34] marbar3778 commented on #9565
I believe this was removed. We didn't see a reason for keeping it. It was also not used by any project we talked to.

Can you describe your use case?

[2021-06-22 14:20] mrlp4 commented on #9565
I sad to see thus things being created: (There's a peer lists for cosmoshub-4 and osmosis-1 chains, created at third party "hackmdwhatever")
https://hackmd.io/TpdZs3_JQAODEY3HZtua2Q?both
https://hackmd.io/_JcgQw5iTC66aspJWxhrxw?both

And every time you coming to new chain you have to go to Dicsord, TG chats or wherever else and ask for a peers. And i know, big chains, like cosmoshub, don't care ab

[2021-06-22 14:52] marbar3778 commented on #9565
well there are easier ways to fix this even today. I dont believe setOption does anything, at least I have never seen it used and dont understand the use case.

[2021-06-22 15:55] helder-moreira opened #9566 "stdin redirection does not work when recovering accounts"
## Summary of Bug

Redirecting mnemonic and keyring passphrase to `stdin` stopped working  when recovering an account.

## Version

`>= v0.42.5`

## Steps to Reproduce

Add the following to a `test.txt` file:
[code]

Compile `simapp` from `v0.42.4` and then try to redirect to `stdin` from `test.txt` file:
[code]

Compile `simapp` from `v0.42.5` and then retry:
[code]

Also affects `v0.42.6`.
____

[2021-06-22 19:30] #9501 closed

[2021-06-22 21:40] Freak12Techno commented on #9556
This makes sense, I haven't thought about that. I'll close it then.

[2021-06-22 21:40] #9556 closed

[2021-06-23 08:13] robert-zaremba opened #9568 "keyring: remove package dependency replacement once fix is merged in 99designs/keyring#87"
## Summary

In https://github.com/cosmos/cosmos-sdk/pull/9563 we added a replacement for 99designs/keyring. Once the https://github.com/99designs/keyring/pull/87 is merged, we should remove the replacement and bump the version.

____

#### For Admin Use

- [x] Not duplicate issue
- [x] Appropriate labels applied
- [x] Appropriate contributors tagged
- [x] Contributor assigned/self-assigned

[2021-06-23 08:41] amaurym commented on #9566
Thanks @helder-moreira! Did you try and debug to see where in the code this comes from (e.g. which PR)?

[2021-06-23 08:42] #5540 closed

[2021-06-23 09:08] mrlp4 commented on #9565
Can you share your pov on the problem i described?

[2021-06-23 09:11] marbar3778 commented on #9565
A team could embed a boot seed node so that when a user spins up a new blockchain, it automatically gets entered into the network. Secondly, for the genesis file, a team could also embed the url of where it is stored and download it prior to starting the node. This can be done automatically or there could be a command, `appd get-genesis` in which it would get it from the correct location.

[2021-06-23 10:01] AdityaSripal opened #9569 "Refund Unused Fee"
## Summary

Currently, the SDK tx only allows a user to specify the maximum gas for a tx and the fee they're willing to pay. This creates an implied `gasPrice`. However, the fee gets deducted in its totality regardless of what the eventual gas ends up being. It would be ideal if the remainder of the fee gets refunded in cases where the consumed gas is less than the specified limit.

## Problem Def

[2021-06-23 10:26] helder-moreira commented on #9566
@amaurym No, I did try but not extensively.

[2021-06-23 11:17] toschdev commented on #9566
I've now tried to reproduce this behavior on various versions and two machines.
Here is the output that I got.

MacOS Catalina version 10.15.7 (works fine)

[code]

 Ubuntu 20.04 (LTS) x64 (here is the issue)

[code]

Worked fine with version 0.42.4

[code]

[2021-06-23 12:27] #9560 closed

[2021-06-23 13:03] #9446 closed

[2021-06-23 13:26] amaurym commented on #9393
See example [here](https://github.com/cosmos/cosmos-sdk/blob/29c7a469feed13691e1b8244b5f9173126d8320c/x/bank/legacy/v043/store.go#L72) for 0.42->0.43 store migrations.

For now #9533 is non-breaking, so let's merge that into 0.43. The denom++address index is a nice-to-have for me, we can create a separate issue for it, and include it in 0.44 (with a 0.43->0.44 store migration).

[2021-06-23 14:30] marbar3778 opened #9570 "bug: pruning while acitve reader is present"
## Summary of Bug

Node tried to prune with an active reader, this should not be possible

## Version

0.42.5

## Steps to Reproduce

you can reproduce by syncing an osmosis node with pruning set to everything.

logs:

[code]

cc @ValarDragon @sunnya97
not sure if this coming from one of your modules but should make note in a README.
____

## For Admin Use

- [x] Not duplicate issue
- [ ] Appropri

[2021-06-23 16:30] clevinson commented on #8964
Hey @iramiller -- we'll be merging #8590 into a v1.0 of cosmovisor soon (in conjunction with v0.43 release of the SDK). Hopefully that resolves this issue. Will you be able to see if the changes in $8590 take care of this?

[2021-06-23 16:32] clevinson commented on #8964
The other pieces you mention look like they could be great to have in cosmovisor. Maybe let's see what the v1.0 release looks like with the change to file based handlers, and then if there's interest in opening a PR upstream with the remainder of pieces from your fork that would still be useful we can get some folks on our team to review it.

[2021-06-23 16:41] fedekunze commented on #9569
We implemented this on Ethermint

https://github.com/tharsis/ethermint/blob/main/x/evm/keeper/state_transition.go#L274

[2021-06-23 17:25] iramiller commented on #8964
Well @clevinson --  https://github.com/cosmos/cosmos-sdk/pull/9384 directly implements the remediation as outlined above in this issue (even though these two are not linked at the moment).  The other changes in #8590 are nice too as relying on logs at all seems like a poor design.

[2021-06-23 17:59] marbar3778 commented on #9569
can we close this in favor of https://github.com/cosmos/cosmos-sdk/issues/2150

[2021-06-23 18:00] marbar3778 commented on #9570
This is a bug where snapshotting was configured to x and pruning was configured to y. It would be good to error out in the case where snapshotting is not happening on a multiple of pruning. this way you avoid getting to a hieght and erroring out

[2021-06-23 18:12] aaronc commented on #9569
I think ante decorators should wrap all of `runMsgs` rather than just pre-processing. That seems like the most obvious architecture to generally solve this class of problems.

[2021-06-23 22:31] robert-zaremba opened #9575 "Rosetta: more user guide and troubleshooting"
## Summary

In v0.43 release has a first production ready Rosetta client integrated. However we are missing proper documentation about the setup and best practice.

## Problem Definition

When we were trying to run and integrate Rosetta, we encounter some problems. Let's have a proper guide for Rosetta API

## Proposal

We should provide:

- [x] setup instructions
- [x] user guide (how to use rose

[2021-06-24 06:32] albertchon commented on #9575
We've been facing this issue https://github.com/cosmos/cosmos-sdk/issues/9488 with Rosetta breaking when processing a block containing a transaction that creates a new denom.

This would need to be fixed in order for Rosetta to be compatible with the Gravity bridge, as new denoms are created and minted when new ERC-20 tokens are transferred from Ethereum to the Gravity module for the first time.

[2021-06-24 08:30] ethanfrey opened #9577 "Inconsistent Limit in InfiniteGasMeter"
## Summary of Bug

`Limit()` on InfiniteGasMeter always returns `0`: https://github.com/cosmos/cosmos-sdk/blob/master/store/types/gas.go#L148-L150

This is not true and causes issues in code that check for Limit before performing an action: https://github.com/CosmWasm/wasmd/pull/539#pullrequestreview-690563249

The main point being there is no clear way to determine how much gas is left in the met

[2021-06-24 09:16] AdityaSripal commented on #9569
I'm in favor of the approach if the Regen team approves as well. I know I along with the initial SDK team decided to go with a less powerful approach, but as SDK has evolved I think it makes sense to enable this feature and potentially others.

[2021-06-24 09:27] AdityaSripal commented on #9569
One issue to note that the SDK team initially considered when making our decision was how CheckTx should change in light of this.

Originally the antehandler was purely doing pre-processing of a transaction, and made basic tx-level checks on validity before handlers did message-specific checks and state updates.

So CheckTx naturally just ran the antehandler and skipped message execution which hap

[2021-06-24 09:48] fedekunze commented on #9577
Agree that this is very confusing, I guess that's why the `ConsumedToLimit` function was implemented in the first place

[2021-06-24 10:07] #9562 closed

[2021-06-24 10:30] ethanfrey commented on #9577
That says how much was consumed, not how much was left.

We need to use this remaining gas as a limit in wasmer for the smart contracts. And have to special case limit == 0 only as we know the implementation of InfiniteGasMeter, which is fragile

[2021-06-24 10:45] fdymylja commented on #9575
We have discussed about current Rosetta implementation issues here: https://github.com/regen-network/regen-ledger/issues/352#issuecomment-866723791

Regarding newly minted denoms, it's a known issue but unfortunately Coinbase is not being responsive on how to address this use case. (NOTE: this fails at rosetta-cli level only, if you query anything using the rosetta client you won't encounter any i

[2021-06-24 15:46] robert-zaremba commented on #9575
I know, @fdymylja  - I think that it's better that the person who is in charge of Rosetta will handle it or re-delegate. For most of us it will be re-engineering to go through the process.

[2021-06-25 03:35] trim-me opened #9581 "/bank/accounts/{address}/transfers Signatures is empty []"
Result:
[code]
-   "signatures": []  //  is empty

[2021-06-25 03:40] trim-me commented on #9581
cosmos sdk version 0.42.5

[2021-06-25 03:48] trim-me commented on #9581
result not empty Signatures of the example,  but mine result empty

[2021-06-25 10:41] #9106 closed

[2021-06-25 11:55] #9475 closed

[2021-06-25 14:10] clevinson commented on #7036
We're putting this in the icebox at the moment, as this will likely need to be coordinated with the introduction of the ORM module, likely with some updates (as discussed in #9237)

[2021-06-25 14:27] clevinson commented on #7563
@akhilkumarpilli We'd like to discuss this at our next architecture call on Friday July 2. @anilCSE will invite you to that call.

[2021-06-25 14:31] noandrea commented on #9575
Summing up the rosetta history, the [original PR](https://github.com/cosmos/cosmos-sdk/pull/9314) that includes the Rosetta support within the cosmos-sdk supports the stargate release series.

The functionality and how to use it has been documented in the relevant [ADR](https://github.com/cosmos/cosmos-sdk/blob/master/docs/architecture/adr-035-rosetta-api-support.md) and in the  [article](https://

[2021-06-25 14:37] anilCSE commented on #7774
Akash has something I believe https://github.com/ovrclk/cosmos-supply-summary

[2021-06-25 14:38] aaronc commented on #7774
In order for this to happen, we either need to:
* track the liquid supply as an index (part of #9336) so that the query doesn't have to iterate over all accounts
* make sure that queries don't block ABCI, which I believe will be possible when ABCI++ and SMT are integrated

[2021-06-25 14:39] clevinson commented on #8141
Closing this in favor of #9146, which will resolve the issue

[2021-06-25 14:39] #8141 closed

[2021-06-25 14:40] aaronc commented on #7615
A proposed API for a new `authn` module is in #9369.

[2021-06-25 14:50] amaurym commented on #9581
If you signed with SIGN_MODE_DIRECT, the signature is expected to be empty when POSTing on the legacy REST endpoint.

Please use the new broadcast REST endpoint: https://docs.cosmos.network/v0.42/run-node/txs.html

[2021-06-25 14:50] #9581 closed

[2021-06-25 14:51] clevinson commented on #9570
Do you think this could be state machine breaking, or is can it be safely back ported to v0.42.x ?

[2021-06-25 14:53] clevinson commented on #9569
Closing in favor of #2150

[2021-06-25 14:53] #9569 closed

[2021-06-25 14:54] clevinson opened #9585 "Migrate antehandlers to middleware based design"
Currently `AnteDecorators` only apply to transaction pre-processing. There are many use cases for middleware where the whole transaction is wrapped (see #9569 #2150).

---
cc @aaronc

## Proposed Implementation

We propose a 2-part implementation so that PRs are smaller and easier to review:

- [x] Refactor runTx and runMsgs into middlewares #9920
- [ ] Consider merging Response types https://gith

[2021-06-25 14:56] aaronc commented on #9569
I think this makes sense. One thought I had was to have separate `Check` and `Deliver` methods in the ante-decorators so that it is more clear that there is a distinction. All ante-decorators would probably need to skip post-processing if we are not running the whole transaction in `CheckTx`, although running all the messages may not be a bad idea.

[2021-06-25 14:57] clevinson commented on #9565
Marking this as closed, as there are other ways to handle this besides SetOption.

[2021-06-25 14:57] #9565 closed

[2021-06-25 15:02] clevinson commented on #9507
Closing as this is outside of the scope of what we can do directly in Cosmos SDK. For browser support, you should look at Rust or CosmJS.

[2021-06-25 15:02] #9507 closed

[2021-06-25 15:04] aaronc commented on #9508
We can't add the hash to `TxBody` because that would make it recursive, which isn't possible. `GetBlockByHeightResponse` uses tendermint types so this would need to be addressed upstream in what tendermint returns. @marbar3778 any thoughts? Otherwise, I think we'll need to close as can't fix.

[2021-06-25 15:11] aaronc commented on #9585
As a starting point for discussion I propose the following design:

[code]

This uses a conventional middleware pattern where middleware is simply a function taking a handler and returning a new handler. `next` is not routed through as a parameter, rather every middleware handler keeps a reference to the next handler in the chain.

[2021-06-25 15:12] aaronc commented on #9585
@AdityaSripal any thoughts? @ethanfrey ?

[2021-06-25 17:00] alexanderbez commented on #9577
For the time being, can you just check the type of the gas meter and not execute calls to `Limit` in cases where it's an `InfiniteGasMeter`?

[2021-06-25 17:12] alexanderbez commented on #9570
I thought we already added a check for this in `BaseApp`? Not sure if its in 0.42. I could be wrong here, but I thought we added a check to make sure the snapshotting configuration takes into consideration the pruning configuration.

[2021-06-25 17:13] alexanderbez commented on #9570
https://github.com/cosmos/cosmos-sdk/blob/master/baseapp/baseapp.go#L307-L318

[2021-06-25 17:16] alexanderbez commented on #9585
Seems reasonable to me. What are the main advantages here? Also, we must still ensure we keep CheckTx as lightweight as possible and also respect re-checktx.

[2021-06-25 17:32] aaronc commented on #9585
I would say:
* ability to configure what happens after Msg processing. The two use cases I've seen are:
  * refunding gas
  * running hooks/event listeners on events
* fully modular `BaseApp`

[2021-06-25 19:41] alexanderbez commented on #9585
Makes sense to me!

[2021-06-25 22:55] aaronc commented on #9393
Could you create an issue for that @amaurym ? I'd like to put it on the roadmap for the next release. It's also desirable if bank is used for storing NFTs.

[2021-06-27 04:15] chiro-hiro opened #9587 "Might be a wrong definition of IP packets"
## Summary of Bug

This document section:
https://github.com/cosmos/cosmos-sdk/blob/master/docs/ibc/overview.md#channels

Contain:

It isn't accurate, src port and dest port is belong to layer 7 e.g UDP,TCP.

## Version

`cb66c99`

## Steps to Reproduce

N/A

____

## For Admin Use

- [ ] Not duplicate issue
- [ ] Appropriate labels applied
- [ ] Appropriate contributors tagged
- [ ] Contributor a

[2021-06-28 07:59] marbar3778 commented on #9570
ah then it should be backported.

[2021-06-28 08:06] marbar3778 commented on #9508
The respnse here is the block. Addding hash to the block would waste space on the tendermint side. The application could hash the txs and add the hash or the client could hash it them selves.

[2021-06-28 08:41] noandrea commented on #9575
@anilCSE what is the current status of the `regen-devnet-6-4` ?

As mentioned before the proto files have being going through some changes and I believe at this point would be better to dump/restore the chain data from the latest v0.43 release

[2021-06-28 09:08] amaurym opened #9590 "Add a `denom ++ address` index in x/bank"
## Summary

We currently store balance's as `address ++ denom`. We should create another one which is `denom ++ address`

## Problem Definition

#9393 adds a feature to query denom owners. The current implementation #9533 loops through all addresses, unmarshals each balance, and filters out balances whose denom doesn't match. This is an expensive operation.

This index is also desirable if bank is

[2021-06-28 09:08] amaurym commented on #9590
@alexanderbez I assigned you to this issue!

[2021-06-28 09:08] amaurym commented on #9393
https://github.com/cosmos/cosmos-sdk/issues/9590

[2021-06-28 09:13] amaurym commented on #9116
Latest update: rc0 is released!

[2021-06-28 13:30] zmanian opened #9595 "Enable creating of periodic vesting accounts on a running chain"
The Cosmos SDK currently contains a periodic vesting account type that is helpful because it can model common vesting/unlocking contracts. These vesting accounts can only be created in genesis.

**Goal:** Introduce a new msg that enables creating vesting accounts.

____

#### For Admin Use

- [ ] Not duplicate issue
- [ ] Appropriate labels applied
- [ ] Appropriate contributors tagged
- [ ] Contr

[2021-06-28 14:30] amaurym commented on #7472
IMO the app version should not go in the params store. Only params that can be changed by gov proposal should go in.

Currently app_version is stored in x/upgrade's state. We also have the following logic for app_version:
- app developers can set whatever app_version they want in the genesis file
- on each software upgrade, it's [bumped](https://github.com/cosmos/cosmos-sdk/blob/e17be874bb0e3a246b

[2021-06-28 14:32] marbar3778 commented on #7472
super fine to close it. I wasnt aware we update the app version in tendermint via the upgrade moduel

[2021-06-28 14:40] #9393 closed

[2021-06-28 14:56] amaurym commented on #9239
Is `ValidateMsg` only for CLI? How about validation for grpc and rest calls? I would prefer an audit of all ValidateBasics to make sure they validate bech32 addresses.

[2021-06-28 15:10] robert-zaremba commented on #7703
Fixed in https://github.com/cosmos/cosmos-sdk/pull/8590
Still in review and testing. Will be released next to the v0.43.

[2021-06-28 15:46] robert-zaremba commented on #9239
Removign "DO NOT MERGE" flag - `master` is already in the v0.44 cycle.

[2021-06-28 15:51] robert-zaremba commented on #7240
Agree with @ethanfrey  - the requested feature is not related to upgrade, but to make a fork and it will be difficult to build that functionality because cosmovisor listens for chain upgrade messages from the "canonical" chain.  I suggest we either:

* rename this task
* or close it

cc: @clevinson

[2021-06-28 15:53] robert-zaremba commented on #8964
This is solved in: https://github.com/cosmos/cosmos-sdk/pull/8590 (still in review and testing).

[2021-06-28 17:49] michaelfig commented on #7240
I'll close this task for now, and will reference it in some future effort to accomplish the goal.

[2021-06-28 17:49] #7240 closed

[2021-06-28 18:23] jhernandezb opened #9598 "Sentinel Errors"
## Summary of Bug
sdk errors package allows new modules to register their own sentinel errors through `sdkerrors.Register(ModuleName, Code, Message)` but documentation around how to use it is inconsistent since all sdk modules start with code `2` without explaining why it should.

I found a while back that if you use code `1` for a sentinel error while building a module there is nothing that preve

[2021-06-28 18:33] alexanderbez commented on #9598
@jhernandezb what exactly are you looking for concretely here? The docs state `1` is reserved and that you cannot use it.

[2021-06-28 18:35] ryanchristo commented on #9523
You should not use gRPC to query information if you are building a module and trying to access information within the KVStore of another module. I was only recommending gRPC if your package is outside the application architecture (i.e. its not a module within your SDK application). Modules interact with other module's through the keeper. If you are building a module, you can add another module as

[2021-06-28 18:37] jhernandezb commented on #9598
not really sure if thats been there but I missed it but the code snippet is wrong and like me I think that's what people might see first as an example see the the links of modules I posted.

Probably this is the wrong repo for docs issues

[2021-06-28 18:55] alexanderbez commented on #9598
Good catch, the code snippet should be fixed. But the use of not allowing 1 has been there for a while.

/cc @alessio

[2021-06-28 20:33] skosito commented on #9523
Hey @ryanchristo thanks for answer.

I need to query outside KVStore of another module. The place I need to query from doesn't have access to keeper, or sdkContext to pass to keeper. I think gRPC is the only way to this.

[2021-06-29 04:09] ryanchristo commented on #9523
@skosito No problem!

Given your current setup, using gRPC is the answer. It's not possible to access the store of a module using the keeper without building a module with the necessary capabilities. This is a security feature that prevents anyone from spinning up an instance of the keeper and changing the state of the blockchain.

I hope that answers your question. I'm going to close this issue b

[2021-06-29 04:09] #9523 closed

[2021-06-29 07:35] fedekunze opened #9604 "`init` command should fetch chain id from config"
## Summary of Bug

if not provided, the `init` command should fetch the chain id from the config before failing

## Version

`v0.43.0-rc0`

## Steps to Reproduce

- set chain id using

`<app>d config chain-id $CHAINID`

- initialize chain using `init` (without chain id)

`<appd> init $MONIKER`

[code]

____

## For Admin Use

- [ ] Not duplicate issue
- [ ] Appropriate labels applied
- [ ] Appropr

[2021-06-29 07:36] fedekunze commented on #9604
probably affects a few other commands

[2021-06-29 10:26] #9346 closed

[2021-06-30 16:52] robert-zaremba commented on #3109
We have multistore documentation.

[2021-06-30 16:52] #3109 closed

[2021-06-30 21:24] ryanchristo opened #9615 "Remove Legacy REST documentation"
## Summary

Following #9594, we will need to remove/update legacy REST documentation. This should be done after #9567 has been merged and backported to `release/v0.43.x`. Documentation that will need to be removed/updated includes the following:

- https://docs.cosmos.network/master/basics/app-anatomy.html
- https://docs.cosmos.network/master/core/grpc_rest.html
- https://docs.cosmos.network/maste

[2021-06-30 22:23] robert-zaremba opened #9616 "Atomic migrations"
## Summary

Today, migrations are not always atomic. If a migration fails, we don't have an easy solution to rollback the changes.

## Problem Definition

In-place migration are great addition to the SDK. However if not tested carefully, they can cause extensive problems to a node admin.
When running a migration, changes are written to the disk.
+ if we add a new store, then it's committed immedia

[2021-06-30 22:25] robert-zaremba commented on #9616
When thinking more about it, the option (4.) is the best. The option (1) is the easiest.

[2021-06-30 22:27] robert-zaremba commented on #9616
@zmanian , @jackzampolin   -- I guess in the past this was not a problem because we were always exporting the state (genesis) and it took a time anyway.

[2021-06-30 22:52] alexanderbez commented on #9616
You could do (1) and (4), doing (1) first and if you think you could do (4) in a reasonable amount of time. If not, then at least you can fallback on (1).

[2021-06-30 23:26] aaronc commented on #9616
I think it is helpful to clarify that they are only non atomic if KVStores are being added, renamed or deleted. That will only happen if modules are added or removed due to the multi store design. If there are no new modules and just migration code, the migrations will be atomic.

[2021-07-01 06:15] akhilkumarpilli commented on #7563
@clevinson I am not sure whether I can be available for call as I need to undergo a minor surgery on friday. @anilCSE will help in discussions regarding typed events incase of my absence.

[2021-07-01 08:52] #9499 closed

[2021-07-01 09:34] robert-zaremba opened #9617 "Use oasisprotocol/curve25519-voi for ed25519 verification"
## Summary

Tendermint ported the ed25519 verification to ossis labls library which provides better handling of ed25519 and sr25519. We should follow their changes and migrate from hdevalence/ed25519consensus to oasisprotocol/curve25519-voi

ref: https://github.com/tendermint/tendermint/pull/6526

____

#### For Admin Use

- [x] Not duplicate issue
- [x] Appropriate labels applied
- [ ] Appropriat

[2021-07-01 11:11] robert-zaremba opened #9619 "feat(bank): extend bank keeper by providing a convinient funtion to mint tokens to an account."
## Summary

Current minting function is designed only for minting tokens to a module. For further adoption of the x/bank module we need a function to mint to any account.

## Problem Definition

In the NFT [ADR](#9329) discussions we were proposing to use x/bank to manage assets. People were afraid that it will require additional refactoring. In fact we don't need much to make token minting more u

[2021-07-01 11:11] robert-zaremba commented on #9619
cc: @aaronc , @haifengxi , @alexanderbez , @fdymylja , @jgimeno

[2021-07-01 11:14] fdymylja commented on #9619
Which component decides who/what has the authorization to mint a certain asset?

[2021-07-01 14:26] alexanderbez commented on #9619
I imagine it would be up to the module(s) in concern to decide who/when gets minted coins. I can definitely think of certain use-cases where this would be useful. Today, if you wanted to to this, you'd have to mint to a module account and then send those tokens from the module account to a regular account. So this proposal just seems to save us one step?

[2021-07-01 18:40] #9502 closed

[2021-07-02 12:03] amaurym commented on #9570
This is actually already in v0.42.x: https://github.com/cosmos/cosmos-sdk/blob/release/v0.42.x/baseapp/baseapp.go#L296-L308

[2021-07-02 13:44] zmanian commented on #9616
yeah the way this was achieved in the past was via state exports. This is a good and important observation. We definitely need a checkpoint and recovery mechanism.

Can we get some kind of primitive snapshot functionality into cosmovisor before the cosmoshub upgrade?

[2021-07-02 14:09] alexanderbez commented on #9570
So can we close this?

[2021-07-02 14:13] alexanderbez commented on #9616
@zmanian I think the easiest approach for now is for operators to just take a backup of their data directory prior to upgrading.

[2021-07-02 14:16] zmanian commented on #9616
As a practical matter this would mean telling people not to use cosmovisor during the upgrade and I've been asked to tell people to use cosmovisor.

[2021-07-02 14:27] alexanderbez commented on #9616
I think they could/should still use it. In the case of an error, they'd have to wipe the resulting data directory and restart cosmivisor?

[2021-07-02 14:39] anilCSE commented on #9616
Yes, there's no straight way to rollback in case of upgrade failures. So need to wipe off the data and use backup/or resync.

may be, one quick fix we can add to the cosmovisor is, take a backup if the disk space is available or via a ENV setting, defaults to `true`. If it's set to false, cosmovisor  can just try upgrading and in case of failure, node operators can fix it manually later. In other

[2021-07-02 14:44] anilCSE commented on #9616
Or may be simply,
`UNSAFE_UPGRADE`:
- If true, the cosmovisor will try to upgrade without any backup
- if false, cosmovisor will try to take backup and then upgrade. In case of failure in taking backup, it will just halt the process there and won't try the upgrade.

[2021-07-02 14:51] alexanderbez commented on #9616
ACK

[2021-07-02 15:07] aaronc commented on #9616
@ethanfrey I wonder if you have any insights on some way we might be able to provide a clean rollback?

I do agree though that the safest thing is always to do a backup so having that as the default like @anilCSE is suggesting seems wise.

[2021-07-02 15:09] aaronc commented on #9616
Also, are we rolling back the panic on empty minimum gas prices which caused the upgrade failures @anilCSE @robert-zaremba ? Seems like we should just emit a warning until the next release.

[2021-07-02 15:40] amaurym commented on #9616
this just got merged

[2021-07-02 16:48] robert-zaremba commented on #9616
Let's start with option 1. -  full backup controlled by a flag.
And later we will use snapshot mechanism.

[2021-07-02 16:49] robert-zaremba commented on #9616
BTW: some upgrades can take a lot of memory (eg if we were to update all bank managed storage) if we keep the cash wrapper.

[2021-07-02 23:50] chibssoa94 opened #9624 "Question about security when broadcasting from rest endpoint"
Hey everybody, I need some help with this situation, please help me :)

I have cosmos-sdk application which exposes rest endpoint that:
accepts some data --> process data --> creates MSG and unsigned transaction --> read key from key ring (currently "test" keyring) --> sign transaction --> broadcast transaction.

I need this to happen like this, I can not separate signing of transaction into some

[2021-07-05 09:59] fedekunze opened #9629 "`sdk.Int` marshaling of empty instance is always 0 instead of `"<nil>"`"
## Summary of Bug

Marshaling of an empty `sdk.Int` always populates the `big.Int` value to zero. This is unexpected from applications as the encoding of a `nil` value for `big.Int` should be `"<nil>"`.

[code]

## Version

v0.43.0-rc0

## Steps to Reproduce

- create an empty `sdk.Int` instance and call `Marshal`

____

## For Admin Use

- [ ] Not duplicate issue
- [ ] Appropriate labels applied

[2021-07-05 10:07] #9479 closed

[2021-07-05 10:28] amaurym commented on #9570
Or at least @marbar3778 could you help us reproduce this? @likhita-809 on our side ran an osmosis node with `pruning = "everything"` until ~17000 and still can't repro.

[2021-07-05 10:29] fedekunze commented on #9629
I also see that `UnmarshalText` fails when the nil string is provided. What should be the expected behavior here? As it's not documented in the `sdk.Int` comments, I don't know what to expect after providing a `nil` `*big.Int`

[2021-07-05 10:29] fedekunze commented on #9629
cc: @odeke-em @alexanderbez @aaronc @zmanian @clevinson

[2021-07-05 10:36] fedekunze commented on #9629
I also don't understand why we need to both marshal json and marshal text:

https://github.com/cosmos/cosmos-sdk/blob/1b0b8e99973bd959759e1b2777edb9e1c6bda609/types/int.go#L329-L365

[2021-07-05 10:56] marbar3778 commented on #9570
then it seems there is some non-determinism somewhere. I was able to reproduce it on two nodes. Will try again

[2021-07-05 12:33] alexanderbez commented on #9629
I cannot recall why we explicitly have both text and JSON marshalling variants. We could probably remove the text variant and just copy the logic directly into the JSON variant.

As for `<"nil">` vs `""`, we should stick with the idiomatic `"nil"` probably?

[2021-07-05 14:33] #9138 closed

[2021-07-05 14:55] #8700 closed

[2021-07-05 15:31] amaurym commented on #8669
This is closed in v0.42.5: https://github.com/cosmos/cosmos-sdk/releases/tag/v0.42.5

[2021-07-05 15:31] #8669 closed

[2021-07-05 16:05] likhita-809 commented on #9566
Worked fine with `Ubuntu 20.04.1 (LTS)`

[code]

Worked fine with `Ubuntu 18.04.5 (LTS)` also

[code]

[2021-07-05 16:10] likhita-809 commented on #9566
Everything seems to be working fine. Maybe we don't need to work actively. Wdyt @helder-moreira ?

[2021-07-05 16:37] helder-moreira commented on #9566
@likhita-809 maybe its with go 1.16? Can you try on your end? @toschdev was also using go 1.16. Just checked on my linux setup and its go 1.16 too:

[code]

[2021-07-05 17:56] frumioj commented on #2759
Noting this in the output above:

`$ make build-linux
LEDGER_ENABLED=false GOOS=linux GOARCH=amd64 make build`

GOOS and GOARCH are hardcoded.

(which is related to an issue I'm about to file).

[2021-07-05 18:05] frumioj opened #9635 "make localnet-start fails on non linux/amd64 platforms"
## Summary of Bug

When I want to create a local network using 'make localnet-start', the build fails. Two related issues:

1. make localnet-start invokes make build-linux, which hardcodes GOOS and GOARCH to linux/amd64 (and my platform is either linux/arm64 or darwin/arm64)
2. the wrapper.sh file makes a check for an x86_64 ELF binary when running the binary in a container.

[code]

## Version

C

[2021-07-05 18:10] frumioj commented on #9635
#2759

[2021-07-05 18:28] #8581 closed

[2021-07-06 04:58] yihuang opened #9636 "`/app/simulate` don't support execute on historical state"
## Summary

In ethermint, `eth_call` is implemented with `/app/simulate`, to call smart contract locally and return the result.
But current the `/app/simulate` api don't support query historical state.

## Problem Definition

## Proposal

- Add `block height` parameter to `BaseApp.runTx` and `BaseApp.getContextForTx`.
- Call `BaseApp.createQueryContext` to create correct ctx for simulate mode and

[2021-07-06 05:34] RiccardoM opened #9637 "Param name change during on-chain upgrade breaks the `start` command"
## Summary of Bug
If an on-chain upgrade changes the names of some module parameters, it will break new node from syncing in the future.

## Version
`v0.42.6`

## Steps to Reproduce
1. Start a chain with the defaults module installed.
2. Perform an on-chain upgrade that changes the name of some module parameter from `A` to `B`.
3. After the upgrade, stop and restart the node.

This should return t

[2021-07-06 09:17] marbar3778 commented on #2759
Closing this issue, since you can run linux cmds on windows using various methods. (https://docs.microsoft.com/en-us/windows/wsl/install-win10)

[2021-07-06 09:17] #2759 closed

[2021-07-06 11:00] AdityaSripal commented on #9585
Looks good to me! I agree with @alexanderbez that we should be careful to design the middleware such that CheckTx is still just doing pre-processing

[2021-07-06 11:38] alexanderbez commented on #9635
I've had no issues with localnet and I'm on macOS. Keep in mind `build-linux` builds a linux distribution which is then executed in a Docker container, so I'm pretty sure the host OS doesn't matter, but I could be wrong here.

[2021-07-06 11:40] alexanderbez commented on #9636
Simulation isn't meant for querying, it's meant for non-committed state execution. I don't think we should add `height` to `runTx`, but perhaps there is another way to achieve your needs?