[2018-11-22 00:45] johnmcdowall commented on #2880
Feel free to merge this with #2879 if its felt to be a duplicate of a core issue

[2018-11-22 02:40] rigelrozanski commented on #2872
new invariance checks from #2825 may help

[2018-11-22 05:04] rigelrozanski opened #2882 "Baseapp Params Store + Import/Export"
Within #2795
we introduce the need for baseapp to persist information (*consensusParams in this case)
There is currently no easy way to store this information - we have access to the main store so in this PR we just create a unique record in the main store and call it directly.

A better solution involves initializing the params store within baseapp (which is typically initialized at the Gaia leve

[2018-11-22 05:07] rigelrozanski commented on #2882
Reference conversation (CC @cwgoes  cause you asked earlier!)

This is all the thinking - maybe read from back to front?

[code]

[2018-11-22 07:15] tanhuiya opened #2884 "basecli version panic: account flag redefined: indent"
The latest `develop` branch
run `basecli version` , got error

[code]

[2018-11-22 10:51] cwgoes opened #2885 "Refactor simulation invariants to take a context"
Would facilitate easier reuse elsewhere. Ref https://github.com/cosmos/cosmos-sdk/pull/2827#discussion_r235597246.

[2018-11-22 16:19] cwgoes opened #2887 "bank.SendKeeper breaks intended least authority permissioning"
`bank.SendKeeper` is intended only to allow transfers of coins between accounts, but in fact it allows arbitrary minting or burning of coins with `keeper.inputOutputCoins`, because the invariant `inputs.Sum() == outputs.Sum()` is only checked in `ValidateBasic()` on `bank.MsgSend`. Modules which are passed a `bank.SendKeeper` have just as much power as modules which are passed the full `bank.BaseK

[2018-11-22 18:07] rigelrozanski opened #2888 "Decimal Multiplication/Quo Bug"
There is a patch fix here:
https://github.com/cosmos/cosmos-sdk/pull/2825/files#r235796732

There is an edge case which doesn't really make sense to me yet, it likely has to do with precision rounding... the problem is effectively goes something like this:

`(1000.00000 * 100.00000) / * 100.00000 == 1001.00000`

CC: @ValarDragon

[2018-11-22 23:43] alexanderbez commented on #2887
We'd need this for IBC, correct? I think my vote would be to remove it and possibly create a new IBC bank keeper which the IBC module uses?

[2018-11-23 02:58] alexanderbez commented on #2879
I'm shocked that this does not work. Is this expected behavior @sunnya97?

[2018-11-23 03:08] alexanderbez commented on #2888
Wowza...I wish we had more of an inclination to leverage other OSS projects (e.g. [this](https://github.com/shopspring/decimal) for decimals). Is there a reason we tend to implement most things from scratch?

[2018-11-23 04:20] ValarDragon commented on #2888
I do agree with in general leveraging more open source software. However just because something exists, doesn't mean its good. In this case, I actually don't find this library good, especially relative to what we have. (I have this gripe in general for a lot of the simple golang data structure libraries)

It has one global variable for precision: https://github.com/shopspring/decimal/blob/master/d

[2018-11-23 08:00] dokwon opened #2890 "Allow modules to RegisterRoutes outside of the client & lcd modules"
## Summary

When implementing a new module, developers may want to expose the new module functionality to REST API endpoints. Right now, various modules apply for REST API endpoints at client/lcd/root.go#150-174, and third party modules have no access to the registry without duplicating and replacing the client/lcd module

## Problem Definition

cosmos-sdk-cli allows developers to build new module

[2018-11-23 11:39] cwgoes commented on #2887
There already is such as keeper - `BaseKeeper`.

[2018-11-23 16:30] alexanderbez commented on #2888
I was just listing an example @ValarDragon...

[2018-11-23 16:31] alexanderbez commented on #2890
I **think** this maybe a duplicate and @jackzampolin has already started (completed?) attempts to allow greater flexibility. Chime in here if you can @jackzampolin.

[2018-11-23 16:51] cwgoes commented on #2887
I see, sure; let's wait to see exactly what the IBC module needs to do first though.

[2018-11-23 21:13] sunnya97 commented on #2858
You can mix and match pieces of Auth.  For example, you can use the StdTx, without using the provided AnteHandler.

[2018-11-23 21:16] sunnya97 commented on #2879
After the votes have been counted and tallied, they are pruned from state.

You can get the TallyResult by using the Tally endpoint, but to get the actual individual votes themselves, you're going to need to query a past block height, during the voting period.

[2018-11-23 22:34] gamarin2 opened #2892 "Add swagger and godocs to doc readme"
Title

[2018-11-23 22:47] bobio2018 opened #2893 "Need cli instructions or examples for democoin x modules"
## Summary
for tag v0.26.1-rc1, can we have more documentations on how to use cli for different x modules in democoin examples? eg. pow, cool, oracle, simplestake,sketchy?

## Problem Definition

Currently there is no readme for democoin x modules

## Proposal

more cli examples on a readme.md
____
#### For Admin Use
 - [ ] Not duplicate issue
 - [ ] Appropriate labels applied
 - [ ] Appropriate c

[2018-11-24 03:29] jaekwon commented on #2888
I can't reproduce this.  This should block launch for sure if it is a problem, but that would be surprising.

[code]

[2018-11-24 04:10] rigelrozanski commented on #2888
This is how to reproduce this bug...
What's happening is after this type of an operation, there is slightly more accum tokens produced than is allowed (IN = 0.0000007470, OUT = 0.0000007471)... definitely has to do with precision rounding in this operation... maybe this isn't really even a bug and that code and the patch I added in is appropriate... not totally sure. Anyways this is how to reprodu

[2018-11-24 18:49] jaekwon commented on #2888
Oh duh, yes, we're losing precision because accum is less than 1.  The cited example in the original post is misleading... the error is in the least significant decimal digit, not the integer digit.

[code]

In retrospect this isn't surprising... the error happens upon multiplication since we're clipping decimal digits, and then when we divide by a number ~1 or < 1, the error doesn't get "buried",

[2018-11-24 18:52] jaekwon commented on #2888
@alexanderbez @ValarDragon using another library would not have helped!

[2018-11-24 21:42] alexanderbez commented on #2893
/cc @jackzampolin @gamarin2

[2018-11-25 03:41] rigelrozanski commented on #2888
Conclusion of convo with Jae - this is expected behaviour and we should be using a function at the higher level to correct this behaviour.

aka, update:
[code]
To
[code]

I imagine we should probably build this into a function within the decimal library and this may come up again.

[2018-11-25 19:17] cwgoes commented on #2659
Also we should make the likelihood ratios of particular messages also initially randomized (presently they're constant).

[2018-11-26 05:00] #2775 closed

[2018-11-26 05:03] yutianwu opened #2898 "There is redundant `$` in docker-compose.yml"
Like below:
[code]

and the result log file will be like this:
![image](https://user-images.githubusercontent.com/5030187/48993952-a5d0dc00-f17b-11e8-8cd9-0f26c810361a.png)

[2018-11-26 11:03] cwgoes commented on #2898
Closed by #2899.

[2018-11-26 11:03] #2898 closed

[2018-11-26 11:08] #2770 closed

[2018-11-26 11:19] cwgoes commented on #2872
I think @jaekwon figured this out (not sure if pushed yet).

[2018-11-26 11:20] cwgoes commented on #1402
cc @rigelrozanski I think we should do this fairly soon, any additional thoughts or can I start implementing?

[2018-11-26 11:21] cwgoes commented on #1480
Do we still want to make changes on this front (cc @ebuchman)?

[2018-11-26 11:29] #2701 closed

[2018-11-26 11:46] #2884 closed

[2018-11-26 11:50] #2875 closed

[2018-11-26 12:13] #2763 closed

[2018-11-26 12:21] #2812 closed

[2018-11-26 12:32] cwgoes commented on #2888
Makes sense but scary!

Seconded, this is not obvious at all just reviewing code, we should encapsulate this kind of protection directly in library rather than case-by-case in callers.

[2018-11-26 12:34] cwgoes commented on #2654
Closing this but please reopen @faboweb if you can reproduce on the `develop` branch.

[2018-11-26 12:34] #2654 closed

[2018-11-26 15:42] alexanderbez commented on #2888
Awesome! Looks like we have some actionable items for this issue.

[2018-11-26 16:38] rigelrozanski commented on #2888
The only actionable item would be to add this type of a min function into the decimal library - this has been already fixed 2825.

[2018-11-26 16:41] rigelrozanski commented on #1402
no I think this is a fairly straightforward solution. Just hmu with the R4R PR and I'll review

[2018-11-26 16:46] alessio commented on #2595
@jackzampolin dixit:

Seconded. Let's keep `add` and drop `new`, shall we?

[2018-11-26 16:52] cwgoes opened #2902 "Simple simulation flag for periodic invariant enable/disable"
Easier to use without manually editing the simulation code. Must be well-documented.

cc @rigelrozanski

[2018-11-26 17:07] rigelrozanski commented on #2832
I'm for removing individual module simulations - we don't seem to be using them

[2018-11-26 17:19] alexanderbez commented on #2595
Actually I think the opposite? I think `new` is the newest command implemented by @ebuchman and we want to remove `add`. Also, `new` should support recovery.

[2018-11-26 18:06] alessio commented on #2595
How about removing `add` and renaming `new` to `add`?

[2018-11-26 18:07] alexanderbez commented on #2595
I don't have strong opinions here.

[2018-11-26 19:10] pluc opened #2903 "Panic: invariant broken: loose token invariance"
## Summary of Bug
When running `gaiad start`, the software exits with this message:

I[26116-11-26|19:08:36.955] Starting ABCI with Tendermint                module=main
I[26116-11-26|19:08:36.981] Starting multiAppConn                        module=proxy impl=multiAppConn
I[26116-11-26|19:08:36.981] Starting localClient                         module=abci-client connection=query impl=localClient

[2018-11-26 19:30] jackzampolin commented on #2890
I've actually fixed this recently: https://github.com/cosmos/cosmos-sdk/pull/2836. The issue tracking this (with discussion) was here: https://github.com/cosmos/cosmos-sdk/issues/1081 I'm also doing some more work to help standardize the way client functionality is exported by modules: https://github.com/cosmos/cosmos-sdk/pull/2836 and https://github.com/cosmos/cosmos-sdk/issues/2729

[2018-11-26 19:33] alexanderbez commented on #2903
@pluc can you add which exact commit/version of the SDK you're using?

[2018-11-26 19:34] alexanderbez commented on #2890
Neat! Do you think we can close this issue or are there areas which are yet to be resolved?

[2018-11-26 20:15] jackzampolin commented on #2893
@bobio2018 We have not been updating the democoin example lately. If you are looking an up to date example for how to use CLI functionality from modules the tutorial here is your best bet: https://github.com/cosmos/sdk-application-tutorial

[2018-11-26 22:29] rigelrozanski opened #2906 "Early shutdown if no bonded validators remain"
Reference https://github.com/cosmos/cosmos-sdk/pull/2900#issuecomment-441814957
Reference https://github.com/cosmos/cosmos-sdk/pull/2905

Currently, validators are still expected to validate for a block or two after they’re no longer bonded -
This presents a nothing-at-stake issue for the situation where all validators are unbonded, but there is still a block or two running before the chain shuts

[2018-11-26 23:12] johnmcdowall commented on #2879
@sunnya97 What's the rationale for pruning? Seems like a minimal amount of state space to save at the increase of a much worse scanning requirement?

[2018-11-26 23:50] cwgoes commented on #2906
See https://github.com/cosmos/cosmos-sdk/pull/2905#issuecomment-441843106 for more detailed analysis of this specific bug.

Hmm evidence would still count, right? Some validator(s) must be in the unbonding state for those two blocks. Still, it seems like it would be fine for Tendermint to also just halt immediately as soon as the upcoming validator set has zero power.

[2018-11-27 01:23] johnmcdowall opened #2907 "LCD is returning `no RPC client defined` on API calls on develop branch"
## Summary of Bug
It seems that LCD on `develop` has recently started giving `no RPC client defined` messages to API calls that work properly on `master`.

## Steps to Reproduce
1. Check out `develop`
2. Build binaries
3. Launch a local testnet with `make localnet-start`
4. Launch LCD via a docker container with this command (make sure to use your chainid):
[code]
5. Hit the blocks latest LCD api:

[2018-11-27 01:50] jaekwon commented on #2906
Setting zero validators should shut down the chain and end simulation after running 1 more block.

Block 1:  at EndBlock, set all validator powers to 0
Block 2: there's still validators here because the null set isn't applied yet.
Block 3: this can't be run, so before BeginBlock for this block, simulator should halt, tendermint as well.

There's more I want to write but I'll write that on 2905.

[2018-11-27 01:56] jackzampolin commented on #2907
So I've spent some time looking into this. It looks like where we are [setting the `cliCtx` for the `RestServer`](https://github.com/cosmos/cosmos-sdk/blob/develop/client/lcd/root.go#L42) is not properly pulling in configuration.

[2018-11-27 05:39] dokwon commented on #2890
I think this PR comprehensively covers everything I've had in mind. Thanks @alexanderbez @jackzampolin

[2018-11-27 05:39] #2890 closed

[2018-11-27 08:00] melekes commented on #2770
Why did you close?

[2018-11-27 09:01] hleb-albau commented on #2770
@cwgoes @melekes I agree with @ebuchman, that **We should be wary for now of special privileges for Go apps**. So, now I think it is bad idea, to use tendermint event bus for cosmos events for 2 reasons:
1. Such events should be indexed too .
2. It will work only for **in-process** tendermint.

Generally, either tdm should provide spec for events, either cosmos should implements it's own event bus

[2018-11-27 11:20] HaoyangLiu opened #2909 "Unexpected validator set change"
If the voting power of cliff validator is the same as the new created validator, then they will kick each other out of validator set in every later blocks.

Reproduce steps:
https://github.com/HaoyangLiu/validator-candicate

[2018-11-27 12:29] ebuchman opened #2912 "Fix debug logs for `Commit synced`"
[code]

CommitID hashes should be hex, not messy bytes

____
#### For Admin Use
 - [ ] Not duplicate issue
 - [ ] Appropriate labels applied
 - [ ] Appropriate contributors tagged
 - [ ] Contributor assigned/self-assigned

[2018-11-27 13:41] alexanderbez commented on #2907
@jackzampolin what configuration does it need? The command line arguments?

[2018-11-27 14:15] fedekunze opened #2913 "Consistent tags files on modules"
## Summary

Ensure consistency in terms that every module should have it's own `tags/tags.go` file and package to store the flags they use

## Problem Definition

While some modules like `stake` and `gov` have their own folders to store the `sdk.Tags` they use for transactions, some of them don't, making it hard to navigate and search/find the tags on the codebase. This is also related to the fact

[2018-11-27 15:08] fedekunze commented on #2879
@sunnya97 clients should be able to query a proposal votes at all times, same with deposits. CC: @faboweb

[2018-11-27 15:13] faboweb commented on #2879
I agree with the previous posters. Let's design the API so it behaves like users and devs expect it to behave.

[2018-11-27 15:58] cwgoes commented on #2909
I think this is true not only with a new validator and the cliff validator, but with any two validators with equal power where one is on the cliff and the other is just out of the set.

At block height `n`, when the validator with the lower bond height (per ordering rules) is bonded, its `BondHeight` will be set to the current height in `ApplyAndReturnValidatorSetUpdates` - which will then give it

[2018-11-27 16:15] jackzampolin commented on #2907
@alexanderbez I think so, was trying to debug last night but unsuccessful

[2018-11-27 16:18] cwgoes opened #2914 "Interaction of mandatory reward-withdraw and reward truncation"
Ref https://github.com/cosmos/cosmos-sdk/issues/2764
Ref https://forum.cosmos.network/t/3-important-topics-to-discuss-on-fee-reward-distribution-logic/

Any delegator can force decimal truncation of a validators' or the validators' self-delegation rewards by delegating/undelegating a tiny amount (to cause a power change). As delegator rewards are truncated to integers and rewards are minted each b

[2018-11-27 16:21] alexanderbez commented on #2907
Ok, I will look into it.

[2018-11-27 16:32] cwgoes opened #2916 "Rename "accum" in distribution"
Validators already have an "accum" in the Tendermint proposer election algorithm, also giving them an unrelated "accum" in the SDK-side fee distribution logic invites confusion. I think we should rename the latter.

cc @rigelrozanski @alexanderbez

[2018-11-27 16:36] alexanderbez commented on #2916
Per @ebuchman we should rename both ideally 😄

[2018-11-27 17:20] cwgoes commented on #2916
Ref https://github.com/tendermint/tendermint/issues/2915

[2018-11-27 19:39] rigelrozanski commented on #2914
We do not require withdrawing a validator self-delegation when a 3rd party delegates-to/undelegates-from that validator. We do however require that that validator withdraw all of it's unclaimed rewards from the global pool to it's local pools when a 3rd party delegates-to/undelegates-from it (affecting its power)

The reason the code currently does this is out of convenience when this was being ad

[2018-11-27 19:48] alexanderbez commented on #2914
Awesome. Mind if I tackle this?

[2018-11-27 19:52] rigelrozanski commented on #2914
no-t-at-tall :)

[2018-11-27 19:54] alexanderbez commented on #2907
I cannot reproduce this after my fix in #2918.

[2018-11-27 20:16] rigelrozanski commented on #1678
I think this type of documentation doesn't necessarily belong in the _spec_ per say, more in explanatory documentation sections

[2018-11-27 21:01] cwgoes commented on #1678
Hmm maybe, I guess it's a question of terminology, I think we should have a "design spec" and a "implementation spec" (mostly at the moment we just have the latter).

[2018-11-27 21:02] cwgoes commented on #2909
cc @rigelrozanski Thoughts on above proposal?

[2018-11-27 22:46] gamarin2 opened #2920 "Clarify validator setup"
- delegation needs to come from an account that actually possesses token in the genesis file
- validator-setup.md file is specifically about joining latest testnet as val
- networks.md for local testnets

[2018-11-27 22:48] cwgoes commented on #2764
Another issue with this reward distribution mechanism is that re-bonding rewards will be very popular, so tons of transactions will be sent on the network (initially) to do it, rendering the "lazy calculation" less useful. This is especially likely because it's in any validator's interest to accept low or zero-fee transactions which withdraw rewards (in the first message) and delegate them to that

[2018-11-27 22:58] cwgoes commented on #2872
Since fixed.

[2018-11-27 22:58] #2872 closed

[2018-11-27 23:07] #2907 closed

[2018-11-27 23:09] #2819 closed

[2018-11-27 23:29] rigelrozanski commented on #2909
Couple comments - if I'm not mistaken the bond tx height was ditched (or left non-functional) with the staking refactor. Is the bond height also operation currently?

I think two validators having the same power is such an extreme edge case that it is fine to kick one out for an arbitrary reason (such as their ordering by pubkey). - aka, I think you're proposal is fine... just kick out (or keep no

[2018-11-28 01:00] alessio commented on #2157
Is this still relevant? I tried to reproduce it with poor success:

[code]

[2018-11-28 01:16] alessio opened #2921 "gaiacli can't delete ledger keys"
## Steps to Reproduce

[code]
____
#### For Admin Use
 - [ ] Not duplicate issue
 - [ ] Appropriate labels applied
 - [ ] Appropriate contributors tagged
 - [ ] Contributor assigned/self-assigned

[2018-11-28 01:55] HaoyangLiu opened #2922 "Governance mechanism for CommunityPool distribution"
## Summary
How will the tokens in FeePool.CommunityPool be paid to community accounts?
## Problem Definition
[code]
Part of collect transaction fee and inflation tokens are allocated to `FeePool.CommunityPool`. But there is no method to transfer these tokens to community accounts. Will we add new handlers in distribution modules to do this?

[2018-11-28 01:58] alexanderbez commented on #2921
Thanks @alessio!

/cc @cwgoes I doubt this is intended behavior?

[2018-11-28 02:29] ValarDragon commented on #2916
How about renaming SDK accum to `SharesOfFeeRewards` or some similar variant? (I think of it as `shares` in my head at least)

[2018-11-28 02:37] dlguddus opened #2924 "accum(using for selecting proposer) seems to be resetted to zero everytime when it gets additional delegation"
## Summary of Bug
accum(using for selecting proposer) seems to be resetted to zero everytime when it gets additional delegation

## Steps to Reproduce
start a testnet with 0.26.1-rc1-0-gbb54a0d.
node0 delegates to node1 several times

## Result
![image](https://user-images.githubusercontent.com/38277329/49125026-de9abd80-f301-11e8-81f1-0570812e98d7.png)

## Comment
Is it normal to see this resetti

[2018-11-28 03:06] tanhuiya commented on #2581
same issue

[2018-11-28 03:07] bobio2018 commented on #2893
@thank you @jackzampolin

[2018-11-28 03:07] #2893 closed

[2018-11-28 03:45] tanhuiya opened #2925 "In master branch , rest-server command error"
`basecli rest-server --chain-id test-chain-tnlHn4`

version: 0.26.0-rc0-5-g8550968c
[code]

[2018-11-28 09:30] cwgoes commented on #2921
It is definitely not intended behaviour! Also, we should clarify the UX to make it obvious that the user is just deleting a public key (not the private key from the Ledger - that *cannot* be done with `gaiacli`).

[2018-11-28 12:04] arturalbov opened #2926 "Add TxEncoder to client TxBuilder"
## Summary

Hello,
In `BaseApp` we have possibility to set transaction decoder in order to convert bytes to `StdTx`.
[code]

On the other hand in client we're using `TxBuilder` that have strict logic of tx marshaling:
[code]
## Problem Definition

The problem is when I need some custom decoder on the node side I have to extend `TxBuilder` or rewrite some of its methods. That results in a lot of re

[2018-11-28 12:49] fedekunze opened #2927 "What should txs search return when there're no tags ?"
## Problem Definition

Previously the tx search endpoint (`/txs`) returned an error when the user didn't provide any tags to search. I wonder what should we return in this case since in general you should return all txs when there's no query parameters or tags, but this is imposible given the amount of transactions.

Some options are:
1. to introduce a pagination flag/query param with a default va

[2018-11-28 13:37] alexanderbez commented on #2157
I think we should close it for now.

[2018-11-28 13:38] alexanderbez commented on #2922
/cc @rigelrozanski

[2018-11-28 13:40] alexanderbez commented on #2924
This is the accum in Tendermint? Have you been able to reproduce this with 0.27.x?

[2018-11-28 13:42] alexanderbez commented on #2925
This is probably a duplicate of #2581. Also @tanhuiya, can you leave the issue template to help us manage these issues?

[2018-11-28 13:44] alessio commented on #2157
Unable to reproduce, hence closing. Please reopen if not so.

[2018-11-28 13:44] #2157 closed

[2018-11-28 13:44] alexanderbez commented on #2926
Im confused as to why a TxBuilder needs to "unbuild/unpack" a tx? Its sole intended purpose was to be used for easily building txs (including serializing them) which later get broadcasted via `client/utils`.

[2018-11-28 13:47] alexanderbez commented on #2927
Personally I don't think this behavior makes sense. We should either return all the txs from a node's latest block or nothing at all imho.

[2018-11-28 13:53] arturalbov commented on #2926
@alexanderbez TxBuilder don't need to "unbuild/unpack" tx. My issue is about custom encoding/serializing tx in TxBuilder.
If I, for example, using some custom `TxDecoder` on node side, then your CLI that uses `TxBuilder` with strictly defined serialization wouldn't work with it.

[2018-11-28 13:59] alexanderbez commented on #2926
I see. Yes, in that case I think we may be able to remove the codec entirely and provide a `TxEncoder` function where the default is: `cdc.MarshalBinaryLengthPrefixed(stdTx auth.StdTx)`

[2018-11-28 14:01] dlguddus commented on #2924
i will do that tomorrow and share it !

[2018-11-28 14:03] arturalbov commented on #2926
Cool, I can implement this and open a PR.

[2018-11-28 15:14] fedekunze commented on #2927
I also agree that it should return all the txs from a node's latest block

[2018-11-28 16:15] cwgoes commented on #2927
I would be in favor of adding a flag to return the transactions from the latest block (or only filtered transactions from the latest block, if tags are also passed) and just throwing an error when neither tags nor this flag are passed (or at minimum, printing out a warning) to make the behaviour clear to the user.

[2018-11-28 16:50] jackzampolin commented on #2927
It seems like the pagination flags with default values would make the most sense, but may not be very useful. If users are looking for latest block data that should get pulled through the `/blocks/latest` route, but I could also be convinced that this endpoint should have a flag that returns txns from the last `n` blocks.

[2018-11-28 16:59] ValarDragon commented on #2879
Not at all. We anticipate far more than just the validators to be submitting votes. I don't see how not pruning votes from state would even be an option. State is only meant for things that need to be persisted for all perpetuity, and should be _quite_ costly. We are planning on one day incorporating storage rent so that it costs money _per block_ to have things in state.

The indexer is meant to

[2018-11-28 17:01] alexanderbez commented on #2879
We could use tags for something like this, right?

[2018-11-28 20:55] cwgoes commented on #1402
Hmm, how about we just store an array of unbonding delegations or redelegations instead? That seems simpler and requires less keyspace iteration. It doesn't seem too likely that a user would have too many unbonding delegations or redelegations to make the whole array fetch/write inefficient (and we often need to fetch all unbonding delegations / redelegations anyways).

[2018-11-28 21:08] cwgoes commented on #2878
As in a monotonically increasing index? What would you want the tooling to do exactly?

[2018-11-28 21:39] cwgoes commented on #2902
#2930 does this one better, with a `period` integer parameter.

[2018-11-28 22:29] rigelrozanski commented on #2922
They will be paid through accepted governance proposals - we should probably develop an easy mechanism for governance to distribute these funds without forking. CC @sunnya97

[2018-11-28 22:38] rigelrozanski commented on #2916
This is definitely some kind of shares mechanism, but it also an accum mechanism (as these units accumulate) - I think that we should maintain "accum" in the title - but maybe prefix it: `distrAccum`

[2018-11-28 22:42] rigelrozanski commented on #2878
yes, an index which increases with each transaction independent of block height

This is intended to be used with few other ideas for the simulation:
 - run _up-to_ a transaction on-top a particular state
 - re-run user-specified a transaction on-top a particular state (eg. run tx 100, 150, & 199 on the state formed from running the simulation to height 10)

This type of functionality could be fur

[2018-11-28 22:43] rigelrozanski commented on #1402
Seems like a dandy solution

[2018-11-28 23:02] rigelrozanski opened #2935 "Broken-Invariant-Evidence Tx"
Rather than running all invariants on-chain (which will likely end up being quite computationally expensive), we could develop a simple tool for a full-node to run invariant checks and further submit evidence of a broken invariant to the chain, which would at that point force-halt the system.

- we could even provide an incentive for finding a broken invariant (however I don't think this requires

[2018-11-28 23:03] cwgoes commented on #2924
Ref https://github.com/tendermint/tendermint/issues/2718#issuecomment-442637777

Thanks @dlguddus for the report, you are indeed correct.

This blocks GoS.

[2018-11-28 23:05] cwgoes opened #2936 "Update stake pool correctly in CLI tooling"
e.g. when adding a genesis account

cc @alessio @jackzampolin

[2018-11-28 23:43] ebuchman commented on #2924
Yup. I think we can close this for https://github.com/tendermint/tendermint/issues/2718. Thanks for the discovery!

[2018-11-28 23:43] #2924 closed

[2018-11-28 23:43] rigelrozanski commented on #2935
CC @cwgoes

[2018-11-28 23:53] cwgoes commented on #2935
I think it might require an incentive, since the gas cost will be quite high, but given one this seems incentive-compatible, saves computation time, and could be safely kept around for a long time.

Great idea! I think we should strongly consider this pre-transfers.

[2018-11-28 23:56] cwgoes commented on #2935
cc @ValarDragon, also @gamarin2 - I think this might address much the same goals as the circuit breaker proposal, and is much simpler.

[2018-11-28 23:56] cwgoes commented on #2935
Only concern is if the invariants exceeded the block gas limit.

[2018-11-29 00:17] rigelrozanski commented on #2935
Yeah the block gas limit would have to be priced accordingly - otherwise it could potentially be a special type of authenticated transaction... for instance we could require something to be at stake to submit this transaction for which you would get slashed if it ended up not being an invariant.

[2018-11-29 00:38] rigelrozanski opened #2937 "Generalized Stake Lockup Mechanism"
Stems from https://github.com/cosmos/cosmos-sdk/issues/2935#issuecomment-442656593
also some internal conversations previously.

Rather than have a whole bunch of different modules implement their own ways to lock up funds
It would be awesome to create a generalized staking module, which other modules (including Tendermint staking/slashing as currently implemented) could interface with.

This type

[2018-11-29 00:41] ValarDragon commented on #2935
This is an awesome idea! I'm totally for this. At minimum we should refund the gas cost if an invariant was broken, but I think rewards on top are good.

These invariants should be itemized, i.e. it shouldn't be one "run all invariants" message, but instead a sub-listing of which invariant to run. (This can be implemented as a "run invariant" message type, followed by an invariant index) That just

[2018-11-29 01:41] HaoyangLiu commented on #2909
So will this issue be fixed in 0.27.0 official release?

[2018-11-29 02:11] jackzampolin commented on #2936
I _think_ this might happen in the `gaiad collect-gentxs` command.

[2018-11-29 03:57] alexanderbez commented on #2916
`accumRewardShares`?

[2018-11-29 04:05] ValarDragon commented on #2916
I'm not the biggest fan of the name `accum`, but its probably not worth the bikeshed, I'm happy with `rewardShares, sharesOfFeeReward, accumRewardShares, and distrAccum`

[2018-11-29 06:47] sunnya97 commented on #2879
Regarding not pruning, yes, exactly what @ValarDragon said.  It's not feasible to keep stuff in state, just because clients want to be able to read it.  The LCD at the current moment, is based off of queriers who query at a specific block height, which is why if you need to pass in a block height at which the votes were still in state if the proposal's voting period has ended (you can get the time

[2018-11-29 08:42] Slamper opened #2940 "x/distr: Duplicate json key"
Currently the same JSON field name is used for the Delegator and WithdrawAddress

https://github.com/cosmos/cosmos-sdk/blob/aa72e72ce4bf8dcd3a9897f32010c4dae9a376f7/x/distribution/types/msg.go#L19-L20

____
#### For Admin Use
 - [ ] Not duplicate issue
 - [ ] Appropriate labels applied
 - [ ] Appropriate contributors tagged
 - [ ] Contributor assigned/self-assigned

[2018-11-29 09:29] Slamper opened #2941 "Remove action tag from individual handlers"
Since we are already adding an action tag in the baseApp `runMsgs` we should not add the same one again in the individual handler.

Also it might make more sense to prepend the action tag instead of appending it to make parsing more simple.

Additionally I would recommend adding a divider between data of the single messages to simplify parsing.

https://github.com/cosmos/cosmos-sdk/blob/aa72e72ce4

[2018-11-29 09:32] cwgoes commented on #2909
Probably not, since it's a rare edge case which doesn't actually break anything (it's just inefficient to switch validators every block), but it should be fixed by the release after. Is it particularly problematic for your use case?

[2018-11-29 09:37] cwgoes opened #2942 "Add slashing invariants"
Maybe:
- Existence of slashing periods for current validators
- Correct signing info bounds

Neither of those are particularly urgent though, since they're well-tested by normal execution.

[2018-11-29 09:47] HaoyangLiu commented on #2909
No, it is a corner case for us too. Just curious about your plan.

[2018-11-29 12:09] Slamper opened #2945 "Invalid validator pubKey halts state machine"
## Summary of Bug
In Tendermint v0.27.0 only pubKeyTypes specified in ConsensusParams are allowed.

We can however still create validators with invalid key types which halts the chain since applyblock fails.

This is causing all of the integration tests to fail at the moment. Fixed in #2943 (tests only)

The handler for `MsgCreateValidator` needs to check whether the key is of a valid type.

## St

[2018-11-29 12:38] cwgoes commented on #2941
We should indeed remove the duplicate action tags.

Tags will eventually turn into events (ref https://github.com/tendermint/tendermint/issues/1859).

[2018-11-29 13:13] alessio commented on #1998
How do we go about it? Do we want to create a new command for that or implement a version check in `gaiacli keys` sub-commands that support ledger devices?

[2018-11-29 14:12] zramsay opened #2946 "fix swagger instructions in DOCS_README"

[2018-11-29 14:34] alexanderbez commented on #2945
wow! Great catch @Slamper!

[2018-11-29 14:34] #2941 closed

[2018-11-29 14:39] cwgoes commented on #1998
I think it should maybe even refuse to proceed in case of incompatible version, unless the user passes an opt-in flag to override the version check.

[2018-11-29 14:42] alexanderbez commented on #1998
💯 agree. I think this is a good UX.

[2018-11-29 14:58] fedekunze opened #2948 "Swagger file on website should make request to full node"
## Summary of Bug

The requests are made to a wrong URL (https://cosmos.network/...)

## Steps to Reproduce

- go to the cosmos Swagger file [here](https://cosmos.network/rpc) and pick a `GET` request (eg [`stake/validators`](https://cosmos.network/rpc/#/ICS21/get_stake_validators) which doesn't require any params),
- Click `Try it out` > `Execute`

The request is made to the following URL `https:

[2018-11-29 15:00] alexanderbez commented on #2948
Yes -- thank you! I believe we discussed this a while back. Thanks for creating an issue.

[2018-11-29 15:06] greg-szabo commented on #2948
Absolutely not. The Fabo node is a _developer_ node for the UI team, it was and should not ever be published to the community.

[2018-11-29 15:07] greg-szabo commented on #2948
If we want to publish full nodes to the community that needs to be discussed in more details. The only published node _over HTTPS_ (which is required for cross-site compatibility) is the seed nodes aggregator point gaia-seeds.interblock.io

That point is down now due to no avaiable network running

[2018-11-29 15:08] zramsay commented on #2948
i'm confused, the RPC endpoint (https://cosmos.network/rpc/) service static files, why should it make resquests?

[2018-11-29 15:09] fedekunze commented on #2948
@zramsay because swagger has that feature and i feel we should make use of it once we have a stable testnet/mainnet

[2018-11-29 15:17] #2832 closed

[2018-11-29 15:17] #2873 closed

[2018-11-29 15:17] #2885 closed

[2018-11-29 15:17] #2902 closed

[2018-11-29 15:47] ValarDragon commented on #2935
Actually on second thought, I don't think this should ever halt, but should only defer to going into the circuit breaker state. The issue with halting is that the conditions for coming back online is always going to be a hard fork. (And therefore we either have to create a new genesis, which is massive and foregoes proofs of upgrade procedure due to IAVL, or create an upgrade script which directly

[2018-11-29 16:38] rigelrozanski commented on #2935
hmm are you suggesting some kind of a pause state - which doesn't allow sends but governance is still active?

[2018-11-29 16:40] rigelrozanski commented on #2916
oh I like priority... I'm good with `collectionShares`

[2018-11-29 16:41] rigelrozanski commented on #2937
@sunnya97

[2018-11-29 16:48] alexanderbez commented on #2914
Discussed with @cwgoes and we agreed that the staking spec should first be reconciled prior to this. This is mainly motivated by some inconsistencies/inefficiencies in the staking hooks.

[2018-11-29 16:54] cwgoes commented on #2914
As in, we should correct anything incorrect in the spec, and then update the code to match (which it presently does not).

[2018-11-29 16:56] jackzampolin commented on #2948
@fedekunze This is a GREAT idea and we should totally have this working. I think pointing it at the voyager node in the interim is a good idea.

[2018-11-29 17:21] #2945 closed

[2018-11-29 17:36] alessio commented on #1998
Currently, ledger client returns the following:

[code]

Is that acceptable to check only against `Major == 1`?

[2018-11-29 17:41] rigelrozanski commented on #2914
I'm not entirely sure that the _spec_ is the best way for us to spend our documentation efforts at the moment - For instance, I think diagram creation will do better to both explain the logic flow, as well as clarify hook calls. Diagrams fall more under description documentation than specs - we have very little description documentation in general

[2018-11-29 17:46] rigelrozanski commented on #2914
sry I meant - _Explanation_ documentation https://www.divio.com/blog/documentation/

[2018-11-29 17:54] #2940 closed

[2018-11-29 18:09] rigelrozanski commented on #2936
@cwgoes can you add a more thorough description of the issue?

[2018-11-29 18:12] ValarDragon commented on #2935
Yeah! Thats essentially what the state in circuit breaker mode is AFAIU

[2018-11-29 18:47] rigelrozanski commented on #2935
cool! Yeah I'm really into the pause state - we could have the allowed functionality during the pause state be configurable at genesis

[2018-11-29 19:02] ValarDragon commented on #2888
Should we close since #2825 is merged?

[2018-11-29 20:34] faboweb commented on #2649
Working on latest Voyager

[2018-11-29 20:34] #2649 closed

[2018-11-29 20:47] cwgoes commented on #2909
This doesn't fix the problem (if implemented in a similar way to the bond height, e.g. set when a validator is bonded). Are you proposing a different implementation (such as only setting when a validator is created)?

I think the incentive here is tiny; instead of bothering to grind a pubkey you could just acquire and bond an extra nano-Atom. Still, I agree that it is a bit unclean.

[2018-11-29 20:52] cwgoes commented on #2936
@jackzampolin Do you remember the sequence of commands you ran that led to this state?

[2018-11-29 20:53] cwgoes commented on #1998
Since we choose the version, that seems fine for now.

[2018-11-29 20:55] #2921 closed

[2018-11-29 20:56] cwgoes commented on #2888
I think we should move the relevant code to the library instead of requiring that callers handle it.

[2018-11-29 20:56] jackzampolin commented on #2936
I do, and the one that I missed was `gaiad collect-gentxs`. I ended up running that after I manually update the invariant and it doubled it. So lets go ahead and close this as I don't think this is an issue any longer.

[2018-11-29 20:56] #2936 closed

[2018-11-29 20:59] #2595 closed

[2018-11-29 21:04] jackzampolin commented on #2754
v0.27.0 just got cut. Closing this issue.

[2018-11-29 21:04] #2754 closed

[2018-11-29 21:13] ValarDragon commented on #2909
I agree with the isBonded boolean you were suggesting. I meant using that counter for total ordering instead of bond height and intra bond height tx. Should have specified.

Domain separation is important to yielding an overall more secure system where its hard to shoot yourself in the foot. Random minor bad incentives that build up will eventually cause problems in some configurations.

[2018-11-29 21:17] cwgoes commented on #2909
Agreed, let's do exactly that - `isBoolean` plus the global counter.

[2018-11-29 21:22] cwgoes commented on #2726
@gamarin2 Anything else we should communicate here or can we close this?

[2018-11-29 21:33] gamarin2 commented on #2726
We can close

[2018-11-29 21:33] #2726 closed

[2018-11-29 21:41] ValarDragon opened #2952 "Remove account num, sequence num from serialized std signature struct"
Currently the serialized StdSignature struct contains a uint64 account number, and a uint64 sequence number. Clearly these need to be signed over, but they make no sense being serialized in the tx. The reason being, to verify a signature you must fetch the account anyway to ensure correct accNum, sequenceNum. So we don't need this to have ever been included in the tx.

Removing these two values sa

[2018-11-29 21:43] cwgoes opened #2953 "Intelligently format transaction responses & errors in CLI"
- We don't need to show code / codespace / etc. - those are for code consumption, not human consumption
- Write reverse mapping functions for the error codes, display the strings we actually set in the module errors (which are generally informative)

cc @jackzampolin

[2018-11-29 21:44] alexanderbez commented on #2952
Just to clarify, the `StdSignature` in the `auth.StdTx`.

[2018-11-29 21:56] #1277 closed

[2018-11-29 21:56] #2887 closed

[2018-11-29 23:19] cwgoes commented on #2922
Seems like a simple parameter change proposal - style option with a destination address and amount would work.

[2018-11-29 23:24] mircea-c opened #2954 "Dae"
## Summary of Bug

There is a link on the `Join the testnet` page that resolve to a 404.

## Steps to Reproduce

Navigate to the [Join the testnet](https://cosmos.network/docs/getting-started/join-testnet.html#genesis-seeds) page in the Cosmos documentation. Find the line:

* For more information on seeds and peers, you can [read this](https://cosmos.network/docs/getting-started/join-testnet.html#

[2018-11-30 00:46] sunnya97 commented on #2182
Having to use txs to query all redelegations or to filter between incoming vs outgoing redelegations seems suboptimal.  Using tx tags is good for listening for events, but if a query can be done using state, that should be preferred.

[2018-11-30 01:29] rigelrozanski commented on #2922
I'd imagine that we would also want to allow for multiple destinations (with unique amounts)

[2018-11-30 01:34] jackzampolin opened #2955 "Add RegisterRoutes to the ModuleClients interface"
Currently the ModuleClients interface only exports the CLI functionality. It should also export the rest routes as well.

[2018-11-30 01:35] rigelrozanski commented on #2909
lol correct, the incentive is the price of acquiring a single nano-atom

By global counter - does that mean the global message counter? If this is the only purpose for developing the global message counter then I'm opposed to complicating the code for the extremely rare edge case - however I'd imagine that there are many other important applications, so should probably implement anyways 👌

[2018-11-30 03:06] rigelrozanski opened #2957 "Genesis Verification Level"
Some genesis verification logic may be quite computational expense, it may be desirable to bypass under certain situations.

We should allow for a genesis verification level to be defined in the config and passed to each module's verification logic. Such a genesis parameter could sit closely to this other proposed genesis parameter : https://github.com/cosmos/cosmos-sdk/issues/2862

[2018-11-30 03:06] rigelrozanski commented on #2957
CC @ValarDragon

[2018-11-30 07:01] tanhuiya commented on #2925
ok

[2018-11-30 07:01] #2925 closed

[2018-11-30 08:57] rigelrozanski commented on #2513
in progress!

[2018-11-30 10:03] gamarin2 commented on #2954
The documentation on website is way outdated, it does not factor any of the refactor/cleanup that was made in the past 3-4 weeks. That's because all changes were merged to `develop` and are not on master.

The SDK is moving fast, which is why the base branch is `develop`, so I think the docs should build from `develop` branch for now, not `master`. cc @zramsay

[2018-11-30 13:12] gamarin2 commented on #2954
Actually I was mistaken @mircea-c. The docs is up to date on `master`. The issue is that https://cosmos.network/docs/ does not reflect the latest master...

[2018-11-30 13:54] greg-szabo opened #2960 "Centralized validator setup process counts wrong looseTokens"
## Summary of Bug
When setting up a testnet with centralized initial validators according to Alessio's document and tools, the looseTokens count is incorrect at the end of the steps. This makes the start of the validaotr nodes panic. Seen during the setup of gaia-9002.

gaiad
0.27.0-rc2

## Steps to Reproduce
Set up a new validator node with default settings. Add a wallet with 1000 tokens and a se

[2018-11-30 14:16] fedekunze commented on #2879
@sunnya97 @alexanderbez  @ValarDragon what do you think about doing a tx search with tags when the proposal is not active (i.e `Passed` or `Rejected`) ? In that case the user will still be able to query the endpoint and have the same logic.

The only thing we'd need to add will be keeping only the last vote of the voter and tossing the rest from the search results. In the case of the deposits we'd

[2018-11-30 14:23] alessio commented on #1998
I believe this #2870 would close this

[2018-11-30 14:34] #1998 closed

[2018-11-30 14:39] alessio opened #2961 "Add flag to delete keys even if the user does not remember the password"
Forked from #2923

### Description:
**As** a `gaiacli` user
**I want to** forcibly remove a key from the store
**So that** I can delete key to which I forgot the passphrase

### Acceptance criteria
**Given** a key name
**When** I run `gaiacli keys --force <key>`
**Then** the key is removed from the local store and I'm not prompted to input the password.

____
#### For Admin Use
 - [ ] Not duplicat

[2018-11-30 14:41] cwgoes commented on #2824
cc @mossid Should this be integrated with your store refactor PR (https://github.com/cosmos/cosmos-sdk/pull/2344)?

[2018-11-30 14:49] cwgoes opened #2963 "x/auth module specification"
For ourselves and for auditors.

Include StdTx, account store, account keeper, base account, vesting account (done).

[2018-11-30 14:59] arturalbov commented on #2926
@alexanderbez I've got a proposal. What if add `TxEncode` to global config (`types.Config`) or somehow make it globally available for client commands?
Another way is to pass `TxEncoder` in commands creation functions. For example, `func GetCmdEditValidator(cdc *codec.Codec) *cobra.Command` will look like `func GetCmdEditValidator(cdc *codec.Codec, txEncoder TxEncoder) *cobra.Command`
I'll explain

[2018-11-30 15:17] alessio commented on #2961
This is useful in unattended execution scenario too.

[2018-11-30 15:31] alexanderbez commented on #2182
The same could be said for governance votes and deposits. Where do we draw the line?

[2018-11-30 15:37] alessio commented on #2715
@faboweb I believe this is fixed. Can you confirm please?

[2018-11-30 15:38] alessio commented on #2484
Deassigning myself. I'm presently not doing work on this.

[2018-11-30 15:48] cwgoes opened #2967 "Run mint.BeginBlocker before distr.BeginBlocker"
Presently we run `distr.BeginBlocker` before `mint.BeginBlocker` - this means that if a large-stake validator unbonds, inflationary rewards proportional to their stake will be paid at the start of the next block (since they're just added to the collected fees in `x/mint`, not yet distributed). Can we swap the ordering so said validator will be able to withdraw the fees (which they deserve, since t

[2018-11-30 15:50] alexanderbez commented on #2926
I think we'll have to with something like option (2) you mentioned. Reason being is maybe we want different types of encoders...I can't imagine such a case, but still. (2) is also more flexible.

[2018-11-30 16:15] arturalbov commented on #2926
So pass `TxEncoder` to every `GetCmd*` method?

[2018-11-30 16:18] alexanderbez commented on #2926
@arturalbov let me go through the CLI flows and see what solutions we can come up with.

[2018-11-30 16:20] rigelrozanski commented on #2967
nope that sounds fine

[2018-11-30 16:35] rigelrozanski commented on #2484
Having started reflecting on line lengths and code aesthetics _intensely_ over the past while. I no longer believe the optimal solution actually contains "one size fits all" maximum line length. For instance I think that in specific situations, code can actually be much clearer when it is more compact and thus should allow for greater than 100 character lines. One key example of this is struct def

[2018-11-30 16:38] rigelrozanski commented on #2960
CC @alessio

[2018-11-30 16:47] Slamper commented on #2967
I don't think that this will completely fix the problem since in `x/mint` we are inflating and then calculating the inflation for the next block.

https://github.com/cosmos/cosmos-sdk/blob/a55f4490f9b663cce9a7387b336290e355bcfe42/x/mint/abci_app.go#L15-L30

So with both of these things combined we currently have a 2 block lag of inflation.

[2018-11-30 16:58] Slamper commented on #2967
![image](https://user-images.githubusercontent.com/1405758/49302930-a1ccf300-f4c8-11e8-8347-a91c2602faf6.png)

This is a guess of how this went in Gaia-9002.

After the genesis validators were unbonded the inflation was still lagging 2 blocks.

In the first of these we autobonded and consequently were the ones with the by far highest weight. So we accumulated almost 100% of the Accum in the FeePoo

[2018-11-30 17:32] cwgoes commented on #2484
OK, I don't have a strong preference either, closing for now then.

[2018-11-30 17:32] #2484 closed

[2018-11-30 17:34] alessio commented on #2960
Smells like something has regressed very, very badly. It didn't happen before:

[code]

[2018-11-30 17:55] jackzampolin commented on #2182
@alexanderbez This is a REALLY good question and I think that performance and feedback from clients should really drive this.

[2018-11-30 19:37] alexanderbez commented on #2879
I think generally that is what we've been suggesting is it not? Regarding tossing the vote -- why? Isn't it just a proposalID => votes tag?

[2018-11-30 20:36] #2961 closed

[2018-11-30 21:30] alessio commented on #2960
@greg-szabo you sure you ran `gaiad collect-gentxs` prior to `gaiad start`?

[2018-12-01 00:14] kauchy commented on #2967
even mint.BeginBlocker before distr.BeginBlocker,this situation will still happen,because Inflation/AnnualProvisions calculate every 1 hour.Only if a large-stake validator unbonds at  Inflation/AnnualProvisions calculate block

[2018-12-01 03:16] yulidai opened #2973 "Install Gaia failed"
result of `make get_tools && make get_vendor_deps && make install`  from readme instructions:
[code]

`$(GOPATH)/bin/statik` and `vendor/github.com/rakyll/statik` are exists.
But `vendor/github.com/rakyll/statik/statik.go` is not exists, Is that the reason?

[2018-12-01 06:06] Slamper commented on #2967
With all these things in mind.

I don't think this change is plausible as recalculation of the AnnualProvisions after a large bonded stake change would open a potential DoS vector.

[2018-12-01 06:37] yulidai commented on #2973
it's my fault, should reload bash_profile before each `export` runs
echo "export GOPATH=$HOME/go" >> ~/.bash_profile
echo "export GOBIN=$GOPATH/bin" >> ~/.bash_profile
echo "export PATH=$PATH:$GOBIN" >> ~/.bash_profile

[2018-12-01 06:37] #2973 closed

[2018-12-01 17:55] #2920 closed

[2018-12-01 22:55] cwgoes commented on #2967
Yes, you are quite correct. In normal situations (no single massive validator unbonding), this doesn't seem too problematic, but in this case it definitely is.

I don't think this matters, calculating the annual provisions is not very expensive at all (a few multiplications) compared to lots of other things we do every block (tracking signing info, for example).

I suggest we make this `BeginBlock

[2018-12-02 00:25] ValarDragon opened #2976 "Make auth tests table driven"
The current structure of the auth tests makes it non-trivial to determine if the different settings are all correctly tested for correctness. We should make these table driven to resolve this.

[2018-12-02 18:35] arturalbov commented on #2926
Sounds great! I'll implement this

[2018-12-03 02:03] dokwon opened #2978 "Cosmos sdk 27.0 master branch breaks cosmos-sdk-cli"
## Summary of Bug

A fresh pull of cosmos sdk 0.27 breaks cosmos-sdk-cli

`
Dos-MacBook-Pro:cosmos-sdk dokwon$ cosmos-sdk-cli init jamjam
Thanks for choosing Cosmos-SDK to build your project.

Configuring your project in /Users/dokwon/go/src/jamjam
panic: runtime error: invalid memory address or nil pointer dereference
[signal SIGSEGV: segmentation violation code=0x1 addr=0x18 pc=0x119ab85]

gorou

[2018-12-03 06:06] kunaldhariwal opened #2979 "too many arguments in call to bcrypt.GenerateFromPassword and ot enough arguments in call to db.IsKeyInDomain"
[code]

If it's an error then what is the solution?
Why is it being shown?

[2018-12-03 09:12] dlguddus commented on #2967
I want to point out about the global pool distribution logic behind the scene.

1. The fee pool has 100 stake and every validator's DelAccum is 100(suppose there are 4 validators)
2. If node0 withdraws, he gets 100 * 100/400 = 25
( If the distribution is fair, node0's distribution on 100 stake is OVER )
3. Time passes, 4 validator's DelAccum increased by 100 each
( Pool stays at 75 stake )
4. node

[2018-12-03 09:53] kunaldhariwal opened #2980 "Issue in installing Cosmos sdk, exit status 1"
[code]
and with this command that i saw in some doc.
[code]

How can this be solved?
How do i check if cosmos is installed?

[2018-12-03 10:16] cwgoes opened #2981 "Game of Stakes release blockers"
### SDK

*Definite blockers*

- [x] Additional gentx verification - https://github.com/cosmos/cosmos-sdk/pull/2971 - @jackzampolin
- [x] Run mint.BeginBlocker before distr.BeginBlocker - https://github.com/cosmos/cosmos-sdk/issues/2967 - @cwgoes
- [x] Interaction of mandatory reward-withdraw and reward truncation - https://github.com/cosmos/cosmos-sdk/issues/2914 - @alexanderbez

### Tendermint

*

[2018-12-03 10:51] cwgoes commented on #2967
I also think this is likely - can we discuss on https://github.com/cosmos/cosmos-sdk/issues/2764 instead?

[2018-12-03 10:59] Onefox commented on #810
This problem is there again with `gaiacli tx sign`. No error is giving and a signature is produces that can not be broadcasted.

[2018-12-03 11:14] cwgoes commented on #810
Yes, you're right, looks like a regression here.

cc @alessio Thoughts?

[2018-12-03 11:49] fedekunze commented on #2397
Never release an API without a version. Make the version mandatory.
Specify the version with a 'v' prefix. Move it all the way to the left in the URL so that it has
the highest scope (e.g. /v1/dogs).
Use a simple ordinal number. Don't use the dot notation like v1.2 because it implies a
granularity of versioning that doesn't work well with APIs--it's an interface not an
implementation. Stick with v

[2018-12-03 12:09] dokwon opened #2983 "cosmos-sdk 0.27 master breaks localnet running"
## Summary of Bug

After fresh pulling cosmos-sdk 27.0 (master branch), the following error occurs:

`I[3126-12-03|12:05:10.584] Starting ABCI with Tendermint                module=main
E[3126-12-03|12:05:10.916] Can't add peer's address to addrbook         module=p2p err="Cannot add non-routable address 3c39def64c123d75ac7270912c9ff7c728ad6198@192.168.10.5:26656"
E[3126-12-03|12:05:10.916] Can't

[2018-12-03 14:16] kunaldhariwal commented on #2980
Yeah, i did this 2 hours back and it worked. Forgot to close the issue.

Thanks for the response. @zramsay .

can multiple key value pairs be inserted in a single tx?
`curl -s 'localhost:26657/broadcast_tx_commit?tx="zid=1 title=xyz"'`

or something like this can be done?

[2018-12-03 14:16] alexanderbez commented on #2978
@jackzampolin I think we should get some sort of integration/unit test(s) in for `cosmos-sdk-cli`. Seems we keep breaking it with each release/feature!

[2018-12-03 14:17] alexanderbez commented on #2979
Ehhh the immediate thing that pops into my head is a version discrepancy. Can you verify you are on the latest SDK and TM?

[2018-12-03 14:31] alexanderbez commented on #2980
@kunaldhariwal not sure what you mean by multiple K/V pairs? Perhaps open an issue or ask a question in the forums? In any case, closing this issue 😄

[2018-12-03 14:31] #2980 closed

[2018-12-03 15:01] cwgoes commented on #810
I think this is a bit dangerous - chain ID is part of the signature; if you sign over a message with a chain ID you didn't intend it could have deleterious consequences (e.g. it might be a valid tx on a different blockchain). Better to require chain ID, if it isn't specified in the CLI config.

[2018-12-03 15:03] dlguddus commented on #2967
ok. thanks for the link! I can see your reply with similar argument already there.

[2018-12-03 16:09] mdyring commented on #2764
I agree with @dlguddus.

If we (briefly) ignore the security/fairness implications of what is discussed above, and only consider the usability perspective, it seems intuitively to me that rewards should be autobonded in the same fashion that one receive compounded interest on a bank account.

It seems very unnatural to require delegators - the very people who don't want operational risk - to be ru

[2018-12-03 16:10] jackzampolin commented on #2978
@dokwon The `cosmos-sdk-cli` is not currently being updated with each release.

[2018-12-03 16:30] gamarin2 commented on #2764
The regular testnet that will run parallel to GoS should definitely have normal inflation in my opinion

[2018-12-03 16:44] mdyring commented on #2764
Agree that the super high inflation for 9002/GoS gives this a lot of visibility.

I am mainly thinking about user/delegator experience and their security here. Using the bank account analogy, I don't think we should require delegators to talk to the bank once a month to receive compounded interest.

I think it would be a shame to leave behind delegators who forget to do this - ideally the software

[2018-12-03 16:48] dlguddus commented on #2764
delegator needs to think about the optimal withdrawal frequency in a given situation. it is very hard task for normal delegator and there is no need to burden them in the first place. same in GoS too. it is a problem brought by artificial distribution. can I ask again why we can't remove global pool??

[2018-12-03 16:49] zmanian commented on #2764
It adds a lot of technical complexity to do autobonding and it would delay launch substantially. We can improve this but we removed autobonding from the spec in order to launch faster.

[2018-12-03 16:52] dlguddus commented on #2764
removing the global pool also will cost much time and technical costs too?

[2018-12-03 17:33] ValarDragon commented on #2979
`make get_vendor_deps` fixed this same exact problem for me. Thats probably the cause.

[2018-12-03 18:30] ValarDragon commented on #2764
Theres two distinct things being discussed. The aim of this issue was to point out the problems that exist in the reward calculation that are inherent to this distribution algorithm. Removal of the global pool mitigates that. (Really it pushes the problem onto the per-validator delegators instead of it being global) That is _distinct_ to auto-bonding which appear to be the source of the last few c

[2018-12-03 19:06] mossid opened #2986 "Store Refactor"
The `store/` is quite large and the parts are deeply interconnected with each other, so refactoring will be split into three parts:

### 1. Move store types to separate folders #2309

Each store type, such as `rootmultistore.go`, `iavlstore.go`, will be moved into separated folders, for example, `rootmulti/store.go`, `iavl/store.go`. Actual types will be named `Store`, making them exposed and easi

[2018-12-04 00:16] dlguddus commented on #2764
just one more add to a possible problem : because of gas costs and decimal truncation, the cost of frequent withdraw is relatively cheaper for the rich delegators than poor delegators, result in unfair reward return. logic will widen the gap between rich and poor.

[2018-12-04 03:18] wetezos opened #2989 "create-validator error"
## Summary of Bug

I have a problem, my publickey is obtained with gaiad tendermint show-validator, the file priv_validator.json has not changed, create a validator or report an error.

my persistent_peers:
persistent_peers="6a04069a2736f096404df2bbc31d7c2807c080c0@gaia-validator1.interblock.io:26656,aa3464017cd5abd9ff0204f2e161d66f9442db29@gaia-validator2.interblock.io:26656,f7290d305237b3fef01a5

[2018-12-04 04:17] zmanian commented on #2989
Your chain id is wrong

`–chain-id=9002` -> `–chain-id=gaia-9002`

[2018-12-04 06:13] kunaldhariwal commented on #2979
Fixed the issue yesterday.
Thanks for the support.
I ran this first.

`go get -u github.com/cosmos/cosmos-sdk/cmd/...
`
and then these:

[code]

[2018-12-04 06:13] #2979 closed

[2018-12-04 07:07] wetezos commented on #2989
Thank you very much,I make a low price mistake,and i didn't realize it at all.

[2018-12-04 07:07] #2989 closed

[2018-12-04 08:03] dokwon commented on #2978
I see! Does this mean the best practice for building on the SDK is simply forking the main codebase and writing over Gaia code?

[2018-12-04 09:46] adrianbrink opened #2991 ""gaia tx sign adrian.json --validate-signatures" always returns OK"
## Summary of Bug
`gaia tx sign adrian.json --validate-signatures` does not work. It returns `OK` even if the signature data is missing.

## Steps to Reproduce
Run `gaia tx sign adrian.json --validate-signatures` against either transaction.

### Original content and signature
[code]

### Changed content and signature data missing
[code]

____
#### For Admin Use
 - [ ] Not duplicate issue
 - [ ] Ap

[2018-12-04 12:18] Onefox opened #2992 "cosmos-sdk 0.27 test single note setup doesn't work anymore."
## Summary of Bug
Before (I was using 0.24) the update I could run gaiad init and it generated a working genesis file and printed out a seed that was filled with some coins.
I could than start the node via gaiad start to generate blocks and work with it.

Now I don't get any seeds shown on the init process only the config is printed again.
Also when I try to start the node with gaiad start. I get

[2018-12-04 13:17] #2734 closed

[2018-12-04 13:32] fedekunze opened #2993 "Change error message on wrong password"
## Summary

Replace wrong  account password error message from `Ciphertext decryption failed` to `Invalid account password`

## Problem Definition

When submitting a transaction with the wrong account password, the response error message retrieved is the following:

[code]

Which is accurate but not very informative to the user.

## Proposal

Replace the error message to `Invalid account password`

[2018-12-04 13:47] alexanderbez commented on #2978
No, certainly not @dokwon! We just need to take better care of the `cosmos-sdk-cli` when cutting releases and merging features. Feel free to create issues for them and we will prioritize!

[2018-12-04 13:48] alexanderbez commented on #2991
/cc @alessio

[2018-12-04 13:49] alexanderbez commented on #2991
I can take a look at this.

[2018-12-04 14:00] alexanderbez commented on #2992
You can still indeed create a one-node network if you follow the instructions [here](https://github.com/cosmos/cosmos-sdk/blob/develop/docs/gaia/deploy-testnet.md#single-node-local-manual-testnet).

I have just tested this locally on the latest `develop`. Btw, you'll get the `Couldn't connect to any seeds` because you have no peers ;-)

[2018-12-04 14:00] #2992 closed

[2018-12-04 15:19] jackzampolin commented on #2978
@dokwon there is a tutorial for building on the sdk: https://GitHub.com/cosmos/sdk-application-tutorial. Not updated for 0.27 quite yet but will be soon.

[2018-12-04 16:12] alexanderbez opened #2996 "x/auth: Param Store"
## Summary

Currently the ante handler consumes gas for signature verification via `consumeSignatureVerificationGas` with hardcoded values and only two supported concrete types. Now that the param store is implemented, these should be fetched from said store. This, in addition, allows other applications to use their own concrete types with their own respective costs (e.g. this is needed in Ethermi

[2018-12-04 16:23] #2993 closed

[2018-12-04 18:17] #2967 closed

[2018-12-05 02:15] Hy9784 opened #3001 "panic: Error initializing DB: resource temporarily unavailable"
## Summary of Bug

when i start two chains and rest-servers in local
panic: Error initializing DB: resource temporarily unavailable
goroutine 1 [running]:
github.com/cosmos/cosmos-sdk/vendor/github.com/tendermint/tendermint/libs/db.NewDB
## Steps to Reproduce

[code]
____
#### For Admin Use
 - [ ] Not duplicate issue
 - [ ] Appropriate labels applied
 - [ ] Appropriate contributors tagged
 - [ ] C

[2018-12-05 02:19] #3001 closed

[2018-12-05 11:30] sabau opened #3002 "Double voting leads to Server Error (Tx already exists in cache)"
## Summary of Bug

From Voyager after depositing ~40 steaks and voting with the same value twice I got an error, from then on all the other actions are blocked due to wrong (probably local to Voyager) sequence number

## Steps to Reproduce

On a Voyager fresh local environment:
- Create a text Proposal with 1 Steak as total deposit
- Deposit ~43 Steak
- Vote (I voted Yes)
- Vote again (again Yes)

[2018-12-05 13:41] alexanderbez commented on #3002
Have you been able to replicate this directly with the CLI or REST endpoints?

[2018-12-05 13:53] faboweb commented on #3002
Note: Maybe an issue with using the same sequence number twice. We are investigating.
Nevertheless we should improve the error to state: "Tx with the same sequence number already in state. Did you update the sequence number?"

[2018-12-05 15:52] alessio opened #3003 "cmd/gaia/app.CollectStdTxs() does not validate delegator address against genesis initial state"
The following snippet checks whether the validator address is in the state and if the validator holds enough coins to submit the initial delegation:

[code]

That works with self-delegations. It doesn't work when delegator != validator.
Solution seems to be easy:

1. both delegator and validator addresses must be checked against the state
2. delegation must be validated against delegator's funds

[2018-12-05 18:56] rigelrozanski opened #3006 "Move generalizable genesis logic out of gaia"
There is a lot of genesis logic which could be generalized and moved out of gaia. Likely this should go in it's own package, but maybe it could be lumped in with`server/`? not totally sure. Certain gaia genesis logic of course _does_ belong in gaia such as the "free" tokens which all genesis validators are assigned in this current incarnation of the gaia genesis logic. _However_ much of the module

[2018-12-05 19:18] rigelrozanski opened #3007 "Governance ValidateGenesis"
Should validate governance parameters in `x/gov/genesis.go`

CC @sunnya97

[2018-12-05 19:19] jackzampolin commented on #3006
This is pretty similar to what I did with the `ModuleClient` interface. I really like this approach.

[2018-12-05 19:19] rigelrozanski opened #3008 "Slashing ValidateGenesis"
Should validate slashing parameters in x/slashing/genesis.go

CC @cwgoes

[2018-12-05 19:51] rigelrozanski opened #3009 "Missing gaia genesis verification"
missing checks for other modules in `cmd/gaia/app/genesis.go` in `GaiaValidateGenesisState`
These types of mistakes can be avoided with an enforced structure as proposed in #3006

ref #3007, #3008

[2018-12-05 19:56] jackzampolin opened #3011 "Improve Swagger Usage in LCD"
Currently we have a [swagger file](https://github.com/cosmos/cosmos-sdk/blob/develop/client/lcd/swagger-ui/swagger.yaml) that is manually updated. This process is error prone and can lead to our documentation being out of date. It would be nice if we could do the following things. The list below is in implementation order and in order of increasing complexity:

- [ ] Automatically generate `swagge

[2018-12-05 20:17] alexanderbez opened #3012 "Binary Search on Coins"
Ref: https://github.com/cosmos/cosmos-sdk/pull/2694#discussion_r239100720

`Coins` should have a generic method that binary searches for a given `Coin`, so things like `AddCoinByDenom` and `SubCoinByDenom` can work more efficiently.

/cc @cwgoes

____
#### For Admin Use
 - [ ] Not duplicate issue
 - [ ] Appropriate labels applied
 - [ ] Appropriate contributors tagged
 - [ ] Contributor assigned/s

[2018-12-05 20:20] alexanderbez commented on #3006
Dope! I think this does warrant having a `genesis` package or sub-package somewhere though.

[2018-12-06 00:48] #2963 closed

[2018-12-06 07:02] #2991 closed

[2018-12-06 07:37] joe-bowman opened #3016 "Validators accrue interest with out ever signing a block"
One can create a validator, and accrue rewards on their stake without ever signing.

Example, in gaia-9002 with external kms panic bugs in TM, I could bond a validator w/ 10k STAKE, and balance in that account was over 22k after being slashed at 2500 blocks (validator voting power was correctly 9900). In fact in this specific case, the cosmosvalconspub address used was valid, but didn't actually c

[2018-12-06 08:57] rigelrozanski commented on #3016
hmm two points which resolve this
 - we can simply include a minimum jail time before you're allowed to unjail (but not sure this is really necessary)
 - we can increase the slashing amount for liveliness faults until it's enough to make the validator think twice before autobonding if they're down for liveliness

My question: do validators get any kind of leaway once they unjail themselves to not

[2018-12-06 08:58] rigelrozanski commented on #3012
lol let's wait until we have at least 4 denoms on the hub before implementing this one

[2018-12-06 09:09] dlguddus opened #3017 "Self-delegation results in stop of the chain(sdk 0.27.1)"
## Summary of Bug
We started a testnet with GoS current genesis.json with our own gentxs.(sdk 0.27.1)
A self-delegation tx results in stop of the chain

## Steps to Reproduce
Build a genesis.json from GoS official genesis.json and gathered gentxs.(6 nodes)
We changed the inflation to 1000(starting, max, max-change all 1000).
Start the chain.
A node did a withdrawal at height 198
This node tried a

[2018-12-06 09:27] nodebreaker0-0 opened #3018 "Stake distribution logic error(sdk 0.27.1)"
## Summary of Bug
No rewards are being added to pool

## Steps to Reproduce
Nothing is being added to CurrentPoolRewards, and CurrentCommissionRewards when the inflation rate has been set to 10000% in genesis.json for Game of Stakes. But when set to 100,000%, it works fine.

  1. [Change the inflation rate to 10000% in genesis.json]
  1. [Start the chain and check the reward pools (CurrentPoolRewa

[2018-12-06 09:57] cwgoes commented on #3017
This looks like you might be running two nodes, one of which has not been upgraded to the latest version. Are you sure all of your nodes are on `0.27.1`?

[2018-12-06 10:13] Slamper opened #3019 "Gaia-9002 Crash log"
[code]
____
#### For Admin Use
 - [x] Not duplicate issue
 - [ ] Appropriate labels applied
 - [ ] Appropriate contributors tagged
 - [ ] Contributor assigned/self-assigned

[2018-12-06 10:23] cwgoes commented on #3019
Runtime invariants are asserted at the end of each block, so this discrepancy was caused by a transaction (or begin block / end block operation) in the block we were attempting to execute.

[2018-12-06 10:35] dlguddus commented on #3017
OK. cwgoes. You were right. One of the node was using custom version of 0.27.1.
The node has 10000 power and total power was 60000.
Therefore the troublesome validator's power was 16%, which should not affect the consensus I think.
Is it normal to halt in this situation?
I will test this situation and response again. Thanks!

[2018-12-06 10:50] joe-bowman opened #3020 "Delegations REST endpoint require name and password when generate_only is passed"
## Summary of Bug
When POSTing to the `/stake/delegators/{delegatorAddr}/delegations` endpoint, with the query string `?generate_only=true`, I am returned an error:

`name required but not specified`

and adding a (dummy) name returns:
`password required but not specified`

and adding a password then causes (unsurprisingly) the name and password to be checked against the local keystore.

This shou

[2018-12-06 11:02] faboweb commented on #3011
💯

[2018-12-06 12:30] cwgoes commented on #2835
Do we need to have constructors which return pointers? We should generally avoid using pointers.

[2018-12-06 13:47] cwgoes commented on #3018
I can't replicate any discrete problem here. If the block rewards (added to the global pool) were zero, that would be a problem, but that doesn't seem to happen with 10,000% inflation and total supply of a million (see testcase [here](https://github.com/cosmos/cosmos-sdk/pull/3022/files#diff-6d0adc64f321a6d4094008038c3f817bR85)).

Have you withdrawn rewards for your validator? If you haven't yet,

[2018-12-06 13:56] alexanderbez commented on #3012
Totally agree with you! Just creating the issue so we don't forget 😉

[2018-12-06 14:02] alexanderbez commented on #3020
Thanks @joe-bowman! I'll look into this ⚡️

[2018-12-06 14:05] alexanderbez commented on #2835
It's a case-by-case basis @cwgoes I think. But yes, majority of our types should not return pointers.

[2018-12-06 14:11] cwgoes commented on #3012
Hehe yeah. To be honest we probably would want to rearchitect the coins type completely to support thousands of denominations, unless most transaction load will be multi-asset transfers.

[2018-12-06 14:47] #3017 closed

[2018-12-06 14:47] dlguddus commented on #3017
it was version issue as cwgoes point out.

[2018-12-06 14:49] cwgoes commented on #3017
Good to know! Thanks for looking into it.

[2018-12-06 14:55] dlguddus commented on #3018
same issue seen with my intranet.
genesis is GoS current version and sdk 0.27.1.
4 nodes with power 100 each.

we log all the variables about pool and accums. we see that all variables are blank.
so no reward evidence was not seen from withdrawal but from variable logger.
also when we withdraw it gives nothing.

but the same environtment with inflation 1000 gives us proper variables seen.

[2018-12-06 16:30] alexanderbez commented on #3020
Ok, took a further look into it. It seems this is the only endpoint that uses the `generate_only` flag.

In addition, I find the handler to be very confusing in that it creates and broadcasts multiple txs (multiple messages). This is super confusing. In addition, if you provide `generate_only` it short-circuits after just a single message!

I think we need to finally refactor this entire handler (

[2018-12-06 16:31] joe-bowman commented on #3020
I believe there is a ticket to refactor this into multiple endpoints anyway?

[2018-12-06 16:38] alexanderbez commented on #3020
Indeed! I'll look into reviewing the PR #2997 and making sure it covers this case.

[2018-12-06 16:50] zramsay commented on #2946
should be handled in #3011

[2018-12-06 16:50] #2946 closed

[2018-12-06 17:15] alessio commented on #2835
...thus let's use the `MakeXxx` naming convention, shall we?

[2018-12-06 17:21] cwgoes commented on #2835
That's fine with me, but it will require changing a lot of current code. @rigelrozanski thoughts?

[2018-12-06 17:42] ValarDragon opened #3023 "Change inflation to not have more go to the proposer"
Inflation going through the normal fee process where it gets divied based on number of validators who signed the block, with a slight advantage to the proposer is sub-ideal. This is  necessary for fees, but not for inflation.

Instead I think inflation should be divied evenly to all of the staked tokens. This will remove the incentive for proposers to publish blocks with no tx fees, but that is a

[2018-12-06 19:01] rigelrozanski commented on #2835
@alessio want to go into the thinking of using `MakeXxx` instead of `NewXxx` - I've never seen it before most libraries I see in golang use New.

[2018-12-06 19:45] alessio commented on #2835
Thanks @rigelrozanski, I thought about it again - we'd better to stick to a single naming convention only for simplicity's sake. Let's go with `NewXxx()` then :+1:

[2018-12-06 22:34] jackzampolin opened #3025 "CLI Test Refactor"
The current CLI have grown a bit beyond their intended size and to continue adding functionality in a performant way a refactor is needed. One goal of the refactor is to make the tests closer to the code. Currently they rely on a compiled binary.

One way to do this is to encapsulate the root `*cobra.Command` in a function and call `cmd.Execute()` to run the commands, parsing the output for values

[2018-12-06 22:56] rigelrozanski commented on #3023
I think this is in the intended behaviour as per slack discussion. Obviously should be addressed with F1 implementation

[2018-12-06 22:56] alexanderbez commented on #3025
I agree. I suggest we look into and usage [`promptui`](https://github.com/manifoldco/promptui) in conjunction with Cobra. This will make not implementation super easy and clear but also the corresponding tests!

[2018-12-06 23:16] johnmcdowall commented on #2879
I don't see any way to use LCD to get the block height for a given time. How would you attempt this right now, given the voting period close time? Or is it expected you would just manually scan the blocks until you find the block preceding the vote closing time?

[2018-12-06 23:37] rigelrozanski opened #3026 "Blockchain State to Simulation"
debugging https://github.com/cosmos/cosmos-sdk/issues/3019 would be hecka' lot easier if we had a way to export a everything from a running blockchain to a json file of:
 - transactions,
 - proposer, and
 - block signers

at each height. In addition we would of course also need the genesis file of this blockchain.

Using this information we could run a simulations which should in theory be identic

[2018-12-07 00:22] #3009 closed

[2018-12-07 01:43] johnmcdowall opened #3027 "Governance API: The Proposal JSON response does not include who submitted the proposal"
## Summary of Bug
The API response for calling `proposal` does not include who submitted the proposal. That would be useful information to know.

## Steps to Reproduce
1. Create proposal.
2. Call API:
[code]

____
#### For Admin Use
 - [ ] Not duplicate issue
 - [ ] Appropriate labels applied
 - [ ] Appropriate contributors tagged
 - [ ] Contributor assigned/self-assigned

[2018-12-07 02:54] rigelrozanski commented on #3019
relevant now merged in (but wasn't for this testnet) https://github.com/cosmos/cosmos-sdk/pull/2982#issuecomment-443748942

[2018-12-07 03:04] rigelrozanski opened #3028 "Validator FAQ: Double signing documentation is confusing"
From https://github.com/cosmos/cosmos/issues/100#issuecomment-445101910

peterzhangbo commented 14 hours ago
What is the meaning of Double Signing exactly?
Double signing: If someone reports on chain A that a validator signed two blocks at the same height on chain A and chain B, this validator will get slashed on chain A

And why be punished with it?

 @rigelrozanski
 Member
rigelrozanski commente

[2018-12-07 04:56] dlguddus commented on #3018
# genesis.json used : https://raw.githubusercontent.com/dlguddus/cosmos-testnets/master/genesis.json
# withdraw cmd
sudo gaiacli tx dist withdraw-rewards --from bharvest --is-validator --trust-node --chain-id gaia-9003kr
# withdraw result
Committed at block 64 (tx hash: 299940FD84A0DF148DF5D9F29ED35CB2E9F2F34D1A1F6199911846885CBA2D98, response: {Code:0 Data:[] Log:Msg 0:  Info: GasWanted:200000 Ga

[2018-12-07 05:30] dlguddus commented on #3018
If we try this with each node with 300,000 power(total 4 nodes), rewards coming in normally.
So, I think it is relevant to the total power amount and blockly inflation amount.
If total power amount or total blockly inflation amount is small enough, from somewhere in sdk, all rewards are neglected, then result in no reward chain.

[2018-12-07 06:34] DreamXzxy opened #3029 "ERROR: Status: Post http://localhost:26657: dial tcp 127.0.0.1:26657: connect: connection refused"
I did a fresh new installation of cosmos SDK, and try to follow this guide(https://cosmos.network/docs/gaia/join-testnet.html#genesis-seeds) to join testnet, however when I run the command, I receive "ERROR: Status: Post http://localhost:26657: dial tcp 127.0.0.1:26657: connect: connection refused"
![image](https://user-images.githubusercontent.com/17998878/49631479-28d01d00-fa2d-11e8-9a25-b2e4cc3

[2018-12-07 08:08] rigelrozanski commented on #3018
I think there is likely something else going on here than a problem in the mechanism based on the results of the testnets. Likely has to do with your setup. Are you sure `cosmos1cvs6f2nrdwqa9et70vpl5tm56ux4z95mc9ezk5` is an active validator?... Also try updating the latest develop - we upgraded inflation mechanism - what version (hash) of the cosmos-sdk are you using?

[2018-12-07 09:54] kunaldhariwal opened #3030 "ERROR: required flag(s) "moniker" not set"
[code]

How to set this flag?

[2018-12-07 10:02] Onefox commented on #3020
I think this would also be the case for https://cosmos.network/rpc/#/ICS20/post_bank_accounts__address__transfers

At least from the doc you could use generate_only

[2018-12-07 10:10] cwgoes commented on #3019
Hmm, maybe - #2982 only changed the logic in state export. Maybe we're leaving rewards in a dist info before deleting it here, though, and that's causing the problem (which we would need to fix separately).

[2018-12-07 11:46] alessio commented on #3025
How could `promptui` help here? Interactive execution in our commands is all about reading secrets from `stdin`. Please let's make easy to integrate our command line tools in scripts rather than colourful and fancy :)

[2018-12-07 11:52] alessio commented on #3025
Furthermore, I believe that integration testing that involves binaries execution should really *execute* binaries, I just don't think that executing binaries from within Go code is the right thing to do. I believe that (and yes, I know, I'm taking a strong, fundamentalist position here) our integration tests should be written in a scripting language, e.g. Bash, Python, etc.

[2018-12-07 12:45] melekes commented on #2983
Could you paste here the content of `node0/config/config.toml`? "Cannout add non-routable address" error comes from

[code]

we set it to false here https://github.com/tendermint/tendermint/blob/2f64717bb5ae3108ed938648291ba577e70fa8c6/cmd/tendermint/commands/testnet.go#L177

[2018-12-07 12:51] melekes commented on #2983
https://github.com/tendermint/tendermint/pull/2983 should fix the issue.

[2018-12-07 13:40] alexanderbez commented on #3030
The `--moniker` flag. Please see `--help` for any command usage.

[2018-12-07 13:40] #3030 closed

[2018-12-07 15:06] bneiluj opened #3034 "Flag --home= doesn't work on gentx command"
## Summary of Bug
Flag `--home=` doesn't work on gentx command. It works for other commands. It might cause many mistakes, because there is no way to verify that it correctly reads `--home` flag when executing `gentx` command except if your env. $User has no access to `/home/ubuntu/.gaiad`. Then it will output the error.

## Steps to Reproduce
Run gaiad command line with specific $USER env:

`sudo

[2018-12-07 15:12] alexanderbez commented on #3034
Thanks @bneiluj!

[2018-12-07 15:13] sunnya97 commented on #2952
I don't think this was a good idea.  For one, it makes inspecting the correctness of the tx harder.  I want to verify that a signature is correct on a transaction that I created, but I don't know what accnum and seqnum it was over.

Also, if a tx doesn't have its sequence number and account number in the tx itself, then how will the txs signature be verified by CheckTx?  Getting it from the CheckT

[2018-12-07 15:22] zramsay commented on #2606
#3035

[2018-12-07 15:22] #2606 closed

[2018-12-07 16:00] sunnya97 opened #3036 "GenTx Account Numbers"
Currently, the `GenTx` command creates gentxs using account number 0, and then the antehandler is special cased to deal with genesis txs differently.  Instead, I propose having the gentx command, read the account number of an address from the genesis state, and sign using that.

[2018-12-07 16:02] alexanderbez commented on #3034
So I **haven't** been able to reproduce this (my attempts respective the `--home` flag). Sounds like an environment issue?

Thoughts @alessio @jackzampolin

[2018-12-07 16:10] alexanderbez commented on #3026
Also, is this something that could work in conjunction with the replayer @jaekwon? Is there overlap here?

[2018-12-07 16:40] ValarDragon commented on #2952
Thats not true. Have signatures that you create also provide the sequence number and account number. Now when you go to broadcast, just don't send that.

You should have come to the mempool presentation yesterday! Currently CheckTx does query the check state (which gets updated for every tx in the mempool). (This is how it has always been)
Its already the case that a tx can't go into the mempool,

[2018-12-07 17:01] dlguddus commented on #3018
the address is in GoS genesis. GoS submition address. and sdk version is 0.27.1-0-gdfd00a6. We are using the official GoS genesis with only different name gaia-9003kr

[2018-12-07 17:23] jackzampolin commented on #3034
Yeah, I've been working on some automated scripting that relies on this functionality and haven't run into any issues. Also can reproduce it.

[2018-12-07 19:47] wlsaud619 commented on #3018
![image](https://user-images.githubusercontent.com/17901095/49668068-61f5a500-faa0-11e8-8b8f-949866cdb1e8.png)
(The photographs are additional test data)

..

**Test conditions**
1. We proceeded with 10000STAKE stakes on 4 nodes.
2. We did not delegate and withdraw-reward from any node.
3. gaiad, gaiacli version: 0.27.1-0-gdfd00a66

**Additional test content**
Inflation is not paid in 300block whe

[2018-12-07 19:58] jbibla commented on #3027
strongly agree with @johnmcdowall

[2018-12-07 20:33] rigelrozanski commented on #3023
Correct, ultimately, distribution ought to have regard for separation of block rewards (no proposer reward) and fees (with proposer reward) - it just makes the code more messy so currently everything simply goes through the fee distribution mechanism (which was also agreed upon in other discussions in Berkley).

We could do this prelaunch if we so desire, I don't think it's going to make a huge di

[2018-12-07 20:33] rigelrozanski commented on #3026
@alexanderbez is there an issue for the replayer?

[2018-12-07 20:52] alexanderbez commented on #3026
Issue? Hmmm not sure. I just know @jaekwon has a replayer binary/tool where there might be some overlap here. Either way, I think this is a super useful export to have!

[2018-12-07 21:35] jackzampolin commented on #3034
Edited, s/can/cant/

[2018-12-07 22:44] ValarDragon opened #3039 "Increase number of decimal places in sdk.Decimal"
Decimals are needed in fee distribution / inflation, to ensure that you still get rewards when you only have like 1 piece of a validators stake. Currently a validator's tm power could be as large as 2**63 - 1. Thus we require decimals to account for you getting `1 / (2**63 - 1)` of a token of rewards. `log_10(2**63 - 1) = 18.9`, so we need at least 19 decimal digits, not the 10 we have now.

We ne

[2018-12-07 23:22] alexanderbez commented on #3027
/cc @sunnya97 is there a reason we don't include the proposer?

[2018-12-07 23:53] jackzampolin commented on #925
This should be done sooner than later.

[2018-12-07 23:58] cwgoes opened #3041 "Further examine necessity of clipping on withdrawals"
Ref https://github.com/cosmos/cosmos-sdk/pull/3033/files#r239978938

[2018-12-07 23:59] cwgoes commented on #3041
Possibly this is addressed by https://github.com/cosmos/cosmos-sdk/pull/2958.

[2018-12-08 00:00] jackzampolin commented on #1007
Should this be in the paramStore instead? Or is `baseApp` the right way to go here?

[2018-12-08 00:01] rigelrozanski commented on #3041
Sure we ought to specify this better in new docs. In the Dec=>Int PR we always ensure that the validator will be emptied aka we do not burn tokens ever.

[2018-12-08 00:04] jackzampolin commented on #1256
More work has been done here right @cwgoes? Do you mind updating this issue with the remaining Slashing spec work to be done?

[2018-12-08 00:06] jackzampolin commented on #1288
closing this in favor of: https://github.com/cosmos/cosmos-sdk/issues/1268

[2018-12-08 00:06] #1288 closed

[2018-12-08 00:07] alexanderbez commented on #1007
We have params both in the base app and the context

[2018-12-08 00:09] #1007 closed

[2018-12-08 00:09] cwgoes commented on #3041
My concern is as to why this was happening in the first place - seems like some delegator must have previously received more tokens than they ought to have (which is very concerning).

[2018-12-08 00:11] ValarDragon commented on #1916
I think we can close this? Fee distribution should be the limiting factor, and thats tracked in #3039

[2018-12-08 00:12] jackzampolin commented on #2004
Do we not have this right now? Is there a dummy ledger app that we can use for testing here? Would this live in `cli_test.go`?

[2018-12-08 00:13] jackzampolin commented on #2049
This issue has been addressed!

[2018-12-08 00:13] #2049 closed

[2018-12-08 01:09] jackzampolin commented on #2397
Took a couple of minutes looking at this. I think the right way to go here is to expose a `RestServer.V1Router` and `RestServer.V2Router` functions:

[code]

This way when registering routes in the module you can utilize both prefixes if needed (below example is Auth):

[code]

Thoughts? @fedekunze @faboweb @alexanderbez @ValarDragon

[2018-12-08 01:16] #2411 closed

[2018-12-08 01:17] bneiluj commented on #3034
@jackzampolin To reproduce:
1. `sudo useradd -m -d /opt/gaiad --system --shell /usr/sbin/nologin gaiad`
2. `sudo -u gaiad mkdir -p /opt/gaiad/config`
3. `sudo cp $HOME/go/bin/gaia* /opt/go/bin/`
4. `sudo -u gaiad /opt/go/bin/gaiad --home=/opt/gaiad gentx --name "addr" --amount 10000STAKE --commission-rate 1 --commission-max-rate 1 --commission-max-change-rate 1`

it will try to hit `/home/ubuntu/.

[2018-12-08 01:19] ValarDragon opened #3044 "Make antehandler local fee check more robust"
There ought to be a value metric per validator, which says this coin denomination is worth `x` gas to me. Then we should change `ensureSufficientMempoolFees` to instead calculate the gas worth of the provided fees, and compare it to the gas wanted.

This is tagged pre1.0 since we only have one coin at launch. This only becomes a problem once there are multiple coins.

[2018-12-08 01:41] jackzampolin commented on #2509
Is this still an issue @cwgoes? And if not, where does this need to get fixed? There are quite a few calls to `.RoundInt64()`...

[2018-12-08 01:48] jackzampolin commented on #2518
There has been a complete refactor of docs since this PR and these issues have been addressed. Closing

[2018-12-08 01:48] #2518 closed

[2018-12-08 01:49] jackzampolin commented on #2538
Really pro `Pre`/`Post` I've seen that before in similar situations. Does this work still need to be completed? What are the affected files? I'm happy to take this on.

[2018-12-08 01:59] jackzampolin commented on #2768
But in that case the IP will likely be a local IP (`192.168.0.0/24`) so I don't think thats really leaking any info. Do we need to fix this?

[2018-12-08 03:47] ValarDragon commented on #2768
There are different validator setups. I don't think it will be local IP on a lot of them.

[2018-12-08 05:31] dlguddus commented on #3018
// get the provisions for a block based on the annual provisions rate
func (m Minter) BlockProvision(params Params) sdk.Coin {
	provisionAmt := m.AnnualProvisions.QuoInt(sdk.NewInt(int64(params.BlocksPerYear)))
	return sdk.NewCoin(params.MintDenom, provisionAmt.TruncateInt())
}

from minter.go
do we need TruncateInt() there?

[2018-12-08 10:13] cwgoes commented on #2509
https://github.com/cosmos/cosmos-sdk/pull/2958 will help, we should audit all remaining calls.

[2018-12-08 19:54] ebuchman opened #3047 "gaiacli keys new doesn't output mnemonic"
0.27.0-2-g45bbef2c4

## Summary of Bug

Using `gaiacli keys new` and just hitting enter to get the default mnemonic doesn't ever output the mnemonic, so the key can't be backed up

## Steps to Reproduce

`gaiacli keys new mykey` and hit enter for the first few lines, then enter disk password. mnemonic is never displayed
____
#### For Admin Use
 - [ ] Not duplicate issue
 - [ ] Appropriate labels a

[2018-12-08 20:02] ebuchman opened #3048 "gaiad init and start sequence doesn't work"
## Summary of Bug

I can't start a local one-node network using the `init` and `start` commands

## Steps to Reproduce

[code]

The node starts, but does not think it's a validator and fails to start the consensus.
____
#### For Admin Use
 - [ ] Not duplicate issue
 - [ ] Appropriate labels applied
 - [ ] Appropriate contributors tagged
 - [ ] Contributor assigned/self-assigned

[2018-12-08 20:05] ebuchman commented on #3048
Also noticing that the `gaiad init` no longer creates a user/account key, so there's no `~/.gaiacli`. Is that correct?

[2018-12-08 23:11] Slamper opened #3049 "Validator randomly dropped from validatorset"
In `genki-2000` running cosmos-sdk `v0.28.0-rc1` validators have been randomly unbonded for a single block and readded in the next one.

![image](https://user-images.githubusercontent.com/1405758/49691577-2ad9cf00-fb46-11e8-8079-1149becaa47d.png)

In block 2085 (the one with the relevant EndBlock updates for 2087) a validator update was emitted to remove the validator from the set and in 2086 one

[2018-12-09 07:04] jaekwon commented on #3049
How do I get in touch with you and the testnet to get data?  Can you email me at jae at tendermint ?

[2018-12-09 14:20] cwgoes commented on #3049
I think this is a duplicate of https://github.com/cosmos/cosmos-sdk/issues/2909#issuecomment-442112000.

[2018-12-09 21:01] Slamper opened #3054 "Uptime slashing allows a 1/3+ instance to fully take over the network"
Credit also goes to @adrianbrink who initially described the attack and with whom I discussed this attack.

Let's imagine a network where a byzantine actor A controls 1/3+ (34%) of the voting weight and all other groups of validators B (32%), C (17%), D (17%) act according to the default logic of Cosmos and Tendermint.

Normally this would allow A to halt the network but not cause any further dama

[2018-12-09 21:38] adrianbrink commented on #3054
Nice write-up Hendrik of our discussion.

On the last point, I would add that it may not take substantially longer depending on how well an attacker understands the PoS implementation.

[2018-12-09 23:31] zmanian commented on #3054
My basic point of view on this is it's exactly the kind of attack I would love to see in Game of Stakes.

You potentially can do things about this class of attack by incorporating changes at the consensus layer. But I am excited about seeing attribution and social consensus driving a response.

[2018-12-10 01:41] cwgoes commented on #3026
Are you referring to `gaiareplay`?

Hopefully that could be combined with this tool and the existing simulation code.

[2018-12-10 03:21] jaekwon commented on #2909
I disagree, this can be a targeted attack.

[2018-12-10 03:52] jaekwon commented on #2909
Using an address to sort is by far the simpler solution.  Conceptually it's a bit stranger, but implementation simplicity wise, and thus overall comprehensibility wise, using an address is much simpler.

[2018-12-10 04:14] rigelrozanski commented on #3041
What's happening in Jae's PR is not completely obvious to me, however in the Dec=>Int PR there is a clear situation which gives rise to a delegator share being "worth" an uneven amount of tokens THUS when they withdraw, the remaining tokens should be left in the validator, making all the other delegator shares now worth slightly more

[2018-12-10 04:17] rigelrozanski commented on #2538
All the hooks are in `x/staking` there is a hook interface within `types/` I believe, also in `cmd/gaia/app` there is some hook stuff... please take it on! I can review you're work to make sure you've caught everything

[2018-12-10 04:32] zmanian commented on #3054
Why no automated slashing mechanism? Because it's not possible to differentiate between a network level censorship attack and cartel censorship attack at the protocol level.

[2018-12-10 05:17] kunaldhariwal commented on #3030
How do i use it here?

`gaiad init --moniker?`

Error pops up: needs an argument.

@alexanderbez

[2018-12-10 06:11] dlguddus commented on #3054
Oh, so, a validator missing certain blocks proposed by certain group of validators can be forced by a network level attack? That can lead to a "Falsification" of slashing. I understand now. Thanks.

[2018-12-10 06:11] sunnya97 commented on #3027
We decided not to store the proposer primarily because it's the substance of a proposal that is important, not the identity of the proposer 😉.

However, the proposer will usually put down a portion of the deposit themselves, and we should highlight anyone who wants to put monetary stake (deposit) behind a proposal, not just the proposer of it.

[2018-12-10 08:33] jaekwon commented on #2909
Fixed in https://github.com/cosmos/cosmos-sdk/pull/3055

[2018-12-10 08:33] jaekwon commented on #2909
Closing for now, we can re-open if necessary.

[2018-12-10 08:33] #2909 closed

[2018-12-10 09:02] jaekwon commented on #2909
@HaoyangLiu can you check if the above PR fixes the problem for you?

[2018-12-10 11:23] fedekunze commented on #3027
So technically if you query the the first proposal deposit you can get the proposer with the `depositor` address, right @sunnya97 ?

[2018-12-10 12:23] alessio commented on #3034
@bneiluj please try this for me:

[code]

Then:

[code]

That is your user's home directory. I bet it is `/opt/gaiad` - so you set it at user creation time, `useradd`'s `-d` option is used for that. Thus, "/home/ubuntu/.gaiad" is no default at all.

Furthermore, `gaiacli` and `gaiad` configurations need to live in two different directories, i.e.

[code]

You can't mix and match contents from the t

[2018-12-10 12:33] fedekunze opened #3056 "Move generate_only and simulate to baseReq in REST txs"
## Summary

Move `generate_only` and `simulate` from query params to baseReq in POST endpoints

## Proposal and Problem Definition

Currently they are set as query parameters, it'd be much simpler to move them within the baseReq with default value `false`. Then we won't need to parse them or have functions like `HasGenerateOnlyArg` and `HasDryRunArg`.

cc: @jackzampolin @alexanderbez @alessio
____

[2018-12-10 12:43] alessio commented on #3056
Fair enough, I'll take this.

[2018-12-10 12:59] faboweb opened #3057 "Typo: The tag `depositer` should be `depositor`"
## Summary of Bug

The tag `depositer` should be `depositor`

## Steps to Reproduce

____
#### For Admin Use
 - [ ] Not duplicate issue
 - [ ] Appropriate labels applied
 - [ ] Appropriate contributors tagged
 - [ ] Contributor assigned/self-assigned

[2018-12-10 13:01] faboweb opened #3058 "Unify tag sender"
## Summary of Bug

The actor of a tx is always different depending on the action type. This increases the complexity when querying txs of one user. I propose we unify the tags and always use `sender`.

Note: To not break clients systems we should deprecate the old tags (having them in parallel) before removing them.

## Steps to Reproduce

____
#### For Admin Use
 - [ ] Not duplicate issue
 - [ ]

[2018-12-10 13:32] alexanderbez commented on #3047
@ebuchman `keys new` is no longer a command. It has be reconciled into `keys add`. Can you try again on the latest `develop`?

[2018-12-10 13:33] fedekunze commented on #3057
I think this was changed already. Is this still an issue (i.e which version are u using)?

[2018-12-10 13:37] alexanderbez commented on #3026
Precisely!

[2018-12-10 13:39] alexanderbez commented on #3030
@kunaldhariwal its a command line flag.

[2018-12-10 14:07] alexanderbez opened #3059 "Governance Quorum"
#3053 was recently merged and prior there was only a bit of (offline) discussion afaik. I think some people might have more to say on the matter. At the very least, if we continue to keep the current model, documentation should be updated more clearly at the very least (i.e. what is quorum, why is it needed, attack vectors, etc...).

/cc @jaekwon @sunnya97 @fedekunze @gamarin2 @zmanian

____
####

[2018-12-10 14:11] alexanderbez commented on #3056
Yup. Seems like a cleaner approach to me. Are you implementing this or should I?

[2018-12-10 14:32] alexanderbez opened #3061 "CLI Context Renaming"
## Summary

`CLIContext` has grown out of a refactor of the client package (rightfully so) and has become a powerhouse in facilitating much of the client functionality. However, I'm seeing it being used in REST components and other areas where a "CLI" is not really involved.

## Proposal

Both the CLI and REST I see as client interfaces. I simply propose we rename `CLIContext` to `client.Context`.

[2018-12-10 14:36] fedekunze commented on #3061
++

[2018-12-10 14:44] cwgoes opened #3062 "Consider an adaptive quorum"
I think we might want to consider using an adaptive vote threshold instead of a flat one, in two ways:

- Lowering the threshold over time, with a maximum rate of change, if proposals keep failing (and perhaps increasing it if they keep passing with far more votes than the quorum). This will allow governance to better adapt to changes in participation rate over time.
- Alter the threshold dynamica

[2018-12-10 14:52] cwgoes commented on #3059
Ref https://github.com/cosmos/cosmos-sdk/issues/3062

[2018-12-10 14:55] gamarin2 commented on #3059
I'll post my take on it. Please note that everything that follows is about mainnet governance, with real-value deposits.

1) **Quorum as spam prevention mechanism:** I don’t think this is the goal of a quorum. This is the goal of `minDeposit`.  In the current model voting `No` or `NoWithVeto` will forfeit the `minDeposit`. So if we have a single quorum (like in current model), `minDeposit` is the

[2018-12-10 14:56] gamarin2 commented on #3062
I don't think we need this, at least prelaunch. See https://github.com/cosmos/cosmos-sdk/issues/3059#issuecomment-445843638.

[2018-12-10 14:59] faboweb opened #3064 "Ignore casing in denominations"
## Summary

When I create a balance `[{denom: 'stake', amount: '100'}]` in the genesis, `gaiad gentx` will fail because the user has no `STAKE`. I propose we ignore casing in the denomination to reduce confusion.
The same goes for transactions where I need to define the denomination. If it is not uppercase the transaction will fail.

## Problem Definition

## Proposal

____
#### For Admin Use
 - [

[2018-12-10 15:03] jbibla commented on #3027
i'm not sure i understand why we need to make this kind of decision at the SDK level. both the proposal and it's associated data are important and may be relevant to some users in some use cases.

some UIs might agree with you and make the choice not expose the proposers information, while others may decide for their use case it would be best to expose this information.

[2018-12-10 15:22] gamarin2 opened #3065 "Concepts: List of concepts to document"
`Concepts` are `explanation` docs about various parts of the SDK. They do not contain code (but can link to code). They contain detailed description targeted at advanced users.

## Orga of SDK docs with concepts docs (in order) -- DOCS V1

**Intro**
- [x] Intro
- [x] Why application-specific blockchains
- [x] Architecture of an SDK app
- [x] SDK Design Overview

**Basics**
- [x] Anatomy of an SDK

[2018-12-10 15:31] cwgoes commented on #3054
@Slamper I believe this is a duplicate of https://github.com/cosmos/cosmos-sdk/issues/2522 - is there anything different here that you think is more concerning?

(this is definitely a problem regardless)

[2018-12-10 15:33] cwgoes commented on #3018
Yes, we do. At present this logic will not work if the amount of inflation per blocks is less than `1` unit. That is unlikely to happen in a real network, since the unit precision will be 10 or 18 orders of magnitude.

[2018-12-10 15:33] cwgoes commented on #2981
Indeed, and they will be fixed, but they can be done so without breaking the state machine.

[2018-12-10 15:36] Slamper commented on #3054
Have not seen that. Fine to close in favor of it.

[2018-12-10 15:36] #3054 closed

[2018-12-10 15:47] faboweb opened #3066 "Not understandable error message when depositing"
## Summary of Bug

While depositing
POST https://localhost:9070/gov/proposals/1/deposits
BODY
```{"amount":[{"amount":"1","denom":"stake"}],"base_req":{"account_number":"0","chain_id":"local-testnet","name":"local","password":"1234567890","sequence":"3"},"depositer":"cosmos1t09jhhdqfj7ty8j5l0vtxl8qevfp70rjgkwwvl","gas":"50000000","password":"1234567890","proposal_id":"1"}```

I get the error:
[cod

[2018-12-10 15:50] alexanderbez commented on #3066
Invalid or empty address. Yeah, we need to actually display what is happening.

[2018-12-10 16:08] cwgoes commented on #2914
Reopening this as we have reintroduced the attack.

[2018-12-10 16:16] sunnya97 commented on #3027
Not quite, because the deposits in state are just put lexigraphically by depositer address, not by time. If you really wanted to know who submitted the proposal, you could see who submitted the tx by doing a tx query rather than a state query.

That's a fair point. The reason I made the decision at the SDK level to not include the proposer is that it isn't used anywhere in the state machine logic,

[2018-12-10 16:23] cwgoes commented on #3027
I would second this.

I do think that in our UIs where we can choose whether or not to show the proposer address, we should elect not to show it. Proposers who wish to self-identify can do so in the proposal text.

[2018-12-10 16:25] fedekunze commented on #3066
I think that's the empty address

[2018-12-10 16:31] fedekunze opened #3067 "Define fee on REST txs"
## Summary

Add `fee` to baseReq on txs `POST` body for users to define their own fee value.

## Problem Definition

There's no way to define fees now on the REST txs

## Proposal

Add a `Fee` property to the `BaseReq`:

https://github.com/cosmos/cosmos-sdk/blob/03771a3fb28e4785829acd4d92fd1136c4dc1265/client/utils/rest.go#L121-L131

cc: @jackzampolin @alessio @faboweb @alexanderbez
____
#### For

[2018-12-10 16:35] jbibla commented on #3027
thanks for the explanation @sunnya97!

fair point @cwgoes. should we be communicating that proposals are "anonomyous" unless the author self identifies?

[2018-12-10 16:53] rigelrozanski commented on #925
We're using the mainstore in baseapp now for max-block-gas parameter storage which is needed in baseApp...

[2018-12-10 16:54] alexanderbez commented on #2432
Is this still an issue? What needs to be done here @cwgoes?

[2018-12-10 16:57] ValarDragon commented on #925
Consensus params should definitely be tracked in the params store imo. (Or a separate consensus param store if that simplifies param change proposals communicating with tendermint)

[2018-12-10 16:59] rigelrozanski commented on #925
Yeah it should be there, it's just a larger refactor which doesn't need to be done prelaunch

[2018-12-10 17:10] ValarDragon opened #3068 "overflow in gas wanted conversion can cause txs to have negative gas on tm side"
https://github.com/cosmos/cosmos-sdk/blob/develop/baseapp/baseapp.go#L535

We need to make that ensure that the tx's gas is not greater than 2**63 -1. See https://github.com/tendermint/tendermint/issues/2989

[2018-12-10 18:22] rigelrozanski commented on #3064
I agree that it makes sense to prevent the either lowercase or uppercase - I guess making it all caps makes sense as tokens are usually listed as all caps 👍

[2018-12-10 18:42] alexanderbez commented on #3036
Also, remove the special check in the ante handler.

[2018-12-10 19:12] cwgoes commented on #2432
To my knowledge it is still an issue, as I don't think the underlying upstream problem has been fixed.

Ref https://github.com/tendermint/tendermint/issues/2862.

[2018-12-10 19:24] #3068 closed

[2018-12-10 19:32] ValarDragon opened #3071 "Catch overflows in gas wanted when comparing to maximum block gas limit"
Suppose the max block gas limit is `2**40`. I can have current gas usage at `2**39`, then another tx on the order of `2**64 - 2**39` can overflow that back to be around 0. We just need to ensure no overflows occur when we do that summation.

[2018-12-10 19:37] faboweb commented on #3057
I was probably still using 0.26.1

[2018-12-10 19:38] faboweb commented on #3057
It is fixed.

[2018-12-10 19:38] #3057 closed

[2018-12-10 19:42] jackzampolin commented on #2981
We are releasing the GoS release today and I'm closing this in favor of the other issues mentioned here.

[2018-12-10 19:42] #2981 closed

[2018-12-10 19:42] jackzampolin commented on #3061
Proposal Accepted!

[2018-12-10 20:39] #3071 closed

[2018-12-10 22:09] jackzampolin opened #3074 "Move validator cache to keeper to allow concurrent instances to run"
I've run into an issue (in https://github.com/cosmos/cosmos-sdk/pull/3073) where the validatorCache in the stake keeper is not goroutine safe: https://github.com/cosmos/cosmos-sdk/blob/master/x/stake/keeper/validator.go#L23-L24

Moving this to the keeper will eliminate this issue.

[2018-12-10 22:11] cwgoes commented on #3074
And let's make it generic, or as possible as we can within Golang.

[2018-12-10 22:51] #3056 closed

[2018-12-10 23:07] johnmcdowall commented on #3027
@cwgoes A lot of users want to know who has submitted a given proposal. You're not protecting anything by not displaying it, it's just bad UX and pointless obfuscation.

@sunnya97 It comes down to what is the point of LCD and its API? This is basic information, that does not cost a lot to store, or at the very least if it's not stored LCD should take care of finding and assembling the information

[2018-12-11 06:11] HaoyangLiu commented on #2909
@jaekwon
I have verified https://github.com/cosmos/cosmos-sdk/pull/3055. It works well. Great job!

[2018-12-11 08:35] faboweb commented on #3027
@johnmcdowall love your statement! I think we need a proper description of purpose for the LCD. I will take the feedback and bring it up with the maintaining teams.
I agree with all of your points, but to be fair: The teams are working hard and the LCD is just not the very top priority right now.

[2018-12-11 10:27] sabau opened #3078 "APIs missing error when querying using invalid proposalId"
## Summary of Bug

I tried to query the SDK using a non existent proposalId, and the reply was `null` instead of the proper error body with message.

## Steps to Reproduce

- Run a local testnet (fresh)
- Fetch https://localhost:9070/gov/proposals/3/votes

- get `null` as reply
____
#### For Admin Use
 - [ ] Not duplicate issue
 - [ ] Appropriate labels applied
 - [ ] Appropriate contributors tagg

[2018-12-11 13:45] alexanderbez commented on #3020
@joe-bowman can you test the latest `develop` again please?

[2018-12-11 13:59] cwgoes opened #3079 ""Red Wedding" (first GoS hard fork) master to-do list"
This hard fork will be carried out with use of the zero-height export mechanism introduced in https://github.com/cosmos/cosmos-sdk/pull/2827.

### Tendermint changes

- [x] Tendermint v0.28/v0.29 - https://github.com/cosmos/cosmos-sdk/issues/3298

### SDK changes

- [x] F1 fee distribution - #3099
- [ ] New fee/gas model - https://github.com/cosmos/cosmos-sdk/pull/3258
- [x] Export fix - https://g

[2018-12-11 14:02] #2191 closed

[2018-12-11 14:49] rfunduk commented on #3079
I may be misunderstanding something here but if the current values are 'atoms', then wouldn't multiplying by 10^18 result in 'attoatoms'? Seems a bit overkill! Microatoms would be 10^6 no? 1 million microatoms = 1 atom.

[2018-12-11 15:17] alexanderbez commented on #3079
afaik, atoms are a unit for which 10^9 of these units corresponds to a single atom.

Because of the fee distribution and inflation model, we need to make sure there is a mechanism in place that allows delegates to still get rewards when they only hold a very tiny portion of a validator's stake. The end result is us needing ~10e18

I'm sure someone else can elaborate further.

[2018-12-11 15:35] alexanderbez commented on #3079
No, afaik, the current values are _not_ `nanoatoms`.

[2018-12-11 15:38] rfunduk commented on #3079
Hmm ok but you said:

Can you clarify what you meant by that?

[2018-12-11 16:03] alexanderbez commented on #3079
They will be*.

[2018-12-11 16:10] rfunduk commented on #3079
I'm truly sorry if I'm being dense here :wink: ... but if it will be nanoatoms, that's 10^9. This issue describes doing 10^18 which would be attoatoms, but it calls them microatoms...

Clarity on this is super important before I try to update our interfaces. I believe you that you need more precision and so on, all good. So I'm really just looking for specific confirmation and details here -- when

[2018-12-11 16:21] alexanderbez commented on #3026
So I've created a (WIP) PR #3081. This will create a JSON file with the needed exported data to essentially fully replay all txs from a chain (assuming we're also given a genesis file).

So how do you guys envision the actual replaying? From what I see, there really is nothing to "simulate" unless I'm missing something...? It seems to be me we should just have a simple binary/command that naively

[2018-12-11 16:22] #3034 closed

[2018-12-11 16:54] #2470 closed

[2018-12-11 16:57] cwgoes commented on #3079
@rfunduk You are quite right to be precise - I intended "micro-Atoms" to simply reference a smaller denomination - we haven't decided exactly what that will be.

I agree that 10e18 is more precision than required. Probably 10e6 or 10e8 is enough. We should see if there are any particular types we would want to support (assuming some reasonable total supply limitations) and decide accordingly, at w

[2018-12-11 17:18] zramsay commented on #2852
just ran through it, all looks good

[2018-12-11 17:18] #2852 closed

[2018-12-11 18:08] cwgoes commented on #3026
I wonder if we should really be doing this SDK-side. Replaying blocks and transactions seems a task best done by Tendermin t, which already has the historical transaction bytes, block heights, proposers, etc etc. and existing functions for state sync / normal operation to apply transactions in blocks. Besides, this seems like a feature which would be useful for ABCI applications more generally (be

[2018-12-11 18:31] cwgoes commented on #3039
Isn't the effective bound on Tendermint power dependent on total supply, not purely the TM maximums?

[2018-12-11 18:31] ValarDragon commented on #3079
Micro atoms should not be in game of stakes, as we will overflow valid power amounts.

[2018-12-11 18:36] cwgoes commented on #2880
This is expected; the votes are deleted after the proposal has passed or failed, as they no longer need to be kept in state.

[2018-12-11 18:42] ValarDragon commented on #3039
Yes, the total supply part is independent of the decimal places of precision required though. The total supply is tracked via #2513

[2018-12-11 18:44] cwgoes commented on #3027
The choice of what information to show in a UI definitely influences what users will do with the interface, and in particular which information they will consider in voting on proposals. Personally, I think that we want to minimize the importance of the identity of the proposer, and maximize the importance of the content of the proposal. Other UI implementers may make different decisions (and the

[2018-12-11 18:45] cwgoes commented on #3079
Then we should fix that too - you're referring to https://github.com/cosmos/cosmos-sdk/issues/2513, right?

[2018-12-11 18:53] johnmcdowall commented on #3027
@faboweb Totally understand things are chaotic right now. I just feel it's important to challenge these tacit decisions before things become concrete and we end up paying the cost of needing an Infura to do basic things ;)

[2018-12-11 19:05] #3007 closed

[2018-12-11 19:08] alexanderbez opened #3083 "Make all target broken"
## Summary of Bug

The make `all` target fails:

[code]

This is because I do not have the "dev tools". Running the `get_dev_tools` target first fixes this.

## Steps to Reproduce

1. Pull fresh clone of the SDK (I chose v0.28.0)
2. Run `make`

/cc @greg-szabo @mircea-c @alessio

____
#### For Admin Use
 - [ ] Not duplicate issue
 - [ ] Appropriate labels applied
 - [ ] Appropriate contributors ta

[2018-12-11 19:10] alexanderbez commented on #2880
I will be tackling this issue along with #2879.

[2018-12-11 19:11] alexanderbez commented on #3027
I think we will be tackling this in the same regard as #2879 and #2880.

[2018-12-11 21:27] jackzampolin opened #3084 "Module LCD client functionality"
## Summary
Each module should export the ability to call each of their lite client routes via a golang function

## Problem Definition
Currently many of the modules have `POST` request formats that hidden in unexported structs.

## Proposal
Those structs should be exposed and ideally there are also client functions to call the routes.

[2018-12-12 01:14] dlguddus commented on #3018
oh ok. now i see why truncate. then this is normal to see.

[2018-12-12 09:04] chanwitkepha opened #3086 "Can't use flags --certfile in gaiacli rest-server command."
Need help about how can I use Cosmos-SDK with other SSL / TLS Certificate because when I use --certfile. It cannot work, Thank you.

According to the Document.
https://cosmos.network/docs/clients/lite/getting_started.html

I use OpenSSL Command to create  self-signed certificate.
_openssl req -x509 -newkey rsa:4096 -keyout key.pem -out cert.pem -days 365_

When generate Self Signed Certificate alr

[2018-12-12 09:07] alessio commented on #3086
Hi,

Documentation is wrong. The correct options follows:

[code]

[2018-12-12 09:11] chanwitkepha commented on #3086
I try it again It seem these flages work with gaiacli command
_gaiacli rest-server --trust-node=true --ssl-certfile=cert.pem --ssl-keyfile=key.pem_

It still show some error but I will try to generate keys file and test it again. Thank you so much.

[2018-12-12 12:07] cwgoes commented on #3018
I think the remaining action item here is perhaps to warn when this truncation would mean that inflation rewards are zero.

[2018-12-12 12:10] cwgoes opened #3088 "Refactor Amino caching"
Ref https://github.com/cosmos/cosmos-sdk/pull/3075#issuecomment-446208165 (copied):

cc @jackzampolin @jaekwon

[2018-12-12 12:17] #3086 closed

[2018-12-12 12:28] fedekunze opened #3089 "Tally result mismatch on LCD tests"
## Summary of Bug

Tally `sdk.Dec` result is giving a wrong value on `lcd_test.go`

[code]
 weirdly enough if I delegate `60` instead of `50` the error disappears

@jackzampolin @sunnya97

## Steps to Reproduce

[code]

____
#### For Admin Use
 - [ ] Not duplicate issue
 - [ ] Appropriate labels applied
 - [ ] Appropriate contributors tagged
 - [ ] Contributor assigned/self-assigned

[2018-12-12 13:01] hleb-albau commented on #1528
Do you plan to make account keeper as interface in near future? In our model, we need redefine some methods, but its not possible on struct.

[2018-12-12 14:22] alexanderbez commented on #1528
Yes. We have no intentions of it not being an interface. What are the problems you're running into?

[2018-12-12 14:52] fedekunze commented on #2859
I'll reopen this bc I still think this needs further discussion. Maybe we can implement a workaround without rallying on the tally endpoint.

cc: @jackzampolin @johnmcdowall @alexanderbez @faboweb

[2018-12-12 16:34] #3074 closed

[2018-12-12 16:46] jackzampolin commented on #2859
`think it needs further discussion` can you elaborate?

[2018-12-12 17:59] ValarDragon commented on #3079
That is what I was referring to! I guess this gets to how close we want game of stakes to get to the hub launch code. I am agnostic on this, but micro-atom inclusion does require #2513.

[2018-12-12 18:32] fedekunze commented on #2859
So right now if the proposal is on voting period the only way to get the current tally is using the `/tally` endpoint. We can get rid of that endpoint by returning a proposal with an updated `tally_result` from the tally querier if the proposal is on voting period:

[code]

[2018-12-12 20:20] alexanderbez commented on #2859
I agree in that I think it'll be a better UX if it's directly updated in the proposal. When I was playing around with proposals, I'd vote and query the proposal directly after and saw no updates to the tally...I thought that to be strange and it's not directly obvious to me that there is a tally endpoint/command.

[2018-12-12 20:52] hleb-albau commented on #1528
@alexanderbez we need to add some **hooks** for coins transfer. Best way is to just wrap default AccKeeper and add addition logic. But others modules  should expect interface but not struct.

[2018-12-12 21:07] alexanderbez commented on #1528
Ahhh wait, the account keeper is **not** an interface. I guess perhaps it should be! Although, I'd be weary of using hooks. Our use of hooks is not necessarily the best approach and already has shown major drawbacks.

[2018-12-12 21:15] hleb-albau commented on #1528
@alexanderbez yeah, I just mean some custom logic should be done in our case, that why we need to extend default AK. But it is not an interface....
As I read discussion, you plan to refactor Ak only after launch. Maybe it can be done by multiple small steps? If so, we can try to contribute here.

[2018-12-12 22:02] rigelrozanski commented on #3026
No I think we should be replaying this on SDK side, this should be a state-machine simulation not a tendermint simulation - for the simulation we should pass in the pre-commit validators from the actual execution and incorporate that into the calculation for proposer rewards etc.

It's possible that another form of Tendermint simulation should exist, or a combined simulation with tendermint and th

[2018-12-12 22:05] rigelrozanski commented on #3026
@alexanderbez what's needs to be simulated is certain information which would normally be passed from tendermint into things like `BeginBlock` on the sdk side - namely precommit validators. The simulation should be running `BeginBlock`s and `EndBlock`s with appropriate transactions bundled together as if it was the real blockchain. This also means that the simulation should also be executing empty

[2018-12-12 22:36] cwgoes commented on #3026
@rigelrozanski We're on the same page I think.

My question is whether we should architect a "replay mode" in Tendermint to do precisely this:
- Load a past sequence of blocks, headers (including precommits), transactions
- Offer some way to modify transactions (probably through some SDK interface, if we want to modify the txs)
- Replay all blocks from `n` to `m` through standard ABCI calls (Begin

[2018-12-12 23:09] alexanderbez commented on #3027
So what is the exact consensus on the actionable item(s) here? PR #3091 fixes some tags, namely you can get the tx where the proposal was created via `action=proposal-created&proposal-id=N`.

Are we looking to implement another endpoint here?

[2018-12-12 23:17] alexanderbez commented on #3026
I don't really follow here, but it seems you guys have a good grasp on what needs to be done. I closed #3081 as I don't think it is needed.

[2018-12-12 23:19] johnmcdowall commented on #2859
Yes this was another point of API ergonomics that surprised me as well. Again, naming seems to be the issue here. I think the field in the proposal response should be called `FinalTallyResult` to clearly indicate that it is indeed the final static tally count, and convey that one should not expect it to update in real time.

Again though, we've chosen to store the final tally result here AND have

[2018-12-12 23:50] johnmcdowall commented on #2859
Thinking on this a bit more I agree with @fedekunze. Since the `TallyResult` can only possibly change when a vote occurs, and that should take into account the stake weighting at the time, unless @sunnya97 knows any reason to not do that. I'm not sure what the difference between 'the real tally' and whatever the `/tally` endpoint is doing is.

[2018-12-12 23:51] ValarDragon opened #3093 "x/auth: Get accounts 1 by 1"
In auth we currently do the state read for all accounts, and then verify signatures one by one, stopping at the first failed signature. This is sub-optimal, as the first signature may be invalid but we've done the IO for all the other accounts. We should instead get the accounts one by one, and then verify its signature. This is important to do since this account checking logic can get spammed via

[2018-12-12 23:58] alexanderbez commented on #3027
I would be more than happy to implement that API endpoint. Would like further thoughts if this is OK from @fedekunze and @jackzampolin.

[2018-12-13 00:01] alexanderbez commented on #3093
This is the context of the ante handler I take it?

[2018-12-13 00:05] jackzampolin commented on #3027
@alexanderbez Lets do that!

[2018-12-13 00:08] ValarDragon commented on #3093
Yes.

[2018-12-13 00:16] jackzampolin opened #3094 "Add test for lcd query deposits and votes after proposal is accepted"
Per https://github.com/cosmos/cosmos-sdk/pull/3091

[2018-12-13 00:16] alexanderbez commented on #3027
Well, we'd have to modify the proposal structs I imagine. At that point we might as well keep it in state...

[2018-12-13 00:20] cwgoes opened #3095 "Document Tendermint dependence"
In many ways, the SDK (*particularly* the Gaia state machine) is implicitly dependent on Tendermint behaviour which is not part of the ABCI interface. I think we should document all of these places, try to incorporate the dependence as part of ABCI (maybe through "app options), and construct a test ABCI-driver which behaves differently from Tendermint (then run the state machine simulation using i

[2018-12-13 00:49] alexanderbez commented on #3095
Very interesting. I didn't know this was the case! Do you have particular examples of this? (e.g. block height offsets?)

[2018-12-13 07:05] santatic opened #3096 "Missing moniker default when init config.toml"
## Summary of Bug
Losing  `config.Moniker` default value = `hostname` after `viper.Unmarshal` at https://github.com/cosmos/cosmos-sdk/blob/9ae3a8a04ea46c6128d5e326f86ed6acac889e76/server/util.go#L81

I want to using default moniker name when init config.toml, but it return empty.

## Steps to Reproduce

____
#### For Admin Use
 - [ ] Not duplicate issue
 - [ ] Appropriate labels applied
 - [ ] App

[2018-12-13 13:41] alexanderbez commented on #3096
Can you list the exact steps/commands you are running @santatic?

[2018-12-13 14:34] alexanderbez opened #3100 "Ante Handler Min Fee Unit Tests"
We don't have any unit tests testing minimum fee logic in the ante handler test suite.

/cc @zmanian

____
#### For Admin Use
 - [ ] Not duplicate issue
 - [ ] Appropriate labels applied
 - [ ] Appropriate contributors tagged
 - [ ] Contributor assigned/self-assigned

[2018-12-13 14:41] alexanderbez opened #3101 "Allow 'tokens per unit gas' to be configurable"
## Summary

Allow a client/user to specify their desired `tokens per unit gas` when submitting a tx. This will have nearly an identical workflow/UX to the way fees are set.

https://github.com/cosmos/cosmos-sdk/issues/3105#issuecomment-447143844

/cc @ValarDragon

____
#### For Admin Use
 - [x] Not duplicate issue
 - [ ] Appropriate labels applied
 - [ ] Appropriate contributors tagged
 - [ ] Cont

[2018-12-13 16:31] iammelea opened #3104 "when "ERROR: broadcast_tx_commit: Response error: RPC error -32603 - Internal error: Timed out waiting for tx to be included in a block""
After made one TX the output =
```ERROR: broadcast_tx_commit: Response error: RPC error -32603 - Internal error: Timed out waiting for tx to be included in a block```

have to be better explained and its not one error because the TX is not killed and is still in cache.
Example
```Wait: broadcast_tx_commit:  waiting for tx to be included in a block```

because
I can understand after read
```ERROR:

[2018-12-13 17:27] jackzampolin opened #3105 "Make min_fee be able to be paid/set in multiple denominations"
As a user, I would like to be able to pay/set fees in any denominations of coins native to the chain. To implement this, we would need the following data for each denom:
- Amount
- Denomination
- Gas cost per unit

When entering it in the command line it might look like:
[code]

cc @cwgoes @zmanian @alexanderbez

[2018-12-13 17:40] alexanderbez commented on #3105
Just to clarify, the suffix post denom is the gas cost per unit value. It's not the prettiest or most clear UX imho.

`--minimum_fees=1steak,5photinos --gas_unit_cost=2steak,4photinos`?

[2018-12-13 18:18] jackzampolin opened #3107 "Add Baseapp concepts document"
Tracking issue for: https://github.com/cosmos/cosmos-sdk/issues/3065

[2018-12-13 18:19] jackzampolin opened #3108 "Add transaction lifecycle concepts doc"
Tracking issue for: #3065

[2018-12-13 18:19] jackzampolin opened #3109 "Add multistore concepts doc"
tracking issue for https://github.com/cosmos/cosmos-sdk/issues/3065

[2018-12-13 18:20] jackzampolin opened #3110 "Add keys, addresses and signatures concepts doc"
Tracking issue for: #3065

[2018-12-13 18:20] jackzampolin opened #3111 "Add modules concepts doc"
(Keepers, Handlers, Endblock, Beginblock...)

Tracking issue for #3065

[2018-12-13 18:21] jackzampolin opened #3112 "Add errors concepts doc"
tracking issue for #3065

[2018-12-13 18:21] jackzampolin opened #3113 "Add amino use in the SDK concepts doc"
Tracking issue for #3065

[2018-12-13 18:22] jackzampolin opened #3114 "Add validator set updates concepts doc"
Tracking issue for #3065

[2018-12-13 18:25] jackzampolin opened #3115 "Add gas and fees concepts doc"
Tracking issue for #3065

[2018-12-13 18:29] jackzampolin opened #3116 "Module implementers guide"
This guide should describe best practices for module creation. It should include:
- List of files an folders in modules
- Function of those
- Interfaces that need to be satisfied
- How to test different module functionality
- How to hook into the param store
- Cross module interactions best practices
- etc..

[2018-12-13 18:42] zmanian commented on #3105
sounds good

[2018-12-13 19:39] alexanderbez commented on #3105
@faboweb it's not required for GoS. I think we should tackle #3118 first (already open PR) and then this.

[2018-12-13 21:20] jackzampolin opened #3120 "Update swagger file"
#3038 was merged with 2 unaddressed comments.

[2018-12-13 22:20] alexanderbez commented on #3105
Specified by the client/user. I think we to modify the context/action item(s) of #3118 @jackzampolin. This needs to be supplied by the client/user if I understand correctly.

[2018-12-13 23:09] alexanderbez commented on #3105
Precisely! What I’m saying is #3118 needs to address your second point.

[2018-12-14 01:51] santatic commented on #3096
I am following the tutorial from cosmos sdk document https://cosmos.network/docs/tutorial/entrypoint.html#nsd

When I build and run program and inside config.toml, moniker is missing
by this command `nsd init --chain-id=testnet`
But I saw moniker in BaseConfig of tendermint is hostname of my computer.

I debugged and found that I was missing moniker at https://github.com/cosmos/cosmos-sdk/blob/9ae

[2018-12-14 09:44] alessio commented on #3093
[code]

[2018-12-14 13:04] alessio commented on #2715
@faboweb AFAIK this is fixed, please reopen if not so.

[2018-12-14 13:10] alessio commented on #3078
`gaiacli` works as expected:

[code]

I guess the REST endpoint needs some love here.

[2018-12-14 13:17] alessio commented on #3078
Reproduced via test case:

[code]

The test pass, no error is returned. CC'ing who touched the code last: @sunnya97
Was return no error a design choice? I'd be inclined to think that 0 votes should be returned if the proposal exists but got no votes, whilst an error should be returned if there's no such proposal at all. Thoughts?

[2018-12-14 14:02] alexanderbez commented on #3027
Ok, I'm going to implement this endpoint using a tx query under the hood.

[2018-12-14 14:02] cwgoes opened #3122 "Return tags through hooks and in x/stake"
Unsolved problem, at the moment apparently we just don't, e.g. https://github.com/cosmos/cosmos-sdk/blob/develop/x/stake/keeper/delegation.go#L536

cc @rigelrozanski thoughts?

I wonder if we should instead find a way to pass "events" (lists of tags) through the context in a more natural fashion - they really are intended to be logs, not variables to manipulate.

[2018-12-14 14:04] alexanderbez commented on #3078
I think this overlaps with #3027. In that PR, I now return an error IF the proposal is inactive (votes/deposits removed from state). BUT, if the proposal is still active and there are no votes/deposits, it still returns `null`.

[2018-12-14 15:25] mossid opened #3125 "Add KeyPath() to KVStore"
IBC module needs to know what is the keypath for a key in the KVStore.

[code]

For example, let's say `store := NewPrefixStore(ctx.KVStore("ibc"), "prefix")`. Then `store.KeyPath([]byte("key"))` will return `merkle.KeyPath{{"ibc", KeyEncodingHex}, {"prefixkey", KeyEncodingHex}}`.

[2018-12-14 15:35] alexanderbez commented on #3089
I presume this is based off of your new fee logic for REST @fedekunze? I'd rather get your PR merged in first.

[2018-12-14 15:39] fedekunze commented on #3089
Just checked locally on the fees PR and the error persists 😕

[2018-12-14 15:56] alexanderbez commented on #3089
yeahhh, but your reproduction example requires fees to be enabled, so I'd rather get your PR merged in prior to any debugging efforts 👍

[2018-12-14 17:11] cwgoes commented on #1008
These still need to be in the params store.

[2018-12-14 17:17] alessio commented on #3047
@ebuchman can you still reproduce this on `develop`?

[2018-12-14 17:19] alessio commented on #2960
This is not reproducible, hence closing. Please reopen @greg-szabo if not so.

[2018-12-14 17:19] #2960 closed

[2018-12-14 17:35] cwgoes commented on #2953
This might require changing the upstream library (some error type in `tendermint/libs` IIRC).

[2018-12-14 17:36] cwgoes commented on #3036
@sunnya97 Is there a security reason to do this? I agree it is a bit cleaner.

[2018-12-14 17:37] cwgoes commented on #3039
I will add some tests for this inhttps://github.com/cosmos/cosmos-sdk/pull/3099.

[2018-12-14 17:40] cwgoes commented on #1313
The simulator covers enough of this for now, I think. An ABCI app simulator (another issue) would also help.

[2018-12-14 17:40] #1313 closed

[2018-12-14 17:40] jackzampolin commented on #1381
This is done!

[2018-12-14 17:40] #1381 closed

[2018-12-14 17:40] alessio commented on #810
When `--chain-id` is not specified on the command line, it shoud be automatically set:

[code]
[snip]

Well, `sdk.DefaultChainID()` returns `""`:

[code]

IMO we should get rid of `DefaultChainID` once and for all, the user needs to provide `--chain-id`

[2018-12-14 17:41] cwgoes commented on #1586
This ship has sailed prelaunch.

[2018-12-14 17:43] #1765 closed

[2018-12-14 17:46] jackzampolin commented on #2022
This is not a CosmosSDK issue, that code all lives in tendermint. If you are still running into problems here, [please reopen this issue on tendermint](https://github.com/tendermint/tendermint/issues/new)

[2018-12-14 17:46] #2022 closed

[2018-12-14 17:47] jackzampolin commented on #2095
@ebuchman 's PR above addressed this issue. Closing!

[2018-12-14 17:47] #2095 closed

[2018-12-14 17:48] cwgoes commented on #2111
Blocked on https://github.com/tendermint/tendermint/issues/2252.

[2018-12-14 17:52] cwgoes commented on #3088
Closing in favor of https://github.com/cosmos/cosmos-sdk/issues/2193, which is basically the same thing.

[2018-12-14 17:52] #3088 closed

[2018-12-14 17:52] cwgoes commented on #2202
@fedekunze Can this be closed?

[2018-12-14 17:53] cwgoes commented on #2218
I think this is a good candidate for a JSON description standard.

[2018-12-14 17:53] #2229 closed

[2018-12-14 18:00] cwgoes commented on #2373
@alexanderbez Is this actually a problem? What is the `sdk.Dec` treated as instead?

[2018-12-14 18:02] cwgoes commented on #2423
@alessio Did we fix this already?

[2018-12-14 18:03] cwgoes commented on #2482
Oh, this is a quorum - closing as a duplicate of https://github.com/cosmos/cosmos-sdk/issues/3059.

[2018-12-14 18:03] #2482 closed

[2018-12-14 18:04] cwgoes commented on #2498
cc @mircea-c is this a thing that could happen? We need to run OS X CI basically.

[2018-12-14 18:05] jackzampolin commented on #2499
Less relevant for a post tombstone world.

[2018-12-14 18:06] cwgoes commented on #2562
@ValarDragon We split the array by key, and use an index offset - which part of our implementation scales with the size of the window?

[2018-12-14 18:07] alessio commented on #2423
AFAICT not just yet

[2018-12-14 18:10] jackzampolin commented on #2607
Another thing to check here is to ensure that all commands that output JSON have the `--indent` flag wired up.

[2018-12-14 18:44] mircea-c commented on #2498
Yes this should be possible. CircleCI can run jobs on an OSX machine.

[2018-12-14 19:09] #2399 closed

[2018-12-14 19:13] #2879 closed

[2018-12-14 19:13] #2880 closed

[2018-12-14 19:21] #3047 closed

[2018-12-14 19:30] alexanderbez commented on #2607
Something to keep in mind, many commands use queriers which JSON serialize and return the byte slice response. That is then fed directly to output in the command. To respect the indent flag in these cases, you'll have to deserialize and then re-serialize once again (correct me if I'm wrong).

[2018-12-14 19:37] ValarDragon commented on #2562
Ah your right, I must have misread the code originally. We should still do what the suggestion is though, since were currently adding at least 32 bytes to the IAVL tree if not more, for 1 bit of data, which is quite silly / inefficient.

[2018-12-14 19:40] jackzampolin commented on #2607
@alexanderbez Yeah, the `cliCtx.QueryWithData` function returns bytes. There a couple of different ways this is done in the CLI right now. Look at `gov`, `stake`, and `auth` for 3 different methods. I think the work here would be to audit all the CLI methods and find the best way of doing this.

[2018-12-14 23:21] cwgoes commented on #2562
OK but this is quite minor - also I think we should see if we could isolate these sorts of optimizations in an intermediary layer instead of requiring that they be implemented at the application level; it makes things more confusing to read.

[2018-12-14 23:47] ValarDragon commented on #2562
I don't think this is minor in the short term. At 35k blocks per window, that means there are 35 thousand state entries. We currently amino decode a length prefixed bool per entry. I'm unsure how length prefixing works on bools, so lets assume this is just 1 byte. The IAVL leaf for it is 32 bytes. This means at 100 validators, there are `100 * 35000 * (32 + 1) bytes = 116MB`, accounting for the ad

[2018-12-15 00:18] rigelrozanski commented on #3122
Let me get this straight, so when we certain transactions are called, hooks are also called. Normally we would only return tags for the given transaction, however it would also be useful to have tags for the events which occur on hooks being called.  - the current system only allows for a single set of tags to be returned per message - but because of the hooks being called we should really be retu

[2018-12-15 13:49] cwgoes commented on #3122
Yes.

Yes, I think it does. I think it should be structured much more like logs, e.g. a `ctx.Event()` call.

[2018-12-15 18:45] hleb-albau commented on #1528
@alexanderbez By the way, what is better than hooks? How to implement same logic, but without hook?

[2018-12-15 20:10] jackzampolin commented on #1528
Sounds like we need to have a discussion, and develop a spec, about how to pass cross module events. Thoughts @alexanderbez @cwgoes?

[2018-12-16 12:44] cwgoes commented on #1528
Hooks can also be defined in receiving modules.

I don't understand this question. Which part of the "same" logic do you want to implement? A hook is just a way for one module to call into another.

[2018-12-16 16:47] hleb-albau commented on #1528
Just interested in better way(better then hooks) of inter-module communications.

[2018-12-16 19:31] zmanian commented on #2525
Vitalik wrote up a whole paper on this class of attacks.
https://github.com/ethereum/research/blob/master/papers/discouragement/discouragement.pdf

[2018-12-16 20:03] ebuchman opened #3129 "Improper use of bcrypt API"
In Tendermint v0.27.3, we reverted to use the mainline Golang crypto lib, which means we reverted the modifications we had made to `bcrypto.GenerateFromPassword`. The modification was to add a salt argument. In the mainline API, a salt is generated randomly within the function, though it is returned as part of the output. I believe there were two reasons to add the salt argument: 1) so salt could

[2018-12-16 20:07] ebuchman commented on #3129
Here's an old issue discussing ethereum format: https://github.com/tendermint/go-crypto/issues/13

[2018-12-16 20:12] ValarDragon commented on #3129
For password hashing, the salt is there to protect against rainbow tables.

I agree with doing pbkdf as a quick fix, and then moving to the ethereum key format once we have more time.

[2018-12-16 20:13] ebuchman commented on #3129
Yes, but it's not meant to be recomputed again, so you can't specify it, it just get's generated for you.

[2018-12-16 20:14] ebuchman commented on #3129
This works, but I guess we'll have to copy in the modified bcrypt module to do this since Tendermint removed it.

[2018-12-16 22:59] alessio commented on #2423
The `GetCmdEditValidator()`'s flags defaults that relate to the `Validator`'s `Description` are set to `[do-not-modify]` by default:

[code]

It should be relatively easy for the command to build a new `Description` struct accordingly.

[2018-12-16 23:31] ebuchman commented on #3129
Oh, in the meantime we can just continue to import the forked version, we don't have to copy it in

[2018-12-17 09:53] fedekunze commented on #2202
@cwgoes I don't think so. We can label it pre1.0 if you want, not high priority but definitely a nice to have

[2018-12-17 11:24] jaekwon opened #3130 "CollectGenTxs doesn't retain slashing parameters"
Testing on 0.28.1 candidate on develop...
I noticed that running collect-gen-txs will strip out some of the parameters, like the slashing parameters.  This happens during cdc.UnmarshalJSON() call in GaiaAppGenState(), which doesn't return an error, yet the slashing parameters are stripped.
This may be a bug in go-amino JSON, not sure.

Also, I noticed discrepancies in the following fields, before

[2018-12-17 11:39] jaekwon commented on #3130
This looks like some larger issue with failing the parse... investigating...

[2018-12-17 11:43] jaekwon commented on #3130
never mind, this is because we changed the json field names to include underscores (_) instead of dashes (-)

[2018-12-17 13:39] sunnya97 commented on #3027
@alexanderbez Why would we have to modify the original proposal structs to do a tx query?

[2018-12-17 14:37] alexanderbez commented on #3027
@sunnya97 sorry, misunderstanding. We'd have to modify the proposal structs in order to get the existing endpoint to display this data. I'm suggesting we don't do that ;-)

[2018-12-17 14:48] sunnya97 commented on #2859
I like this idea.

[code]

This also works, but I prefer @johnmcdowall's proposal above because running a pseudo tally is a "somewhat expensive" operation, so I don't want to run it every time a proposal is queried.  I think `tally` should be its own endpoint.  Perhaps some full nodes might even want to not expose that endpoint.

Yep, this was the intention of this endpoint.

The governance tallyi

[2018-12-17 19:39] mircea-c commented on #2498
@cwgoes, @jackzampolin currently our CircleCI plan doesn't cover macOS: [example](https://circleci.com/gh/cosmos/cosmos-sdk/60804)

Need a github organization admin to enable it from CircleCI if we intend to use it. Blocked until that time.

[2018-12-17 20:08] jackzampolin commented on #2498
cc @ebuchman

[2018-12-17 20:33] mircea-c commented on #2498
@ebuchman you may have changed the OS type under the SDK project, builds are not starting anymore :smile:

[2018-12-17 20:54] ebuchman commented on #2498
Lol ok. should be fixed

[2018-12-17 23:27] jackzampolin opened #3139 "Release 0.29 Tracking"
Closed in favor of https://github.com/cosmos/cosmos-sdk/issues/3079

[2018-12-18 00:23] cwgoes opened #3140 "Increase the maximum validator count automatically each month"
TBD: by how much.

cc @ebuchman

[2018-12-18 00:33] cwgoes commented on #3140
How about we keep it simple and have two parameters in governance:

- *MaxValidatorIncreasePerMonth*
- *MaxValidatorCap*

where each month, the maximum validator count will increment by `MaxValidatorIncreasePerMonth` until `MaxValidatorCap` is hit - and governance can later change either parameter or both with parameter change proposals.

If we want to stay true to the whitepaper, `MaxValidatorInc

[2018-12-18 00:34] ebuchman commented on #3140
I like keeping it simple, but not sure it should be under direct control to change it.

[2018-12-18 01:16] cwgoes commented on #3140
As in, it shouldn't be a governance parameter but rather a hardcoded constant (requiring a software upgrade to change instead of a parameter change proposal)?

[2018-12-18 08:53] thanethomson opened #3142 "Basecoin example: custom Bech32 prefixes break tutorial"
## Summary of Bug
The custom Bech32 prefixes in the [Basecoin example code](https://github.com/cosmos/cosmos-sdk/blob/v0.28.1/docs/examples/basecoin/cmd/basecli/main.go#L51) break the [tutorial](https://github.com/cosmos/cosmos-sdk/blob/v0.28.1/docs/examples/README.md), causing an error at [this point](https://github.com/cosmos/cosmos-sdk/blob/v0.28.1/docs/examples/README.md#send-transactions) whe

[2018-12-18 11:58] joe-bowman opened #3144 "Unable to commit new transactions"
## Summary of Bug
Currently on GoS, submitting a transaction errors as follows:

ERROR: broadcast_tx_commit: Response error: RPC error -32603 - Internal error: Error on broadcastTxCommit: Tx size (including amino overhead) is too big: 197, max: 182

____
#### For Admin Use
 - [ ] Not duplicate issue
 - [ ] Appropriate labels applied
 - [ ] Appropriate contributors tagged
 - [ ] Contributor assigne

[2018-12-18 12:04] joe-bowman commented on #3144
@jaekwon - as per riot

[2018-12-18 12:58] joe-bowman commented on #3144
Raised by Jae here: https://github.com/cosmos/game-of-stakes/issues/242

[2018-12-18 13:14] zramsay opened #3146 "localnet fails undeterminisitically"
a solid 1/3 of my PRs start with localnet failing for reasons unknown. None of these PRs touch the code, so something is broken somewhere

[2018-12-18 13:53] alexanderbez commented on #3144
I think we can close this as a duplicate?

[2018-12-18 14:45] joe-bowman commented on #3144
Yep. Seems like a config change rather than a code issue per se.

[2018-12-18 14:45] #3144 closed

[2018-12-18 15:23] zmanian opened #3147 "Panic on gaiad export --height"
Exporting at height fails.

[code]
[code]

[code]

[2018-12-18 15:32] alexanderbez commented on #3147
I can take a look at this.

[2018-12-18 15:33] kevlubkcm commented on #3079
`micro-atom` -> `quark`?

[2018-12-18 16:17] #3147 closed

[2018-12-18 16:38] jackzampolin opened #3150 "Update Basecoin code and help text"
Basecoin, while compiling is currently in an unknown state with outdated documentation. We need to go through and fully update the example.

[2018-12-18 17:58] cwgoes commented on #3150
I think we should remove both `basecoin` and `democoin` from this repo; the example SDK project is already far better than either.

[2018-12-18 18:09] alessio commented on #3078
This should be fixed in https://github.com/cosmos/cosmos-sdk/commit/ff6c2f2badd4784b48a7552dfb44fbf3bae5418d.
@sabau Would you mind to try reproduce the issue with latest develop please?

[2018-12-18 18:09] alexanderbez commented on #3150
Agreed. Not mention a load of other binaries.

[2018-12-18 18:30] alexanderbez commented on #3139
Hmmm, I'm not sure 'quick-n-dirty events' (#3137) is a breaking change per say. It adds new API functionality, but nothing state machine breaking. Correct me if I'm wrong @cwgoes.

[2018-12-18 18:55] #3139 closed

[2018-12-18 19:03] jackzampolin commented on #3150
@alexanderbez which ones are you thinking of?

[2018-12-18 19:14] #3064 closed

[2018-12-18 20:41] #3093 closed

[2018-12-18 21:09] jackzampolin opened #3151 "LCD Purpose"
Picking up discussion from: https://github.com/cosmos/cosmos-sdk/issues/2352

A decision was made on that issue to continue with the current format of the LCD (disconnected process, w/ proofs on balance endpoint), and finalize the interface. That work has been [roughly completed](https://github.com/cosmos/cosmos-sdk/issues/2113), and leads to questions about the purpose of the lite client daemon (

[2018-12-18 21:10] jackzampolin commented on #2352
Closing this in favor of https://github.com/cosmos/cosmos-sdk/issues/3151

[2018-12-18 21:10] #2352 closed

[2018-12-18 21:33] jackzampolin commented on #3151
@alexanderbez

It puts a rest interface over the keybase which is easier and more elegant to program against than using the CLI for the same operations.

[2018-12-18 21:39] fedekunze commented on #3146
I was also experiencing this error on #3069

[2018-12-18 21:39] fedekunze commented on #3146
From @jackzampolin :

[2018-12-18 21:43] #2182 closed

[2018-12-18 21:54] bennofs opened #3153 "API to get connection status based on node id (ip etc)"
## Summary
Add an API to get the connection status (including the ip used for the connection) from a full-node for a given node id.

## Problem Definition
Right now, `/net_info` shows all connected peers. However, it is not possible to find the actual ip being used for the connection, as `listen_addr` and `rpc_addr` can both be set to `0.0.0.0` and are not reliable.

## Proposal
I propose to eithe

[2018-12-18 21:54] jackzampolin opened #3155 "x/gov tally result in GET /gov/proposal/{id} wrong"
The LCD endpoint(s) for querying governance proposal(s) includes a `.value.tally_result` field with the following data:

[code]

Even if the proposal has votes on it, this data is always 0s. We should fix the endpoint to return the same data as `/gov/proposals/{id}/tally` which for the same proposal returns:

[code]

[2018-12-18 22:09] fedekunze commented on #3155
See discussion from #2859

[2018-12-18 22:11] fedekunze commented on #2859
I personally think it's completely unnecessary since you can only use it when the proposal is on Voting Period

[2018-12-18 22:14] jackzampolin commented on #3048
Going to close this as fixed! 🎉

[2018-12-18 22:14] #3048 closed

[2018-12-18 22:16] alexanderbez commented on #3153
I have a hunch this belong in Tendermint as that is where this JSON-RPC endpoint is served from.

[2018-12-18 22:23] bennofs commented on #3153
Ah you a right, moving to tendermint.

[2018-12-18 22:23] #3153 closed

[2018-12-18 22:52] truted commented on #2953
Cosmos message failures return an inconsistent ABCI Log value. In some instances the Log message is prepended with `Msg 0 failed: [json_error_string]` while others just have `[json_error_string]`. The `Msg 0 failed` defeats the purpose of having a json error string since the log can no longer be JSON parsed.

Without prefix:
[code]

With prefix:
[code]

The `Msg 0 failed:` prefix is appended when

[2018-12-18 23:35] jackzampolin commented on #2180
I think this is how the current LCD tests work. Going to close this issue.

[2018-12-18 23:35] #2180 closed

[2018-12-18 23:38] jackzampolin commented on #1721
We have made a considerable amount of progress here and there are other issues tracking progress on different parts of this. Going to go ahead and close. Please re-open if you have 🐄

[2018-12-18 23:38] #1721 closed

[2018-12-18 23:39] jackzampolin commented on #1719
The community has started to produce good documentation here: https://kb.certus.one/validator_ha.html

Going to go ahead close this issue. Re-open if you have 🐄

[2018-12-18 23:39] #1719 closed

[2018-12-18 23:58] jackzampolin commented on #1837
This would be just checking if the text is `UTF-8` encoded correct?

[2018-12-19 01:51] cwgoes commented on #3151
This doesn't easily allow lite client proofs; that's the primary issue.

We could move the "querier" logic into a client-side library and possibly add logic in Tendermint for easy batch queries and range queries (to make large scans faster).

[2018-12-19 02:11] alexanderbez commented on #3151
@cwgoes can you elaborate please?

[2018-12-19 03:13] cwgoes commented on #3151
Sure, sorry if that wasn't clear.

If we reformat the data (e.g. in JSON) before returning it to the client, we can't prove it, since the JSON-encoded data isn't actually in the blockchain state. Furthermore, if we do complex things like scanning and filtering, we can't prove to the client that we (the node) filtered correctly - we could return results not matching the filter or fail to return res

[2018-12-19 05:03] alexanderbez commented on #3151
Perfect! Makes complete sense.

[2018-12-19 06:37] sunnya97 commented on #2859
@fedekunze
Calculating the current result of the tally during a voting period is super useful.  A lot of UIs will want to show that.  And I've been using it a lot to track the status of the active proposals on GoS.

What do you think about the suggestion:

[2018-12-19 10:18] Slamper opened #3160 "Chain Halt: Invariant broken on GoS"
**What happened is:**

A unbonding period was complete and in the `EndBlocker` of x/stake `UnbondAllMatureValidatorQueue` was called which completed the unbonding by removing the validator.

This triggered the hook `RemoveValidator` which is handled by x/distribution. The hook there will delete the validatorDistInfo. There is a sanity check that DelAccum is 0 but the validator still had commission

[2018-12-19 11:10] rickyyangz opened #3161 "types.Context has concurrent issue"
## Summary of Bug

The `gen` in context is not goroutine safe.

## Steps to Reproduce

easy to repro,
[code]
both `gen` and `Op.gen` are not correct after execution.

____
#### For Admin Use
 - [ ] Not duplicate issue
 - [ ] Appropriate labels applied
 - [ ] Appropriate contributors tagged
 - [ ] Contributor assigned/self-assigned

[2018-12-19 11:39] faboweb commented on #2953
Yeeeeeeeees 🚀

[2018-12-19 12:02] alessio opened #3162 "Change --gas=simulate to --gas=auto when sending txs"
Users may be confused by the flag `--simulate` and the `simulate` value of the `--gas` flag.

`--gas=simulate` sets the gas to estimated value returned by the simulation that runs before the tx is executed. Conversely, `--simulate` just triggers the simulation without eventually execution the transaction.

Hereby I propose to change the `simulate` value accepted by the `--gas` flag to `auto`.

@fe

[2018-12-19 12:35] fedekunze commented on #3162
also on the `TxBuilder` the `SimulateGas` field is confusing, should say instead `Simulate&Execute` or something like that

[2018-12-19 12:38] fedekunze commented on #3162
The `NewTxBuilderFromCLI()` function is inconsistent since it uses the `--simulate` flag  which should only trigger the simulation and not the execution

[2018-12-19 12:57] alessio commented on #3162
I think `EstimateGas` sounds better

[2018-12-19 13:00] fedekunze commented on #3162
maybe, but my impression is that it's just estimating the gas for the simulation and not for the execution afterwards

[2018-12-19 13:10] alessio commented on #3162
`SimulateInOrderToEstimateGasAndExecute` would be more accurate indeed :D

[2018-12-19 13:12] alessio commented on #3162
Just kidding :) - I'd rather stress that gas will be automatically calculated

[2018-12-19 13:44] alexanderbez commented on #3161
A bulk of the state machine is not thread-safe. I don't know if we intended for the context to be thread-safe at all.

[2018-12-19 13:44] alexanderbez commented on #3160
/cc @cwgoes @rigelrozanski

[2018-12-19 14:04] alexanderbez opened #3164 "Tx ValidateBasic params"
## Summary

The `Tx` interface includes `ValidateBasic` extremely useful during the execution of the ante handler. However, some of these "basic"  validation checks (for Gaia) will ultimately need access to some parameters (e.g. memo cost per byte).

## Problem Definition

We need to be flexible in supporting clients use cases as they may need varying bits of information that need to be passed in

[2018-12-19 16:24] cwgoes opened #3168 "Establish procedure for choosing / initializing root-of-trust with gaiacli"
Ref https://github.com/cosmos/cosmos-sdk/pull/3156#pullrequestreview-186374001

[2018-12-19 17:02] #2498 closed

[2018-12-19 17:41] zramsay commented on #3146
e.g. https://circleci.com/gh/cosmos/cosmos-sdk/62050?utm_campaign=vcs-integration-link&utm_medium=referral&utm_source=github-build-link

[2018-12-19 17:48] jackzampolin commented on #3146
Going to close this issue as we found the root cause and fixed.

[2018-12-19 17:48] #3146 closed

[2018-12-19 19:08] fedekunze commented on #2859
I completely agree with that, it's just that having if-else checks for which way to query the partial result or the final result is not good.

I like the idea of the `FinalTallyResult` iff the `/tally` always returns the results (partial or completed) of the proposal tally

[2018-12-19 22:03] cwgoes opened #3174 "Deduplicate / DRY / cleanup hooks"
Especially critical since they're so easy to mis-reason-through - let's make sure we have no duplicate logic, only use hooks when we *need* cross-module interaction, and don't call one hook in another hook (e.g. I think the way the distribution hooks are written is really confusing at the moment).

cc @rigelrozanski @jaekwon

[2018-12-19 22:51] fedekunze opened #3176 "Validate tx/sign body and use BaseReq"
## Summary

POST body is not validated because it doesn't use `BaseReq` nor the `StdTx.ValidateBasic()`

## Problem Definition

We are using `SignBody` for `POST tx/sign` but the `StdTx` is not validated at any point of the request.

https://github.com/cosmos/cosmos-sdk/blob/c9ef680f67dfc67c0929d882da126d73726dca19/x/auth/client/rest/sign.go#L15-L24

## Proposal

Use `BaseReq` with its validation

[2018-12-20 09:22] rickyyangz commented on #3161
the underlying `Context` in go is thread-safe.

For the context in cosmos, I think it would be better make it thread-safe since it already did something to ensure it.
[code]
so only the `gen` has data race issue and it's easy to be fixed.

[2018-12-20 09:45] alessio commented on #1727
Tendermint docs already (partially) documents genesis: https://tendermint.com/docs/tendermint-core/using-tendermint.html#initialize

I'll take it from there and extend it

[2018-12-20 10:20] faboweb opened #3178 "TxResult on REST in clear text"
## Summary

The TxResult as a response on sending a tx is returning the tx in base64 as well as the tags in base64. I think it would be less confusing if those values would be in clear text.

## Problem Definition

## Proposal

____
#### For Admin Use
 - [ ] Not duplicate issue
 - [ ] Appropriate labels applied
 - [ ] Appropriate contributors tagged
 - [ ] Contributor assigned/self-assigned

[2018-12-20 15:08] Slamper opened #3180 "GoS Upgrade 1 Halt"
[code]
____
#### For Admin Use
 - [ ] Not duplicate issue
 - [ ] Appropriate labels applied
 - [ ] Appropriate contributors tagged
 - [ ] Contributor assigned/self-assigned

[2018-12-20 15:10] chris-remus commented on #3180
Watching ^

[2018-12-20 15:11] kauchy commented on #3180
the vdi update_height is 11441 in genesis.json

[2018-12-20 15:34] cwgoes opened #3181 "Fix gaiad export"
- UpdateHeight on accums
- BondHeight / UnbondingHeight on jailed validators

cc @zmanian

[2018-12-20 15:44] ValarDragon commented on #3181
Any idea as to why the tests didn't catch this?

[2018-12-20 15:49] ValarDragon opened #3182 "Simulate from a genesis file"
We should add functionality to run the simulator from a given genesis file. There is the problem of not knowing the private key to accounts / validators. This can be fixed by swapping every address / pubkey with a known privkey / pubkey / address pair. This would catch a decent class of issues that have high human-hour cost, such as game of stake upgrade 1's halt and upgrade 2's halt.

Alternative

[2018-12-20 19:09] #2996 closed

[2018-12-20 19:21] #3162 closed

[2018-12-20 20:40] #3181 closed

[2018-12-20 21:10] ValarDragon commented on #3180
Fix merged to develop #3181

[2018-12-20 21:10] #3180 closed

[2018-12-20 22:57] sunnya97 commented on #2859
This is what it already currently does.

[2018-12-21 01:37] fedekunze commented on #2859
Cool ! then I agree on your proposal

[2018-12-21 02:14] fedekunze commented on #3155
should we close and move this to #2859 ?

[2018-12-21 02:19] fedekunze commented on #3105
FYI I changed the `--fee` flag on  #3069 to receive `sdk.Coins` instead of `sdk.Coin` since the `MinDeposit` param already had that type

[2018-12-21 12:08] Onefox opened #3186 "Request: API for bulk query of accounts."
## Summary
This feature can help if you need to handle X thousands of accounts.
It would give a grouped or array type of all coins that are within the accounts.

This would help to validate the balance of your system with the balances of the blockchain.

## Proposal
Create a new api in additional to the apis listed [here](https://cosmos.network/rpc/#/ICS20/post_tx_sign) that can query multiple acc

[2018-12-21 15:14] Slamper opened #3187 "GoS Upgrade 2 Halt Stacktrace"
Someone double signed but all slashing periods, which are normally set to the bonding height, had been deleted in the export logic.

Here the original state is set:

https://github.com/cosmos/cosmos-sdk/blob/feff014df1504a8bc320719749bc9a29823b616c/x/slashing/hooks.go#L25-L30

Here they the  `SlashingPeriods` are deleted in the for zero height export:

https://github.com/cosmos/cosmos-sdk/blob/fef

[2018-12-21 15:20] alessio opened #3188 "Flatten REST POST payload"
_(sprung from https://github.com/cosmos/cosmos-sdk/pull/3179#discussion_r243573447)_

Presently, `POST` requests body embed a `BaseReq` nested object, e.g. `POST tx/sign` takes a JSON object like the following example:

[code]

I'd propose to promote `base_req` fields and treat them as first-class citizens - this seems to make sense as those fields are required for the request to be successfully p

[2018-12-21 15:49] alexanderbez commented on #3188
💯 % agree. The `BaseReq` should simply be embedded giving you a flat structure.

[2018-12-21 16:16] alexanderbez commented on #3187
Thanks @Slamper -- we should have a PR up shortly.

[2018-12-21 17:30] #3027 closed

[2018-12-21 17:31] jackzampolin commented on #3155
I think that would make sense @fedekunze

[2018-12-21 19:31] faboweb commented on #3188
I actually think this structure makes sense as it decouples the content and the meta information.
I.e. for `POST /bank/accounts/%s/transfers` you split the `amount` and the signing info.

[2018-12-21 19:54] alexanderbez commented on #3188
But there is no metadata per say...all the fields are primary/first-class-citizen fields imho.

[2018-12-22 02:17] alexanderbez commented on #2914
I think we can close this due to F1, correct me if I'm wrong @cwgoes.

[2018-12-22 02:17] alexanderbez commented on #2448
Closing this for now per discussions of this needing ABCI changes.

[2018-12-22 02:17] #2448 closed

[2018-12-22 05:36] yulidai opened #3190 "Gaiad cannot reconnect KMS unless restart gaiad"
## Summary of Bug
In order to use `tendermint/kms` with gaiad, i'm changing the `priv_validator_laddr`, then they connect success and it's good to work together.

But problem occured after restarting kms, gaiad will keep printing `Ping                                         module=privval err="remote signer timed out"`. They will never be able to reconnect unless i restart gaiad

## Steps to Repr

[2018-12-23 15:33] #3160 closed

[2018-12-26 21:07] svaishnavy opened #3193 "Add provision to support free transactions"
## Summary
Add the ability to have zero-fee/zero-gas transactions.

## Problem Definition
I am working on a cosmos-sdk based application. One of the requirements in my application is for witnesses to create transactions that certain external events indeed took place. I do not want to have fees/gas for those transactions created by witnesses in my application. I'm not sure how this could be achieve

[2018-12-27 10:38] hleb-albau opened #3194 "PruneSyncable configurable numRecent params."
Hi, I am looking a way to adjust pruning to keep last N states, rather than 100.

Can be done by adjusting BaseApp.SetPruning() with addition params.

[2018-12-27 13:50] alexanderbez commented on #3194
Yes, this can be done. But we'll need to think of a clean and flexible API that wont break with future changes.

[2018-12-27 16:31] hleb-albau commented on #3194
@alexanderbez I created PR with simple proposal https://github.com/cosmos/cosmos-sdk/pull/3195.

[2018-12-27 17:55] yulidai opened #3196 "Can't start the gaiad when working with KMS after a while"
## Summary of Bug

I tested how well gaiad and KMS work together by changing the laddr of config.

Both A and B have been restarted many times. Sometimes request of sign would be rejected by KMS.

Then error reported during testing by start, i don't now why. Error info is:
[code]

After remove config and data, gaiad start success by initialization

## Steps to Reproduce

`$ gaiad start`, do not kn

[2018-12-28 04:33] rigelrozanski commented on #3174
agreed

[2018-12-28 04:39] rigelrozanski commented on #3182
I think this is encompassed within #3026 ... duplicate?

[2018-12-28 05:20] ValarDragon commented on #3182
I don't think it is. AFAIU #3026 is about replaying an existing blockchain. This is about simulating from a genesis file where you know none of the private keys.

[2018-12-28 06:36] rigelrozanski commented on #3182
my mistake you're correct, they are distinct - however there are overlapping components, such as the private key "swapping" so to speak; also a common framework would be beneficial whether they are existing txs from a historical executed blockchain or generated from txs from the simulation. So yeah I think we should implement with this in mind

Additionally the combination of these two utilities m

[2018-12-28 18:49] zmanian opened #3197 "gaiacli should support storing only public keys"
`gaiacli keys` should support importing only public keys.

These public keys can form both an address book and help with the construction of multisig addresses.

Currently `gaiacli keys show` can only generate multisig address where all the private keys are in a single machine.
____
#### For Admin Use
 - [ ] Not duplicate issue
 - [ ] Appropriate labels applied
 - [ ] Appropriate contributors tagg

[2018-12-28 19:27] zmanian opened #3198 "Document workflow for signing multisig transactions"
There is no documentation on the workflow for using multisig in the gaiacli to sign and brodcast a multisig transaction.

The send tokens example in https://github.com/cosmos/cosmos-sdk/blob/develop/docs/gaia/gaiacli.md only covers the single sig case.

___
#### For Admin Use
 - [x] Not duplicate issue
 - [ ] Appropriate labels applied
 - [ ] Appropriate contributors tagged
 - [ ] Contributor assi

[2018-12-28 23:08] alexanderbez commented on #3198
Thanks @zmanian, you are indeed correct it seems. I'll be happy to update the docs.

[2018-12-29 03:56] kidinamoto01 opened #3199 "Node Paniced After Unbond Tx in Genki-4001"
## Summary of Bug

cosmos-sdk version: 0.29.0-0-g2b3842c
I tested the unbond transaction in geki-4001 testnet, but some panic showed up.

## Steps to Reproduce

[code]
Panic message:
[code]
____
#### For Admin Use
 - [ ] Not duplicate issue
 - [ ] Appropriate labels applied
 - [ ] Appropriate contributors tagged
 - [ ] Contributor assigned/self-assigned

[2018-12-29 04:08] ValarDragon opened #3200 "rename /x/ to /extensions or /modules"
We had some internal discussion on this quite awhile ago. I think `x` is unclear (at minimum its unclear that it stands for extensions within our docs). This just feels like an odd barrier to entry to have. This is also done on IRIS' repo, and I think it looks a lot cleaner. https://github.com/irisnet/irishub

[2018-12-29 04:38] ValarDragon commented on #3193
IMO, the best way to do this is to parameterize our auth module with a gas meter implementation, whose "New constructor" takes in the tx bytes. This is significantly more general than the suggestion, and allows the suggestion to be implemented quite easily. Your situation would just be a gas meter that switch cased on tx type, if tx type == free type, use infinite gas meter, otherwise use normal g

[2018-12-29 15:00] Slamper opened #3201 "Genki-4001: Chain halt due to height regression"
The network died in block 5000 when the first slashing round happened.

[code]

____
#### For Admin Use
 - [ ] Not duplicate issue
 - [ ] Appropriate labels applied
 - [ ] Appropriate contributors tagged
 - [ ] Contributor assigned/self-assigned

[2018-12-29 15:33] Slamper commented on #3201
Fix implemented in #3183

[2018-12-29 15:33] #3201 closed

[2018-12-30 00:03] ValarDragon commented on #3200
Good point!

[2018-12-30 00:03] #3200 closed

[2018-12-30 21:12] rfunduk opened #3203 "Governance proposals from previous chain have incorrect proposal_status"
## Summary of Bug
Asking LCD for governance proposals on genki-4002 returns proposals from previous chains (as expected), but these proposals say they are in the voting period when clearly that is not the case.

## Steps to Reproduce
[code]

With Hubble we more or less display this raw data, so you can also see it in action here as an example: https://hubble.figment.network/chains/genki-4002/gover

[2018-12-31 17:54] joe-bowman opened #3204 "/gov/proposals/<proposalID>/votes/<voterAddr> returns HTTP 500 on vote doesn't exist"
## Summary of Bug
When calling the LCD endpoint `/gov/proposals/<proposalID>/votes/<voterAddr>`, HTTP 404 should be the response when the use has not voted, however this returns a 500 response in 0.29.0.

[code]
____
#### For Admin Use
 - [ ] Not duplicate issue
 - [ ] Appropriate labels applied
 - [ ] Appropriate contributors tagged
 - [ ] Contributor assigned/self-assigned

[2018-12-31 17:55] joe-bowman commented on #3204
I don't recall if this is a convention API wide, but shouldn't the response be json anyway?

[2018-12-31 21:50] alexanderbez commented on #3193
This could perhaps be facilitated via the params

[2018-12-31 22:00] alexanderbez commented on #3204
Indeed, since `QueryVoteByTxQuery` simply returns an error, we don't really know if we should return a 500 or 404 or another status code. Perhaps we can think of a more flexible way to handle this.

But as you suggested, at the very least, it should return a JSON response 👍

[code]

[2018-12-31 22:05] alexanderbez commented on #3203
Perhaps something invalid in in `x/gov` `ExportGenesis`?

[2018-12-31 22:11] ValarDragon commented on #3193
Since we don't want to encode functions in state (unless we have a VM language), wouldn't the parameter have to be "list of free tx types"? If so, isn't that something most chains wouldn't want? It would complicate the default auth implementation and require an additional param store read per CheckTx. I think in general we ought to make the actual modules more modular, since there is an exponentia

[2019-01-02 07:06] sunnya97 opened #3205 "Only create new slashing period when validator is unjailed, not re-enters validator set"
From #3103:

[2019-01-02 15:05] alexanderbez commented on #3193
Yes. Probably something most chains would not want, indeed. Also not worth the extra read (although cached).

Yes, precisely!

[2019-01-02 16:12] sunnya97 opened #3206 "Delegator whose power didn't contribute to infraction still gets slashed"
Let's say the sequence of events is:

1. Validator A commits Infraction 1
2. Delegator X delegates to Validator A
3. Evidence for Infraction 1 reaches state machine

In this situation, Delegator X's stake didn't contribute to the infraction, but I believe we still slash him.

@rigelrozanski @cwgoes

[2019-01-02 16:58] alexanderbez commented on #3198
Actually, afaik, we only have functionality to generate a multisig address/pubkey pair, but not actually having the ability to sign & broadcast txs with a multisig. (cc @alessio).

[2019-01-02 18:13] ValarDragon opened #3208 "coins.IsValid checks coin denom ordering incorrectly"
Theres another bug in `coins.IsValid`. It should not allow two subsequent denoms to be equal to one another. Fixing this entails changing the `<=` check to be `<`.
https://github.com/cosmos/cosmos-sdk/blob/0d63c92be145cf0cae0f3f0ffbc893eb164dfff3/types/coin.go#L153

[2019-01-02 18:19] cwgoes opened #3209 "Deduplicate coin validity checks; check positive amount in bank.SendKeeper"
Ref https://github.com/cosmos/cosmos-sdk/pull/3207#issuecomment-450932766

cc @ValarDragon

[2019-01-02 18:20] kevlubkcm commented on #3208
are you sure on this? if `coin.Denom == lowDenom`, `IsValid()` should return `false` which seems to be the current behavior

[2019-01-02 18:30] kevlubkcm commented on #3208
on a related note though, the single coin case is strange. why does `IsValid()` check for upper case characters only for coins other than the first? should the `case 1:` branch check that `coins[0].Denom` is lower-case?

think if the `Coin` struct is made private and since `NewCoin` does this validation, the `Denom` case checks would be redundant

[2019-01-02 18:30] ValarDragon commented on #3208
Funnily enough, I was writing a PR exactly for this at the moment.

[2019-01-02 18:33] ValarDragon commented on #3208
Also, responding to the second part of your question, we can't rely on `sdk.NewCoin` enforcing any such property, as coins objects get parsed from strings. Because of that, `sdk.NewCoin` never gets called within amino unmarshalling.

[2019-01-02 19:31] ValarDragon commented on #3193
I'm not really sure thats optimal vs making the auth module take in a gas meter to use. You can then customize your gas meter as you see fit, and also give your gas meter access to params to change things dynamically. I think the set of possibilities is greater when you allow gas meter selection, instead of having a choice via params.

[2019-01-02 19:38] alexanderbez commented on #3193
I like this idea. Makes sense to me.

[2019-01-02 20:37] rigelrozanski commented on #3206
Yeah not a huge huge problem I don't believe - it doesn't seem totally unreasonable that delegator X would be punished for delegating to a bad validator (even though maybe their stake didn't contribute to the infraction)

[2019-01-02 20:46] alexanderbez commented on #3206
But what if the delegator did not know of the infraction at the time of delegation (i.e. it was not submitted)?

[2019-01-02 21:06] rigelrozanski commented on #3206
In my above comment I'm assuming they _couldn't_ of known through conventional channels. It's no different than a delegator which was already delegated to a validator before the infraction - I'd imagine unless they were privy to knowledge of an infraction, or suspected it (maybe through signaling of others unbonding) - then they would also not know that they where to be slashed - so really it's no

[2019-01-02 21:11] alessio commented on #3198
Will pick this up.

[2019-01-02 21:19] #3209 closed

[2019-01-02 23:57] #3187 closed

[2019-01-03 02:19] jackzampolin commented on #2659
Ok taking a look at this and I have a couple of questions:

- `MsgDelegate`, `MsgBeginRedelegate`
  * Does making these messages delegation aware require a global unbonding/redelegation index? If not we could cache them on `simulation.Account` (as @ValarDragon suggests) in a `[]Delegation`. What should that object look like?
- `MsgDelegate`, `MsgBeginUnbonding` and `MsgBeginRedelegate`
  * We alre

[2019-01-03 02:50] jackzampolin commented on #3168
Is this issue prelaunch? I think we are likely punting on the lite client stuff till #postlaunch

[2019-01-03 08:10] hleb-albau commented on #3193
Also, the auth module can define more general extension interfaces, that can be used not only by gas meter but other staff.  List of such extensions will be executed in extension points. Gas meter will be implemented via them.

[2019-01-03 09:57] santatic opened #3217 "How to get transactions of a block from API?"
## Summary

I cann't get transactions of one block from API `http://localhost:26657/block?height=3`, because `txs` params is encoded data.

## Problem Definition

On my web client, I need to get list transactions of one block?
Did we have it?

## Proposal

Can I get readable transactions of a block through RPC API?
____
#### For Admin Use
 - [ ] Not duplicate issue
 - [ ] Appropriate labels applie

[2019-01-03 14:16] alexanderbez commented on #3217
What is the problem here? The height query gives you the transactions as you've shown. You need to Base64 decode to get the raw binary blob and then use a codec to deserialize into a proper `Tx`.

[2019-01-03 15:16] gamarin2 commented on #2823
Are we talking about Validator FaQ or Cosmos FaQ? If we're talking about the latter, I believed the new FaQ was released not too long ago https://cosmos.network/resources/faq

[2019-01-03 16:31] jackzampolin commented on #3140
Sounds like we don't want to do this automatically. Can we go ahead an close this issue? Also is this #prelaunch?

[2019-01-03 16:45] rigelrozanski commented on #2916
@cwgoes is this issue relevant in F1?

[2019-01-03 17:00] jackzampolin commented on #2838
This is addressed by #3119

[2019-01-03 17:00] #2838 closed

[2019-01-03 17:04] jackzampolin commented on #3008
Addressed by #3158

[2019-01-03 17:04] #3008 closed

[2019-01-03 17:08] rigelrozanski commented on #3049
is this still an issue?

[2019-01-03 17:16] rigelrozanski commented on #2978
is this still an issue?

[2019-01-03 17:19] #3155 closed

[2019-01-03 17:20] jackzampolin commented on #2823
This sounds like a validator troubleshooting FAQ. I think the Certus One KB has some good content here: https://kb.certus.one but we should have some on our website as well.

[2019-01-03 17:21] alexanderbez commented on #3083
@alessio isn't there a PR for this? Wasn't it fixed & closed?

[2019-01-03 17:22] cwgoes commented on #2916
No; validators don't have an "accum" by any name.

[2019-01-03 17:45] alexanderbez commented on #2953
@cwgoes is this needed prelaunch? Can we come up with a standardized format in regards to the response (e.g. `{codeMappedString}: {errorMessage}`)? Or do we still want JSON with only a `message` here?

[2019-01-03 18:49] jackzampolin commented on #3083
https://github.com/cosmos/cosmos-sdk/pull/3085

[2019-01-03 18:49] #3083 closed

[2019-01-03 18:49] #2978 closed

[2019-01-03 18:50] jackzampolin commented on #3049
Closing in favor of #2909

[2019-01-03 18:50] #3049 closed

[2019-01-03 19:17] jackzampolin commented on #2953
@alexanderbez It would be great to have prelaunch. This issue pretty significantly affects the user experience. Ideally the errors can be formatted in a couple of different ways (string format[s] would be nice too), and we aren't displaying codespace info.

[2019-01-03 19:39] alexanderbez commented on #2495
Started to tackle this and realized that you're specifying `--address-delegator` which signifies that you intend for this to NOT be a self-bond based validator creation. If wish to create a validator via a self-bond, there is no need  for a `--address-delegator`. Of course you may provide one, but it'll just be equal to the `--from`.

When `--address-delegator` is NOT equal to `--from`, then you'r

[2019-01-03 19:40] jackzampolin commented on #3204
It looks like the whole governance module has this issue. It looks like the easiest way to solve this is to add a error type:

[code]

And then return this if the `tx.SearchTxs` calls fail to find any transactions. The other errors returned by the initial function would be from JSON marshaling. We can return 500s for those.

[2019-01-03 19:43] jackzampolin commented on #2495
I think the error could be better formatted but thats covered by https://github.com/cosmos/cosmos-sdk/issues/2953

[2019-01-03 19:45] alexanderbez commented on #2953
What I'm asking for is essentially what is the actionable item here? Do we still want JSON? Do we want plaintext? If so, what format?

[2019-01-03 19:48] alexanderbez commented on #466
Just to confirm, we want to be able to get all (decoded) txs for a particular block height or hash, correct?

[2019-01-03 20:16] jackzampolin commented on #3164
Since this requires a change to a pretty core interface we should get broad agreement here. Thoughts @alessio @cwgoes @jaekwon @mossid @rigelrozanski @sunnya97

[2019-01-03 20:17] jackzampolin commented on #3174
Doesn't F1 remove the need for some of the hooks logic?

[2019-01-03 20:18] jackzampolin commented on #3178
I think this should definitely be done. This same issue is also present in the CLI. Going to tag this appropriately.

[2019-01-03 20:21] alexanderbez commented on #2859
So is the actionable item here to simply rename the field `tally_result` => `final_tally_result`?

[2019-01-03 21:21] alexanderbez commented on #2942
Re-added the `if-have-time-prelaunch` as @cwgoes suggested its not super urgent. Also, with the advent of tombstoning, this may change anyway. Feel free to revert.

[2019-01-03 21:30] fedekunze commented on #2113
I think this is done, @jackzampolin can we close this ?

[2019-01-03 21:35] fedekunze commented on #466
@alexanderbez I think we can already query txs by height using  `/txs?tx.height=<block>` and hash using `/txs/{hash}`. Idk if we have tests and proper docs tho...

[2019-01-03 22:23] jackzampolin commented on #3203
[Looks like you are right](https://github.com/zmanian/cosmos-sdk/blob/zaki/add_offline_pubkeys/x/gov/genesis.go#L118-L141) @alexanderbez.

We don't modify the `proposal_status` when we export. We can, at time of export, set the status:

[code]

None of those seem to match, so maybe `StatusImported`?

[2019-01-03 22:34] rigelrozanski commented on #3164
To keep the code simple, I'm not convinced of this proposal. The idea behind validator basic is that _it is_ basic and inexpensive. Any more rigorous tests on the `tx` can always be performed in the message handler where it can have access to any parameters provided by the keeper it's a part of.

I obviously see how this could be of benefit, but I'm not sure that benefit is worth the added complex

[2019-01-03 22:37] cwgoes opened #3222 "Rename distribution to "incentivization", slashing to "disincentivization""
@sunnya97 made the point that much of the code in `x/slashing` is not - directly - about slashing: liveness tracking logic, `MsgUnjail`, and the slashing period (although related) are more broadly intended instantiations of disincentives for particular actions which we think the network ought to discourage.

Likewise, although fee distribution does indeed distribute fees, the mechanisms of distrib

[2019-01-03 22:41] jackzampolin commented on #3203
Looks like we just need to properly set the Active and Inactive proposal queues when importing genesis. I'll have a PR up for this. Thanks for the help @sunnya97

[2019-01-03 22:41] rigelrozanski commented on #3222
slack message

[2019-01-03 22:49] jackzampolin commented on #3199
@kidinamoto01 @joe-bowman are you still experiencing this issue?

[2019-01-03 22:51] jackzampolin commented on #3196
@yulidai Can you share your configuration and maybe some bash history to help us potentially reproduce this?

[2019-01-03 23:15] jackzampolin commented on #3186
@Onefox How many different addresses are you looking to query?

[2019-01-03 23:19] jackzampolin commented on #3188
I think we can keep base request as nested for now.

[2019-01-03 23:22] jackzampolin commented on #3190
cc @tarcieri @tony-iqlusion @Liamsi @zmanian

[2019-01-03 23:33] jackzampolin commented on #466
@fedekunze and we have a report [here](https://github.com/cosmos/cosmos-sdk/issues/3217) that the `tx.height` query isn't working.

[2019-01-03 23:39] tarcieri commented on #3190
This seems like a dupe of:

https://github.com/tendermint/tendermint/pull/2876
https://github.com/tendermint/kms/issues/116

[2019-01-03 23:41] jackzampolin commented on #2113
@fedekunze Can you do the honor as this has been your baby!?

[2019-01-03 23:44] fedekunze commented on #2113
😆  closing this ! 🎊

[2019-01-03 23:44] #2113 closed

[2019-01-04 00:13] jackzampolin commented on #3190
@tarcieri is that included in a release yet?

[2019-01-04 00:16] jackzampolin commented on #3196
Is this also related @tarcieri

[2019-01-04 00:52] alexanderbez commented on #3164
I agree. But having variadic params does not impact performance of complexity necessarily. e.g. `ValidateBasic` on `StdTx` used to validate the memo size/length -- super simple. Now it can't because it needs some info from the auth params. Sure, as you say the check/logic can be moved elsewhere.

[2019-01-04 00:56] alexanderbez commented on #3222
I think this might confuse a bunch of users of the SDK tbh. I already find it somewhat..."vague".

I think this is a grand idea and will be helpful for modularity and conciseness.

[2019-01-04 00:58] alexanderbez commented on #466
Im confused. Is the goal here just to rename the query param?

[2019-01-04 01:12] fedekunze commented on #466
Idk this issue has been open for a while already, probably it wasn’t implemented back then

[2019-01-04 01:15] fedekunze commented on #466
I think #2894 fixes the string issue for the tag

[2019-01-04 01:48] alexanderbez commented on #466
Great! Can we update that PR to reference that it closes this one?

[2019-01-04 01:53] fedekunze commented on #466
👍

[2019-01-04 01:55] tarcieri commented on #3190
To my knowledge this specific bug is addressed in 0.29 (see https://github.com/tendermint/tendermint/pull/2876) however there is a similar-but-distinct issue https://github.com/tendermint/tendermint/pull/2923 which is as-yet-unresolved but I believe does not result in this specific failure mode.

[2019-01-04 03:31] ackratos commented on #2787
we experienced similar issue on our chain, some validators each hold 26000+ CLOSE_WAIT tcp connection with two witness nodes.

Checking witness node logs, it seems block reactor bug caused the top 2 blocks synced are in in-consistent state (second block's last commit id cannot match first block's commit id). As we don't have debug level log, cannot tell about how block reactor comes in this situat

[2019-01-04 03:35] kidinamoto01 commented on #3199
@jackzampolin no, it should be a genesis issue. I will close it now.

[2019-01-04 03:35] #3199 closed

[2019-01-04 14:34] alexanderbez commented on #3101
imho, I think this needs to be prelaunch. comment if you disagree @ValarDragon @cwgoes.

[2019-01-04 14:37] alexanderbez commented on #3105
imho, this seems to be somewhat of a duplicate of #3101. Do you mind if I close @jackzampolin or are there different concerns. Users can already specify multiple fees via `--fees`. They just cant' configure the per unit cost of gas.

[2019-01-04 15:07] cwgoes commented on #3101
To be clear, are you suggesting no change to the underlying mechanism, but a UX change to calculate fees by multiplying estimated gas by user-specified "tokens per unit gas"?

[2019-01-04 15:09] alexanderbez commented on #3101
@cwgoes -- yes, opposed to the hard-coded value of `10000` right now.

[2019-01-04 15:15] alexanderbez commented on #2953
So the `Msg {#}` is prefixed when the msg gets actually executed, otherwise, if it fails during the ante handler, it doesn't get prefixed and that makes sense/is intended behavior since you haven't run any message yet. So in `BroadcastTxAndAwaitCommit` which the CLI and REST clients use, I'd have no way of knowing unless I do a regex.

[2019-01-04 15:21] #3105 closed

[2019-01-04 15:31] jackzampolin commented on #2787
@ackratos I think that might be more of a tendermint issue! The linked issue (tendermint#2967) might have some more information for you!

[2019-01-04 15:34] alexanderbez commented on #1714
@jackzampolin I dont think this is crucial to prelaunch. I reverted the tags.

[2019-01-04 15:41] faboweb opened #3226 "Gaia lite batch endpoint for validator signing info"
## Summary

We need to query the signing info for ever validator. This means several requests which takes a while. Let's add a batch endpoint as you usually will want to query all the info at once.

Proposal:
`/slashing/validators/signing_info` or `/slashing/validators`

## Problem Definition

## Proposal

____
#### For Admin Use
 - [ ] Not duplicate issue
 - [ ] Appropriate labels applied
 - [ ]

[2019-01-04 15:41] cwgoes commented on #3101
I see - sure, that makes sense to me.

[2019-01-04 15:46] alexanderbez commented on #2286
Also not sure if this is necessary prelaunch.

[2019-01-04 15:55] jackzampolin commented on #3226
Great idea @faboweb!

[2019-01-04 15:58] jackzampolin commented on #2286
@alexanderbez When @cwgoes and I triaged issues last time we decided this should be prelaunch. If you want to work on it, go ahead!

[2019-01-04 15:59] jackzampolin commented on #2953
@alexanderbez What about removing the prefix all together to allow for parsing?

[2019-01-04 16:05] alexanderbez commented on #2953
But if we remove the prefix, you wont know what error is for what message when you have multi-msg txs.

[2019-01-04 16:05] alexanderbez commented on #2953
We could have a struct that is `{MsgIndex: {d}, Log: {msgResult.Log}}` but this would require JSON serialization for every message executed.

[2019-01-04 17:13] truted commented on #2953
Can the log be an array with one entry for every message? It looks like currently its a long string with a `\n` between each message log: `Log:       strings.Join(logs, "\n"),`. This would remove the need to prefix the logs with the corresponding message index and if you received a code that execution failed you could check the message at the last array index to figure out which one went wrong and

[2019-01-04 18:17] ValarDragon commented on #3101
Why not instead do https://github.com/cosmos/cosmos-sdk/issues/3044 on both the tx creation front, and min fee checks.

[2019-01-04 18:19] faboweb opened #3227 "Implement CORS for Gaia Lite"
## Summary

To allow clients to query gaia lite (rest server) on a different domain, we should allow to define allowed CORS domains. The flag is already in the code base but it doesn't do anything.

## Problem Definition

## Proposal

____
#### For Admin Use
 - [ ] Not duplicate issue
 - [ ] Appropriate labels applied
 - [ ] Appropriate contributors tagged
 - [ ] Contributor assigned/self-assigned

[2019-01-04 18:37] rigelrozanski opened #3228 "Remove use of bechValidator"
Within `x/stake/types/validator.go` `type bechValidator` is defined. I'm not sure we still require that type based on updates to address and pubkey types... requires more investigation though

CC @alexanderbez @sunnya97

[2019-01-04 18:39] fedekunze commented on #3188
I agree with this proposal, we can keep the base request struct for validation purposes and flatten the request body

[2019-01-04 19:54] fedekunze commented on #3228
we don't need it now that amino parses all the responses (for the API requests) to bech32

[2019-01-04 20:16] alexanderbez commented on #3101
@ValarDragon sure! I think it should still be done prelaunch though. Better get the UX somewhat right out the door first before launch.

[2019-01-04 20:16] #3101 closed

[2019-01-04 20:17] alexanderbez commented on #3044
See https://github.com/cosmos/cosmos-sdk/issues/3101#issuecomment-451524621

[2019-01-04 20:17] alexanderbez commented on #3188
@fedekunze precisely what we're suggesting!

[2019-01-04 20:19] alexanderbez commented on #3228
Yeah I don't think we need it @rigelrozanski 👍

[2019-01-04 20:47] rigelrozanski commented on #3228
awesome

[2019-01-04 21:03] #2948 closed

[2019-01-04 22:09] #2186 closed

[2019-01-04 23:02] kwunyeung opened #3231 "Setting min fee in gaiad.toml doesn't work"
## Summary of Bug

Setting `minimum_fees` in `gaiad.toml` doesn't work. In GoS, the spam tx can only be rejected if the min fee is set with `--minimum_fee` with `gaiad start`.

## Steps to Reproduce

____
#### For Admin Use
 - [ ] Not duplicate issue
 - [ ] Appropriate labels applied
 - [ ] Appropriate contributors tagged
 - [ ] Contributor assigned/self-assigned

[2019-01-05 03:34] rigelrozanski opened #3233 "Remove separation of key fields from value during marshalling"
As per several discussions, to simplify the code we should allow for duplicate fields to be stored in both the key and value of a key value pair, this is already the case in most places I believe, however we'd started decoupling these within staking. For example a validator's `key` uses the the validators operating address, which is also a field in the Validator object and thus also included in th

[2019-01-05 05:41] alexanderbez commented on #3231
Thanks @kwunyeung, but I already fixed this via #3172 -- it's already on `develop`.

[2019-01-05 05:41] #3231 closed

[2019-01-05 05:48] alexanderbez commented on #2953
Perhaps, but in either case, this is an ABCI change that must happen in Tendermint first. An issue should be opened to change the type of `Log` to maybe a struct of some sort and discussion should take place there :)

[2019-01-05 07:07] mossid opened #3234 "Circuit breaker implementation proposal"
This issue describes the circuit breaker implementation. The circuit breaker will use the parameter store to write and ready which message route had broken. When the circuit breaker parameter is set to true for a specific message route, the ante handler blocks further execution of the transaction. The circuit breaker can be activated in various situations, including unexpected panic and `Parameter

[2019-01-05 10:28] mdyring opened #3235 "gaiad.toml fixes breaks running gaia in chroot"
https://github.com/cosmos/cosmos-sdk/pull/3172 breaks running gaia in a systemd "chroot".

Previously this worked:
[code]

Only way to make this work after the changes are:
[code]

For details on RootDirectory see https://www.freedesktop.org/software/systemd/man/systemd.exec.html.

[2019-01-05 15:41] faboweb opened #3237 "GET /auth/accounts/xxx produces 500 error"
## Summary of Bug

`https://lcd.nylira.net/auth/accounts/cosmos1xkdaa7qjvrvadkc3vhex9zemv5h4pm5cgu4sae` produces a 500 with an error `failed to prove merkle proof: expected 0 args, got 1`. This should deliver the account data.

## Steps to Reproduce

____
#### For Admin Use
 - [ ] Not duplicate issue
 - [ ] Appropriate labels applied
 - [ ] Appropriate contributors tagged
 - [ ] Contributor assign

[2019-01-05 16:50] faboweb opened #3238 "Add transaction time in gaia lite"
## Summary

Transactions queried via `/txs` don't hold the time. They only hold the block height and then the client can query the block meta information to enrich the transaction. It would be nicer to push this enrichment into gaia lite as this is a procedure probably most of the clients will do.

## Problem Definition

## Proposal

____
#### For Admin Use
 - [ ] Not duplicate issue
 - [ ] Approp

[2019-01-05 17:48] zmanian commented on #3019
Pretty sure this can be closed.

[2019-01-05 17:48] #3019 closed

[2019-01-06 04:43] rigelrozanski commented on #1402
Upon further investigation, it seems that it may increase complexity to store an array rather than use an index due to how the timestamp indexes are constructed for the auto-unbonding/redelegation maturing. - it's further unfortunate as the looping through the array would separate the queue mature logic from the single timestamp queue logic as is currently, to that _and_ the new array loop at the

[2019-01-06 11:15] faboweb commented on #3238
If we have the meta data for each block locally we don't need to query anything else I think.

[2019-01-06 11:31] faboweb commented on #3188
Ok cool. I would just not do it because it doesn't deliver a clear value to me and is a breaking change.

[2019-01-06 14:13] mdyring commented on #3235
Turns out this might be related to building without LEDGER_ENABLED=0 and not the changes. Will verify shortly.

[2019-01-06 17:30] #2495 closed

[2019-01-07 05:38] zmanian opened #3242 "Unexpectedly high gas usage in delegate transaction on game_of_stakes_3"
We have seen a number of delegate transactions in Game of Stakes fail due to unexpected gas usage.

https://hubble.figment.network/chains/gos3/blocks/19486

Contains an example.

No pattern has been identified  except that only delegate transactions appear to demonstrate unexpectedly high gas usage.

This is has also only been observed when adding coins to existing delegation and not when creating

[2019-01-07 09:36] mdyring commented on #3235
This was due to the above, silly me. Closing issue.

[2019-01-07 09:36] #3235 closed

[2019-01-07 15:58] Slamper commented on #3242
@alexanderbez It is actually not.

What happens is that the first transaction in the block has an invalid signature which causes an abort.

https://github.com/cosmos/cosmos-sdk/blob/e855780df77dd846ce56029c872c0fbd82127dda/baseapp/baseapp.go#L761-L770

However that also means that the context is not overwritten.
The problem is that the `newCtx` contains the actual gas meter of the transaction.
So

[2019-01-07 16:33] Slamper commented on #3242
@alexanderbez I don't have a PR open. Feel free to open one.

[2019-01-07 18:12] jackzampolin commented on #3188
@faboweb's concern is mine as well.

[2019-01-07 18:38] sunnya97 opened #3245 "Rename validator.GetJailed() to validator.IsJailed()"
Brought up by @alexanderbez in #3225