[2022-05-24 10:25] #12011 closed

[2022-05-24 10:31] marbar3778 opened #12023 "migrate x/params to use app wiring"
- [x] add app wiring functions
- [x] define own app.yml
- [x] decouple from simapp

[2022-05-24 10:31] marbar3778 opened #12024 "migrate x/groups to use app wiring"
- [x] add app wiring functions in module.go
- [x] add app.yml for integration tests
- [ ] decouple from simapp

[2022-05-24 11:57] amaurym opened #12026 "Only allow valid denoms in bank's denom Metadata"
## Summary of Bug

Only allow valid denoms in bank's denom Metadata.

https://github.com/cosmos/cosmos-sdk/blob/dafdc1070b2c25b3734e775fd4993713f7a136fe/proto/cosmos/bank/v1beta1/bank.proto#L79-L85

The denom regex we use is

https://github.com/cosmos/cosmos-sdk/blob/23baecf220045242d6ea779c5a3a77edde6e418a/types/coin.go#L856

But it seems to me we don't do a regex check when writing the metadata

[2022-05-24 12:13] kaustubhkapatral opened #12027 "Software upgrade fails from v0.45.4 to v0.46.0-rc1"
## Summary of Bug

While testing the upgrade path from `v0.45.x` to `v0.46-0-rc1`, node crashes with a tendermint error before applying the upgrade handler.

[code]

Upgrade height during testing was kept at `270`. Once the binary of `v0.46.0-rc1` was built and node was restarted, it crashed during the replay of the previous block. It did not corrupt the db of the node as the upgrade handler was n

[2022-05-24 12:17] amaurym commented on #12027
I confirm I ran into the same issue while doing a localnet upgrade.

[2022-05-24 12:45] aaronc commented on #12026
That makes sense but can we please get rid of the global regex when we fix this

[2022-05-24 14:09] amaurym commented on #12027
@kaustubhkapatral See https://github.com/tendermint/tendermint/blob/master/UPGRADING.md#database-key-format-changes, you need to migrate the TM db keys first.

I created https://github.com/cosmos/cosmos-sdk/pull/12028 to add this command to the SDK.

[2022-05-24 16:47] facundomedica commented on #11904
Closing as this seems to be ready to go. The module is already called `cosmossdk.io/core` in its go.mod

[2022-05-24 16:47] #11904 closed

[2022-05-24 16:50] facundomedica commented on #12023
This is being worked on here #11924

[2022-05-25 02:11] ValarDragon commented on #12012
I think the general reaction to a DB error should be halt the node.

The particular case of a too many files opened is a node operator level error, but the general case of the many db errors that can occur is not.

[2022-05-25 06:37] fedekunze opened #12034 "Prune inactive validators with 0% uptime"
## Summary

Prune inactive validators with 0% uptime and redelegate their voting power to active validators

## Problem Definition

Inactive validators with 0 % uptime still persisted in state after upgrades. Some examples of this case can be when the validator is tombstoned, lose their keys, or simply were testing a new setup.

## Proposal

Prune validators on initialization that have voting powe

[2022-05-25 07:36] rajrohit10 commented on #8410
can we do it with other on chain tokens as well? will the validator voting count here?

[2022-05-25 08:19] marbar3778 opened #12035 "migrate x/genutil to use app wiring"
- [ ] add app wiring functions

[2022-05-25 08:20] marbar3778 opened #12036 "x/staking"

[2022-05-25 08:21] marbar3778 opened #12037 "migrate x/staking to use app wiring"
- [ ] add app wiring functions
- [ ] add custom app.yaml for integration tests
- [ ] remove reliance on simapp?

[2022-05-25 08:21] marbar3778 opened #12038 "migrate x/nft to use app wiring"
- [x] add app wiring functions in module.go
- [x] add app.yml for integration tests
- [x] decouple from simapp

[2022-05-25 09:40] yihuang commented on #12012
Should we change tmdb's apis to return error, and those errors should abort the node.

[2022-05-25 10:04] amaurym opened #12039 "Update Cosmovisor for v0.45 to v0.46 migration"
## Summary

Update Cosmovisor for the v0.45 to v0.46 migration

## Problem Definition

There may be additional steps to perform when doing a v0.45 to v0.46 migration
- run `key-migrate` to update [tendermint db keys](https://github.com/tendermint/tendermint/blob/master/UPGRADING.md#database-key-format-changes)

## Proposal

Test a v0.45 to v0.46 cosmovisor software upgrade. Fix any bugs that may a

[2022-05-25 10:28] #12037 closed

[2022-05-25 10:28] marbar3778 commented on #12037
duplicate

[2022-05-25 10:33] atheeshp opened #12040 "`GetBlockWithTxs` error when queried `0` txns block"
## Summary of Bug

## Version

v0.46.0-rc1

## Steps to Reproduce

- started a localnet
- waited for few blocks to commit.
- queried [http://localhost:1317/cosmos/tx/v1beta1/txs/block/50](http://localhost:1317/cosmos/tx/v1beta1/txs/block/50) then got the following error
`{
  "code": 2,
  "message": "codespace sdk code 18: invalid request: out of range: cannot paginate 0 txs with offset 0 and limit

[2022-05-25 11:53] kaustubhkapatral opened #12041 "Network stops producing blocks after upgrade from v0.45.x to v0.46.0-rc1"
## Summary of Bug

After completing the software upgrade using the fix and instructions provided here : https://github.com/cosmos/cosmos-sdk/pull/12028, a multi node network stops producing blocks once the upgrade handler is applied. All the nodes present in the network lose their p2p connections and do not attempt to dial the node addresses specified in the `persisten_peers`.
[code]
The log snipp

[2022-05-25 13:03] yaruwangway commented on #12039
here is a related issue https://github.com/cosmos/cosmos-sdk/issues/11931

[2022-05-25 14:37] amaurym commented on #11955
In v0.46.0-rc1 we reverted to antehandlers. I'll keep this issue open for future work on how to best refactor antehandlers.

[2022-05-26 07:35] freak12techno opened #12050 "Subcommands for Cosmos to see the upcoming upgrades and existing binaries"
## Summary
It would be nice to have two more cosmovisor subcommands: one for listing upcoming upgrades, other for listing all upgrades that are stored locally.

## Problem Definition
I maintain a monitoring tool called tendermint-exporter, which monitors also new versions on github.
I want to integrate it with cosmovisor and display all information about the upcoming upgrades and stored binaries (

[2022-05-26 09:56] faddat commented on #12041
RIGOR!

Thank you.  Anything we can do to help?

[2022-05-26 11:46] cmwaters commented on #12041
Can you confirm that `peerstore.db` is created in the nodes `data` directory

[2022-05-26 13:53] facundomedica commented on #11905
Renaming to depinject as discussed in #12020

[2022-05-26 14:38] alexanderbez commented on #12026
We should do this along with ensuring globally unique aliases.

[2022-05-26 14:46] alexanderbez commented on #12034
@fedekunze IIRC, inactive validators, i.e. those who's status = UNBONDED, are removed from state, no?

[2022-05-26 14:47] alexanderbez commented on #8410
x/gov uses a liquid democracy approach where 1 voting power (i.e. the staking token) corresponds to the same weight in governance voting. Now of course, you don't have to do this as you can write your own governance modules.

[2022-05-26 15:18] facundomedica commented on #12037
Dup of #12036

[2022-05-26 16:17] aaronc opened #12054 "Add SimulationManager handling to runtime.App"

[2022-05-26 16:24] aaronc opened #12055 "Handle additional x/auth module app config parameters"
In #12019, we didn't add configuration parameters for:
*  `func() types.AccountI` which is a parameter for `NewAccountKeeper`, and
* `types.RandomGenesisAccountsFn` which is a parameter to `auth.NewModule`

I propose we handle these with `google.protobuf.Any` in the auth `Module` config object.

The question is, how do we actually map the `Any` to the function? Since these now live in the API modu

[2022-05-26 16:32] aaronc opened #12056 "App wiring setup for tx's and ante/post handlers"
I didn't handle this with the x/auth app wiring (#12019) because I wanted this to be more configurable. I propose having a separate "tx module" that provides `TxConfig`, `AnteHandler`, and `PostHandler` which provides the defaults for all of these. This module can be replaced on an app by app basis for anyone who does any custom tx stuff. We can call it `cosmos.tx.module.v1.Module` maybe.

[2022-05-26 19:20] peterbourgon commented on #12012
Unfortunately, it's not possible for the SDK to effectively and/or safely halt the node.

Calling panic _should_ terminate the process and halt the node, of course. But because panic is used throughout the ecosystem as a normal way to signal errors, developers necessarily must use recover as a normal way to capture and handle errors, and effectively no deferred recover statement bubbles up caught

[2022-05-26 20:04] peterbourgon commented on #12012
Panics are absolutely used as an alternative way to signal errors throughout Tendermint and the SDK. Consider [the BasicKVStore interface](https://github.com/cosmos/cosmos-sdk/blob/main/store/types/store.go#L193):

[code]

I was prepared write a fair bit more to explain the details of this example. About how all of these operations are in fact fallible, and how fallible operations in Go are idioma

[2022-05-27 06:50] kaustubhkapatral commented on #12041
@cmwaters Yes, `peerstore.db` is created when `simd tendermint key-migrate` is executed.
[code]

[2022-05-27 06:54] kaustubhkapatral commented on #12041
Here are the complete logs after restarting the node with new binary.

Block proposer validator: https://pastebin.com/A5f3ZsY3
Other validator: https://pastebin.com/TSQ0N190

Note that in this test the upgrade height was kept at 120.

[2022-05-27 08:33] #9557 closed

[2022-05-27 08:47] amaurym commented on #8311
Pruning has been done in  #10714.

Only item left here is gas consumption to avoid polluting state. We currently didn't decide on a solution for this.

[2022-05-27 10:13] robert-zaremba commented on #10471
Cache was disabled in https://github.com/cosmos/cosmos-sdk/pull/12059

[2022-05-27 12:47] cmwaters commented on #12041
Ok so looking a bit deeper at `NetInfo`, it seems that it should return all the addresses in the `peerStore` not just the peers a node is currently connected to. This means that the nodes aren't successfully adding addresses that were stated in the `config.toml`.

If you move the list of peers from `persistent_peers` to `bootstrap_peers` and run the nodes again does it start to dial?

The other th

[2022-05-27 13:03] faddat commented on #12041
I wondered about the same things that @cmwaters did-- basically even when a network loses consensus you can often get the nodes to reconnect to one another, and get consensus back.

[2022-05-27 14:38] facundomedica opened #12068 "Create legacy simapp to test along new app wiring simapp"
## Summary

Proposed here by @aaronc https://github.com/cosmos/cosmos-sdk/pull/12058#discussion_r883643868 To make sure that we are not forcing people to upgrade to the new dependency injection architecture (by breaking stuff)

____

#### For Admin Use

- [ ] Not duplicate issue
- [ ] Appropriate labels applied
- [ ] Appropriate contributors tagged
- [ ] Contributor assigned/self-assigned

[2022-05-27 14:57] facundomedica opened #12069 "migrate x/capability to use app wiring"
- [x] add app wiring functions in module.go #12058
- [x] add app.yml for integration tests (I think it's done too on #12058)
- [x] decouple from simapp

[2022-05-27 15:30] rnbguy opened #12070 "`gentx` hardcodes validator p2p port"
`gentx` command takes validator IP as an argument but not its p2p port.

[code]

And it is being hardcoded.
https://github.com/cosmos/cosmos-sdk/blob/88ee7fb2e9303f43c52bd32410901841cad491fb/x/staking/client/cli/tx.go#L599

The default value should be the value present at `config.toml`.

The current workaround is to modify the generated transaction and re-sign it.

[2022-05-27 15:33] amaurym commented on #6513
For implementation, follow #11970

[2022-05-27 17:23] facundomedica opened #12073 "migrate x/feegrant to use app wiring"
- [ ] add app wiring functions in module.go
- [ ] add app.yml for integration tests
- [ ] decouple from simapp

[2022-05-27 17:30] likhita-809 opened #12074 "Running a tx with `--dry-run` returns an error"
## Summary of Bug

Running any transaction along with `dry-run` flag is returning an error `Error: cannot build signature for simulation, key records slice is empty`

## Version

main branch

## Steps to Reproduce

Run a tx along with `--dry-run` flag
For e.g., `simd tx bank send $ADDR1  $ADDR2 10stake --chain-id 1  --from alice --dry-run`
It is returning an error `Error: cannot build signature fo

[2022-05-27 17:30] likhita-809 commented on #12074
cc @julienrbrt

[2022-05-27 18:52] alexanderbez commented on #12070
I do agree this is bad UX, but I don't think we should default to `config.toml`, but be consistent with how we treat the IP, meaning use a flag.

[2022-05-27 20:10] rnbguy commented on #12070
I meant if I don't pass the `--p2p-port` then `p2pPort` should be read from `config.toml` - not hardcoded to `26656`.

[2022-05-28 11:22] atheeshp opened #12078 "`make proto-swagger-gen` not working"
## Summary of Bug
[code]

## Version
v0.46.0-rc1

## Steps to Reproduce

____

## For Admin Use

- [ ] Not duplicate issue
- [ ] Appropriate labels applied
- [ ] Appropriate contributors tagged
- [ ] Contributor assigned/self-assigned

[2022-05-29 03:03] ValarDragon opened #12079 "Refactor to delete every modules keeper/hooks.go file"
## Summary

~Every module has many lines of code of pure boilerplate around hooks. This is two-fold:
* [keeper/hooks.go](https://github.com/cosmos/cosmos-sdk/blob/main/x/staking/keeper/hooks.go), which basically wraps a call to a hook defined by an interface in the types package. Sometimes does a nil check.
* [types/hooks.go](https://github.com/cosmos/cosmos-sdk/blob/main/x/staking/types/hooks.go)

[2022-05-29 12:51] ValarDragon commented on #12079
To be clear, I'm not fully convinced on the correctness of the deleting `types/hooks.go` / if that is right in the complexity vs code brevity tradeoff. I think theres a more clever solution that should allow eliminating that struct having to be manually defined entirely.

I do think deleting the keeper/hooks.go is a clear win, and will also further improve the API abstractions in all this testing

[2022-05-29 20:41] moniya12 opened #12080 "Fix ABCI Response Information stored as part of state.db to validate latest height"
Currently COSMOS-SDK store ABCI Information in state.db ( on disk) at every commit. Purpose of storing ABCI information is to compare when new commit comes and validate new commit is at least one height above existing ABCI Response information.

While to compare, we just need ABCI Information for one previous block, cosmos-sdk continues to store all blocks and never deletes them. As a result state

[2022-05-30 02:13] 08d2 commented on #12079
Just because code of similar or identical structure exists in more than one place doesn't mean it's "boilerplate", and even if code is "boilerplate" that doesn't necessarily have a negative effect on a codebase. [A little copying is better than a little dependency](https://www.youtube.com/watch?v=PAAkCSZUG1c&t=568s).

Your proposed solutions rely on reflection, which should be avoided unless absol

[2022-05-30 08:17] #12027 closed

[2022-05-30 08:35] marbar3778 commented on #12079
agree here!! im a fan of doing it

[2022-05-30 08:50] marbar3778 opened #12083 "migrate x/bank to app wiring"
- [x] add app wiring functions
- [ ] decouple from simapp
- [x] add app.yaml to integration tests

[2022-05-30 09:09] atheeshp opened #12084 "migrate x/authz to use app wiring"
- [x] add app wiring functions in module.go
- [ ] add app.yml for integration tests
- [x] decouple from simapp
____

#### For Admin Use

- [x] Not duplicate issue
- [x] Appropriate labels applied
- [x] Appropriate contributors tagged
- [x] Contributor assigned/self-assigned

[2022-05-30 09:30] atheeshp opened #12085 "tx cmds are failing without `--chain-id` flag"
## Summary of Bug
tx commands can be executed without `--chain-id` flag as per the PR #10184, but it is throwing error when `--chain-id` flag isn't mentioned.

[code]

## Version
v0.46.0-rc1

## Steps to Reproduce
start a local testnet & try to execute any tx command.

____

## For Admin Use

- [ ] Not duplicate issue
- [ ] Appropriate labels applied
- [ ] Appropriate contributors tagged
- [ ] Con

[2022-05-30 09:50] dcb9 opened #12087 "Go gRPC caller should have ability to cancel ABCIQuery"
## Summary

I'm working on fetching chain data though Go gRPC client. It's annoying that queries cannot be canceled by context. I dived in the code, then I found that client does not treat context properly. the function `queryABCI` does not receive context from caller, but creates a new context instead.

https://github.com/cosmos/cosmos-sdk/blob/ca0b8f96b94135ae5692e6b3bccd8fac9339072e/client/quer

[2022-05-30 10:12] ValarDragon commented on #12079
Only the `types/hooks.go` relies on reflection! `keeper/hooks.go` being deleted does not. Agreed that its unclear whether the `types/hooks.go` elimination via reflection is worth it, and that theres probably a better solution.

[2022-05-30 10:22] ValarDragon commented on #10245
it means replacing the `time.Now()` call with `telemetry.StartTimer()`, which then does the config check, and if so runs time.Now(), otherwise doesn't run time.Now()

[2022-05-30 13:41] alexanderbez commented on #12080
Tendermint does, not the SDK.

Tendermint stores blocks, not the SDK. Also, Tendermint **does** prune old blocks -- it's configurable in `app.toml`.

[2022-05-30 13:46] alexanderbez commented on #12085
There is something missing then when attempting to read from `client.toml`, right?

[2022-05-30 13:48] alexanderbez commented on #12087
Why are you calling `Context#QueryABCI`? Instead, use gRPC directly, which does accept a context. Furthermore, you can actually bypass Tendermint entirely and use the `ABCIQuery` gRPC query method.

[2022-05-30 13:57] alexanderbez commented on #10245
I think my proposal achieves that whilst also being flexible to other things besides time measurements (e.g. counters)

[2022-05-30 13:59] #12070 closed

[2022-05-30 14:09] ValarDragon commented on #10572
The issue with the informal gosec fork right now is that (AFAIU) it panics on certain map iteration syntax patterns, due to incomplete syntax matching patterns being applied

[2022-05-30 14:22] odeke-em commented on #10572
@ValarDragon in the past week we've worked on that, and @kirbyquerby from Orijtech is working on ensuring it is ready for prime time.

[2022-05-30 14:31] dcb9 commented on #12087
Thanks for your reply @alexanderbez

Here is the way I used to query all delegations from a validator. Correct me if i'm wrong.

[code]

Output:

[code]

[2022-05-31 01:12] ValarDragon opened #12091 "Make helper functions for adding accounts to genesis state."
## Summary

Right now, its quite intensive to add a new Account with a given balance to the genesis state. (e.g. the `map[string]json.RawMessage` representation)

In Osmosis. this (logically) simple operation is a 40 line endeavour: https://github.com/osmosis-labs/osmosis/blob/main/tests/e2e/chain/config.go#L95-L134

## Proposal

Make a helper function(s) in either Auth, Bank, or both, to signific

[2022-05-31 02:42] dcb9 commented on #12087
Where should I place the code?

[2022-05-31 11:28] kaustubhkapatral opened #12093 "Error while listing keys using v0.46.x"
## Summary of Bug

If account keys are created using `v0.45.4` and `v0.46.x` is used to list out the existing it gives a migrate error.
[code]
If `--keyring-backend test` is provided as argument while creating using `v0.45.4` then we get no error while listing it out using `v0.46.x`.

## Version

`release/v0.46.x`

## Steps to Reproduce
 - Build a binary using `v0.45.4` tag.
 - Create a test accou

[2022-05-31 11:31] ancazamfir commented on #11597
sorry for the late update. After testing more, experimenting with different changes in hermes, talking to @marbar3778, opened https://github.com/informalsystems/ibc-rs/issues/2249 with my understanding and a proposed workaround that seems to work for hermes.
We also discussed with Marko if it would be possible to have a `simulateTx` flag to ignore the account sequence check. Not sure how feasible,

[2022-05-31 12:54] anilCSE commented on #11928
Looks like something wrong with your handler implementation. Here is an example for adding new stores https://github.com/cosmos/cosmos-sdk/blob/main/simapp/upgrades.go#L19-L39. `Renaming` stores should be done in similar manner

[2022-05-31 12:59] #11357 closed

[2022-05-31 13:03] alexanderbez commented on #12087
[code]

[2022-05-31 13:13] alexanderbez commented on #11597
This is extremely trivial and easy:

[code]

[2022-05-31 13:13] alexanderbez commented on #11597
@marbar3778 is this what you had in mind?

[2022-05-31 13:27] #12085 closed

[2022-05-31 14:05] aaronc commented on #12079
A reminder to everyone that we have already agreed in prior discussions that https://github.com/cosmos/cosmos-sdk/discussions/9656 is the long-term replacement for hooks

[2022-05-31 15:15] hxrts opened #12098 "gov module can spend from community pool"
## Summary

Improve gov module UX regarding fund distribution by making community pool directly spendable via gov message.

## Problem Definition

With the recent gov/groups alignment work https://github.com/cosmos/cosmos-sdk/issues/9438 the gov module is now capable of sending arbitrary messages. A common pattern will be for chain governance to move funds to another account, often over IBC. As th

[2022-05-31 17:55] aaronc commented on #11911
Note that an alternative way to address this with the current depinject framework is with module-scoped providers. So before we implement this we should first see if that is sufficient

[2022-05-31 18:02] aaronc commented on #11905
Tagged  https://github.com/cosmos/cosmos-sdk/releases/tag/depinject%2Fv1.0.0-alpha.1

[2022-05-31 18:42] aaronc commented on #11910
But what we want to avoid is bank needing to have knowledge of nft, staking, etc.

[2022-05-31 18:43] aaronc commented on #11910
The linear search option could also be valid, but we'd need a way to handle conflicts still

[2022-05-31 18:53] JeancarloBarrios opened #12100 "command tendermint inspect is failing"
## Summary of Bug

During the manual testing for version v.0.46, [here](https://github.com/orgs/cosmos/projects/26/views/1)

When running `simd tendermint inspect ` the command fails with the following output.

`Error: couldn't read GenesisDoc file: open config/genesis.json: no such file or directory`

However, the config/genesis.json does exist and the home path is correct.

## Version
v0.46

[PR

[2022-05-31 18:54] aaronc commented on #11910
Here are the designs I've thought of that we could choose between at the depinject layer:
1. match interfaces based on a linear search and bind them if there's no conflict - this is probably the simplest for users but also slow and not-explicit
2. match interfaces which are compatible based on keys - this has the downside of needing to coordinate on string keys
3. have a `Prefer` config option whi

[2022-05-31 18:54] JeancarloBarrios commented on #12100
@alexanderbez hey I believe you did the relevant PR, it failing for me could help me out here maybe I set something wrong but we check and could not figure out why it was failing.

[2022-05-31 18:56] aaronc commented on #11910
Also note that we should probably do #11908 while we're doing this and that will help the dev UX

[2022-05-31 20:09] dwedul-figure opened #12101 "Add a delay after halt and before backup."
## Summary

In Cosmovisor, allow a node operator to define a delay between the node halt (for upgrade) and backup.

## Problem Definition

As a node operator, I want to define a delay after the halt (for upgrade) so that all node sub-processes have time to terminate and close file handles before moving on to steps that might need to access the files (e.g. backup or restart).

## Proposal

Use a `D

[2022-05-31 20:47] Fishkabig commented on #9508
Hi
Excuse me
Is this your wallet address?
cosmos153lf4zntqt33a4v0sm5cytrxyqn78q7kz8j8x5

Waiting for answer

[2022-05-31 21:37] alexanderbez commented on #12093
I see. Then I'm not too sure what the error is. @amaurym do you know who has the most knowledge on the keyring?

[2022-05-31 21:38] alexanderbez commented on #12098
Thanks @hxrts! @marbar3778 let's be sure to get this into the next sprint.

[2022-05-31 22:01] alexanderbez commented on #9970
So this is going to get completely refactored anyway with the deprecation of x/params -- x/gov isn't unique to this, but all modules will get refactored 👍

[2022-05-31 22:22] JeancarloBarrios commented on #12100
Yes, I did run the --home flag explicitly.

[2022-05-31 22:26] alexanderbez commented on #12100
Ahh yes, that is because tendermint refactored stuff and now depends on a private global (sighhh). See https://github.com/tendermint/tendermint/blob/v0.35.5/cmd/tendermint/commands/inspect.go#L53

This issue needs to be moved to the Tendermint repo -- the fix is to not use a global, but the short term solution is to just have the `inspect` command handler call `config, err = ParseConfig()`

[2022-05-31 23:46] aaronc commented on #11910
Either way we should do ##11908 first

[2022-06-01 02:54] dcb9 commented on #12087
Ummm, from my perspective `clientCtx = clientCtx.WithGRPCClient(grpcClient)` and `clientCtx = clientCtx.WithClient(httpClient)` are equivalent. They are just two protocols how data exchanges, the behavior should not be changed.

[2022-06-01 03:11] shenyue001 commented on #11928
I have wrapped the handler,the complete code see below:

[code]

[2022-06-01 06:55] DeimonDB commented on #11538
Hey @swmd this is late but I hope it would help.

I faced the same issue. It seems that currently the pagination is incorrectly implemented.

Let's say in total there are 10 data.
- If we pass `limit = 5` and `offset = 0`, it will return `data [0..4]`
- if we pass `limit = 5` and `offset = 5`, it will return `data[5..9]`
- but if we pass `limit = 5` and `offset = 2`:
  - it will return `data[0..4]

[2022-06-01 07:10] 0xruff commented on #12101
I second that. During some upgrades via cosmovisor I had problems with it probably restarting too fast. Cosmovisor or rather the binary it runs raises an error at these occasions that the database (leveldb/cleveldb) is still locked while trying to start a new process. After a manual restart of cosmovisor the nodes run just fine.
AFAIK cosmovisor itself does not know anything about locked files or

[2022-06-01 09:21] gsk967 opened #12106 "unsafe-reset-all cli cmd not working"
## Summary of Bug
Unable to reset the state with `unsafe-reset-all` cli cmd

## Version
latest main

## Steps to Reproduce
1. Clone the repo
2. Checkout to `main` branch
3. make build
4. Start the chain
5. do `unsafe-reset-all`

[code]
____

## For Admin Use

- [ ] Not duplicate issue
- [ ] Appropriate labels applied
- [ ] Appropriate contributors tagged
- [ ] Contributor assigned/self-assigned

[2022-06-01 09:29] marbar3778 commented on #12023
should be safe to do. It would be interesting to see what the deps are and if we need to rework other things

[2022-06-01 09:30] marbar3778 commented on #12079
while this is the long term solution I think removing some boiler plate today is a fine solution. If it takes longer than a day, which it shouldn't, then its a small win.

[2022-06-01 10:29] anilCSE commented on #11928
I am able to reproduce this issue.

[2022-06-01 13:30] alexanderbez commented on #11538
@facundomedica or @julienrbrt would you have some bandwidth to look into pagination?

[2022-06-01 13:32] alexanderbez commented on #12106
This issue needs to be opened in the Tendermint repo. The issue is their commands use globals (unfortunately). In fact, I patched this in 0.34.x, but it seems it needs to be backported/handled in v0.35.x (cc @cmwaters)

[2022-06-01 13:49] julienrbrt commented on #12039
Just discussed this with @yaruwangway, I think when migrating a validator from `0.45.x` chain to a `0.46.x` chain we need to have cosmovisor append a `--mode validator` to the args, or have the node operator set `DAEMON_RESTART_AFTER_UPGRADE` to false for that upgrade.

[2022-06-01 13:56] cmwaters commented on #9970
I've had this problem before. It's not too difficult in cosmjs to send three requests and build the full gov params. Of course the UX could be improved, but as bez says, it's probably better just to wait until the params gets refactored

[2022-06-01 14:11] daeMOn63 opened #12111 "[x/group] weird deadlock when querying group members"
## Summary of Bug

When testing creating groups and querying for their members, a weird deadlock appears as soon as the group has more than `67` members. I've validated that it's fine with any numbers of members up to 66, and anything above this ends with a timeout.

## Version

master @ ece3d0e9fe1da69966e32391931904607fca127f

## Steps to Reproduce

The following test case illustrates and reprod

[2022-06-01 14:31] alexanderbez opened #12112 "Race Test Failures"
## Summary of Bug

(Please close of duplicate)

[code]

https://pastebin.com/wUcDxQta
https://github.com/cosmos/cosmos-sdk/runs/6690839672?check_suite_focus=true

## Version

`main`

____

## For Admin Use

- [ ] Not duplicate issue
- [ ] Appropriate labels applied
- [ ] Appropriate contributors tagged
- [ ] Contributor assigned/self-assigned

[2022-06-01 14:39] #12074 closed

[2022-06-01 14:50] amaurym commented on #11086
All done!

[2022-06-01 14:50] #11086 closed

[2022-06-01 14:50] #11640 closed

[2022-06-01 14:50] amaurym commented on #10968
Completed!

[2022-06-01 15:09] aaronc commented on #12112
Let's start by removing parallel. But we should get rid of that global too

[2022-06-01 15:57] #12112 closed

[2022-06-01 17:01] amaurym commented on #11087
Marking tips as beta for v0.46, #12089 . The code is audited, but still untested yet. I'll mark this issue as closed.

[2022-06-01 19:40] #12040 closed

[2022-06-02 08:12] marbar3778 commented on #12083
Still missing decoupling from simapp, @aaronc should we include that into this process or leave it for later?

[2022-06-02 09:10] amaurym commented on #9438
We just finished audit and QA tests on both gov and group, so let's close this! 🎉

[2022-06-02 09:10] #9438 closed

[2022-06-02 09:38] robert-zaremba commented on #7315
Added [Two-Round Threshold Schnorr Signatures with FROST ](https://datatracker.ietf.org/doc/draft-irtf-cfrg-frost/) to alternatives

[2022-06-02 11:28] #11931 closed

[2022-06-02 12:09] aaronc commented on #12083
It depends on staking and genutil

[2022-06-02 12:17] aaronc commented on #11910
Now that we're working with keys do we like this approach or should we also implement (1)? The immediate downside of (2) is what if the provider fails to use key, then the consumer is stuck. (1) together with (3) would alleviate that.

Thoughts @kocubinski @facundomedica @blushi @JeancarloBarrios now that we're using this?

[2022-06-02 14:05] cmwaters commented on #12041
@kaustubhkapatral do you mind dumping a copy of the tendermint `config.toml` file?

[2022-06-02 14:10] kocubinski commented on #12083
Could you explain the success criteria for "decoupling from simapp"?  Not clear to me.

[2022-06-02 15:09] kocubinski commented on #11910
There are some concerns around how (1) will work when there are potentially multiple implementations of an interface.  This could happen if 2 or more separate provider functions in different modules have single interface implementations as outputs.  @marbar3778 mentioned an _**Interchain security**_ package is currently in this state.  However I still like this feature from a usability perspective

[2022-06-02 15:32] aaronc commented on #11910
I'm thinking we should maybe take an approach where we don't auto-magically bind things as described in (1), but that an explicit app.yaml binding like you've described `github.com/cosmos/cosmos-sdk/x/bank/types/AccountKeeper -> github.com/cosmos/cosmos-sdk/x/auth/keeper#AccountKeeper` is needed

[2022-06-02 17:07] aaronc commented on #11910
From the SDK call, sounds like we're no going with (1) and (3).

So we'd have automatic matching of interfaces if there is no conflict and conflict resolution if there is (depinject/appconfig should give you suggestions on how to address).

At the depinject level, I think we want to add two config options:
[code]

and then in the app.yaml, we could do something like this:
[code]

`golang_bindings`

[2022-06-02 17:18] facundomedica opened #12130 "TestQueryDepositsWithInitialDeposit flaky CI test"
## Summary of Bug

test-race (02) sometimes fail with:

[code]

This might be due to a long time passing between `SetupSuite` and `TestQueryDepositsWithInitialDeposit`.

____

## For Admin Use

- [ ] Not duplicate issue
- [ ] Appropriate labels applied
- [ ] Appropriate contributors tagged
- [ ] Contributor assigned/self-assigned

[2022-06-02 18:32] robert-zaremba commented on #7315
Updated the description by making it more explicit, added _Advantages of advanced Schnorr signatures_ section.

[2022-06-02 22:14] ValarDragon commented on #12101
Oh wow, this is a great point that I haven't thought about before

[2022-06-03 02:24] JeancarloBarrios commented on #12036
The PR for #12102

[2022-06-03 04:31] ValarDragon commented on #11465
IIRC something @robert-zaremba showed on a call that I thought was cool was:
[code]

(ToError() returning nil if no err ofc)

[2022-06-03 04:36] ValarDragon commented on #11489
draft proposal is a phenomenal idea, I am hugely in support of it

[2022-06-03 05:06] GertStar opened #12131 "M1 Mac unable to make the Makefile ~ Deprecation of repos & modules for Mac M1"
## Summary of Bug
1. Deprecated Modules and Repos Causing App Breaks with Make File on MacBook Pro M1

~ Tried With Various Ignite and Starport Cli Versions.
~ I tried to Delete go.sum and do "go mod tidy"  that did not resolve the issue.
~ I Can't Upgrade my chain or do any testing due to this issue
~ Reinstalled Mac OSX and Re-downloaded Ignite and Starport-CLI & all tools needed for development

[2022-06-03 05:53] kaustubhkapatral commented on #12041
@cmwaters It was the default config file generated with `v0.45.4` with `persistent_peers` added in.
https://pastebin.com/aQb5spAs

[2022-06-03 08:32] faddat opened #12133 "Improve Linting"
## Summary of Bug

We can improve linting by:

* no longer using a diff when linting
* ~~taking linter errors more seriously?~~ (or was ci hiding them from us?  I am confused by what I found)
  * looking for them more carefully?
  * trying not to grandfather them in? (above, not trying to imply anything, merely confused)
* Rigorously following the advice of linters that we choose to enable for wor

[2022-06-03 08:46] cmwaters commented on #12041
Ok, we made some breaking changes to the config file from v0.34 to v0.35 which require the user to adjust their file. You can see the notes in our upgrading document here: https://github.com/tendermint/tendermint/blob/master/UPGRADING.md#config-changes-1. To accompany this, we also made a tool `confix` (https://github.com/tendermint/tendermint/tree/master/scripts/confix) which would automatically

[2022-06-03 08:59] amaurym commented on #12100
I added this to the current sprint. If someone is lookng for a small task to do, this should be an easy one.

[2022-06-03 10:10] marbar3778 commented on #12131
Thanks for opening such a detailed issue. M1 Macs and cosmwasm don't quite play together yet. Secondly, we cant speak to starworts build pipeline. They don't follow the cosmos-sdk and abstract many things away from the user.

For the Zondax and key base issues, if you are using the latest Mac OS version the software builds and runs successfully. I work on a M1 Mac daily and have not had issues wit

[2022-06-03 13:59] alexanderbez commented on #12133
What do you mean by not doing a diff? Golangci-lint provides errors and if there are any, it blocks the PR until they're resolved. I say we do take them pretty seriously, no?

[2022-06-03 14:01] alexanderbez commented on #12100
PR is open in TM, but we're downgrading back to 0.34 so I'm not sure this matters. We should check if the issue is present in v0.34.x

[2022-06-03 14:18] greg-szabo commented on #8510
Yup, this is expected, unfortunately. The full node is already aware of a transaction (in its mempool) with the correct sequence number, hence the new transaction with that same sequence number cannot be accepted.

You have to wait for the transaction to be cleared from the mempool either by:
* being included in the block or
* mempool timing it out and deleting it or
* the node restarting (which c

[2022-06-03 14:20] amaurym commented on #11880
I'm closing this issue, everything has been checked (except #12100, tracked separately) 🎉 .

Thanks everyone who participated in this manual testing, especially a big shoutout to @likhita-809 and @atheeshp!

[2022-06-03 14:21] greg-szabo opened #12144 "Broadcast timeout should still display the TxHash"
When broadcasting a transaction, the binary might fail to wait for the transaction to be included in a block with the error:
[code]

BUT the transaction hash is already available so it should be printed so the user can troubleshoot the issue further using other methods.

____

#### For Admin Use

- [ ] Not duplicate issue
- [ ] Appropriate labels applied
- [ ] Appropriate contributors tagged
- [ ]

[2022-06-03 19:19] ValarDragon opened #12149 "Make re-usable helper method for RegisterSwaggerAPI"
## Summary

Every SDK app has several lines dedicated to Registering a swagger API, that basically look identical. It would be great if we can just make a default function in baseapp, or server in the SDK, that apps can call unless they need further customization.

Each application I've looked at basically has the lines:
[code]
where api and config are
[code]
respectively.

The RegisterSwaggerAPI

[2022-06-03 19:46] p0mvn opened #12150 "Proto files are created as superuser"
## Summary of Bug

Running `make proto-all` generates files as root. This prevents further saving of the file without sudo. If a developer is accustomed to auto-saving the files, it is easy to miss a notification in the editor and commit old versions of the files:

<img src="https://user-images.githubusercontent.com/34196718/171936057-5d950217-41e8-43a3-936e-18b0eeb6fc2f.png" width="700"/>

This h

[2022-06-03 20:06] faddat commented on #12133
@alexanderbez

I'm... not sure.

If you have a look through the PR's I made, I was able to solve pretty much countless linting issues.

Like you, I'm sure that I have seen that github action fire.

However, what I put together, defies my eyes re: the github action.

I'd love your thoughts on what happened, because I am not sure.

[2022-06-03 20:09] alexanderbez commented on #12149
Sounds reasonable to me!

[2022-06-03 20:12] alexanderbez commented on #12150
@marbar3778 does this ring any bells?

[2022-06-03 20:18] alexanderbez commented on #12150
@p0mvn I tried to replicate this and I have zero issues.

Before `make proto-all`:

[code]

After `make proto-all`:

[code]

[2022-06-03 20:20] alexanderbez commented on #12133
I wonder if that's because linting is only applied against the new code/diff, which I guess is what you mean?

In any case, let's get the actions job up and running and resolve any old code that doesn't conform to the linter. How does that sound?

[2022-06-03 20:24] faddat commented on #12133
Sounds awesome :)

[2022-06-03 20:33] faddat commented on #12150
I have this problem on my MacBook.

Definitely costly re: time, too.

This is one of the reasons I'm excited about `buf`

[2022-06-03 20:42] faddat commented on #12131
I was able to run all tests on my M1.

Also, if the chain you're working on uses CosmWasm, you **should** be able to make it work with your M1, by upgrading the wasmd import to v0.27.0.

If that doesn't work, I know that's something that the CosmWasm team is putting a lot of effort into, and you may want to open an issue at github.com/CosmWasm/wasmd

[2022-06-03 20:46] p0mvn commented on #12150
@alexanderbez

I tried removed and repulled the Docker image and still observed the same thing. Was running Ubuntu 22.10 if that matters

Then, I switched to a Windows machine running WSL 2, and I still see:
[code]
after `make proto-all`

[2022-06-03 21:01] p0mvn commented on #12150
I think I figured it out. I remember that I had to run the following steps because I could not run Docker without sudo (this is Linux specific):

https://docs.docker.com/engine/install/linux-postinstall/

TLDR; to avoid some permission issues with running Docker on Linux, you need to add your user to a `docker` group. Seems that adding your user to that `docker` group is equivalent to granting per

[2022-06-03 23:32] p0mvn commented on #12150
I believe that this problem can be resolved completely for Linux users w/o relying on the above workarounds by building images as in method 2 of this article:
https://www.thegeekdiary.com/run-docker-as-a-non-root-user/

I've attempted to rebuild the Dockerfile by adding [these 2 lines](https://github.com/cosmos/cosmos-sdk/blob/aa3912e4b1542d293aef255c7cd3934e5c573737/contrib/devtools/Dockerfile#L3

[2022-06-04 01:31] peterbourgon commented on #11465
No need to reinvent the wheel, here — [hashicorp/go-multierror](https://github.com/hashicorp/go-multierror) is the canonical solution for this problem.

[2022-06-04 01:42] ValarDragon commented on #11465
oh sweet, that looks perfect to me

[2022-06-04 08:49] faddat commented on #12150
It is definitely still happening on my Mac. I know that we have been working to build these without a darker environment, and I think that’s the appropriate resolution here, I know that this particular problem has personally cost me numerous hours.

I have tried to resolve it, but so far that has resulted in failure.

I also know that this and similar issues have been the cause of various queries

[2022-06-04 09:03] julienrbrt commented on #12150
@faddat this is going to happen:

https://github.com/cosmos/cosmos-proto/issues/39

I just need to prioritize this again and finish it 🤫

[2022-06-04 12:35] faddat commented on #12150
thanks very much, @julienrbrt

[2022-06-04 21:09] marbar3778 commented on #12150
running make proto-all does things that does not use buf. If you stick to make proto-gen it should only use buf.

[2022-06-05 03:57] ValarDragon commented on #12150
I started running into the same problem, starting when Osmosis updated to a more recent protocgen from the SDK (https://github.com/osmosis-labs/osmosis/pull/1589)

I do believe I use a docker group, granted I may have built the image prior to using it.

[2022-06-06 04:09] ValarDragon opened #12155 "Add CLI query to auth for account-by-id"
## Summary

I would like to be able to query for account addresses by their account ID. This is useful in debugging several bug reports, as often the auth-info is the only 'standardized' component.

## Problem Definition

This is a map that should exist

## Proposal

Add a CLI command for getting an account address from the account ID

____

#### For Admin Use

- [ ] Not duplicate issue
- [ ] Appr

[2022-06-06 08:58] sascha1337 commented on #12150
Is this fixed yet?

[2022-06-06 11:39] vishnukumavat opened #12157 "Restart after automatic upgrade not working ( Module Add-Delete-Add )"
## Summary of Bug
After an automatic upgrade, if you stop the chain at height X and re-start it the following error is returned:

`failed to load latest version: failed to load store: initial version set to X (upgradeHeight +1), but found earlier version 1`

## Version
[Cosmos SDK v0.45.4](https://github.com/cosmos/cosmos-sdk/releases/tag/v0.45.4)

## Steps to Reproduce
I discovered this while exp

[2022-06-06 19:20] greg-szabo commented on #12144
The error message comes from execution with the default broadcast mode of `sync`.

But regardless of the broadcast mode, the TxHash should be returned, I think. It would really help troubleshooting for the end-user.

[2022-06-06 19:21] greg-szabo opened #12167 "Deprecate and phase out broadcast mode `block`."
As mentioned in the below issue, broadcast mode `block` is deprecated. It should be removed, possibly in a granular manner. I'd start with removing it from the help section so people don't start using it.
Maybe a warning should be emitted in an newer release when a user explicitly sets it.
Eventually, it should be completely removed.

This is fair, but note, broadcast mode `block` is deprecated an

[2022-06-06 19:36] alexanderbez commented on #12167
@julienrbrt or @facundomedica, might be a fun task to tackle 🙌

[2022-06-06 19:37] alexanderbez commented on #12144
This doesn't doesn't sound right. If you see the `"timed out waiting for tx to be included in a block"` error message, that means `block` mode was used, indicating that `sync` is not the real default.

What app and version of the app were you using?

[2022-06-06 19:41] greg-szabo commented on #12144
Hm... I think I might remember incorrectly and it might have been `block`. I'll double-check. It was either SDK 0.44 or 0.45 (possibly gaiad and/or osmosisd.)

[2022-06-06 21:34] marbar3778 commented on #12167
does it matter that sync and async are the same in the code of tendermint. @cmwaters mentioned it to me

[2022-06-07 01:44] robert-zaremba commented on #12041
@alexanderbez could you share more reasoning for that? If we won't have tendermint 0.35 in SDK v0.46, then it would be great to have a release 0.47 SDK release with tendermint 0.35

[2022-06-07 02:47] odeke-em opened #12171 "all: use SHA256 with SIMD instructions for higher performance and throughout"
In this repository, we heavily use the Go standard library's crypto/sha256. However there exists a Single Instruction Multiple Data (SIMD) package from our friends at Minio per https://github.com/minio/sha256-simd and it promises 8X speed ups when using AVX instructions. We should explore this.

Let's explore if performance radically improves and then plumb it in.

Kindly cc-ing my colleague @elia

[2022-06-07 04:50] gsk967 commented on #12155
@ValarDragon  Can I take this ?

[2022-06-07 05:39] catShaark opened #12172 "Unmarshal modules' GenesisState concurrently"
## Summary

Unmarshal modules' GenesisState concurrently instead of sequentially.

## Problem Definition

Each module has [`InitGenesis`](https://github.com/cosmos/cosmos-sdk/blob/2646b474c7beb0c93d4fafd395ef345f41afc251/x/auth/module.go#L141) func which does the work of both unmarshaling a `json.RawMessage` into its self-defined [`GenesisState`](https://github.com/cosmos/cosmos-sdk/blob/2646b474c

[2022-06-07 12:46] #7921 closed

[2022-06-07 13:36] alexanderbez commented on #12167
What do you mean the same? `async` just sends the transaction w/o waiting for `CheckTx`

[2022-06-07 13:37] alexanderbez commented on #12041
This discussion is taking place with various teams testing out v0.35 and I just dont have the cognitive bandwidth to recap everything. In short, v0.35 is not stable enough for us to garner confidence to release SDK v0.46 with it.

[2022-06-07 13:41] alexanderbez commented on #12155
@gsk967 yes please, absolutely!

[2022-06-08 06:39] yihuang opened #12183 "Support query historical states that is pruned"
## Summary

Say the states between `100` and `200` are pruned, when trying to query state at `110`, we can replay the blocks between `100` and `110` based on the state `100` to get the state `110`.

This may allow user to use some prunning settings, while keeping the ability to query all historical states, a trade-off between db size and query performance.

## Problem Definition

## Proposal

____

[2022-06-08 09:09] julienrbrt opened #12186 "Future of `types/errors` package and sdk-wide errors"
## Summary

With the introduction of `cosmossdk.io/errors`, there are two errors packages in the SDK:

- `cosmossdk.io/errors`
- `types/errors`

The documentation says to use `cosmossdk.io/errors` for new code and deprecates the old package functions.
However, `types/errors` is still a list of SDK-wide errors used by many modules, and it is not clear when these errors-wide errors should be used in

[2022-06-08 10:26] marbar3778 commented on #12183
Personally the best solution is to stream the data elsewhere. Not sure we need to add more intricate logic here

[2022-06-08 10:27] marbar3778 commented on #12172
@aaronc @alexanderbez thoughts on this? are there any concerns you may have?

[2022-06-08 10:28] marbar3778 commented on #12171
Is it okay to assign this to you and your team @odeke-em

[2022-06-08 10:41] marbar3778 commented on #12056
users would need to fork the entire "module" to replace it right?

[2022-06-08 10:47] cmwaters commented on #12167
Yeah that's what I thought until I was looking at the code recently. Seems in v0.36 async and sync were going to be the same but we've filed an issue and will hopefully fix it soon.

[2022-06-08 10:49] cmwaters commented on #12167
I think in v0.37 we will look to simplify broadcasting txs to a single method. It's redundant to add the asynchronous method when txs can already be submitted in parallel.

[2022-06-08 11:32] fedekunze opened #12189 "Vesting account creation fails if the proto account type is not a `BaseAccount`"
## Summary of Bug

This line fails if the proto base account defined in the application is not a `BaseAccount`:

https://github.com/cosmos/cosmos-sdk/blob/main/x/auth/vesting/msg_server.go#L138-L143

Needs to be changed to

[code]

## Version

`main`, `latest` (v0.46 rcs and < v0.45)

## Steps to Reproduce

____

## For Admin Use

- [ ] Not duplicate issue
- [ ] Appropriate labels applied
- [ ] Ap

[2022-06-08 11:38] aaronc commented on #12056
Yes sort of, but the module is just a single proto message and the wiring code. They don't need to copy the ante handler, etc code

[2022-06-08 12:06] facundomedica commented on #10569
Closing this for now, please re-open if the issue persists

[2022-06-08 12:06] #10569 closed

[2022-06-08 14:02] alexanderbez commented on #12189
@fedekunze See a relevant PR that was recently made by the CRO team: https://github.com/cosmos/cosmos-sdk/pull/12154

We should probably adopt this for all the handlers, no?

[2022-06-08 14:21] alexanderbez commented on #12183
This is not a good solution. This is why we have archive mode (i.e. no pruning). Disk space is cheap. Query against an archive node or stream your state to an external DB.

Are you Ok with me closing this?

[2022-06-08 14:23] alexanderbez commented on #12172
I think this makes sense. Split up `InitGenesis` into two phases: `UnmarshalGenesis` and then `InitGenesis`, where `UnmarshalGenesis` can be done in goroutines with a waitgroup.

ACK

[2022-06-08 14:29] catShaark commented on #12172
Yes, I wanna take a stab at this

[2022-06-08 14:37] kocubinski opened #12194 "migrate x/crisis to use app wiring"
- [ ] add app wiring functions in module.go
- [ ] add app.yml for integration tests
- [ ] decouple from simapp

[2022-06-08 14:49] atheeshp opened #12195 "migrate x/slashing to use app wiring"
- [x] add app wiring functions in module.go
- [ ] add app.yml for integration tests
- [ ] decouple from simapp

[2022-06-08 15:27] odeke-em commented on #12171
Yes, please @marbar3778! We are working on it. I just need to find a machine with AVX512 so that we can produce benchmarks.

[2022-06-08 15:37] yihuang commented on #12183
yeah, I guess it's too complicated, only little to gain.

[2022-06-08 15:37] #12183 closed

[2022-06-08 16:25] #11944 closed

[2022-06-08 22:57] alexanderbez commented on #11538
Yes, this seems reasonable to me. It should not accept and return those parameters 👍

[2022-06-09 11:36] kevin486 commented on #10856
Sharing an example of how to convert from json to protobuff  can be very helpful.  Thank you!!

[2022-06-09 14:55] blushi commented on #11538
A few UX questions regarding this change:
- should we just deprecate those pagination fields in the request/response for now?
- `node.TxSearch` accepts a `page` params >= 1, which means you would always need to provide page=1 as part of the request, should we just default to page=1 if page is not provided as part of the request?

[2022-06-09 15:54] robert-zaremba commented on #12041
what's the ETL for updating tendermint 0.34 to add tx prioritization and Cosmos SDK update?
cc: @marbar3778 @alexanderbez

[2022-06-09 16:14] alexanderbez commented on #11538
Yes, mark them as deprecated and remove their usage from the implementation.

Yes, just default to 1 when omitted 👍

[2022-06-09 16:16] alexanderbez commented on #12041
We already have the PRs in progress -- we just need Tendermint teams' blessing/approval (which is...not going so great right now).

[2022-06-09 17:27] #12101 closed

[2022-06-09 20:35] faddat opened #12211 "Ignite cli isn't appropriate for use with sdk & ibc go"
## Summary of Bug

Despite multiple reports from myself, the ignite CLI has continued to use critically outdated versions of important software in the cosmos ecosystem. The most recent example is that it is shipping with IBC-go v2.0.3

Users should have an expectation at any templating tool that ships with the SDK and is mentioned in the read me file uses and creates templates that are ready to us

[2022-06-09 23:02] #11908 closed

[2022-06-09 23:24] faddat opened #12215 "Graceful exit"
## Summary of Bug

Firestake is trying to leave cosmos without possibly causing slashes to delegators.

It is my understanding that the correct procedure to take down a validator without causing slashes to delegators is for the validator to undelegate an amount of self bonded stake that takes them below the minimum self bonded stake for their node, resulting in their dropping out of the active set

[2022-06-09 23:43] #12056 closed

[2022-06-09 23:56] faddat commented on #12215
They needed to remove 100% of stake and then were successful in the graceful exit/no delegator slashes exit technique.

[2022-06-09 23:56] #12215 closed

[2022-06-10 00:04] julienrbrt commented on #12039
There is no specific migration to do if we stay on TM v0.34 for v0.46. My comment above will be relevant for whatever version of the SDK uses TM v0.35.

[2022-06-10 00:04] #12039 closed

[2022-06-10 00:04] julienrbrt commented on #12039
I think it would be great to cut a new release for Cosmovisor, however.

[2022-06-10 05:50] fadeev commented on #12211
Responded: https://github.com/cosmos/cosmos-sdk/pull/12212#issuecomment-1151970813

[2022-06-10 08:42] marbar3778 commented on #12211
Its hard for me to form an opinion about this as im not a user. It would be nice to have the ignite team working a bit closer to the sdk team instead of seeing ignite cli look like a black box.

I will close this issue and the PR. lets work together on a path forward, there has been work from the sdk team to make the UX around developing apps easier.

[2022-06-10 08:42] #12211 closed

[2022-06-10 08:48] faddat commented on #12211
Ignite has requested that we have these conversations in public and I kind of agree. So then the next best place would end up being the Juno repository and we just bounce it around could we maybe I’ll:

 how about I try opening an issue that outlines where I think it could be useful? Maybe that’s a good starting point.

I have legitimate concerns about this tool, and the intersection of security a

[2022-06-10 08:49] marbar3778 commented on #12211
lets open a GitHub discussion on template tooling. Templating is important, no need to clog issues and prs for the time being.

[2022-06-10 09:56] #12035 closed

[2022-06-10 10:17] faddat opened #12217 "Make CI Faster"
## Summary

Propose that we use buildjet.io

We'd need to pay a very reasonable price to use it:

https://buildjet.com/for-github-actions/pricing

And then, we can take all of our current jobs running on ubuntu-latest, and change that to to one of the models in this table

https://buildjet.com/for-github-actions/docs/runners

<img width="612" alt="Screen Shot 2022-06-10 at 5 16 11 PM" src="https:/

[2022-06-10 12:39] facundomedica commented on #11910
I think we can close this now that #12169 is merged. Please reopen if you think otherwise

[2022-06-10 13:27] aaronc commented on #11910
This isn't supported in the app config yet so we should reopen

[2022-06-10 15:18] facundomedica commented on #12111
I can replicate. Looks like it's coming from the ORM, something to do with an iterator. Will investigate further 🕵️‍♂️

[2022-06-10 16:22] aaronc commented on #12111
Looks pretty concerning. This needs to be fixed for 0.46

[2022-06-10 17:25] apollo-sturdy opened #12226 "Incorrect timestamp is used when querying at previous block heights"
## Summary of Bug

When querying at a previous block height, the function `createQueryContext` is run in `baseapp/abci.go`. At the end of this function the context is returned as:
[code]
This uses the latest block's time, rather than the timestamp of the requested block. This causes problems for example when querying CosmWasm contracts with SmartQuery, as this context is passed to the CosmWasm que

[2022-06-10 19:51] alexanderbez commented on #12167
Agreed, It should just be `sync`, i..e `CheckTx` is executed only. This covers 99% of use-cases.

[2022-06-10 20:18] crodriguezvega opened #12227 "app state export with `simd export` panics"
## Summary of Bug

App state export CLI command panics. Executing `simd export` results in the following error:

[code]

## Version

0.45.4, main

## Steps to Reproduce

- Build `simd`
- setup a local chain and run it with `simd start`
- stop it
- Execute `simd export`

____

## For Admin Use

- [ ] Not duplicate issue
- [ ] Appropriate labels applied
- [ ] Appropriate contributors tagged
- [ ] Co

[2022-06-10 20:48] facundomedica commented on #12111
Findings so far:

`it.LoadNext` doesn't return.
https://github.com/cosmos/cosmos-sdk/blob/7feae9c4dd0fecceab348ace054561dd0638cf6b/x/group/internal/orm/iterator.go#L178-L181

That calls `NewTypeSafeRowGetter` which itself calls `pStore.Iterator`, this one doesn't return. (pStore is store/prefix.Store its parent looks like it's a gas KVStore)

https://github.com/cosmos/cosmos-sdk/blob/7feae9c4dd0fe

[2022-06-11 13:13] Terra854 commented on #10540
Just want to check, is this still being worked on?

[2022-06-11 14:41] alexanderbez commented on #10540
This is honestly an application concern, not the SDK. Your upgrade handler should update validator commissions.

[2022-06-11 14:52] alexanderbez commented on #12227
Please post your genesis file :)

[2022-06-11 15:01] Terra854 commented on #10540
Ideally the parameter check should be run everytime the minimum commission parameter gets updated via governance, not just when we upgrade.

[2022-06-11 18:05] faddat opened #12228 "Integration testing between major cosmos repositories"
Hi I think it's perfectly possible that I may have stumbled into my first ADR.

I don't know the process, and I want to begin by describing a set of issues that has been very challenging for us as we develop Craft Economy.  Also, since to my knowledge we used sdk 46 first, (others now do iirc) -- we had the earliest exposure to this set of issues.  In fact if one used it later, its possible that y

[2022-06-11 20:35] crodriguezvega commented on #12227
Thanks, @alexanderbez. Here it is: [genesis.json.zip](https://github.com/cosmos/cosmos-sdk/files/8884709/genesis.json.zip)

[2022-06-12 15:18] marbar3778 commented on #10540
this part can be done, we can make it part of the next staking module release

[2022-06-12 16:39] #12087 closed

[2022-06-13 05:52] FeurJak opened #12232 "Request for Historical AllBalances"
Hi Cosmos team,

Scratching my head a bit here. I'm not sure if it's possible to get past balances for an account ?

AllBalances query doesn't seem to have blockheight as a parameter.

[2022-06-13 13:25] marbar3778 commented on #12228
Thanks for the well written issue. I don't think it is possible to test against main/master branches because there are many breaking changes that aren't accounted for. I agree there needs to be better cross repo testing, but on released versions, once an RC is released then we can work towards aligning all repos to the same version.

[2022-06-13 13:26] marbar3778 commented on #12232
all grpc and grpc-gateway endpoints support height based queries. You can find this in our docs as well. https://docs.cosmos.network/main/run-node/interact-node.html#using-grpc

here is an example of all balances from the docs
[code]

[2022-06-13 13:26] #12232 closed

[2022-06-13 14:16] julienrbrt opened #12234 "migrate `x/mint` to use app wiring"
- [x] add app wiring functions
- [x] define own app.yml
- [x] decouple from simapp

[2022-06-13 17:53] marbar3778 opened #12236 "createvalidtor not checking pubkey correctly"
## Summary of Bug

 https://www.mintscan.io/osmosis/txs/E9CBCC75FA236CC7E3C8B3759851C9C544E2B2CA404CED497FC2B3FCE0343359
https://www.mintscan.io/osmosis/txs/5231284C64E036169E17EBA29740462ACDDADB513890F6322A41F1E87590E7C9

two txs have the same consensus pub keys, as shown above

## Version

osmosis mainnet, 0.45.x

____

## For Admin Use

- [ ] Not duplicate issue
- [ ] Appropriate labels applied

[2022-06-13 18:10] #12131 closed

[2022-06-13 18:44] #2835 closed

[2022-06-13 18:47] joeabbey commented on #12236
This happened because a NewValidator starts out as `Unbonded`:
https://github.com/cosmos/cosmos-sdk/blob/82412afd17daeebb9769a7fc38214c50e579f5fd/x/staking/types/validator.go#L41-L62

Even the initial delegation starts out life as `Unbonded`
https://github.com/cosmos/cosmos-sdk/blob/82412afd17daeebb9769a7fc38214c50e579f5fd/x/staking/keeper/msg_server.go#L112-L118

The transition from UnbondedToBon

[2022-06-13 18:49] marbar3778 commented on #7331
@julienrbrt recently completed this

[2022-06-13 18:49] #7331 closed

[2022-06-13 20:16] julienrbrt opened #12237 "Extend `core/appconfig` documentation"
Extend the `core/appconfig` documentation, and explain the pitfalls when loading modules:
f.e https://github.com/cosmos/cosmos-sdk/pull/12233#discussion_r895972041
____

## For Admin Use

- [ ] Not duplicate issue
- [ ] Appropriate labels applied
- [ ] Appropriate contributors tagged
- [ ] Contributor assigned/self-assigned

[2022-06-13 20:35] julienrbrt opened #12238 "migrate `x/evidence` to use app wiring"
- [x] add app wiring functions
- [x] define own app.yml
- [x] decouple from simapp

[2022-06-13 23:19] alexanderbez commented on #12236
@joeabbey investigation and conclusions are correct -- closing this issue.

[2022-06-13 23:19] #12236 closed

[2022-06-14 03:35] ValarDragon opened #12242 "Make query.FilteredPaginate use generics, and remove the accumulate parameter"
## Summary

Currently query.FilteredPaginate creates a silly developer overhead for callers, as they have to maintain the entire slice to return at the end. (and handle the complexity for the `accumulate` parameter.

Ideally this is instead handled by generic routines, and not the developer writing the query. This previously wasn't cleanly doable, due to needing to maintain the return type callee

[2022-06-14 05:23] yj0x0x opened #12244 "Enblocker tx activity's balance incorrect when querying."
## Summary of Bug

Already published issue on gaia repo : https://github.com/cosmos/gaia/issues/1518

Already published issue on the liquidity repo : https://github.com/Gravity-Devs/liquidity/issues/17

TL DR ; Rosetta API got the enblocker hash block height `8695158 `. Tx hash is the `002D9BEECFD46E4B35339D47166B7D0CE6F357DFA54AF3EBD1854ACC33A4D4CFB0 `.

But when I seen the operations , account `

[2022-06-14 06:32] #12038 closed

[2022-06-14 09:51] KimuraYu45z opened #12246 "New sign mode for signing into JSON text of tx"
## Summary

We are a dev team of UnUniFi, a layer 1 blockchain for NFT-Fi built with Cosmos SDK.

We developed a MetaMask integration for Cosmos SDK.
So, we want to propose how about integrating it into Cosmos SDK.
It is not specialized for MetaMask.

## Problem Definition

In EVM chains, user's public key is derived with secp256k1 elliptic curve. It is same to the public key for AccAddress, in Co

[2022-06-14 13:48] marbar3778 commented on #11382
@odeke-em would you want to take on this issue?

[2022-06-14 14:43] #12189 closed

[2022-06-14 15:29] alexanderbez commented on #12242
@facundomedica 👀

[2022-06-14 15:54] alexanderbez commented on #10540
In order to use param checking/validation in a stateful manner, you have to use the new method of parameters (i.e. not use x/params), which isn't released yet. So there isn't a way to do this in 0.45.x AFAIK. Correct me if I'm wrong @marbar3778

[2022-06-14 16:12] alexanderbez commented on #12226
Am I correct in understanding that you want `sdk.NewContext(...)` to also have the time set, i.e. `WithBlockTime`? If so, I'm not sure how we would get that block time as that would require first getting the block to begin with...which might not be that trivial.

[2022-06-14 16:19] ant1g opened #12249 "Starting multiple nodes with cosmovisor locally"
## Summary of Bug

When trying to start multiple nodes with cosmovisor locally, the first one starts fine, but the other nodes fail to start with the error:

```Error: failed to initialize database: resource temporarily unavailable```

## Version

cosmos-sdk@v0.45.5
cosmovisor@latest

## Steps to Reproduce
Consider the simple wrapper script:

[code]
In first terminal, start: `./script path/to/home

[2022-06-14 16:27] aaronc commented on #12246
Why can't metamask use our existing amino json format?

[2022-06-14 16:40] JayT106 opened #12251 "db: optional checkpoints for the RocksDB"
## Summary

the Rocksdb checkpoints create a lot of commit latency and consume massive disk spaces. Please consider making it as an option when creating a new rocksdb

## Problem Definition

Trying to compare the DB size between storeV1 and storeV2 using the SDK v0.46.x add5753a549e0c89b7620ee8aff93d9f3b661e22
Simply wrote 100 key/value data into the store as a version and repeated 1000 times:
[co

[2022-06-14 16:57] ant1g commented on #12249
my mistake...

[2022-06-14 17:32] aaronc opened #12252 "Should all injectable types require an interface?"
Currently in `depinject`, one-per-module and many-per-container types must implement the `OnePerModuleType` and `ManyPerContainerType` interfaces. These interfaces actually serve as good indicators to users for what they can put into and out of the container.

It might be useful for debugging purposes to require such an interface for all types that can be injected. Currently, we need to communicat

[2022-06-14 18:11] aaronc commented on #11980
I'm thinking maybe nil time stamps should get sorted last.

Is it safe to treat nil durations as 0?

[2022-06-14 18:16] technicallyty commented on #11980
https://learnsql.com/blog/how-to-order-rows-with-nulls/

seems like theres not really a standard between db's, so either way seems fine

that seems at odds with the proposed timestamp change tbh

[2022-06-14 18:43] aaronc commented on #11980
My thinking is that timestamps are often used for expiration so nil expiration means forever which would go at the end. Although I'm sure there's some counter-example where it's the opposite.

For durations, I'm thinking that omitting a value is equivalent to saying 0. It would seem strange that nil durations go either at the beginning, before negative durations or at the end after the longest dur

[2022-06-14 19:37] technicallyty commented on #11980
maybe we could add an option and just let the dev define ordering? something like `nil_order: asc` or `nil_order: desc`?

[2022-06-14 19:54] aaronc commented on #11980
I think that would be good to add in the future. I'd like to start with a sane default to begin with. Seems like nil duration as zero could be one of the options and maybe default

[2022-06-14 20:25] julienrbrt commented on #12252
I agree that it would be helpful for debugging, when you can know directly from the editor what is injectable.
When learning how to use `depinject`, I've struggled to understand what could be injectable. It might be even harder when you aren't directly in the sdk codebase to see what modules provide as injectable outputs.

However, I wonder if the added burden and extra code worth it. This might a

[2022-06-14 20:43] #12238 closed

[2022-06-14 20:54] aaronc commented on #11980
Here's a proposed encoding that both handles `nil`s correctly and is significantly more compact than our current `Timestamp` and `Duration` encodings which always require `12` bytes. With the encodings below, `Timestamp`s generally will take `6` bytes (unless there are nanos and then may take up to `9` bytes) and `Durations` will take between `1` to `10` bytes.

I have to say I find this _incredib

[2022-06-14 21:13] marbar3778 commented on #11382
amazing, maybe you and @facundomedica can work on this together?

[2022-06-14 21:16] #12234 closed

[2022-06-14 21:24] ValarDragon opened #12257 "Lower boilerplate in grpc_query.go codegen"
## Problem Definition

Every query in grpc_query.go for every module contains the same ~4-5 lines of overhead due to the type arguments used:
[code]

If instead we made our codegen, and our query wiring logic do some more work, seems to me like this could become:

[code]

Saving us these 4-5 lines per query / extra cognitive overhead in these functions.

## Proposal

I'm not quite clear on how the

[2022-06-14 21:26] aaronc commented on #12257
We're going in the opposite direction and moving towards context.Context everywhere instead of sdk.Context. Newer APIs will not require this weird unwrapping

Btw I did the codegen you suggested on Regen and we reverted it in favor of the above approach

[2022-06-14 21:29] ValarDragon commented on #12257
Oh sweet, that sounds great as well!

[2022-06-14 21:31] aaronc commented on #12257
https://github.com/cosmos/cosmos-sdk/pull/12239

[2022-06-14 22:40] julienrbrt opened #12260 "depinject `AutoDebug` does not save graphviz file"
## Summary of Bug

When having a dependency issue with `depinject` it should, when using `AutoDebug()` ([code](https://github.com/cosmos/cosmos-sdk/blob/cd243fd0d2fa9ddd5d0a2d189ff9ab0caefae9bc/depinject/inject.go#L16-L19)) create a graphivz `.dot` file.

Yet, it only happens if we manually set `Debug()` in the inject function. No file is created with `AutoDebug()`.

It is worth noting that the fi

[2022-06-15 00:43] KimuraYu45z commented on #12246
@aaronc I concerned that amino json format will be abolished.
In actual, supporting amino json format forces engineers to write codes for registering types into codes, manually. It is not productive and efficient, in comparison to the protocol buffer type registration (It is automatically done in `pb.go`)

I think that, amino json format should be left, for the only reason, which is for compatibil

[2022-06-15 00:49] aaronc commented on #12246
I'm pretty sure we won't support another JSON format so if you want JSON that is what I would suggest. Or you can use SIGN_MODE_TEXTUAL when it's ready which should be an overall usability improvement

[2022-06-15 01:18] KimuraYu45z commented on #12246
@aaronc When `SIGN_MODE_TEXTUAL` be available?

[2022-06-15 01:47] aaronc commented on #12246
We don't have an exact estimate. People are working on it. @marbar3778 anything you can add?

[2022-06-15 01:51] KimuraYu45z commented on #12246
We, UnUniFi dev, have a preparation for contributing to implement `SIGN_MODE_TEXTUAL`, for accelerating it, as a member of Cosmos Ecosystem.
If `SIGN_MODE_TEXTUAL` is supported, this issue will be solved and MetaMask can be supported in UnUniFi chain well.

[2022-06-15 02:27] KimuraYu45z commented on #12246
I'm disgressing, but

converting this

[code]

into YAML

[code]

and utilizing it as a target for signing is also very easy to implement immediately.

Anyway, we have a preparation for contributing to implement `SIGN_MODE_TEXTUAL` in ADR050 https://github.com/cosmos/cosmos-sdk/pull/10701

[2022-06-15 03:11] yj0x0x commented on #12244
yes.

[2022-06-15 06:52] marbar3778 commented on #12246
Sign mode textual is on hold till amuary comes back from vacation, which is end of June. Then we will be including it in sprints.

[2022-06-15 08:00] greg-szabo commented on #12144
The default on recent binaries is "sync" both in gaiad and osmosisd. I'll close this and keep track of #12167 .

[2022-06-15 08:00] #12144 closed, assigned to nobody

[2022-06-15 08:02] greg-szabo commented on #9321
The `--keyring-dir` parameter is still missing on gaiad `v7.0.1` for the `add-genesis-account` command:

[code]

[2022-06-15 14:40] alexanderbez commented on #9321
@greg-szabo `add-genesis-account` is defined by the application, so in this case Gaia. The issue needs to opened up there. Specifically, the keyring flag needs to be added in `cmd/gaiad/cmd/genaccounts.go`.

[2022-06-15 14:42] alexanderbez commented on #12246
At least we have a solid amount of teams and people really interested in helping out on SIGN_MODE_TEXTUAL, so I don't see it taking that long to land in a release :)

[2022-06-15 16:58] #12155 closed

[2022-06-15 18:51] robert-zaremba opened #12269 "Add in protocol min gas price"
## Summary

Last year we had many discussions about gas price problems and a need for solid fee market model
* https://github.com/cosmos/cosmos-sdk/issues/8917 (meta issue)
* https://github.com/cosmos/cosmos-sdk/discussions/8224 (discussion)

## Problem Definition

Chains need a more robust way to define minimum gas price to better protect against network spam. We agree that the ultimate solution

[2022-06-15 20:18] JeancarloBarrios commented on #12194
pr branch #12270

[2022-06-15 20:43] marbar3778 commented on #9773
closing this as we are working from different issues

[2022-06-15 20:43] #9773 closed

[2022-06-15 20:50] tac0turtle opened #12272 "EPIC: ABCI++"
## Summary

Tendermint team has been working on a refactor of the abci layer to enable more use cases. This has been a requested feature by many users and will be a focus of the sdk team once a release of 0.36 is cut and SDK team has completed app wiring migration.

More Information can be found on the design here: https://github.com/tendermint/tendermint/tree/master/spec/abci%2B%2B

## Phase 1

P

[2022-06-15 21:38] aaronc commented on #11980
Started working on a fix in #12273

[2022-06-15 23:21] #12023 closed

[2022-06-15 23:23] julienrbrt opened #12274 "migrate `x/gov` to use app wiring"
- [x] add app wiring functions in module.go

[2022-06-15 23:26] julienrbrt commented on #12274
After the migration is done, please re-enable the test that has been skipped here:

https://github.com/cosmos/cosmos-sdk/pull/12259

Either way by importing gov if that's judge acceptable or refactoring that test.

[2022-06-16 00:11] ValarDragon commented on #12226
I think it'd be that `WithBlockHeight` should set `WithBlockTime` if its present in state

[2022-06-16 09:32] #12217 closed

[2022-06-16 09:57] tac0turtle opened #12276 "Tracking: PRs to upstream from users"
## Summary

This Issue is meant to track things we should upstream from downstream users like osmosis.

## PRs to upstream

- [ ] [fix version setting during state sync](https://github.com/osmosis-labs/cosmos-sdk/pull/265) (@p0mvn)
- [ ] [query all module accounts](https://github.com/osmosis-labs/cosmos-sdk/pull/242)
- [ ] [custom voting periods](https://github.com/osmosis-labs/cosmos-sdk/pull/239

[2022-06-16 13:33] #11538 closed

[2022-06-16 15:10] alexanderbez opened #12281 "Proportional Delegation"
## Summary

Currently, when a delegator wants to delegate to a validator, they specify the validator address and the amount they want to delegate.

## Problem Definition

Proposed by @hxrts:

## Proposal

Introduce a new message type that allows proportional delegations. Something like the following:

[code]

Alternatively, `MsgDelegateProportional` can also specify the total amount and `Proportio

[2022-06-16 16:08] alexanderbez commented on #12276
I implemented https://github.com/osmosis-labs/cosmos-sdk/pull/239. I can bring that over.

[2022-06-16 16:15] alexanderbez commented on #12226
Yes, but we'd have to query for it I think @ValarDragon. Alternatively, we can keep them in memory (at `Commit`) lol.

[2022-06-16 16:15] p0mvn commented on #12276
I can do https://github.com/osmosis-labs/cosmos-sdk/pull/265

[2022-06-16 16:31] alexanderbez commented on #12269
Also, this seems to be a duplicate of the original global min fee issue I wrote, which @marbar3778 closed in favor of your issue https://github.com/cosmos/cosmos-sdk/issues/8917, which I personally think is too broad in scope and should be closed with more concrete proposals.

[2022-06-16 16:49] marbar3778 opened #12283 "migrate auth to not use param module"
- [ ] remove dependence on param module
- [ ] write param module to module store migration

[2022-06-16 16:49] marbar3778 opened #12284 "migrate bank to not use param module"
- [x] remove dependence on param module
- [x] write param module to module store migration

[2022-06-16 16:50] marbar3778 opened #12285 "migrate staking away from param module"
- [x] remove dependence on param module
- [x] write param module to module store migration

[2022-06-16 16:54] peterbourgon commented on #12111
[code]

[code]

[code]

[code]

The immediate symptom is that `ch` becomes full, making the `select` statement in `newMemDBIteratorMtxChoce` block while holding a read lock on `db.mtx`, which prevents `Set` from acquiring a write lock. But the actual problems are in `newMemDBIteratorMtxChoice`. First and foremost, it's nonsensical for a method to _optionally_ take a [read] lock on a mutex -- if sy

[2022-06-16 16:54] marbar3778 commented on #12276
amazing thank you!

[2022-06-16 16:55] marbar3778 opened #12286 "remove params module from x/mint"
- [ ] remove dependence on param module
- [ ] write param module to module store migration

[2022-06-16 16:55] marbar3778 opened #12287 "remove param module from x/distribution"
- [ ] remove dependence on param module
- [ ] write param module to module store migration

[2022-06-16 16:55] marbar3778 opened #12288 "remove params from x/slashing"
- [ ] remove dependence on param module
- [ ] write param module to module store migration

[2022-06-16 17:07] cameronfyfe opened #12289 "Support linux systems that don't keep `stty` in /bin"
## Summary

System calls to `stty` to enable/disable terminal echos rely on a hardcoded path at `/bin/stty`.

This is due to  hardcoded path strings in https://github.com/bgentry/speakeasy/tree/v0.1.0.

There is currently an [issue](https://github.com/bgentry/speakeasy/issues/22) and [PR](https://github.com/bgentry/speakeasy/pull/24) that should fix the issue once merged. I bumped the issue today.

[2022-06-16 17:16] alexanderbez commented on #12289
It seems like the easiest approach is to just wait for that PR to be merged and released. Dependabot will automatically open a PR for the SDK to bump the version.

[2022-06-16 17:17] robert-zaremba commented on #12269
oh, https://github.com/cosmos/cosmos-sdk/issues/8917 is a meta issue.

Where is your original issue? I don't see it mentioned in #8917 ...unless you are think about #4527

Sure! Let's decide. How about using the Gaia implementation?

[2022-06-16 17:33] ebuchman commented on #10861
Just tested with gaia v7.0.2 and have the same issue :(

[2022-06-16 17:47] peterbourgon commented on #12111
That's exactly what the RLock does. The problem is that whoever is iterating doesn't finish, meaning the RLock is never RUnlocked, meaning writes are prevented forever.

[2022-06-16 17:54] ebuchman commented on #10861
Ah, I suppose it's possible this is fixed on a more recent version - gaia7.0.2 is using sdk v0.45.4

[2022-06-16 17:55] alexanderbez commented on #12111
What I meant was to not iterate while we write explicitly in the ORM layer, not depending on the locking mechanism explicitly in the memdb implementation.

[2022-06-16 18:27] aaronc commented on #12111
Does group have an open iterator while writing? That does violate the iterator contract. But from looking at the code I don't see that happening

[2022-06-16 18:35] robert-zaremba commented on #12269
OK, I can handle that. IMO https://github.com/cosmos/cosmos-sdk/issues/4527 is different than this task.

[2022-06-16 18:40] nooomski opened #12290 "Docs: gov spec needs more details in v0.46"
## Summary

The gov docs for v0.46 are missing a few key details that can inform clients.

## Problem Definition

Currently not covered:
- Which proposals require `submit-legacy-proposal`
- The fact that the gov module address is required as `from_address` in `MsgSend` and other TXs
- Metadata length param
- Details about metadata
  - Default length
  - That it's a string
  - That the intention is

[2022-06-16 19:06] peterbourgon commented on #12111
You have the stack trace here:

[code]

Basically, the orm/iterator eventually calls [store/cachekv.Store.dirtyItems](https://github.com/cosmos/cosmos-sdk/blob/cabd3a9b4f76e7a88cc33c14a02ee73856accd0d/store/cachekv/store.go#L277), which calls [clearUnsortedCacheSubset](https://github.com/cosmos/cosmos-sdk/blob/cabd3a9b4f76e7a88cc33c14a02ee73856accd0d/store/cachekv/store.go#L352-L363), which invoke

[2022-06-16 19:29] Orion-9R commented on #12012
Any Update on this?

I am a community dev on a cosmos-sdk chain.
Fullnodes under load are reporting the app-hash missmatch and have to re-sync.

[2022-06-16 20:18] marbar3778 commented on #12269
im not sure if this should be a module, I was thinking it could be a base app param, that if an app wants to use they can set to > 0.

[2022-06-16 21:53] robert-zaremba commented on #12269
That was the original idea: to use the param, but I think we want to go to module owned logic.

[2022-06-16 22:47] #12069 closed

[2022-06-16 22:51] robert-zaremba commented on #12269
@alexanderbez it looks that @yaruwangway used the TGrade solution in Gaia.

The provenance solution is more complex. They have a mechanism to assess additional fees for every possible message type and smart contract. TGrade does what we need. Question is if we want to handle it through new module or bundle it in an existing module.

[2022-06-16 22:54] julienrbrt opened #12292 "migrate `x/distribution` to app wiring"
- [x] add app wiring functions in module.go
- [x] add app.yml for integration tests
- [x] decouple from simapp

[2022-06-17 10:48] ethanfrey commented on #12226
It would be good to have a proper historical environment for the historical queries.

I think setting `WithBlockTime` is the only item missing there. And since this is in queries ands requires that the node has not pruned that block, I guess we can assume the node also has the proper tendermint header (and fails if either the iavl data or tendermint header is missing for the requested height)

If

[2022-06-17 12:44] catShaark opened #12296 "improve sdk.Dec ApproxRoot"
## Problem Definition

As discussed in [12229](https://github.com/cosmos/cosmos-sdk/pull/12229), we find some problems with `ApproxRoot` here:
- `ApproxRoot` behavior is imo unsafe, it needs to be returning an error or a flag at minimum, if it can't converege within max iterations, so the caller doesn't have incorrect expectations.
- `ApproxRoot` will panic "out of bound" for very large `sdk.Dec`

[2022-06-17 14:09] yj0x0x commented on #12244
OK. I will let you know more precise explain about this ASAP.

[2022-06-17 14:10] sascha1337 commented on #9826
@faddat it will be inside 0.46-rc

[2022-06-17 17:11] alexanderbez commented on #12012
We'll need think carefully for how to handle various DB-related errors when executing txs -- in the meantime, I would advise bumping the file limit on your system as others have pointed out @Orion-9R :)

[2022-06-17 18:11] alexanderbez commented on #12226
Given that there are query paths that completely bypass Tendermint all together, I just can't think of a clean way to handle this (see `createQueryContext` and all callers that use it).

The only relatively clean solution I can really think of, within the constraints of `BaseApp`, is to just cache `height -> timestamp` mappings directly in `BaseApp`.

[2022-06-17 18:16] alexanderbez commented on #12269
Sorry! I never meant to mention Provenance -- I meant TGrade the entire time (I got the two mixed up) :)

Yes, Gaia already uses the TGrade approach (a simple module). I think they modified it slightly? Is that true @yaruwangway?

In any case, I would say get that module into the SDK and we can call it a day. It's extremely simple and addresses users needs. I don't think this needs to exist in `Ba

[2022-06-17 18:43] julienrbrt opened #12298 "migrate `x/upgrade` to use app wiring"
- [x] add app wiring functions in module.go
- [x] add app.yml for integration tests
- [x] decouple from simapp

[2022-06-17 19:01] robert-zaremba commented on #12269
I'm rebuilding that module in Umee to:
1. Use gov execution
2. Use the latest module structure

[2022-06-17 19:46] deepto98 commented on #12149
Hi can I pick this up? It would be helpful if you can point me to the files I need to look at.

[2022-06-17 19:49] deepto98 commented on #11410
Can I pick this up?

[2022-06-17 19:58] alexanderbez commented on #12149
Yes please and thank you @deepto98!

[2022-06-17 22:43] #12024 closed

[2022-06-17 23:03] Orion-9R commented on #12012
Keen to find a solution - its a burden on our ecosystem to have to kick fullnodes regularly.
Default is 1000000 for nodes and they are no where close to that so I think there is something else going on.

[2022-06-18 10:13] yihuang commented on #12012
there could also be some genuine undeterministic logic, you can try to investigate the execution result of the block that produce the mismatched app hash.

[2022-06-18 16:30] julienrbrt opened #12300 "migrate `vesting` to use app wiring"
- [x] add app wiring functions in module.go
- [x] add app.yml for integration tests
- [x] decouple from simapp

[2022-06-18 20:14] julienrbrt opened #12302 "migrate `x/auth` to use app wiring"
- [x] add app wiring functions in module.go (#12019)
- [x] add app.yml for integration tests (https://github.com/cosmos/cosmos-sdk/pull/12329)
- [x] decouple from simapp (https://github.com/cosmos/cosmos-sdk/pull/12360)

Note: the best is to do it after #12300 is merged.

[2022-06-18 20:19] julienrbrt commented on #12292
Waiting for #12291 for the next two following steps.

[2022-06-19 09:31] deepto98 commented on #12149
@alexanderbez I'm done with the code changes, but I'm getting an error while running `make lint test test-race`, `make format` and `make lint-fix`:
[code]
Can you please help me build the project (can't find the exact steps in the doc) and sort this issue on my local?

[2022-06-19 14:45] deepto98 commented on #11463
Can I pick this up?

[2022-06-19 21:16] marbar3778 commented on #11410
yea, would love it if you did!

[2022-06-20 07:06] hxrts commented on #12281
from slack discussion with dev & sunny

dev:

sunny:

sam:

[2022-06-20 07:29] hxrts commented on #12281
so a potential synthesis of these two proposals would look something like the following:

use the second of bez's proposed options

[code]

the user could then specify whether action should be taken on current delegations, future delegations, or both. so the `amount` and `autostake_rate` would be moved into these secondary messages. you lose some granularity from dev's `ValidatorPreference` messag

[2022-06-20 11:06] #12300 closed

[2022-06-20 14:09] yj0x0x commented on #12244
@alexanderbez Hello.

First of all, Let's see the return format of the Rosetta API.
below are source code.

[code]

ref : https://github.com/cosmos/cosmos-sdk/blob/9fd866e3820b3510010ae172b682d71594cd8c14/server/rosetta/types.go#L15-L24

So Transaction hash that I mentioned, `002D9BEECFD46E4B35339D47166B7D0CE6F357DFA54AF3EBD1854ACC33A4D4CFB0 ` is the end blocker hash.

 And let's see the Rosetta A

[2022-06-20 14:23] yj0x0x commented on #12244
Below are block return came from Rosetta API query.

[code]

[2022-06-20 14:25] yj0x0x commented on #12244
And this zip file is the original return of block `2D9BEECFD46E4B35339D471
66B7D0CE6F357DFA54AF3EBD1854ACC33A4D4CFB0` 's return.
Please check it.

[block-8695158-rosetta-api-result.json.zip](https://github.com/cosmos/cosmos-sdk/files/8941424/block-8695158-rosetta-api-result.json.zip)

@alexanderbez

[2022-06-20 14:26] marbar3778 commented on #11008
@aaronc to do this with app.yaml the user needs to create a new proto file correct?

[2022-06-20 14:28] yj0x0x commented on #12244
So `End Blocker` Transaction hash `002D9BEECFD46E4B35339D47166B7D0CE6F357DFA54AF3EBD1854ACC33A4D4CFB0 ` includes account activity

Which were below.

[code]

[2022-06-20 15:19] okwme commented on #8498
re-opening here this issue isn't resolved.

https://github.com/cosmos/gaia/issues/1542

I think we should do @alessio 's suggestion of:

The ones collected in the gaia issue are as follows:
 - gaiad version
 - gaiad export
 - gaiad keys parse
 - gaiad q tendermint-validator-set
 - gaiad keys multisign

[2022-06-20 15:19] okwme commented on #8498
@glnro was going to add one more

[2022-06-20 20:31] doggystylez opened #12311 "edit-validator defaults moniker to moniker in config.toml, not [do-not-modify]"
## Summary of Bug

Seems to have been reported in https://github.com/cosmos/cosmos-sdk/issues/2423

Changing the validator info with tx edit-validator without providing moniker flag defaults it to the moniker set in config.toml, not [do-not-modify] as noted in the CLI

## Version

server_name: gaiad
version: v7.0.2
cosmos_sdk_version: v0.45.4
tendermint: v0.34.19

## Steps to Reproduce

Start loca

[2022-06-21 00:39] alexanderbez commented on #12311
@julienrbrt could you verify this by any chance please? Thanks!

[2022-06-21 02:33] zeroFruit opened #12313 "Upgrading chain by Cosmovisor does not work as expected: `UPGRADE "test1" NEEDED at height: N`"
## Summary of Bug

Upgrading chain by Cosmovisor does not work as expected. I've followed [Example: SimApp Upgrade](https://docs.cosmos.network/master/run-node/cosmovisor.html#example-simapp-upgrade) example but it panics with the following message on the target block height.

## Version

- Cosmovisor: v1.1.0
- Cosmos SDK: upgraded from v0.44.6 into v0.45.3

## Steps to Reproduce

I've followed th

[2022-06-21 04:26] julienrbrt commented on #12311
I have a few other things to finish before, @likhita-809 can already have a look 🙏

[2022-06-21 07:05] likhita-809 commented on #12311
@alexanderbez this issue is getting resolved when we change the flag name to some other name instead of `moniker`, is this the right way to fix ?

[2022-06-21 07:54] Terra854 commented on #9816
Just want to check, is ADR-040 still being worked on? It would be great to get it up asap cause it's getting harder and longer to sync a node with the ever increasing size of the databases

[2022-06-21 09:30] likhita-809 commented on #12311
@alexanderbez we already have a fix for this here: https://github.com/cosmos/cosmos-sdk/pull/10684
But I think we can't backport it since it is CLI breaking,

[2022-06-21 12:38] yaruwangway commented on #12269
@alexanderbez , sry for the late reply.(was on holiday). gaia will introduce global fee and we plan to propose the global fee by gov proposal later. It is same module as tgrade. except we will still let global fee to bypass some configured msg types.

[2022-06-21 12:38] tony-iqlusion opened #12316 "`cosmos.staking.v1beta1` protos cause duplicate `Validators` types in prost-generated Rust code"
NOTE: this is not so much a "bug" as a bad interaction between the Cosmos SDK protos and the Rust tooling we are using to generate code from them.

## Summary of Bug

Rust's most mature protobuf library, [`prost`](https://github.com/tokio-rs/prost), does not correctly handle the following:

https://github.com/cosmos/cosmos-sdk/blob/main/proto/cosmos/staking/v1beta1/authz.proto

[code]

Namely `pro

[2022-06-21 13:31] likhita-809 commented on #12311
do you want to backport this @alexanderbez ?

[2022-06-21 13:40] alexanderbez commented on #12316
cc @aaronc for visibility

[2022-06-21 13:43] alexanderbez commented on #12269
Got it. I think we should bring this module into the SDK and sub-module version it.

cc @marbar3778

[2022-06-21 13:51] alexanderbez commented on #12313
You need to set the upgrade handler in the binary version of your app. This is how the upgrade procedure works.

[2022-06-21 14:17] alexanderbez commented on #11463
Yes please @deepto98! Thanks for all the help :)

[2022-06-21 14:18] alexanderbez commented on #12012
Yes, that too! My initial inclination is to type check the error in the panic recovery logic of tx execution -- if the error is of a specific DB fault, then we truly panic.

[2022-06-21 15:33] deepto98 commented on #12149
Okay, sure. Thanks for letting me know.

[2022-06-21 17:19] tac0turtle opened #12327 "ADR-036: Refine ADR and implement"
## Summary

There was an adr written around arbitrary message passing. there was an early implementation that got abandoned (https://github.com/cosmos/cosmos-sdk/pull/7896) which was mentioned to fit the entire needs. The PR has sat around for a while without being completed.

## Problem Definition

Adr-036 has not been implemented yet

## Proposal

Implement adr-036

this is where the conversatio

[2022-06-21 18:40] ebuchman opened #12328 "Prevent signing from wrong key in multisig"
## Summary

When signing a multisig tx, you are required to provide the multisig address (`--multisig`) and the key you are signing with (`--from`), but there's no check that the key is actually part of the multisig. This makes it very easy to accidentally sign with the wrong key and only figure it out when you try to broadcast the invalid tx that includes a signature from a key thats not in the m

[2022-06-21 22:34] #12260 closed

[2022-06-22 00:04] odeke-em commented on #11382
@peterbourgon could you please email me the pprof memory and CPU profiles? My email is emmanuel at orijtech.com. Thank you!

[2022-06-22 00:06] odeke-em commented on #11382
@peterbourgon also please send over the cosmos-sdk version or the Tendermint version if possible.

[2022-06-22 01:27] peterbourgon commented on #11382
Those profiles are long gone; sorry! What information do you want from them? Maybe I can give more context.

[2022-06-22 04:08] likhita-809 commented on #12311
resolved in #12317

[2022-06-22 04:08] #12311 closed

[2022-06-22 10:21] julienrbrt commented on #12298
#12312 has been merged without integration tests (https://github.com/cosmos/cosmos-sdk/pull/12312#discussion_r903556911), this will be done in a follow-up PR as well as this comment: https://github.com/cosmos/cosmos-sdk/pull/12312#discussion_r903042460

[2022-06-22 10:30] likhita-809 commented on #12274
After migration is done, we need to uncomment the gov related tests that are commented here: #12329

[2022-06-22 14:03] joshLong145 opened #12331 "Unable to target WASM when importing type libs"
## Summary of Bug
When attempting to target WASM while importing lib types the following errors have been observed:
[code]

## Version
0.45.5

## Steps to Reproduce
import "github.com/cosmos/cosmos-sdk/types" into a entry point file and attempt to build for the WASM target using a go version > 1.14

____

## For Admin Use

- [ ] Not duplicate issue
- [ ] Appropriate labels applied
- [ ] Appropriat

[2022-06-22 14:57] julienrbrt opened #12332 "Replace `testify` usage by `gotest.tools`"
Context: https://github.com/cosmos/cosmos-sdk/pull/12291#discussion_r903813165

Currently, we are using both `testify` and `gotest.tools` through the codebase.
Please use [gotest.tools/v3/assert](https://pkg.go.dev/gotest.tools/v3/assert) wherever possible.

[2022-06-22 15:37] robert-zaremba opened #12333 "Add Query metrics into Telemetry"
## Summary

Currently the metrics we collect are limited, and it will be useful for having more metrics.
+ https://docs.cosmos.network/master/core/telemetry.html

## Problem Definition

Metrics is super important. It not only helps troubleshooting various problems, but also helps to make business decisions or correctly target important optimizations.

## Proposal

* Add queries metrics to Promethe

[2022-06-22 15:48] alexanderbez commented on #12332
ACK -- Use `gotest.tools` V3 going forward 👍

[2022-06-22 15:50] alexanderbez commented on #12333
@robert-zaremba can you be a bit more specific or perhaps expand a bit? In the context of gRPC queries, what do you want to see monitored specifically (e.g. query time)?

[2022-06-22 16:50] robert-zaremba commented on #12333
+ Query message type (so we can see frequency)
+ Query time

I don't think we need to record the whole query message

[2022-06-22 16:59] marbar3778 commented on #12332
Going forward we should use this, but also for consistency we should try to use the same thign

[2022-06-22 17:18] alexanderbez commented on #12333
SGTM @robert-zaremba

[2022-06-22 19:43] #12292 closed

[2022-06-22 21:51] odeke-em opened #12336 "store/streaming: (*StreamingService).ListenBeginBlock leaks a file handle in many places by not invoking defer dstFile.Close()"
## Summary of Bug

@elias-orijtech found this bug which comes from not invoking a defer file.Close() in so many places in that method per
https://github.com/cosmos/cosmos-sdk/blob/d07d35f29e0a0824b489c552753e8798710ff5a8/store/streaming/file/service.go#L91-L104

then

https://github.com/cosmos/cosmos-sdk/blob/d07d35f29e0a0824b489c552753e8798710ff5a8/store/streaming/file/service.go#L106-L124

which

[2022-06-22 21:55] odeke-em opened #12337 "store/streaming: (*StreamingService).ListenDeliverTx leaks a file handle in many places by not invoking defer dstFile.Close()"
## Summary of Bug

@elias-orijtech found this bug which comes from not invoking a defer file.Close() in so many places in that method per
https://github.com/cosmos/cosmos-sdk/blob/d07d35f29e0a0824b489c552753e8798710ff5a8/store/streaming/file/service.go#L144-L155

then

https://github.com/cosmos/cosmos-sdk/blob/d07d35f29e0a0824b489c552753e8798710ff5a8/store/streaming/file/service.go#L157-L175

whic

[2022-06-22 21:59] odeke-em opened #12338 "store/streaming: (*StreamingService).ListenEndBlock leaks a file handle in many places by not invoking defer dstFile.Close()"
## Summary of Bug

@elias-orijtech found this bug which comes from not invoking a defer file.Close() in so many places in that method per
https://github.com/cosmos/cosmos-sdk/blob/d07d35f29e0a0824b489c552753e8798710ff5a8/store/streaming/file/service.go#L198-L205

then

https://github.com/cosmos/cosmos-sdk/blob/d07d35f29e0a0824b489c552753e8798710ff5a8/store/streaming/file/service.go#L207-L225

whic

[2022-06-23 08:08] yj0x0x commented on #12244
@alexanderbez Hello.
Have you ever checked above ??

[2022-06-23 11:07] julienrbrt commented on #12195
Note: `TestSlashingMsgs` test will be migrated (or removed − it is being investigated if it is still necessary) in a follow-up PR.
 https://github.com/cosmos/cosmos-sdk/blob/v0.46.0-beta2/x/slashing/app_test.go#L43

[2022-06-23 15:27] alexanderbez commented on #12244
@yj0x0x I'm sorry, but the data and info you've posted has made this issue way too verbose for me to really follow effectively. I would suggest deleting the verbose comments and only posting what's needed for the relevant issue. IIRC, I just needed to know the tx hash.

[2022-06-24 02:17] zeroFruit commented on #12313
@alexanderbez
Thanks for the answer. I think I can reference this [PR: feat: Add example upgrade handler for upgrading simapp from 045 to 046](https://github.com/cosmos/cosmos-sdk/pull/11893/)
And is there any documentations about upgrade handler?

[2022-06-24 04:35] #12336 closed

[2022-06-24 04:35] #12337 closed

[2022-06-24 04:35] #12338 closed

[2022-06-24 14:01] #12313 closed

[2022-06-24 14:17] robert-zaremba commented on #12269
so these are two different features. I think we should do it separately but in the same module.

[2022-06-24 15:09] alexanderbez commented on #12269
Message filtering is app specific -- that wouldn't belong in the SDK. If we want, we can add a no-op/empty list message filter ante handler decorator that apps can use to extend.

[2022-06-24 16:55] robert-zaremba commented on #9619
yes, directly mint to an account and emit appropriate event.

[2022-06-24 17:23] hxrts commented on #11301
linking the following issues so we don't forget

https://github.com/cosmos/cosmos-sdk/issues/10932
https://github.com/cosmos/cosmos-sdk/issues/11268

[2022-06-24 22:23] deepto98 commented on #12149
@alexanderbez I've tried to add the changes in #12352. Do let me know if this looks okay

[2022-06-25 06:40] deepto98 commented on #11463
@alexanderbez @AdityaSripal I'm working on this, but am not able to reproduce the exact issue. For me, `TestGetAllHistoricalInfo` passes even when I pass 9,10,11 as the heights. Can you please give me a brief about the code and what changes I should implement?

[2022-06-25 07:56] deepto98 commented on #11410
@marbar3778 You can check this PR #12355

[2022-06-25 07:57] deepto98 commented on #11241
#11410

[2022-06-25 13:51] magicbrighter commented on #746
modify config.toml

create_empty_blocks = false has no effect
create_empty_blocks_interval= "10s" has no effect

refenence by
https://docs.tendermint.com/master/nodes/configuration.html

[2022-06-25 13:52] magicbrighter opened #12356 "Turning create_empty_blocks to false has no effect"
modify config.toml

create_empty_blocks = false has no effect
create_empty_blocks_interval= "10s" has no effect

refenence by
https://docs.tendermint.com/master/nodes/configuration.html

## Summary of Bug

## Version

## Steps to Reproduce

____

## For Admin Use

- [ ] Not duplicate issue
- [ ] Appropriate labels applied
- [ ] Appropriate contributors tagged
- [ ] Contributor assigned/self-assign

[2022-06-25 15:50] yihuang commented on #12356
`create_empty_blocks = false` only stop create empty blocks when app hash don't change, but I believe some begin/end blocker logic in cosmos-sdk will cause constant change of app hash.

[2022-06-25 21:33] Wryhder commented on #10182
Is anyone still working on this? I'd like to get started if it's available.

[2022-06-26 03:09] barriebyron commented on #10182
This issue was originally created to provide easy entry points for the codefest. These docs are open source, so please contribute!

[2022-06-26 11:53] aleem1314 opened #12357 "Querying `inflation` causing node halt"
## Summary of Bug

On querying inflation information using REST, the network halt with following error `panic: invalid Go type types.Dec for field cosmos.mint.v1beta1.QueryInflationResponse.inflation`. Here are the logs: [https://pastebin.com/t53MtjZ1](https://pastebin.com/t53MtjZ1).

## Version

`main` and `v0.46.0-rc1`

## Steps to Reproduce

 - Start a network with `v0.46.0-rc1` release.
 - Que

[2022-06-26 15:33] p0mvn commented on #12272
Is the plan to switch to the newly introduced ["same block execution"](https://github.com/tendermint/tendermint/blob/master/spec/abci%2B%2B/abci++_basic_concepts_002_draft.md#next-block-execution-vs-same-block-execution) or keep using "next block execution"?

Asking to learn - why would we prefer one over the other in the SDK?

[2022-06-26 23:18] alexanderbez commented on #12272
I think the idea here @p0mvn is to refactor/update the `BaseApp` implementation to implement the new ABCI++ interface and deprecate or remove the old methods.

[2022-06-26 23:20] alexanderbez commented on #12357
@anilCSE could you please confirm this is the case if you have a chance please?

cc @julienrbrt 👍

[2022-06-26 23:24] alexanderbez commented on #12356
correct, because each block the version in the merkle state increases by 1 and thus the root changes.

[2022-06-26 23:24] marbar3778 commented on #12272
We will continue to use next-block execution because the sdk is built with the off by one approach of delayed execution (next-block execution), if we move to immediate execution (same-block execution) we would need to refactor quite a few things

[2022-06-27 01:55] ValarDragon commented on #12357
How'd this get around the panic catcher o_O

[2022-06-27 02:58] dreamer-zq opened #12358 "bug: node exits abnormally"
## Summary of Bug

### tendermint version
v0.35.4

### cosmos-sdk
v0.46.0-rc1

### environment
macos

## Steps to Reproduce
1. Initialize two nodes (the code I used when testing is [demo](https://github.com/bianjieai/ics721-demo/tree/add-demo-code)), modify the port number of the response,
2. Both nodes open the rosetta service (enable = true)
3. Start two nodes, about less than a minute, one of t

[2022-06-27 05:05] anilCSE commented on #12357
I can reproduce this. grpc server is failing due to this error. If we enable `--trace`, it's halting the node.

[2022-06-27 05:46] aleem1314 commented on #12357
Adding this [line](https://github.com/cosmos/cosmos-sdk/pull/11889/files#diff-0187caa53988399fe526469bc5f77eb42eb79544301e68608082887dd435179cL21) to grpc server fixes the issue.

[2022-06-27 06:25] yj0x0x commented on #12244
OK. I will remove too much info about data.

Tx hash is the `002D9BEECFD46E4B35339D47166B7D0CE6F357DFA54AF3EBD1854ACC33A4D4CFB0`.

This TX is the **Endblocker hash** as I mentioned and only can get through the Rosetta API request.

Please check .

[2022-06-27 08:20] alexanderbez commented on #12244
`EndBlocker` execution doesn't have tx hashes. The hash you posted is a block hash, not a tx hash. In order to help, I need to know the tx hash.

[2022-06-27 08:21] #12357 closed

[2022-06-27 08:25] alexanderbez commented on #12358
Seems like a Rosetta issue, which unfortunately, no one is maintaining at the moment. Maybe it has something to do with your config? What do you mean by "modify the port number of the response"?

[2022-06-27 09:29] yj0x0x commented on #12244
Then This block `2D9BEECFD46E4B35339D47166B7D0CE6F357DFA54AF3EBD1854ACC33A4D4CFB0`'s Endblocker execution which identified `002D9BEECFD46E4B35339D47166B7D0CE6F357DFA54AF3EBD1854ACC33A4D4CFB0 `. has wrong operations.

In case of this, Do I need to open another issue?

[2022-06-27 10:49] marbar3778 commented on #12356
@magicbrighter are you using an application with ibc or without?

[2022-06-27 10:50] #12356 closed

[2022-06-27 15:46] tac0turtle opened #12364 "Feat: File system module access"
## Summary

A new store type was proposed by @zmanian in which users can write to the file system, the store will submit a hash of the data within the file to the merle tree to be included in the apphash

## Problem Definition

the multi-store is too slow for some use cases as performance is needed. Some applications have already started using the file system in order to store data and put a hash

[2022-06-28 00:38] #12242 closed

[2022-06-28 02:51] wukaixiang opened #12372 "dependency bug"
not found: github.com/gogo/protobuf@v1.3.3: invalid version: unknown revision v1.3.3

[2022-06-28 02:58] dreamer-zq commented on #12358
Sorry, the word is wrong, it is to modify the port to prevent the port conflict of the two nodes

[2022-06-28 03:46] zaneran9 commented on #11297
Hi, I hit the same problem, `{'code': 12, 'message': 'Not Implemented', 'details': []}
`, anything can help me? thanks!

[2022-06-28 05:57] #12372 closed

[2022-06-28 06:12] magicbrighter commented on #12356
using evmos based on cosmos

[2022-06-28 10:00] Muggle-Du opened #12373 "bug: Simulation is not deterministic due to GenSignedMockTx"
## Summary of Bug

The simulation is not deterministic because we use a standalone random generator in `GenSignedMockTx`:

[code]
This random generator use a different random seed from the `simState.Rand`, while `GenSignedMockTx` is widely used in `x/{module}/operations.go` to generate `sdk.Tx`.
This means even with the same random seed, the simulation could generate txs with different length of m

[2022-06-28 11:45] faddat opened #12375 "Constitutions"
Feel free to assign me.

Right now chains do not have a stated purpose.  I think that this has led to contention in a number of situations, and it would be easier if we handled:

* questions about the intent of the founders
* the purpose of the chain
* governance scope restriction

As "wet code" in the genesis block.  My proposed solution is to make a genesis entry for the governance module that c

[2022-06-28 12:40] siulee2 commented on #12316
What would be best solution for this issue..
Renaming can cause unexpected results.
I think the best way to solve is to change how prost compile proto files.

[2022-06-28 13:55] alexanderbez commented on #11297
What endpoint are you hitting? We need more information to help.

[2022-06-28 13:55] alexanderbez commented on #12358
The rosetta port?

[2022-06-28 14:25] alexanderbez commented on #12364
To clarify, this will most likely be a new `KVStore` type, but we'll have to do some plumbing in MultiStore to make sure we include the hash in the merkle-ized tree...probably the root tree.

[2022-06-28 17:12] shawayush opened #12380 "Unable to Upgrade through Cosmovisor"
## Summary of Bug

unable to upgrade through Cosmovisor Auto-upgrade
## Version
branch main

## Steps to Reproduce

Been following the same steps to auto-upgrade but as soon as the blockchain reaches the specific height that was needed through proposal height, I get a error as `ERR UPGRADE "v0.5.0" NEEDED at height: 50:`
please help if I am missing something!
____

## For Admin Use

- [ ] Not dupl

[2022-06-28 17:55] #12111 closed

[2022-06-28 20:44] alexanderbez commented on #12380
This is it's expected to work. Please post your cosmovsisor configuration/env variables so we can see if there was perhaps a misconfiguration. Also please provide the chain, version and upgrade plan.

[2022-06-28 21:20] aaronc commented on #11910
@kocubinski we also need to make sure explicit and implicit interface bindings are properly reflected in the graphviz output. Can you take a look at that after #12367 ?

[2022-06-29 02:57] Vinitowinit commented on #11583
Hi all any major progress on this item? This seems interesting on improving Cosmos SDK all up!

[2022-06-29 03:27] ironmandefi commented on #11583
Hi, now that .45.6 is out, is there anyway this issue get re looked at please. I think that will be super beneficial :)  Now that so many projects are beginning to use the authz module

[2022-06-29 09:43] robert-zaremba commented on #11583
This will be a consensus breaking change.
BTW: You can use authz with Interchain Accounts to have an elegant mechanism for executing something on other chain.

[2022-06-29 09:53] #12302 closed

[2022-06-29 12:59] LexaMichaelides commented on #11301
Proposed structure for the JSON referenced by the metadata field (syntax prob not great...it's my first time).
The thinking being that the least a proposal needs to be legible on an explorer, bot, or other tooling is a title and summary but we also want people to be thinking about what it means to vote yes/no/etc on a particular proposal. Those vote meanings could be used on a voting UI as well.

[2022-06-29 13:55] julienrbrt commented on #11899
The work of this EPIC should use the branch `epic/app-wiring` as base.

[2022-06-29 14:21] aaronc commented on #11899
We've never used feature branches and have no process for them. Let's just consider this epic paused

[2022-06-30 02:10] thelastjosh commented on #11301
Brief comment since I don’t have all the appropriate context here, but in general proposals are going to have lots of different potential options/choices. You may want to define a proposal type for generic yes/no abstain etc. Generically there are different types of proposals re: binding on chain execution, binding off chain execution, and non-binding execution (on-chain signaling), and any variet

[2022-06-30 04:10] sunnya97 opened #12397 "Remove Bank MsgMultiSend"
I'd like to propose that we remove the Bank module's MsgMultiSend msg type.  I believe it was created before MultiMsg txs were created, and it serves mostly duplicate usage.  I don't believe the message type has any significant usage in any application, and is mostly just a legacy feature we're maintaining.

Part of the motive for this is that I want to add a hook to the Send functionality of the

[2022-06-30 10:07] marbar3778 opened #12398 "EPIC: Unit Testing of Modules via Mocks"
## Summary

Currently we have two main ways to test modules, the first are unit tests and the second are integration tests. The integration tests are closer to e2e tests because we do spin up tendermint validators in process. These integration tests rely on simapp and with the app wiring work rely on other modules. We should rewrite integration tests that can be written as unit tests as unit tests

[2022-06-30 10:09] marbar3778 commented on #12084
closing as completed

[2022-06-30 10:09] #12084 closed

[2022-06-30 10:10] marbar3778 commented on #12194
closing as completed

[2022-06-30 10:10] #12194 closed

[2022-06-30 10:11] marbar3778 commented on #12083
closing as completed in relation to rewriting tests

[2022-06-30 10:11] #12083 closed

[2022-06-30 10:14] marbar3778 commented on #12298
closing as completed

[2022-06-30 10:14] #12298 closed

[2022-06-30 10:27] hxrts commented on #11301
the proposal type should be queryable on-chain so not sure it makes sense to have that data redundantly here if it opens the door to mismatches.

[2022-06-30 11:23] alexanderbez commented on #12397
ACK

[2022-06-30 11:24] julienrbrt opened #12400 "Improve upgrade and mint app-wiring module configuration"
There are a few improvements that can be done for the existing modules' configuration using app wiring:

- [ ] Do not set the upgrade version setter in `app.go` (see https://github.com/cosmos/cosmos-sdk/pull/12312#discussion_r903042460)
- [x] Improve the mint module configuration to be able to inject a custom inflation calculation function: https://github.com/cosmos/cosmos-sdk/blob/82412af/x/mint/

[2022-06-30 15:12] #12373 closed

[2022-06-30 15:17] kocubinski commented on #12364
Additional mentioned features:

- Configuration to write flat file hash back to IAVL every *n* blocks for high throughput applications
- Codifying record size and sorting for log time read

[2022-06-30 15:25] alexanderbez commented on #12364
The more I think about this I actually realized this won't be a `KVStore` type, but rather we just need to provide clean and simple APIs to allow modules to write objects into a flat buffer or something and allow it to be hashed easily for which the module can then store in the module's original `KVStore`.

I don't think there is anything terribly complex about this at first glance 👍

[2022-06-30 15:27] yj0x0x commented on #12244
Hi @alexanderbez .

Here is the query that I did.

[code]

Why I said `Endblocker` execution was wronged, Cause account `cosmos1tx68a8k9yz54z06qfve9l2zxvgsz4ka3hr8962` didn't have any balance at height `8695157`.

You have to be able to see account `cosmos1tx68a8k9yz54z06qfve9l2zxvgsz4ka3hr8962` has `endblocker` execution activities through the below rosetta api query.

[code]

[2022-06-30 15:29] robert-zaremba opened #12404 "Bank OCapKeeper"
## Summary

* Add OCap model for x/bank.
* Do not export existing Keeper out of x/bank

## Problem Definition

Today, user doesn't have a way to allow spending limit to message handlers which will use x/bank keeper.
For example, today a keeper can depend on x/bank keeper and use user funds.
One way to work around this is to add additional parameter to the message, eg `MaxFee: Coin`. This way user

[2022-06-30 17:07] robert-zaremba commented on #12404
Added a note about the middlewares, and injecting that ocap required objects into the wrappers:
* x/mymodule depends on bank
* in app wiring, whenever x/mymodule RPC is called, and we provide a new instance of bank keeper: it will wrap `OCapKeeper` and set the Allowance based on the user provided Allowance.

One idea is that we can have a special messages: OcapMessages, which are not part of the t

[2022-06-30 17:11] aaronc commented on #12404
So you basically want a wrapper around a keeper? Sounds similar to what @fdymylja proposed with admission handlers, no? We can set something up like that with depinject, either using module-scoped providers or interface bindings.

[2022-06-30 17:16] odeke-em opened #12406 "cosmovisor: if JSON unmarshal fails or file write fails, (*Config).SetCurrentUpgrade leaks a file"
## Summary of Bug

Noticed while performing a security audit that cosmovisor has this code pattern
https://github.com/cosmos/cosmos-sdk/blob/77cf43009a34cd156ea0c4b2dc3481d6c3a7fa47/cosmovisor/args.go#L298-L309

which surely at the end optimistically closes the file but unfortunately as soon as any of the code after the os.Create returns encounters an error, that file descriptor will be left open.

[2022-06-30 18:33] robert-zaremba commented on #12404
@aaronc , it's a bit different. @fdymylja [design](https://www.notion.so/Proposal-for-Architecture-redesign-of-the-Cosmos-SDK-Revision-IV-d90e5aa80ea54be49659031dddaf80ce) is based on controllers (pre / post admission controllers) which work as pre /post ante handlers. They don't have a knowledge how one module will call another module.

The idea I'm proposing here will have the following flow:
*

[2022-06-30 21:02] alexanderbez commented on #12244
Ahh `8695158` is a block height **prior** to the last upgrade -- `Theta`. So querying against a current node won't return you any data. See this discussion: https://github.com/cosmos/cosmos-sdk/discussions/9740

There are archive nodes of previous versions. If you query against the v6 version, you'll find the state/balance of this account.

I know @jackzampolin has some archive nodes up and runnin

[2022-07-01 05:50] yj0x0x commented on #12244
As I mentioned here (https://github.com/cosmos/cosmos-sdk/issues/12244#issuecomment-1160520624) , Node version is `6.0.4`, Which is Vega.

I had set up my node to prevent syncing progress because of solve this issue.

So this query is for the in the `Vega` era not `Theta`.

[2022-07-01 10:05] alexanderbez commented on #11583
So what's the consensus we're leaning towards here? Seems like a custom type won't suffice right? Or will it? If not, should we explore the API and UX space around making `Authorize` stateful?

[2022-07-01 10:07] alexanderbez commented on #12404
IMO I think this is complete overkill.

[2022-07-01 10:36] RiccardoM commented on #11583
`Authorize` should be made stateful to allow modules to handle each authorization in whichever way they prefer. Ideally I believe each module should be able to register a set of [`Authorization`, `AuthorizationHandler`] where `AuthorizationHandler` can be something like:
[code]
Then, after `Accept`ing the authorization, the associated handler should be called. This should be enough to make it a lo

[2022-07-01 10:40] yj0x0x commented on #12244
I can't open node to external.
Please understand it.
Cosmos team doesn't have node that test this issue?

Or you can check this result that I left. https://github.com/cosmos/cosmos-sdk/issues/12244#issuecomment-1160513475

This zip file is the rosetta api return which is block height 8695158.

[2022-07-01 10:42] robert-zaremba commented on #12404
I think we need a _standard_ for admissions between the modules.

[2022-07-01 10:44] alexanderbez commented on #11583
Yeah I like that proposal. I don't think it's terribly complex to extend what exists today. @RiccardoM would you willing to submit an ADR? If so, and upon acceptance, we can work on it together.

[2022-07-01 10:44] alexanderbez commented on #12244
There really isn't a "cosmos team", we're a distributed set of entities all working towards a collective aim. There are archive nodes that exist. I will find one and query against and see what's up ;-)

[2022-07-01 10:46] yj0x0x commented on #12244
Thank you so much.

[2022-07-01 11:17] alexanderbez opened #12415 "Prevent 0 Gas Txs"
## Summary of Bug

You can spam/DoS a network by submitting a metric ton of 0 gas txs w/o any consequence. Consider [this](https://www.mintscan.io/evmos/blocks/id/975273) block on Evmos mainnet, for a total of 627 txs!

A majority of these txs are perfectly valid. However, a large portion of them are invalid -- `no block gas left to run tx: out of gas`. This is correct behavior of Tendermint as it

[2022-07-01 12:02] RiccardoM commented on #11583
Not sure I have the bandwidth to handle this right now honestly. It might take me some weeks/a month to be able to do this

[2022-07-01 13:48] #12068 closed

[2022-07-01 15:46] hxrts opened #12417 "Gov proposal withdrawal by proposer"
## Summary

Add option for gov proposer to withdraw proposal, locking deposit for 1 additional unbonding period.

## Problem Definition

We've seen in a number of instances there is need to deprecate a proposal after submission, once voting has begun, even after passage. The Cosmos Hub Stargate upgrade is a perfect example, where a bug was found in the release, requiring out of band coordination t

[2022-07-01 16:11] alexanderbez commented on #11583
No worries. I think we can put this into a sprint as we have enough of a foundation to build off of 👍

As this isn't super high priority, we'd put this into a future sprint (cc @marbar3778)

[2022-07-01 17:57] ryanchristo opened #12419 "Add warning to feegrant documentation v0.45 and before"
## Summary

The feegrant module was introduced in v0.44 with a bug when using `AllowedMsgAllowance` in which case the fee is not subtracted from the spend limit (#10563). This issue has been resolved in #10564 and the changes will be included in v0.46.

Applications using the feegrant module with v0.44 and v0.45 are still affected by the bug meaning spend limit is not updated when using `AllowedMs

[2022-07-01 19:11] julienrbrt opened #12420 "`tmservice` times out after 30min in `test-race (00)`"
The `test-race (00)` workflow has often been failing lately (https://github.com/cosmos/cosmos-sdk/actions/workflows/test-race.yml)

The long-term fix is to mock Tendermint in the SDK. We should however still work on a short-term fix, to avoid having to retry the build in each PR.

Example of failure:

- https://github.com/cosmos/cosmos-sdk/runs/7149240790?check_suite_focus=true#step:7:1107
- https

[2022-07-01 19:23] paul121 commented on #12419
v0.44 and v0.45 actually don't include documentation for the `AllowedMsgAllowance`allowance type (https://github.com/cosmos/cosmos-sdk/issues/11346). This was fixed with https://github.com/cosmos/cosmos-sdk/pull/11344 for v0.46 but should be included for these previous versions as well, with additional documentation and warning for the bug.

Considering that v0.46 is not yet released, should the l

[2022-07-01 20:00] paul121 opened #12422 "Standardize use of coins and tokens in feegrant Concepts documentation"
## Summary of Bug

The feegrant concepts documentation uses the terms "coins" and "tokens" interchangeably. The `spend_limit` description for `BasicAllowance` is a good example:

https://github.com/cosmos/cosmos-sdk/blob/0cc82cf25da7720cd3bd6ea658d6edf1ee038de1/x/feegrant/spec/01_concepts.md?plain=1#L25-L35

It seems that "coins" is the correct language to use here as it is a bit more generic than

[2022-07-01 20:03] paul121 commented on #12419
I've just opened an issue and PR for two related bugs in feegrant docs:

https://github.com/cosmos/cosmos-sdk/pull/12421
https://github.com/cosmos/cosmos-sdk/issues/12422

[2022-07-01 22:45] marbar3778 commented on #12364
Correct, store type was the incorrect wording

[2022-07-02 01:52] Cordtus opened #12423 "Implement native support for validator logo image. New images via keybase not possible."
## Summary

Add native support to SDK for validator logo on block explorers etc.

## Problem Definition

The only way currently to simply and universally add a logo for your validator across multiple chains/explorers is with keybase.io which is currently broken (issue linked below). Further, this repo is scarcely maintained and would make sense to leave behind.
https://github.com/keybase/client/is

[2022-07-02 05:43] Cordtus commented on #12423
sorry I realize now this is a duplicate request

[2022-07-02 05:43] #12423 closed

[2022-07-02 13:28] jinj opened #12424 "exec /usr/bin/simd: exec format error"
git clone https://github.com/cosmos/cosmos-sdk.git
 make build
docker build -t simapp .
// update docker-compose.yml to use locally built image
docker-compose -f docker-compose.yml up

then I got the following errors:
simdnode2    | exec /usr/bin/simd: exec format error
simdnode1    | exec /usr/bin/simd: exec format error
simdnode0    | exec /usr/bin/simd: exec format error
simdnode3    | exec /us

[2022-07-02 15:20] alexanderbez commented on #12424
I'm not exactly sure what you're trying to do here. What's your intention of using docker for?

[2022-07-02 15:23] alexanderbez commented on #12419
@amaurym or @blushi would you by any chance have the ability to look into this?

[2022-07-02 16:51] jinj commented on #12424
I built a local docker image (based on Dockerfile in root folder), then ran the docker image.

[2022-07-03 00:58] smsunarto commented on #12375
I think this can be generalized into a "MOTD" (Message of the Day) module. As we approach an increasingly modular blockchain explorer architecture, it might be useful to be able to surface messages there imo.

[2022-07-03 12:14] adu-crypto commented on #9816
I'd like to pick up the issue `Interblock multistore cache` and work on it.

[2022-07-03 13:16] roysc commented on #10194
Completed by https://github.com/cosmos/cosmos-sdk/pull/10794

[2022-07-03 13:16] #10194 closed

[2022-07-03 13:25] roysc commented on #9816
The implementation is still in progress, but is waiting on integrated network tests being done internally. Once we have some results from that, we will start advancing the open PRs and pick up the remaining tasks.

@adu-crypto no problem, I think the v1 implementation can mostly be adapted.

[2022-07-03 13:46] marbar3778 commented on #12397
reopen until this lands in the sdk

[2022-07-03 14:11] yj0x0x commented on #12244
@alexanderbez Can I ask you how is it going to check on your side?

[2022-07-03 15:09] odeke-em opened #12427 "x/upgrade/plan: potential non-determinism in upgrade download from use of map iteration inside (BinaryDownloadURLMap).CheckURLs"
## Summary of Bug

Courtesy of the Cosmos security team, we have static analyzers built in [informalsystem/gosec](https://github.com/informalsystems/gosec), Orijtech's @kirbyquerby reported this bug internally
[code]

the question here though is does the OS/Architecture pairing have any non-determinism or is this benign? Much easier to have false positives than false negatives.

/cc @marbar3778 @a

[2022-07-03 15:48] odeke-em opened #12428 "store/v2alpha1/multi: non-determinism in MigrateFromV1 due to map iteration"
## Summary of Bug
Found internally at Orijtech Inc, we can see that if we look at this code https://github.com/cosmos/cosmos-sdk/blob/686c50d113611316e1ef4cf520db591e7963cdea/store/v2alpha1/multi/migration.go#L20

and the consequence is this code

https://github.com/cosmos/cosmos-sdk/blob/686c50d113611316e1ef4cf520db591e7963cdea/store/v2alpha1/multi/migration.go#L47-L65

## Version
77cf43009a34cd1

[2022-07-03 15:58] odeke-em opened #12429 "store/rootmulti: non-determinism in (*Store).buildCommitInfo due to map iteration"
## Summary of Bug
If we examine the code in https://github.com/cosmos/cosmos-sdk/blob/686c50d113611316e1ef4cf520db591e7963cdea/store/rootmulti/store.go#L911-L919

we can see that the result returned sends back an object whose .StoreInfos value was built from map iteration, which is non-deterministic unfortunately.

## Version
77cf43009a34cd156ea0c4b2dc3481d6c3a7fa47

## Fix
The fix for this is to

[2022-07-03 16:23] odeke-em opened #12430 "store/v2alpha/multi: NewStore non-deterministically writes schema values due to map iteration"
## Summary of Bug
If we examine this code https://github.com/cosmos/cosmos-sdk/blob/686c50d113611316e1ef4cf520db591e7963cdea/store/v2alpha1/multi/store.go#L330-L336

we can see that we pass into the schemaWriter keys and values directly from map iteration, which makes for non-deterministic ordering. We perhaps need more diverse tests that'll exhibit the ordering non-determinism.

## Version
77cf43

[2022-07-03 17:14] odeke-em opened #12431 "orm/model/ormdb: (moduleDB).DefaultJSON writes table JSON non-deterministically due to map iteration"
## Summary of Bug

If we audit the code in https://github.com/cosmos/cosmos-sdk/blob/686c50d113611316e1ef4cf520db591e7963cdea/orm/model/ormdb/json.go#L18-L33 we can see that the various tables' JSON is written to dependent only on the map's iteration order

## Version
77cf43009a34cd156ea0c4b2dc3481d6c3a7fa47

## Fix
[code]

____

## For Admin Use

- [x] Not duplicate issue
- [x] Appropriate labels

[2022-07-04 05:22] #12415 closed

[2022-07-04 13:10] julienrbrt commented on #12274
Due to #12398, the re-enabling of the tests must be done during the migrations to mock instead of this issue.
Closing as the port of gov to app wiring has been completed in #12369

[2022-07-04 13:10] #12274 closed

[2022-07-04 13:13] julienrbrt commented on #12398
When mocking modules, please always re-enable the disabled tests that required of gov to app wiring (They won't be re-enabled in #12274). See https://github.com/cosmos/cosmos-sdk/issues/12274#issuecomment-1157070638

[2022-07-04 14:41] amaurym commented on #10177
@alexanderbez am I correct that your PR  #12416 closes this issue?

[2022-07-04 14:59] #12286 closed

[2022-07-04 15:16] alexanderbez commented on #10177
Woaa didn't even know this existed! Yes, closing :)

[2022-07-04 15:26] chatton opened #12438 "Allow for creation of keystore instances with arbitrary keyring implementations"
## Summary

Allow for arbitrary keyring implementations to be provided to a an instance of `keystore`

## Problem Definition

I am working on writing e2e testes for [ibc-go](https://github.com/cosmos/ibc-go). We using the [ibctest framework](https://github.com/strangelove-ventures/ibctest) to do so.

In some tests, I would like to be able to broadcast and sign (on behalf of test users) transaction

[2022-07-04 15:28] alexanderbez commented on #12375
Is there documentation on such a module?

[2022-07-04 16:11] rexsaurus commented on #12375
I am starting to feel like constitutions in blockchain space are getting to the point where we need an almost default template language like yaml or helm or a manifest file which explicitly define the governance structure, powers etc.

E.g.

{
"Validator Rights"
.
.
.
.
}

Constitution as code

We really also need to treat constitutions the way open source licenses are treated. Like you include th

[2022-07-04 16:21] julienrbrt opened #12439 "Data race in `depinject`"
## Summary of Bug

There is a data race in `depinject` which makes our CI failing. Here is the test dump:

[code]

## Version

`main`

## Steps to Reproduce

See https://github.com/cosmos/cosmos-sdk/runs/7183566391?check_suite_focus=true

To reproduce locally:

[code]

____

## For Admin Use

- [ ] Not duplicate issue
- [ ] Appropriate labels applied
- [ ] Appropriate contributors tagged
- [ ] Con

[2022-07-04 19:21] alexanderbez commented on #12397
The problem it's maintenance overhead for a message that no one really uses.

[2022-07-04 19:26] codehans commented on #12397
We use it! We built a whole app around it on Terra. In the nicest way this is a seriously small amount of discussion to add a breaking change to an SDK that dozens of chains rely on

[2022-07-05 01:25] zeroFruit commented on #12380
@shawayush @alexanderbez

https://zerofruit.medium.com/cosmos-dev-series-cosmos-sdk-based-blockchain-upgrade-b5e99181554c

I've experienced [a similar issue](https://github.com/cosmos/cosmos-sdk/issues/12313). And after solving the issue I organized how to upgrade Cosmos-SDK base blockchain into the blog post. It's quite long because lots of components related to upgrading chain process. I hope th

[2022-07-05 05:35] gsk967 commented on #12417
This is an open discussion regarding this feature

https://github.com/cosmos/cosmos-sdk/issues/11554

https://github.com/cosmos/cosmos-sdk/discussions/11130

[2022-07-05 05:54] njmurarka opened #12443 "Using the "migrate" function on the binary gives an error: unknown migration function for version"
## Summary of Bug

Trying to migrate a LaunchPad genesis.json over to StarGate. I did the following command:

[code]

I received the following output:

[code]

## Version

Using Cosmos 0.44.3

## Steps to Reproduce

Use the command above with a v0.44.3 application chain, applying the migration command on a LaunchPad exported genesis.json. Honestly, I don't think the contents of the genesis.json fi

[2022-07-05 06:02] Jagadeeshkumar748 commented on #12227
I followed the above steps in main version .
If you have used "./simd start" to start, then block height will not catch up, so ./simd export will give the above error.
Note: The current main branch needs to start with mode validator.

use:
./simd start --mode validator

[2022-07-05 07:20] atheeshp opened #12445 "remove param module from x/crisis"
- [ ] remove dependence on param module
- [ ] write param module to module store migration

[2022-07-05 11:18] robert-zaremba commented on #12333
Tested and updated the docs. Let's try to include it in 0.46. It's a small PR.

[2022-07-05 11:30] robert-zaremba opened #12447 "Telemetry should be working even when the api server is disabled."
## Summary of Bug

Telemetry sinks are only initialized when both `api.enabled = true` and `telemetry.enabled = true` and only in `startInProcess` mode (with tendermint in process). See the flow:
+ https://github.com/cosmos/cosmos-sdk/blob/3283617/server/start.go#L322
+ https://github.com/cosmos/cosmos-sdk/blob/3283617/server/api/server.go#L91

Expected: Telemetry should be correctly initialized w

[2022-07-05 13:18] hxrts commented on #12417
oh good catch. I think my proposal re: additional deposit lock-up time is relevant to that convo. will link. feel free to close this issue.

[2022-07-05 13:19] robert-zaremba opened #12449 "Add stdout or file out with the latest telemetry metrics"
## Summary

Follow up to: #12447

Today, we can inspect telemetry only through Prometheus or REST API server.

## Problem Definition

For debugging, or internal purposes it would be helpful to be able to:
+ start in memory telemetry sink without enabling API server
+ be able to inspect telemetry

## Proposal

Add additional metric display methods.
Extend app config (app.toml):

[code]

The `stdout

[2022-07-05 13:20] hxrts commented on #11554
In this issue I proposed locking up the deposit for an additional bonding period. https://github.com/cosmos/cosmos-sdk/issues/12417#issue-1291567285

[2022-07-05 13:20] #12417 closed

[2022-07-05 13:28] robert-zaremba commented on #12417
I think we can reopen this issue once we have a conclusion in the discussion

[2022-07-05 13:35] robert-zaremba opened #12450 "x/gov min proposer deposit"
## Summary

Add x/gov `min-proposer-deposit` param to require a deposit from proposer when adding proposal.

Ref: https://github.com/cosmos/cosmos-sdk/discussions/11130#discussioncomment-2545304 by @anilCSE

## Problem Definition

Today anyone can create proposals for free (only tx cost) and spam the the gov view. These proposals won't advance to voting phase, unless they will got enough deposit,

[2022-07-05 13:35] hxrts commented on #12417
looks like https://github.com/cosmos/cosmos-sdk/issues/11554 is active. can use that issue

[2022-07-05 13:51] alexanderbez commented on #12449
Is there a reason you can't just hit the endpoint?

[2022-07-05 14:16] alexanderbez commented on #12397
Ok, maybe we keep it then. Should we close the PR @julienrbrt ?

[2022-07-05 14:19] #12422 closed

[2022-07-05 14:19] alexanderbez commented on #12380
@julienrbrt do you think it'd be useful to maybe link this blog post to our x/upgrade README?

[2022-07-05 14:21] alexanderbez commented on #12244
I'm sorry but I have not been able to find a Vega archive node to query against. I've asked in a few places.

[2022-07-05 15:42] #11910 closed

[2022-07-05 15:48] kocubinski opened #12454 "depinject graph visualization improvements"
## Problem Definition

As mentioned in #11910 we'd like the decisions made by `depinject` as to explicit and implicit interface binding to be noted in the generated graphviz.

A different visualization algorithm may also be required for non-trivial dependency graphs (e.g. `SimApp`) for the visualization to be useful.

## Proposal

Add interface binding data to graphviz output.  Re-evaluate visuali

[2022-07-05 16:04] aaronc commented on #12454
Do you have any alternative visualization algorithms in mind?

[2022-07-05 16:35] dwedul-figure opened #12456 "Cosmovisor: Create init command"
## Summary

Create an init command that will create the needed directories, copy the executable into the correct place, and create the initial `current` link.

## Problem Definition

Currently, in order to start using cosmovisor, one needs to manually create a specific directory structure and symlink.

As a node operator, I want to run a command like `cosmovisor init <path_to_executable>` in order

[2022-07-05 16:47] dwedul-figure opened #12457 "Cosmovisor: Create add-upgrade command"
## Summary

Create an `add-upgrade` command in `cosmovisor` that facilitates manually adding an upgrade version to an instance.

## Problem Definition

It is sometimes desirable to manually add an upgrade directory and executable (e.g. when `DAEMON_ALLOW_DOWNLOAD_BINARIES=false`).

As a node operator, I want to run a command like `cosmovisor add-upgrade <upgrade name> <path to executable>`, so tha

[2022-07-05 17:01] kocubinski commented on #12454
Nothing specific right now. The Graphviz/dot implementation seems to be Sugiyama-style graph drawing.

[2022-07-05 17:14] shawayush commented on #12380
@zeroFruit Thank you for sharing that blog post!
@alexanderbez I will try to upgrade after reviewing the blog post, If I can do so, that would be great and inform you, but if I cannot do so, I will share the details and description of the chain.
Thank you both!

[2022-07-05 17:15] julienrbrt commented on #12397
As per this discussion, closing.

[2022-07-05 17:36] kocubinski commented on #11911
Resolution of https://github.com/cosmos/cosmos-sdk/issues/11910 seems to also resolve this issue.

[2022-07-05 17:36] alexanderbez commented on #4671
We dont have this issue on our simulation runs @lsuanet. Maybe post how you're running simulations and what the output is.

[2022-07-05 17:38] robert-zaremba commented on #12449
If API server is not active then you can't do it. Workaround would be to enable api server and not export the ports in the firewall

[2022-07-05 17:39] alexanderbez commented on #12457
Not a bad idea. I see no reason not to add such a command 👍

[2022-07-05 17:39] alexanderbez commented on #12456
Yes! Hugely in favor of this. This is my biggest pain point with Cosmovisor tbh. The directory structure always trips me up. @dwedul-figure would you be open to creating a quick PR? Happy to review and merge.

[2022-07-05 17:43] lsuanet commented on #4671
@alexanderbez thanks for the quick reply.

I'm running
[code]

straight from `main` on an arm-based chipset (Apple M1 Pro). Could this last item be the issue?

[2022-07-05 17:45] robert-zaremba commented on #12449
It's not an overhead. It's just dumping data to a file. That's fast and happens in parallel in a go routine. Moreover by default it will be disabled.

[2022-07-05 17:52] dwedul-figure commented on #12456
Sure thing! I'm not sure when I'll get to it, but hopefully this week.

[2022-07-05 18:17] nooomski commented on #11301
Some conclusions from the last gov/groups call:

1. Let's not use JSON-LD, for now. This adds complexity to the clients who will need to implement a JSON-LD interpreter instead of simply parsing regular JSON. We can reconsider if clear use cases arise.
2. The `votes` field and their individual meanings potentially don't apply to future decision policy types with different voting options. We should

[2022-07-05 18:37] alexanderbez commented on #4671
I would pass args that we use in CI -- you seem to be missing a bunch.

[2022-07-05 18:55] kocubinski commented on #12454
The amount of edge overlap, the length of rendered edges, size (width) of the graph makes it difficult to follow edges between nodes at and the same time read a node label.

[2022-07-05 20:14] technicallyty opened #12460 "ORM: generate methods to update a single field"
## Summary

Generate code that handles updating a single field in an ORM table.

## Problem Definition

Currently, in order to update any fields of an ORM table entry, you need to provide the full table entry. This can sometimes cause issues if you are not careful when adding additional fields to ORM tables and not updating your existing `Update` calls.

## Proposal

Generate additional methods fo

[2022-07-05 21:00] ValarDragon opened #12462 "Move AppModule.BeginBlock and AppModule.EndBlock to extension interfaces"
## Summary

Most modules right now have a no-op for AppModule.BeginBlock and AppModule.EndBlock. We should move these methods off the AppModule interface so we have less deadcode, and instead move them to extension interfaces. This should not be a noticeable client breaking change, as users of the SDK don't really consume the AppModule interface, and thats moreso something for the ModuleManager.

[2022-07-05 23:25] #12333 closed

[2022-07-06 00:02] zeroFruit commented on #12380
@shawayush Great! It also would be great if you give me the feedback of the post

[2022-07-06 03:45] sunnya97 commented on #12397
I agree, if there are active users of it, we shouldn't remove it completely

@codehans what's the use case that you guys are using it for?  It mostly for multi-recipient or also multi-sender?

The biggest issue with it rn is that it is both multi-sender and multi-recipient, and what it does is it does a bankkeeper.SubtractCoins from all the senders and bankkeeper.AddCoins to all the recipients (af

[2022-07-06 06:54] atheeshp opened #12465 "move all gRPC methods to a dedicated querier wrapper (x/distribution)"
view https://github.com/cosmos/cosmos-sdk/pull/12434#discussion_r913902560

[2022-07-06 10:15] webmaster128 opened #12466 "simapp does not support /cosmos.tx.v1beta1.Service/Simulate anymore"
I'm testing simapp 0.46.0-rc2 right now in the ComsJS CI system. This seems to work well overall. However, I cannot send simpulate queries anymore (works with 0.42/0.44):

[code]

The query path that I can debug in my test case is `/cosmos.tx.v1beta1.Service/Simulate`. Other queries like e.g. `/cosmos.auth.v1beta1.Query/Account` work without an issue.

For historic reasons CosmJS queries through T

[2022-07-06 12:06] bruce-wayne2 opened #12467 "node restarts may lose data"
## Summary of Bug

I started 21 validator nodes and a normal node through docker. When I restarted the nodes, I found that the tx hash could not be queried on some nodes. How can I troubleshoot the problem? Or is this a problem of tendermint?

## Version

v0.45.5

## Steps to Reproduce

[code]

____

## For Admin Use

- [ ] Not duplicate issue
- [ ] Appropriate labels applied
- [ ] Appropriate con

[2022-07-06 12:17] alexanderbez commented on #12466
So that line goes to the following:

[code]

Which makes sense and it seems to me like this should not even be hitting that `BaseApp#Query` method? I believe there is a call above this that directs it to either legacy or the gRPC routing. Is that correct @amaurym?

[2022-07-06 12:18] yj0x0x commented on #12244
@alexanderbez Thank you for letting me know.

[2022-07-06 12:56] amaurym commented on #12466
It seems like the simulate endpoint was not registered into the grpcQueryRouter. Which is weird, because [it should be](https://github.com/cosmos/cosmos-sdk/blob/c0a90ffb7f08c7940a56342eb22bcdd61892da04/server/start.go#L318).

@webmaster128 Did you test this with rc1 too? Was this introduced in rc2?

[2022-07-06 13:00] webmaster128 commented on #12466
I could not test rc1 as it would require us to get a Tendermint 0.35 client. That is possible but would be heavy lifting for debugging this.

[2022-07-06 13:21] webmaster128 commented on #12466
I'm observing the same error as above for `/cosmos.tx.v1beta1.Service/GetTx`

[2022-07-06 16:46] alexanderbez commented on #12466
@amaurym does `.Service` vs `.Query` matter here? That's what these two have in common. Is there a way to determine all the registered routes?

[2022-07-06 16:53] technicallyty opened #12471 "x/auth: GetTxsEvent gRPC method does not work with signatures"
## Summary of Bug

GetTxsEvent does not work when querying by signature.  In order to query by signature, the sig bytes are base64 encoded, which often has multiple `=` signs in the string encoding. The GetTxsEvent method, however, fails if there is more than one `=` sign in the request: https://github.com/cosmos/cosmos-sdk/blob/main/x/auth/tx/service.go#L72

## Version

since: https://github.com/

[2022-07-06 18:04] aaronc commented on #12471
I wonder if we can use url escaping to fix this

[2022-07-06 18:18] technicallyty commented on #12471
i did try that but did not find success unfortunately

[2022-07-06 19:35] #12456 closed

[2022-07-06 19:59] alexanderbez commented on #12471
Mhhh that's odd. The `GetTxsEvent` gRPC service method takes `events` as a query param, which should allow escaping of any character. When you escaped the characters, do you know by any chance what the method interpreted the query value as?

[2022-07-06 20:42] #12288 closed

[2022-07-06 21:24] technicallyty commented on #12471
maybe we do a regex that asserts the event string is `{alpha}.{alpha}={anything}` ?

[2022-07-07 04:56] likhita-809 commented on #12283
@alexanderbez did you start working on this ?
If not, I can take up this issue

[2022-07-07 09:18] faddat commented on #12228
This is more to inform devs of the breakages against other major modules, not so much to enforce a lack of breakages.  Right now we don't have a warning system for second order effects.

[2022-07-07 10:15] Frederic-Zhou opened #12476 "How to create new account for tx"
I follow the `igenite` documentation to learn cosmosSDK, and the examples are work will.
But I have a problem, all the examples are using `alice` or `bob` to submit tx,
**What if I want to create a new account and submit tx?**

I tried  run `appd keys add someone --keyring-backend test` to create a new key ,but when submitting tx, through `appd tx <modulename> <message> <...fileds> --from someone

[2022-07-07 14:01] aaronc commented on #11905
Reopening this. the `depinject` `go.mod` still says `github.com/cosmos/cosmos-sdk/depinject`. This should be a quick PR. Can somebody take this on?

[2022-07-07 14:16] webmaster128 commented on #11997
Thanks for the ping and checking this issue. See https://github.com/cosmos/cosmjs/issues/1154#issuecomment-1177683598 for the state of things in CosmJS.

[2022-07-07 15:03] odeke-em commented on #12429
@kirbyquerby might be interested in this.

[2022-07-07 15:52] Frederic-Zhou commented on #12476
I solved it and found the answer in this documentation https://docs.cosmos.network/v0.45/run-node/interact-node.html.

must send some stake to the new account.

[2022-07-07 15:52] #12476 closed

[2022-07-07 16:42] #12471 closed

[2022-07-07 16:49] robert-zaremba opened #12481 "Data Race in x/auth/client test"
## Summary of Bug

While working on https://github.com/cosmos/cosmos-sdk/pull/12448 I found that sometimes this test fails.

## Version

b75c2ebcfab1a6b535723f1ac2889a2fc2509520

## Steps to Reproduce

[code]

____

## For Admin Use

- [ ] Not duplicate issue
- [ ] Appropriate labels applied
- [ ] Appropriate contributors tagged
- [ ] Contributor assigned/self-assigned

[2022-07-07 17:05] #12481 closed

[2022-07-07 17:19] alexanderbez commented on #12439
Yes, @robert-zaremba we know. We have an issue for that too.

[2022-07-07 17:41] #12447 closed

[2022-07-07 19:10] alexanderbez commented on #12244
I was able to query against an archival node. I do see it has no balance at 8695157 nor does it have any balance as of now. The only thing I can think of is that it received funds during `EndBlock` execution and later sent them.

[2022-07-07 20:29] codehans commented on #12397
@sunnya97 yeha typically only a single input

[2022-07-07 21:10] danwt opened #12486 "Validator.UnbondingHeight meaning is inconsistent, misused and not useful."
## Summary of Bug

The field `Validator.UnbondingHeight` in the staking module

https://github.com/cosmos/cosmos-sdk/blob/0d4fd41474b31e4b03cbe602a38f929bb12d3d49/x/staking/types/staking.pb.go#L329-L330

is not useful or correctly used and is just confusing.

## Version

v0.45.6
https://github.com/cosmos/cosmos-sdk/tree/v0.45.6

## Explanation

Unbonding validator `validator.UnbondingHeight` set `

[2022-07-07 21:40] #12439 closed

[2022-07-08 07:07] #11410 closed

[2022-07-08 07:28] likhita-809 opened #12488 "remove params usage from x/staking"
## Summary

- [ ] remove dependence on param module
- [ ] write param module to module store migration

[2022-07-08 07:28] #12438 closed

[2022-07-08 08:01] #12237 closed

[2022-07-08 13:47] #12287 closed

[2022-07-09 06:14] bradyjoestar opened #12493 "optimize store.write in cacheKV"
## Summary

If we could know that we needn't change the `deleted`,`unsortedCache` and `cache` in `keeper.store`, simply returned.

## Problem Definition

## Proposal

____

#### For Admin Use

- [ ] Not duplicate issue
- [ ] Appropriate labels applied
- [ ] Appropriate contributors tagged
- [ ] Contributor assigned/self-assigned

[2022-07-09 11:04] marbar3778 commented on #11970
@amaurym could you break out some of the bullet points into their own issues, We can start including some of them in our upcoming sprint

[2022-07-09 11:06] marbar3778 opened #12495 "remove param module from gov"
- [ ] remove dependence on param module
- [ ] write param module to module store migration

[2022-07-09 11:06] marbar3778 opened #12496 "Param deprecation documentation"
- [ ] docs on how to migrate from using the param module to modules housing params
- [ ] deprecation path, param may be alive for up to two major releases, we should post a EOL date
- [ ] How to interact and create proposals to change parameters

[2022-07-09 11:06] marbar3778 opened #12497 "Remove `RandomizedParams` from the `AppModuleSimulation` interface."

[2022-07-09 11:09] marbar3778 opened #12498 "migrate capability module to use mocks"
- [ ] write mocks
- [ ] migrate keeper tests from integration based testing to use mocks

[2022-07-09 11:09] marbar3778 opened #12499 "`x/crisis`"

[2022-07-09 11:09] marbar3778 opened #12500 "migrate upgrade module to use mocks"
- [ ] write mocks
- [ ] migrate keeper tests from integration based testing to use mocks

[2022-07-09 11:09] marbar3778 opened #12501 "migrate evidence to use mocks"
- [ ] write mocks
- [ ] migrate keeper tests from integration based testing to use mocks

[2022-07-09 11:09] marbar3778 opened #12502 "migrate auth to use mocks"
- [ ] write mocks
- [ ] migrate keeper tests from integration based testing to use mocks

[2022-07-09 11:09] marbar3778 opened #12503 "migrate bank to use mocks"
- [x] write mocks
- [x] migrate keeper tests from integration based testing to use mocks

[2022-07-09 11:09] marbar3778 opened #12504 "rewrite staking tests to use mocks"

[2022-07-09 11:10] marbar3778 opened #12505 "Use mocks for testing crisis module"
- [ ] write mocks
- [ ] migrate keeper tests from integration based testing to use mocks

[2022-07-09 11:11] #12499 closed

[2022-07-09 11:17] marbar3778 commented on #12398
part of this issue should also be removing the build flag for testing with the race detector.

There is still a larger open todo of mocking tendermint. @aaronc mentioned having something already, could we reuse this?

[2022-07-09 15:46] #11905 closed

[2022-07-09 19:45] doggystylez opened #12506 "file named config.toml in home directory causes error if not a valid TOML"
## Summary of Bug

The CLI appears to look for a file named config.toml in the user's home directory, and if it exists but is invalid it causes the CLI to be inoperative. Removing the file, OR editing it to be a valid TOML, fixes the issue

## Version

gaiad v7.0.2

## Steps to Reproduce

install gaiad  v7.0.2
create an invalid `config.toml` in the home directory, for  example:  `echo  'blah' | te

[2022-07-10 14:49] alexanderbez commented on #12506
Yes, but what do you want to happen? I'd bet the reliance of `config.toml` permeates throughout a lot of the CLI plumbing, namely `client.Context`.

We could see what commands rely on `config.toml` and allow everything else to not attempt to read it.

[2022-07-10 21:49] doggystylez commented on #12506
I guess I am wondering why this behavior exists. If the default home directory is `~/.gaia`, why is `gaiad` looking in `~/`?

In my opinion it would useful to be able to locate `client.toml` in the user's home directory, with a field defining the `gaiad` home directory.

[2022-07-11 07:14] amaurym commented on #11970
Yeah I can do that

[2022-07-11 09:00] atheeshp commented on #12488
I think this is duplicate of https://github.com/cosmos/cosmos-sdk/issues/12285

[2022-07-11 09:21] marbar3778 commented on #12506
before running `gaiad version` the first time, did you run `gaiad init`

[2022-07-11 09:21] marbar3778 commented on #12488
closing in favour of #12285

[2022-07-11 09:21] #12488 closed

[2022-07-11 09:26] marbar3778 commented on #12443
0.44 is Stargate already, you shouldn't need to migrate the genesis to upgrade to 0.45.

Do you have a migrate function for 0.44 to 0.45?

[2022-07-11 09:31] marbar3778 commented on #12375
Personally I don't think this needs to be on chain, but if it were to be on chain then a simple testProposal and voting by the "people" would suffice. Validators can vote out founders, take allocations, change governance scope and define the purpose of the chain via unchain & social consensus.

[2022-07-11 10:09] amaurym commented on #12466
Should be fixed by #12509

[2022-07-11 14:39] #12466 closed

[2022-07-11 15:55] doggystylez commented on #12506
Same result whether the node is initialized or not

[2022-07-11 15:57] #12493 closed

[2022-07-11 16:48] alexanderbez opened #12527 "Remove testutil/network package"
We use the `testutil/network` to run an in-process single Tendermint node. We use this primarily for CLI integration tests and handful of gRPC tests.

Using this approach/package has proven to be troublesome because of the requirement to run tests with the race detector on due to Tendermint needing to be single-threaded (it has many globals as state, especially within the RPC layer).

Many times t

[2022-07-11 16:53] kocubinski opened #12528 "Remove dependency from `codec` -> `simapp`"
This is a subsection of a much larger dependency pattern, usages of `simapp.MakeTestEncodingConfig`, which is how this dependency is expressed in `codec`.

[2022-07-11 17:16] #12283 closed

[2022-07-11 19:49] alexanderbez commented on #12506
It should be looking at `$HOME/<app>/config` (e.g. `$HOME/.gaiad/config/`) for that file by default.

[2022-07-11 21:40] facundomedica opened #12533 "Some simulations don't check the result"
## Summary of Bug

Some simulations, like `x/nft`'s, don't actually check if what the message intended to do was actually executed; it only checks if the tx was delivered correctly.

We should check the result somehow, in x/nft's example, check for balance after a send happens. See `TestWeightedOperations` here https://github.com/cosmos/cosmos-sdk/blob/main/x/nft/simulation/operations_test.go

___

[2022-07-11 21:41] #12528 closed

[2022-07-11 22:37] kocubinski opened #12535 "Remove dependency from `baseapp` -> `simapp`"
This may also mean moving integration (end-to-end) tests up to simapp and/or a refactor of usages on `testutil`.

[2022-07-11 23:40] robert-zaremba commented on #8588
I think this is already solved. Let's also confirm with @amaurym

[2022-07-11 23:42] robert-zaremba commented on #10810
Note: there is ongoing discussion to save events in the app state.

[2022-07-12 06:15] #12445 closed

[2022-07-12 06:42] amaurym commented on #8588
Yeah I don't think we use reflection in baseapp anymore

[2022-07-12 06:42] #8588 closed

[2022-07-12 06:59] #12429 closed

[2022-07-12 13:36] alexanderbez commented on #12244
That's because `cosmos1tx68a8k9yz54z06qfve9l2zxvgsz4ka3hr8962` is a module account.

[2022-07-12 13:39] yj0x0x commented on #12244
What is the module account? If you don't mind, Can I ask your explanation?

[2022-07-12 13:44] ValarDragon opened #12538 "Make a `Denoms` method on sdk.Coins"
## Summary

Quite frequently, one wants to get all of the denoms associated with a coins object. Right now you have to loop through the coins object as a caller, whereas this really should be a `coins.Denoms()` method, exposed by the struct.

## Problem Definition

Simplify dev UX of working with coins/

## Proposal

Add a `Denoms` method to sdk.Coins

____

#### For Admin Use

- [ ] Not duplicate

[2022-07-12 13:44] yj0x0x commented on #12244
Or if you provided me some link about module account, would be appreciated.

[2022-07-12 13:44] alexanderbez commented on #12244
Look at the account https://www.mintscan.io/cosmos/account/cosmos1tx68a8k9yz54z06qfve9l2zxvgsz4ka3hr8962

You'll see there a few failed txs where someone tried to send funds to do it. You'll see `cosmos1tx68a8k9yz54z06qfve9l2zxvgsz4ka3hr8962 is not allowed to receive funds: unauthorized`. This means the account is a module account -- i.e. an account that's managed internally by state.

[2022-07-12 13:51] alexanderbez commented on #12244
There really isn't a doc on it -- they're fairly a straightforward concept:

[code]

[2022-07-12 13:52] alexanderbez commented on #10810
Why? Please, no.

[2022-07-12 15:08] marbar3778 commented on #10810
apps are free to do it, but the sdk will not do this natively.

[2022-07-12 17:22] robert-zaremba commented on #7537
So the task is still valid, we need to:
1. add benchmark
2. make the decision

[2022-07-12 17:26] mintthemoon opened #12541 "Validator missed blocks count is incorrect after decreasing slashing window"
## Summary of Bug

After lowering the slashing window from 35000 to 18000 on the Kujira blockchain some validators are stuck with a missed block count that won't clear even if they don't miss any more blocks. Querying all blocks in the signing window for some validators (e.g. kujiravaloper1pshqems6hdka48gc56r2ykshyaarkt40hl0rlh) shows no misses while `kujirad query slashing signing-info` reports a

[2022-07-12 17:28] hxrts commented on #11301
would make the following changes:

vote metadata field from "reason" -> "justification"

and this is what I would use for the proposal metadata
{
  "title": "",
  "authors": "",
  "summary": "",
  "details": "",
  "forumURL": "",
  “voteOptionContext”: "",
}

[2022-07-12 17:48] marbar3778 commented on #7537
We are keeping it. The decision was made months ago. That is why the issue was closed

[2022-07-12 17:53] kocubinski opened #12544 "Remove dependency `client` -> `simapp`"
Contains a dependency on `testutil` which must be addressed.

[2022-07-12 21:25] kocubinski opened #12546 "Remove dependency on `testutil` -> `simapp`"
Related to #12527, but this issue just seeks to:
- Move all code in `testutil` dependent on `simapp` up to `simapp`
- Point all callers to the moved code to `simapp` instead
- See what's left in `testutil`

[2022-07-12 23:12] kocubinski commented on #12527
After some consideration, the full network end-to-end tests in `testutil/network` do have some value, but we've over used them.  Perhaps they can be collapsed into fewer tests with equivalent coverage.  Another problem with our current usage is that nearly every module depends on `simapp` (and therefore every other module) in their tests.

In #12546 I'm planning to move all deps on `testutil/netwo

[2022-07-13 07:37] amaurym commented on #12527
Also, there's a CLI command `simd testnet` that boots up a localnet. It uses testutil/network, and AFAIK it might be used by some users (see e.g. #12534), so I probably won't remove it without some kind of notice.

I know some app developers just copy/paste `simapp/*` for their app chain. If they want to have this `simd testnet` command, would they also need to copy/paste the contents of `simapp/i

[2022-07-13 09:47] #3544 closed

[2022-07-13 09:59] julienrbrt opened #12550 "Read the decision policy from disk in group CLI"
When using `create-group`, `update-group-members`, `submit-proposal` the CLI reads from disk the given file (usually members.json or proposal.json)

This behavior is different currently for the decision policy.
When using `create-group-policy`, it expects to read the decision policy as an argument, please read it from disk.

[2022-07-13 11:03] amaurym commented on #12550
Probably `update-group-policy-decision-policy` can also ready from file.

[2022-07-13 12:15] doggystylez commented on #12506
Yep, thats the issue. `gaiad` is looking for `config.toml` in `$HOME` first, although it doesn't use it for anything as far as I can see. Just errors if it's invalid

[2022-07-13 13:30] alexanderbez commented on #12527
There are no tests in `testutil/network`, at least not that I know of. I wrote `testutil/network` solely for CLI tests, which are more or less integration tests. What are you referring to as E2E tests here?

What tests are "they" in this context?

This is orthogonal to the usage and removal of `testutil/network`.

That's OK for the super short term, but the proposal here to completely remove `test

[2022-07-13 14:24] robert-zaremba commented on #11301
@nooomski , so you don't want that `groupURL` will reference to a JSON document? I think we should require it from start, and keep a minimum amount of data on chain.

[2022-07-13 14:54] alexanderbez commented on #12541
Yeah this is a problem due to "stateless"-parameter changes, i.e. params change w/o having any possible desired side affects. Unfortunately, I don't think there's much you can do in this case.

This is why we're deprecating `x/params` if favor of module-managed parameters, see: https://github.com/cosmos/cosmos-sdk/issues/10514

In this particular case, you sort of have two options:

- Adjust/fix t

[2022-07-13 15:02] aaronc opened #12556 "Add depinject codegen"
In our discussions around app wiring, we agreed that depinject should generate code for dependency provisioning so that it is easier to review the dependency graph in PR reviews and so that appconfig/depinject are fully opt-in/opt-out.

## Design Overview

The proposed design to do injection by reflection first and generating the code during the reflection process. We will require a certain templa

[2022-07-13 16:13] alexanderbez commented on #12506
Ok, after spending too much time on this and messing with `delve` debugging, I've rooted the problem down to Tendermint: https://github.com/tendermint/tendermint/blob/9e59fc6924b4d1c5f565721cc0fc539a2ce33206/libs/cli/setup.go#L71

Namely,

[code]

Idk why it tries to do this, but regardless, this is a Tendermint issue it seems. Please re-open this issue in the Tendermint repo. Also, you can avoid

[2022-07-13 16:13] #12506 closed

[2022-07-13 16:16] alexanderbez commented on #12527
That's exactly my point, they should have never used `testutil/network` to begin with and still should not.

Where are these tests? Please point me to them. I know of no such E2E tests in the SDK.

[2022-07-13 16:24] kocubinski commented on #12527
We seem to have a disagreement on terms.  The working definition for **E2E test** I'm using is as I've layed out in the example above, as used in https://github.com/cosmos/cosmos-sdk/issues/12398.

What do you consider an E2E test, can you point me to an example?

[2022-07-13 16:27] mintthemoon commented on #12541
Good to hear it's on the radar already! The new direction makes sense but I'm not quite following the implementation details. Is `ParamChangeProposal` being deprecated and if yes how would the slashing window be changed under the new model?

Waiting for the release probably makes sense for us (I'd love to contribute if there's anything a relative beginner could tackle). If there's a simple way to

[2022-07-13 16:29] alexanderbez commented on #12541
Yes and [here](https://github.com/cosmos/cosmos-sdk/blob/main/x/slashing/keeper/msg_server.go#L24-L34). This is where we can perform all sorts of side effects as we have access to the entire keeper.

I think you have to perform an upgrade to fix them :/

[2022-07-13 16:38] mintthemoon commented on #12541
Cool, I spotted that function earlier and it makes sense to put the side effects there. How does that function get called via governance though?

That's unfortunate but I'm sure we'll figure it out, appreciate your help.

[2022-07-13 17:02] alexanderbez commented on #12541
Governance just executes `sdk.Msg` types. So when you submit a proposal with a `x/slashing` `MsgUpdateParams` msg, that method gets executed.

[2022-07-13 17:05] #12550 closed

[2022-07-13 18:31] mintthemoon commented on #12541
Got it, thanks!

Yeah, so in this case (the slashing window) I see two options: we can either set all missed counts to 0 at update time and allow a slight blip in the data, or else we need to recalculate the totals by checking every block in the window. I'm not sure what the performance requirements are for these updates but I'm guessing the second option might be a bit heavy.

[2022-07-13 19:04] #12498 closed

[2022-07-13 19:20] kocubinski commented on #12527
Right, they need `simapp`, which `testutils/network` depends on.  After discussing I can see this fact is out of scope for this issue, and I'll focus on resolving it in https://github.com/cosmos/cosmos-sdk/issues/12546 :sweat_smile:

Once module interactions are better understood, I think we'll be in a good position to address network mocking.

[2022-07-13 22:39] JeancarloBarrios commented on #12285
PR https://github.com/cosmos/cosmos-sdk/pull/12409

[2022-07-14 04:36] hallazzang opened #12570 "x/bank: Add `SpendableCoin` keeper method"
## Summary

Add `SpendableCoin` method to the bank module's `Keeper`.

## Problem Definition

There are `GetAllBalances`, `GetBalance` and `SpendableCoins` methods in the bank module's `Keeper`,
but there's no `SpendableCoin` which is to query single spendable coin rather than all coins.
This leads to unnecessary gas consumption when reading whole balances just to check if the address has sufficie

[2022-07-14 07:25] tnasu opened #12573 "Should use `sdk.ConsAddressFromBech32` in `x/slashing`?"
## Summary of Bug

The bug is made by https://github.com/cosmos/cosmos-sdk/pull/7242

https://github.com/cosmos/cosmos-sdk/pull/7242/files#diff-8d031eaf097128091754bc92b8f4e5ddf2811c40d1662095725f8be23a437593R51

This point use `sdk.ConsAddress`, but it should use `sdk.ConsAddressFromBech32`.

https://github.com/cosmos/cosmos-sdk/blob/03fc53ec1a4ddf3ec3420aeead6417c44eb93047/x/slashing/keeper/quer

[2022-07-14 07:33] livthomas opened #12574 "Empty response when getting gov proposal votes via REST API"
## Summary of Bug

It is not possible to get governance proposal votes via the latest REST API methods. You can only get it by using deprecated methods. This doesn't work both when getting a list of all votes for a given proposal and when getting votes by a specific voter.

## Version

v0.45.1

## Steps to Reproduce

1. Go to https://v1.cosmos.network/rpc/v0.45.1
2. Try to call `GET /cosmos/gov/v1

[2022-07-14 09:14] aaronc opened #12575 "depinject AutoDebug should send log messages to file instead of StdErr"
Depinject's logging is pretty verbose and could be confusing for newcomers. We should dump logs to `debug_container.log` with `AutoDebug` instead of `StdErr` so that the user can focus on the error messages themselves (which we should strive to make very clear) and inspect the log and graphviz if needed.

[2022-07-14 12:37] #5759 closed

[2022-07-14 12:37] #9568 closed

[2022-07-14 12:38] #10818 closed

[2022-07-14 13:26] kocubinski commented on #12556
What action does a user take to generate `build.depinject.go`?  Is `go build -tags depinject` enough?

[2022-07-14 13:29] aaronc commented on #12556
They need to have some code that calls `Build`. I'm actually calling `Build` in a test file also with `go:build depinject` and then calling `go test -tags depinject`.

[2022-07-14 13:49] ValarDragon commented on #12527
This framing feels odd to me. The goal should have no Tendermint OR message routing. The CLI has three (or four) roles:

* Msg creation from args + state + signing
* Tx Broadcast
* Tx eventually getting on chain and executing

The issue is these are all bundled into one method in code and tests right now, so we have this very convoluted test. Tx broadcast is being suggested to be removed, by mocki

[2022-07-14 13:53] alexpGH opened #12580 "Simd does not bring up block production"
## Summary of Bug

simd start does not achive a running chain with block production

output looks like
3:40PM INF starting node with ABCI Tendermint in-process
3:40PM INF starting service impl=multiAppConn module=proxy service=multiAppConn
3:40PM INF starting service connection=query impl=localClient module=abci-client service=localClient
3:40PM INF starting service connection=snapshot impl=localC

[2022-07-14 13:55] marbar3778 commented on #12580
the node is not a validator node but a full node. you must start with --mode validator in order to produce blocks

[2022-07-14 13:55] #12580 closed

[2022-07-14 13:56] marbar3778 commented on #12574
the gov module does not store votes past the voting period. To figure out who voted for the proposal you can either replay the blocks or height based queries.

[2022-07-14 14:00] alexpGH commented on #12580
Would be good to have this in the readme (in simapp).
There it states:
10. Now you can start your nodes: `$ ./simd start`.

Orr have I missed the hint somewhere?

[2022-07-14 15:10] #12573 closed

[2022-07-14 16:55] #12328 closed

[2022-07-14 16:56] silverstr89 opened #12583 "Cosmos-SDK wrong Block.Header.LastResultsHash"
## Summary of Bug

it really blows my mind, don't understand how to resolve it.
i getting error

[code]

when i trying to connect p2p.

also tried to reset data, and delete it all - nothing helps.

could you tell me to what direction need to think?

## Version
v0.44.5

## Steps to Reproduce
appd start --p2p.persistent_peers

____

## For Admin Use

- [ ] Not duplicate issue
- [ ] Appropriate label

[2022-07-14 17:26] kocubinski opened #12584 "Remove dependency `types` -> `simapp`"

[2022-07-14 17:30] stackman27 commented on #12462
Hi @ValarDragon is this being worked on right now? Can i give it a shot, it seems interesting?

[2022-07-14 21:03] robert-zaremba commented on #12228
I agree - having a more ongoing integrations tests with "ongoing" releases will help to push compatibility with latest releases.

[2022-07-15 02:03] ValarDragon commented on #12462
I don't think its being worked on (cc @xBalbinus to double check)

Would be really cool to get this in! Check out this blog post for some more details on extension interfaces: https://medium.com/swlh/what-is-the-extension-interface-pattern-in-golang-ce852dcecaec

[2022-07-15 02:38] xBalbinus commented on #12462
Heyo @stackman27 !! Thanks for the help / offer! I was wrapping up some last things with some doc edits and was going to get to this real soon but if you have more availability, definitely feel free! Don't want to block you.

[2022-07-15 03:52] yihuang opened #12588 "auto gas don't work"
## Summary of Bug

[code]

## Version

0.46.x

## Steps to Reproduce

____

## For Admin Use

- [ ] Not duplicate issue
- [ ] Appropriate labels applied
- [ ] Appropriate contributors tagged
- [ ] Contributor assigned/self-assigned

[2022-07-15 04:35] ValarDragon commented on #12462
btw made a related PR in osmosis that shows how to do the typecast if it helps: https://github.com/osmosis-labs/osmosis/pull/2081

[2022-07-15 04:37] stackman27 commented on #12462
@ValarDragon Gotchu i will look into it try it out

[2022-07-15 04:38] stackman27 commented on #12462
@xBalbinus for sure! i can give it a shot, i'm fairly free rn. Will reach out to you if i get stuck

[2022-07-15 06:17] shaneing opened #12591 "A confusion about `no need to execute IncrementSequenceDecorator on RecheckTX`"
https://github.com/cosmos/cosmos-sdk/blob/f9f92f20d8545203c4c6784bfad3fc88e1f82926/x/auth/ante/sigverify.go#L313

The implementation of IncrementSequenceDecorator seems to be no relevant code to skip increasing sequence when rechecking tx. However, It works great. I don't quite understand the logic here. Could anyone tell me?

[2022-07-15 06:48] alexpGH opened #12592 "EmitTypedEvent Escapes Strings"
## Summary of Bug
C:x/authz module uses extra " around  value fields in events for grant transactions, e.g. granter, grantee, msg_type_url, which results in query results as e.g.:

[code]

which however should be
[code]

I could not find a related bug report.

## Version

current main branch head, commit https://github.com/cosmos/cosmos-sdk/commit/01b4a4237973698e174d1de48d82cc496b89c97c

## Steps

[2022-07-15 08:09] shaneing commented on #12591
Sorry, I move it to discussions.

[2022-07-15 08:09] #12591 closed

[2022-07-15 09:07] hallazzang commented on #12570
@alexanderbez Yes, that's right. I've drafted a PR #12593 and will keep adding commits to it.

[2022-07-15 09:55] hxrts commented on #11301
groupURL refers to the group's regular website

[2022-07-15 09:57] robert-zaremba commented on #11301
It could be `groupURL` -> `metadata JSON.website` -> regular website.

[2022-07-15 10:24] hxrts commented on #11301
I was imagining all these things were json blobs linked by IPFS content addresses

[2022-07-15 11:07] marbar3778 commented on #12573
https://github.com/cosmos/cosmos-sdk/issues/11552

[2022-07-15 11:10] marbar3778 commented on #12580
we can edit this readme. We didnt add it cause the update isn't released and wont be for a while.

[2022-07-15 11:20] julienrbrt commented on #12556
I think you mentioned that already, but we will definitely need something to improve the UX, so we can just do a `make deps` or smth. This is a bit unintuitive to have to run tests beforehand (at least for people used to `wire`).

[2022-07-15 13:19] #12584 closed

[2022-07-15 13:37] tac0turtle opened #12597 "Epic: Account rekeying"
## Summary

Account rekeying was proposed in [adr-034](https://github.com/cosmos/cosmos-sdk/blob/main/docs/architecture/adr-034-account-rekeying.md).

Todo List:

- [ ] Implement account rekeying
- [ ] Adjust ADR (as needed)
- [ ] Review once open against upstream

[2022-07-15 14:08] julienrbrt commented on #12380
Great post! I've added in https://github.com/cosmos/awesome#blogs

[2022-07-15 19:47] ValarDragon opened #12601 "Make MsgMultiSend single sender"
## Summary

cref  #12397 , currently MsgMultiSend is complex / complicates further features state machine side due to its accomodation of many senders and many receivers. Theres no known users of the multi-sender functionality [Citation Needed], only users of the multi-recipient functionality.

If this is the case, we should restrict the MsgMultiSend state machine side to only have at most 1 sende

[2022-07-15 19:53] ValarDragon commented on #12597
Really excited about this happening!!! Some of my thoughts on this since we first wrote the ADR are (And work I want to do with making hot keys sustainable):

We need to make account types able to define parsing logic for the change pubkey structs. e.g. I want to make an account type with multiple keys natively (Guardian keys, admin key, and a hot key). I should be able to use change pubkey to cha

[2022-07-15 21:03] alexanderbez commented on #12570
Thanks @hallazzang! PR looks good and almost complete! Thanks for the help.

[2022-07-15 21:06] alexanderbez commented on #12588
Good catch! I'm shocked we don't have CI tests that didn't fail due to this.

[2022-07-16 12:48] marbar3778 commented on #12398
In the last team call we discussed moving the current integration tests into simapp to not lose them but still decouple simapp from the repo.

The current tests, cli tests, that rely on testutil/network would be rewritten to be cli unit tests of the cli interface. This will allow modules to not depend on each other for testing as well. We will plan on doing more in-depth integration tests as well

[2022-07-16 18:38] #12588 closed

[2022-07-16 22:21] stackman27 commented on #12462
@ValarDragon
1. Is the idea to created a shared extension interfaces across all the modules or every module is going to have their own extension interface?  Should i be creating a manger.go file?
2. Also since most modules right now have a no-op for AppModule.BeginBlock and AppModule.EndBlock why can't we define our extension interface like this;
[code]

[2022-07-17 04:12] alexanderbez commented on #12462
There will only be a single interface, it's defined the same place where `AppModule` is defined. There is no need to create any new files -- just add the interface to where `AppModule` is defined (I believe that's `module.go`).

Not sure I follow? You want two interfaces -- `BeginBlockAppModule` and `EndBlockAppModule`.

1. Define these two interfaces
2. Remove the dead-code from modules that do n

[2022-07-17 04:35] stackman27 commented on #12462
Aah i see, this makes sense i was checking the individual module files for each modules and got confused. Thank you very much!

[2022-07-17 04:50] alexanderbez commented on #12592
So these events are emitted using the new typed-events approach, as you can see here:

[code]

I don't see anything special about encoding or anything like that here. So this is probably nothing to do with `x/authz` at all. Maybe it's how `EmitTypedEvent` works since it takes a Proto message? Perhaps it's doing some escaping via Proto JSON?

Do you have a tx hash as an example that I can look at o

[2022-07-18 04:52] yihuang opened #12607 "`msg.ValidateBasic` is not called in ante handler"
## Summary of Bug

Is it expected that `msg.ValidateBasic` is not called in ante handler, it only calls `tx.ValidateBasic` which don't call msgs's.

I tried this to verify, patch `TestMsg` as follows:
[code]

And run `go test -v ./x/auth/ante/...`, all tests still passes.

## Version

## Steps to Reproduce

____

## For Admin Use

- [ ] Not duplicate issue
- [ ] Appropriate labels applied
- [ ] Ap

[2022-07-18 06:33] alexpGH commented on #12592
You can basically use any grant tx e.g. related to the restake app.
E.g. (arbitrarily picked): 8752467CB7D8DE037858E80D90EC3E31399F118240985F31908E9ED87BD350F7

I'm not too deep in the current cosmos-sdk, but had a look also in the prtotobuf part, compared it to what others do, but could not spot a difference, e.g. the cosmos-sdk/proto/cosmos/authz/v1beta1/ vs. bank/v1beta1.
What I find interestin

[2022-07-18 07:17] livthomas commented on #12574
@marbar3778, thanks for the response! So it's not a bug but a feature.

Which height-based queries do you mean? I can only see these two that might be relevant:

- `GET /blocks/{height}`
- `GET /cosmos/base/tendermint/v1beta1/blocks/{height}`

But I'm not sure how I'm supposed to get votes from them. Do I need to read the data of all blocks and find the votes there? Or is there an easier way how t

[2022-07-18 08:40] amaurym commented on #12607
I'm pretty sure it's called here: https://github.com/cosmos/cosmos-sdk/blob/2b7aca73d2f8903f1ffa9f93c25793b7a3eb9d94/baseapp/baseapp.go#L645.

Do you have a branch with a reproducible test that sends a `MsgCreateDog`?

[2022-07-18 08:58] yihuang commented on #12607
I see, I was working on some ante handler related unit tests, so it's not called there. Is there a particular reason that tx and msg's `ValidateBasic` are called at different places?

[2022-07-18 09:04] amaurym commented on #12592
That's the way how it's done now: in `attribute={value}`, `value` can be anything that's JSON-encodable. For strings, JSON-encoded strings have `"` around them. See https://github.com/cosmos/cosmos-sdk/pull/7762#issuecomment-767532152 for details, or [code](https://github.com/cosmos/cosmos-sdk/blob/7a915880ac9af2e1dd528df3ffeb977d5e635fa8/types/events.go#L77).

The proposed solution back then was

[2022-07-18 09:28] amaurym commented on #12607
No reason, other than confusing code design. One proposal was for baseapp to do almost nothing (other than holding a reference to the antehandler stack), and putting all logic into antehandlers.

It was attempted in the middlewares ADR, but reverted. I propose to close this issue, and follow-up in #11955 ?

[2022-07-18 11:11] paplco opened #12609 "Authz SendAuthorization allow list"
## Summary

Add an allow list, an optional list of addresses allowed to receive bank assets via the granted authz MsgSend.

## Problem Definition

One feature I wish authz had, would be the ability to specify which wallet addresses a grantee is allowed to send funds to when they are sending on behalf of the grantor using the `cosmos.bank.v1beta1.MsgSend` message command.

The auth [SendAuthorizati

[2022-07-18 11:54] amaurym commented on #12574
@livthomas You can try the `"x-cosmos-block-height: <...>"` header https://docs.cosmos.network/main/run-node/interact-node.html#query-for-historical-state-using-rest

[2022-07-18 12:55] alexpGH commented on #12592
Ok, so the point from https://github.com/cosmos/cosmos-sdk/pull/7762#issuecomment-767532152  is
 _However, strings will have "" around them, and I'm proposing to make search events work with ""._
I checked with the current main branch head, simd allows to use " in query txs --events.
However current recommended versions for e.g. cosmoshub (and most others) do not allow " in the query. At least I w

[2022-07-18 13:52] kocubinski commented on #11911
Fixed in https://github.com/cosmos/cosmos-sdk/pull/12169

[2022-07-18 13:52] #11911 closed

[2022-07-18 13:54] kocubinski opened #12612 "`crypto`"

[2022-07-18 14:07] amaurym opened #12613 "Textual Value Renderers for Numbers"
## Summary

Part of #11970

Add value renderers for numbers, as defined in ADR-050.

____

#### For Admin Use

- [ ] Not duplicate issue
- [ ] Appropriate labels applied
- [ ] Appropriate contributors tagged
- [ ] Contributor assigned/self-assigned

[2022-07-18 16:33] kocubinski opened #12619 "Remove dependency `server` -> `simapp`"

[2022-07-18 20:36] facundomedica commented on #12583
This looks familiar, what OS are you running on your nodes? I had the same issue when starting a node on my Macbook: https://github.com/cosmos/cosmos-sdk/issues/11726

[2022-07-19 01:41] #11043 closed, assigned to tac0turtle

[2022-07-19 02:01] alexanderbez commented on #10514
A dedicated module (e.g. `x/consensus` or `x/consensus-params`) with a simple message `MsgUpdatePararms` and a message serve -- nothing else.

Yes, I believe so.

[2022-07-19 02:04] alexanderbez commented on #12592
I recall there was a PR recently to event querying to allow `=` characters too, I wonder if this will allow `"` escaping? Have you tried on `main`?

[2022-07-19 02:05] alexanderbez commented on #11700
Dup of #12609

[2022-07-19 02:05] #11700 closed

[2022-07-19 02:06] alexanderbez commented on #12609
Yes, this is a dup of #11700, but this is somewhat better described so I'll keep this open and close #11700.

As for the proposal itself, it makes sense to me. I wonder if this is something that fits into the "general enough" category to warrant not having the app dev do it for their chain only. WDYT @amaurym?

[2022-07-19 05:44] alexpGH commented on #12592
As stated above:

so it works with newer versions of the daemons, these are however not yet listed in the chain registry as recommended/compatible versions.

I wonder why do the other events still emit without "? Will this change after update or will this only change for newer modules / modules actively altered for this?

[2022-07-19 07:27] silverstr89 commented on #12583
@marbar3778 it means my starlink based application

[2022-07-19 07:27] silverstr89 commented on #12583
@facundomedica  mac os , arm64

[2022-07-19 08:50] #10650 closed

[2022-07-19 08:50] amaurym opened #12628 "Change `GetSigners` to return a single address as `string`"
## Summary

In the `sdk.Msg` interface, change `GetSigners` to always return one signer, as a bech32-encoded string.

## Problem Definition

There has been discussion (see [here](https://github.com/cosmos/cosmos-sdk/issues/12397#issuecomment-1175745474) and Discord) to keep 1 Msg == 1 signer. The only Msg that doesn't do that is MsgMultiSend, but the same behavior can be achieved with a multi-Msg

[2022-07-19 08:53] ratankaliani commented on #12538
How do I self-assign for issues?

[2022-07-19 09:21] amaurym commented on #12592
That's because only some modules use `EmitTypedEvent` (authz and feegrant only I think), all other modules use normal events, i.e. `EmitEvent`. That's an inconsistency in the SDK for now, unfortunately.

[2022-07-19 09:42] amaurym commented on #12609
Yeah it seems like 2 independant users asked for the same feature, so I'm fine with adding this to the SDK 👍

Any one of you @carameleon or @paplco wants to work on a PR?

[2022-07-19 11:46] livthomas commented on #12574
Thanks @amaurym! Now I see what @marbar3778 meant by height-based queries. I'm closing this issue since I can retrieve the votes now when I set `x-cosmos-block-height` to a block right before the voting period ended.

BTW, is there any way how to get the actual block height for a certain timestamp? When I try to calculate it using `blocksPerYear` param and the latest block info, I get results whic

[2022-07-19 11:46] #12574 closed

[2022-07-19 13:09] #12538 closed

[2022-07-19 13:26] ValarDragon opened #12632 "Make state machine store a map from height -> block time, for all blocks within unbonding period"
## Summary

Double sign evidence, and slashing* in the SDK are complex, as is much of the downstream code, by the SDK not maintaining a map of historical block heights to times in the state machine. Obviously we can't have linear state growth by storing every historical pair, but we could store it all within the last unbonding period.

*slashing technically needs historical block height <> block t

[2022-07-19 13:32] alexanderbez commented on #12632
Are you suggesting that storing such a mapping will simplify the double sign and slashing logic? If so, how in particular?

[2022-07-19 13:35] ValarDragon commented on #12150
If nothing else, can we add just running usermod and groupmod to restore whatever the file had before, in these containers?

This does randomly kill a bunch of time =/

[2022-07-19 13:39] alexanderbez commented on #10514
@amaurym why can't we just provide an interface/generics type to `BaseApp`?

[2022-07-19 13:46] amaurym commented on #10514
Yeah, that works too 👍

[2022-07-19 14:07] julienrbrt opened #12633 "Create 'An introduction to `depinject`' tutorial"
- [x] Create _An introduction to `depinject`_ tutorial (probably under https://docs.cosmos.network/main/building-modules)
The tutorial should explain how to use `depinject` with `AppConfig` for building modules (wait until the API is stabilized and depinject tagged and released) and more generally the application configuration (with examples).

Raw structure (feel free to edit):

[code]

- [x] Fol

[2022-07-19 17:19] #12462 closed

[2022-07-19 17:56] nooomski commented on #11301
`groupURL` was just meant to be a link to the website. Maybe the naming is confusing. Perhaps we should just use `groupWebsite`.

[2022-07-19 19:50] pyramation opened #12640 "Proposal messages are missing `cosmos_proto.implements_interface` option"
## Summary

[in ADR 019](https://github.com/cosmos/cosmos-sdk/blob/main/docs/architecture/adr-019-protobuf-state-encoding.md#safe-usage-of-any) it states

We're doing codegen, and we're missing many of the `cosmos_proto.implements_interface`: https://github.com/osmosis-labs/telescope/issues/118#issuecomment-1188782014

If we can add these into the protos, it would help the codegen flow to make cli

[2022-07-19 20:00] pyramation commented on #12640
@aaronc I think you were involved in a few issues/PRs around `implements_interface`. Can you see if I added these options in correctly in the PR?

[2022-07-19 20:29] robert-zaremba commented on #12628
Why making that limitation? What's the benefit? `GetSigners` is going to be automated anyway with proto annotations anyway.

Maybe other, custom messages require multiple signers?

BTW: I agree that it's API breaking.

[2022-07-19 21:49] ValarDragon opened #12642 "Can we change ImportGenesis & ExportGenesis to return a proto.Message interface"
## Summary

Something thats always confused me is why does `ImportGenesis` and `ExportGenesis` in every module take in a JSON interface.

We can definitely change `ExportGenesis` to return a `proto.Message` interface, that the SDK then serializes into a JSON? Seems odd from an API and complexity perspective that we have to serialize this in our module.go right now.

Something I'm less sure about:

[2022-07-20 01:12] alexanderbez commented on #12642
Yeah I think this is just a legacy thing. Meaning, we used `json.RawMessage` for ages now and then introduced Proto later and never really revised this API surface area. Totally agree that we should use `proto.Message` for these APIs.

@julienrbrt or @facundomedica is this something you find interesting to work on?

[2022-07-20 01:16] alexanderbez commented on #12628
ACK @amaurym -- let's just rip the bandaid off and modify the existing API to be `GetSigner() string`.

[2022-07-20 01:44] #12570 closed

[2022-07-20 07:34] #12546 closed

[2022-07-20 07:53] scalalang2 commented on #12332
Hi. I'm newbie in cosmos-sdk ecosystem.
I wanna update existing `testify` assertion codes into `gotest.tools`

[2022-07-20 07:54] marbar3778 commented on #12332
Amazing, let us know if you have any questions

[2022-07-20 10:31] amaurym commented on #12640
closed by #12639

[2022-07-20 10:31] #12640 closed

[2022-07-20 10:54] likhita-809 commented on #12609
I can work on this

[2022-07-20 12:24] marbar3778 opened #12652 "module: consensus-param module"
## Summary
With the deprecation of the param module, there is a need to allow governance or another account to modify these parameters. In a few discussions with the sdk team we opted to create a consensus param module to house these parameters.

Theses parameters will need to be made available to base app so that the parameters can be sent back to tendermint when they are modified. We do somethin

[2022-07-20 14:38] silverstr89 opened #12655 "Compatibility with go 1.18"
## Summary of Bug

Ignie is not compatible with go version 1.18

when i try to run with go 1.18 i see error, there is no error if i run it with any go 1.17 version

[code]

## Version

v0.44.5

## Steps to Reproduce

update your go version to 1.18
run ignite chain serve as a usual

____

## For Admin Use

- [ ] Not duplicate issue
- [ ] Appropriate labels applied
- [ ] Appropriate contributors tag

[2022-07-20 14:58] julienrbrt commented on #12655
Hi, if you have an issue with Ignite CLI, it's best to post it in their repository: https://github.com/ignite/cli/issues.

[2022-07-20 15:33] ValarDragon opened #12658 "Make FormatTimeString and ParseTimeString methods"
## Summary

We should make string counterparts to `FormatTimeBytes` and `ParseTimeBytes` https://github.com/cosmos/cosmos-sdk/blob/eee23d95312ae41fa4fe4f6b218926685304590b/types/utils.go#L64-L77, and then make the bytes method call into those

____

#### For Admin Use

- [ ] Not duplicate issue
- [ ] Appropriate labels applied
- [ ] Appropriate contributors tagged
- [ ] Contributor assigned/self-a

[2022-07-20 16:01] silverstr89 commented on #12655
are you sure is it problem of ignite? it based on cosmos

[2022-07-20 16:14] julienrbrt commented on #12655
Yes, Ignite CLI is generating the `go build` command for you (https://github.com/ignite/cli/blob/develop/ignite/services/chain/build.go).

I've seen you've opened an issue in Ignite's repo already. If you encounter any other problem, feel free to open a new issue.
I will close this one. :)

[2022-07-20 16:14] #12655 closed

[2022-07-20 22:58] #12284 closed

[2022-07-21 02:32] ValarDragon opened #12661 "Fix iterators with existant start, nil end"
## Summary

Both of the following iterators fail:
[code]

They should work. The root cause is that there is a check in the CacheKvStore, that unsafe converts `[]byte` to a string, and then compares the string representations.

The typecast of a nil `[]byte`, will always return as less than a correctly formed string. Thus you get `start > end` and the CacheKVStore iterator returns a no-op.

This is

[2022-07-21 06:44] shawayush commented on #12380
@zeroFruit Your Blog post was a huge help.
@julienrbrt @alexanderbez we are able to achieve a successful upgrade! This threads helped me a lot
Thanks all!

[2022-07-21 08:17] ainhoa-a opened #12665 "EPIC: Zondax fixes"
## Phase 1: Fixes and triage June & July

During the month of June and July we will work on the following repositories:

cosmos/ledger-cosmos
cosmos/ledger-cosmos-js/
cosmos/ledger-go
cosmos/ledger-cosmos-go

with the following scope of work:

Issue and triage cosmos-ledger libraries:

**Ledger Cosmos**
- [x] https://github.com/cosmos/ledger-cosmos/issues/38
- [x] https://github.com/cosmos/ledger-

[2022-07-21 08:33] marbar3778 opened #12667 "Remove proposer based rewards"
## Summary

Proposer based rewards were added when the cosmos hub was launched. As we have started to see in the ecosystem as chains are using epochs they are setting proposer based rewards to 0. Also there is a belief that the proposer based reward system has a bug in it that https://github.com/cosmos/cosmos-sdk/issues/9161.

Secondly with how tendermint does proposer selection this means that th

[2022-07-21 08:57] alexanderbez commented on #12652
@marbar3778 let's be sure to reference this/add it to the EPIC.

[2022-07-21 14:50] #12285 closed

[2022-07-21 18:23] JayT106 opened #12682 "backport: iavl v0.19.0 (#12626) to v0.45.x"
## Summary

The iavl v0.19.0 has significant improvement to the data iteration. Tried to use it in the current Cronos project.
The genesis export time from 16h (iavl v0.17.3) reduces to 26m

## Proposal

Suggest backport it to the SDK v0.45.x
____

#### For Admin Use

- [ ] Not duplicate issue
- [ ] Appropriate labels applied
- [ ] Appropriate contributors tagged
- [ ] Contributor assigned/self-as

[2022-07-21 20:01] #12544 closed

[2022-07-21 20:01] #12619 closed

[2022-07-21 20:04] #12535 closed

[2022-07-21 23:10] kingpinXD opened #12684 "cosmovisor apply upgrade in version 1.1.0"
## Summary of Bug
Applying the same upgrade, in cosmovisor v0.1.0 (`cosmovisor/v0.1.0`) vs v1.1.0 leads to different results.

cosmovisor v0.1.0 - at upgrade height, the upgrade is applied automatically, and the chain starts with the new binary
![image](https://user-images.githubusercontent.com/28092962/180329502-74648c30-a692-42af-95ad-ea66fa3d6fae.png)

cosmovisor v1.1.0 - at upgrade height, the

[2022-07-22 00:24] Mrfogg opened #12685 "chain name can't be format like 'a-b'"
## chain name can't be format like 'a-b'
When I use ignite to init a new chain named 'github.com/xxx/c-a', server can't deal with token transfering. the error msg:

[code]
I have debugged the cosmos-sdk'code and I found server that init the chain-id like 'ca', not c-a. So "checktx" rejected the transaction
## Version
Ignite CLI version:	v0.21.2
Ignite CLI build date:	2022-05-16T18:58:45Z
Ignite CL

[2022-07-22 01:04] ValarDragon opened #12686 "devops: Make tool to split queries to multiple binaries / database backends"
## Summary

A notable problem with working with archive nodes right now is that you can't just run an archive node and serve queries to historical versions.

We should create a tool that you can use an operator to load balance for Rest / RPC / grpc, that can parse out the height you use in your query, and send it to a different Rest / RPC / grpc server based on that height, (Make a matrix of heigh

[2022-07-22 01:15] ValarDragon opened #12687 "Make terminology and simplified setups for archive nodes for syncing"
## Summary

Currently cosmos refers to any node that stores data for all of history as an archive node.

We should create better terminology, and easier configuration, for running a node that is intended to help any peer sync from genesis.
This many orders of magnitude cheaper than what Archive nodes do today. They currently:
- Store every historical state version, in the merkelization structure (

[2022-07-22 02:32] ValarDragon opened #12688 "x/gov: Change proposal state storage, so votes do not read static data"
## Summary

A serious problem for cosmwasm upload governance proposals, is that the `x/gov` module has every vote, read the entire governance proposal. Votes should not require reading static data from a proposal, e.g. the Content. The current design makes votes for wasm upload proposals require 1million+ gas.

This applies in SDK v0.46 with the message based governance module as well. This is bec

[2022-07-22 02:32] zeroFruit opened #12689 "Updating x/upgrade README"
@alexanderbez

Context: #12380

Is it ok to update x/upgrade README to contain the link? If so, could you guide me on where to contain the link?

[2022-07-22 02:40] ValarDragon opened #12690 "Messages are too coupled in SDK v0.46 governance"
## Summary

I think that governance in SDK v0.46 has gotten too coupled to SDK messages. I view this as a regression from the sdk v0.45.x release line, and am tbh confused why we didn't just make a Content type constructor from []sdk.Msg. There should be an intermediate interface available, that has constructors to work from any series of SDK messages.

But the interface should allow for things li

[2022-07-22 02:56] ValarDragon opened #12691 "Changelog: Add high level couple paragraphs of main changes in SDK v0.46"
## Summary

Its basically impossible to quickly glean whats the main part of SDK v0.46 from the changelog! Can we add a high level paragraph or two, and then a series of two sentence descriptions for each big change, prior to the PR by PR changelog?

I think the golang release notes is a great example here: https://tip.golang.org/doc/go1.18

It'd be great if we could do this for every minor releas

[2022-07-22 03:32] ValarDragon opened #12692 "Issue template: Delete for admin use section"
## Summary

In several years, I don't think I've ever noticed someone _actually use_ the `for admin use` section of every github issue. Can we delete it from the template?

[2022-07-22 03:34] ValarDragon commented on #11816
Yeah you can make github actions run things if not from a fork,we do this in Osmosis here: https://github.com/osmosis-labs/osmosis/blob/main/.github/workflows/add-pr-to-project.yml#L10

[2022-07-22 04:07] alexanderbez commented on #12692
I have no objections. @marbar3778?

[2022-07-22 04:16] alexanderbez commented on #12691
@ValarDragon we kind already have this -- https://github.com/cosmos/cosmos-sdk/blob/v0.46.0-rc3/RELEASE_NOTES.md

The release notes and the UPDATING.md are supposed to outline major relevant changes that are not as noisy or granular as the changelog.

[2022-07-22 05:02] AKorpusenko opened #12694 "Bug in x/auth accounts state caching"
**TLDR**: SDK allows to create new account in state with nil public key which causes unable to use account trouble

## Description
The trouble I've faced during writing integration tests for cosmos-sdk based standalone blockchain is that it's possible to add an account with nil pubKey to account state through genesis file or via cross module integration

This causes that account can not be used at