[2020-07-04 17:53] marbar3778 commented on #6228
sed will be removed once sdk is updated to 0.34 of tendermint.

[2020-07-04 18:04] marbar3778 commented on #6434
I was not able to recreate this error, could you expand

[2020-07-04 18:07] marbar3778 commented on #5007
pleasee do!! thank you for all your recent contributions!!

[2020-07-05 00:23] michaelfig commented on #6114
I found the issue: my VM was not distinguishing between transaction simulation (which occurs between blocks) and actually running the transaction.  When I accounted for that, the behaviour was as expected.

[2020-07-05 00:23] #6114 closed

[2020-07-05 01:12] alexanderbez commented on #6601
cc @alessio

[2020-07-05 02:54] alessio commented on #6601
I see. The requirement makes sense to me. Will open a PR shortly.

[2020-07-05 07:08] marbar3778 commented on #4980
@alexanderbez is this still applicable

[2020-07-05 09:58] noandrea commented on #6601
that was quick, thanks :+1:

[2020-07-05 11:22] #6601 closed

[2020-07-05 13:09] hxrts commented on #6024
as the one who opened this issue. I'd be happy closing if the documentation made this a little more explicit.

[2020-07-05 18:16] sahith-narahari commented on #5411
To be discussed after Stargate launch

[2020-07-05 19:31] alexanderbez commented on #4980
Yes, if feasible.

[2020-07-06 02:23] michaelfig commented on #6446
Marked as done and merged.  I'm closing.

[2020-07-06 02:23] #6446 closed

[2020-07-06 07:15] marbar3778 commented on #5483
hey were you able to figure out your error? sorry for the delayed response. I will close the issue for now but if you have any questions join our discord and ask away: https://discord.gg/J45bWtw you will get. quicker answers there

[2020-07-06 07:15] #5483 closed

[2020-07-06 07:17] marbar3778 commented on #5403
@alessio was this completed? I vaguely recall it being fixed but will close anyways in favor of #5771

[2020-07-06 07:17] #5403 closed

[2020-07-06 08:07] alessio commented on #5403
Unsure. It was half-fixed. Possibly https://github.com/cosmos/cosmos-sdk/pull/5865 has fixed it.

[2020-07-06 08:39] colin-axner commented on #6567
From my understanding, `h+1` does exist in any query for `h` because the `root` of the consensus state for block `h` is the [`AppHash`](https://github.com/cosmos/cosmos-sdk/blob/437b035160f092c682b62908aced5bd4c003766a/x/ibc/02-client/keeper/keeper.go#L203). The `AppHash` is the hash of the application state of the **last** block.

So a proof generated for block `h` is created using the `AppHash`

[2020-07-06 08:47] ethanfrey commented on #5238
This is stale (in that the root PR was closed), but I wonder if the current subkey / fee_grant implementation has proper integration tests? Can someone check and add an issue to that if needed? Then please close this.

[2020-07-06 09:25] Codegnosis commented on #6522
Apologies - I referred to the wrong PR in my previous comment - the issue was the `message.sender` accumulation the Events, and the specific fix was in a comment within the tagged issue - https://github.com/cosmos/cosmos-sdk/issues/6306#issuecomment-636105715

[2020-07-06 13:56] amaurymartiny commented on #5921
x/crisis and x/distribution left. AFAICT x/crisis has no queries at all. I can take care of the last one x/distribution.

[2020-07-06 14:00] aaronc commented on #5921
Looks like x/distribution is being addressed in #6600 @amaurymartiny. Maybe you can get started on the cli query migrations starting with x/upgrade?

[2020-07-06 14:49] colin-axner opened #6611 "move next seq ack increment to AcknowledgementExecuted"
## Summary

Move incrementing next seq ack to `AcknowledgementExecuted`

## Problem Definition

Failure for a transaction to process entirely (even for just a out of gas error) will cause an acknowledgement to not be fully processed by the application callback (a possible refund)

## Proposal

Move incrementing next seq ack currently in [`AcknowledgePacket`](https://github.com/cosmos/cosmos-sdk/bl

[2020-07-06 19:32] fedekunze opened #6615 "Update unrelayed packets query logic"
ref: https://github.com/cosmos/cosmos-sdk/pull/6466#discussion_r450145736

____

#### For Admin Use

- [ ] Not duplicate issue
- [ ] Appropriate labels applied
- [ ] Appropriate contributors tagged
- [ ] Contributor assigned/self-assigned

[2020-07-06 19:37] fedekunze opened #6617 "Add missing pagination flags"
`FlagOffset ` is not defined. We should also add a `FlagPaginationKey` 👍

_Originally posted by @fedekunze in https://github.com/cosmos/cosmos-sdk/pull/6466_

[2020-07-06 21:22] clevinson commented on #6522
The label has been updated now to [0.39 LTS (Launchpad)](https://github.com/cosmos/cosmos-sdk/issues?q=label%3A%220.39+LTS+%28Launchpad%29%22+is%3Aclosed).

Currently there are PRs that Bez added labels to, and seem to have general agreement that they fit within launchpad:
- Pruning Refactor (#6475)
- fix #6287 sending multiple transactions from an account make nonce sequence stuck (#6291)
- Save

[2020-07-06 21:31] alessio commented on #6522
We should use https://github.com/cosmos/cosmos-sdk/milestone/27 instead of the label https://github.com/cosmos/cosmos-sdk/issues?q=label%3A%220.39+LTS+%28Launchpad%29%22+is%3Aclosed (I'm incorporating this into my PR re: stable releases)

[2020-07-06 21:46] alexanderbez commented on #6522
@alessio the milestone and label are complimentary. They should be used together.

flow:

1. PR lands on `master`
2. We discuss that said should be backported (i.e. cherry-picked) onto a release (e.g. launchpad)
2a. A label is added to said PR
3. A PR is made with the cherry-pick against the living backport branch
4. Finally, that PR (step 4), is added to the milestone so we can track it.

[2020-07-06 21:51] alessio commented on #6522
Ok that clarifies the scope. It makes sense. Thanks!

[2020-07-06 21:59] ethanfrey commented on #6522
I want to repeat this here.. (on discord and some other chats already).

It is a major client issue. The only breaking part is clients needing to reduce the "gas multiplier" to a normal level (so inconvenience if not fixed, definitely not state-machine breaking). I will take it on, as it will vastly help with our attempts to estimate costs of cosmwasm contracts.

[2020-07-07 00:19] alexanderbez commented on #6522
We're gonna get #4938 in 🎉

[2020-07-07 04:53] AdityaSripal commented on #6567
I need to test this, but I believe the events are associated with the ABCI height (ie, the height in which the state gets committed), not the IAVL height. This would make things even easier for relayers, not the options mentioned above.

Not fully certain, I have to test this is the case tomorrow.

[2020-07-07 04:58] AdityaSripal commented on #6531
If a chain decides to upgrade and reset his height, should IBC consider misbehaviour across the upgrades?

If the chain updates at (e, h) to (e+1, 1). Does having two valid signed headers for height (e, h+1) and (e+1, 1) count as Misbehaviour?

[2020-07-07 08:03] #6611 closed

[2020-07-07 10:19] #6484 closed

[2020-07-07 11:43] cwgoes commented on #6531
Hmm. If the light client knows that the upgrade will happen at `(e, h)` it can refuse to accept `(e, h + 1)`, so there is no danger of a fork, but it still clearly is "misbehaviour". However, I think we want to follow whatever rules Tendermint would use in this instance (which we need to think about, actually).

[2020-07-07 12:49] cwgoes commented on #6378
Upgrade categories documented in detail here - https://github.com/cosmos/ics/issues/445.

[2020-07-07 13:10] okwme opened #6624 "Docs link overlay issue"
## Summary of Bug
Was reading the new IBC docs page [here](https://docs.cosmos.network/master/ibc/overview.html) and saw this render bug on Chrome:
<img width="272" alt="Screen Shot 2020-07-07 at 15 08 44" src="https://user-images.githubusercontent.com/964052/86786105-e38a2c00-c063-11ea-9895-3d67c2b7ac36.png">

## Version

## Steps to Reproduce

____

## For Admin Use

- [ ] Not duplicate issue
-

[2020-07-07 13:46] marbar3778 commented on #6624
could this issue be moved to https://github.com/cosmos/vuepress-theme-cosmos. I don't believe this is specific to the sdk

[2020-07-07 15:40] #6419 closed

[2020-07-07 15:45] #6354 closed

[2020-07-07 16:34] clevinson commented on #6522
So in terms of launchpad, seems like we're aligned on @ethanfrey taking on #4938. I'm assuming will we move forward without the following pieces (from @ethanfrey's initial post):
- (export) #6510 Field TimeIotaMs now is included in genesis file while exporting.
- (x/distribution) #6210 Register MsgFundCommunityPool in distribution amino codec
- (modules) #5569 InitGenesis, for the relevant modules

[2020-07-07 17:06] cwgoes opened #6630 "Abstract height type in IBC"
Per first comment on https://github.com/cosmos/ics/issues/439, subsequent changes to be made to the ICS specs.

[2020-07-07 18:19] colin-axner commented on #5558
closing this issue since I believe the gist of it has been addressed. Any other test code that needs work or has issues should be opened with its own issue

[2020-07-07 18:19] #5558 closed

[2020-07-07 22:42] okwme commented on #6624
Good point will close and open there

[2020-07-07 22:42] #6624 closed

[2020-07-07 23:08] slider2007 commented on #5228
It was very nice and interesting discussion but i don’t see any positive useful outcome out of it. Changing this particular parameter only in genesis.json by hand is not enough that is for sure.

[2020-07-08 07:23] fedekunze commented on #4885
closing as this is mostly done. If we end up refactoring the simulation module we can add more docs 👍

[2020-07-08 07:23] #4885 closed

[2020-07-08 07:23] fedekunze commented on #4901
this issue has been resolved

[2020-07-08 07:23] #4901 closed

[2020-07-08 09:25] fedekunze commented on #5917
should we get started with the .proto files? or is it blocked by something else?

[2020-07-08 13:24] aaronc commented on #5917
There is still a question in my mind of whether we need streaming genesis for stargate. For ibc it’s likely not needed yet (because there isn’t a huge amount of live data on the hub). So migrating the current GenesisState to proto files is probably okay. However, the streaming genesis is l believe the future proof way to go for large import/exports. This is likely something we should discuss in ou

[2020-07-08 13:40] ethanfrey opened #6644 "(Many?) Duplicate Writes on Tx Execution"
## Summary of Bug

I was trying to track down differences between Simulate and Deliver, especially how changing orders of operations changes the gas spent, and when adding debugging info, discovered LOTS of unexpected reads. Many of which were performed two or three times.

## Version

`launchpad/release/0.39` but I am sure this is also on the 0.38 branch, and likely master.

## Steps to Reproduce

[2020-07-08 13:54] alexanderbez commented on #5228
PRs are welcome :)

[2020-07-08 13:57] ethanfrey commented on #4938
I tried, but this approach doesn't seem to fix the issue.

There also seems to be quite some caching in the sdk, and a different order of operations can yield different gas costs (both for simulate as well as deliver)

[2020-07-08 14:32] alexanderbez commented on #6644
What are we supposed to do with this issue @ethanfrey? I'm not sure what to do or where to begin...? What issue are you outlining here?

[2020-07-08 14:52] ethanfrey commented on #6644
The solution would be to remove the duplicate writes.

Definitely not high priority, but something I found and wanted to leave documented in a github issue.

When stargate ships, and there is less pressure, it would be a nice optimization to try to track these down (so much time was spent on the db layer, but we could likely avoid many of the calls). I don't think this is easy or a clear solution.

[2020-07-08 15:55] AdityaSripal commented on #6531
One important thing to note is that the validators do not attest to the epoch number. Thus, a relayer can take a signedHeader `h` and submit it as height `(e, h)` or `(e', h)` with no issues. I'm not sure if there is are any other attacks here, but at the very least, we must enforce in IBC that all upgrades change the `chain-id`.

Otherwise it may be possible for a header `h` in an epoch `e` to be

[2020-07-08 16:10] cwgoes commented on #6531
Ah yes, I see - for that reason, we should probably tie the epoch number to the chain ID (as in, parse it from the chain ID).

[2020-07-08 16:12] fedekunze opened #6649 "ADR for IBC coin denomination prefix"
## Summary

Create ADR to move the IBC token transfer denomination [Prefix](https://github.com/cosmos/ics/tree/master/spec/ics-020-fungible-token-transfer#packet-relay) for determining whether or not the transfer is from the source chain, out from the `Coin` `Denom` field.

____

#### For Admin Use

- [ ] Not duplicate issue
- [ ] Appropriate labels applied
- [ ] Appropriate contributors tagged
-

[2020-07-08 16:28] AdityaSripal opened #6650 "Prune Expired Tendermint Consensus States"
Each IBC tendermint client must be kept up to date by submitting tendermint headers to the chain. These headers then get stored as ConsensusStates. As IBC clients are long-lived, they will store many consensus states. Each consensus state stores the validator set (which may contain ~100 validators), thus they take up a nontrivial amount of space.

However, the only consensus states that need to be

[2020-07-08 17:43] #6518 closed

[2020-07-09 06:39] cwgoes commented on #6650
This makes sense, and I think your proposed solution

should work fine. One minor note is that the timestamp & height may both need to be checked to see whether a consensus state is within the unbonding period.

[2020-07-09 07:13] fedekunze commented on #6650
I like this proposal a lot. One thing to consider is to be careful when pruning consensus states from a previous version, i.e after upgrading. I propose to use the abstract height from https://github.com/cosmos/ics/pull/447 instead of a `uint` 👍

[2020-07-09 07:22] webmaster128 opened #6656 "Documentation of /bank/balances does not match implementation"
## Summary of Bug

The result of a call to the LCD endpoint /bank/balances looks like

[code]

However, the output [is documented](https://cosmos.network/rpc/v0.38.3) like this:

[code]

The "ucosm" and "ustake" denoms are from wasmd. The problem is the structure, not the values.

## Version

0.38

## Steps to Reproduce

____

## For Admin Use

- [ ] Not duplicate issue
- [ ] Appropriate labels ap

[2020-07-09 10:21] colin-axner opened #6657 "Remove dup prefixedClientKey func from x/ibc"
## Summary

I noticed in `02-client/client/utils/utils.go` prefixedClientKey func is used. This can be replaced by `24-host/keys.go` `FullKeyClientPath` func. There should be a search for other locations this func might be duplicated.

____

#### For Admin Use

- [x] Not duplicate issue
- [x] Appropriate labels applied
- [ ] Appropriate contributors tagged
- [ ] Contributor assigned/self-assigned

[2020-07-09 12:24] fedekunze opened #6660 "Implement ADR 25: IBC Passive Channels"
Implement [ADR 025 - IBC passive Channels](https://github.com/cosmos/cosmos-sdk/blob/master/docs/architecture/adr-025-ibc-passive-channels.md)
____

#### For Admin Use

- [ ] Not duplicate issue
- [ ] Appropriate labels applied
- [ ] Appropriate contributors tagged
- [ ] Contributor assigned/self-assigned

[2020-07-09 13:57] alexanderbez commented on #6656
@webmaster128 we've long stopped supporting any manual updates or maintenance to the swagger doc file, which was a huge PIA. We've attempted a stab at an automated solution [here](https://github.com/cosmos/cosmos-sdk/pull/5038) but we came across many roadblocks.

This happened before we started the Protobuf migration. So when we started Protobuf migration, we decided to ditch those efforts and us

[2020-07-09 14:07] webmaster128 commented on #6656
I see. Yeah, today I already found more issues than I can document. In this case I think a big warning like

on https://cosmos.network/rpc

[2020-07-09 14:41] aaronc commented on #5917
@anilCSE and @sahith-narahari are going to export data from Cosmos Hub 3 so that we have a sense of how large the genesis import/export is. Then we can assess the best path forward.

[2020-07-09 15:33] fedekunze opened #6663 "Implement ADR 024 - Coin Metadata"
Implement [ADR 024 - Coin Metadata](https://github.com/cosmos/cosmos-sdk/blob/master/docs/architecture/adr-024-coin-metadata.md)

____

#### For Admin Use

- [ ] Not duplicate issue
- [ ] Appropriate labels applied
- [ ] Appropriate contributors tagged
- [ ] Contributor assigned/self-assigned

[2020-07-09 16:06] #6398 closed

[2020-07-09 16:06] #6577 closed

[2020-07-09 16:24] aaronc commented on #5864
Marking this as done. Any remaining work is happening in #6213.

[2020-07-09 16:24] #5864 closed

[2020-07-09 17:40] odeke-em opened #6666 "codec: MarshalIndentFromJSON is untested and unnecessarily expensive"
## Summary of Bug
MarshalIndentFromJSON's implementation does a roundtrip json.Unmarshal then json.MarshalIndent yet could directly invoke json.Indent. The performance hit is quite a lot, in microseconds even just for a simple JSON, yet should be in nanoseconds for that JSON.

Fixing it results in a huge reduction in allocations and also CPU time
[code]

## Description of issue
MarshalIndentFromJS

[2020-07-09 17:44] odeke-em commented on #6666
Kindly help me @alexanderbez @aaronc @clevinson to label this as part of the audit.

[2020-07-09 17:45] alexanderbez commented on #6666
@odeke-em we don't need `MarshalIndentFromJSON`. Feel free to remove it 👍

[2020-07-09 18:28] #6666 closed

[2020-07-10 00:08] #6479 closed

[2020-07-10 00:08] #6346 closed

[2020-07-10 00:08] #6289 closed

[2020-07-10 00:08] #6264 closed

[2020-07-10 00:08] #6234 closed

[2020-07-10 01:32] odeke-em opened #6671 "server: FreeTCPAddr is brittle by assuming that closed formerly bound sockets can't be reused fast enough"
Noticed via audit, the code in FreeTCPAddr asks the system for any available port by
[code]
but that close until the underlying system reclaims closed ports is a shot in the dark. This can introduce non-determinism
if trying to create a server that way.

If this function isn't being used, let's decide what to do with it. Otherwise, we need to figure out how to properly obtain and
use that listener

[2020-07-10 05:14] dokwon commented on #5917
Is there more info on "migration to `Any`"?

[2020-07-10 07:17] YunSuk-Yeo commented on #5917
Terra will release cosmwasm before Stargate, so the state size is going much lager. In this aspect, we need streaming feature to avoid out of memory situation.

As @dokwon mentioned, It can be level db store like binary format.

[2020-07-10 08:36] odeke-em opened #6672 "crypto: LedgerShowAddress' description doesn't match its functionality and omits mention of unsafe behavior"
## Summary of Bug
Noticed via an audit, the function LedgerShowAddress says
[code]
but does it actually make the device show the corresponding address? Let's look into the implementation
https://github.com/cosmos/cosmos-sdk/blob/255ed06eb402e2e66208d858508e5b89e8d5c0fc/crypto/ledger_secp256k1.go#L105-L131

Looks to me like it compares and verifies the public key of a device against an expected one

[2020-07-10 08:41] alessio commented on #6672
Interesting, thanks @odeke-em for pointing this out. @jleni any thoughts?

[2020-07-10 10:04] odeke-em opened #6677 "crypto: LedgerShowAddress's public key comparison equality == instead of .Equals will soon result in unexpected results if we upgrade modules of tendermint/crypto"
During an audit, I noticed that the code for LedgerShowAddress compares PubKeySecp256k1 values by equality i.e.
https://github.com/cosmos/cosmos-sdk/blob/6ceedc9e4f2ef4f4e1773badea47bf9a29bfcc3e/crypto/ledger_secp256k1.go#L118-L120

and given that we are at go module [github.com/tendermint/tendermint@v0.33.6](https://pkg.go.dev/github.com/tendermint/tendermint@v0.33.6/crypto?tab=doc), the type of

[2020-07-10 10:43] odeke-em opened #6679 "types: CanonicalSignBytes is untested and seems unused"
From an audit, I noticed CanonicalSignBytes is unused and being present lowers the code coverage.

/cc @alexanderbez @aaronc

[2020-07-10 11:22] odeke-em opened #6680 "types: Dec.MarshalTo is untested but could also use a simplification of comparing to zeroInt instead of first bytes marshaling just to see if zero"
Noticed in an audit, Dec.MarshalTo doesn't have a unit test, but also while reading through it, I noticed this line of code

https://github.com/cosmos/cosmos-sdk/blob/c9ec4be3a823e77c31d3eb08d106e5e5f513e15d/types/decimal.go#L703-L706

which is quite the expensive way of checking if a value is zero. This can simply used [big.Int.Cmp](https://golang.org/pkg/math/big/#Int.Cmp) against zeroInt
[code]

[2020-07-10 11:33] dauTT commented on #5007
I will track the progress of this task here:

| module | status| PR
|---|-----|----|
| x/auth/simulation/operations.go| closed|  no needed |
| x/auth/simulation/genesis.go| open| |
| x/auth/simulation/params.go| open| |
| x/auth/simulation/proposals.go| closed|  no needed |
| x/bank/simulation/operations.go| open|  |
| x/bank/simulation/genesis.go| open| |
| x/bank/simulation/params.go| open  | |

[2020-07-10 11:46] odeke-em opened #6681 "store/cache: CommitKVStoreCacheManager.Reset is unnecessarily expensive both memory and CPU wise, should use map clearing idiom"
While auditing this code, I looked and noticed this pattern for store/cache
https://github.com/cosmos/cosmos-sdk/blob/c9ec4be3a823e77c31d3eb08d106e5e5f513e15d/store/cache/cache.go#L82-L85

At first glance it looks like an alright way of resetting a map ie. just set it to nil and let garbage collection deal with it.
However, the Go compiler recognizes the map clearing idiom
[code]
and transforms th

[2020-07-10 12:42] alexanderbez commented on #6671
Thanks for raising an issue @odeke-em. If you do a quick grok of the codebase, you'll see we absolutely do use and depend on `FreeTCPAddr`. Primarily in integration testing. We need this function. However, there are no "Byzantine" actors. Just faulty tests sometimes if a port is already taken.

Feel free to open a PR with a revised implementation 👍

[2020-07-10 12:48] alexanderbez commented on #6679
I think we can remove this.

[2020-07-10 12:54] alexanderbez commented on #6681
Awesome! Can you open a PR @odeke-em?

[2020-07-10 15:01] jjhesk commented on #6434
it was due to the gentx amount and the letters from the coin demon

[2020-07-10 15:48] jleni commented on #6672
Maybe the name safe/unsafe resulted in some confusion..
We can (should?) rename this to "GetAddressAndPubkey" and "ShowAddressAndPubkey".

Still, I would argue that there is not security risk. Nevertheless, I am happy to see a more in-depth analysis with a real exploit or vulnerability.

Anyway, I give a bit of background/context:

- Public keys are not consider in risk. When plug and unlock Ledge

[2020-07-10 19:43] alexanderbez commented on #6671
Took a look at https://github.com/phayes/freeport which seems to do the exact same thing we do. So what exactly is the issue and what is your proposal @odeke-em?

[2020-07-10 23:05] odeke-em commented on #6671
It is not blaming anyone or anything, I was just raising a problem that's common even in that library and that many people gloss over (which doesn't mean that it is alright to do, it can be incorrect even if the whole world does it) that when looking for addresses to run on, we first bind to an available port and then close it, hoping that it won't be reused. It is the liberty of the OS to reuse c

[2020-07-10 23:36] odeke-em opened #6687 "store/cachekv: descending *Iterators (aka cachekv.ReverseIterator) are untested nor is domain"
During an audit, store/cachekv has good unit test coverage. However, only ascending iterators are tested. We need to also test descending iterators and also unit test the results from domain.
____

## For Admin Use

- [ ] Not duplicate issue
- [ ] Appropriate labels applied
- [ ] Appropriate contributors tagged
- [ ] Contributor assigned/self-assigned

[2020-07-11 01:46] alexanderbez commented on #6671
All good!

A sentinel value? How would that work with picking a random available port? Can you post some pseudo-code perhaps?

[2020-07-11 06:47] odeke-em opened #6688 "rootmulti/internal/maps: can improve KVPair.(bB)ytes() performance by using only bytes slices instead of the bytes.Buffer invocations"
During an audit, I saw KVPair.(bBytes) shows up and is used when creating merkle hashes in store/rootmulti.

The relevant code looks like this:
### .bytes()
https://github.com/cosmos/cosmos-sdk/blob/e1476c1f9d6cc01c7b816e06faec822e2bfc0b98/store/rootmulti/internal/maps/maps.go#L64-L78

### .Bytes()
https://github.com/cosmos/cosmos-sdk/blob/e1476c1f9d6cc01c7b816e06faec822e2bfc0b98/store/rootmulti/i

[2020-07-11 08:13] #6545 closed

[2020-07-11 11:44] #6688 closed

[2020-07-12 00:08] #6501 closed

[2020-07-12 00:08] #6499 closed

[2020-07-12 00:08] #6182 closed

[2020-07-12 00:08] #6179 closed

[2020-07-12 00:09] #6176 closed

[2020-07-12 00:09] #6100 closed

[2020-07-12 00:09] #6075 closed

[2020-07-12 00:09] #6077 closed

[2020-07-12 00:09] #5983 closed

[2020-07-12 00:09] #5912 closed

[2020-07-12 00:09] #5911 closed

[2020-07-12 00:09] #5851 closed

[2020-07-12 00:09] #5818 closed

[2020-07-12 00:09] #5808 closed

[2020-07-12 00:09] #5802 closed

[2020-07-12 00:09] #5781 closed

[2020-07-12 00:09] #5798 closed

[2020-07-12 00:09] #5772 closed

[2020-07-12 00:09] #5736 closed

[2020-07-12 00:09] #5663 closed

[2020-07-12 00:09] #5679 closed

[2020-07-12 00:09] #5657 closed

[2020-07-12 00:09] #5598 closed

[2020-07-12 00:09] #5635 closed

[2020-07-12 00:09] #5596 closed

[2020-07-12 00:09] #5595 closed

[2020-07-12 00:09] #5592 closed

[2020-07-12 00:09] #5548 closed

[2020-07-12 00:09] #5371 closed

[2020-07-12 00:09] #5516 closed

[2020-07-12 00:09] #5257 closed

[2020-07-12 00:09] #5254 closed

[2020-07-12 00:09] #5217 closed

[2020-07-12 00:09] #5145 closed

[2020-07-12 00:09] #5139 closed

[2020-07-12 00:09] #5108 closed

[2020-07-12 00:09] #5085 closed

[2020-07-12 00:09] #5031 closed

[2020-07-12 00:09] #5028 closed

[2020-07-12 00:09] #5027 closed

[2020-07-12 00:09] #4978 closed

[2020-07-12 00:09] #4958 closed

[2020-07-12 00:09] #4957 closed

[2020-07-12 00:09] #4951 closed

[2020-07-12 01:59] alexanderbez commented on #6277
@marbar3778 why was this closed even though I added the `pinned` label?

[2020-07-12 09:15] marbar3778 commented on #6277
I think since the stale label wasn't removed. I'll look into it tomorrow

[2020-07-12 13:18] #5338 closed

[2020-07-12 13:26] #6680 closed

[2020-07-12 17:23] sahith-narahari commented on #5963
Adding cosmosd to sdk should tackle this, it's being tracked here https://github.com/cosmos/cosmos-sdk/issues/6521

[2020-07-12 19:46] dauTT commented on #5007
Note to self: After adding all the test cases remember to rename following files
1)  x/staking/simulation/operation_test.go =>  x/staking/simulation/operations_test.go
2)  x/slashing/simulation/operation_test.go =>  x/slashing/simulation/operations_test.go

[2020-07-13 00:09] #4929 closed

[2020-07-13 00:09] #4926 closed

[2020-07-13 06:38] marbar3778 commented on #4533
I believe this is being worked on as in process testing. We can close this

[2020-07-13 06:38] #4533 closed

[2020-07-13 07:22] marbar3778 commented on #4585
This is the goal of cosmjs. We can close this issue

[2020-07-13 07:22] #4585 closed

[2020-07-13 07:25] marbar3778 commented on #4623
If this issue is still applicable please reopen

[2020-07-13 07:25] #4623 closed

[2020-07-13 08:36] #4552 closed

[2020-07-13 10:11] odeke-em commented on #6681
I've mailed PR #6700, please take a look and thanks!

[2020-07-13 10:26] marbar3778 commented on #4695
Still applicable

[2020-07-13 10:49] #6681 closed

[2020-07-13 15:01] colin-axner opened #6703 "Add specs to ICS20"
## Summary

There are no specs for ICS20 atm, I think because the specs were added to IBC and then ICS20 was moved up a level.

Specs should be added following the [module specification structure](https://github.com/cosmos/cosmos-sdk/blob/master/docs/spec/SPEC-SPEC.md)

____

#### For Admin Use

- [ ] Not duplicate issue
- [ ] Appropriate labels applied
- [ ] Appropriate contributors tagged
- [ ]

[2020-07-13 20:15] aaronc commented on #6423
So there are a couple things I would like to do differently with these in process integration tests. I tried addressing this in the architecture call, but the conclusion was more or less that I had to show the approach with PRs and documentation. So I'm making an attempt as a starting point to explain what I would do differently here. Also, my original proposal was removed from the issue body and

[2020-07-13 20:26] alexanderbez commented on #6423
@aaronc your original proposal wasn't removed -- it's still in the body and commented out. I commented it out because what you're describing is of a different frame. What we have been working on thus far is needed and I believe the correct approach. What you're describing is, I believe, ancillary to test coverage and integration testing.

By all means, we should have a top-down, fully bootstrapped

[2020-07-13 21:28] ebuchman opened #6710 "Questions/clarifications about ADR-20"
First, I want to applaud the amazing work that went into ADR-20 and to thank everyone that participated in the long discussions in #6030 and #6078. Apologies for having not been more involved sooner. In trying to review all of that now, I find there is quite a lot discussed, and it is hard to get a clear summary of the various points. While they have obviously heavily informed the final design of

[2020-07-13 21:45] aaronc commented on #6423
#6711 is a small PR which makes these suites more reusable by apps.

I had wanted to allow the cmd's themselves to be based off of the root cli cmd too, but that's more involved and maybe the way it is actually okay. I need to think about it a bit more.

[2020-07-13 23:45] alexanderbez commented on #6710
We should address every single one of these questions on a call @aaronc

[2020-07-13 23:56] aaronc commented on #6710
Thanks for sharing your questions @ebuchman ! Happy to get on a call to discuss. But l also think a documented summary would be helpful. Most of these questions are l believe addressed at some point in the threads. But they were pretty long threads and hard to sift through. I’ll try to find some time to do that write up and of course let’s schedule a time to chat.

[2020-07-14 00:34] njmurarka commented on #5091
Still a problem in 0.38.5.

I am told this will be in 0.39.0.

[2020-07-14 06:50] YunSuk-Yeo opened #6714 "JSON Number Consistency"
## Summary of Bug

After updating cosmos-sdk@v0.38.x, some struct like [Account](https://github.com/cosmos/cosmos-sdk/blob/a65bcdd7e551ffc8414f58d85f00d74295a42864/x/auth/types/account.go#L264) or [RelegationResponse](https://github.com/cosmos/cosmos-sdk/blob/a65bcdd7e551ffc8414f58d85f00d74295a42864/x/staking/types/delegation.go#L301) are using json.Marshal() function on its custom MarshalJSON fun

[2020-07-14 07:32] alessio commented on #5091
Yes, https://github.com/cosmos/cosmos-sdk/pull/6340 addresses this and shall be relased with `v0.39.0`

[2020-07-14 08:21] marbar3778 commented on #4360
we can close this as simulation docs have been added

[2020-07-14 08:21] #4360 closed

[2020-07-14 08:28] marbar3778 commented on #4322
@aaronc is this possible with gRPC?

[2020-07-14 08:28] #1728 closed

[2020-07-14 08:43] #5846 closed

[2020-07-14 08:52] marbar3778 opened #6715 "kvstore: return errors on interface"
## Summary

Currently, the kvstore interface does not return errors: https://github.com/cosmos/cosmos-sdk/blob/dfee53a7766156252c2717217d3f170b527c4add/store/types/store.go#L174-L174 this means that the functions will panic on error. this should be modified to return errors instead of panicking. These errors should be bubbled up and handled somehow.

____

#### For Admin Use

- [x] Not duplicate i

[2020-07-14 09:40] colin-axner opened #6716 "Duplicate coins allowed in ParseCoins"
## Summary

Duplicate coins are not checked for in [`ParseCoins`](https://github.com/cosmos/cosmos-sdk/blob/5dfc4a2ec99eac3b672a6baa6a4dcf8599427605/types/coin.go#L634), but they are in [`NewCoins`](https://github.com/cosmos/cosmos-sdk/blob/5dfc4a2ec99eac3b672a6baa6a4dcf8599427605/types/coin.go#L140)

## Problem Definition

It was not specified in the godoc if this is intentional so I thought I wo

[2020-07-14 10:50] marbar3778 commented on #6714
@ethanfrey @webmaster128 Is this an issue in cosmjs?

[2020-07-14 11:14] webmaster128 commented on #6714
Both yaml and JSON support numbers > 53 bit in their spec. Unfortunately, many implementations convert them to IEEE 754 floats, making it impossible to operate on them without rounding errors.

JSON integer support > 53 bit
- are supported in: Python, Rust with serde-json, Go?
- are not supported in: JavaScript, jq

For fields that can exceed `Number.MAX_SAFE_INTEGER` (9007199254740991), the numbe

[2020-07-14 11:31] colin-axner commented on #6615
I can tackle this one

[2020-07-14 11:32] colin-axner commented on #6341
I can do this one

[2020-07-14 12:35] ethanfrey commented on #6714
I have seen account number and sequence change from int to string to int again. I just adapt the client parse logic.

I think both are fine (what Simon says), it is more updating your parsing code. (btw, what js lib is Terra using?)

[2020-07-14 13:05] alexanderbez commented on #6714
Why is YAML being discussed here? This has nothing to do with YAML perse. So a few things:

1. Queriers were **not** changed. They still return raw Amino-encoded JSON output.
2. Most types `Stringer` implementation, return YAML output -- i.e. human-readable text. This is the default response format in the CLI, but can opt to return JSON as well.

What you're stating has nothing to do with Text (YA

[2020-07-14 13:10] alexanderbez commented on #6715
So we could bubble them up, sure, but then you're just moving panicking upstream. There would be no error handling here, they'd panic regardless AFAIK.

[2020-07-14 13:11] alexanderbez commented on #6716
I'm not sure if there was rhyme or reason behind that, but probably it's just a bug. We need to be consistent above all else, so if `Coins` removes duplicates, then so should `DecCoins` (or vice versa).

[2020-07-14 14:20] aaronc commented on #4322
Yes, the .proto files cover all Msg and querier types. So I would consider this done and am marking as closed. It would be nice to also support introspection around a few other things like interface implementations and the store layout, but that's all being tracked elsewhere and is more nice-to-have.

[2020-07-14 14:20] #4322 closed

[2020-07-14 14:25] marbar3778 commented on #6715
I do believe they could be handled, depending on the error. This will cause a little bit of refactoring because more funcs will be returning errors instead of panicking.

These panics are present because we use to panic in tm-db and now we bubble up most to all errors.

[2020-07-14 14:32] alexanderbez commented on #6715
Right, but it boils down to where and why errors are returned. Assuming errors are not returned on missing values, which they're not AFAIK, there isn't a single error I can think of that you'd want to bubble up and handle gracefully. Errors on get/delete for example cannot be handled gracefully AFAIK.

[2020-07-14 14:36] marbar3778 commented on #6715
hmm okay, then I guess we can leave the panics. In 0.6.0 of tm-db we disallowed empty/nil keys and nil values but this shouldn't happen in the sdk.

Feel free to close this issue if you think its unnecessary then

[2020-07-14 15:14] okwme opened #6719 "Prevent modules from having Nil StoreKeys"
## Summary
Modules require a string StoreKey however currently don't throw any error if that StoreKey is `nil`. Is there any scenario where one would _want_ a `nil` StoreKey? If not should we add some error handling to prevent that? (I just debugged an app and the culprit was a `nil` StoreKey 😅)

## Problem Definition

StoreKey can be `nil`

## Proposal

Error check for `nil` StoreKey

____

####

[2020-07-14 15:33] alexanderbez commented on #6719
`nil` store keys should not be allowed. We should certainly have some check somewhere, probably at the highest level possible so we don't have to nil check everywhere.

[2020-07-14 15:40] okwme commented on #6719
Great! I can try to tackle this : )

[2020-07-14 16:39] okwme commented on #4322
Thanks @aaronc! What do you think about adding a new endpoint that serves up those protofiles? Then a developer / app just needs to know a node’s IP to scaffold up interactions.

[2020-07-14 16:47] aaronc commented on #4322
This probably covers most stuff @okwme: https://github.com/grpc/grpc/blob/master/src/proto/grpc/reflection/v1alpha/reflection.proto. But we also want to add an endpoint that lists all interface implementations (such as Msg's) and their corresponding .proto files.

[2020-07-14 16:50] okwme commented on #4322
Oh nice! This is already becoming possible 😍

[2020-07-14 17:00] aaronc commented on #4322
gRPC reflection probably won't be possible until #6463 is done. A reflection API that covers interfaces is actually pretty easy. Maybe I'll make a quick PR now.

[2020-07-15 00:08] #4916 closed

[2020-07-15 01:29] YunSuk-Yeo commented on #6714
@alexanderbez thanks for renaming the issue title. This is not the only thing that is inconsistent. When you request POST `/txs` to rest-server you have to put `uint64` variables as `String` not `Number`. But the response returns `uint64` as `Number`.

Ex) `gas` of `sdk.StdTx` has uint64 format
[code]

@webmaster128 agree on that two fields, but the sdk have more fields with uint64 data type in ea

[2020-07-15 05:39] zmanian commented on #4523
One thing related to this that pops into my head is that in ICS20 transaction the "memo" is set by the relayer and not the "sender". Exchanges that use "memo" to route transactions to their users account will run into problem if anyone send an ICS20 packet directly to them.

[2020-07-15 07:48] okwme commented on #4278
bump for myself

[2020-07-15 09:02] alessio commented on #4278
@okwme I've added the label `pinned`. You should not need to bump this ever again :+1:

[2020-07-15 11:04] odeke-em opened #6726 "codec: why do Amino*Packer and Proto*Packer implement the AnyUnpacker interface yet have odd signatures that don't use their destination value?"
Am doing an audit and it is quite confusing to see AminoPacker and ProtoPacker with mysterious signatures

For example:
#### ProtoJSONPacker
<img width="812" alt="Screen Shot 2020-07-15 at 3 55 18 AM" src="https://user-images.githubusercontent.com/4898263/87537266-327d2600-c64f-11ea-9dd7-27bf24817fce.png">

https://github.com/cosmos/cosmos-sdk/blob/6f928e1c4dffe0bec51736fca7fd5e8a5e7570d7/codec/ty

[2020-07-15 12:13] odeke-em opened #6727 "types: Coins.safeAdd is more complex than needed with separated 2 different counters for indices of the various slices being added, and hard to read nor check for correctness"
Coming here from an audit, I noticed the logic in Coins.safeAdd is quite hard to follow and uses 2 different counters for index i.e.
https://github.com/cosmos/cosmos-sdk/blob/6f928e1c4dffe0bec51736fca7fd5e8a5e7570d7/types/coin.go#L237-L288

and there is one case that isn't tested, which is when higher lexicographic values of denomination are passed in, in the first Coin slice than the other.

If w

[2020-07-15 12:52] alexanderbez commented on #6714
Yeah I guess that is pretty annoying. Hopefully, we'll be moving away from Amino JSON soon.

[2020-07-15 12:54] zebpay-peswani opened #6730 "Can not build testnet"
# Clone the gaia repo
`git clone https://github.com/cosmos/gaia.git`

# Work from the SDK repo
`cd gaia`

# Build the linux binary in ./build
`make build-linux`

[code]

[2020-07-15 13:13] odeke-em opened #6732 "scripts/protocgen.sh: figure out a way of exclude generated *pb.go files from coverage reports or add the magic // DONTCOVER to every generated file"
There is currently a bit of noise in coverage reports given that generated *.pb.go files are massive in comparison to normal files, so they reduce coverage reports. There is a trick to generating excluding .pb.go from generated coverprofiles i.e.

[code]
and then processing that, but perhaps let's get the protocgen.sh code to automatically insert that header.

## For Admin Use

- [ ] Not duplicate

[2020-07-15 13:18] aaronc commented on #6732
The easy way to do that is to enable testgen in the gogo proto wrapper

[2020-07-15 13:26] odeke-em commented on #6732
Thanks @aaronc for chiming in! Might you have some bandwidth for this? I don't have context for how to add it so I'll kindly defer to you.

[2020-07-15 13:32] #6341 closed

[2020-07-15 14:30] aaronc commented on #6732
Yeah, it's pretty trivial

[2020-07-15 14:31] anilCSE commented on #5917
Hub's exported state is ~52M in size, we might not need streaming genesis for stargate. We can address that later may be.

[2020-07-15 14:33] aaronc commented on #5917
Thanks @anilCSE.

So sounds like it's more of an issue for Terra possibly. @YunSuk-Yeo do you know the actual size of the exported Terra genesis.json file?

[2020-07-15 14:51] aaronc commented on #6726
The `UnpackInterfacesMessage` interface is one of the most unfortunate parts of the proto migration IMHO. There is an issue to rename it and clean it up a bit: #6226.

Unfortunately, I think the best alternative is 1) writing a custom code generator to handle this and 2) making upstream changes to go-amino to handle protobuf `Any`. Another alternative is polluting keeper logic with all of the seri

[2020-07-15 15:12] marbar3778 commented on #6732
they should be excluded already: https://github.com/cosmos/cosmos-sdk/blob/da5c6ced1dc0a3925f26653c24ba0934cce51f22/.codecov.yml#L49-L49

[2020-07-15 15:19] alexanderbez commented on #6726
While I understand the reservations, I'm actually in favor of this approach. Separating the API from the wire types is already something that we should strive for.

[2020-07-15 15:36] colin-axner commented on #6358
I can take this on as well as #6459 .

I will update the MsgAcknowledgement and MsgPacket type's as well as do a sweep of ibc and ibc-transfer events to ensure consistency and then update docs to reflect how to interact with them

[2020-07-15 15:39] aaronc commented on #6726
Whatever we do there should be a plan and reasons behind it. Just separating wire and API types because it's supposedly good practice is not a good enough reason. What do we gain? What do we lose?

If we were to go this route we would need a plan. It shouldn't be done blindly. For instance msg's, state and query are different levels of concern. gRPC query probably doesn't need it at all. State is

[2020-07-15 16:58] jjhesk opened #6735 "Concrete Registration"
sdk v0.38.5

How do i register my structs and interface when they are being shared to all other modules in the abci app. I got errors from the tx query from the name not being found.

[2020-07-15 17:05] aaronc commented on #6732
What do people feel about enabling gogo proto `testgen_all`: https://godoc.org/github.com/gogo/protobuf/plugin/testgen ? @alexanderbez ?

The wrapper is in https://github.com/regen-network/cosmos-proto. It's easy to update. As a separate issue, I think we should bring that wrapper into the main cosmos-sdk repo. We're not using `interface_type` anymore and can deprecate that. The code otherwise is

[2020-07-15 17:42] ebuchman opened #6736 "ClientState in x/ibc/07 diverges from that in ICS 07"
ClientState in x/ibc/07-tendermint looks like this:

[code]

While in the ICS 07 it looks like:

[code]

There also doesn't seem to be a protobuf file.

Should this divergence be reconciled? It seems things were added in the code that were necessary and that needs to be updated in the spec?

But also `Header` field in the code is a full on SignedHeader and ValidatorSet, so it includes the full Hea

[2020-07-15 17:53] alexanderbez commented on #6732
Both sound like good things to pursue.

[2020-07-15 22:41] antoineherzog commented on #4581
Hi Guys,
We would need to have this feature as well :)

[2020-07-16 00:50] clevinson commented on #6584
I'm having trouble keeping up with the influx of notifications from this change, and I'm wondering if now is actually not the best time to have made this switch (while undergoing 0.40 release, etc.)

I'd like to propose reverting these changes and starting with a large triage of old issues once Stargate is out hte door, and once we've cleaned up the majority of the old historical pieces, we then t

[2020-07-16 03:22] hanjukim commented on #6714
I think this inconsistency came with https://github.com/cosmos/cosmos-sdk/commit/82a2c5d6d86ffd761f0162b93f0aaa57b7f66fe7
In my opinion, this is a case of a wrong update. Some modules use the Amino marshaller, some use the JSON marshaller, and so many programs and developers will suffer from this problem.

[2020-07-16 04:00] YunSuk-Yeo commented on #6714
@alexanderbez now I understand the problem is not YAMl, it is on custom JSON Marshaler. I updated the issue description. Can you see the fixed issue?

Here is summary,

[Account custom JSON Marshaler](https://github.com/cosmos/cosmos-sdk/blob/a65bcdd7e551ffc8414f58d85f00d74295a42864/x/auth/types/account.go#L264) is using json.Marshal, but [other parts](https://github.com/cosmos/cosmos-sdk/blob/5f6

[2020-07-16 05:24] dokwon commented on #5917
@aaronc Our exported genstate for Columbus-3 (December last year) was around 500M. Assuming filesize growth is linear to account number growth that would imply a Columbus-4 genstate fillesize of > 1GB. The first block took a good 2 minutes for the fastest validators to process, and a lot longer for most others.

While I understand that the Hub would not have similar issues, think the SDK developme

[2020-07-16 07:44] fedekunze commented on #6168
This seems relevant: https://payid.org/

[2020-07-16 08:00] fedekunze commented on #6736
@cwgoes

[2020-07-16 08:05] marbar3778 commented on #6584
sure, I dont have a preference.

I dont think it has been a large burden as there is a few of use going through old issues, but fine with reverting it

[2020-07-16 09:06] YunSuk-Yeo opened #6745 "Can't query multisig account"
## Summary of Bug

Current account querier return MarshalJSON(Account) when it receive account query. A cli program, which request the account info, do UnmarshalJSON  like [Here](https://github.com/cosmos/cosmos-sdk/blob/ab162a6d38671f1a16201a24d83d800f58653a41/x/auth/types/account_retriever.go#L44). In this process, the cli program return error because multisig pubkey is longer than the length wh

[2020-07-16 09:23] YunSuk-Yeo commented on #6745
Seems this is due to https://github.com/cosmos/cosmos-sdk/blob/5f6e499565fbe0e8f76355798cfb44de668a171e/x/auth/types/account.go#L182

[2020-07-16 09:37] webmaster128 commented on #6714
I agree. A generic solution should use strings for inetegers. Otherwise you run in big trouble like

[code]

[2020-07-16 10:04] YunSuk-Yeo commented on #6714
Other issue from the same code #6745

[2020-07-16 10:11] colin-axner commented on #6735
I'd suggest asking these sorts of questions on the [community chat](https://discord.com/invite/AzefAFd). You'll get a responsive and detailed reply/support.

Since you are on the 0.38 line, you probably need to register your types on the amino codec. (here is an example of that [usage](https://github.com/cosmos/cosmos-sdk/blob/5f6e499565fbe0e8f76355798cfb44de668a171e/x/bank/internal/types/codec.go

[2020-07-16 10:11] #6735 closed

[2020-07-16 10:53] jjhesk commented on #6735
thanks. it was resolved by the defaultTxDecode function

[2020-07-16 11:08] webmaster128 commented on #6745
It is not a problem of the decoder. [The bech32 spec has a hard length limit of 90 characters](https://github.com/bitcoin/bips/blob/master/bip-0173.mediawiki#bech32). I.e. such long data should never be stored as bech32 in the first place.

[2020-07-16 12:21] cwgoes commented on #6736
The client state should only need to store the latest validator set, I believe. cc @AdityaSripal is that wrong?

I've added `TrustLevel`, `MaxClockDrift`, and `ProofSpecs` to the spec in https://github.com/cosmos/ics/pull/447.

[2020-07-16 13:08] ancazamfir opened #6747 "Inconsistency between ConnectionEnd in ICS vs cosmos-sdk"
## Summary of Bug
`ConnectionEnd` in ICS does not have the "local" connection ID while it is included in cosmos-sdk implementations and the `ConnectionEnd` included in query responses (included in the protobuf definitions).
For channels, `ChannelEnd` in ICS matches the `Channel` in cosmos-sdk in the sense that "local" parameters (port-id and channel-id) are not included there. For queries that ret

[2020-07-16 13:44] alexanderbez commented on #6745
@YunSuk-Yeo custom JSON Marshaling does not exist for the `BaseAccount` anymore. In anything, we need to backport this to 0.38/0.39, but it's technically a breaking API change.

[2020-07-16 13:44] alexanderbez commented on #6745
I'm going to close this issue and defer to @alessio on how to treat 0.38/0.39.

[2020-07-16 13:44] #6745 closed

[2020-07-16 13:45] alexanderbez commented on #6714
Yeah since we're using Amino still, I suppose any custom JSON marshaling should use strings for numbers.

[2020-07-16 13:53] colin-axner commented on #6358
How did you get the relayer to printout events? I'd like to try reproducing the above logs

[2020-07-16 14:10] marbar3778 opened #6748 "simd: ./build/simd panics"
## Summary

I am getting a panic when running ./build/simd.

[code]

[2020-07-16 14:31] #6657 closed

[2020-07-16 14:58] alexanderbez commented on #6745
Fix on 0.39: https://github.com/cosmos/cosmos-sdk/pull/6749

[2020-07-16 15:04] alexanderbez commented on #6748
Not sure what you ran or on what commit, but simd works fine. I successfully created and started a 1-node network locally.

[2020-07-16 15:04] #6748 closed

[2020-07-16 17:10] aaronc opened #6751 "Launchpad (0.39) to Stargate (0.40) migrate command"
The `migrate` command in `x/genutil/client/cli/migrate.go` does migration of genesis state from one version to the next version. The existing migration scripts there should be used as examples. We will need to look at the 0.39 branch and pull any differences into folders like `x/bank/legacy/v0_38`. It is expected that the differences for stargate will be relatively small. We will likely want to te

[2020-07-16 20:07] aaronc commented on #6710
`SIGN_MODE_DIRECT` does verification based on encoded binary bytes. Because protobuf serialization is not guaranteed to be deterministic we cannot guarantee that implementations always serialize messages the same way. The raw bytes fields in `SignDoc` and `TxRaw` facilitate ensuring that the same bytes that are signed are the same bytes that are broadcast. This issue was raised many times and I ev

[2020-07-17 00:50] aaronc commented on #6584
I would prefer it being off because it’s a huge flood of notifications to triage every few days. I’d like to be able to spend time on grooming all that stuff after stargate. Of course if you guys have it under control maybe it’s okay.

[2020-07-17 00:59] YunSuk-Yeo commented on #6745
Thanks for launch pad update!

[2020-07-17 08:02] njmurarka opened #6756 "query txs is exhibiting incorrect/odd behaviour when the --limit is > 100"
## Summary of Bug

When I use the "query txs" command with the CLI, I get rather strange behaviour when the limit is set over 100. This bug report might in fact be about two separate bugs but I filed it as one as they seem very related and may in fact have the same cause.

For example:

blzcli query txs --events='message.sender=bluzelle1efcg25eunec76u4q63es8lpj73mwytcfr0s7sl' --node tcp://localhos

[2020-07-17 08:42] #3327 closed

[2020-07-17 08:50] #3386 closed

[2020-07-17 10:12] colin-axner commented on #6358
Ok so I've done a bit of digging and I think the main issue here is this line:

`"message.action":["update_client","ics04/opaque"],`

message actions are released once per message making it very useful in marking where message events begin and end. However, I initially found it very confusing why there were two values for message.action since each event is a type (message), attribute key (action),

[2020-07-17 10:25] colin-axner commented on #6358
opened an issue on [tendermint](https://github.com/tendermint/tendermint/issues/5133)

[2020-07-17 10:52] colin-axner commented on #6736
yea, there is no proto file because 02-client migration is blocked on Tendermint

[2020-07-17 10:54] cwgoes commented on #3023
This is still applicable, albeit low-priority.

[2020-07-17 10:56] colin-axner commented on #6747
cc @cwgoes

just a thought, should there be a relayer ICS spec? I think that could be useful in defining which query functions would need to be supported and other relayer related standards that ease application and TAO integration.

[2020-07-17 10:57] cwgoes commented on #3817
Still applicable.

[2020-07-17 14:06] #6584 closed

[2020-07-17 15:19] housemobile commented on #3251
Trying to make sense of all this. I was pointed here when expressed discontent that I had unmovable dust staked. Look at any validator here: https://kava.bigdipper.live/validator by delegations.

You'll see a number have decimal places down to the 21 places.

When you unbond or redelegate Max or All, it still leaves the dust.

Would be nice to be able to transact all.

[2020-07-17 15:23] #6617 closed

[2020-07-17 16:38] alexanderbez commented on #3251
@housemobile the "dust" you're referring to would not be settled by using `sdk.Dec` AFAIK. The "dust" comes from the mechanics of x/distribution and x/staking. In fact, using `sdk.Int` can and does reflect fractional amounts.

[2020-07-17 16:42] odeke-em opened #6760 "types: *FromBech32 functions return zero value and nil error on the blank string yet consumers blindly use them to search"
## Summary of Bug
Coming here from auditing x/staking/client, I’ve noticed that many of the types.*BechFrom32 functions return their zero value and no error given the empty string.

https://github.com/cosmos/cosmos-sdk/blob/5c86ecd1f89c169a2383c04ac81f01cabc9b63fb/types/address.go#L120-L123

https://github.com/cosmos/cosmos-sdk/blob/5c86ecd1f89c169a2383c04ac81f01cabc9b63fb/types/address.go#L265-L2

[2020-07-17 16:54] odeke-em commented on #6760
Seems like this was intentionally added in https://github.com/cosmos/cosmos-sdk/pull/2601 and there was a discussion of hesitation in https://github.com/cosmos/cosmos-sdk/pull/2601/files#r228766301. Perhaps this is the day of reckoning in which a misuse can happen and is seen in the wild, from the blind trust of the API being consistent to return:
* (zero value, non-nil error)
* (usable value, nil

[2020-07-17 17:24] odeke-em opened #6762 "types: Uint64ToBigEndian is invalid both in buffer size, and should use n to clip off limit"
## Summary of Bug
Noticed via my audit, Uint64ToBigEndian’s code https://github.com/cosmos/cosmos-sdk/blob/5c86ecd1f89c169a2383c04ac81f01cabc9b63fb/types/utils.go#L53-L57

makes a byte buffer of 8, but for uint64 we should be using 10. Also that code ignores the value returned after binary.BigEndian.PutUvarint and returns unconditionally 8 byes, but really should use the result from n

It should b

[2020-07-17 17:30] odeke-em commented on #6762
Actually I rescind this issue. My eyes scanned and saw PutUvarint instead of PutUint64. Sorry for the false alarm.

[2020-07-17 17:30] #6762 closed

[2020-07-17 18:09] dauTT opened #6763 "TruncateDecimal() output is not correct"
## Summary of Bug

The output of `TruncateDecimal` is not correct because the first output (`truncatedCoins`) is a slice of coins whose ordering very much dependent from the coins name. This creates a dependency with the name of the coins which is not good.

## Version
master branch: latest commit

## Steps to Reproduce

for more details we can examine this test:
[code]
in the above case we believ

[2020-07-17 18:28] alexanderbez commented on #6763
I'm not sure what you mean by dependency? Coins are always returned in sorted order, regardless of the API.

[2020-07-17 18:42] alexanderbez commented on #6760
Yeah from reading that convo again, I'm not sure why we didn't return an error -- we should return an error on empty addresses. Also, I'd hardly consider this a DoS vector.

[2020-07-17 19:01] dauTT commented on #6763
There is a test case in #6764, which is failing only because I change the name of the token.

[code]

[2020-07-17 19:18] alexanderbez commented on #6763
Can you elaborate on how it's failing? Also, I've commented on that PR, you have to use `NewDecCoins`, please don't use Coins/DecCoins literals, use their constructors. We created them for this reason.

[2020-07-17 19:47] dauTT commented on #6763
At some point we are subtracting the `commission` to the `outstanding`. The operation `Sub` seems to be dependent from the ordering of the coins slice (`[]DecCoin`). It the ordering of the `commission` changes the operation failed. But `TruncateDecimal` does not seems to preserve the ordering of `commission` correctly.

![image](https://user-images.githubusercontent.com/30392990/87824170-0c38cf80-

[2020-07-17 19:56] dauTT commented on #6763
@alexanderbez ,

using `NewDecCoins` will fix this issue. :smile:

[2020-07-17 20:00] alexanderbez commented on #6763
Awesome! Can we close this issue?

[2020-07-17 20:02] dauTT commented on #6763
Yes, please.

[2020-07-17 20:06] #6763 closed

[2020-07-17 20:06] alexanderbez commented on #6756
Thanks for submitting this @njmurarka -- I'm looking into it.

[2020-07-17 20:26] alexanderbez commented on #6756
Did some digging and turns out this limitation comes directly from Tendermint: https://github.com/tendermint/tendermint/blob/257a374b78251c6f88c76b2ff892c5cd30f304c8/rpc/core/env.go#L117. Nothing we can do in the SDK. I'll move this issue over there to continue discussion.

[2020-07-17 20:27] #6756 closed

[2020-07-17 21:14] aaronc commented on #6760
This is super confusing. Why would we allow empty strings to be valid addresses at all? I see there's an issue and PR to add this, but why? If it's empty then, we should just return an error, right?

[2020-07-18 03:58] odeke-em opened #6766 "types/simulation: RandomFees should try to select as many non-zero coins and then return (nil, error) instead of trying once and (nil, (*error)(nil))"
The code in https://github.com/cosmos/cosmos-sdk/blob/e59781eca7d2a0bba2e47b0834299d30fb25b75e/types/simulation/account.go#L70-L75
only tries to get a coin once and gives up if the coin is zero.

However, the spot that it is used seems to only check `err != nil`. I think that what we should do is use [rand.Perm](https://golang.org/pkg/math/rand/#Perm) and then return a non-nil error on failure so

[2020-07-18 14:27] Kwaskoff opened #6776 "org.freedesktop.DBus.Properties in CLI!?"
## Summary of Bug
when I need save keys

[code]

CLI need GUI library, r u joking me?

## Steps to Reproduce

https://github.com/cybercongress/go-cyber/blob/master/docs/run_validator.md#prepare-a-staking-address

____

## For Admin Use

- [ ] Not duplicate issue
- [ ] Appropriate labels applied
- [ ] Appropriate contributors tagged
- [ ] Contributor assigned/self-assigned

[2020-07-19 00:33] ValarDragon opened #6779 "Add readme.md to sub-folders"
## Summary

Add README.md to sub-folders on github, that explains what is in the directory, and has a redirect link to any applicable docs / specs.

## Problem Definition

When looking at the SDK code, the responsibility of each folder is not immediate. For instance, it is very unclear from just the name, what `/server` or `/crypto` are doing. Adding a readme that explains what you expect to see i

[2020-07-19 00:36] ValarDragon opened #6780 "Refactor: Move ledger code to its own subfolder"
## Summary

Currently there are 5 files related to the ledger in `/crypto`. A minor change that I think improves overall codestructure would be to move all of these to their own subfolder `/crypto/ledger`.

____

#### For Admin Use

- [ ] Not duplicate issue
- [ ] Appropriate labels applied
- [ ] Appropriate contributors tagged
- [ ] Contributor assigned/self-assigned

[2020-07-19 01:00] odeke-em opened #6781 "client: parseQueryPath, isQueryStoreWithProof are untested, duplicate logic and brittle/rigid in format"
Coming here from an audit, client.parseQueryStorePath and client.isQueryStoreWithProof are untested, yet is in the path of querying the ABCI and verifying proofs.

The source code to both looks like this
### isQueryStoreWithProof
https://github.com/cosmos/cosmos-sdk/blob/13b5a8d670fd9854d104ff75a5d8b5853239de15/client/query.go#L198-L215

### parseQueryStorePath
https://github.com/cosmos/cosmos-sdk

[2020-07-19 05:37] odeke-em opened #6782 "types: inconsistency in concurrency safety where Config.Set* methods aren't concurrency safe while an assert is protected by a mutex"
An inconsistency I've noticed during an audit. Config has a mtx field which is a sync.RWMutex aka read-write mutex.
The method assertNotSealed is covered by a mutex
https://github.com/cosmos/cosmos-sdk/blob/13b5a8d670fd9854d104ff75a5d8b5853239de15/types/config.go#L69-L76
and that method performs reads on a variable -- should be mtx.R*Lock() instead of mtx.Lock()

When we look at the methods that u

[2020-07-19 08:01] odeke-em opened #6783 "x/upgrade/keeper: Keeper.ReadUpgradeInfoFromDisk doesn't check unmarshal error thus will let it in any malformed file"
Noticed via an audit, the code in Keeper.ReadUpgradeInfoFromDisk invokes json.Unmarshal but doesn't check any failures. This means that there will be silent failures that we'll never catch. The code is
https://github.com/cosmos/cosmos-sdk/blob/13b5a8d670fd9854d104ff75a5d8b5853239de15/x/upgrade/keeper/keeper.go#L199-L200

It should perhaps be
[code]

## For Admin Use

- [ ] Not duplicate issue
- [

[2020-07-19 09:24] marbar3778 commented on #6748
not sure if im missing something but i am still getting panics on `./build/simd`. I run `make build` then `./build/simd/` and  and get the same above panic

[2020-07-19 09:37] odeke-em opened #6784 "x/simulation: (*StandardLogWriter).PrintLogs() creates files but never closes them, but also the os.Create should check that error"
## Problems
* Noticed via an audit, the code from (*StandardLogWriter).PrintLogs()  requests for *os.File but never closes it
https://github.com/cosmos/cosmos-sdk/blob/13b5a8d670fd9854d104ff75a5d8b5853239de15/x/simulation/log.go#L36-L47

* We should be checking that the error returned after os.Create(filepath) checks an error and panics if non-nil
https://github.com/cosmos/cosmos-sdk/blob/13b5a8d6

[2020-07-19 09:39] odeke-em commented on #6784
Even better, perhaps we need to remove that harded "/" separators to make it
[code]

[2020-07-19 09:44] odeke-em opened #6785 "x/params/types: KeyTable.RegisterType reflect.Type dereferencing should use a for loop and not a single dereference"
Noticed in an audit, the code in KeyTable.RegisterType does this
https://github.com/cosmos/cosmos-sdk/blob/13b5a8d670fd9854d104ff75a5d8b5853239de15/x/params/types/table.go#L48-L53

but really should do
[code]

____

## For Admin Use

- [ ] Not duplicate issue
- [ ] Appropriate labels applied
- [ ] Appropriate contributors tagged
- [ ] Contributor assigned/self-assigned

[2020-07-19 09:54] odeke-em commented on #6785
Ditto for Subspace.checkType https://github.com/cosmos/cosmos-sdk/blob/13b5a8d670fd9854d104ff75a5d8b5853239de15/x/params/types/subspace.go#L155-L158

[2020-07-19 10:11] odeke-em opened #6786 "types: removeZeroCoins algorithm mutates the original slice"
Noticed via code audit, there is a bunch of code that mutates slices in place, but really does mutate underlying slices for example
https://github.com/cosmos/cosmos-sdk/blob/13b5a8d670fd9854d104ff75a5d8b5853239de15/types/coin.go#L547-L561
that's a bug!

That code mutates the underlying slice, but really we should create a copy first, and then mutate that one or simply remove the extra state and ma

[2020-07-19 10:30] odeke-em commented on #6786
Ditto for removeZeroDecCoins https://github.com/cosmos/cosmos-sdk/blob/3123d07ad9a12f40374f19bbeb02eeb207c54c26/types/dec_coin.go#L558-L571

We really perhaps should be aiming for correctness than cleverness in reducing memory. The code with the extra state has more state, isn't readable. The suggestion to keep it simple is more legible, correct and efficient.

[2020-07-19 10:52] sahith-narahari commented on #4527
@alexanderbez do you think this can be added to sdk, and set as true or false in genesis. Few zones may be intrested to use this

[2020-07-19 10:53] odeke-em opened #6787 "x/gov/types: ProposalStatus.Marshal and ProposalStatus.Unmarshal look suspiciously invalid"
The definition of ProposalStatus is `type ProposalStatus int32`. The code for it, just converts int32 directly to a single byte. While the range of enumerations for ProposalStatus might be within 255, it is quite the invalid way to proto *arshal int32 as per
https://github.com/cosmos/cosmos-sdk/blob/3123d07ad9a12f40374f19bbeb02eeb207c54c26/x/gov/types/proposal.go#L177-L186

but really we should be

[2020-07-19 11:46] odeke-em opened #6788 "x/genutil: CollectStdTxs's code will trip out on the first directory in the genTxsDir because it doesn't correctly skip directories"
While auditing the code in CollectStdTxs, I noticed this code

https://github.com/cosmos/cosmos-sdk/blob/3123d07ad9a12f40374f19bbeb02eeb207c54c26/x/genutil/collect.go#L102-L112

that code is fragile in a few ways:
a) If the element being looked is a directory, this code is going to fail and return an error, yet really it shouldn't
b) It unnecessarily requests for filepath.Join

We should fix this

[2020-07-19 21:44] fedekunze commented on #6780
cc: @alessio

[2020-07-19 21:46] fedekunze commented on #6779
yeah, agree. At least we should have a doc.go file too

[2020-07-19 22:49] dauTT commented on #6663
Hi, can I work on this?

[2020-07-20 07:30] fedekunze commented on #6663
@dauTT Yes please!

[2020-07-20 07:54] cwgoes commented on #6747
Hmm, strictly speaking, the connection end does not need to store the local connection ID since it is part of the key.

Is there a reason we need to store this in the SDK?

[2020-07-20 07:55] cwgoes commented on #6378
Further specification in https://github.com/cosmos/ics/pull/447.

[2020-07-20 07:59] cwgoes commented on #6736
Why does the client need to store its own identifier (`ClientID`)? That should be in the key, no? cc @AdityaSripal

[2020-07-20 07:59] colin-axner commented on #6358
I think this issue in relation to basic relaying of TAO packets isn't significant so I will update the docs on a conceptual overview of relaying TAO packets based on events.

[2020-07-20 08:02] colin-axner commented on #6747
probably convenience, I can take this change on

[2020-07-20 08:12] odeke-em opened #6790 "server: CPUProfiling over the entire lifetime of the server aka until a signal is received is fallacious and should instead profile per period"
The code in https://github.com/cosmos/cosmos-sdk/blob/b3838394e73e0abab76035f02e444f40dade3b4f/server/start.go#L242-L267

when toggled with --cpu-profile will start CPU profiling, but unfortunately the resulting output file will NOT be usable until pprof.StopCPUProfile() is invoked, which is at the end of the lifetime of the server, or when a signal is received. I believe if folks want continuous

[2020-07-20 08:13] fedekunze commented on #6736
it's part of the interface. It technically doesn't need to tho

[2020-07-20 09:24] alessio commented on #6780
IMHO Ledger-related amount of code is too small for it to justify the creation of another directory (ref: https://about.sourcegraph.com/go/idiomatic-go#tiny-package-syndrome)

[2020-07-20 09:51] jgimeno opened #6792 "Simd fails to write Wal file while WAL flush."
## Summary of Bug

Once the simd is running and arrives to the point it executes a "Periodic WAL flush" it fails with:

[code]

probably due to default home directories.

## Version

Actual master branch.

## Steps to Reproduce

Build simd:

./simd init --chain-id=testing testing
./simd keys add validator
./simd add-genesis-account $(./simd keys show validator -a) 1000000000stake,1000000000validat

[2020-07-20 11:32] cwgoes commented on #6736
It would be nice to remove it in my opinion, since it's confusing to store the same data in two distinct places.

[2020-07-20 11:35] cwgoes commented on #6747
Splendid, thanks. Just cleaner to avoiding duplicating data, I think.

[2020-07-20 12:00] ancazamfir commented on #6747
For "query all connections" query, the `id` along `ConnectionEnd` is useful. For channels there is the `IdentifiedChannel` struct.

[2020-07-20 12:02] cwgoes commented on #6747
We can create an analogous `IdentifiedConnection`, I expect.

[2020-07-20 12:42] #6615 closed

[2020-07-20 14:40] alexanderbez commented on #6748
`make build` doesn't build any binary @marbar3778. You need to run `$ make build-simd`. Then, execute `./build/simd`. It should work correctly. If it does not work for you, please past your commit hash.

[2020-07-20 14:42] marbar3778 commented on #6748
ah would be nice if this was documented. I couldn't find anything on build-simd in any docs so I assumed build did it.

[2020-07-20 14:44] alessio commented on #6782
Yeah I totally agree

[2020-07-20 14:44] alexanderbez commented on #6785
Thanks @odeke-em, but please explain why you propose making these changes.

[2020-07-20 14:53] alexanderbez commented on #4527
Of course, that's why the issue is still open, just not enough bandwidth to tackle it. We also need to implement this in such a way that allows applications to opt-in this functionality, because for example, in Gaia, this would need to go through a gov proposal I think. Let's slate this for 0.41.

[2020-07-20 15:03] alexanderbez commented on #6790
Mhhh I don't really think we want this -- we did it this way intentionally.

[2020-07-20 15:07] alexanderbez commented on #6792
This seems awfully suspicious. Why do you think this has anything to do with the default home directory? It got to block 320 w/o any issues, right? So why would all of a sudden the home directory cause issues? Also, have you been able to successfully replicate this behavior?

[2020-07-20 15:13] jgimeno commented on #6792
The label was a mistake, I wrote sim for simd but I took simulation. I will change it.

It fails on block 320 when writing the wal in the folder:

[code]

I did not set this folder, but was the working dir while executing simd, so it tries to save in .data/cs.wal/wal so if I did not go nuts looks like is taking . by default, it is common on the FlagHome problems we had. (Maybe it is not, but it lo

[2020-07-20 15:25] alexanderbez commented on #6792
Yeah my hunch is that the WAL is flushed to disk periodically. I'm still not quite following the issue at hand though. Is your node properly saving files/data to the correct directory? If so, why is the WAL here special?

[2020-07-20 15:43] jgimeno commented on #6792
Let me try it again but directly, I was executing it through cosmosd.

I just opened the issue to have it notified somewhere, just not to forget that maybe is a potencial bug. Needs more investigation.

I can take a look at it when finishing the cosmosd task I am doing. I added new steps to reproduce it.

Even starting from scratch throws this error:

[code]

I dont know if this gives a hint.

[2020-07-20 15:51] alexanderbez commented on #6792
Might be! I'd look at `InterceptConfigsPreRunHandler`. I think we need to add a `SetRoot` call

[code]

[2020-07-20 16:01] alexanderbez commented on #6792
Yeah, confirmed that was the issue. I'm going to close this as I've added the simple one-liner in https://github.com/cosmos/cosmos-sdk/pull/6797.

[2020-07-20 16:01] #6792 closed

[2020-07-20 16:02] jgimeno commented on #6792
Thanks @alexanderbez !!

[2020-07-20 16:05] #6719 closed

[2020-07-20 18:18] odeke-em commented on #6785
Sure. If value is a pointer to a pointer. Given that NewParamSet allows a value, someone could pass in a pointer to a pointer for example https://play.golang.org/p/a4V9cwsWeop or inlined below
[code]
which prints
[code]

[2020-07-20 20:22] alexanderbez commented on #6785
Although we don't have any types like this, it seems safer 👍

[2020-07-21 07:21] antoineherzog commented on #4581
@alessio any help :) ?

[2020-07-21 09:19] jleni commented on #4581
This is planned as part of the next release, however, we are working with Ledger on some additional features that require some bigger changes, so it will take a bit of time.

[2020-07-21 13:56] alexanderbez commented on #6423
Going to close this issue. Although not all modules have 100% test coverage of CLI commands, we're very close and all modules have been used to the revised CLI structure.

[2020-07-21 13:56] #6423 closed

[2020-07-21 13:56] #6571 closed

[2020-07-21 14:03] alexanderbez commented on #6563
Just to be clear, this isn't slated for Stargate atm, which means clients will not be able to verify proofs. If they make queries against their own nodes (which is the default behavior), then I think this might be OK for now.

[2020-07-21 14:47] marbar3778 opened #6807 "should Tx & Txsearch always be provable"
In https://github.com/cosmos/cosmos-sdk/pull/6805 trust node and lite verifier were removed due to not being supported in Tendermint anymore. With this change Tx & TxSearch are awlays set to `provable: true` :

https://github.com/cosmos/cosmos-sdk/blob/d1c221c15af6902efc9eaf6089f9f36c84e37d1f/x/auth/client/query.go#L79-L79 & https://github.com/cosmos/cosmos-sdk/blob/d1c221c15af6902efc9eaf6089f9f36

[2020-07-21 14:48] colin-axner opened #6808 "Update to typed IBC events"
## Summary
see [comment](https://github.com/cosmos/cosmos-sdk/pull/6798#discussion_r458139752).

This would ideally happen in all of the ibc module as well as the ibc-transfer module. Documentation would need to be added to the relayer guide to give example interaction with consuming the events

____

#### For Admin Use

- [ ] Not duplicate issue
- [ ] Appropriate labels applied
- [ ] Appropriate

[2020-07-21 14:54] antoineherzog commented on #4581
Great!

One question,

are we going to have signed message spec like Ethereum where we can verify the message against the address and not the full pubkey? That would be great :)

[2020-07-21 14:54] antoineherzog commented on #4581
@jleni

[2020-07-21 14:55] marbar3778 commented on #6563
Could this be added in a patch release(minor)? I know its a new feature but could be useful

[2020-07-21 15:23] alexanderbez commented on #6563
Possibly, yes.

[2020-07-21 16:56] #6358 closed

[2020-07-21 16:56] #6459 closed

[2020-07-21 17:41] ethanfrey commented on #6571
Great job bez!

Looking forward to the new cli

[2020-07-21 23:52] iramiller commented on #6786
This is an interesting and subtle bug.  Easily fixed by adding a couple unit tests that correctly show the fault, then the changes outlined above to resolve.  I can submit a PR for this.

[2020-07-22 03:13] odeke-em commented on #6790
How long are servers meant to run for?

[2020-07-22 04:36] iramiller commented on #4657
This proposal would be perfect for a use case I have that is currently solved with a custom account type handled by a module. That approach isn’t as nice as these sub account though with respect to permissions, iterators/grouping, etc.   Hopefully this approach can also allow the subaccounts to be selectively blacklisted (see #5371).

[2020-07-22 07:53] whylee259 commented on #6197
As @marbar3778 says. this issue is not done. I agree with him.
PTAL @alexanderbez

[2020-07-22 13:33] alexanderbez commented on #6790
As long as the operator wants to get sufficient profiling. It's not meant to run alongside a long-living process.

[2020-07-22 13:37] alexanderbez commented on #4657
We can slate this for 0.41

[2020-07-22 13:38] alexanderbez commented on #6197
What do you mean it's not done? I pointed to the PR that completes the work => https://github.com/cosmos/cosmos-sdk/pull/5952

[2020-07-22 13:39] odeke-em commented on #6790
I kindly need sufficient information to rule out if this a bug or not as my
audit’s context is evaluating where things could go wrong. Can it happen
that the server runs for days, weeks, months, years with profiling turned
on? If so perhaps this library needs to warn users about that file being
unusable until they exit and send a signal. I build products for
observability and continuous profiling

[2020-07-22 13:50] ValarDragon commented on #6780
The point of the tiny-package syndrome was to argue that 1-2 file large packages aren't a great idea in some cases.

Here the ledger code is the majority of the directory, which is unexpected functionality imo of this top level dir. Its responsiblity at the moment is Handling encoding of things to disk (armor*.go), handling encoding (amino.go, test_encoding.go), explaining what its sub-directories

[2020-07-22 13:55] alexanderbez commented on #6790
This isn't a bug. It's completely up to the operator to decide how long to profile for.

[2020-07-22 13:59] #6747 closed

[2020-07-22 14:38] jgimeno commented on #6500
docs/basics/accounts.md has to be updated too, I think the Keybase api changed a little since then.

[2020-07-22 15:16] alessio commented on #6780
OK, I think you have a point @ValarDragon. I'll take care of the migration shortly

[2020-07-22 15:16] alexanderbez commented on #6732
Can we close this issue?

[2020-07-22 15:48] #5292 closed

[2020-07-22 16:22] #6783 closed

[2020-07-22 16:51] #6780 closed

[2020-07-22 17:05] ValarDragon commented on #6780
Thanks!

[2020-07-22 22:32] AdityaSripal commented on #6736
Looked into removing the Header, and realized it cannot be removed completely:

https://github.com/cosmos/cosmos-sdk/blob/master/x/ibc/07-tendermint/update.go#L92

The last `SignedHeader` we submit to the client is needed as the "TrustedHeader" in the `lite.Verify` function. It seems reasonable to me to keep just the last signed header in the clientstate, rather than storing every trusted header f

[2020-07-22 22:52] dauTT commented on #5007
I believe this task can be closed unless someone else wants to add more test cases. :smile:

[2020-07-23 00:07] clevinson opened #6822 "Audit Protobuf package names & update RegisterInterface calls"
As discussed in a number of other threads, the `cosmos/cosmos.proto` package can probably get split out so that not so much is lying in the root `cosmos` package.

References:
- https://github.com/cosmos/cosmos-sdk/pull/6713#pullrequestreview-450824539
- https://github.com/cosmos/cosmos-sdk/pull/6413#pullrequestreview-432693522

Additionally, we should update `RegisterInterface` calls, which had n

[2020-07-23 02:07] aaronc commented on #6822
Also we want to:
- make sure making is clear and consistent
- decide if any packages should be alpha or beta

[2020-07-23 02:19] #5007 closed

[2020-07-23 11:04] colin-axner opened #6826 "update make proto-gen JSON naming"
## Summary

Proto JSON naming should use underscores and not camelCase.

## Problem Definition

While beginning migration to proto from amino in IBC, we noticed that the JSONMarshal was creating field names with camel case. This was because the json tag in the autogenerated protobuf go code was using camel case and not underscores. See [comment](https://github.com/cosmos/cosmos-sdk/pull/6819#discu

[2020-07-23 11:49] marbar3778 commented on #6826
is there a flag to do this on the protoc cmd?

[2020-07-23 11:56] colin-axner opened #6827 "IBC Transfer incorrectly identifies denomination origin chain"
## Summary of Bug

`ibc-transfer` incorrectly derives the source chain from the transfer amount denomination. If the portID/channelID are the same on both chains then it believes the transfer always is coming from the source.

It also only derives the source from the first amount's denomination. If a transfer wanted to send coins, one being say denomA being from chain A and denomB being from chain

[2020-07-23 13:13] alexanderbez commented on #6826
There is a misunderstanding here I think -- Protocol Buffer JSON encoding, i.e. via `jsonpb` will use camel-case because that is the Protobuf protocol. underscore-cased JSON is still added to the generated types (e.g. look at any file), but those tags are only used when using the Go stdlib or Amino.

e.g.

[code]

Notice here, there is `json` and `protobuf.json`.

[2020-07-23 13:28] alexanderbez opened #6828 "Launchpad (0.39) Migration"
In Launchpad 0.39 we last-minute introduced, and rightfully so, a change to `BaseAccount` where we removed the custom JSON marshaling because Bech32 doesn't play nicely with multisig addresses.

We need to update 0.39 migration:

[code]

The migration here is meant to be 0.40 and so should be bumped.

/cc @alessio @jgimeno

____

## For Admin Use

- [ ] Not duplicate issue
- [ ] Appropriate labels

[2020-07-23 13:46] cwgoes commented on #6736
Hmm, this won't work e.g. with https://github.com/cosmos/ics/issues/420, unless we can reconstruct the `SignedHeader` from a `ConsensusState` (and possibly extra provided data, e.g. validator public keys, that we can validate against a hash). Is that possible?

[2020-07-23 15:20] cwgoes opened #6830 "Consider allowing empty version strings"
The ICS specifications do not prohibit empty version strings for channels, but the SDK does - any reason why? Empty versions are safe, as long as they are agreed upon.

[2020-07-23 15:35] #5444 closed

[2020-07-23 16:07] fedekunze commented on #6830
ah, I didn't know they were valid. I guess I'm used to rejecting empty strings on the validation functions. We can change it 👍

[2020-07-23 17:48] AdityaSripal commented on #6736
We could... As far as I can tell the `lite.Verify` function uses the following fields from the trustedHeader:

`Height`, `Time`, `NextValidatorsHash`

Now `Height` and `Time` are already part of `ConsensusState`, and adding `NextValidatorsHash` to `ConsensusState` isn't a big deal. We can leave the other fields zeroed out, it's fine because `Verify` doesn't do any validation of the trustedHeader s

[2020-07-23 17:51] AdityaSripal commented on #6827
We already check that only one denom is sent in a packet here:

https://github.com/cosmos/cosmos-sdk/blob/master/x/ibc-transfer/keeper/relay.go#L154

Will need to read through your other finding in more detail

[2020-07-23 17:56] aaronc commented on #6826
We can disable the camel casing in the ProtoCodec with a small flag and l would actually be in favor of that. The default proto json camel casing is in my mind pointless and it’s just a bad specification.

[2020-07-23 18:36] alessio opened #6831 "Support Rosetta API"
Please provide Cosmos SDK app developers with an implementation of the [Rosetta API specifications](https://github.com/coinbase/rosetta-specifications) and enable Cosmos SDK applications to provide support for Rosetta clients.

More information:
* [Rosetta Go SDK](https://github.com/coinbase/rosetta-sdk-go)
* [Code examples](https://github.com/coinbase/rosetta-sdk-go/tree/master/examples)
* [Oasis

[2020-07-23 18:56] colin-axner commented on #6827
Hmm, the [createOutgoingPacket](https://github.com/cosmos/cosmos-sdk/blob/e6a56226a88ec4e8761b1388a3a666af627d9e2e/x/ibc-transfer/keeper/relay.go#L88) conflicts in logic with a far loop on amounts. We should just use sdk.Coin if you can only have a single amount.

[2020-07-23 20:16] alexanderbez commented on #6826
@aaronc I defer to you on this. If you think this is advisable, then please reopen this issue.

[2020-07-23 20:18] alexanderbez commented on #6831
I took a look at the API spec and it seems very straightforward. I would propose that we write up an ADR first on how to write and expose this API. My initial intuition is that we have a separate versioned Resetta API that runs alongside the existing API server.

[2020-07-23 20:26] aaronc commented on #6826
Does anyone actually prefer the camel casing (`connectionId` vs `connection_id`)? If not it's a one line PR to disable it.

[2020-07-23 20:30] alexanderbez commented on #6826
No, I hate seeing camel-case in JSON and given that the stlib uses snake-casing, I'd opt for consistency above all else.

[2020-07-23 21:04] dauTT commented on #5113
Hi, I see that @preminem was working on this issue and created a PR to a separate branch. Why the PR request was not merge to the master branch?

[2020-07-23 21:09] alexanderbez commented on #5113
Don't bother @dauTT -- the legacy API is being deprecated. However, you can verify that we have these handlers for the gRPC service. If not, feel free to add them!

[2020-07-23 21:30] cwgoes commented on #6736
I think that would be preferable.

[2020-07-23 22:16] #6826 closed

[2020-07-24 08:26] milosevic commented on #6736
We have discussed with Josef that we are missing some fields in Client and Consensus State so header verification (as part of update) can be done correctly. We will also need to make some changes to checkMisbehaviourAndUpdateState to be able to verify if submitted data is a valid fork. I would suggest creating an issue in IBC repo and do the work first there (as it will most probably leader to ICS

[2020-07-24 10:41] josef-widder commented on #6736
@cwgoes: When you create an issue in the IBC repo, could you please tag me there so that I can participate in the discussion? I am working on light client specs both for light nodes and IBC. Thanks!

[2020-07-24 10:46] marbar3778 commented on #6831
Something to think about with Rosetta is how to support old chains as well. For the cosmos hub there have been three upgrades that have been for zero height. If an exchange wants to query something from a previous chain how will they do that? A wrapper around the old rest APIs may be needed but then the question is about uniqueness of blocks and height.

Some this may need to be added to the adr s

[2020-07-24 13:31] alexanderbez commented on #6831
I don't think we'd support "uniqueness" of block heights across previous chains. Also, is it a hard requirement that we add this for _all_ major hub versions? If so, where is this documented. @zmanian @jackzampolin

[2020-07-24 13:34] jackzampolin commented on #6831
Support for hub 4 would be the first goal here. Legacy chain support is a nice to have a this point.

[2020-07-24 15:35] aaronc opened #6837 "Remove HybridCodec"
# Motivation

`HybridCodec` provides hybrid protobuf binary marshaling and amino JSON marshaling in a single type. It seemed like a good idea to me when we first did the state migration because it allows queriers to still use amino JSON. But it's just messy in other ways because the CLI and genesis should use the same encoding as everything else (either proto or amino). And it just feels wrong.

S

[2020-07-24 15:39] alexanderbez commented on #6837
ACK

[2020-07-24 15:43] zmanian commented on #6837
Ack

[2020-07-24 17:39] #6284 closed

[2020-07-24 22:11] ebuchman commented on #6736
Might also be nice for the light.Verify to take a new LightHeader struct or Header interface which only exposed the relevant fields it needed cc @melekes

[2020-07-25 16:15] zmanian commented on #6831
Could we get a decision if Rosetta support will be native or via shim/proxy like Oasis's support?

[2020-07-26 00:02] alessio commented on #6831
The feedback I received was along the lines of `we should develop this as a module`. I tend to agree with that. Plus:

I fully agree on prioritization - no doubt we shall develop a module for `master` first, yet IMHO support for older cosmos hubs is more than a nice to have. There is quite some interest in the community re: tools for accounting and reconciliation of data that spans across all the

[2020-07-26 01:24] alexanderbez commented on #6831
Can you define module? I would propose that we simply create a small package, `rosetta`, which should provide a concise, configurable, and clean API to expose Rosetta compliant data.

[2020-07-26 07:41] fadeev commented on #6831
A Cosmos SDK module that exposes `:1317/rosetta/*` endpoints and uses SDK functionality to send and recieve data that conforms to the Rosetta spec. If it is implemented as a module, it will be easy to import into a chain, it will launch with a "REST" server and won't depend on the existing `:1317` API (in contrast with a standalone server, which will).

[2020-07-26 16:13] jjhesk opened #6848 "ERROR: While parsing config: (1, 23): parsing error: no value can start with \"
## Summary of Bug

## Version
sdk v0.38.5
centos 8.1 64

## Steps to Reproduce
add-genesis-account cosmos3333333 212mdod,10000000cdollar,100000000stake --trace

got error `ERROR: While parsing config: (1, 23): parsing error: no value can start with \`
____

## For Admin Use

- [ ] Not duplicate issue
- [ ] Appropriate labels applied
- [ ] Appropriate contributors tagged
- [ ] Contributor assigned/

[2020-07-26 23:41] odeke-em opened #6850 "[fuzz] codec: ProtoCodec.UnmarshalBinaryLengthPrefixed returns "proto: integer overflow" for a struct that was properly MarshalBinaryLengthPrefixed'd before"
#  Summary of Bug
Coming here from fuzzing ProtoCodec, I generated a serialized version of a struct that was successfully produced by ProtoCodec.MarshalBinaryLengthPrefixed
Given this program
[code]
where proto definitions in testutil/testdata/proto.proto are
[code]
Running this program produces
[code]

and this input
<details>

[code]
</details>

## Version

## Steps to Reproduce

____

## For Ad

[2020-07-26 23:55] alexanderbez commented on #6831
I see. We should then stick with "package" nomenclature, in the traditional Golang sense, here instead and not "module" as that can lead to confusion as "modules" have a special meaning in the SDK.

I do not see any merit to having a Rosetta compliant API be served as a standalone server. There are currently three "servers" already: legacy, gRPC, and gRPC HTTP Gateway, with gRPC HTTP gateway repla

[2020-07-26 23:58] alexanderbez commented on #6848
Sorry @jjhesk, but `config` is deprecated and needs to be removed.

[2020-07-26 23:58] #6848 closed

[2020-07-27 00:04] odeke-em opened #6851 "[fuzz] codec: ProtoCodec.UnmarshalBinaryLengthPrefixed returns "unexpected EOF" for a struct that was properly MarshalBinaryLengthPrefixed'd before"
#  Summary of Bug
Coming here from fuzzing ProtoCodec, I generated a serialized version of a struct that was successfully produced by ProtoCodec.MarshalBinaryLengthPrefixed
Given this program
[code]
where proto definitions in testutil/testdata/proto.proto are
[code]
Running this program produces
[code]

and this input
<details>

[code]
</details>

## Version

928f7fccff1d574c5a23f3584e539aae74c840

[2020-07-27 00:35] jjhesk commented on #6848
what do you mean? @alexanderbez

[2020-07-27 01:00] odeke-em opened #6852 "[fuzz] codec: ProtoCodec.MarshalJSON can serialize structs with fields that won't then be UnmarshalJSON'd due to invalid strings"
#  Summary of Bug
Coming here from fuzzing ProtoCodec, I generated a serialized version of a struct that was successfully produced by ProtoCodec.MarshalJSON'd
Given this JSON that was created from a fuzzed struct
[code]

and the following program to unmarshal it and compare
[code]
where proto definitions in testutil/testdata/proto.proto are
[code]
Running this program produces
[code]

## Version

[2020-07-27 06:23] jjhesk commented on #6848
Is this related to https://github.com/cosmos/cosmos-sdk/issues/6782 because I am still using 0.38.5 for the dependency.. Please let me know..

[2020-07-27 06:48] jjhesk commented on #6848
resolved because there was a corrupted app.toml file. since it has been modified by the script.
settings for the key files.

The correct settings.
[code]

[2020-07-27 09:18] ethanfrey commented on #6852
Good find.

That is a big test struct. Can you remove parts of it until there is a minimal testcase? I assume it is from one of the name or payment strings, but which?

[2020-07-27 10:59] odeke-em commented on #6193
I've mailed out PR https://github.com/cosmos/cosmos-sdk/pull/6854, with the exception here that am
a) firstly considering the use of protobuf marshaled types.Any since it looks types.Any.Pack(proto.Message) is the main usage of types.Any and so the proposed algorithm doesn't directly translate. However, adding also JSON support might be trivial and will use the same scans and can be transparently

[2020-07-27 12:41] colin-axner commented on #6827
ics spec has been [updated](https://github.com/cosmos/ics/issues/454)

[2020-07-27 13:37] alexanderbez commented on #6848
Specifically, this command is no longer supported in `master` and the upcoming release.

[2020-07-27 15:39] aaronc commented on #6850
Thanks @odeke-em. Are you able to work on a fix? If not I'll make sure our team gets to it.

[2020-07-27 15:47] aaronc commented on #6852
Thanks odeke-em. Agreed that a minimal test case will help. Will you be taking this on or should we?

[2020-07-27 15:47] aaronc commented on #6851
Seems related to #6850. I wonder if they're related.

[2020-07-27 17:29] odeke-em commented on #6790
Thank you for showing me how to run a simapp and to explore how it is started, I noticed that in the Makefile there are directives on how to profile it and how it works and thus that gives me context as to why this is the way it is. Would be nice to add documentation, but otherwise no longer a biggie as I can rule that -cpuprofile is meant to be used for the course of the app running (as you've me

[2020-07-27 17:29] #6790 closed

[2020-07-27 23:18] aaronc opened #6863 "Address SIGN_MODE_LEGACY_AMINO_JSON security issues"
`SIGN_MODE_DIRECT` addresses malleability by signing raw bytes. Amino JSON signing requires extra care to deal with malleability.

In order to prevent exploits, we need to:
- [ ] reject all unknown protobuf fields (#6192), non-critical fields cannot be enabled with amino JSON signing
- [ ] make sure that all new fields on `TxBody` either have a direct counterpart in `StdTx` or cause transactions t

[2020-07-28 07:49] #6663 closed

[2020-07-28 10:17] #6786 closed

[2020-07-28 11:45] cwgoes commented on #6736
My understanding of the state of affairs - https://github.com/cosmos/ics/issues/456.

[2020-07-28 15:12] cwgoes opened #6868 "Remove acknowledgement length limit"
Unless there is some concern I haven't thought about, https://github.com/cosmos/cosmos-sdk/blob/master/x/ibc/04-channel/types/msgs.go#L467 is unnecessary, the transaction size limitations should be sufficient, acknowledgements are not stored anywhere (only the hash is stored).

[2020-07-28 15:28] #6828 closed

[2020-07-29 04:41] clevinson commented on #6837
We should also make sure to remove references to HybridCodec from [ADR019](https://github.com/cosmos/cosmos-sdk/blob/master/docs/architecture/adr-019-protobuf-state-encoding.md), and make any related updates.

[2020-07-29 06:18] odeke-em opened #6875 "codec: encodeUvarint is unnecessarily expensive and can radically improve ProtoCodec.MarshalBinary's performance"
Noticed while conducting my audit. The code in codec/proto_codec.go encodeUvarint is used once yet, uses a bytes.Buffer and then writes. This function is hot and will be used a whole lot, thus we need to ensure we can squeeze out as much performance as we can wring out to always keep this infrastructure performant and efficient.

The code in question is
https://github.com/cosmos/cosmos-sdk/blob/80

[2020-07-29 10:46] #6868 closed

[2020-07-29 14:39] #6875 closed

[2020-07-29 17:23] jackzampolin commented on #6831
I think having a standalone shim server would be nice especially for supporting for prior versions. Don't think this is a cosmossdk `module`, more of a go package as @alexanderbez mentions.

[2020-07-29 20:15] aaronc opened #6886 "Use protobuf public key in BaseAccount"
As a temporary measure in #5682, we decided to use amino-encoded bytes for the `BaseAccount` `pub_key` in protobuf. We can't cut a release without fixing this.

We have a `cosmos.crypto.PublicKey` proto type which we can use on `BaseAccount`.

The biggest glitch is that the `AccountI` interface has `Get/SetPubKey` methods which take `crypto.PubKey` interfaces.

I see two solutions:
1. change `Acco

[2020-07-29 20:35] alexanderbez commented on #6886
I also believe that approach (1) is the cleaner and more intuitive approach. Let's go with that if we can.

[2020-07-29 22:26] aaronc commented on #6886
PubKey bech32 encoding is still using amino. I'm assuming we should update that as well to use protobuf?

[2020-07-29 22:27] aaronc commented on #6886
Oh no... the whole keyring is still using amino. What do we do? Leave it like that?

[2020-07-29 22:57] dauTT commented on #6830
Hi, can I work on this?

[2020-07-29 23:00] fedekunze commented on #6830
Thanks @dauTT. Ping me if you need any guidance

[2020-07-29 23:13] alexanderbez commented on #6886
Yikes! I would rather avoid using Amino in the Keybase in favor of Proto if we can. However, this may require too much work before Stargate.

I would consider, instead:

1. Quickly tweak `keys add` to save key material using Proto such that the existing logic can tell the difference between amino-encoded vs proto-encoded key material (e.g. using a byte prefix or something). This paves the way for

[2020-07-29 23:16] aaronc commented on #6886
Can someone explain how bech32 pubkeys are used? That's one hard piece of this refactoring.

[2020-07-29 23:22] alexanderbez commented on #6886
We need to avoid Bech32 pubkey encoding at all costs.

[2020-07-29 23:24] aaronc commented on #6886
Oh so we can just delete that code?

[2020-07-29 23:32] alexanderbez commented on #6886
Which code specifically?

[2020-07-29 23:59] aaronc commented on #6886
`Bech32ifyPubKey` and all that other pub key stuff in types/address.go

[2020-07-30 01:35] odeke-em opened #6887 "x/auth/ante, x/bank/keeper: should DeductFees be checking for empty coins, given that IsValid for len(coins) == 0 always returns true?"
Am auditing code and in many places I see that there is code that allows SendCoins to proceed even with len(coins) == 0. Those checks only check that Coins.IsValid() and then proceed to setup and make transfers. Unfortunately though even after those calls proceed, one can't even know if their call was even successful, for example:
https://github.com/cosmos/cosmos-sdk/blob/72ebafeecadba67a39d3ebe1d

[2020-07-30 03:42] AdityaSripal opened #6888 "Replace clientexported.Height with proto Height"
Currently the abstract Height is implemented as a struct in `client/exported`, this must be turned to a proto struct during the 02-client migration.

Once, this is done then the workaraound of including `epochNumber` and `epochHeight` as two separate uint64 fields in the proto files of connection and channel, can be replaced by just the `Height` proto message.

ref #6686, #6630

[2020-07-30 04:22] odeke-em opened #6889 "x/auth/types: CountSubKeys inexplicably returns 1 when the public key isn't of type multisig.PubKeyMultisigThreshold yet naturally counts otherwise"
The code in question is
https://github.com/cosmos/cosmos-sdk/blob/72ebafeecadba67a39d3ebe1df8a24d85409ea18/x/auth/types/stdtx.go#L128-L140

Why does it return the magic number 1 if pub is not of the required yet, yet in the positive case is actually recursively counts subkeys. I don't see a test to affirm this behavior and could perhaps return random behavior. If this logic is intended, at least l

[2020-07-30 05:35] odeke-em opened #6890 "x/auth/ante: SigGasConsumeDecorate.AnteHandle can let a signature with a nil public key go to sigGasConsumer and it could successfully sign or disruptively panic"
Noticed while auditing the code in sigCasConsumeDecorator.AnteHandle only checks that if pubKey == nil and we are in simulation mode, that's when a key is set to a default per
https://github.com/cosmos/cosmos-sdk/blob/72ebafeecadba67a39d3ebe1df8a24d85409ea18/x/auth/ante/sigverify.go#L138-L140

Otherwise, if we are deployed and someone maliciously uses a blank public key, that code falls through. T

[2020-07-30 11:21] amaury1729 opened #6896 "Make signing types less confusing"
## Summary

Refactor all the types we have in the code related to signing.

## Problem Definition

The signing code is, to put it euphemistically, slightly confusing. This is in part due to the fact that for some pieces of data, we have 2 types representing them:
- one wire type (aka encoding types, defined in .proto files)
- one application type (aka a `type ... interface/struct` that's ergonomic

[2020-07-30 13:47] alexanderbez commented on #6886
Yeah all of that should be removed IMHO.

[2020-07-30 13:53] alexanderbez commented on #6887
WRT to case (B), it is completely valid to send empty/zero coins. In fact, many validators send empty/zero fees all the time. WRT to case (A), it is also completely valid.

[2020-07-30 14:00] alexanderbez commented on #6889
A non-multisig, i.e. a regular signature, it naturally a count of 1. If it is a multisig, then it recursively calls it on its pubkeys. The number one isn't magic here.

[2020-07-30 14:24] aaronc commented on #6886
Great 👍 . Now the question is how to serialize the `BaseAccount` yaml. That is what was using bech32 pubkeys. Any ideas?

[2020-07-30 14:28] aaronc commented on #6890
But it only falls through if the `simulate` flag is `true`. Otherwise, the `pubKey` will only be `nil` if it is `nil` on the account. It doesn't matter what the transaction passes in. I'm not seeing a bug here.

[2020-07-30 14:34] aaronc commented on #6889
Is this just missing a test @odeke-em ? The logic looks correct to me.

[2020-07-30 14:34] alexanderbez commented on #6896
Thanks @amaurymartiny!

[2020-07-30 14:47] alexanderbez commented on #6886
so the `String` method of `BaseAccount` should just Proto-encode the pubkey?

ie.
[code]
?

[2020-07-30 14:48] #6890 closed

[2020-07-30 14:49] aaronc commented on #6886
Alright because it's the proto `PublicKey` we can just use proto JSON. That makes sense.

[2020-07-30 14:54] odeke-em commented on #6889
It could use a comment as to why that 1, and a test of sorts indeed would
be nice but just the comment that Aleksander explaining that logic would
suffice for me.

On Thu, Jul 30, 2020 at 7:34 AM Aaron Craelius <notifications@github.com>
wrote:

[2020-07-30 14:57] odeke-em commented on #6890
pubKey will only be nilif it is nil

The opposite. When simulate is set, and pubKey is nil, it’ll get set to a
default. Okay that’s quite odd to me that nil public keys are allowed IMHO
as that’ll cause the crash that I described. I guess the logic and
expectations are obvious to the folks working on it, but triggers my alarms
for seemingly important fields that are core to the transaction.

On Th

[2020-07-30 15:14] alexanderbez commented on #6889
Is recursive function lingo, returning `1` is the base-case -- i.e. when a key has no sub-keys. If tests are lacking, we should certainly add more tests/cases!

[2020-07-30 16:05] amaurymartiny opened #6901 "x/bank's ExportGenesis is not deterministic?"
## Summary of Bug

CI shows some rarely-happening bug related to ExportGenesis being undeterministic.

## Version

For example, Github Action running on 2da954f:
https://github.com/cosmos/cosmos-sdk/runs/924499225#step:5:111

## Steps to Reproduce

It's hard to reproduce, happens rarely. Anyways:
- x/banks's genesis_test creates a dummy `[]Balance`
- calls ExportGenesis right after,
- and compares

[2020-07-30 16:53] alexanderbez commented on #6901
Should we be sorting `expectedBalances` or calling the same business logic on it?

[2020-07-30 16:56] aaronc commented on #6901
We could just fix the test to use `require.Contains` and `require.Len` rather than `require.Equals` if it is deterministic.

[2020-07-30 17:06] alexanderbez commented on #6901
But it should be deterministic. Either it's not sorted or something. What am I missing?

[2020-07-30 22:25] aaronc commented on #6890
It's getting set from BaseAccount not the transaction. It will only get set to the default if the BaseAccount has no pubkey. Am I missing something?

[2020-07-31 08:20] dauTT commented on #6901
As mentioned by @alexanderbez , if we sort the `expected` and the `àctual` balances the output will be deterministic.

[2020-07-31 09:03] amaurymartiny commented on #6822
A proposal i'd like to make is: for each module, create a separate `tx.proto` or `msg.proto` to hold the Msgs that each module can send. So

[code]

After #6872, iiuc, we will add module-specific transaction services in each module, so these services will also go in `tx.proto`, next to the Msgs

[2020-07-31 09:52] amaurymartiny commented on #6831
I'm also in favor of a shim/proxy server.

tbh long-term, I'd even go as far as removing grpc-gateway, legacy rest, and grpc-web-proxy from the cosmos sdk, and put them all in this proxy. We'd only keep the grpc server in this repo.

My reasons are:
- Keep the cosmos sdk as lean as possible, for various reasons.
- Separation of concerns. I saw @ethanfrey recently adding a flag for allowing CORS fo

[2020-07-31 10:17] ethanfrey commented on #6831
I am fully in support of a roseta proxy, that can run out-of-process from a node. Whether it is in the same repo or a different one... I have no real opinion.

However, we cannot *only* support this, as there are many custom modules that will never be properly captured/exposed in roseta. Roseta is designed for exchanges not custom apps. I see the utility of `grpc-gateway, legacy rest, and grpc-web

[2020-07-31 10:22] amaurymartiny commented on #6831
No strong opinion about a separate repo or not. I was proposing a separate optional binary.

No, actually only 2 binaries: one for the node (the current `{my_app}d`), and one proxy which contains configuration for grpc-gateway+web-proxy+rosetta+legacy.

[2020-07-31 11:41] jgimeno commented on #6831
I am all in for their own repo and a standalone. But we can provide the abstracted service in case a developer wants to embed it in their own binary if they need.

Similar as how it is done with the RPC.

This is an ugly draft of how could this package look like in orange is what can be included in the new repo. A developer instead of using the standalone binary can import this package into its pr

[2020-07-31 13:46] alexanderbez commented on #6831
Looks reasonable @jgimeno. But again, I want to stress that I'd personally would avoid the necessity to have two binaries -- we literally just put in a bunch of work to have everything run from a single binary.

The legacy API is being ditched in the next release. That leaves us with gRPC running automatically in-process with the app. The gRPC gateway will also be started automatically in-process

[2020-07-31 16:55] #6478 closed

[2020-07-31 18:43] dauTT commented on #6760
Hi, can I work on this?

[2020-07-31 19:24] alexanderbez commented on #6760
Yes pls @dauTT 🙌

[2020-07-31 19:41] dauTT commented on #6830
We should re-open this issue, because we forgot to remove this piece of code:

![image](https://user-images.githubusercontent.com/30392990/89071234-8fc6e600-d376-11ea-9c73-c8874f06b5d5.png)

[2020-07-31 20:31] #6522 closed

[2020-08-01 07:45] jgimeno opened #6908 "Problem building simapp."
## Summary of Bug

When starting local network and executing the command gentx instead of saving it to the fila to later collect gentxs it tries to connect with the node.

[code]

## Version

## Steps to Reproduce

[code]

@alexanderbez @aaronc
____

## For Admin Use

- [ ] Not duplicate issue
- [ ] Appropriate labels applied
- [ ] Appropriate contributors tagged
- [ ] Contributor assigned/self-as

[2020-08-01 09:16] #6827 closed

[2020-08-01 15:43] faddat opened #6910 "Update Readme"
While browsing the repository, I noticed that the README made it sound like Gaia was still pre-launch.

I also noticed that it linked to the scaffold tool, which doesn't seem to be moving forward any longer.

I figure it might make sense to replace the information about the scaffold tool with information about starport and add a few blockchains that are already in production.

[2020-08-02 04:40] odeke-em commented on #6781
PR https://github.com/cosmos/cosmos-sdk/pull/6805 by @marbar3778 removed parseQueryPath, so case closed.

[2020-08-02 04:40] #6781 closed

[2020-08-02 12:55] toml01 opened #6916 "Error gets overridden when using `code: 1`"
## Summary of Bug

In module errors, error with code 1 gets overridden with `internal error`, despite it being in another codespace.
Shouldn't it consider the codespace?
https://github.com/cosmos/cosmos-sdk/blob/master/types/errors/abci.go#L161

## Version

v0.38.3

## Steps to Reproduce

Create an error with code 1.
Take for e.g. [CosmWasm's module errors](https://github.com/CosmWasm/wasmd/blob/m

[2020-08-02 15:13] #6679 closed

[2020-08-02 15:16] alexanderbez commented on #6916
https://github.com/cosmos/cosmos-sdk/blob/master/docs/building-modules/errors.md#registration

[2020-08-02 15:16] #6916 closed

[2020-08-02 19:28] dauTT commented on #6901
In the `EportGenesis` function, we are lopping over a map:

![image](https://user-images.githubusercontent.com/30392990/89130606-76ed3a80-d506-11ea-9714-2883b424cfd9.png)

looping over a map does not preserve ordering. Here is a an example:
https://play.golang.org/p/SNu7YY2smJl

So, I am favor to just fix the test following perhaps the suggestion of @aaronc , or using `require.ElementsMatch`.
If y

[2020-08-02 20:18] #6785 closed

[2020-08-03 07:50] #6830 closed

[2020-08-03 08:54] amaurymartiny commented on #6901
Is just fixing tests enough? Shouldn't we remove the looping over a map?

If I run twice `gaiad export`, it might generate two jsons with different orderings of the `app_state.bank.balances` array, which means these 2 genesis states will have different root hashes.

[2020-08-03 09:11] migueldingli1997 commented on #6168
The ixo blockchain has an `IxoDid` type implemented which is worth checking out:
https://github.com/ixofoundation/ixo-blockchain/blob/master/x/did/exported/did.go#L36-L41

It is currently modelled after [Sovrin DIDs](https://sovrin-foundation.github.io/sovrin/spec/did-method-spec-template.html) where the identifier is derived from an Ed25519 verification key. The ixo blockchain takes things a step

[2020-08-03 11:16] colin-axner commented on #6566
to do's
- [ ] migrate 23-commitments to proto (define Any for each interface)
- [ ] migrate localhost client state to proto

[2020-08-03 11:39] #6649 closed

[2020-08-03 13:39] aaronc commented on #6901
I agree @amaurymartiny we need to fix the ExportGenesis so that it's deterministic not just the test.

[2020-08-03 14:13] aaronc commented on #6908
Oops! That's not good

[2020-08-03 14:18] dauTT commented on #6901
Hi @sahith-narahari , would you like to continuing your PR?  If the `balances` variable is sorted by `Addresses` and `Coins`, then the `ExportGenesis` function is deterministic.

[2020-08-03 17:55] alessio commented on #6831
@alexanderbez dixit:

That sounds sensible to me.

@amaurymartiny dixit:

Please, please let's not pack proxying and load balancing together. Really, they are two entirely distinct features (especially load balancing would be completely out of scope of any cosmos-sdk binary).

[2020-08-03 19:47] #6863 closed

[2020-08-04 06:41] #6908 closed

[2020-08-04 07:54] colin-axner opened #6930 "Store Validator Set Hash in tendermint consensus state"
## Summary

See [review comment](https://github.com/cosmos/cosmos-sdk/pull/6873#discussion_r463492481).

____

#### For Admin Use

- [x] Not duplicate issue
- [x] Appropriate labels applied
- [x] Appropriate contributors tagged
- [x] Contributor assigned/self-assigned

[2020-08-04 09:05] #6736 closed

[2020-08-04 10:14] gsora opened #6931 "v0.39 auth migration panics with v0.38 accounts"
## Summary of Bug

Cosmos-SDK v0.39 migrations panics when migrating a v0.38 genesis file, because `v038.RegisterCodec()` [registers `BaseAccount` under the wrong name](https://github.com/cosmos/cosmos-sdk/blob/v0.39.1-rc1/x/auth/legacy/v0_38/types.go#L527):

[code]

While Cosmos-SDK v0.38.x [declares](https://github.com/cosmos/cosmos-sdk/blob/v0.38.5/x/auth/types/codec.go#L15) registers `BaseAcco

[2020-08-04 10:16] gsora commented on #6931
@alessio @alexanderbez @ethanfrey

[2020-08-04 13:06] amaurymartiny commented on #5921
The above item was checked, I just unchecked it:
- there's no flag for gRPC right now
- https://github.com/cosmos/cosmos-sdk/blob/e9534b093575f4d7edb201ba9b2c3738c7e4ad14/server/config/config.go#L147-L148

Should we add specific flags for that? `--grpc.enable` and `--grpc.address`? BTW I don't see flags for other server configs such as API server and telemetry, only the [toml config](https://githu

[2020-08-04 13:59] alexanderbez commented on #6931
Thanks! I already made the suggestions in the 0.39.1 PR -> https://github.com/cosmos/cosmos-sdk/pull/6921

If you don't mind, I'll close this.

[2020-08-04 14:06] alexanderbez commented on #5921
@amaurymartiny the [toml config](https://github.com/cosmos/cosmos-sdk/blob/master/server/config/toml.go), as you've pointed out, is the defacto place for such configuration. Having complementary CLI flags is a plus, but not a hard requirement. i.e we should address it, but it's non-blocking as they can be added in future point releases.

I noticed we have gRPC configuration but the toml file was n

[2020-08-04 14:09] alessio commented on #6931
This should now be fixed in `v0.39.1-rc2`: https://github.com/cosmos/cosmos-sdk/releases/tag/v0.39.1-rc2

Reoening this while awaiting fix verification.

[2020-08-04 14:11] alessio commented on #6931
I'm assiging to @gsora (Commerc.io) for bugfix validation. Can you do this @gsora?

[2020-08-04 14:13] gsora commented on #6931
Validated, no more crashes with `rc2`.

[2020-08-04 14:31] alessio commented on #6931
Thanks @gsora. Hence closing.

[2020-08-04 14:31] #6931 closed

[2020-08-04 15:58] aaronc commented on #6886
There are a few other complexities I'm running into. Using the protobuf `PublicKey` will make it so that `BaseAccount` cannot be amino marshaled at all including JSON because `PublicKey` is implemented as a proto `oneof`. We added amino compatibility for `Any`s but not `oneof`s... Not sure how to address this.

A few options:
* break amino JSON for `BaseAccount` altogether (including legacy querie

[2020-08-04 16:02] aaronc commented on #6886
Another thought on this. Using `Any` would in some ways seem like the simplest option but it's complicated by the fact that we don't actually have a different proto type for all of the `crypto.PubKey` types other than `cosmos.crypto.PublicKey`... so it's actually not that simple.

[2020-08-04 16:10] colin-axner opened #6934 "Disable protobuf lint on third party proto files"
## Summary

I noticed #6926 adding the ics23 proto file causes the protobuf lint to break. I think we should update the protobuf lint to exclude certain proto files.

## Problem Definition

We are importing third_party proto files that are not guaranteed to be properly linted. The test will break and no longer be useful.

## Proposal

Lint our own proto files and maybe third party proto files we h

[2020-08-04 16:31] alexanderbez commented on #6934
I think we just need to update the `buf` configuration here?

[2020-08-04 16:39] alexanderbez commented on #6886
My initial thought was, why not just use `Any` for public keys, but it seems you've addressed this by the above comment? What makes not having the proto messages so difficult?

I'm OK with this. We'll just need to make sure we capture this in migration and notify upstream clients.

I don't think we should do this.

How does it diverge? Will this lead to a weird UX, confusion and/or tech debt?

Als

[2020-08-04 16:49] marbar3778 commented on #6934
https://github.com/cosmos/cosmos-sdk/blob/4e73e0f817b3e9ab75937c705fb49c6e5ae99eb0/buf.yaml#L17-L20 to something like third_party/proto should do the trick and we shouldnt have to keep updating the list

[2020-08-04 16:56] ethanfrey commented on #6931
@gsora can you provide a `genesis.json` export from the 0.38 chain so we can add a unit test for this?

[2020-08-04 17:12] aaronc opened #6936 "Streaming Genesis"
Streaming genesis is useful when app state is large. Projects such as Terra have expressed concern around memory usage. It was not tackled in #5917 due to time constraints.

/cc @YunSuk-Yeo @dokwon

---

Here is my previous proposal from #5917 :

Also I've thought about how to approach streaming JSON based on some things @alpe has shared and just want to document the approach I have in mind. (I do

[2020-08-04 17:14] aaronc commented on #5917
@dokwon @YunSuk-Yeo unfortunately we won't have the time to complete streaming genesis for the 0.40 release, but I have created an issue specifically for this (#6936) and tagged it for the 0.41 release.

[2020-08-04 17:25] aaronc commented on #6193
@odeke-em in preparation for our call tomorrow I want to call out that one of the key use cases I believe is actually being able to compress the Tendermint block history. That may be more of an issue in terms of disk storage than the application state.

We actually haven't even really had a chance to discuss this with anyone from the tendermint core team. @marbar3778 I wonder what your thoughts ar

[2020-08-04 17:31] aaronc commented on #6886
Well, then we end up with the whole dependency on tendermint issue and needing to migrate all tm `PubKey` implementations into the SDK. That may be a good idea but is sort of out of scope of what I'm trying to do here. Basically if we're putting `PubKeySecp256k1` into `Any` as a `crypto.PubKey`, it doesn't really work because it's defined as `type PubKeySecp256k1 [PubKeySecp256k1Size]byte` in tm.

[2020-08-04 19:12] alexanderbez commented on #6886
I thought Tendermint was moving away from fixed-sized arrays for public key types @marbar3778? I don't see any harm in redefining key types. This is what I understood that we were doing anyway? Or did I misunderstand?

[2020-08-04 19:15] #6760 closed

[2020-08-04 19:17] aaronc commented on #6886
Either way I think there are two questions that should be answered separately:

1. how do we encode public keys in `Tx` and `BaseAccount` - either the current `PublicKey` `oneof` approach or just use `Any`?
2. how do we deal with the SDK refactoring for `BaseAccount?

What we do about `crypto.PubKey` and the tendermint dependency is obviously a related question but also a bit separate.

[2020-08-04 20:05] sahith-narahari commented on #6901
Hey @dauTT, yeah I'll repoen the PR and address the same there

[2020-08-05 05:53] zhouqiang-cl opened #6943 "Using Chaos Mesh to enhance cosmos"
Hello, I am [Chaos Mesh](https://github.com/chaos-mesh/chaos-mesh) Maintainer. Chaos Mesh is an open-source and free Chaos Engineering platform, it can be directly used without modifying any code.

Blockchain is a very promising industry. Congratulations on doing such a promising project,  Blockchain is a subdivision that is widely used in the distributed field. For distributed system, the stabili

[2020-08-05 06:07] marbar3778 commented on #6886
yup you are correct. all key types are no longer sized: `[PubKeySecp256k1Size]byte`

I would love for the sdk to absorb secp256k1 as I dont see it being used in tendermint.

[2020-08-05 07:54] marbar3778 commented on #6193
Some db's are already compressing on writes (leveldb), but not for others (boltdb). I dont really have a preference nor have put any thought to this so I would not be the best to answer.

In Tendermint, we haven't tested any other compression tactics so I would be unable to say if its needed or not. If you are thinking of introducing something to tm-db then moving this conversation there would be

[2020-08-05 08:46] gsora commented on #6931
Yes, I'll post a pre/post-migration genesis later today.

[2020-08-05 09:27] erikgrinaker commented on #6193
tm-db treats keys and values as opaque byte slices, and I don't think we should start trying to interpret the values to apply dictionary compression on Protobuf Any fields in tm-db itself. If anything, this should happen at the encoding level, in practice causing us to use a custom variant of Protobuf, but I would advise against this since it makes it harder to debug database entries and use other

[2020-08-05 09:28] colin-axner opened #6945 "Restructure x/ibc layout"
## Summary

Create a logical flow of directory layout for ibc related files.

## Problem Definition

When I first started going through ibc material, I found the layout slightly confusing as I documented in #6092. I think there is still some improvements that can be made and if addressed before launch will probably prevent some headaches down the line. To me there is 3 main parts of the SDK's IBC

[2020-08-05 10:23] cwgoes commented on #6945
Agreed with all of these suggestions, except that I'm not sure about application modules. If a chain ends up having several IBC application modules, should they really all be housed under `x/ibc`? I think `x/ibc` should be treated more like `x/bank`, in that it exposes API functionality via the keeper which lots of other top-level modules will use.

[2020-08-05 10:26] colin-axner opened #6946 "Reflect recent 02-client/tendermint changes in specs and testing"
## Summary

Lots of major changes have occurred to the interaction of `07-tendermint` with `02-client`. We should take this time to update specs and add/modify testing to be more rigorous.

## Proposal

See related [comment](https://github.com/cosmos/cosmos-sdk/pull/6873#issuecomment-668449846) from the pr that removed the last header from client state.

We should also apply the validator set -> v

[2020-08-05 10:35] colin-axner commented on #6945
my main interest in having `applications` under `x/ibc` is I think it is likely most ibc modules will become prefixed with `ibc-` when living under `x/`, at that point, we might as well remove the prefix and move it to `x/ibc/applications`. Furthermore, having a centralized place for chains to look for ibc applications supported by the SDK is convenient.

I see your point though, whichever way is

[2020-08-05 13:33] aaronc commented on #6193
I did benchmark the built in leveldb and rocksdb compression with some test data using Any's. The built in compression does help but there is still overhead that could potentially be significant. I can't say that we've done benchmarks with a real world data set to see how the default compression performs with say a million blocks of transactions. Maybe that should really be done first.

We are opp

[2020-08-05 13:34] cwgoes commented on #6945
If this is true then I agree with you, it's this point I'm not sure about - e.g. almost every module uses `x/bank`, yet we don't call it `x/bank-staking`, `x/bank-gov`, etc. - why would modules using `x/ibc` be any different?

[2020-08-05 14:05] erikgrinaker commented on #6193
I feel like doing this in tm-db breaks separation of concerns, and violates abstraction boundaries. tm-db shouldn't care about what keys and values contain, that's an application concern. If the benefit is large then it's sometimes worth it, but breaking abstraction boundaries comes at a complexity and maintenance cost. I suspect the compression benefit here is minor, and not worth it.

Also, what

[2020-08-05 15:19] webmaster128 opened #6950 "simd query auth/account panics"
## Summary of Bug

When using `simd query auth account` or `simd query account`, I get _panic: runtime error: invalid memory address or nil pointer dereference_

## Version

nightly-2020-08-05 from https://hub.docker.com/r/interchainio/simapp/tags

## Steps to Reproduce

1. Start a simapp blockchain in the docker container called "simapp"
2. Run `docker exec -it simapp simd query account <a valid

[2020-08-05 16:41] alexanderbez commented on #6943
Thanks for sharing @zhouqiang-cl and congratulations on the project! I recall looking into Chaos monkey for our CI liveness tests, where I wanted to stop and start random nodes to ensure liveness in a network. I think resisting this area can still prove to be useful, although I think any main insights we gain would probably be related to Tendermint, as that is where the bulk of the p2p, db, and i/

[2020-08-05 16:53] alexanderbez commented on #6950
[code]

Why are we doing this @atheeshp? Can we not just use `clientCtx.UnmarshalJSON`?

[2020-08-05 17:11] aaronc opened #6953 "Update documentation for Stargate"
Details of this epic is broken into sub-issues and tracked on Codetree as an [epic](https://codetree.com/projects/omLd/issues?epic=Update+documentation+for+Stargate).

[2020-08-05 18:56] ethanfrey commented on #6950
@alexanderbez I added a `fmt.Printf("Account: %#v\n", res)` right before the panic and get this:

[code]

which i manually confirmed as a valid protobuf value for the BaseAccount data.

However, `fmt.Printf("Interface Registry: %#v\n", clientCtx.InterfaceRegistry)` printed the following:

`Interface Registry: <nil>`

Seems the interface registry is not being set up properly.

[2020-08-05 20:10] alexanderbez commented on #6950
Thanks for the debugging  -- it really brings up my original question to @atheeshp of why we don't just call and use `clientCtx.JSONMarshaler.UnmarshalJSON`.

[2020-08-05 20:23] ethanfrey commented on #6950
The data here is not JSON, but rather a protobuf-encoded field, thus we cannot `UnmarshalJSON`.

I queried the raw store directly over tendermint rpc `/store/acc/key` and parsed the `Any` object that comes back and it works (in CosmJS). We just need to properly unpack protobuf in the go client

[2020-08-05 20:31] anilCSE commented on #6950
Thanks @ethanfrey for all the debugging. @sahith-narahari fixed the issue. @webmaster128 do you mind testing it from the PR branch i.e., `sahith/fix-simd-query` and confirm?

[2020-08-05 20:33] webmaster128 commented on #6950
Thank you @anilCSE!

I have no Go development environment available (and no plans to change that), sorry.

[2020-08-05 20:39] sahith-narahari commented on #6950
Thanks @ethanfrey, this was an issue with simapp intialization. I tested with a chain locally, and works with the fix. Will do some more testing on other commands and ensure everything's working

[2020-08-05 20:42] ethanfrey commented on #6950
I will test tomorrow morning.

[2020-08-05 21:22] anilCSE opened #6956 "Non-deterministic behaviour while starting a new chain"
## Summary of Bug

Sometimes getting `validator set is nil` error while starting a new chain.

[code]

I have cross checked the `genesis.json`, validators set isn't empty there.

I remember similar kind of issue for one of the [Akash testnet validators](https://matrix.to/#/!QOQfggNBhPYxvbQdNm:matrix.org/$NmofGylkZcBPyjq-kOiZRuQOdy2XiK9F0Tw_c1gII74?via=matrix.org&via=converser.eu&via=decred.org)

*

[2020-08-05 21:22] #6950 closed

[2020-08-06 02:58] zhouqiang-cl commented on #6943
@alexanderbez
Sorry for the late reply and thank you for your interesting.
We also have chaos testing in PingCAP's daily job. Which make [TiDB](https://github.com/pingcap/tidb) robust and reliability

Since we are a database company, as mention above, there are [many issues](https://github.com/orgs/chaos-mesh/projects/1) in databases, now we did not have much experience on blockchain context(so th

[2020-08-06 06:45] webmaster128 commented on #6950
Problem fixed in nightly-2020-08-06, thank you!

[2020-08-06 07:06] sahith-narahari commented on #6956
I experienced this too when intializing new chain from scratch.

[2020-08-06 08:32] #6930 closed

[2020-08-06 09:10] fedekunze commented on #6901
closed via #6940

[2020-08-06 09:10] #6901 closed

[2020-08-06 10:05] gsora commented on #6931
Sorry for the delay!
 - [v0.38.x genesis file](https://gist.github.com/gsora/d0fdf63b4c252b5a9a6075a7f8500fc8)
 - [v0.39-migrated file](https://gist.github.com/gsora/8cc0a0382c5d7e031326bda0a1430740)

[2020-08-06 10:18] taobun commented on #6105
@alexanderbez @helder-moreira Is there any update on this issue? I have tried to run rest-server to serve /txs and face this error log too.

[2020-08-06 11:07] colin-axner opened #6961 "Finish migration to grpc in IBC"
## Summary

Now that client state and consensus states have been migrated to proto, the querier in IBC should be removed and the client/consensus state grpc functions should be added.

____

#### For Admin Use

- [ ] Not duplicate issue
- [ ] Appropriate labels applied
- [ ] Appropriate contributors tagged
- [ ] Contributor assigned/self-assigned

[2020-08-06 12:50] cwgoes opened #6963 "Utilise standard acknowledgement envelope in ICS 20"
Ref https://github.com/cosmos/ics/pull/464

Use a standard proto wrapper for an acknowledgement which can contain either some successful payload or a failure with an error message. This will make parsing events / acknowledgements easier for external services which can rely on a standard.

[2020-08-06 13:03] jgimeno commented on #6956
This is probably related with https://github.com/cosmos/cosmos-sdk/pull/6962

Try to run with --home flag the start command and let me know.

[2020-08-06 14:15] alexanderbez commented on #6105
I don't have any clues here apart from the response body size being too large, which is now configurable.

[2020-08-06 14:22] ethanfrey opened #6966 "Serialize sequence number with transaction signature"
## Summary

Adding 2-3 bytes per signature by serializing the sequence number signing the transaction would enable much better introspection by the clients.

## Problem Definition

Currently, if we wish to validate the signature of a transaction, beyond the transaction itself (posted to the blockchain), we need some other information included in "sign bytes". This is chain_id, account_number and s

[2020-08-06 15:07] cwgoes opened #6969 "Enforce ICS 20 (transfer) to only use UNORDERED channels"
Ref https://github.com/cosmos/ics/issues/463, spec changes have been made upstream in https://github.com/cosmos/ics/commit/6280b5357d761b7b515a209a93c17eb52e81a77e.

[2020-08-06 15:11] alexanderbez commented on #6966
Ahhh we've come full circle. I still remember when this was initially brought up by @ValarDragon a la https://github.com/cosmos/cosmos-sdk/issues/2952. I'm in favor of adding the sequence (nonce) back to the tx.

[2020-08-06 15:19] willclarktech opened #6970 "Incorrect protobuf encoding of SignDoc using simd"
## Summary of Bug

@ethanfrey used `simd` on https://github.com/cosmos/cosmos-sdk/commit/d2661a4692d3f00fb1daa47d08abacf8c1e0b949 with this command (`testgen` has address `cosmos1pkptre7fdkl6gfrzlesjjvhxhlc3r4gmmk8rs6`, account number `1` and sequence `0`):

[code]

to produce the following protobuf-encoded `SignDoc`:

[code]

which, via `| xxd -r -p | protoc --decode_raw`, produces the following:

[2020-08-06 15:25] aaronc commented on #6966
Thanks for writing this up @ethanfrey. I'm assuming this could live in the unsigned content of the transaction? Could it be optional with zero as default maybe?

If we do this it should happen before 0.40 I think because it could be an incompatible change. Would you be willing to take on this work @ethanfrey ?

[2020-08-06 15:48] alexanderbez commented on #6970
I wonder if this has anything to do with the fact that the sequence number is 0? Thoughts @aaronc?

[2020-08-06 15:52] iramiller commented on #6886
For the use cases that were using `Bech32ifyPubKey` the Base58 encoding should be considered instead... it was designed for that purpose within BitCoin (see xpub/xprv keys for example).

[2020-08-06 16:15] aaronc commented on #6970
Possibly, I'll need to look into it.

[2020-08-06 17:53] aaronc commented on #6970
@willclarktech I'm not aware that we have a command that produces a `SignDoc`. If you have a command that generated something, it would be a `Tx` which has 3 fields - it looks like that's what you decoded.

[2020-08-06 18:16] ethanfrey commented on #6966
This would live in the Signature, maybe many times per tx. And it would be implicitly signed (as it is in the sign bytes) but it would not have to be in the tx body at all. We would not have to change the sign bytes or sign process, just the info we encode when posting.

I agree it should be in 0.40. If there is favor for it, I can make a clear spec of the change I would do, and if approved, I can

[2020-08-06 18:18] ethanfrey commented on #6970
@aaronc I got the data by patching simd and compiling with a Printf:

Right after https://github.com/cosmos/cosmos-sdk/blob/c7ad21d16210d06354057cd69701ccce83ee1604/client/tx/tx.go#L399

[code]

My aim was to make a canonical test vector so Will could fix our code to match it. But it seemed the vector didn't match the spec.

I will try to prepare a unit test that captures this.

[2020-08-06 18:20] ethanfrey commented on #6970
The code for direct sign bytes looked very correct and matching the spec. Just the print output seemed different:

https://github.com/cosmos/cosmos-sdk/blob/6d937443b24b1bc79a57bde7ccce02fa56f063b8/x/auth/tx/direct.go#L47-L56

[2020-08-06 18:30] ethanfrey commented on #6970
Hmmm... it seems like user error this time.

I got the same bytes, but when reproducing the above decoding:

`echo 0a580a560a142f636f736d6f732e62616e6b2e4d736753656e64123e0a140d82b1e7c96dbfa42462fe612932e6bff111d51b12140102030405060708090a0b0c0d0e0f10111213141a100a0575636f736d12073132333435363712330a2b0a230a21034f04181eeba35391b858633a765c4a0c189697b40d216354d50890d350c7029012040a020801120410c09a0

[2020-08-06 19:24] ethanfrey commented on #6970
Issue resolved. There was some byte mixup, but in the end the principle difference was that JS encoded the sequence 0 as a 0 field, whereas the go code omitted it (we were comparing test vectors to see they were identical - not sure if this matter for verification by the chain - 0 vs omitted).

[2020-08-06 19:24] #6970 closed

[2020-08-06 20:31] ValarDragon commented on #6966
I think adding the nonce back to the tx makes sense to improve UX short term and in general for stateless clients.

I do think that if you don't have stateless clients, the ideal architecture would be the bundle the sequence number in the p2p layer, and just not include it in the final tx. (But thats certainly an optimization that can be done later)

[2020-08-06 20:47] aaronc commented on #6966
Currently signatures are simply `repeated bytes` in proto so it probably makes sense to add this as a fourth field in `Tx` that's basically `repeated uint64 sequences = 4`. If the field is omitted it will be ignored in tx verification.

[2020-08-07 11:05] colin-axner commented on #6135
this is blocked on `simapp` using proto for genesis import and exporting, until then IBC genesis needs to be empty

[2020-08-07 11:07] colin-axner commented on #6566
we can't do any more removal until

* tendermint is updated (along with headers and evidence)
* simapp is updated to supporting proto usage only

[2020-08-07 11:16] colin-axner commented on #6969
this was never implemented, but we do need to enforce that the ordering is `UNORDERED` it seems this was never done since the relayer didn't support UNORDERED channels yet

[2020-08-07 11:17] cwgoes commented on #6969
If this was never implemented, we should check that the channel is `UNORDERED` at least.

[2020-08-07 11:27] colin-axner opened #6975 "Enable support for IBC to only use proto"
## Summary

Simulations break if IBC enables a non-empty genesis. IBC 1.0 will not support amino nor have any reference to amino.

## Problem Definition

Following the merge of #6974 localhost will not be created during simulations to allow for an empty genesis and avoid encoding panics during init genesis. I added a [comment](https://github.com/cosmos/cosmos-sdk/pull/6878#issuecomment-670450269)

[2020-08-07 11:40] colin-axner commented on #6969
The [`ChanOpen` callbacks](https://github.com/cosmos/cosmos-sdk/blob/3322e269a18445277fe3e4ed81a4ffb0102feae5/x/ibc-transfer/module.go#L179) need to match the spec. A check that the channel type is `UNORDERED` needs to be added.

[2020-08-07 13:29] ethanfrey commented on #6969
Yes, this is listed as a [TODO](https://github.com/cosmos/cosmos-sdk/blob/1a531cb6454a2e98147639655eb60bcd28b6d320/x/ibc-transfer/module.go#L221)

I guess we will have to do some major upgrades to the relayers soon for this to do live with unordered channels?

[2020-08-07 13:43] aaronc commented on #6886
So I'm thinking for now to just stick with the existing `cosmos.crypto.PublicKey` in `BaseAccount` (unless there are any major objections). And I'll just figure out how to make it work with amino. I have some ideas. It's just annoying, but I made it work for `Any`, it's doable.

[2020-08-07 13:48] aaronc opened #6977 "Improve tests for protobuf unknown field rejection"
Continuing from #6192.

[2020-08-07 13:48] aaronc commented on #6192
Closing this, improved tests can continue in #6977

[2020-08-07 13:48] #6192 closed

[2020-08-07 13:59] aaronc commented on #5922
I started working on a protobuf service definition for this. Initially, I started by just copying the current transaction generation `BaseReq` and creating a service that took a `BaseReq` and some `Msg`s and does basically what the existing REST endpoints do.

In discussing with my team, I am rethinking this altogether.

My assessment is that REST transaction generation is basically an anti-patter

[2020-08-07 14:12] alexanderbez commented on #5922
ACK from me @aaronc -- less work as well 👍

[2020-08-07 14:15] #6934 closed

[2020-08-07 16:28] aaronc opened #6982 "Make JSONMarshaler methods require proto.Message"
## Summary

`JSONMarshaler` `Marshal/UnmarshalJSON` methods should take `proto.Message` instead of `interface{}`. The lack of this is causing runtime errors specifically with non-pointer versions of proto types (`GenesisState` vs `*GenesisState).

## Problem Definition

When we first started the protobuf migration, we had use cases for `JSONMarshaler` for types that we never intended to fully migr

[2020-08-07 17:10] aaronc opened #6983 "Migrate x/params JSON state"
`x/params` uses JSON encoding for `ParamSetPair.Value`s and it was missed in the protobuf state migrations. It won't easily work with protobuf JSON or binary because some types are primitives like `uint64` and would need to be wrapped in `UInt64Value` for protobuf.

Does anyone know why this was JSON and not binary btw? @alexanderbez ?

We have a few options:

1. Do nothing and just make this one

[2020-08-07 18:13] aaronc opened #6985 "Migrate AccountRetriever to proto"
`AccountRetriever` still uses the amino JSON legacy queriers.

We can migrate it to use the `cosmos.auth.Query` service.

Or even, better how about a generic `AccountRetriever` service that doesn't depend on a specific `Account` type:

[code]

[2020-08-07 18:26] aaronc opened #6986 "Rename *codec.Codec to *codec.LegacyAmino"
This type is now used only when we want to explicitly support legacy amino scenarios (queriers, REST). It is the type that _should_ be used explicitly for these legacy scenarios. Eventually, even `JSONMarshaler` will need to require proto (see #6982). But for the cases we still _really_ need amino we can use `*codec.Codec`. But let's give it a clear name, I propose `*codec.LegacyAmino`.

While we'

[2020-08-07 19:43] alexanderbez commented on #6985
Why wouldn't it return an account (interface)?

[2020-08-07 19:45] alexanderbez commented on #6986
ACK

[2020-08-07 19:53] anilCSE opened #6987 "Migrate `x/gov`, `x/upgrade` cli queries to use proto"
A few cli queries which are requesting information from `node` directly are still using amino. Migrate them to use proto

- [ ] x/auth
- [ ] x/gov
- [ ] x/upgrade

[2020-08-07 19:56] aaronc commented on #6985
We do but it returns an `Any` which includes vesting accounts. IMHO that's too complex for most tx signing use cases. We need an API that just returns acc num & seq without bothering users about looking through vesting accounts. Removing vesting accounts from `x/auth` is something I'm really hoping we get to soon, but in the meantime something like a simple `AccountRetriever` would help.

[2020-08-07 19:58] anilCSE commented on #6985
Yes, I agree. Let's have a seperate service for retrieving account info

[2020-08-07 20:57] aaronc commented on #6966
In our meeting today, we agreed to add `account_sequence ` as a field on `SignerInfo` and remove it from `SignDoc`. The seems like a more logical place than as a 4th field on `Tx`.

This does make signing behavior even worse for multi-signer transactions, but if and when that becomes an issue we can reopen the discussion around `SIGN_MODE_DIRECT_AUX`.

[2020-08-07 21:00] ethanfrey commented on #6966
Thank you Aaron.

Multisig and sequences was always a tricky issue and worked best with very lightly used accounts.

Do you still want me to work on implementating it now that the path forward is clear? Or will the core team do it?

I do agree it makes more sense in SignerInfo

[2020-08-07 21:48] webmaster128 commented on #6966
If you want to see something scary – this is a way to obtain sequence numbers from an indexed transaction: https://github.com/CosmWasm/cosmjs/blob/v0.22.0/packages/launchpad/src/sequence.ts#L7-L46. The code works, but is not used in any application as far as I know.

[2020-08-07 22:04] aaronc commented on #6966
We'll need to think about it a bit @ethanfrey . At first glance, it seems almost trivial. On second glance, maybe not so much. If I have time I'll take it... Or maybe someone else on our team has context. We will probably need to change the internal `SignatureV2` struct to have an `AccountSequence` field so that it gets set before sign bytes are generated.

[2020-08-07 22:14] dauTT commented on #6986
Hi, can I work on this?

[2020-08-07 22:15] dauTT commented on #6969
Hi, can I work on this?

[2020-08-07 23:32] #5339 closed

[2020-08-07 23:32] aaronc commented on #6986
Sure!

[2020-08-08 08:20] colin-axner commented on #6969
@dauTT yup! Go for it :+1:

[2020-08-09 08:36] colin-axner opened #6993 "Add TimeoutOnClose usage support"
## Summary

`TimeoutOnClose` is not being used right now. The function exists, but no message triggers its response.

## Problem Definition

Users should be able to timeout their packet if a counterparty channel end is closed.

## Proposal

Add a message `MsgTimeoutOnClose` or add a boolean to `MsgTimeout` indicating which timeout function should be called by the handler. The former is probably be

[2020-08-10 10:25] amaurymartiny commented on #6966
Yeah, that's the way I would go too.

IMO the second glance is more accurate. I also gave a quick look, there are a lot of functions which create a SignatureV2 internally, and we now need to pass to the account sequence as input to these functions.

@ethanfrey If you didn't start any work on this yet, I can focus on this this week.

[2020-08-10 12:22] ethanfrey commented on #6966
@amaurymartiny I am busy preparing for a testnet launch tomorrow. If you can start on it, that would be great. Please mention me on any (draft) PR and I can review and/or push some code.

[2020-08-10 13:27] colin-axner opened #6996 "Untangle core IBC testing from ibc-transfer"
## Summary

Create a mock IBC application module in `ibc/testing` to implement all the callbacks so core IBC can be tested in isolation and won't be affected by future changes to `ibc-transfer`.

## Problem Definition

The ibc testing pkg does message passing to test core IBC. To do this it needs to connect an IBC application module to fulfill the callbacks. The original design makes use of `ibc-t

[2020-08-10 13:52] colin-axner commented on #6945
cc/ @fedekunze @AdityaSripal thoughts?

[2020-08-10 15:50] alexanderbez commented on #6936
I'm not sure how I feel about the proposal yet...I need to think on it more. But it just doesn't feel quite right with me. How are the files constructed? Is there a tool that breaks them up?

In general, I would rather opt for a more idiomatic approach where we can construct a clean API for retrieving app data, say by module name and fields within a module's app data by key, where the actual strea

[2020-08-10 16:19] cwgoes opened #6998 "Implement ADR 026"
Ref https://github.com/cosmos/cosmos-sdk/pull/6488

[2020-08-10 16:57] fedekunze commented on #6945
The proposal looks good. I don't know how easy the refactor is going to be. Ideally, we should have a strategy to migrate the submodules/pkgs in a specific order

[2020-08-10 17:11] aaronc commented on #6936
Okay if it were just a single file but with a similar API where items are retrieved via a path (i.e. `gov/proposals`) rather than `GenesisState` would that feel better @alexanderbez ?

I just want to note that the proposal of multiple files avoids needing to write custom JSON scanners. I couldn't figure out how to do that sort of random access with the current JSON APIs. The APIs that exist suppor

[2020-08-10 18:15] alexanderbez commented on #6936
Have we looked into things like https://github.com/lloyd/goj or https://github.com/mailru/easyjson (which looks very promising). Otherwise, we might have to write something custom?

[2020-08-10 18:46] aaronc commented on #6936
I tried looking for streaming JSON parsers, the challenge is integrated with proto JSON. Maybe we can make it work. Just not quite sure how.

[2020-08-10 19:33] aaronc commented on #6886
I think whichever way we go, it would actually be good to have all the concrete `PubKey` types we use migrated into the SDK so there's no longer a dependency on tendermint for those. I think eventually we'll want our own `PubKey` interface and this will be helpful for #5694 so that we can override `Address` or even change the `PubKey` interface altogether (the amino `Bytes` method for one is no lo

[2020-08-10 19:41] #6986 closed

[2020-08-10 20:01] fedekunze commented on #6987
@anilCSE @aaronc can you paste an example blob of how the output for the IBC queries looks like? We can tackle it this week

[2020-08-10 20:08] aaronc commented on #6987
I don't have IBC test data to do that @fedekunze. Once #6999 is done, you just need to try to use `PrintOutput` instead of `PrintOutputLegacy` and you'll see the errors.

[2020-08-10 20:28] aaronc commented on #6886
So after our call last week, I said I would some pros and cons to using a `PublicKey` `oneof` vs `Any`. I'll just list those here so we can maybe come to a decision and unblock this.

### `oneof`

Pros:
* smaller wire/disk size
Cons:
* less consistent with the rest of the SDK where `Any` is used, so `PublicKeyCodec` is a separate way of registering public key types from the regular `Any` `Interfac

[2020-08-10 22:14] marbar3778 commented on #6886
I do think secp can be taken out as I don't foresee the Tendermint team iterating on the implementation. For sr25519 and ed25519, since these are both reliant on external libs, we would keep them in Tendermint as we would offer sr25519 as a validator key along side ed25519.

[2020-08-11 09:28] amaurymartiny opened #7003 "Protobuf auditing: Use `customtype` everywhere instead of `casttype`"
## Summary of Refactor

In proto files, we use both `customtype` and `casttype`. We should use `customtype` everywhere.

## Details

They are similar, from the docs:
[code]

ref: https://github.com/cosmos/cosmos-sdk/pull/6978#discussion_r467868841

I started doing this in #6978, but I it's bigger than I thought, and I ran into some [failing tests](https://github.com/cosmos/cosmos-sdk/runs/97042661

[2020-08-11 09:48] dauTT commented on #6998
Hi, can I work on this?

[2020-08-11 10:28] cwgoes commented on #6998
Sure!

[2020-08-11 10:40] cwgoes commented on #6993
Prefer separate message; since the proof required is different.

[2020-08-11 11:03] colin-axner commented on #6945
maybe start by moving the light client implementations to their own folder at the top level of `ibc`? could do each on in its own pr

[2020-08-11 11:12] fedekunze commented on #6945
should we restructure the `proto/ibc/` directory too? cc @clevinson

[2020-08-11 12:37] aaronc commented on #7003
We need `casttype` for addresses. It won't work with `customtype`

[2020-08-11 12:42] amaurymartiny commented on #7003
Ok. Out of curiosity, why won't it work?

I thought we would just need to implement [these methods](https://github.com/gogo/protobuf/blob/master/custom_types.md#custom-type-method-signatures) on AccAddress, ValAddress and ConsAddress.

[2020-08-11 13:03] aaronc commented on #7003
But why would we do that it's just extra work? `casttype` is simple and logical IMHO

[2020-08-11 13:13] amaurymartiny commented on #7003
My train of reasoning is:
- from what I understand, they both achieve the same goal (modulo small technical differences)
- yet, we use both `customtype` and `casttype` in proto files

Given the 2 points above, we probably should just stick with one everywhere?

True, there's less impl on our side with `casttype`, but it's also beta ([ref](https://godoc.org/github.com/gogo/protobuf/gogoproto#hdr-Mo

[2020-08-11 13:15] aaronc commented on #6886
Would there be any harm in adding ed/sr25519 directly to the SDK so that we can have our own `PubKey` interface long term? Maybe we just create thin wrappers around what's in tendermint or something.

[2020-08-11 13:23] alexanderbez commented on #6985
Started to take a look at this and I'm not quite sure the rationale for updating the interface.

In the PR body, you state use the gRPC query service, which is defined on the `Keeper` (i.e. `AccountKeeper#Account` and `AccountKeeper#Params`). If this is what you mean, then we're already returned an Account (Any) which can easily be converted to an `AccountI` to give you what you need. So what am I

[2020-08-11 13:49] alexanderbez commented on #6886
Yes we should do that @aaronc.

[2020-08-11 13:56] alexanderbez opened #7007 "Account Query Failure"
## Summary of Bug

1. Query for a valid existing account results in the following:

[code]

2. Query for a valid non-existing account results in the super vague error:

[code]

## Version

master as of `1744194e7`

## Steps to Reproduce

1. Start a local network
2. Query for accounts both existing and non-existing

____

## For Admin Use

- [ ] Not duplicate issue
- [ ] Appropriate labels applied

[2020-08-11 13:57] alexanderbez commented on #7007
Maybe (1) is expected because we haven't finished some sort of client migration or something...idk? But (2) should be addressed for sure.

[2020-08-11 14:01] aaronc commented on #7003
But why? What does that buy us? I don't see any overhead in sticking with how things are and there is overhead in changing. So there's cost, but what is the benefit?

[2020-08-11 14:04] aaronc commented on #6985
But it can't be converted to `AccountI` easily by clients. Clients have to type switch through all the vesting type URLs. What I'm proposing is a simple way to get the account number and sequence without needing to worry about vesting, etc. Longer term, I think there's a bigger refactor of `x/auth` along the lines of #4287.

[2020-08-11 14:10] aaronc commented on #7003
Also I would note that gogo proto is now unmaintained (https://github.com/gogo/protobuf/issues/691). We have a fork that we are responsible for maintaining if we want any changes. We have change that haven't been merged upstream because there is no maintainer. So everything is at the same level of alpha/beta regardless of what their docs say. We could choose to move away from gogo protobuf because

[2020-08-11 14:11] alexanderbez commented on #7003
I think the main point here is _consistency_, but given that we use `casttype` on very few types, I think it's OK. Mind if we close this @amaurymartiny?

[2020-08-11 14:12] #7003 closed

[2020-08-11 14:12] alexanderbez commented on #6985
See my PR @aaronc -- I don't see how you get this info w/o actually querying for an account, which means you might as well keep the current interface.

[2020-08-11 14:13] aaronc commented on #7007
Hmm... I imagine this is because we are in the middle of enabling proto JSON and disabling amino JSON. Integration tests now use proto but the binaries still use amino. That switch will be flipped after #6859 is merged. I split it into 3 PRs to make review easy. Sorry for the janky transition.

[2020-08-11 14:17] aaronc commented on #6985
Your PR makes sense. Maybe we're talking about different things. I'm not suggesting the `AccountRetriever` go interface change. I'm just talking about adding a gRPC service with basically the same functionality as `AccountRetriever`.

[2020-08-11 14:22] #5917 closed

[2020-08-11 14:56] alexanderbez commented on #7007
Will close this after those PR(s) are merged then.

[2020-08-11 14:56] aaronc opened #7008 "Migrate Tendermint PubKey types to the SDK"
In support of #5694 and possibly #6928.

Copy the following `PubKey` types from Tendermint into the SDK and update references in code:
- [ ] `PubKeySecp256k1`
- [ ] `PubKeyEd25519`
- [ ] `PubKeySr25519`

[2020-08-11 14:57] alexanderbez commented on #6985
I see. So extending the existing gRPC service? We can certainly do that, but under the hood, they'll virtually do the same thing (i.e. get an account and return seq or acc num).

[2020-08-11 14:58] marbar3778 commented on #7008
yes, that works. Since ed25519 and sr25519 are imported libraries then you can build a wraper around the library and not tendermint. THis will further decouple the sdk from tendermint.

[2020-08-11 15:06] alexanderbez commented on #7008
Yes, this is what I've been trying to advocate for in the beginning haha

[2020-08-11 15:12] marbar3778 commented on #7008
I know @ebuchman had a few words to this approach. Should we doulbe check what they were?

[2020-08-11 15:24] aaronc commented on #6985
Right more or less, but I think it should be a different service. One that isn't tied to the auth module. Maybe it goes in the `cosmos.tx` just like it's in `client` not `auth` in the SDK. Just a service for the basic data needed to sign transactions, nothing more.

[2020-08-11 16:39] aaronc commented on #6983
Any thoughts on what to do here @alexanderbez ?

[2020-08-11 16:40] aaronc commented on #7008
I'll update the issue description to just mention copying. Would be good to hear from @ebuchman too if we can reach him!

[2020-08-11 16:51] alexanderbez commented on #6983
I wasn't involved in the discussion for use of Amino JSON, but I do recall being frustrated by this because its slow af and Jae wanted it for some reason.

That being said, I don't think option (1) is viable. (3) seems like we might run into issues if there are non-go-based SDK clients (correct me if I'm wrong)? So I think (2) is preferable. Nearly all params are primitive types with the exception

[2020-08-11 17:14] ebuchman commented on #5694
In principle including the type in the pre-image seems fine, but I'm curious if there are actual cases where a single public key could have been generated by two distinct schemes (ie. is adding the type possibly redundant with the fact that the pubkey was already generated according to the type from a unique private key)? We may not be able to answer this (though I would expect the answer is no ..

[2020-08-11 17:16] ebuchman commented on #7008
I don't think I have strong opinions here other than concerns around keeping things in sync between repos.

[2020-08-11 17:27] aaronc commented on #5694
Thanks for chiming in @ebuchman !

One thing I have noticed is that a lot of the indexes, especially in `x/staking` rely on fixed length 20 byte addresses. So as much as I'd like that to be possible, it seems like a larger refactoring would be needed. In the future, maybe `x/staking` could use https://github.com/regen-network/cosmos-modules/tree/master/incubator/orm to build indexes which has mech

[2020-08-11 17:35] ebuchman commented on #5694
Right.

I think the Address method could be decoupled at the lowest level but for convenience where you're passing a PubKey around you probably want easy access to the Address method. So maybe there is a higher order interface that gives you pubkey.Address() ... I don't think it'd be great if you have to remember what to import every time you want to get the address from the pubkey, but I agree in

[2020-08-11 18:31] marbar3778 opened #7009 "simulation uses secp256k1 as validator keys"
The simulator uses secp256k1 keys throughout. This was fine before because tendermint registered the secp256k1 key with amino. This is no longer the case making sims fail because the create and update valdiator functions use tendermint's `PubkeyToProto` function which does not contain secp256k1 in the switch statement

## Steps to Reproduce

Run `make test-sim-nondeterminism` on branch `tm_update_

[2020-08-11 18:45] aaronc opened #7010 "Remove all custom JSON marshaling"
This just causes problems with proto JSON. All of the vesting account custom JSON was removed in #6859. We should probably do an audit and remove any other custom JSON marshaling we can find (and probably YAML too).

This may unfortunately cause some breakage for uses of the legacy REST endpoints, but I don't really see a way around it and it is part of the path towards stable formats.

What do yo

[2020-08-11 18:48] ethanfrey commented on #5694
I also agree with `Sha256(KeyTypePrefix || Length || Keybytes)[:20]` as a general approach for all non-secp256k1 keys, with the special case of `Ripemd160(Sha256(KeyBytes))` for secp256k1 keys. This means nothing changes for existing keys, but if we add other algorithms, they are guaranteed not to clash with the current ones.

[2020-08-11 18:50] alexanderbez commented on #7009
For reference, my initial hunch was to modify `x/staking/simulation/operations.go` to create a new edwards key consensus key pair:

[code]

I've tested this change on `master` and simulations pass (I only tested one seed).

However, Marko reported that this still leads to issues when `newMockValidators` is called during `initChain`???

[2020-08-11 18:54] alexanderbez commented on #7010
What exact problems does it cause? I don't think we have much custom JSON serialization, so that should be fine. I also don't think we have any custom YAML, but if we do, that's OK to remove IMHO.

[2020-08-11 20:02] marbar3778 commented on #7008
Before the copying begins is there anything that you would like to change about the interface or will the sdk still adhere to tendermints key interface?

[2020-08-11 20:36] marbar3778 commented on #7009
with the above change the error changes to
[code]

[2020-08-12 07:11] webmaster128 opened #7013 "Tag source code repo with nightly tags"
Thanks again @marbar3778 for making the nightly builds of [simapp available on Docker Hub](https://hub.docker.com/r/interchainio/simapp/tags).

When building a client that works with code generation from proto files you need the source code as well. For such cases (as we have building CosmJS), it would be very valuable to have the same tags on Docker Hub and in the source code repo. This ensures t

[2020-08-12 09:16] webmaster128 opened #7015 "AccAddress length not checked when sending protobuf MsgSend"
## Summary of Bug

When sending a protobuf encoded transaction with a MsgSend, the length of both `from_address` and `to_address` are not checked in `func (msg MsgSend) ValidateBasic() error`. This leads to very hard to debug error messages further down the road (e.g. in signature validation). It also allows corrupt data to be returned by `signers := sigTx.GetSigners()` in case of an invalid `from

[2020-08-12 09:20] #6281 closed

[2020-08-12 10:22] erikgrinaker opened #7018 "Support arbitrary initial height"
## Summary

In https://github.com/tendermint/tendermint/pull/5191 (will be released in 0.34.0-rc3), Tendermint added support for starting from an arbitrary initial height, given to the application via `RequestInitChain.initial_height`. IAVL added support for starting from an arbitrary version in https://github.com/cosmos/iavl/pull/299 (released in 0.15.0-rc1). The SDK will need to configure itself

[2020-08-12 10:25] erikgrinaker opened #7020 "Return app hash from `InitChain`"
## Summary

In https://github.com/tendermint/tendermint/pull/5227 (will be released in 0.34.0-rc3), Tendermint added `ResponseInitChain.app_hash` which replaces the value in the genesis file and is recorded in the genesis block. The SDK should probably return the app hash here instead.
____

#### For Admin Use

- [ ] Not duplicate issue
- [ ] Appropriate labels applied
- [ ] Appropriate contributo

[2020-08-12 13:31] alexanderbez commented on #7009
mhhh that is odd, ok so instead I suggest accounts possibly have a consensus key?

[code]

[2020-08-12 13:46] alexanderbez commented on #7018
We probably need to write up an ADR for how to support this and the expected use-cases. Thanks @erikgrinaker.

[2020-08-12 13:53] erikgrinaker commented on #7018
The primary use-case would be for e.g. the Cosmos Hub upgrade to Stargate to continue from the same block height as the previous chain, see [https://github.com/tendermint/spec/pull/119](RFC-002) for details.

[2020-08-12 13:57] alexanderbez commented on #7020
The genesis docs that I've thus far typically don't have an AppHash. How is this typically constructed or evaluated? I hope this won't be difficult to implement because, in order to get an app hash during `InitChain`, we have to commit the root multi-store which bumps the version.

[2020-08-12 14:04] alexanderbez commented on #7018
@zmanian do we want to do this for stargate? We're gonna need to get at the very least:

- ADR
- Implementation
- Simulation updates to test this new flow
- Integration tests to test this new flow

[2020-08-12 14:05] zmanian opened #7023 "Mint module panics if you mint > int64 coins in a block"
https://github.com/cosmos/cosmos-sdk/blob/master/x/mint/abci.go#L42

This panics if you mint > Int64 max coins in a block, given that we have 256 bit ints for coin denoms, this should be common.

[2020-08-12 14:05] erikgrinaker commented on #7020
In that case I guess you would just return an empty hash from `InitChain`. This is application-specific, the motivation was to record the initial app hash in the genesis block and validate it against what's specified in the genesis file. Note that after https://github.com/cosmos/iavl/pull/304 IAVL will return a hash for an empty tree with no versions.

[2020-08-12 14:05] zmanian commented on #7018
Yeah I want this for stargate and I willing to help with above

[2020-08-12 14:06] alexanderbez commented on #7023
gnarly. Will fix asap...I guess by rounding?

[2020-08-12 14:07] alexanderbez commented on #7020
Ok I guess, we can just return an empty hash for now?

[2020-08-12 14:10] erikgrinaker commented on #7020
That will work, although the hash of an empty input would probably be more consistent with what IAVL and Tendermint does.

Not sure how this affects upgrades - I believe the genesis files then contain some app state and probably an app hash as well, so InitChain would have to return the same app hash as specified in the genesis file.

[2020-08-12 14:11] alexanderbez commented on #7020
I believe there might be some overlap or common bits to shared with https://github.com/cosmos/cosmos-sdk/issues/7018#issuecomment-672892011.

[2020-08-12 14:20] cwgoes commented on #6630
Closing in favour of https://github.com/cosmos/cosmos-sdk/issues/6531 (duplicate).

[2020-08-12 14:20] #6630 closed

[2020-08-12 14:29] alexanderbez commented on #7023
Actually, truncating doesn't make sense in this case. I fear we have no choice but to remove this metric, otherwise, it won't be entirely useful if it's completely off from the real number.

[2020-08-12 14:30] cwgoes commented on #6135
This is low-priority, not state-machine breaking, can be done during Stargate testnets.

[2020-08-12 14:32] cwgoes commented on #6567
Let's come to consensus on this in a meeting & then tackle it again once we've updated the relayer.

[2020-08-12 14:35] cwgoes commented on #6660
@michaelfig Do you want to implement this, or should someone else take it on?

[2020-08-12 14:37] cwgoes commented on #6945
This can be done asynchronously, but we should do the rest at some synchronous time to avoid too much PR rebase chaos.

Let's do this at the end of milestone 21 completion.

[2020-08-12 14:39] cwgoes opened #7025 "Update handshake to match revised specification"
Blocked on https://github.com/cosmos/ics/issues/462, https://github.com/cosmos/ics/issues/459

[2020-08-12 14:40] cwgoes commented on #6961
Also, sounds like we need to figure out how proofs will work with gRPC queries/queriers.

[2020-08-12 14:44] marbar3778 opened #7026 "simd: init fails"
## Summary of Bug

Running `make build-simd && ./build/simd init test --chain-id tts` I get error:

[code]

## Version

Master

## Steps to Reproduce

make build-simd && ./build/simd init test --chain-id tts

____

## For Admin Use

- [ ] Not duplicate issue
- [ ] Appropriate labels applied
- [ ] Appropriate contributors tagged
- [ ] Contributor assigned/self-assigned

[2020-08-12 14:45] alexanderbez commented on #7026
@jgimeno this recently worked. Could you take a look at this when you have a chance please?

[2020-08-12 15:01] michaelfig commented on #6660
I'd love to see this implemented, and would be even happier if someone else did it!  Would be willing to review PRs.

[2020-08-12 15:02] jgimeno commented on #7026
Absolutely! Looking at it right now.

[2020-08-12 15:10] #7023 closed

[2020-08-12 15:33] aaronc commented on #7010
It appears to be causing some of the sim export issues in #6859

[2020-08-12 15:58] aaronc commented on #7008
The `PubKey` interface is undocumented and the methods aren't intuitive.

`Bytes()` for instance returns amino marshaled bytes. I would advocate to just remove that method.

`VerifyBytes()` should probably be called `VerifySignature()`.

`Address()` is okay I think, but keys should follow #5694 expect in legacy cases.

[2020-08-12 16:13] marbar3778 commented on #7008
This has been fixed now it's just the byte representation, which could be removed. Will see about making this change.

Good point I'll see about fixing this before 0.34

[2020-08-12 16:56] jgimeno commented on #7026
The problem is this change:

https://github.com/cosmos/cosmos-sdk/blob/20c5ee3624cbf8b1730ea114bf5d5a65f88bcff8/simapp/simd/cmd/root.go#L82

That function bypasses the rootCmd PersistentPreRun, checking how to make it work as expected.

[2020-08-12 16:59] jgimeno commented on #7026
I think that PersistenPreRun is set inside of rootCmd.AddCommand and because it detects it has another one set it just not receive it.

[2020-08-12 17:29] alexanderbez commented on #7026
Maybe we don't need to wrap it with `withProtoJSON`? Thoughts @aaronc? When can we remove `withProtoJSON`?

[2020-08-12 19:50] aaronc commented on #7026
It's removed in #6859. It's almost ready

[2020-08-12 20:23] marbar3778 commented on #6476
I believe this has since been fixed

[2020-08-13 01:08] clevinson commented on #7009
@marbar3778 i'll take a look at this tomorrow and see what i cna figure out.

[2020-08-13 07:03] fedekunze opened #7031 "Increase coverage for DecCoins"
During #7027 I noticed that there are a lot of `DecCoin(s)` functions that don't have tests. It would be nice to increase coverage for them and refactor the tests to use table tests instead.

cc: @clevinson @aaronc

____

## For Admin Use

- [ ] Not duplicate issue
- [ ] Appropriate labels applied
- [ ] Appropriate contributors tagged
- [ ] Contributor assigned/self-assigned

[2020-08-13 10:12] amaurymartiny opened #7033 "Don't allow custonname which renames Id to ID"
## Summary

In proto files, don't allow `customname` which renames `Id` to `ID`.

## Rationale

In our proto files, we sometimes use gogoproto's `customname` tag to rename fields, e.g. `ClientId` to `ClientID`, to fit what the Go linter recommends. In the generated `*.pb.go` files, we indeed see fields with `...ID` (capitalized).

In #6918, we are adding grpc-gateway, who generates other files `*.

[2020-08-13 10:43] erikgrinaker commented on #7020
Following user feedback I've changed the behavior such that `ResponseInitChain.app_hash` replaces the value from the genesis file instead of having to match it. We may want to e.g. remove the genesis file app hash completely before the final 0.34 release, added https://github.com/tendermint/tendermint/issues/5238 to discuss this and would appreciate the SDK team's input on this.

[2020-08-13 11:07] colin-axner commented on #6961
So for the short term I'm going to add a ABCI query helper func similar to the one in the [testing package](https://github.com/cosmos/cosmos-sdk/blob/134e1dcecd4d37367db6bb11aab535da3118f1f9/x/ibc/testing/chain.go#L153) to ensure the `+1` only happens once. I'll probably do a pr which renames `client/utils` to `client/query` with `query.go`. This file will contain functions that basically act as a

[2020-08-13 11:26] jgimeno commented on #7026
Shall we just wait for #6859?

[2020-08-13 11:57] sahith-narahari commented on #6987
@alexanderbez `QueryTxsByEvents` uses `TxSearch` from tendermint which uses slightly different pagination. This causes some inconsistency in queries using this. https://github.com/cosmos/cosmos-sdk/blob/20c80cfd44a068a592148d648c50de3459fd6295/x/auth/client/query.go#L46
One option I can think of is fetch all data, and paginate in sdk to act similar to other queries. Any thoughs?
cc @aaronc @anilCS

[2020-08-13 12:47] alpe opened #7034 "Query account fails - UnpackInterfacesMessage"
## Summary of Bug
CLI returns:
`Failed executing CLI command: JSON marshal marshaling error for {TypeUrl:/cosmos.auth.v1beta1.BaseAccount Value:[10 20 172 123 173 39 252 194 182 127 220 240 37 124 215 127 212 214 78 139 5 234 18 38 235 90 233 135 33 2 110 240 175 79 228 244 233 103 152 65 100 170 191 209 82 205 150 65 113 128 2 51 231 178 81 54 149 98 208 41 233 204 32 7] XXX_NoUnkeyedLiteral:{} X

[2020-08-13 13:17] aaronc commented on #7026
I'm hoping to get that merged this morning. @sahith-narahari is reviewing now

[2020-08-13 13:20] #6837 closed

[2020-08-13 13:29] marbar3778 commented on #7026
new error since #6859 merge:
[code]

should something be setup in ci to avoid this?

[2020-08-13 13:38] aaronc commented on #7007
We need to check and see if that fixed it. There could be something else. @sahith-narahari ?

[2020-08-13 13:39] aaronc commented on #7034
Thanks @alpe ! Duplicate of #7007. Mind if we close?

[2020-08-13 13:39] #7034 closed

[2020-08-13 13:41] aaronc commented on #7026
Looks like there's a missing integration test. That's a simple fix. We've been switching those cases to use `encoding/json` instead of proto json

[2020-08-13 13:57] alexanderbez commented on #7020
Just thinking out loud, I think the `app_hash` only has any semantic meaning when starting from a fork/ugprade, otherwise, there is no pre-existing state and we don't commit on `InitChain`. With that in mind, maybe we can just return `LastCommitID.Hash`? In the case of a new chain, it'll be empty. During an upgrade, it'll be the hash of the last committed block.

Thoughts @zmanian?

[2020-08-13 13:58] alexanderbez commented on #6987
I would honestly opt to use Tendermint's pagination when it comes to tx searching. I don't think getting all txs behind the scenes is a good strategy.

[2020-08-13 14:01] alexanderbez commented on #7007
Now I can't even start a network...

[code]

(mental note to self: Sigh...I think we need to bring back the localnet bash script)

[2020-08-13 14:01] sahith-narahari commented on #7007
Looks like the query account is still failing, I added a test here for the same #6973

[2020-08-13 14:03] colin-axner opened #7036 "gRPC proof support"
## Summary

gRPC calls should support returning proofs for the query.

## Problem Definition

Currently gRPC just uses the module's keeper to return the desired information. No proofs are generated for the query. In IBC, we need to generate proofs for almost every interaction so the current workaround is to essentially create wrapper functions around our gRPC calls that do ABCI queries and inject

[2020-08-13 14:03] alexanderbez commented on #7007
I would first look into making sure we can actually start a network...

[2020-08-13 14:03] erikgrinaker commented on #7020
I don't known the details of the SDK's state and hashing, but in general, identical states should give identical hashes. If height 2 is empty (contains no user-submitted transaction data), presumably height 1 should have the same hash as height 2?

[2020-08-13 14:03] colin-axner commented on #6961
opened #7036

[2020-08-13 14:11] aaronc commented on #7007
How hard do you think it would be to bring back some of the out of process integration tests for critical commands? We don't need all the module tests out of process - maybe just `tx send` and core stuff like init and start.

[2020-08-13 14:14] aaronc commented on #7036
Great thanks @colin-axner. Yeah, I previously mentioned the idea of doing proofs via headers. It's probably a fair amount of work, but I think it can be done for at least simple key/value queries. Proofs that for index scans would be more involved but are also I think doable. The one big challenge is making sure the protobuf encoding of the response doesn't change at some intermediate serializatio

[2020-08-13 14:18] alexanderbez commented on #7007
I was thinking just brining back the `liveness.sh` bash script back and that's it. We don't necessarily need to test individual commands like that, we need to test can we actually start a network.

[2020-08-13 14:18] alpe commented on #7007
IMHO: the issue here is the missing interface implementation. The address in the response is of type `Any` but there is no `UnpackInterfaces` implementation. To verify, please do:
[code]
and a fix is likely:
[code]

[2020-08-13 14:21] alexanderbez commented on #7007
Which issue @alpe? There are three currently:

1. Can't even start a network
2. Can't query an existing account
3. Unhelpful error message when querying a non-existent account

[2020-08-13 14:22] #6985 closed

[2020-08-13 14:23] alexanderbez commented on #7020
Not quite, even if there is no new state between 1 and 2, the height/version is increased which gives you a new hash.

[2020-08-13 14:24] erikgrinaker commented on #7020
That must be because the SDK changes its internal state then. IAVL returns the same hash for version 2 and 3 if there were no changes.

[2020-08-13 14:36] alpe commented on #7007
Sorry for the confusion, I came from #7034. I have not looked into the other problems.

[2020-08-13 14:38] aaronc commented on #7007
That's exactly the fix thanks @alpe !

I am working on addressing all 3.

[2020-08-13 14:55] aaronc commented on #7007
A fix for 2 and 3 is in #6973

[2020-08-13 14:57] alexanderbez commented on #7020
Perhaps yeah, but in `InitChain`, I think using the last commit ID should work.

[2020-08-13 14:59] amaurymartiny commented on #7026
I have a draft PR here: https://github.com/cosmos/cosmos-sdk/pull/7037. Will try to figure out an integration test too for it.

[2020-08-13 15:05] migueldingli1997 opened #7038 "ApproxRoot Infinite Looping"
## Summary of Bug

Infinite loop when supplying small values to the `Dec.ApproxRoot()` function, most likely because the SmallestDec boundary is never satisfied. Example input: `ApproxRoot(NewDecWithPrec(10000000000, 18), 3)`

## Version

Commit: `6a7cf4442e340b1878b28552778e42d3c6285624` (master as of writing)

## Steps to Reproduce

Add the following test case to `TestApproxRoot` function in `ty

[2020-08-13 15:08] alexanderbez commented on #7038
/cc @sunnya97 :(

[2020-08-13 15:25] aaronc commented on #7008
Yeah, I would recommend to just remove it because it's underspecified. That works for regular pubkeys, but what about multisigs? That will need to be some encoded version.

[2020-08-13 15:28] alexanderbez commented on #7009
Fixed via https://github.com/cosmos/cosmos-sdk/commit/a84b13aed

[2020-08-13 15:28] #7009 closed

[2020-08-13 16:22] fedekunze opened #7046 "Write ADR for Coins"
## Summary

Write ADR with design desitions for the existing `Coin(s)` and `DecCoin(s)` implementation

## Problem Definition

During #7027, multiple questions where rised on the decisions behind these types:

- Differences between Coin and Coins

@colin-axner

- Denom regex choices

@cwgoes

- Custom Denominations

#6755 and #6744 by @okwme

## Proposal

Write ADR that summarizes all these choice

[2020-08-13 18:18] alexanderbez commented on #7018
tm-rc3 has been released, correct @erikgrinaker? I'm thinking this might be easier than I thought -- I think we can just pass the last version (height) from `BaseApp` to `RequestInitChain.initial_height`. I'd like a version of Tendermint I can run this theory on. I think @marbar3778 has a WIP branch, but afaik, that doesn't build and/or run, correct @marbar3778?

[2020-08-13 18:21] erikgrinaker commented on #7018
Yes, rc3 is out. Not sure what you mean by passing from BaseApp; Tendermint/genesis specifies the initial height, not the app.

[2020-08-13 18:23] marbar3778 commented on #7018
Nope it runs. I had a testnet running and zakis testnet is with my wip branch

[2020-08-13 18:33] alexanderbez commented on #7018
@erikgrinaker right, I meant we load that height from the request.

[2020-08-13 19:06] colin-axner commented on #6168
Has anyone looked into collectively owned DIDs?

The use case I'm thinking of is when a community needs to have a single entity operate a server on their behalf via a well known URL in the network (other parties rely on this URL being persistent). But if the operator becomes malicious, the community has no option, but to start a new community (because they don't control the server connected to the

[2020-08-13 22:55] alessio commented on #6168
We (AiB) are planning to do work on this. More news will come soon!

[2020-08-14 03:20] puneet2019 opened #7048 "Client keys addition in interactive mode fails while generating new mnemonic"
## Summary of Bug
Client keys addition in interactive mode gives error generating new mnemonic.
`cli keys add newKey -i `

(https://github.com/cosmos/cosmos-sdk/blob/master/client/keys/add.go#L229-L243)
the interactive or recover block.
Solution : This
[code]
To be replaced with,( covers all the cases as intended.)
[code]

## Version
git commit - latest master at time of issue - 4c762db64efe6dc026

[2020-08-14 03:46] AdityaSripal commented on #6524
Note: dealing with this issue is no longer as simple since the `ClientState` no longer contains the `LastHeader` which was an effective commitment to a consensus state with the merging of #6873

Now I believe the connection handshake (INIT and TRY_OPEN) will most likely entail 2 proofs (both a proof of the latest consensus state), and a proof of the client state.

[2020-08-14 06:33] pp108 opened #7050 "miner fee"
How to set up miners' fees

[2020-08-14 08:47] #6064 closed

[2020-08-14 08:55] #7033 closed

[2020-08-14 09:09] #6716 closed

[2020-08-14 09:24] cwgoes commented on #6524
Yes; both need to be proved, and both must verify in order for the handshake to safely continue.

[2020-08-14 11:03] tac0turtle opened #7051 "secp256k1: Not constant time"
Issue from tendermint in regards to secp256k1. this key is being added directly into the SDK
[code]

[code]

[code]

[2020-08-14 12:49] tac0turtle opened #7052 "crypto: Use CombinedMult to speedup Secp256k1 verification"
## Summary

[code]

[2020-08-14 12:57] webmaster128 commented on #7015
Thank you for your thumbs up @anilCSE @marbar3778 @ethanfrey @willclarktech. PR is here: #7053

[2020-08-14 14:09] aaronc commented on #7018
In discussing with @marbar3778, there are basically two things we need to do:

* handle `initial_height` in `InitChain`
* export height + ` in `ExportGenesis`

[2020-08-14 14:18] marbar3778 commented on #6365
phantomevidence was removed

[2020-08-14 14:23] marbar3778 commented on #6365
tm-db 0.6.x is returning more errors now instead of panicking. A walkthrough of the code base is recommended to check errors.

[2020-08-14 14:31] aaronc commented on #6983
FYI we decided to go with approach (2) in our dev call.

[2020-08-14 16:29] cwgoes commented on #6524
Trusting period, trust level (maybe above a threshold), and max clock drift should be allowed to vary, all else fixed.

[2020-08-14 17:02] odeke-em commented on #6193
I mailed out PR #6854 and in there I do comparisons that are reproducible by anyone.

### Results
Given 5 millions blocks with exactly ONE kind of typeURL per block:
* RocksDB we have savings of 16MiB
* BoltDB, we have savings of 16MiB
* GoLevelDB, we have savings of 3.078MiB

If we make the blocks heterogenous, we definitely will save even more.

I went strictly with blocks to validate any concer

[2020-08-14 17:14] aaronc commented on #6193
Thanks for doing those benchmarks @odeke-em !

[2020-08-14 19:26] njmurarka opened #7055 "cli validator-outstanding-rewards help is showing wrong address prefix"
## Summary of Bug

Ran the help command, but the example refers to a cosmos-prefixed address instead of the custom one set for the chain.

## Version

0.39.1 tag

## Steps to Reproduce

Run:

blzcli q distribution validator-outstanding-rewards --help

You will see the following output:

[code]

____

## For Admin Use

- [ ] Not duplicate issue
- [ ] Appropriate labels applied
- [ ] Appropriate con

[2020-08-14 19:35] njmurarka commented on #7055
The following command has a similar issue:
[code]

[2020-08-14 19:43] awalterschulze commented on #7003
If I could go back in time, I would only implement casttype.

[2020-08-15 08:52] #7026 closed

[2020-08-15 13:31] dauTT commented on #6476
Hi @marbar3778 ,

can we re-open this issue. I have try with the latest commit in the master branch (commit: f3c6ed61b433871427bf54b884a52be1e3dca328) and it is not working:

![image](https://user-images.githubusercontent.com/30392990/90313359-2fa27900-df0c-11ea-9c67-efd9c6ce5c43.png)

[2020-08-15 13:34] marbar3778 commented on #6476
seems like the tool is for grpc-gateway is not downloaded.

[2020-08-15 13:40] dauTT commented on #6476
For me, the `proto` commands were working fine with commit 79cee0696

![image](https://user-images.githubusercontent.com/30392990/90313506-6e84fe80-df0d-11ea-9dfa-3d2e607cc5ef.png)

Something has changed in the lastest commit.

[2020-08-16 19:11] alexanderbez commented on #7050
There are no miners.

[2020-08-16 19:11] #7050 closed

[2020-08-16 20:55] alexanderbez commented on #7018
Yes, this is what I also had in mind as the core components to look at. I believe the latter will be trivial, whereas the former we'll need to maybe load that height at the very beginning of `InitChain`.

[2020-08-16 23:36] alessio commented on #7055
Thanks @njmurarka. We'll fix this in 0.39 series too.

[2020-08-17 02:42] tianyinoo opened #7060 "cosmos-sdk without ibc module"
## Summary of Bug

I want to implement custom ibc module for my application, but when I import cosmos-sdk(version 0.38.2), there is no x/capability, x/ibc, and x/ibc-transfer in sdk to be used. I use scaffold command to build the module.

## Version

cosmos-sdk@v0.38.2

## Steps to Reproduce

____

## For Admin Use

- [ ] Not duplicate issue
- [ ] Appropriate labels applied
- [ ] Appropriate contr

[2020-08-17 03:45] sahith-narahari commented on #7008
With regards to @marbar3778 comment https://github.com/cosmos/cosmos-sdk/pull/7047#discussion_r470918264. I also feel it's better to migrate Secp256k1 first and make changes accordingly.
@aaronc will this work or do you intend modify other keys too in your future PRs

[2020-08-17 06:24] #6591 closed

[2020-08-17 06:26] fedekunze opened #7065 "Missing bank params gRPC query"
The bank params gRPC query hasn't been implemented

cc @anilCSE

____

#### For Admin Use

- [ ] Not duplicate issue
- [ ] Appropriate labels applied
- [ ] Appropriate contributors tagged
- [ ] Contributor assigned/self-assigned

[2020-08-17 06:29] fedekunze commented on #7060
IBC will be available from the upcoming v0.40. If you want you to start building your ibc app, you will have to use `master` in the meantime

[2020-08-17 06:29] #7060 closed

[2020-08-17 09:04] #7055 closed

[2020-08-17 09:43] sahith-narahari opened #7067 "Add missing in process cli tests"
After cli test refactor, there're still some tx and query commands which need tests. The following is the list of missing tests.
If anyone is picking one of these, please raise a draft and ref this issue
- [x] x/auth #7094
    - [ ] QueryParamsCmd
    - [ ] QueryTxCmd
- [x] x/gov #7128
  - [ ] NewCmdDeposit
  - [ ] NewCmdVote
  - [ ] All query commands
- [x] x/staking
   - [x] NewEditValidatorCmd

[2020-08-17 11:24] milosevic commented on #6567
One idea would be hiding +1 from the user, i.e., pushing this responsibility to the server side (Tendermint). So the flow would be: 1) ABCIQuery(p, h) which returns the result and the proof p that is related to AppHash after block at height h is executed, and 2) GetHeaderToProve(h) that would return header at height h+1. In this case a user (for example relayer) does not need to understand Tenderm

[2020-08-17 11:25] amaurymartiny commented on #6850
@odeke-em would you be able to provide the original unmarshalled struct?

[2020-08-17 12:47] #7007 closed

[2020-08-17 13:11] alexanderbez commented on #7065
I can tackle this -- I have yet to do a gRPC query 🙊

[2020-08-17 13:30] alexanderbez opened #7071 "gRPC Gateway Anomalies"
## Summary of Bug

Noticed while working on https://github.com/cosmos/cosmos-sdk/pull/7070, executing `$ proto-gen` generates diffs for gateway-related compiled files.

## Version

sdk: master (as of 77124da21)
protoc-gen-grpc-gateway: `Version 1.14.7, commit 37837bc5882204897dfb5b17ee231fc645c9102d, built at 2020-08-12T08:49:14Z`
protoc: `libprotoc 3.11.2`

## Steps to Reproduce

1. Execute `$ pr

[2020-08-17 13:55] #7065 closed

[2020-08-17 14:07] #7015 closed

[2020-08-17 14:23] aaronc commented on #7008
Yes, the intention is to modify all the PubKeys making them 1) unsized and proto compatible and 2) updating address format for non-legacy keys.

So my preference is to have all of them copied in.

[2020-08-17 15:44] aaronc commented on #6886
Just an update, in our last call we agreed to go the `Any` route with `PubKey`s for now. I'll be updating `BaseAccount` in #6928 and `Tx` will be updated in a future PR. Aiming to get this wrapped up this week. Just want to give you a heads up @webmaster128 @ethanfrey.

[2020-08-17 16:16] aaronc opened #7074 "Key Management Meta-issue"
# Summary

The 3 key management modules that Regen Network worked on (fee grants, msg authorization and groups), oftentimes referred to as "subkeys" support, were postponed from the Stargate release due to time constraints. Some of this work has already been migrated to protobuf and is near completion. This meta-issue tracks their progress towards completion for the next release.

# Details

The d

[2020-08-17 16:52] marbar3778 commented on #7071
Does the protocgen script need to generate the grocery-gateway and the proto stubs? There is a pr to add swagger gen to it as well. I feel its getting a bit bloated.

Now contributors need to download 2+ more tools in order to work with proto..

[2020-08-17 16:53] alexanderbez commented on #7071
No idea? But it would be nice to have all proto-related generation happen in one go (which can be broken down into sub-targets).

Only if they're making proto changes.

[2020-08-17 16:53] alexanderbez commented on #7071
Idk, maybe this issue can be closed? Just pointing out the diff (which someone should look at).

[2020-08-17 16:55] marbar3778 commented on #7071
Every time i pull master and run the script i get changed files. Not sure if this can be fixed?

[2020-08-17 17:04] alexanderbez commented on #7071
Ohh that's not good. What kinds of diffs and to what files? Are they `*.gw.go` only?

[2020-08-17 17:10] marbar3778 commented on #7071
<img width="275" alt="Screen Shot 2020-08-17 at 7 08 27 PM" src="https://user-images.githubusercontent.com/24299864/90423590-0a08a180-e0bd-11ea-8ae8-1b64c5efa8ab.png">

The staking.pb.go is something I have noticed being changed. I ran it earlier and also observed changes. All the gw.go is removing a comment or two.

When running `make proto-gen` I get these errors as well:

[code]

[2020-08-17 17:11] anilCSE commented on #7071
Looks like mostly with `gw.go` files and one weird behaviour is with `staking.pb.go`. I don't see anything breaking but it's changing everytime.

[2020-08-17 17:38] alexanderbez commented on #7071
Yes, we're both on 3.11.x, marko is 3.12.x, I suppose we should upgrade to 3.12.x.

[2020-08-17 21:04] ethanfrey commented on #6886
Thanks for the heads up @aaronc

We still need a good way to figure out the Any registries on the client side.
We have the issue for Account now. We just check the BaseAccount type and if so, use that to decode manually.

In general, we need to runtime enforce which instances can validly be used in the Any. Or make Any really like TypeScript `any`.

I assume there is no proto reference to the Any

[2020-08-17 21:08] aaronc commented on #6886
@ethanfrey please see #6722 which was just merged.

[2020-08-17 21:12] ethanfrey commented on #6886
Thanks, I will add an issue to figure out how to use that.

[2020-08-17 21:15] fedekunze commented on #6961
Unrelated to the comment above, but I think we should drop the support for the legacy REST server and just use gRPC + gateway for REST-like queries.

[2020-08-18 05:37] murthyvitwit opened #7079 "Simid: cannot protobuf JSON encode unsupported type: *tx.builder"
## Summary of Bug
Running

```./simd tx bank send <mykey1> <mykey2> 1000stake --from <mykey1> --chain-id <chain-di> ```

I get error:

```Error: cannot protobuf JSON encode unsupported type: *tx.builder```

## Version

master

## Steps to Reproduce

./simd tx bank send <mykey1> <mykey2> 1000stake --from <mykey1> --chain-id <chain-id>
____

## For Admin Use

- [ ] Not duplicate issue
- [ ] Appropri

[2020-08-18 09:40] alessio commented on #7038
I'd propose to remove the feature in `master` and reintroduce it when we have a fix.
For what concerns the Launchpad Release Series, we must communicate this ASAP (and maybe even remove it)

[2020-08-18 10:20] odeke-em commented on #6852
Sorry for the late replies @ethanfrey and @aaronc!

The offending payment string is "«íC∆ù≈≠Âííp\u0026«∏Á∂∏N√X8i�£ùuq". But in retrospect, the thing might be that what produced that string is a fuzz mutation of the actual byte content directly, so perhaps we might be chasing an issue that can't be reproduced.

[2020-08-18 10:35] skdjango001 opened #7082 "ERROR: Error during handshake: Error on replay: App block height is higher than core"
Hi,
 Getting this error while starting the node

I[2020-08-18|10:00:01.731] Starting ABCI with Tendermint                module=main
ERROR: Error during handshake: Error on replay: App block height (5193179) is higher than core (5193076)

pl any one is there who got solution for this

[2020-08-18 11:01] colin-axner commented on #6961
I agree :+1:

[2020-08-18 11:13] odeke-em commented on #6852
The offending bytes have a control character `^X` and here is something that can point towards the fault in it: a use of "%q" to serialize strings for JSON. This playground link https://play.golang.org/p/EuWm_nXDSDk or inlined below
[code]

Shows where it errors, so we just need to audit JSON serializing code to ensure that we don't invoke `fmt.Sprintf("%q", str)` to JSON serialize strings, and if

[2020-08-18 13:11] alexanderbez commented on #7038
Fine by me -- feel free to remove entirely.

[2020-08-18 13:12] alexanderbez commented on #7082
Please use the PR template to specify versions, network, etc...as much info as you can provide.

[2020-08-18 13:24] anilCSE commented on #7079
Thanks @murthyvitwit for reporting this :+1:

[2020-08-18 13:25] amaurymartiny commented on #7071
W0817 19:09:17.479726   91564 services.go:38] No HttpRule found for method: ReflectionService.ListImplementations
W0817 19:09:19.848090   91669 services.go:38] No HttpRule found for method: Service.Simulate

I added gateway annotations for these service in this commit: https://github.com/cosmos/cosmos-sdk/pull/7035/commits/ad7ecf13c06e11ec7d1f7443ea4cc6516ea6e0b9

[2020-08-18 13:36] alpe commented on #7079
I can confirm this issue. I had the same error on OSX when upgrading wasmd to `bcd9675` today.
On alpine linux the error was: `The specified item could not be found in the keyring, exiting` which is more accurate.

[2020-08-18 13:55] aaronc commented on #7079
I'm not sure how this got missed by integration tests. TxConfig.TxJSONEncoder needs to be used instead

[2020-08-18 14:07] aaronc commented on #7079
All this stuff will get exposed at build time once #7054 is merged btw.

[2020-08-18 15:15] cwgoes commented on #6567
For now, let's abstract this `+1` in a helpfully named SDK function, then use it in the relayer, and avoid lots of `+1`s everywhere.

[2020-08-18 18:43] aaronc opened #7091 "x/auth & x/bank Improvements"
## Summary

While working with the SDK, I have noticed several areas where the `x/auth` and `x/bank` modules could be improved. Some good progress was made via ADR 004 which stores balances by an account/denom key pair and via the merging of `x/bank` and `x/supply`. This meta-issue tracks several additional proposed improvements.

Each potential area for improvement will receive a short descriptio

[2020-08-18 18:45] aaronc opened #7092 "Index supply by denom"
*This is linked to meta-issue #7091.*

## Summary

Store supply in `x/bank` on a per denom basis rather than as a single blob.

Items:
- [x] Implemenation
- [ ] State migration

### Glossary

* denom -- unique token identifier.

## Problem Definition

Since ADR 004, balances are stored by address _and_ denom allowing the bank module to scale to a large number of denoms. However, supply is still st

[2020-08-18 18:53] aaronc opened #7093 "Do Proper Ocaps for x/bank (or not): A Case Study"
*This issue was created in preparation for future releases after Stargate. Please feel free to ignore until Stargate is done.*

*This is linked to meta-issue #7091.*

## Summary

Object capabilities (Ocaps) was touted as one of the early design goals of the Cosmos module system. This issue takes the current `x/bank` design as an example of a module which doesn’t implement Ocaps, but tries to (a li

[2020-08-18 19:10] aaronc opened #7096 "Store Improvements"
## Summary

This meta-issue summarizes various proposed improvements related to store management that have been discussed internally on our team and with other members of the community.

## Details

### Schema Module

See #7097

### Synchronize state to an external database

See #7099

### ORM/Table Store Module

See #7098

### What to do about IAVL?

See #7100

### Multistore improvements or rede

[2020-08-18 19:11] aaronc opened #7097 "Schema Descriptors"
*This is linked to meta-issue #7096.*

## Summary
This proposes a new `x/schema` module for reflecting module kv-store schemas to clients

## Problem Definition
Currently modules store state in their kv-store using various prefixed store keys. In order for a client to understand what the layout of a module kv-store is, clients would need to directly inspect keeper code to figure out all of the pre

[2020-08-18 19:11] aaronc opened #7098 "Table Store (aka ORM) Package"
*This is linked to meta-issue #7096.*

## Summary

This issue proposes a new table-store package which allows for automatic secondary index creation. The code for this already exists here: https://github.com/regen-network/cosmos-modules/tree/master/incubator/orm but it is not part of the SDK.

## Problem Definition

Oftentimes modules want to create secondary indexes for data being stored. A good

[2020-08-18 19:21] aaronc opened #7099 "Synchronize state to an external database"
*This is linked to meta-issue #7096.*

## Summary

This issue discusses approaches to facilitating indexing of state (not transactions) to an external database. Transaction indexing is already covered by Tendermint, but we don't have a generic state syncing mechanism in the SDK.

## Problem Definition

Various projects would like to index chain state to an external database. Mature database softwa

[2020-08-18 19:32] aaronc opened #7100 "What to do about IAVL?"
*This issue was created in preparation for future releases after Stargate. Please feel free to ignore until Stargate is done.*

*This is linked to meta-issue #7096.*

## Summary

This issue discusses potential approaches to the ongoing maintenance or replacement of [IAVL](https://github.com/cosmos/iavl).

## Problem Description

It our understanding that IAVL has effectively become an orphaned pro

[2020-08-18 19:41] aaronc opened #7101 "Revamp Multi-store Functionality"
*This is linked to meta-issue #7096.*

# Summary

It was mentioned that the SDK's current multi-store is suboptimal. I believe because it uses several IAVL trees underneath. Can you share any more details @alexanderbez or @ethanfrey ?

[2020-08-18 20:51] #6024 closed

[2020-08-18 20:56] clevinson opened #7103 "Migrate BondStatus to protobuf definition"
When attempting to move BondStatus to a protobuf definition, there were a bunch of import cycles that came up around staking types existing in both the root `cosmos-sdk/types` pacakge, as well as `x/staking/types`. As a result, it was decided not to tackle this in the existing PR, but come back to it later.

_Originally posted by @clevinson in https://github.com/cosmos/cosmos-sdk/pull/7059#issueco

[2020-08-19 01:40] ebuchman commented on #6945
Realizing we arrived at roughly similar breakdown in discussing reorging the spec today.

Only difference in the spec discussion was splitting `core` into maybe `core` and `sdk` ... in the Go code, `core` would be the general purpose Go IBC implementation (ie. implementations of ics 2/3/4 that could be used by other non-SDK Go apps) and `sdk` would be the more sdk specific stuff (ports, keeper, et

[2020-08-19 02:34] clevinson commented on #6983
@aaronc Does `ParamSetPair.Value` need to be migrated to `codec.ProtoMarshaler` instead of `proto.Message`? It looks like ProtoMarshaler is the interface we are primarily using internally elsewhere.

Also, `codec.ProtoMarshaler` is necessary for when passing the protobuf message to `cdc.UnmarshalBinaryBare`

[2020-08-19 02:47] aaronc commented on #6983
We should be preferring `proto.Messge` generally.

[2020-08-19 04:46] clevinson commented on #6945
Yes, would be great to align with how we structure other proto files in the sdk. Though not 100% parity is required, as `ibc` is its own top level proto package.

In general the proto layout should not differ too much from the corresponding go source code layout, as its often the case that you will want generated code to be in similar go packages to their proto package names.

[2020-08-19 07:36] #6822 closed

[2020-08-19 09:29] colin-axner commented on #6945
Makes sense to me. Short term I don't think it'll be possible, at least when it comes to the notion of ports and capabilities since the connection and channel handshakes rely on this SDK specific implementation.

I think another issue related to this is IBC's reliance on Tendermint being the self client. I assume non SDK go code wanting to use IBC would likely do so because they don't want to use

[2020-08-19 13:23] alexanderbez commented on #7101
The main issues I see are:

1. The code is a mess.
2. Certain abstractions are either necessary or are over abstracted
3. Logical commits are not atomic

[2020-08-19 13:57] marbar3778 commented on #6197
ConsensusParams should be updated in Endblock via:
[code]

This is not implemented yet so I will reopen this issue.